[2017-09-26 10:10] harounb opened #571 "addMonths is coming up 1 hour short"
Version: ^1.28.5

I would expect
`addMonths(new Date('2017-03-01T00:00:00.000Z'), 3).toISOString();`
to equal
`'2017-04-01T00:00:00.000Z'`
Instead it's coming up as
`'2017-03-31T23:00:00.000Z'`

[2017-09-27 01:13] dashmug opened #572 "Typings's broken on latest Typescript (2.5.3)"
I am not sure why but something in v2.5.3 has broken compilation of my project.

`Could not find a declaration file for module 'date-fns/format'. '/path/to/my/project/node_modules/date-fns/format/index.js' implicitly has an 'any' type.`

I'm using `date-fns` like this

[code]

For now, I've reverted it back to Typescript v2.5.2 as it is working with no problems.

[2017-09-27 10:13] egorshulga commented on #572
I confirm the issue.
Date-fns version is 2.0.0-alpha.6.

[2017-09-27 10:41] larssn commented on #275
@pke package.json's have started pointing to non-minified versions of code because of webpack. Webpack does better analysis of non-minified code.

[2017-09-28 03:01] dashmug commented on #572
I can also confirm that it works if we import it using

[code]

[2017-09-29 11:10] luisbelloch commented on #572
TS 2.5.3 changes [here](https://github.com/Microsoft/TypeScript/milestone/55?closed=1). I cannot tell the change that broke the typings.

Works for me using Typescript 2.5.2 and date-fns 1.28.5

[2017-09-29 11:21] kossnocorp commented on #572
If someone could investigate the reason and help me to fix it, I will much appreciate it! ❤️  I'm not a TS user so it's hard to me dig into it.

[2017-09-29 11:22] kossnocorp commented on #572
@dashmug which version you have btw?

[2017-09-29 11:25] kossnocorp commented on #571
Thank you for reporting, I'll take a look!

[2017-09-29 11:25] kossnocorp commented on #571
Could you tell me what's your local time zone?

[2017-09-29 11:27] kossnocorp commented on #535
Could you please reinstall `date-fns` and reopen the issue if the problem is persisted?

[2017-09-29 11:27] #535 closed

[2017-09-29 13:48] harounb commented on #571
No problem.

My timezone is currently BST (UTC +1).

Should timezones affect the results if I'm comparing two UTC strings?

[2017-09-29 14:22] kossnocorp commented on #167
Finally, I've accomplished it: https://travis-ci.org/date-fns/date-fns/jobs/281290724

[2017-09-29 14:22] #167 closed

[2017-09-29 14:28] kossnocorp commented on #571
It may affect the result as date-fns (as well as JavaScript) converts dates to the local TZ. You can avoid it by doing a trick:

[code]

This way JS won't convert time zones and it will always product 1st of March regardless of the current time setup.

If that was the problem, please close the issue as a proper solution for it is coming with UTC release (no ETA at the _moment_): https://github.com

[2017-09-29 14:37] harounb commented on #571
Ah unfortunately in that case I think it may be DST related.
Just tried
`
addMonths(new Date('2017-03-01T00:00:00.000Z'.split('T')[0]), 1)
`
And the result is
`2017-03-31T23:00:00.000Z`

[2017-09-29 14:52] dashmug commented on #572
@kossnocorp
I'm using `date-fns v1.28.5` and `typescript v2.5.3`.

This looks like a bug with Typescript. Here's what I found so far...

If I comment out [lines 1128 to 1131 of typings.d.ts](https://github.com/date-fns/date-fns/blob/v1/typings.d.ts#L1128-L1131)

[code]

and move it into another file in my project (say `typings/date-fns.d.ts`),

[code]

it just works as usual.

Could it be that Typ

[2017-10-03 02:45] plantain-00 commented on #572
According to feedback from typescript maintainers:

And I tested it locally, it should work by creating `index.d.ts` file in `node_modules/date-fns/format/` with following code:

[code]

[2017-10-03 04:10] dashmug commented on #572
@kossnocorp
Here's my attempt to restructure the typings: #573

I'm only basing it on the `v1` branch.

Feedback is welcome.

[2017-10-05 09:57] harounb commented on #571
Just done some more testing on this.
Definitely seems daylight savings related.

I made a range of dates using each day and you can see where the timezone changes from the offset.
Working around this should be easy now. Just have to adjust the dates by the computed offset.

Anyone reading this make sure you don't adjust it by the **current** offset. Needs to be the computed one at that date.
[code

[2017-10-05 22:54] danstepanov commented on #412
@leshakoss How would this be done without using babel?

ie `const format = require('date-fns');` does not seem to work

I get the error `Cannot find module 'date-fns'`

[2017-10-08 22:17] chamini2 commented on #418
In my experience, this is not a time of day but an interval of time. https://en.wikipedia.org/wiki/ISO_8601?oldformat=true#Time_intervals

[2017-10-11 11:32] dashmug commented on #572
@kossnocorp I'm sorry I wasn't able to find time to continue this. I'll close this so someone else can continue.

[2017-10-11 11:35] kossnocorp commented on #572
@dashmug hey, I've just merged https://github.com/date-fns/date-fns/pull/573. That was a mistake? I'm a bit confused because you've closed the issue but not the PR. Can you tell me more about the current state and if I should rollback the PR.

[2017-10-11 11:38] dashmug commented on #572
@kossnocorp My bad. I was supposed to close the PR. It wasn't working and I currently don't have the time (in the near future) to continue it.

Please rollback the merge. My apologies for the confusion.

[2017-10-11 11:39] kossnocorp commented on #572
Ok, no worries! Thank you for your attempt to help!

[2017-10-11 11:41] kossnocorp commented on #572
If anyone wants to chime in and help to solve the issue, you're very welcome!

[2017-10-13 12:20] Mikeysax opened #576 "How to format the output of formatRelative?"
Currently, when using formatRelative, I'm getting expected results except when the `diff` is less than 6 days and it picks the 'other' token.
[code]
Once it does this, it gives me a date that looks like:
[code]
I tried going to https://date-fns.org/docs/Options like it says in the formatRelative code:
[code]
But, it only links to a page that says 'This page is not available for this version'.

Any

[2017-10-16 14:12] wmertens opened #579 "differenceInCalendarDays vs differenceInDays"
I don't understand what the difference is and the documentation doesn't clarify things. Could you explain, then I'll add it to the docs.

[2017-10-16 14:14] leshakoss commented on #579
Between 2017-01-01T23:59 and 2017-01-02T00:01 there is zero days, but one calendar day

[2017-10-16 14:17] wmertens commented on #579
Aha, so both functions will always give the same answer for if the time were to be left off?

[2017-10-16 14:22] leshakoss commented on #579
@wmertens yes, but right now internally `differenceInDays` is based on `differenceInCalendarDays` plus additional checks, so `calendar` one is slightly faster

[2017-10-16 14:24] leshakoss commented on #579
(but not really noticeably)

[2017-10-17 21:47] Zashy commented on #440
Not checking the type is fine and all, but returning false makes a heck of a lot more sense than exploding with an exception. Shouldn't an isValid check tell you a string isn't a date, not throw an error?

[code]

[2017-10-18 03:30] yuu2lee4 opened #581 "failed to fetch version list"
docs failed to fetch version list

[2017-10-18 14:03] duailibe opened #582 "pt-BR locale"
Letting people know I intend to start working on it

[2017-10-18 14:08] duailibe commented on #582
Nevermind, the PT locale should be enough!

[2017-10-18 14:12] leshakoss commented on #582
@duailibe pt locale is not ready for date-fns v2 yet though ;-)
In the case you would change your mind, [here](https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md#adding-a-new-locale) is the v2 locale creation guide; and [here](https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md#creating-a-locale-with-the-same-language-as-another-locale) is the

[2017-10-18 14:14] duailibe commented on #582
Cool! I'll start working on it

[2017-10-18 21:49] tonyhb opened #583 "`isToday` doesn't respect timezones."
It's currently `"2017-10-18T21:48:05.137Z"`, and I'm in GMT offset -7 (the Los Angeles timezone).

`dateFns.isToday(new Date("2017-10-18"))` returns `false`.  It's definitely today, though.

Similarly, `dateFns.startOfDay(new Date("2017-10-18"));` in my timezone returns `"2017-10-17T07:00:00.000Z"`

[code]

[2017-10-18 21:56] tonyhb commented on #583
Oops. Accidentally closed

[2017-10-18 21:58] tonyhb commented on #583
Currently hacking around this by comparing `toDateString()` strings

[2017-10-18 22:30] tonyhb commented on #583
Ah I see that in issue https://github.com/date-fns/date-fns/issues/556 we have to set timezone deltas manually.

[2017-10-19 09:29] serle opened #584 "Feature Request: Business Days functionality"
Is there any plan to support business day add/subtract calculate from a start and end date. This would need to exclude non-workdays e.g. public holidays and weekdays array.

[2017-10-19 09:52] ahmedelgabri opened #585 "Format bug? Same date, same format tokens, different outputs (even Invalid Date)"
This is from the console from website itself, I had a problem formatting `13/10/2017` in my app so I went to test & I found this. Actually I was expecting the first two to work & _maybe_ the last two to not work but this is surprising.

![screen shot 2017-10-19 at 11 50 29](https://user-images.githubusercontent.com/63876/31765186-dfc5777c-b4c3-11e7-96dc-aea39b3df7ab.png)

[2017-10-19 09:59] leshakoss commented on #585
@ahmedelgabri date arguments are converted to an instance of Date via [`parse`](https://date-fns.org/v1.29.0/docs/parse) function in date-fns v1.x.x and via [`toDate`](https://date-fns.org/v2.0.0-alpha.7/docs/toDate) in the upcoming date-fns v2.x.x. Both these functions are guaranteed to convert string only in ISO 8601 format (i.e. `'2017-10-13'`). Other formats are generally not supported (but oc

[2017-10-19 10:02] leshakoss commented on #585
@ahmedelgabri could you clarify your use-case, please?

[2017-10-19 10:06] ahmedelgabri commented on #585
I have a input fields that their value is set from the backend using one of these formats, on the front-end I have to change the format to work with a datepicker that needs to work on this format. So dynamically when JS kicks it should take this format, convert it to the format that the datepicker accepts & her is where I was trying to use `format(str, formatStr)`

[2017-10-19 10:23] leshakoss commented on #585
@ahmedelgabri date-fns v2 alpha versions have function [`parse`](https://date-fns.org/v2.0.0-alpha.7/docs/parse) which could help you with parsing your dates, but using it right now is not recommended as its API is ought to change.

I would recommend to do it this way:
[code]

Then to format the parsed date:
[code]

I'm sorry that we don't have a solution using our functions right now

[2017-10-19 10:25] ahmedelgabri commented on #585
Thanks @leshakoss! And no need to apologize you guys are doing a great job 👍

[2017-10-19 10:44] kossnocorp commented on #585
@ahmedelgabri I'm closing it as there is nothing actionable. Ping us anytime if you have any questions.

[2017-10-19 10:44] #585 closed

[2017-10-19 10:47] kossnocorp commented on #584
@serle it sounds like a great idea, but I can't promise that we'll work on that in the near future. If you want to help with that, I'll be glad to help you with the guidance.

[2017-10-19 10:51] kossnocorp commented on #583
@tonyhb yeah, please use the approach described in #556. In the future, we'll have set of UTC functions that provide better solution for the problem: https://github.com/date-fns/date-fns/issues/376

I'm closing the issue as there is nothing actionable for us. Feel free to ping us anytime 🙌

[2017-10-19 10:51] #583 closed

[2017-10-19 10:52] kossnocorp commented on #582
👌 😄 👍

[2017-10-19 10:54] kossnocorp commented on #581
As I see it's temporal problem caused by the Chinese firewall. If the problem persists I would glad to get some feedback how we can improve the situation for Chinese users. FIY we use Firebase.

[2017-10-19 10:54] #581 closed

[2017-10-19 11:02] kossnocorp commented on #579
I'm closing the issue as there is nothing actionable.

@wmertens thank you for the docs fix.

[2017-10-19 11:02] #579 closed

[2017-10-19 11:09] kossnocorp commented on #576
The doc is here: https://date-fns.org/v2.0.0-alpha.7/docs/Options. Do you remember how did you get to the page? You found a bug :-)

Regarding the desired option, it doesn't exist. I'm not sure if this should be included into the library as it looks like an app-specific requirement. I would recommend you to create a local function based on `formatRelative`, `differenceInDays` and `format`.

[2017-10-19 11:09] #576 closed

[2017-10-19 12:04] serle commented on #584
@kossnocorp I'm a bit bogged down at the moment, but I have implemented an algorithm on top of the moment.js library, which I'm happy to contribute. I found the standard approach of looping through each day to do a business day test is way too slow for extended durations. i.e.

1) calculate the number of business days between date1 and date2.
2) add.subtract N business days to dateY

so it require

[2017-10-19 12:04] yuu2lee4 commented on #581
yeah,it is really a Chinese firewall problem.I want cry.

[2017-10-19 12:08] kossnocorp commented on #581
@yuu2lee4 if the site isn't available, you still can access the docs via the source code. See an example: https://github.com/date-fns/date-fns/blob/master/src/addDays/index.js. Since the docs on the site are generated from those JSDoc annotations it's basically the same docs so you won't miss anything.

[2017-10-19 12:20] yuu2lee4 commented on #581
ok,it can be a temp way.

[2017-10-19 13:28] hlehmann commented on #376
Could it be possible to have conversion functions like localeToUtc and utcToLocale, keeping the same hour but regarding the new timezone.

It would allow:
- to use date-fns until functions are ready
- be useful for example when components (like a date picker) which it's internal opérations use locale hours but we want to have it in utc.

[2017-10-20 10:06] badre429 opened #589 "Arabic Algerian language support( [ar-DZ] locale)"
add support for Arabic Algerian language support( [ar-DZ] locale)
#588

[2017-10-20 10:09] badre429 commented on #589
#588

[2017-10-21 08:17] lazarljubenovic commented on #242
The real solution to this is to use ES6 modules.

[2017-10-22 18:42] jish opened #592 "Tests just hang and never quit"
When running the test suite using `yarn run test` Chrome opens, the test suite runs, and then the test suite and Chrome never close.

[2017-10-22 18:52] jish commented on #592
Upon further inspection this looks like a development test server, rather than a one-off test runner. Maybe we could document the difference between the two and how and when to use each one.

[2017-10-23 14:25] Hotell commented on #572
temporary fix is easy enough:

just use type path mapping to your custom override of `format`

[code]

[code]

[code]

[2017-10-24 10:16] tsvetann opened #594 "getWeeksInMonth"
Would you consider adding something like weeksInMonth function to get the number of weeks in a given month? It would make building calendars easier :)

[2017-10-24 16:44] davidmh commented on #594
Would something like this work for you?

[code]

[2017-10-25 07:44] tsvetann commented on #594
Hey @davidmh thx for the quick reply. `differenceInCalendarWeeks` would be something very very close to what I need. However, for October 2017 it returns 5 weeks and October actually spans across 6 weeks. Please see attachment:

<img width="121" alt="screen shot 2017-10-25 at 09 38 03" src="https://user-images.githubusercontent.com/2565891/31986412-b04d540c-b968-11e7-9f52-734e4334e1bf.png">

Any i

[2017-10-25 09:39] leshakoss commented on #594
@tsvetann it's actually should be the difference in weeks + 1. And also last day of the same month instead of the first of the next month (makes the difference for April 2017):

[code]

[2017-10-25 19:44] d3viant0ne commented on #275
@pke - I say this as I am in the middle of converting from Moment to Date-fns.

If you, or anyone else is stuck with moment while you convert & the bundle bloat is grinding your OCD like it did mine ... you can use a bit of Webpack magic to lean it out.

Given a great deal of the bloat comes from not being able to tree shake all the locales ( no, you still can't do that effectively ) you can filte

[2017-10-25 20:00] pke commented on #275
Thanks @d3viant0ne I was already filtering out all locales, but momenjs is still way bigger than date-fns.
My refactoring is almost done, thanks for your input.
Personally I do not see a future for momentjs. Good bye and thank you for the fish.

[2017-10-25 20:19] d3viant0ne commented on #275
Yeah, I agree it's kind of putting a bandaid on a bullet hole  ¯\_(ツ)_/¯ but I figured it was worth mentioning.

It comes in quite a lot in webpack / webpack-contrib issues & S.O more frequently than I would have ever expected.

[2017-11-01 22:51] moos commented on #464
Standard text can be formatted using Intl.DateTimeFormat, but what about the relative strings, "less than a minute", etc. ?

[2017-11-02 13:20] newyankeecodeshop commented on #464
@moos There is a library `Intl.RelativeFormat` that provides functionality for that:
https://github.com/yahoo/intl-relativeformat
I think it's also an implementation of an ECMAScript proposal.

[2017-11-03 00:36] maraisr commented on #540
I'd be happy to take this on - but need some context?

Did you want something like a `eachDay` function that returns.... what?

cc @brigand  @kossnocorp

[2017-11-03 10:25] plantain-00 commented on #572
Is there someone that can review #598 and #599 ? This issue need to be fixed.

[2017-11-05 18:42] KuznetsovIlya opened #601 "Add isFirstWeekInMonth helper"
We are using 'date-fns' lib in our app and found helper like this to be useful for use-cases like when you want to add specific styles to first week-item in month in week-scale diagram . #600

[2017-11-05 18:53] leshakoss commented on #601
Wouldn't function like `getWeekOfMonth` be usable in more use-cases?

While I agree that your use-case is valid, I don't like the idea of having `isFirstXOfY` and `isLastXOfY` for any combination of two units of time and would prefer `getXOfY` to be used instead as it is more flexible (so `getXOfY(date) === 1` instead of `isFirst...`; and `getXOfY(date) === getXInY(date)` instead of `isLast...`)

[2017-11-05 18:58] KuznetsovIlya commented on #601
Well, yes, it's make sense) thanks for reply, I'll try it

[2017-11-06 03:24] yuu2lee4 commented on #581
now,I can open https://firebase.google.com, but still cant fetch version list.

[2017-11-07 02:25] mfarhadpur opened #603 "Persian (Iran) language support"
I'd like to add this locale (fa-IR).

[2017-11-09 23:04] Zyten commented on #335
Hi! I'd like to claim this issue. I intend to base it on the Indonesian locale as suggested.

[2017-11-10 00:56] jethrolarson commented on #180
My usecase is I have users around the USA who work for websites that I manage. The users schedule content to the websites. The websites are localized and so the scheduled time should be specified based on the website rather than the content creator's local timezone. This means that I want to be able to display and edit the time in a specific timezone (ideally in an easy to setup way).

[2017-11-10 06:52] adamzhu-xs opened #604 "not able to open document page"
Hi Guys,

I want switch from momentjs to date-fns. Really like the lodash concept.
But the document site is not loading. Pls help fix it.
It might be a small issue but really scare people away.

https://date-fns.org/docs/Getting-Started

=== Failed to fetch version list===

[2017-11-10 08:17] KingMario commented on #604
Maybe it's blocked by GFW? You may try to find a proxy yourself.

[2017-11-10 23:30] abritinthebay commented on #376
Question: does this feature have a suggested test rig around it? If so it should be pretty simple to produce the *base* functionality and then work on the exception (ie - mostly DST) handling.

[2017-11-11 01:06] adamzhu-xs commented on #604
I am at Singapore so it’s not Gfw issue. It’s working when I try from home. Might be blocked by company proxy. I will try next Monday again and update.

[2017-11-11 17:54] saeedjalali1 commented on #603
+1

[2017-11-12 01:57] Hongbo-Miao opened #607 "How to customize formatRelative?"
Originally asked on [Stack Overflow](https://stackoverflow.com/questions/47244216/how-to-customize-date-fnss-formatrelative).

___

In moment, with [calendar](https://momentjs.com/docs/#/displaying/calendar-time/), I can customize how to show the time like below

    moment(dateTime).calendar(null, {
        sameDay: '[Today]',
        nextDay: '[Tomorrow]',
        nextWeek: 'dddd',
        lastD

[2017-11-13 02:39] adamzhu-xs commented on #604
My company proxy blocked the firebase.json call. Close this.

[2017-11-13 02:39] #604 closed

[2017-11-13 10:58] DanielYKPan opened #608 "Is it this library still active?"
Just want to know if the library still being maintained. I have't heard any new version being updated for a  while.

[2017-11-14 13:15] kossnocorp commented on #608
Yes, it is. Although the project isn't backed by any company and I'm working on that when I have free time and energy. So don't expect things to move rapidly. If you want to see development move faster, talk to your company and ask to sponsor us.

[2017-11-14 13:15] #608 closed

[2017-11-14 14:22] graingert opened #609 "Add constants for max and min dates"
[code]

[2017-11-15 11:56] leshakoss opened #610 "Rename ISOYear functions to ISOWeekYear"
For some reasons, I can't see the changes of https://github.com/date-fns/date-fns/pull/490 in the master branch. What happened here?

We need to bring them back and also check if some changes have been lost similarly

[2017-11-16 06:16] vkbansal opened #612 "[TS] Make type definitions for Locale more specific"
Right now, the type definitions for `Locale` are very generic and almost everything is `Function`. https://github.com/date-fns/date-fns/blob/master/typings.d.ts#L44

Can it be updated like
[code]

I would like to help with this.

[2017-11-16 08:28] leshakoss commented on #612
@vkbansal what do you mean? These values are functions right now

[2017-11-16 08:54] vkbansal commented on #612
Yes these are functions but they do not define argument types and return type of the function.

For Example, `weekdays` and `months` are functions that return an array of strings, but right now they are defined as `Function`s which is not very helpful when using TypeScript.

[code]
As you can see below, upon inspection it shows `months()` as `Function`:
<img width="493" alt="screen shot 2017-11-16

[2017-11-16 08:58] leshakoss commented on #612
Oh alright, I get it. Yes, it would be useful :-) The typings are generated from this file: https://github.com/date-fns/date-fns/blob/master/docs/Locale.js by this script: https://github.com/date-fns/date-fns/blob/master/scripts/build/typings.js

Beware: it certainly needs some refactoring 🙃 Also I am not really sure that [JSDoc](http://usejsdoc.org) supports verbose function signatures

[2017-11-16 09:07] leshakoss commented on #612
Oh, typing are actually generated by two scripts. There is how you do it:
[code]
It also could be quite slow

[2017-11-16 09:08] vkbansal commented on #612
Cool I'll take a look.

[2017-11-16 09:11] vkbansal commented on #612
I think this can be used http://usejsdoc.org/tags-callback.html

[2017-11-17 08:23] leshakoss opened #614 "Fix CONTRIBUTING.md"
- Note that you should use yarn for the development
- Merge with docs/contributionGuide.md
- Note how to run tests (i.e. `yarn test` for watching changes and `yarn test -- --single-run` for a single run)

[2017-11-17 09:54] leshakoss commented on #456
@whitneyland date-fns is supposed to be based on pure functions so I have to drop "will not implement" on this issue. This is how you do it if you really wish to use global variables:
v1: https://github.com/date-fns/date-fns/blob/v1/docs/i18n.md#usage
v2: https://github.com/date-fns/date-fns/blob/master/docs/i18n.md#usage

[2017-11-17 09:54] #456 closed

[2017-11-17 13:17] #594 closed

[2017-11-18 12:26] torbatian commented on #603
+1

[2017-11-18 12:42] jahangirahmad commented on #603
+1

[2017-11-18 22:05] whitneyland commented on #456
Ok cool, thanks for listening and the suggestions.

[2017-11-20 00:13] ryami333 opened #619 "Feature request - timezone-aware formatting"
Hi there. I'd like to request an additional (optional) configuration option to be added the `format` API, named `timezone`, for rendering UTC dates in arbitrary timezones.

For example:

[code]

`moment-timezone` is the only library I have found which can actually achieve this elegantly, but it's an opt-in all-or-nothing library which is not built to be tree-shaken, so it's approximately 300kb! Id

[2017-11-21 04:36] longgt opened #620 "ja-JP locale weekdayValues: short and narrow should be same value"
**[Current behavior]**
**ja** locale source code
[code]

The result of short and narrow weekday is the following:
short (YYYY/MM/DD (ddd)): 2017/11/21 (火曜)
narrow (YYYY/MM/DD (dd)): 2017/11/21 (火)

**[Expected behavior]**
short (YYYY/MM/DD (ddd)): 2017/11/21 (火)
narrow (YYYY/MM/DD (dd)): 2017/11/21 (火)

It should be same in case of short in comparing with **momentjs** or **Intl**.
I've created a p

[2017-11-21 11:03] #610 closed

[2017-11-21 11:04] #544 closed

[2017-11-21 12:17] 6pm opened #623 "[Bug] strange behavior differenceInMinutes method"
Code:
`setInterval(() ={`
`   const diff = differenceInMinutes(endTime, setSeconds(new Date(), 0));`
`console.log(diff + ' - ', endTime, setSeconds(new Date(), 0))`
`}, 5000)`
Sometimes difference is wrong. Result from console:
http://dl4.joxi.net/drive/2017/11/21/0019/1082/1279034/34/9454191aa8.jpg

[2017-11-21 12:38] #601 closed

[2017-11-22 21:33] benmccann commented on #479
The Moment team recently shipped a new library called [Luxon](http://moment.github.io/luxon/), which uses the Intl.DateTimeFormat APIs to provide time zone support by ripping the time zone data out of the strings generated by this API. Perhaps you could borrow [the code](https://github.com/moment/luxon/blob/master/src/zones/IANAZone.js) (it's MIT licensed) to remove the need for [tzdata-fns](https

[2017-11-22 21:43] Zashy opened #626 "Remove exception from `isValid` (this again)"
As per comments on #389 I get the argument, but still returning false makes a heck of a lot more sense than exploding with an exception. Shouldn't an isValid check tell you a string isn't a date, not throw an error?

[code]

[2017-11-22 21:49] leshakoss commented on #626
@Zashy did you link to the wrong thread? There is nothing about `isValid` there

Right now in v2 alpha `isValid` doesn't throw an exception for non-dates. Instead it checks if the argument is convertable to date by `toDate`

[2017-11-22 21:57] Zashy commented on #626
Oh sorry, I thought I'd skip a step check out #440 for the full path. And that sounds good then. Didn't know about that.

[2017-11-22 23:00] tuananh opened #627 "[question] about fp in v2 alpha 7"
[code]

however, i got `TypeError: undefined is not a function` at `.map(toUpper)`. Removing that, it works.

Any idea what i did wrong here?

Thank you in advance.

[2017-11-22 23:02] leshakoss commented on #627
@tuananh have you imported `toUpper` from lodash or defined in elsewhere?

[2017-11-22 23:49] tuananh commented on #627
Ah, because i copy the example from the homepage and `toUpper` is import from `date-fns`

[2017-11-23 08:40] leshakoss commented on #627
@tuananh I am moving this issue to date-fns.org repo: https://github.com/date-fns/date-fns.org/issues/108

[2017-11-23 08:40] #627 closed

[2017-11-23 09:28] kt-12 opened #629 "Greetings API with I18n language support"
It has been while I am searching for a way to greet my client (Good Morning, Good Evening etc )  based on their system timing and the language of the site they are viewing.

So,
* I can pass in the language code and the function will return me the greeting text based on the system time.
* I can pass in the language code and time ant the function will return a greeting text.

[2017-11-27 03:39] ryami333 commented on #619
A penny for your thoughts @kossnocorp and @leshakoss? Is this a feature that you would seriously consider if I was to create a PR?

[2017-11-27 10:46] leshakoss commented on #619
@ryami333 that's one hell of a feature, really 🙃 There is a plan to introduce timezones to all functions: https://github.com/date-fns/date-fns/issues/180 Could you please describe your idea of implementation?

[2017-11-27 14:25] #626 closed

[2017-11-27 19:07] altinselimi commented on #489
So there is no workaround for this yet ?

[2017-11-27 23:22] moos commented on #232
CDN package would be really useful for quick testing/prototype in codepen or jsfiddle.

[cdnjs](https://cdnjs.com/libraries/date-fns/2.0.0-alpha0) is at v2-alpha0, and [unpkg](https://unpkg.com/date-fns@2.0.0-alpha.7/) has no bundle at all.

[2017-11-28 00:06] moos commented on #548
Since modern browsers support most locales via `Intl`, why not fallback to it, and use local locales only for what's missing (e.g, relative dates)?

[2017-11-28 01:35] moos opened #635 "Q: Is there a v2 release date?"
Building a new project and would like to start on v2 -- Is there an expected release date?

[2017-11-28 20:38] Haraldson opened #636 "formatRelative yields Uncaught TypeError: Object(...) is not a function"
[code]

Not sure what is going on here, if I need a polyfill or if it’s a real bug – all I know is that the crash goes away if I remove the call to `formatRelative` from my code. Any help appreciated!

[2017-11-29 09:01] Haraldson commented on #636
Was sure I was at a 2.0.0-alpha.x release, but Webpack didn’t agree, and I didn’t think to restart it. Disregard this!

[2017-11-29 09:01] #636 closed

[2017-11-29 17:57] gaim281 opened #637 "XXX language support"
hello, is the datepicker support rtl languages?
hebrew etc...

[2017-11-30 12:24] DominicBoettger opened #638 "Get localized time"
Hello,

how can i get the localized time format from a date?
In germany we use 13:23 and the en format would be 1:23 pm.

How can i output my date like this?

HH:mm will work for the german date but not for the english. In moment there is LT for the localized version.

Thanks for your help
Dominic

[2017-11-30 14:33] Lakston commented on #638
In date-fns v2.0.0 (alpha) you can use localised formats just like moment, see [here](https://date-fns.org/v2.0.0-alpha.7/docs/format), so you can use formats like 'LT'

[2017-11-30 15:02] DominicBoettger commented on #638
Thank you. Upgrading solved my issue.

[2017-11-30 15:02] #638 closed

[2017-11-30 20:51] moos commented on #635
Already asked in #527 - but the question remains!

[2017-11-30 21:24] mjomble commented on #527
Seems like #537 got resolved. Are there other issues blocking the release of 2.0?

[2017-11-30 21:43] leshakoss commented on #527
@mjomble mostly https://github.com/date-fns/date-fns/issues/520. I am working on it (slowly)

[2017-12-04 19:16] corydeppen commented on #572
Looks like both have been merged. Can you give an idea when a new release will be available?

[2017-12-04 20:46] robodude commented on #229
I'd be interested in this sort of feature. It'll be interesting to implement and keep the api clean.

I'd wan't something with the flexibility to control how things render. A common use case for me is putting these 'distances' in a table column, so I'd like for them to look nice.

[code]

[2017-12-06 11:02] jeffijoe opened #640 "Update side-effects flag"
From what I can tell, the flag is now `sideEffects` instead of `side-effects`. 😄

https://github.com/webpack/webpack/tree/next/examples/side-effects

[2017-12-06 15:35] EdwardSalter commented on #548
I was going to suggest the exact same thing.
This is how data is generated for the [react-intl](https://github.com/yahoo/react-intl) library.

A script could be written similar to [formatjs-extract-cldr-data](https://github.com/yahoo/formatjs-extract-cldr-data) that would allow all locales (and sub-locales) to be generated with no human interaction.

[2017-12-07 09:03] lili21 commented on #180
love to have this feature.

[2017-12-07 14:48] jdriesen commented on #619
That would be REALLY great !

Grtz,
Johnny (ex-moment-user)

[2017-12-08 03:28] denistrofimov commented on #232
+1

[2017-12-10 00:03] saintplay opened #642 "Feature request - inclusive option for areIntervalsOverlapping"
Like moment,js it is necessary in some cases evaluating overlapping inclusively

[code]

[2017-12-10 09:24] gblok opened #644 "How get array short name weekdays?"
// for building calendar header
analog moment.weekdaysShort() ?

[2017-12-13 08:29] Morkowski commented on #642
👍

[2017-12-13 13:45] lgraubner commented on #644
Not as concise as in moment js but this should work:

[code]

[2017-12-13 13:53] motleydev commented on #644
at least the programmatic way opens up hooks for the localization.

[2017-12-13 19:27] gblok commented on #644
[code]
How call ```buildLocalizeArrayFn``` with another  format  argument short ||  narrow?
Or how get ```weekdayValues```  from localization?

[2017-12-13 19:46] gblok commented on #644
**i get it already**
[code]
snx

[2017-12-13 19:46] #644 closed

[2017-12-14 01:02] iarna commented on #180
My use case is:

Server-side consumption of dates from different timezones, sometimes with timezone data embedded in the date string, sometimes not, where I want to store all of those dates in UTC. (I actually _leave_ them in UTC on output, due to my output being _static_ and my userbase being global.)

[2017-12-14 10:15] machour commented on #275
Another important thing to note is the differences when it comes to compute a "time ago".
`distanceInWordsStrict()` from date-fns is really different from moment.js `fromNow()`

date-fns seems to always report a moment lesser or equal to what moment.js would have outputted (3 days instead of 4, 1 minute instead of 2, etc).

Working on a Github client, `moment.js` was giving the same approximation

[2017-12-15 09:37] havenchyk commented on #572
@kossnocorp @leshakoss we need fixed typings 😄 could you please make a release?

[2017-12-20 06:51] arunprakashpj commented on #489
@rauschma : Parsing the date, really fixed your issue?

[2017-12-22 04:03] sparcut opened #647 "What does the name stand for? (the acronym)"
I feel as if it's right in front of me, but after rummaging through some issues and the official site I can't seem to find it.

So, purely out of curiosity, what does the `fns` stand for in the title?

---
**Edit**
Just a guess, `functions`?

[2017-12-22 08:56] leshakoss commented on #647
Yep.

Also, people tend to pronounce `date-fns` as `date functions`, e.g.: https://youtu.be/aVuor-VAWTI?t=925 (I usually just say date-F-N-S)

[2017-12-22 11:18] #647 closed

[2017-12-23 12:59] alexcroox opened #649 "Feedback; parse is very verbose (2.0.0-alpha.7)"
Am I missing something or is this the correct way?

I want to output the relative date from now until a string in `y-m-d h:m:s` format, represented below as `this.props.when`

The solution that worked was
`formatRelative(new Date(), parse(this.props.when, this.props.when, this.props.when))`
because `parse` required I supply 3 arguments, even though I was supplying enough of a "high priority value"

[2017-12-25 13:56] evenfrost commented on #376
In case it helps anyone, while it's WIP, I'm using helper function to convert date to UTC and then use it with `date-fns`:
[code]

[2017-12-26 12:32] djmel commented on #488
@korzhyk Thanks you

Can you fix this почти => майже ?

[code]

Why locale named as "ua"? Maybe "uk" is more correct and ISO 639-1 compliant?

[2017-12-26 12:46] leshakoss commented on #488
Oh shoot, you're right

[2017-12-26 12:47] leshakoss opened #651 "Rename 'ua' to 'uk' locale"

[2017-12-26 13:12] korzhyk commented on #651
Hi Lesha! Renaming must be in opposite direction.

[2017-12-26 13:26] leshakoss commented on #651
@korzhyk oops, fixed

[2017-12-27 06:51] user3587412 commented on #649
`parse` has been renamed to [`toDate`](https://date-fns.org/v2.0.0-alpha.7/docs/toDate) since `v2.0.0`

[2017-12-27 22:15] SimonLuckenuik commented on #514
Is the final decision to leave it as is?

I do like the way you implemented the 2 digits parsing using the base date, but I should have a way to opt-out.

Personally, I think that if I use the YYYY in the format, only the 4 digits year should be valid, if I use YY in the format, only the 2 digits should be valid. Maybe consider adding optional parameters for example “{YY}YY” would mean that I want

[2017-12-28 15:51] alexcroox commented on #649
Thank you

[2017-12-28 15:51] #649 closed

[2017-12-29 01:51] justindra opened #653 "en-AU language support"
Add a language supporting english Australia as we set the standard as DD/MM/YYYY instead of the en-US way of MM/DD/YYYY

[2017-12-29 13:51] arunprakashpj opened #654 "startOfToday not returning the correct date"
startOfToday() method does not return correct date time. when I ran the script through nodejs it returns yesterdays date with 18.30 as time instead 00.00.00

[2017-12-29 13:51] leshakoss commented on #654
@arunprakashpj could you please elaborate? What does it return? Which time zone are you in?

[2017-12-29 13:52] arunprakashpj commented on #654
^^^

[2017-12-29 14:20] arunprakashpj commented on #654
when I ran the script through nodejs it returns yesterdays date with 18.30 as time instead 00.00.00(set ur time zone different and check)

[2017-12-31 16:05] benmccann commented on #479
It looks like this issue should be closed as a duplicate of https://github.com/date-fns/date-fns/issues/180

[2017-12-31 16:10] benmccann commented on #180
The Moment team recently shipped a new library called [Luxon](http://moment.github.io/luxon/), which uses the Intl.DateTimeFormat APIs to provide time zone support by ripping the time zone data out of the strings generated by this API. Perhaps you could borrow [the code](https://github.com/moment/luxon/blob/master/src/zones/IANAZone.js) (it's MIT licensed) to remove the need for [tzdata-fns](https

[2018-01-04 07:37] areijngoudt commented on #412
Is it possible to load the locale dynamically (based on the LOCALE_ID from Angular?

[2018-01-04 19:40] leshakoss opened #660 "Finalize API for v2.0.0-beta.1"
Hi there, date-fns community.

As you probably already know, we've been promising to release v2 for about a year now. Now it is time to set a completely arbitrary deadline to make final changes, which is February the 1st 2018. By then I hope to set a stable API, finish the code and release the beta. After that, date-fns will suffer no breaking changes until v3.

In this issue, I ask all of you to

[2018-01-04 19:45] leshakoss commented on #660
Also since as of now I am working on date-fns alone, I will update this comment with my progress so far, so you will know whether the development is advancing or is stuck again.

[2018-01-05 09:12] spaceemotion commented on #607
I "fixed" this by partially overwriting the locale:

[code]

[2018-01-05 10:18] jan-dh commented on #326
@hmontes I guess it's waiting until v2.0.0 gets released. Waitinf on this as well.

[2018-01-08 02:05] howtimeflies-io commented on #572
Hey guys, a quick fix is using the `require` statement:

```const fromat = require('date-fns/format/index')```

[2018-01-11 05:34] yrshaikh commented on #654
@arunprakashpj still have this problem? Can you also tell me the following, to make it more obvious -
1. What date and time you ran?
2. Expected time
3. And what did you get?

[2018-01-11 05:37] yrshaikh commented on #653
This might be useful - https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md#adding-a-new-locale and https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md#creating-a-locale-with-the-same-language-as-another-locale

[2018-01-12 14:59] mhadaily commented on #232
+1

[2018-01-13 21:57] mkg0 opened #662 "export short versions of days and months too"
Currently `local.localize` returns long name of the day/month. It would also be really nice to access to other formats as well.

And thanks for awesome works :)

[2018-01-14 15:38] Lahori-Jawan opened #663 "Complete reference to date"
I also work in python and their the date object is not only powerful but also easy. e.g.

`today = datetime.today()`
`datem = datetime(today.year, today.month, 1)`

so you see that we can get the month, year direct from the date object.
In date-fns, we can do somehting like this:

`getDate(date)`
`getMonth(date)`
`getYear(date)`

but Its kinf of verbose. So my question is do you have any helper me

[2018-01-15 03:37] seangenabe opened #664 "Typescript typings inconsistent with documentation"
In the TypeScript typings, files are exported using `export =`. This is inconsistent with the documentation which uses default exports (e.g. `import parse from 'date-fns/parse'`).

[2018-01-15 16:35] jsonberry commented on #489
FWIW, this was the solution I went with:
[code]

Thanks, @maggiepint! 👍 for sharing the blog post too 🎉

[2018-01-16 21:05] SteveALee opened #666 "Cannot resolvev"
`Module not found: Can't resolve 'date-fns/esm/locale' in ...'`

I'm following the i18n example in the docs

[code]

In a Create React App generated project (ie webpack)

The esm folder does not exist in node_modules and I can only find it as a `module` value in package.json

How should we import locales?

[2018-01-16 21:24] SteveALee commented on #666
`import en from 'date-fns/locale/en'` does seem to work

However, I expect the local to specify a default format (like Windows regional settings) but it doesn't so is of less use to me.

[2018-01-17 21:36] ManuSevenval opened #667 "Is there any kind of adapter to switch from moment to date-fns?"
Hi!

Is there any wrapper / adapter module for date-fns to easily switch from moment.js to date-fns?

I only need moment's date manipulation functions like `.add()`, `.`subtract()`, `startOf()`, `.endOff()` and the comparison functions.

It would be cool to have some kind of adapter module that I could import instead of moment, that uses date-fns under the hood and I would not have to change all o

[2018-01-18 16:20] jide opened #668 "Format returning Sunday instead of Monday"
If I convert the following timestamp to a day, it gives me "Sunday", although it should be "Monday": 1505154600

![capture d ecran 2018-01-18 a 17 15 54](https://user-images.githubusercontent.com/333073/35108293-77e2d3f0-fc73-11e7-9c6a-faa68395489a.png)

![capture d ecran 2018-01-18 a 17 18 37](https://user-images.githubusercontent.com/333073/35108368-a94c80a8-fc73-11e7-8aab-02bdcc3b8f50.png)

How

[2018-01-18 16:59] jide commented on #668
Okay, timestamp should me millesconds based. Using timestamp * 1000 this works fine. Sorry for the noise !

[2018-01-18 16:59] #668 closed

[2018-01-19 07:43] jsobell opened #669 "Date functions with specific time periods are unable to handle timezone offsets"
The forums are absolutely packed with people asking how to set timezones in Date() objects, but the Date class doesn't have a timezone as it's always stored int UTC.
So we know parsing is a pain as there's no concept of a timezone parameter (unless you convert to a string and append as `Z`,`+1100` or whatever).
So that's a pain, but there is a far more significant problem when it comes to function

[2018-01-23 13:51] Aaron-Sterling opened #670 "I built some Angular date-fns pipes"
Hi folks, wanted to drop a line to let you know I published a few Angular pipes to npm that I built with date-fns. I was working with Ionic, and the date-fns functions were more consistent across platforms than the default Angular date pipe.

Thank you for all your great work!

Link: https://www.npmjs.com/package/ng-datefns-pipes

[2018-01-23 18:32] slavaGanzin opened #671 "Distance functions error handling"
Hello, thanks for your work.

It's quite frustrating behaviour:
[code]

I expected an exception, that explains that i need two arguments.  And not just garbage.

[2018-01-24 12:23] havenchyk commented on #479
@kossnocorp @leshakoss please, close this issue in favor of #180

[2018-01-24 13:08] MerkulovDev opened #673 "Ukrainian language"
Can you please add ukrainian language to module of version 1 ? unfortunately ng2-datepicker doesn't works with yours alpha version(

[2018-01-24 15:19] #479 closed

[2018-01-25 11:30] helmbold commented on #275
A comparison with [Luxon](https://moment.github.io/luxon/) would be helpful, too.

Why not add the "need help" status to this issue, since the comparison page still doesn't exist since this issue was created in 2016?

[2018-01-27 00:44] jjant opened #674 "Spanish locale doesn't capitalize months using format"
English locale
[code]

Spanish locale
[code]

`format`'s behaviour should be consistent while using different locales. Additionally, it would be cool to be able to change the capitalization (or more generally, case) of dates.

[2018-01-27 02:57] benmccann commented on #376
@leshakoss I'm wondering if the best solution is to define a UTC version of each function? It looks to me like this will affect almost every function in the library. And when we support additional timezones besides the user's and UTC we will need a third function for taking the timezone information:

[code]

[code]

[code]

Perhaps we should add the timezone as a field in the `options` object inst

[2018-01-27 08:30] leshakoss commented on #674
That is intended:

https://www.unicode.org/cldr/charts/28/summary/en.html#1621
https://www.unicode.org/cldr/charts/28/summary/es.html#1664
https://meta.wikimedia.org/wiki/Capitalization_of_Wiktionary_pages#Capitalization_of_month_names

`format`'s current behaviour is not capitalize anything unless it is ungrammatical to do so. Users can change the capitalization and case themselves using [lodash]

[2018-01-27 08:30] #674 closed

[2018-01-27 13:23] leshakoss commented on #660
I need a few more weeks. New deadline is 2018-02-12

[2018-01-30 04:04] benmccann commented on #660
I'd love to get timezone support in. I've sent https://github.com/date-fns/date-fns/pull/676 as a proof of concept. As of right now, I believe it's backwards compatible, so wouldn't necessarily have to make it in before API freeze, but I'd love to get your feedback on it to confirm approach. In the case that you would like to see a different method of doing it that alters the API and are able to r

[2018-01-30 07:15] havenchyk commented on #673
@kossnocorp could you please release 1.28.6? It will close a couple of issues

[2018-01-30 16:03] leshakoss commented on #660
@benmccann timezones probably wouldn't be a breaking change, but if they would, releasing them as v3 sooner that we would expect is ok for me.

As for API that you suggested, I will take a closer look at it some time later, but I would probably vote against using Intl and would instead suggest some form of compatible with Intl cross-platform API (we aim to support browsers IE8+)

[2018-01-30 16:40] benmccann commented on #660
Thanks for the feedback. Unfortunately the only way to support timezones in IE8-10 is to include the tzdb like in https://github.com/date-fns/tzdata-fns which would massively increase the size of the library. I'm not sure if it's possible to do a conditional require where tzdata-fns is pulled in only for older browsers if user requested and the Intl approach is used the rest of the time?

Also, ac

[2018-01-30 16:58] leshakoss commented on #660
@benmccann the policy right now is to support IE8+ in v2.0.x and decide if we should drop the support maybe somewhere in v2.x.y. As I can see by MDN, Intl support is only partial even in modern browsers, so the answer to "when" is probably "not soon". I am sorry, but I can't give you more exact and/or more satisfying answer for now.

[2018-01-30 20:29] benmccann commented on #660
Thanks for sharing the details!

To be clear, we don't need support for all of Intl. Only [DateTimeFormat, which is well supported in IE11+](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat#Browser_compatibility)

[2018-01-30 20:45] benmccann commented on #660
Thanks for sharing the plans!

To be clear, we don't need support for all of `Intl`. Only [DateTimeFormat](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat#Browser_compatibility)

[2018-01-31 21:59] ddaza opened #678 "distanceInWordsStrict breaks for Feb"
I am running in a issue where the calculation of the date is failing.

[code]

[2018-01-31 22:11] AndersDJohnson commented on #678
It looks like there's a hard-coded assumption that a month has a certain number of minutes: https://github.com/date-fns/date-fns/blob/617a71ab877cf6903740e013ec3da982d6217cf9/src/distance_in_words_strict/index.js#L7.

[2018-02-01 07:57] leshakoss commented on #678
Good point.

If you're wondering why this is the case, we imitated Rails' [distance_of_time_in_words](https://apidock.com/rails/ActionView/Helpers/DateHelper/distance_of_time_in_words) algorithm which also used that assumption.

[2018-02-02 05:14] benmccann commented on #180
I've sent a pull request for this here: https://github.com/date-fns/date-fns/pull/676

[2018-02-02 05:14] benmccann commented on #376
I've send a pull request for full IANA timezone support (including UTC): https://github.com/date-fns/date-fns/pull/676

[2018-02-03 08:14] tremby opened #679 "Distinguish between 2018-01-01 and 2018-01"
A valid ISO date format is YYYY-MM, such as 2018-01. If I parse 2018-01 into date-fns and then run getDate on it, I get 1. I'd expect null.

Is this a bug, or is assuming the first of the month expected behaviour?

I'd like to be able to distinguish between dates where the day was given and dates which are only accurate to the month. Is that possible with date-fns?

[2018-02-03 08:25] leshakoss commented on #679
It is expected behaviour. Same for all partial ISO 8601 dates, e.g. if only the year is specified, date-fns will assume the start of the year.

It is not possible with date-fns and unfortunately will never be. date-fns uses plain JavaScript's [Date](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date) object, which is basically a wrapper over a single value (times

[2018-02-03 08:25] #679 closed

[2018-02-03 08:25] leshakoss commented on #679
It is expected behaviour. Same for all partial ISO 8601 dates, e.g. if only the year is specified, date-fns will assume the start of the year.

It is not possible with date-fns and unfortunately will never be. date-fns uses plain JavaScript's [Date](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date) object, which is basically a wrapper over a single value (times

[2018-02-04 14:48] stereobooster commented on #244
I'm having issue with using flow declarations of date-fns. Reproducible demo here https://github.com/stereobooster/flow-fp-test/tree/date-fns

As the matter of fact I have the same issue with `io-ts`.

[2018-02-07 03:26] benmccann opened #680 "Contributing instructions are broken"
The [contributing guide](https://github.com/date-fns/date-fns/blob/master/CONTRIBUTING.md) says:

However, when I run `npm install` I get:

So can we not actually use `npm` despite what the contributing instructions say?

[2018-02-07 08:19] leshakoss commented on #680
@benmccann that is correct. The contributing guide is outdated

[2018-02-07 08:52] #680 closed

[2018-02-08 06:00] jchv commented on #515
No input but just leaving a note here in case someone does: `parse` calls should become `toDate` calls. This had me stumped for a while.

[2018-02-08 08:50] oligot commented on #515
A bit late to the party, but I would definitely be interested by a complete codemod fro 1.x to 2.x...

[2018-02-10 00:23] Hongbo-Miao opened #683 "Math.ceil way in differenceInMinutes"
I am trying to build a countdown. However, I realized `differenceInMinutes` is similar to `Math.floor`.

[code]

It would be great to support  `Math.ceil` way too.

[2018-02-12 13:07] iamdubx opened #685 "formatDistance doesn't work with current npm version"
Why `formatDistance` is not working? You provide this code right in the front example

[code]
After I install following your installation guide - https://date-fns.org/docs/Getting-Started#installation
I can't use this function, because seems like it availiable only in `2.0` version, not current `1.29.0` npm version.

If so, why you doesn't provide clear instructions how to follow? What version do

[2018-02-12 13:11] leshakoss commented on #685
`formatDistance` is not available in v1.29.0. v2.0.0 was supposed to be released a long time ago, hence anachronistic example. I am currently working on it.

[2018-02-12 13:11] #685 closed

[2018-02-13 06:48] arxpoetica commented on #489
Just ran into this, and man—is it flummoxing. 😉 It would be nice to be able to specify a timezone with the format, but I realize that's a pretty substantial plugin.

What's "local" mean, by the way, in this context? I assume it means wherever someone is, in the world, if they're running the application, and it gets parsed/formatted, the output will be relative to their own set timezone? So if I ch

[2018-02-13 19:05] wesbos commented on #685
If anyone finds this before 2.0 is released, just `npm install date-fns@next`

[2018-02-13 19:59] flamsmark opened #687 "How to report security issues?"
If someone identifies a major security issue, is there a preferred way to report it to the project maintainers?

[2018-02-15 09:23] thepian opened #689 "isValid throws exceptions"
I'm curious what the use case is for an `isValid` function to throw an exception. I can't think of a single time that I needed such a function. I do however constantly need to check if a value is indeed a date and a valid one.

If for some reason people need the function to throw, could there be a non-throwing variant, or a parameter that makes the function return false instead. Or perhaps a globa

[2018-02-15 18:37] #582 closed

[2018-02-16 21:45] hanshenrik opened #692 "differenceInYears() returns -0 when comparing the same date"
[code]

Shouldn't the same year always be returned as a "positive" zero value?

Solvable by using `Math.abs(value)` if the value is 0. Perhaps a bigger discussion if _all_ values should be returned as positive numbers.

[2018-02-17 20:33] abhineet97 opened #693 "Hindi language support"
Resources for anybody who would like to do this:
* [Hindi Time and Date on Rocket Languages](https://www.rocketlanguages.com/hindi)
* [Google Input Tools online for typing Devanagari](https://www.google.co.in/inputtools/try/)
* [Hindi/Time on Wikibooks](https://en.wikibooks.org/w/index.php?title=Hindi/Time&oldid=3317635)

[2018-02-17 23:33] marnusw commented on #660
I've built on the addition in #676 by @benmccann and tried to figure out what an API / helper functions for time zone support might look like which would solve the use cases presented in #180. I have implemented most of the functionality to a proof of concept level and will finish that with tests etc. in the next few days. In the meantime I have completed the **[documentation](https://github.com/m

[2018-02-19 12:33] Hardiki opened #695 "Adding of Indian regional language(Hindi)"
Date-fns not available in Hindi.

[2018-02-21 20:36] tiltec commented on #695
Duplicate of #693

[2018-02-27 14:55] tom4dev commented on #666
I confirm, there is an error in examples available at https://date-fns.org/:

**Replace**

```import { fr } from 'date-fns/esm/locale'```

**By**
```import fr from 'date-fns/locale/fr';```

And it will works like a charm 👌

[2018-02-28 21:28] venicia opened #698 "When will v2.0 be available in NPM so I can access esm features?"
If it is there, how do I install it?  The 'yarn add date-fns' is pointing to v1.

[2018-03-01 18:47] scttcper commented on #698
`yarn add date-fns@next` gets the beta you can see published versions https://preview.npmjs.com/package/date-fns

[2018-03-01 21:23] ascott18 opened #699 "Change formatLong to use "A" or "a" instead of "aa""
For example, https://github.com/date-fns/date-fns/blob/master/src/locale/en-US/_lib/formatLong/index.js#L4

If it is not too late for a breaking change in 2.0, I think these formats should be changed to use AM/PM formats without dots. The reason being is that the current formats with "a.m."/"p.m." do not match up with standard formats provided by `Intl.DateTimeFormat`  (https://developer.mozilla.o

[2018-03-01 21:27] leshakoss commented on #699
@ascott18 we are changing it: https://github.com/date-fns/date-fns/pull/694/files#diff-bbcb561fe3f1ada0ca07b47cb490e9d4R531

[2018-03-01 21:50] ascott18 commented on #699
Oh, great! Any thoughts on when this might make it to `@next`? If not, that's fine too. In any case, thanks for the hard work on this project.

[2018-03-05 16:09] RShergold opened #701 "make functions avaliable on website console"
Websites like https://lodash.com/ http://underscorejs.org/ attach their library to the window object so if I want to play with a function I can open the web console and just start typing.

I've found this to be really useful.

Would it be possible to add this to https://date-fns.org/docs

[2018-03-06 20:36] Hongbo-Miao commented on #607
Hi @spaceemotion thanks for help, what is `assign` here from?

[2018-03-06 20:40] spaceemotion commented on #607
@Hongbo-Miao Hey, it's from `lodash/assign` :)

[2018-03-06 20:40] Hongbo-Miao commented on #607
@spaceemotion wow, that is fast, I will try now!

[2018-03-06 20:41] spaceemotion commented on #607
Alternatively the following should work as well:

[code]

[2018-03-06 20:48] Hongbo-Miao commented on #607
@spaceemotion wow, the way is so smart! Thank you sooooooo much!

[2018-03-06 20:48] #607 closed

[2018-03-06 20:48] spaceemotion commented on #607
glad to be of help :)

[2018-03-06 20:49] Hongbo-Miao commented on #607
@spaceemotion you can post answer here too https://stackoverflow.com/questions/47244216/how-to-customize-date-fnss-formatrelative

I will post there tomorrow if you don't have time.

Thanks again!

[2018-03-07 08:53] mawi12345 commented on #504
Any progress? We would need "SL" support and start the translation our selfs.

[2018-03-07 08:55] mawi12345 commented on #504
sorry found https://github.com/date-fns/date-fns/pull/505

[2018-03-07 09:20] mawi12345 opened #703 "BE (Belarusian) language support"
We are working an translation for v1.

[2018-03-07 09:21] mawi12345 opened #704 "SR (Serbian) language support"
We are working on v1 translations.

[2018-03-07 11:06] victornoel commented on #412
@areijngoudt for the record, I opened an [issue](https://github.com/joanllenas/ngx-date-fns/issues/135) at ngx-date-fns for supporting this use case.

Note that by nature, date-fns does not have a global locale setting like moment has for example, so you can't just "set" the locale once, you have to introduce some functions that wrap this (as explained in https://date-fns.org/docs/I18n).

[2018-03-08 15:36] Neoglyph commented on #504
Yeah, this was just written as an indicator that I was working on it to prevent clashes with others.

Will close this to prevent misunderstandings in the future.

[2018-03-08 15:36] #504 closed

[2018-03-09 14:40] robport commented on #549
+1 - is this likely to get implemented?

[2018-03-09 14:42] robport commented on #347
It seems like a slam dunk of a use case to know if your user has entered a date that exists vs one that doesn't.  I don't want to allow users to enter non-existent payment dates, for example.

[2018-03-10 23:11] marnusw commented on #660
The time zone functionality described in my last post is available in #707.

CC @sylvaindumont, @johnyluyte, @Ephys

[2018-03-10 23:13] marnusw commented on #180
PR #707 adds functionality which should cater to most of the use cases presented on this thread.

[2018-03-11 13:09] desigens commented on #703
If you need help, contact me.

[2018-03-12 20:44] thedamon commented on #464
I imagine this would allow the library to be significantly smaller if it can rely on the native functionality provided by the i18n APIs.
One thing that might throw things is that the native APIs support locales within languages ('en-gb', 'fr-ca' etc) which doesn't appear to be part of date-fns (but possibly should be)

[2018-03-13 09:42] cdiaz commented on #232
+1

[2018-03-15 09:59] Dorphern commented on #571
Any updates on this issue?

[2018-03-16 08:41] chenyinlong opened #708 "When I visit “ https://date-fns.org/docs/Getting-Started ” i get a "Failed to fetch version list""
访问 https://date-fns.org/docs/Getting-Started    时显示   Failed to fetch version list

When I visit “ https://date-fns.org/docs/Getting-Started  ” i  get a "Failed to fetch version list",i want to read the api, where is i need to go?

sure , i am in chaina

[2018-03-16 09:09] KingMario commented on #708
blocked by great fire wall

[2018-03-16 09:10] #708 closed

[2018-03-16 09:17] chenyinlong commented on #708
@KingMario can i get the api from github??? please

[2018-03-16 14:24] matthewdordal commented on #701
On https://date-fns.org/docs `dateFns` is available on window and has method attached to it.

![image](https://user-images.githubusercontent.com/5889417/37525764-b595b29e-28fb-11e8-8d02-35998480e575.png)

I hope this helps.

[2018-03-18 02:07] geirman opened #709 "isYesterday Not Working As Expected"
Right now, it's Saturday 3/17/2018 at 6:57pm in the pacific timezone PDT (UTC−07:00)

Using this code...
[code]

I get this output...
[code]

Couple things to note...

1. nowAsDate is GMT. I expected it to be PDT
2. looking at the data, I'd expect `isYesterday` to be `true`
3. The compareAsDate should really be PDT based. Unsure why it's GMT

Either my expectations are totally skewed or there's so

[2018-03-18 04:18] geirman commented on #709
nevermind, I'm dumb

[2018-03-18 04:18] #709 closed

[2018-03-20 20:35] jkrems commented on #660
Is this far enough along to re-enable some of the locales and/or add new ones? If so, I'd love to help out with that part.

[2018-03-20 21:22] favasconcelos opened #715 "Translation capitalized weekday"
Looking into some translation, found out that they does not follow the same patten, first letter capitalized, is there a reason for it?

See the examples below, the en-US version, the first letter is capitalized where in the pt/es they aren't.

**en-US**: https://github.com/date-fns/date-fns/blob/master/src/locale/en-US/_lib/localize/index.js#L29

**pt**: https://github.com/date-fns/date-fns/blob/

[2018-03-20 21:47] leshakoss commented on #715
@favasconcelos the weekdays and months are not capitalized, unless it is ungrammatical (as it is in case of English, German and Indonesian). See the comment above: https://github.com/date-fns/date-fns/blob/master/src/locale/en-US/_lib/localize/index.js#L15-L18

[2018-03-20 21:47] #715 closed

[2018-03-21 10:37] mawi12345 commented on #703
@desigens could you pleas check the pull request.

[2018-03-21 16:47] desigens commented on #703
The biggest issue in PR is that Belarusian language has more complex than two "one-many" word forms.  So phrase "N секунд(-ы)" can be more human:
- 1,21,31 секунда
- 2,3,4,22 секунды
- 5,6,7 секунд

If you don't mind, I can create new PR.

[2018-03-21 17:29] mawi12345 commented on #703
I would be great if you could create a PR. I do not speak Belarusian and the translator we paid for did not manage to communicate the complexity of the language.

[2018-03-25 12:58] codeofsumit opened #718 "format in nodeJS buggy?"
Hi there,

I may be missing some fundamental thing, but somehow this is happening right now when using format in nodeJS:

[code]
The format date is the 18th since 3 days (the time I'm trying to debug this). Which is even more weird to me.
I'm using node 9.6.1. This happens when the application runs on a server as well as on my local machine.
I'm not sure what to do here 🤔 do I pass the date to `fo

[2018-03-25 12:59] #718 closed

[2018-03-25 13:00] codeofsumit commented on #718
posting it here showed me what I did wrong. `YY`... I'm such an idiot 🤦‍♂️  sorry

[2018-03-25 20:19] MikaelEdebro opened #719 "format('2018-13-01', 'YYYY-MM-DD') sets date to 2019-01-01"
I encountered something strange today when testing around. Not sure if it's by design or a bug?

When using incorrect month (13), it figures that it's 12+1, and sets date to next year.
Shouldn't it return "Invalid date" or something like that?

https://jsfiddle.net/at9vtofg/8/

[2018-03-27 12:36] SLOBYYYY commented on #510
Guys, this is a big problem and more than 5 months have passed since. Any news or workaround regarding this?

[2018-03-28 11:05] tvararu opened #720 "Parse does not correctly handle DD/MM/YYYY format"
Ran in the dev console on https://date-fns.org/v2.0.0-alpha.7/docs/parse in Chrome 65 and Safari 11:

[code]

Second one should be `Sun Nov 02 2014 00:00:00 GMT+0000 (GMT)`.

[2018-03-28 14:20] tvararu commented on #720
I determined this is due to the fact that the `window.dateFns` object on the page is the stable `1.29.0` version and not the 2.0.0 alpha, so closing! 🌈

[2018-03-28 14:20] #720 closed

[2018-03-30 11:00] handtevada opened #721 "Change month wording localize TH (Thai)"
Can you change month wording from 'มกราคาม' to 'มกราคม' on 'date-fns\locale\th\_lib\localize\index.js'

[2018-03-31 20:48] benmccann commented on #721
This was already fixed: https://github.com/date-fns/date-fns/pull/630

[2018-04-01 04:12] #721 closed

[2018-04-02 09:32] megastef commented on #514
Hi, we got a similar problem. But we use new Date() as base date. Insteado fe getting 2018 as year, we get 2020.

[code]

[2018-04-03 16:44] brycehill commented on #689
v2 will fix this: See https://github.com/date-fns/date-fns/issues/440

[2018-04-04 13:49] DevSide opened #722 "Hungarian language"
Requesting **hu** locale support !

[2018-04-04 21:18] dasDaniel commented on #719
this "feature" can be handy, but should have an option parameter set to allow this kind of rollover, but not by default.

I tried using isValid() function, but that expects a date to be passed, which seems to defeat the purpose, because you can tell from `new Date('2018-13-01')` that it's wrong.

[2018-04-04 21:57] jaylinski commented on #640
Fixed in date-fns/date-fns/pull/711.

[2018-04-06 14:34] markstos commented on #556
Hardcoding time-zone offsets is a bad practice. They often break when Daylight Saving Time changes. That's why proper time zone support is helpful-- you can get the correct answer all year round!

[2018-04-09 08:45] Ranmus commented on #232
+1

[2018-04-10 09:39] bagustilas opened #725 "tomorrow display false"
hello
im used date-fns for my ionicframwork app, when i try use **IsTomorrow**  i got false view
my code like this

      let now = new Date();
      this.toDay = format(now,'DD/MM/YYYY');
      this.besok = isTomorrow(now);
      console.log(this.besok);

but result is false

thanks

[2018-04-10 14:12] arthurdenner commented on #725
Hi, @bagustilas.

According to your code, the result should be `false` because you're trying to verify if a `new Date()` (which generates the current date) is tomorrow.

Maybe you're using the wrong function, but to check that, could you explain what you were trying to verify?

[2018-04-10 14:18] bagustilas commented on #725
i just want display tomorrow day in myapp,

[2018-04-10 14:58] arthurdenner commented on #725
In this case, if you want to use `date-fns`, you can use something like this:

[code]
Without date-fns, you can use something like this:
[code]

[2018-04-14 01:31] MayaWolf commented on #423
Bumping this as `buildFormatFn` turned out to be the bottleneck in an application recently. Would appreciate being able to prepare/cache one.

[2018-04-14 10:13] frontsideair opened #726 "Unbounded intervals"
Right now intervals have type `{ start: Date, end: Date }`, which is cool, but sometimes unbounded intervals are needed, like `{ start: BeginningOfTime, end: Date }` or `{ start: Date, end: EndOfTime }`. Or even `{ start: BeginningOfTime, end: EndOfTime }` where for any valid date `isWithinInterval` returns `true`.

Of course, the user can pick `0` as `BeginningOfTime` and a sufficiently later dat

[2018-04-15 14:08] mesqueeb opened #728 "[Request] 1st 2nd or 3rd ____day in the month?"
If a date is a eg. a Sunday, is there a way to know which Sunday it is in the month?
I need a way to find out if it's the first, second, third or fourth Sunday in the month.

[2018-04-16 03:06] mesqueeb commented on #666
I also found an error at: https://date-fns.org/v2.0.0-alpha.7/docs/I18n

At this line:
`import {en, eo, ru} from 'date-fns/esm/locale'`

Because when I looked in the [soure](https://github.com/date-fns/date-fns/blob/master/src/esm/locale/index.js) there's no actual `en`, and it looks like you have to write `enUS` or something instead.

I'm just confused why not all languages are listed here like `

[2018-04-17 12:21] benjamincharity opened #729 "Is this library still actively moving forward?"
I've used this on several projects and really like it. But I've noticed that 2.0.0 has been in alpha for almost a year now.. are things still moving forward here?

[2018-04-18 14:02] ashsearle commented on #728
You could use plain JS for this: `Math.ceil(date.getDate() / 7)`

[code]

[2018-04-18 15:24] leshakoss opened #730 "Rename Algerian Arabic locale to `arq`"

[2018-04-18 18:26] kingsleymasters commented on #510
Unfortunately had to go back to using moment.js because of this bug :(  I couldn't see an easy fix.

[2018-04-18 20:42] vasinkevych opened #731 "One locale import"
Hi, all!
 Is there posibility to load only one (en-US) locale?
Tree shaking doesn't help with it
Will be grateful for any help!

[2018-04-19 11:07] #728 closed

[2018-04-19 11:07] mesqueeb commented on #728
This is perfect!!!
JS Excellence!!

[2018-04-19 11:34] mesqueeb commented on #729
@benjamincharity
If you look at the commits: https://github.com/date-fns/date-fns/commits/master
You can see that the main developer works on it a few days each month. From what you can derive of the history you can see it's mostly merging pull requests from the community.

Therefor I can give as advice to dig into the source code, find some places you can help out and make a pull request! I'm als

[2018-04-19 11:35] #729 closed

[2018-04-19 11:53] fabienjuif commented on #729
@mesqueeb what could be cool is to add the `good first issue` for new comers!

[2018-04-23 06:03] ctf0 opened #732 "Unit conversion functions"
is it possible to have like a helper function that can convert a date to another ?

ex.
[code]

[2018-04-23 09:47] edorivai commented on #732
What is it exactly that you want to accomplish? In case you want to convert durations, this can be done with math!

[code]

[2018-04-23 16:44] ctf0 commented on #732
exactly that but for ppl that suck in math like myself, the **helper** will the perfect answer

[2018-04-24 10:08] Jogai commented on #275
And maybe add a comparison like:

- https://alloyui.com/rosetta-stone/
- https://moment.github.io/luxon/docs/manual/moment.html#datetime-method-equivalence

[2018-04-24 12:35] brunodequeiroz opened #733 "Parsing local date"
I'm using `date-fns@^2.0.0-alpha.7` and when trying to call  `parse("24/01/2018","DD/MM/YYYY", {});`  it returns `Invalid Date`

[2018-04-24 12:39] leshakoss commented on #733
The third argument (`baseDate`) should be a valid date or timestamp. `parse("24/01/2018","DD/MM/YYYY", new Date())` and `parse("24/01/2018","DD/MM/YYYY", 0)` both should work

[2018-04-24 12:43] brunodequeiroz commented on #733
`parse("24/01/2018","dd/MM/yyyy", new Date());` same output

[2018-04-24 12:45] brunodequeiroz commented on #733
with format in all caps works thnaks @leshakoss

[2018-04-24 12:53] #733 closed

[2018-04-24 15:25] leshakoss commented on #309
Closing due to the lack of activity

[2018-04-24 15:25] #309 closed

[2018-04-24 15:25] leshakoss commented on #522
Closing due to the lack of activity

[2018-04-24 15:25] #522 closed

[2018-04-24 15:25] leshakoss commented on #547
Closing due to the lack of activity

[2018-04-24 15:25] #547 closed

[2018-04-24 15:25] leshakoss commented on #554
Closing due to the lack of activity

[2018-04-24 15:25] #554 closed

[2018-04-24 15:26] leshakoss commented on #550
Closed because I think it is fixed?

[2018-04-24 15:26] #550 closed

[2018-04-24 15:27] leshakoss commented on #651
Fixed

[2018-04-24 15:27] #651 closed

[2018-04-24 15:27] leshakoss commented on #637
Closed due to the lack of activity

[2018-04-24 15:27] #637 closed

[2018-04-24 15:27] leshakoss commented on #620
Merged

[2018-04-24 15:27] #620 closed

[2018-04-24 15:27] leshakoss commented on #589
Merged

[2018-04-24 15:27] #589 closed

[2018-04-24 15:28] leshakoss commented on #603
Closed due to the lack of activity

[2018-04-24 15:28] #603 closed

[2018-04-24 15:28] leshakoss commented on #653
Closed due to the lack of activity

[2018-04-24 15:28] #653 closed

[2018-04-24 15:29] leshakoss commented on #662
Closed due to the lack of activity

[2018-04-24 15:29] #662 closed

[2018-04-24 15:29] leshakoss commented on #722
Closed due to the lack of activity

[2018-04-24 15:29] #722 closed

[2018-04-24 15:30] leshakoss commented on #695
Closed due to the lack of activity

[2018-04-24 15:30] #695 closed

[2018-04-24 15:30] leshakoss commented on #693
Closed due to the lack of activity

[2018-04-24 15:30] #693 closed

[2018-04-24 15:54] #725 closed

[2018-04-24 15:55] leshakoss commented on #640
Going to be fixed with the next release

[2018-04-24 15:55] #640 closed

[2018-04-24 15:56] leshakoss commented on #671
Going to be fixed with the next major release

[2018-04-24 15:56] #671 closed

[2018-04-24 15:57] leshakoss commented on #520
Merged, going to be fixed with the next release

[2018-04-24 15:57] #520 closed

[2018-04-24 21:35] mkg0 commented on #662
I think lack of activity shouldn't be a reason for closing the issue. The subject is clear enough.

[2018-04-24 22:59] alexkrolick commented on #489
I've had similar issues in test suites and CI where we want to render a date stored in ISO format (e.g., absolute) in the user's timezone. What I've started doing is mocking the format function to just print the ISO date + a hint about the expected format actually is. It's not 100% right if you want to see the formatted output but it keeps things consistent. Here's how you do it in Jest:

[code]

[2018-04-25 05:06] mesqueeb commented on #520
@leshakoss Is this a breaking change? Should all localization files also be updated for this?

[2018-04-25 06:03] leshakoss commented on #662
I am sorry, I am closing old inactive locale request issues and I accidentally closed yours.

You can access other formats. That's how `format` function does it:
https://github.com/date-fns/date-fns/blob/master/src/format/_lib/formatters/index.js#L250
```locale.localize.month(0, {width: 'abbreviated'}) //=> 'Jan'```

[2018-04-25 06:06] leshakoss commented on #520
@mesqueeb yes it is and yes they should. I've updated the [contribution guide](https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md) some time ago. Here is the list of locales to be updated: https://github.com/date-fns/date-fns/blob/master/outdatedLocales.json

[2018-04-25 06:09] leshakoss commented on #662
API is a bit different in current v2 alpha https://github.com/date-fns/date-fns/blob/d48cd2f1ac996e84ad5bfef68e41a1c260a958c4/src/format/_lib/formatters/index.js#L24

[2018-04-25 12:44] suprMax commented on #660
Hey guys, how stable is current v2? How easy will be upgrade from v1 to v2? We are planning to migrate from moment to your lib, not sure what to pick as the starting point here.

[2018-04-25 14:07] frontsideair commented on #660
I'm not a contributor but I'd go with stable and upgrade when the new version is available by following the migration guide (it's gotta be written, one of us should do it).

[2018-04-25 16:03] bmcminn commented on #719
@dasDaniel, That depends on the locale being parsed. ISO 8601 Australian dates specify `YYYY-DD-MM`, so that would be a valid date string as January 13, 2018. This is true for many other locales as well.

[2018-04-25 16:09] leshakoss commented on #719
@bmcminn what? no, ISO 8601 is locale independent

[2018-04-25 16:09] leshakoss commented on #719
The issue is the duplicate of #347

[2018-04-25 16:28] suprMax opened #734 "[suggestion] expose locale strings"
Moment.js has a lot of useful helper functions that return day/month labels:
https://momentjs.com/docs/#/i18n/listing-months-weekdays/

Locale files already contain this data, it would be super awesome if they could expose it somehow.

[2018-04-25 16:44] bmcminn commented on #719
@leshakoss Yes, the spec itself is, but unless locale is factored into date parsing, you get wierd artifacts in the way of wrong dates. I've seen this issue in production systems where the client apps respected client date locales, but the backend relied on their system locale definitions when processing date transformations.

In practice, it's a systems level business logic concern, but at the li

[2018-04-25 17:08] dasDaniel commented on #719
the I in ISO is for International, the definition of ISO 8601 doesn't change based on locale.
the javascript `new Date` accepts a dateString defined as

so unless the  format is specifically defined, as in `format('2018-13-01', 'YYYY-DD-MM') `, `YYYY-MM-DD` is used

[2018-04-25 19:05] pelotom commented on #664
In `date-fns@next` it seems like the typings have been fixed, and you no longer use granular modules, instead

[code]

and rely on tree shaking.

[2018-04-25 23:35] pelotom commented on #664
Oh, also this page looks relevant: https://github.com/date-fns/date-fns/blob/master/docs/esm.md

[2018-04-26 23:49] amarzavery commented on #284
@leshakoss - We really want to use this library. moment.js has support for duration but is very heavy. They do not modularize. Any traction on this request? Any idea when will durations be supported?

[2018-04-27 13:15] hamstercat commented on #313
You should not install @types/date-fns as the date-fns module already contains the type definition.

[2018-04-30 18:56] ghostd commented on #692
I think we should have a positve 0 (as proposed by the PR of armenavetisyan), but keep the sign for the non-zero results. thi can be used to know if we are before/after an other date.

[2018-05-02 12:12] awar9474 commented on #180
Thanks for this @marnusw. What is the release plan for date-fns v2 with timezone support?

[2018-05-02 16:02] marnusw commented on #180
@awar9474 the maintainers recently said on one of the issues (I forget which) that their primary focus is to release v2 with the existing functionality. I suspect they will get back to considering time zone support thereafter and hopefully engage on that PR. I couldn't say how close they are to a v2 release though.

[2018-05-02 21:01] souporserious opened #737 "new helper functions for building calendars"
Hello 👋 first, thank you for such an amazing library! I absolutely love that I can pick and choose specifically what I need when working with dates. Also, the documentation is wonderful!

I was curious if you would be open to adding a few helper functions to help build calendars. I've built these functions up on the shoulders of others work throughout the years and I think they could be beneficial

[2018-05-03 07:41] webpapaya commented on #692
I think this is not only an issue with differenceInYears but some other differenceIn* functions as well.

[code]
I think -0 should never be returned by any of the functions. It would be nice if @armenavetisyan could also take the other functions in his PR into account. Thanks.

[2018-05-04 06:02] benknight opened #738 "Website references functions not available on the stable release"
Today I installed this package via npm and went to import `formatRelative`, following the examples on date-fns.org and was really confused when I realized it doesn't exist.  Looks like it's part of v2 which is still in alpha, not the default stable release installed via npm.  I recommend not referencing code that's not available in the stable release on your main website.

[2018-05-05 12:08] dimkonko commented on #737
For `getWeeks` functionality I use the following:
[code]

[2018-05-07 22:36] souporserious commented on #737
😱 thank you so much @dimkonko! It's so elegant now ✨

I converted it using the newer `eachDayOfInterval` function. Not sure it needs its own function in date-fns 🤷‍♂️ . Still happy to PR if so.

[code]

[2018-05-09 16:18] kossnocorp commented on #737
Hey, I like your idea, but I believe that it's an out-of-scope for date-fns. I think it's a great candidate for a separate library. If you'd work on that, we'll be happy to promote and recommend it as well as host it under date-fns organization (if you will).

Btw I did build a similar library a few years ago: https://www.npmjs.com/package/calendar-fns. If you like the name, I can hand over it to

[2018-05-09 16:18] #737 closed

[2018-05-09 17:05] kossnocorp commented on #738
@benknight ouch, that's fair. We wanted to release v2 long time ago so I did prepare the website for v. Sorry for troubles. Now the examples section has a warning:

![cloudapp annotation 2018-05-09 at 9 04 43 pm png](https://user-images.githubusercontent.com/52201/39828577-9ea833d0-53cc-11e8-8b9e-d3f1e6c94491.png)

[2018-05-09 17:05] #738 closed

[2018-05-09 17:10] kossnocorp commented on #692
Hm, on one hand, that's an annoying inconsistency, but on another hand -0 and 0 for JS are the same thing:

[code]

I think that it doesn't make sense to add `abs` everywhere just for sake of it unless there are real concerns.

@leshakoss WDYT?

[2018-05-09 17:32] kossnocorp commented on #692
@leshakoss figured out that the problem is in `Math.round`. I still not sure how this is a problem, but since it could be fixed using simple `|| 0` and @leshakoss is so into it, here is my 👍 for making it consistent across the code base.

[2018-05-09 19:00] leshakoss commented on #692
It was not `Math.round`, I just tried to guess without looking in the code 😅

[2018-05-09 20:44] souporserious commented on #737
Sounds great!!! I'll be in contact soon 🤗. Thank you 🙏.

[2018-05-10 06:50] kossnocorp commented on #692
@leshakoss nice try

[2018-05-10 06:50] #692 closed

[2018-05-10 06:56] kossnocorp commented on #732
This is a good idea, however, I don't like the proposed API. I suggest making it explicit, like `secondsToMinutes(45)`, `hoursToDays(123)`, etc.

PRs are welcome.

[2018-05-10 07:01] kossnocorp commented on #180
As @marnusw mentioned, the current focus is v2. I know that IANA is one of the most wanted feature requests and we'll address it when the time comes. Thank you for patience.

[2018-05-10 07:11] kossnocorp commented on #313
@redaikidoka @lolporer as @hamstercat mentioned, date-fns is shipping with TS typings. Please remove `@types/date-fns` and use built-in typings instead (TS should detect it properly without any additional steps). If the problem persists, contact us again. Thanks.

[2018-05-10 07:11] #313 closed

[2018-05-10 07:13] kossnocorp commented on #284
@amarzavery we can't tell you any ETA. It's coming after we ship v2. Thank you for patience.

[2018-05-10 10:05] packetstracer commented on #666
this doesn't work for me

`import {eo} from 'date-fns/esm/locale'`

cannot find a folder named 'esm' or something similar regarding to ES modules.

The only thing that worked is using several import statements as @tom4dev suggested, but this seems a little verbose to me though.

`import en from 'date-fns/locale/en'
import ru from 'date-fns/locale/ru'`

[2018-05-10 15:06] edorivai commented on #732
Oh my, should this be a cross map of all different time units? Also, we should probably make a table of definitions. Like how many days is a month? A year? Do we do gap years?

[2018-05-10 16:25] leshakoss commented on #510
Fixed in master branch by #690

[2018-05-10 16:25] #510 closed

[2018-05-11 04:28] kossnocorp commented on #180
@hlehmann no, we don't have any ETA for v2. Sorry.

[2018-05-13 08:28] prztrz opened #740 "Possibility of adding toReadableTime feature"
Hi, I write simple script to calculate time in days, hours and minutes basing on the single number input (in given unit). Please se the [repo](https://github.com/prztrz/To-Readable-Time).

Do you think I can add this feature to date-fns?

[2018-05-13 20:50] arunprakashpj commented on #654
Actually, the problem didn't get solved. I preferred an alternate library.

[2018-05-13 20:59] leshakoss commented on #654
It was probably a misleading behaviour by REPL of node.js. By default it prints out dates in timezone +00:00, as if using the `toISOString` method on a date. Using `toString` method would print out a date in the local timezone. Looks like this:

<img width="307" alt="screen shot 2018-05-13 at 22 57 48" src="https://user-images.githubusercontent.com/566319/39971754-20e16394-5701-11e8-8074-f420e3f70

[2018-05-13 20:59] #654 closed

[2018-05-15 06:53] kossnocorp commented on #740
That's a good proposal and mostly covered by this proposal: https://github.com/date-fns/date-fns/issues/732. I'm closing the issue as duplicate.

If you also want to add an ability to append the unit in words, I would say it's out of the scope of date-fns as we don't want to deal with pluralization in different languages. It's just too much.

[2018-05-15 06:53] #740 closed

[2018-05-15 06:55] kossnocorp commented on #664
Thank you @pelotom, that's right.

I don't have ETA for final v2 release but the beta is coming soon, and also alpha is stable (I use it in production for a long time) but API might change.

[2018-05-15 06:55] #664 closed

[2018-05-15 09:13] kossnocorp commented on #698
Sorry, there is no ETA. This is a very hot question, and we ask it ourselves all the time.

I'll explain the situation in detail so I'll be able to reuse this comment every time someone asks us the question.

I'm (the author) was backing the development of date-fns from my funds. I did pay salary to @leshakoss (the main contributor) for quite a while. About year ago I left my job, and now I'm boot

[2018-05-15 09:13] #698 closed

[2018-05-15 12:35] kossnocorp commented on #734
It's available in v2. There are no dedicated docs for that but you can see:

- https://date-fns.org/v2.0.0-alpha.7/docs/I18n-Contribution-Guide#localize
- https://github.com/date-fns/date-fns/blob/master/src/locale/en-US/_lib/localize/index.js

[2018-05-15 12:35] #734 closed

[2018-05-15 12:38] kossnocorp commented on #635
Hey, there are is no ETA, see my comment: https://github.com/date-fns/date-fns/issues/698#issuecomment-389099219

I personally use alpha in production. It is stable and error free but API could change a bit, see CHANGELOG: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136.

[2018-05-15 12:38] #635 closed

[2018-05-15 12:38] kossnocorp commented on #701
As @matthewdordal said, it's there.

[2018-05-15 12:38] #701 closed

[2018-05-15 12:50] kossnocorp commented on #463
The feature is available in `format` from v2: https://date-fns.org/v2.0.0-alpha.7/docs/format

[2018-05-15 12:52] kossnocorp commented on #271
I'm closing it as a staled issue, sorry.

[2018-05-15 12:52] #271 closed

[2018-05-15 14:12] leshakoss commented on #463
The feature is available in v2.0.0-alpha.8: https://date-fns.org/v2.0.0-alpha.8/docs/getWeek

[2018-05-15 14:12] #463 closed

[2018-05-15 14:14] leshakoss commented on #660
These changes are released as v2.0.0-alpha.8: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha8

[2018-05-15 14:14] #660 closed

[2018-05-15 14:26] kossnocorp commented on #699
It is fixed and released as `v2.0.0-alpha.8`: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha8

[2018-05-15 14:26] #699 closed

[2018-05-15 16:39] richie50 opened #742 "Invalid Date on firefox , parse routine returns invalid date."
On firefox:
Name 	Firefox
Version 	60.0
Build ID 	20180503143129

The parse routine returns invalid date when the specified argument to the routine is `"<day>-<month>-<year>"`  example "07-May-2018". This does not happen on chrome.

[2018-05-15 16:42] leshakoss commented on #742
@richie50 could you please give us the exact line of code which works differently in different brothers?

[2018-05-15 16:51] leshakoss opened #743 "Remove `new Date` fallback in `toDate`"
This fallback leads to all functions working differently in different browsers (sinse `toDate` is used to clean the date arguments in all functions). For example, `toDate('07-May-2018')` returns `Invalid Date` in Firefox, but correctly parsed date in Chrome. See also #742

[2018-05-15 16:51] richie50 commented on #742
`let formatedDate = isToday(value) ? "Today" : isTomorrow(value) ? "Tomorrow" : format(value, 'dddd MMM D');`
the value is `"01-May-2018"` . @leshakoss you can try any date format in that specified order. Thanks

[2018-05-15 17:25] leshakoss commented on #742
@richie50 well, basically, values like `"01-May-2018"` shouldn't have been supported in the first place. It works in Chrome because `parse` falls back to `new Date` if it fails to parse ISO-8601 string. So please don't use strings like that as arguments. In the next version of date-fns we are removing this fallback: #743

[2018-05-15 17:25] #742 closed

[2018-05-16 08:07] #743 closed

[2018-05-16 12:51] farwayer opened #745 "format with 'D' shows invalid day"
**date-fns@2.0.0-alpha.8**

[code]

[2018-05-16 14:46] MickL opened #746 "addDays() behaves different in Chrome and Firefox (not working with decimal number)"
Lets say i have the time of now: 16th may 16:44 and using addDays with an uneven number like 1.3 i expect the function to add 1.3 days to 16:44 resulting in something around 16th may 21:01 with the exact amount of minutes an seconds.

This works fine in Chrome. But using Firefox addDays does NOT change the minutes/seconds/ms. The reason is the usage of `Date.setDate()`

Example:
https://codepen.io

[2018-05-16 14:49] leshakoss commented on #746
@MickL I would say it should `Math.floor` the amount of days. So it sounds like a bug to me

[2018-05-16 14:50] MickL commented on #746
Can you confirm addDays sets minutes, hours and ms to 0 on Firefox but not on Chrome?

[2018-05-16 15:44] MickL commented on #746
Workaround: Use addMinutes / addSeconds instead

[2018-05-17 08:51] weihongyu12 opened #747 "An error was thrown when using Simplified Chinese for internationalization"
I made a mistake when using Chinese for internationalization. The code is as follows:
[code]

Prompted this error:
[code]

I read the code, it seems that Chinese has been translated, why would this prompt?

Thanks!

[2018-05-17 09:43] kossnocorp commented on #747
@weihongyu12 the locale isn't optimized for v2. Please consider contributing. Take a look at the guide: https://date-fns.org/v2.0.0-alpha.8/docs/I18n-Contribution-Guide.

@leshakoss we have to rephrase the text to make it clear that a locale isn't optimized for v2 and put the link to the guide.

[2018-05-17 09:43] #747 closed

[2018-05-17 09:50] weihongyu12 commented on #747
I read the documentation, it seems that the alpha-7 and alpha-8 are different for the implementation of internationalization, is the format parameter no longer support the value of `'lll'`?

[2018-05-18 19:18] nfantone opened #750 "Consider bringing back old parse"
Hi all!

Today I tried the latest `2.0.0-alpha` release and started updating a project we have. Unfortunately for us, the [new API of `parse`](https://date-fns.org/v2.0.0-alpha.8/docs/parse) didn't fit _any_ of the use cases we have and couldn't find a way of emulating existing behavior.

I'm sure there are plenty of reasoning behind the change, but for all the pleasant updates we've found (`fp` m

[2018-05-18 19:32] nfantone commented on #750
@leshakoss Hi and many thanks for your fast response!

Very glad to read that you kept the functionality. May I ask the reason behind the name swapping? Wouldn't have been easier (as far as API understanding and easiness of migration go) to keep `parse` the same and give the new `parse` a different name instead?

[2018-05-18 19:49] nfantone commented on #750
@leshakoss Another conspicuous detail that doesn't make things smooth are the new pattern tokens. Docs for `v1` mention `format` defaults to` YYYY-MM-DDTHH:mm:ss.SSSZ`. But `T`, on `v2`, outputs milliseconds.

[code]

[2018-05-18 20:13] leshakoss opened #751 "Fix broken ordered list in `format` and `parse` docs notes below the table"

[2018-05-19 02:25] rishab85 commented on #649
In documentation it says when i use 'D' i will get Days of month but getting days of year. And using 'd' i am getting days of the month. how to solve this problem.? Please help.

[2018-05-19 09:31] kossnocorp commented on #649
@rishab85 please ensure what you view docs for proper version, the format did change in v2. If the problem is still there, open a new issue and describe your problem there. Don't forget to include your environment info such as browser/Node.js version and date-fns version.

[2018-05-19 09:34] kossnocorp commented on #750
@nfantone I hope @leshakoss did address your questions. If you still have some more — don't hesitate to ask. Also, thank you for trying v2, it's much appreciated.

[2018-05-19 09:34] #750 closed

[2018-05-19 09:39] kossnocorp opened #752 "Reimplement isDate function"
See reasoning: https://github.com/date-fns/date-fns/pull/471#issuecomment-389521541

This will solve https://github.com/date-fns/date-fns/issues/541

[2018-05-19 11:12] kossnocorp opened #753 "Finalize migration to Prettier"
Standard.js is great but Prettier is better.

[2018-05-19 11:34] kossnocorp opened #755 "Replace instanceof usage with safer alternatives"
See: http://perfectionkills.com/instanceof-considered-harmful-or-how-to-write-a-robust-isarray/

![cloudapp annotation 2018-05-19 at 3 16 49 pm png](https://user-images.githubusercontent.com/52201/40268178-10cc63dc-5b7a-11e8-8a9d-7881eab8f80d.png)

[2018-05-19 11:35] kossnocorp commented on #755
Beside tests (where it's ok to use `instanceof`) it's used in these two functions:

![cloudapp annotation 2018-05-19 at 3 34 42 pm png](https://user-images.githubusercontent.com/52201/40268183-2b4f1484-5b7a-11e8-89ca-110112423276.png)

[2018-05-22 13:58] pedrobrost opened #758 "Spanish locale not available"
Hi I'm new here, why is the Spanish locale disabled? Is it because v2?

I could translate it

[2018-05-22 14:19] marnusw commented on #758
Yes, things changed dramatically between alpha.7 and alpha.8. If you need the Spanish locale please bring the translation that is already there up to date with the latest format. The `en-US` locale is always the best template to use.

[2018-05-22 16:07] heldr commented on #556
Till is not implemented:

[code]

[2018-05-22 16:41] marnusw commented on #556
There is a proposal for this in #707, but it is on hold until v2 of `date-fns` is out for which there isn't a due date yet.

[2018-05-23 11:18] ValentinH opened #759 "parse: Incorrect date on Safari"
The following date string isn't parsed correctly on Safari: `2014-03-01Z`. The problem comes from the timezone indicator, is it a bug or is it this date that isn't valid?

See this sandbox(in `src/index.js`): https://codesandbox.io/s/619rj61lrz

[2018-05-23 21:30] tgriesser opened #760 "Docs: Confusion in parse around YYYY vs yyyy"
Hi all, great project.

I wanted to point out some behavior I found a bit confusing when checking out this library (specifically the latest 2.0.0-alpha.8).

[ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) dates are generally referred to as `YYYY-MM-DD`. Here it is in the [toISOString MDN docs.](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString) Th

[2018-05-24 01:16] imsheng opened #761 "the docs ?"
![0524091555](https://user-images.githubusercontent.com/10435075/40459295-2c7d9ab2-5f33-11e8-8387-40b5655bc91d.jpg)

[2018-05-24 09:14] mrmkrs opened #762 "date formatting changed?"
In beta 7:
format(new Date(), 'YYYY-MM-DD'); //2018-05-24 (correct)

in beta 8:
format(new Date(), 'YYYY-MM-DD'); //2018-05-121 (not expected)
format(new Date(), 'YYYY-MM-d'); //2018-05-24 (work round?)

[2018-05-24 09:21] cuitianze commented on #761
me too

[2018-05-24 09:30] marnusw commented on #762
The formats were changed so they are based on the [Unicode Technical Standard #35:](https://www.unicode.org/reports/tr35/tr35-dates.html#Date_Field_Symbol_Table) in `alpha.8`. This is the intended behaviour.

Also see the [changelog](https://github.com/date-fns/date-fns/blob/master/CHANGELOG.md#changed)

[2018-05-24 09:30] #762 closed

[2018-05-24 12:12] kossnocorp commented on #761
That is because your provider blocks requests to Firebase or one of its servers. I'm sorry, but I can't do anything about that.

[2018-05-24 12:12] #761 closed

[2018-05-25 07:25] kossnocorp commented on #759
Hey. The problem is that the date isn't valid [ISO-8601](https://en.wikipedia.org/wiki/ISO_8601) string. Previously we used `new Date(str)` as a fallback but because of inconsistent browsers behavior [we did remove it](https://github.com/date-fns/date-fns/pull/744) and starting from `date-fns@2.0.0-alpha.9` it will be returning an invalid date.

[2018-05-25 07:25] #759 closed

[2018-05-25 07:26] kossnocorp commented on #758
@pedrobrost thank you, looking forward to shipping it.

[2018-05-25 07:26] #758 closed

[2018-05-25 07:27] kossnocorp commented on #689
As @brycehill said (thanks btw), it is fixed in v2.

[2018-05-25 07:27] #689 closed

[2018-05-25 07:29] kossnocorp commented on #719
I'm closing the issue as it's a duplicate. If you have any feedback, please continue in https://github.com/date-fns/date-fns/issues/347

[2018-05-25 07:29] #719 closed

[2018-05-25 07:32] ValentinH commented on #759
Thanks for the clarification and for this great library! 💪

[2018-05-25 07:41] kossnocorp commented on #760
Thank you for the feedback! That is a valid point, that's very confusing. We migrated to the Unicode format as we believe that is better to follow a standard rather than a convention used in a (currently) popular library.

[2018-05-25 11:50] leshakoss commented on #678
Wait

[2018-05-25 11:51] leshakoss commented on #678
The output is "0 months" is because you specified `{unit: 'M'}` (i.e. forced the specific unit). It is an intended behaviour

[2018-05-25 11:53] leshakoss commented on #678
Also it happens because the default rounding method is `floor`, not `round`, which is, I have to admit, is kinda counterintuitive. I think we should change it (since distanceInWords uses `round`)

[2018-05-25 13:27] #678 closed

[2018-05-25 13:50] kossnocorp commented on #746
This is looks like a Chrome bug if I read [the spec](https://www.ecma-international.org/ecma-262/5.1/#sec-15.9.5.36) correctly.

I believe that `addDays` shouldn't change any units except days. The passed argument should be rounded using `floor`. We should apply this not only to `addDays` but also to all `add`/`sub` functions for consistency sake.

@MickL not sure what was your original intention

[2018-05-25 14:26] kossnocorp commented on #746
I've opened an issue in Chromium issue tracker

[2018-05-25 14:39] ddaza commented on #678
I don't know how to feel about the rounding of the conversion. I was thinking we could be exact and determine the date and number of months in relation of the month/year we are provided.  Also one should be careful with some unexpected cases when the Numbers are in the `-` and rounding it might lead to unexpected behavior.

See the round portion of this:
http://speakingjs.com/es5/ch11.html#convert

[2018-05-25 15:25] kossnocorp opened #767 "Review usage of === undefined"
We extensively use `=== undefined` and [not everywhere it makes sense](https://github.com/date-fns/date-fns/pull/763/files#diff-6bba22efd11fcbec53f537e9c0972535L134). We have to review all places where it's used and fix those where it's not correct.

[2018-05-25 16:51] marnusw commented on #663
It's not entirely clear from you discussion what you are trying to achieve. From what I can tell your Python examples can be reproduced in pure JS and date-fns exactly with:

[code]

[2018-05-25 17:39] #663 closed

[2018-05-26 09:08] kossnocorp commented on #530
Sorry, but we won't do that. The reason is that such functions would import unused code that can't be tree-shaken. We want to make date-fns efficient by default and protect users from bloating their code bases. I still think that it's a nice sugar and it deserves a separate library. If someone will make it, I would be glad to help to promote it.

[2018-05-26 09:08] #530 closed

[2018-05-26 09:10] kossnocorp commented on #687
Please address it to me kossnocorp@gmail.com or @leshakoss regiusprod@gmail.com.

[2018-05-26 09:10] #687 closed

[2018-05-26 09:15] kossnocorp commented on #667
Hey, there is no such adapter, and we aren't going to work on that in the future, but if anyone else wants to do that, we'll be glad to promote it.

[2018-05-26 09:15] #667 closed

[2018-05-26 09:16] kossnocorp commented on #567
@leshakoss kindly reminder ;-)

[2018-06-04 13:48] Lakston commented on #660
Reading the alpha 8 changelog  I think there is a typo :

`BREAKING: temporary disable all locales except en-US, ru and eo. Most of the disabled locales will be enabled back until the release.`

Does this mean "Most of the disabled locales WONT be enabled back until the release" ?

Meaning until the RC or stable we won't have locales but those 3 ?

[2018-06-04 19:51] leshakoss commented on #660
@Lakston I am not sure how many of the locales will be enabled before the stable release, but so far it's more than 3: https://github.com/date-fns/date-fns/blob/master/src/locale/index.js It mostly depends on the contributors. We're going to create an issue for every unreleased locale and call for the past contributors, but before that we want to make sure that there won't be any more locale API c

[2018-06-05 08:59] Lakston commented on #660
I can try to help bringing back the French locale up to speed with the API changes if I can, I'll watch for the unreleased locale issues and help if needed, thanks for the answer 👍

[2018-06-05 10:40] webmobiles opened #771 "compressed date-fns is bigger than momentjs on react build js"
I'm surprised that i'm only using some function from date-fns like:

`import { parse as parseDate, differenceInCalendarDays as differenceInDays } from 'date-fns';`

but I've got 53kb in my build app react, it's the same like momentjs , I'm using date-fns v2.0.0-alpha.7

It's normal ?
here the image:

<img width="594" alt="screen shot 2018-06-05 at 12 36 38" src="https://user-images.githubuserconte

[2018-06-05 10:53] fabienjuif commented on #771
Hi @webmobiles did you try to import from `date-fns/esm`?
[code]

or like that?
[code]

And maybe the bundle analyser is generated BEFORE the tree shaking did its job ?

[2018-06-05 12:44] leshakoss commented on #660
@Lakston that would be very helpful, thanks! We have a relatively up to date i18n contribution guide: https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md

[2018-06-06 06:05] webmobiles commented on #771
thanks fabien, I tried with /esm and I've got the same size, but with your last example importing line by line the size was reduced to 34kb, it's ok then. I suppose i can't it reduce more.

<img width="266" alt="screen shot 2018-06-06 at 08 05 33" src="https://user-images.githubusercontent.com/21120559/41019768-6c59f4dc-6960-11e8-9339-d827adcf683b.png">

[2018-06-06 08:59] kossnocorp commented on #771
@webmobiles I see. I'm not familiar with how `npm run build` works but from the Moment.js' size, I assume that it's not gzipped at least. It's not very accurate, and the result could be misleading. For the real impact, you can see my numbers.

[2018-06-06 11:30] Lakston commented on #732
I can try do do something for this request but we would have to define the API and what conversions we would plan to support because some can get a bit tricky as mentioned by @edorivai , if you want to convert minutes to months, would you take the current month length ? allow for a month argument (that would not fit with a simple, explicit API) ?

The easiest ones to start with would be :

- secon

[2018-06-06 15:12] ctf0 commented on #732
imho using the explicit api will be hard to maintain while using the one from the main topic is easier as it can be done using switches.

on -a-side-note apparently this is hard to create because of the indifferences in month days & year months

[2018-06-07 07:40] leshakoss commented on #732
For the record, without any ambiguity it is possible to convert between these groups of units:
- milliseconds ↔ seconds ↔ minutes ↔ hours
- days ↔ weeks
- months ↔ quarters ↔ years

[2018-06-07 08:03] #746 closed

[2018-06-07 08:03] #767 closed

[2018-06-07 09:30] kossnocorp commented on #623
I've tried to understand your problem, but besides formatting and syntax errors your code snippet looks incomplete. If it's still a problem, please provide more details and context and reopen the issue.

[2018-06-07 09:30] #623 closed

[2018-06-07 10:11] edorivai commented on #732
@leshakoss hours :left_right_arrow: days?

[2018-06-07 10:45] edorivai commented on #732
Damn, you're right

[2018-06-07 13:35] leshakoss commented on #614
Closed by #764

[2018-06-07 13:35] #614 closed

[2018-06-07 17:42] kossnocorp commented on #732
@ctf0

I can't see how switches could be easier to maintain than dedicated functions.

This is yet another reason why the API should be explicit. If we'd allow converting anything to anything it would result in issues that are hard to debug.

Besides that, implicit API would be inconsistent with the rest of the library.

---

As @leshakoss noted, we're looking for explicit API that allows converti

[2018-06-07 18:42] edorivai commented on #732
@kossnocorp If we say we only want to convert compatible units, is it then really worth it to increase the API surface? I mean, the compatible conversions are arguably trivial to do by hand.

I could see the use in date-fns actually defining "sensible defaults" for the problematic conversions, but then again, maybe in this case there is no such thing as sensible defaults.

If I would personally ha

[2018-06-08 00:07] ctf0 commented on #732
@kossnocorp what i meant by a switch is to have a fluent method, like for example
u search google on how to convert 1gb to mb, but now we want to also know what is 1gb in kb, so instead of re-searching u just select the new type you want to convert to.

so in our care you just write one method, and just change the types to whatever you want without having to memorize/search all the api methods to

[2018-06-08 07:10] Lakston commented on #732
I would agree with that, expanding the API with functions that could be done that easily doens't sound great.

I proposed my help because I was waiting for the issues about the localisations updates were not created yet (I started working on updating the 'fr' locale to match the latest release but had some questions so I was looking for an issue in the mean time)

[2018-06-08 11:58] kossnocorp commented on #751
Whatever

[2018-06-08 11:58] #751 closed

[2018-06-09 23:34] cbovis opened #776 "Alias some of the more generic method names"
Just started migrating from moment to date-fns and I'm loving the API so far. Fantastic job! One thing that's stood out however is that I need to alias some of my imports because the names are too generic. For example I'm aliasing `parse` and `format` as `parseDate` and `formatDate` respectively using `import { format as formatDate } from 'date-fns';`. I'd love to see some of these more generic na

[2018-06-10 06:44] kossnocorp commented on #776
That is a great idea 👍

[2018-06-11 13:44] Lakston opened #777 "[V2] fr (french) language support"
I'm working on a PR for French language support to match the new API and making good progress.

I have a couple of questions though :

- I have rewritten all the tests but I have a lot of errors, some coming from my test, some coming from the lib tests, even if I comment all my test, running `yarn test` yields errors, is that normal ?

- Concerning my test errors I'm running in a lot of errors lik

[2018-06-11 13:54] Lakston commented on #776
Is this just a matter of renaming the `format`  to `formatDate` in the `module.exports` and keep the `format` in the internals or rename it in the whole app ?

I could take a look at this.

[2018-06-11 19:27] leshakoss commented on #777
@Lakston please submit the PR first so we can take a look at those errors :-)

[2018-06-12 06:51] Lakston commented on #777
Thanks ! I submitted the PR, it can be seen [here](https://github.com/date-fns/date-fns/pull/778)

[2018-06-12 22:57] cbovis commented on #376
Is there a preferred approach for addressing this? Additional methods e.g. addDaysUTC or additional options to existing methods?

I'd love to start contributing on this one if there's an agreement on the API.

[2018-06-13 06:34] leshakoss commented on #376
@cbovis I've made a PoC a while ago: https://github.com/date-fns/date-fns/pull/625
I'd say we wait for v2 beta to make sure that API won't change anymore before doing it

[2018-06-13 08:13] edjw opened #780 "Nth day of the month, eg 3rd Sunday of the Month"
It would be great if it was possible to use this to get the nth day of the month. For example, for the second Saturday of the month something like this `.nthDayOfMonth(Sunday, 3)` would be really useful for churches, community groups etc

[2018-06-14 09:20] TSFoster commented on #780
I need to do this too :-)! Here is how I am using date-fns to do it:

[code]

[2018-06-14 18:57] ghost opened #781 "31-31-2018 is a valid date..."
version alpha 10

parse('31-31-2018', 'dd-MM-yyyy', new Date())

result = 2020-07-30T22:00:00.000Z
expected not a valid date result....

[2018-06-15 16:43] dancingshell commented on #781
Looks like it is adding the extra months until it lands in 2020. Not related to the parse function, but I have better luck with date validation using this constructor format `new Date('31,31,2018')`

[2018-06-15 18:11] BetterCallSky commented on #781
I have the same problem with `parse`. Is there any strict mode similar to momentjs?
For example:
`parse('22:61', 'H:m', new Date())` returns a valid date

[2018-06-15 23:35] mhf-ir opened #782 "non georgian calendars"
Is there any method for non i18n calendars like Persian islamic or etc ... ?
for example native intl datetime formatter in mdn:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat

example:
[code]

[2018-06-17 12:19] sedrak1987 opened #783 "hy"

[2018-06-17 13:19] #783 closed

[2018-06-17 23:46] osdiab opened #784 "`format` not distinguishing between day of month, day of year"
### Issue
Title is self explanatory. Day of month is being outputted by the `format` function as the day of the year. For instance, May 28 is outputted via `D` format string as `147`, when it should be `28`.

### Version

`date-fns@^2.0.0-alpha.10`

### Steps to repro
- install date-fns
- try to output day of month with `D` or `DD` or `Do` format strings.

### Example:

[code]

[2018-06-18 10:51] emilmork commented on #760
Glad I found this. Did not understand why parse('17.07.2018, 'DD.MM.YYY') gave me => 17.07.2017

[2018-06-18 14:59] leshakoss commented on #784
Since 8th alpha, the day of month is `d` (lowercase). See: https://date-fns.org/v2.0.0-alpha.10/docs/format

[2018-06-18 14:59] #784 closed

[2018-06-19 10:31] melkishengue opened #786 "Incorrect date with format ?"
I am trying to use the format method to display a date in a specific format. But resulting string has a month out of date. Here is my code:

`const d = format(new Date('2018-02-19'), 'MM/DD/YYYY');`

this gives me: `02/50/2018`

I am doing something wrong there ?

[2018-06-19 10:50] leshakoss commented on #786
Since 8th alpha, the correct token for day of month is `dd` (lowercase) and the correct token for year is `yyyy` (also lowercase). See: https://date-fns.org/v2.0.0-alpha.10/docs/format

[2018-06-19 10:50] #786 closed

[2018-06-19 10:51] leshakoss commented on #786
So, it should be actually `'MM/dd/yyyy'`

[2018-06-19 10:58] melkishengue commented on #786
My bad, thanks!

[2018-06-20 09:20] trisox commented on #781
What us also funny
const localeFormat = { locale: de };
const parsedValue = parse("01-01-1930", 'dd-MM-yyyy', new Date(), localeFormat);
const formatedValue = format(parsedValue, 'dd-MM-yyyy', localeFormat);

value === formatedValue

this should be the same but it is not its: "01-01-1930", === "31-12-1929"

[2018-06-20 22:06] LandonSchropp opened #787 "Round to nearest X of interval"
Sorry if this has already been answered, but I searched the issues and docs and didn't see anything like this.

Is there a way to round to the nearest X of an interval with `date-fns`? For example, is there anything like this?

[code]

[2018-06-22 13:49] OCJvanDijk opened #794 "Parse not reversible in c"

[2018-06-22 13:49] #794 closed

[2018-06-22 13:50] OCJvanDijk commented on #794
Hit enter by accident...

[2018-06-22 13:58] OCJvanDijk opened #795 "Format() is not inverse of parse() in Chrome, but it is in Safari/Firefox"
The following evaluates to false in Chrome, but to true in Firefox/Safari:

[code]

[2018-06-22 13:59] OCJvanDijk commented on #795
Tested with date-fns@2.0.0-alpha.10

[2018-06-22 23:51] jsanta commented on #572
I'm having this same issue using v1.29
Used @howtimeflies-io workaround with a couple of fixs:
- After my imports I added ```declare var require: any;``` because _require_ wasn't found.
- Inside my class I placed teh workaround line ```format = require('date-fns/format/index');``` without the const.
- Afterwards I was able to use _format_ like (eg)
```let today: string = this.format(new Date(), 'Y

[2018-06-23 22:36] gajus opened #797 "What is the purpose of the 3rd parameter in parse?"
From the documentation:

However, I was not able to construct an example where the above would be true.

Example:

[code]

Produces: 2016-07-01 00:00

Given the above description and today's date (2018-06-23 23:35) I would expect: 2016-07-23 23:35.

As far as I can tell, in most cases the third parameter will always be `new Date()`. If this is the case, then what is the reason it is required param

[2018-06-24 13:20] ziv opened #798 "Hebrew language support"
Add Hebrew support

[2018-06-25 08:41] OCJvanDijk commented on #795
Took me quite a while to narrow down the problem to the timezoneOffset, and then I found it was already fixed by #789 before I even posted the issue xD

[2018-06-26 13:23] Irwlz opened #799 "Format function not handling days correctly"
Hello, am I missing something or the format function is buggy with days (looks like `D` and `d` are reversed) ?

[code]

Using `2.0.0-alpha.11` release

[2018-06-26 13:25] #799 closed, assigned to nobody

[2018-06-26 13:28] Irwlz commented on #799
many thanks @leshakoss for your reactivity and clear answer :)

[2018-06-26 15:57] sconway opened #800 "isValid() returns true for invalid dates"
Hi. Does anyone know if there is a way to check if a date is valid (eg. 02/30/2000). isValid() seems to return true for this case.

[2018-06-27 13:29] Lakston commented on #797
From what I can gather, it does what the description says, 'fill in the gaps' when parsing a date, for example if you do:

`parse('07-08', 'MM-DD', new Date()) // Sun Jul 08 2018`

You are parsing a month and a date, and filling in the rest of the date with the 3rd argument., so July 8th, 2018

If you were for example basing your parse in another year (say you are parsing dates that you know are f

[2018-06-27 23:21] gajus commented on #797
You say that, but then in my example, none of the supporting data has been used from the 3rd argument (referring to hours, minutes, seconds).

Does it then only apply for months, days, years? This should confusing to say the least... perhaps using the data object for this purpose is not right and a better solution would be providing an object, e.g.

`parse('07-08', 'MM-DD', {year: 2016})`.

This w

[2018-06-28 05:17] leshakoss commented on #797
@gajus

No, it applies for all values. `parse('12:30', 'HH:mm', baseDate)` will take the exact day from baseDate. `parse('123', 'SSS', baseDate)` will take the exact second from baseDate and change only milliseconds.

The reason is that is makes `parse` a [pure function](https://en.wikipedia.org/wiki/Pure_function) for all possible arguments.

[2018-06-28 08:30] gajus commented on #797
Can you explain then why in this example:

[code]

Produces `2016-07-01 00:00` rather than 2018-06-23 23:35 (or whatever the time was at the time).

Is it because `parseDate` does not include a patter for HH:mm?

[2018-06-28 08:36] leshakoss commented on #797
@gajus `parse` takes from `baseDate` only those values, which are of the higher priority than values which we can get from the parsed string. Which basically means that if we are parsing `MMMM dd`, `parse` will take the year from `baseDate`, but will set the time to 00:00. The list of priorities is in the documentation: https://date-fns.org/v2.0.0-alpha.11/docs/parse

[2018-06-29 11:18] nodtem66 commented on #800
confirmed by `isValid('2000-02-30') => true`
IMHO, the root cause is `new Date()` API (that used in `toDate` -> `isValid`)

[code]

[2018-07-02 20:46] yonahforst opened #803 "#v2.0.0-alpha.11 `format` returns invalid date"
Just ran into this bug when upgrading from `v2.0.0-alpha.7` to `v2.0.0-alpha.10`
[code]
Downgraded back to alpha.7 so this does not occur

[2018-07-04 10:31] uLan08 commented on #372
the issue says unix timestamp but unix timestamps are supposed to be in seconds not milliseconds.

[2018-07-04 13:33] sleicht commented on #803
`DD` is the format for Day of year. `dd` is what you should use in this example:

[code]

[2018-07-04 14:24] yonahforst commented on #803
whoa! that makes sense. Sorry for the duplicate issue report!

[2018-07-04 14:24] #803 closed

[2018-07-05 11:07] megastef commented on #803
Hi, we've got a similar issue with the parse function in alpha.11:

[code]

Docs:
Alpha 11: https://date-fns.org/v2.0.0-alpha.11/docs/parse
Alpha 6: https://date-fns.org/v2.0.0-alpha.6/docs/parse

It looks you changed format strings again :(

This works:
[code]

[2018-07-05 11:54] megastef commented on #803
Please note the recent changes in format strings cause issues with backward compatibility. We maintain a list of log parser rules and the users of Logagent might need to change the format strings once we update to alpha 8+
See e.g.  https://github.com/sematext/logagent-js/blob/master/patterns.yml#L121

Do you plan additional format string changes?

[2018-07-05 11:58] sleicht commented on #803
The parsing and formatting follows, since alpha.8, the unicode technical standard: https://www.unicode.org/reports/tr35/tr35-dates.html#Date_Field_Symbol_Table

[2018-07-09 18:46] combizs commented on #800
`new Date('02/30/2000')` will create a valid date, so long as the month [1-12] day [1-31] are within the ranges provided.  In the instance of a leap year or a _short_ month, if the day provided exceeds what would be on a calendar and is still within the range, it would increment the month and take the remaining days as the new date.

[code]

As @nodtem66 mentioned, the cause is how `new Date` is i

[2018-07-11 02:23] yangganboy opened #805 "docs cann't open in china without vpn"
docs cann't open in china without vpn

[2018-07-12 21:14] ndelvalle commented on #229
Any news about implementing an exact human-readable difference? 🙂

[2018-07-13 08:16] glixlur commented on #805
The website itself seems to be down.

[2018-07-13 08:51] kossnocorp commented on #805
https://github.com/date-fns/date-fns.org/issues/115#issuecomment-402430016

In meanwhile you still can use JSDoc annotations (see example: https://github.com/date-fns/date-fns/blob/master/src/addSeconds/index.js#L4)

[2018-07-13 08:51] #805 closed

[2018-07-13 13:42] cosimochellini opened #809 "Wrong return value from getMonth()"
Hi, Hi, I'm using the getMonth() function but I get back the wrong month

`dateFns.getMonth(new Date())
//return 6

dateFns.format(new Date(),"MM")
//return "07"
`

thanks for the help

[2018-07-13 13:46] leshakoss commented on #809
@cosimochellini
in date-fns, as in JavaScript standard library 0 means January, 6 is July and 11 is December:
`new Date(2018, 0, 1) //=> 1st of January`
`new Date().getMonth() //=> 6`

`format`'s token MM outputs the natural number of the month, i.e. January is '1', July is '7' and December is '12'

[2018-07-13 13:47] #809 closed

[2018-07-14 09:42] Philipp91 opened #810 "Three-letter week days (ddd) look weird in German"
I use date-fns through [material-ui-pickers](https://github.com/dmtrKovalenko/material-ui-pickers), and with the `de` locale. In the date picker dialog, it displays today's date as "Sam, Jul 14", which looks very strange to me, almost like a badly translated American date.

The overall format `ddd, MMM D` is hard-coded in material-ui-pickers. Side question: Is there a function or locale-specific f

[2018-07-16 15:46] leshakoss commented on #810
@Philipp91 Thank you for using `date-fns`!

In the current stable release (aka v1) the definition of those format tokens are a bit ambiguous and were essentially the matter of preference of locale creators and the people who were reviewing their PRs. We didn't restrict `ddd` to three letter abbreviations, but the `de` locale as many others was based on `en-US` locale, which had lead to this unfort

[2018-07-17 18:56] Philipp91 commented on #810
@pex in case he has a strong opinion against this.

[2018-07-17 20:22] AJTJ opened #813 "solved"
No issue here. I simply forgot something.

[2018-07-17 20:51] #813 closed

[2018-07-18 07:17] vgebrev commented on #787
This works for me to round minutes:

    function roundToNearestMinutes(date, interval) {
        const roundedMinutes = Math.floor(getMinutes(date) / interval) * interval;
        return setMinutes(startOfMinute(date), roundedMinutes);
    }

    console.log(roundToNearestMinutes(new Date(), 15));

[2018-07-19 08:44] k0nserv commented on #571
The same thing happens in Safari and older version of Chrome/Firefox with `addDays`. For example in [Brasilia(BRT)](https://www.timeanddate.com/time/zones/brt) the following code

[code]

Returns `Sat Nov 3 2018 23:00:00 GMT-0300` in Safari and `Sun Nov 04 2018 01:00:00 GMT-0200` in Chrome  and `2018-11-04T00:00:00.000Z` in Firefox.

[2018-07-19 18:50] vancouverwill commented on #529
yeah I agree with @oldo it is easier to read. There is a reason why in regular arithmetic there exusts `<=` and `>=` instead of using inversion everywhere 😄

[2018-07-20 18:05] hdpinto commented on #219
Any update on this? The most recent stable version of `date-fns` (`1.29.0`) doesn't seem to have this functionality yet.

[2018-07-23 08:36] kotchuprik opened #814 "Issues with webpack bundling?"
Hey guys,

We are playing with date-fns (@next version), and this thing looks pretty good! I'm pleased with date-fns! But my friend used webpack-bundle-analyzer today, and the results are looking weird:

*component.jsx*
[code]

*Moment results:*

![image](https://user-images.githubusercontent.com/802946/43065168-a7b8feb4-8e69-11e8-8413-e96867b1a797.png)

*date-fns@next results:*

![image](https://

[2018-07-24 09:22] moimael opened #816 "Add function to set locale globally"
Hi,

It would be great to have the possibility to call a function that set the locale globally, instead of having to wrap date-fns functions. Something similar to `moment.locale()` where we would pass the imported locale.

Thanks !

[2018-07-24 10:18] tiagoengel commented on #571
This is definitely DST related but only when the DST transition happens during midnight, which is the case in Brazil. Screenshots bellow are from latest Safari with my system configured to use BRT timezone. November 4th is when Brazil transitions to DST.

<img width="343" alt="screen shot 2018-07-24 at 06 49 51" src="https://user-images.githubusercontent.com/1457263/43131242-f0331332-8f0e-11e8-8a7

[2018-07-25 16:46] tiagoengel commented on #571
I did some more testing and `setTime` seems to work fine on every browser. That is what moment is doing to go around this problem. see: https://github.com/moment/moment/pull/4338/files.

Ex:
[code]

[2018-07-26 09:16] gibbok opened #818 "Wrong format when using `hh:mm`"
I have a use case when I need to convert microSeconds to `hh:mm` format without the formatting considering the locale.

The `.format()` function return a wrong value, the expected result would be `00:01` when instead I get `01:01`.

Notes: Despite the fact that the documentation state that the`Result may vary by locale`, it would be super cool to have an option to disable the locale.

In case you

[2018-07-26 10:34] curry684 commented on #818
That's like saying you want to have a book written in no language.

There is *always* a locale. There is *always* some basic set of rules that defines formatting. Otherwise there is no formatting and you get an empty string no matter the input. It doesn't matter whether you call it `en`, `en-US`, `none` or `galatic-standard-time` - it's still a set of formatting rules.

[2018-07-26 15:05] leshakoss commented on #818
What you want to do is not disable the locale, but (probably) change the timezone to UTC+00:00. Right now it is not possible (see #180, #619).

But I feel like you're trying to use wrong instruments for your task. `format` formats *dates*, not times or durations or intervals. Maybe it would be easier to use a custom function?

[code]

[2018-07-27 09:57] mdrobny commented on #814
I think this line is a problem:
`import * as datefns from 'date-fns'`
You import all functions from data-fns to your bundle

Try:
`import { format } from 'date-fns'`
because you are using only `format` function

It should help thanks to webpack's tree shaking https://webpack.js.org/guides/tree-shaking/

[2018-07-27 10:04] TrySound commented on #814
Or try rollup. It doesn't care named export or namespace.

[2018-07-27 10:05] kotchuprik commented on #814
@mdrobny thanks! my bad, I added old code :)

![image](https://user-images.githubusercontent.com/802946/43315151-be58ec74-919d-11e8-9964-1f67e3d6063e.png)

![image](https://user-images.githubusercontent.com/802946/43315153-c0ff77fe-919d-11e8-885b-df8b3380e397.png)

just checked

[2018-07-30 07:13] paavohuhtala opened #819 "Options for strict parsing?"
I'm using `date-fns` (latest 2.0 alpha) to validate that certain datetime strings are in a specific ISO8601 compliant format. It's critically important that they are in the exact format I'm testing for so that certain invariants hold.

However, this parses as valid:

[code]

and even this:

[code]

I propose the parser should check if there's any remaining input after parsing, as long as a format

[2018-07-30 14:17] tiagoengel commented on #571
A couple more information, `setTime` is consistent in all browsers (even Safari).

Few examples:
[code]

The way we ended up fixing it internally was mostly not using `date-fns` functions, unfortunately, and using UTC most of the time. This is how we create a date at the start of the day atm.

[code]
I have also filed a Webkit but about this: https://bugs.webkit.org/show_bug.cgi?id=188001

[2018-07-30 15:17] leshakoss commented on #347
Fixed in [v2.0.0-alpha.14](https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha14) in PR  #808

[2018-07-30 15:17] #347 closed

[2018-07-30 15:18] leshakoss commented on #549
Fixed in [v2.0.0-alpha.14](https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha14) in PR  #815

[2018-07-30 15:18] #549 closed

[2018-07-30 15:20] leshakoss commented on #781
Fixed in [v2.0.0-alpha.14](https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha14) in PR  #815

[2018-07-30 15:20] #781 closed

[2018-07-30 15:21] leshakoss commented on #810
Fixed in [v2.0.0-alpha.14](https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha14) in PR  #810 and [ff33cc8](https://github.com/date-fns/date-fns/commit/ff33cc85afe31e129d8bd7dee3d7f7c6d2918390)

[2018-07-30 15:21] #810 closed

[2018-07-30 15:23] leshakoss commented on #800
Fixed in [v2.0.0-alpha.14](https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha14) in PR  #808

[2018-07-30 15:23] #800 closed

[2018-07-30 15:23] leshakoss commented on #797
This issue seems to be resolved. Please be free to reopen it or open a new issue if you have any questions.

[2018-07-30 15:23] #797 closed

[2018-07-30 15:34] leshakoss commented on #755
Closed in #773 and #820

[2018-07-30 15:34] #755 closed

[2018-07-30 18:46] leshakoss commented on #470
Closing this because now `format` tokens [are based](https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md#localizemonth) on [CLDR data](https://www.unicode.org/cldr/charts/32/summary/root.html)

[2018-07-30 18:46] #470 closed

[2018-07-30 20:50] bit-less opened #822 "More release versions to the CDN?"
Can we include each release in the CDN, or are we trying to prevent bloat?  We're at alpha 15 today on version 2, but the CDN stops at alpha0 (http://cdn.date-fns.org/v2.0.0-alpha0/date_fns.min.js).

[2018-07-31 07:49] leshakoss commented on #730
Probably won't do or do an alias later

[2018-07-31 07:49] #730 closed

[2018-08-01 07:41] leshakoss commented on #819
Fixed in [v2.0.0-alpha.16](
https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha16)

[2018-08-01 07:41] #819 closed

[2018-08-01 13:24] almaron opened #824 "Direct format input for formatRelative"
I have not found a way to directly supply a translation object to `formatRelative`, it goes straight to defined locales. I want to be able to change the way those are formatted (like switching from wide week days to short, etc).

[2018-08-02 07:51] leshakoss opened #826 "Make flexible time of day in `format` and `parse` more customizable"
Seems like 4 state flexible time of day (night/morning/afternoon/evening) doesn't apply to every language and locale:
https://github.com/date-fns/date-fns/pull/823#discussion_r206790761
https://github.com/date-fns/date-fns/pull/802#discussion_r202020366

We have to find a way to make this functionality more customizable.

[2018-08-02 10:26] ALCERQ opened #827 "XXX language support"

[2018-08-02 10:28] #827 closed

[2018-08-03 03:09] vogloblinsky commented on #814
Same problem for me.
Ionic application : v3.9.2
Angular : 6.1.1
Webpack : 3.8.1
date-fns : 2.0.0-alpha.16

I only have these two lines in two different files

[code]

![image](https://user-images.githubusercontent.com/2841805/43621527-4e6938fc-96d8-11e8-91aa-8e9c5cc51cb0.png)

I have just created a simple proof of concept to isolate the problem.

[code]

Bundled with rollupjs + rollup-plugin-node-

[2018-08-03 03:49] trongthanh opened #828 "VI locale migration"
Hi team,

I noticed that PR #700 disabled many locales including VI in which from my understanding that there are some changes to the API for the final v2.

My question is how the old locales are going to be migrated? Do you need locale authors to help with that? If yes, do you have documentation related to the locale migration?

[2018-08-03 19:34] mnquintana opened #829 "Add option for using / publishing one package per function"
👋 Thanks so much for all your hard work on this awesome library!

It would be really helpful for applications where disk space is a constraint and a bundler isn't the most viable option (e.g. scripts for Electron apps) to be able to pull in individual packages for only the functions you need. For example, if you only needed to use `distanceInWords()`, you could run something like:

[code]

and onl

[2018-08-07 11:38] envil opened #830 "Missing moment.unix()"
I tried to find the function similar to `moment.unix()` in date-fns but could find. Is it me couldn't find it or it's indeed not exist?

[2018-08-07 17:51] lihop commented on #828
@trongthanh The updated i18n contribution guide can be found [here](https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md#i18n-contribution-guide).
I'm attempting to update the vi locale now if you would like to collaborate.

[2018-08-08 05:58] trongthanh commented on #828
@lihop,

The i18n contribution guide doesn't mention any recent changes to the locale API.

I just did a quick compare of new `en-US` and current `vi` locale. It seems there are only few changes, including new localization for era and quarter and few new syntax.

I'd like to collaborate on the update but don't how to proceed where there are more than one collaborators. Please suggest your idea.

[2018-08-08 06:07] lihop commented on #828
@trongthanh I created a fork here. I started implementing changes by filling in the CLDR data from here https://www.unicode.org/cldr/charts/32/summary/vi.html as recommended by the contribution guide.

You can check out the diff here https://github.com/lihop/date-fns/compare/master...lihop:update-locale-vi

Still need to update the matches.

[2018-08-08 06:13] lihop commented on #828
@trongthanh By the way, I sent you a collaborator invite to that forked repo.

[2018-08-08 07:02] igrakhimov opened #831 "The year is incremented wrongly when parsing last short week in December for any year."
The buggy function is webpack:///./~/wc-lib/~/date-fns/esm/_lib/getUTCWeekYear/index.js

E.g. from date picker one choose 26/12/202**1** after parsing it will return 26/12/202**2**

[2018-08-08 08:43] nikomal opened #832 "parse('2018-08-08 12:23:23', 'YYYY-MM-dd HH:mm:ss') get a error result"
**version:**
`date-fns@2.0.0-alpha.11`

when I use the "parse"
`parse('2018-08-08 12:23:23', 'YYYY-MM-dd HH:mm:ss', new Date())`

the result is
`Tue Aug 08 2017 12:23:23 GMT+0800 (中国标准时间)`

the 'parse' when year >= 2018 ,the 'parse' result  will less one year

[2018-08-08 08:45] leshakoss commented on #832
[In v2.0.0-alpha.11](https://date-fns.org/v2.0.0-alpha.11/docs/format), `YYYY` is token for [ISO week-numbering year](https://en.wikipedia.org/wiki/ISO_week_date). Please use `yyyy` for regular year.

[2018-08-08 08:45] leshakoss commented on #831
@igrakhimov could you please provide the exact code line that returns a wrong result?

[2018-08-08 08:48] nikomal commented on #832
@leshakoss thx

[2018-08-08 08:48] #832 closed

[2018-08-08 08:48] leshakoss commented on #830
The best way to do it right now is to use `getTime` function which returns the milliseconds timestamp.

[code]

[2018-08-08 08:55] envil commented on #830
@leshakoss what I meant is to create a new Date object from the unix timestamp. I'm currently doing it like `const date = new Date(epoch * 1000)`

[2018-08-08 09:01] leshakoss commented on #830
Oh, my bad. Every function in `date-fns` does accept a milliseconds timestamp instead of any date argument, so you can use them the same way that you're currently doing it: `getISOWeeksInYear(epoch * 1000)`. Also [`parse` from v1](
https://date-fns.org/v1.29.0/docs/parse) and [`toDate` from v2](
https://date-fns.org/v2.0.0-alpha.16/docs/toDate) could be used to convert ms timestamps to a date, and

[2018-08-08 09:09] envil commented on #830
Yep, my situation is I have to initiate the date from epoch time quite a lot in my application, so having the `* 1000` magic number everywhere is quite irritating to me. I could write my own date util to create the date like `fromUnix(epoch)` that can return the date, but then what's the point to use a some library like date-fns. Also not many people know how to create the date from the epoch time

[2018-08-08 16:56] duclet opened #833 "Release v2"
Hello, folks at my company wants to start using this. However, version 2.0 which have the parse function which we need, is still not yet released as stable despite being released as an alpha over a year ago. Looking at the changes being made for each alpha release, it seems like there are constant breaking changes and new features which is leading to v2 not being released. Rather than keep doing t

[2018-08-09 01:02] igrakhimov commented on #831
@leshakoss  at line 54 the wrong year returned; at line 46 the startOfNextYear is set (that is where the problem starts I think) basically when at line 53 input date compared with startOfNextYear  the logic should be going to line 55 hope it help
![image](https://user-images.githubusercontent.com/8219089/43872038-e274fd6c-9bc2-11e8-8f40-6e4e27427257.png)

[2018-08-09 05:50] leshakoss commented on #831
@igrakhimov no, I mean the line of your code. Basically, what are you trying to achieve?

[2018-08-09 06:35] trongthanh commented on #828
In case anyone reading this, we're migrating vi locale at this PR: https://github.com/lihop/date-fns/pull/1

[2018-08-09 08:26] TheRusskiy opened #834 "Incorrect parsing with YYYY"
Straight from console:
`parse('2018-08-09', 'YYYY-MM-dd', new Date())`
=> Wed Aug 09 2017 00:00:00 GMT+0400 (Samara Standard Time)
`parse('2018-08-09', 'yyyy-MM-dd', new Date())`
=> Wed Aug 09 2018 00:00:00 GMT+0400 (Samara Standard Time)

Notice how year is 2017.

Version `2.0.0-alpha.16`

Thanks for the lib!

[2018-08-09 08:27] leshakoss commented on #834
[In v2.0.0-alpha.16](https://date-fns.org/v2.0.0-alpha.16/docs/format), `YYYY` is token for [ISO week-numbering year](https://en.wikipedia.org/wiki/ISO_week_date). Please use `yyyy` for regular year.

[2018-08-09 08:35] TheRusskiy commented on #834
Does it apply for format as well?

[2018-08-09 08:37] leshakoss commented on #834
[Yes](https://date-fns.org/v2.0.0-alpha.16/docs/format)

[2018-08-09 08:45] TheRusskiy commented on #834
@leshakoss thank you for the prompt response

[2018-08-09 08:45] #834 closed

[2018-08-09 13:51] curry684 commented on #833
So just include `2.0.0-alpha.16` like the rest of us?

[2018-08-09 13:59] duclet commented on #833
Just because it is a common thing in the JavaScript world (though I personally don't believe it is), there is a huge difference between stable and alpha. Working within a company, there isn't as much slack to just go and use whatever we want to. As the name alpha implies, especially with your changelog proving it, there is simply too much backward incompatible API changes. But ultimately, this is

[2018-08-09 14:02] leshakoss commented on #833
@duclet hello! Thank you for using `date-fns`! Here is the comment that should answer your question: https://github.com/date-fns/date-fns/issues/698#issuecomment-389099219

[2018-08-09 14:02] #833 closed

[2018-08-09 14:11] duclet commented on #698
But yet, with each alpha release, there is generally a breaking change (so the consistency is gone) and/or new features being added (decreasing stability). While I understand we want finalize things as best as we can, I would also say there should be a limit to how long it takes. Over a year is really pushing it in my view but again, I'm not going to force you to do anything. I would want to adopt

[2018-08-09 17:49] frlinw opened #835 "ESM import in nodejs 10 --experimental-modules"
In Nodejs 10 with --experimental-modules flag, the default import method does not work
[code]
~~But the [syntax recommended with typescript](https://date-fns.org/v2.0.0-alpha.16/docs/ECMAScript-Modules) does work.
So maybe this section could reference Nodejs too~~

[2018-08-11 14:24] touhidrahman opened #836 "Bengali language support"

[2018-08-12 06:52] ghostd commented on #464
Hi,

I started a POC to add the Intl support. But the current Intl specification does not allow the same scope of formatting. For example, it does not support '[quarter](https://github.com/date-fns/date-fns/blob/master/src/format/_lib/formatters/index.js#L172)', or it only has 3 formats for the day of week (and the current format function of date-fs allows [4 formats](https://github.com/date-fns/d

[2018-08-13 06:44] igrakhimov commented on #831
@leshakoss  sorry for delay, here we go
function that is calling the 'baggy' one
********************************************************
import Vue from 'vue';
**import {format} from 'date-fns/esm';**

Vue.filter('formatDate', (value: any, dateFormat?: string) => {
  return formatDate(value, dateFormat);
});
export function formatDate(value: any, dateFormat?: string) : string  {
  if (value) {

[2018-08-13 06:45] leshakoss commented on #831
[Since 8th alpha](https://date-fns.org/v2.0.0-alpha.16/docs/parse), `YYYY` is token for [ISO week-numbering year](https://en.wikipedia.org/wiki/ISO_week_date). Please use `yyyy` for regular year.

[2018-08-13 10:08] MilosRasic opened #838 "Localized date/time format based on browser language"
It seems that date-fns i18n is handling month and day names in different languages, but I was unable to find a way to implicitly format a date according to browser language like you can do with Intl API https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat

We can always use Date objects created by date-fns with Intl API, but I'd like to see a more functio

[2018-08-13 14:39] nutboltu commented on #836
@touhidrahman I am working on it.

[2018-08-13 15:25] touhidrahman commented on #836
I have also forked and started working. I request you to take a look at
github.com/touhidrahman/date-fns to avoid duplicate work. Thanks.

On Mon, Aug 13, 2018, 16:40 Farhad Yasir <notifications@github.com> wrote:

[2018-08-13 23:38] igrakhimov commented on #831
@leshakoss **did try as you suggested - still the same result.** See below
**date** (input formatted using lower case year yyyy)
Mon Dec 30 2019 11:00:00 GMT+1100 (Australian Eastern Daylight Time)
**startOfNextYear** (set on line 54 in getUTCWeekYear)
Sun Dec 29 2019 11:00:00 GMT+1100 (Australian Eastern Daylight Time)

Hence when comparing dates above at line 53 we have year incremented by 1 at

[2018-08-13 23:43] igrakhimov commented on #831
@leshakoss sorry correction: **startOfNextYear** (set on line **46** in getUTCWeekYear)

[2018-08-14 00:12] nutboltu commented on #836
@touhidrahman  Let's work together in one branch.  I am happy to contribute in your branch.

[2018-08-14 08:53] leshakoss commented on #831
@igrakhimov I still don't really understand what you're trying to do.
The lines of date-fns code that you're posting are relevant only for ISO week-numbering years and not for regular years.

I tried to replicate your bug by doing this:

[code]

As far as I can see, the result is correct. Could you please explain me what exact arguments passed to `format` function give a wrong result?

[2018-08-15 08:42] mvsmal opened #840 "Feature request: Exact age"
I one of my projects I needed to show the exact age of a person, in a format: 22 years 6 months 27 days.
Unfortunately I didn't find any suitable function in date-fns library.
I found several algorithms in internet doing this calculation, but none of them are human-friendly, basically they only count years as 365 days and months as 30 days, which is not exactly what I wanted.

So I implemented my

[2018-08-15 12:49] einarlove opened #841 "Parsing ISO 8601 Date without year returns Invalid Date"
In the release of __2.0.0-alpha.9__ there were [some changes](https://github.com/date-fns/date-fns/compare/eca6235...a1ed82d) that made using ISO 8601 dates with omitted year fail.

Previously you could write `getMonth('--02') === 1` but not anymore. Is this change intentional?

It was removed from the ISO 8601:2004 specification, so I understand if this is nothing you want supported.

[2018-08-15 19:22] gassios opened #842 "Results using Format with DD and dd are reversed"
date-fns 2 alpha 16
format(new Date(), 'MM/DD/YYYY') is giving me 08/226/2018 and should be 08/15/2018
format(new Date(), 'MM/dd/YYYY') is giving me 08/15/2018 and should be 08/226/2018
according to docs

[2018-08-15 21:29] leshakoss commented on #842
[Since 8th alpha](https://date-fns.org/v2.0.0-alpha.16/docs/format) `format` and `parse` function now base their formats on [UTS #35](https://www.unicode.org/reports/tr35/tr35-dates.html#Date_Field_Symbol_Table) standard which uses `d` for day of the month and `D` for day of the year.

[2018-08-16 08:16] Acidic9 commented on #720
Having this same issue..

[2018-08-16 13:57] #842 closed

[2018-08-18 21:17] TwoDCube opened #844 "HUN language support"
We're starting to work on Hungarian language support for v2

[2018-08-20 21:59] kariae opened #847 "custom format for getHours and likely functions"
is it possible to add an option to `getHours` function and likely functions `getMinutes, getSeconds ...` to force the output to be always on two digits?

`getHours(new Date(2012, 1, 29, 9, 45)) // 09 instead of 9`

something like `getHours(new Date(2012, 1, 29, 9, 45)), {digitsPattern: 2} // 09`

[2018-08-21 13:07] oliviertassinari commented on #277
Should we close this issue as a duplicate of #284?

[2018-08-22 00:08] igrakhimov commented on #831
@leshakoss Thanks Lesha for your help. You are absolutely right. If year token is yyyy then all is good.

[2018-08-22 08:05] RehanSaeed commented on #275
A comparison with [dayjs](https://github.com/iamkun/dayjs) would also be helpful (a 2kb bundle size and moment drop-in replacement). Although `date-fns` is 30kb, it's more like `lodash` in that it's just a collection of functions so you pay for what you use. However, what else would I be missing if I picked `dayjs`?

[2018-08-22 08:20] eenagy opened #848 "startOfISOWeek returns Sunday instead of Monday"
With the latest version, startOfISOweek returns Sunday as the start of the week instead of Monday.

[code]

So `getISOWeek` will be returning wrong numbers as well.

[2018-08-22 08:41] leshakoss commented on #848
Please note the time (17:00) and time zone (Z, which is +00:00). By default, node.js prints the date in UTC timezone (+00:00). Please use `toString` to print the date in your local timezone:

[code]

[2018-08-22 10:31] eenagy commented on #848
@leshakoss that won't change that is a bug

[2018-08-22 10:33] leshakoss commented on #848
@eenagy could you please tell us what timezone are you in?

[2018-08-22 23:25] ScottAgirs opened #849 "Latvian language support"
I tried to find a link where I can begin contributing translation, but couldn't find one.

Would gladly translate to my native - Latvian language.

Cheers

[2018-08-27 10:57] kaermorchen commented on #229
I have my custom solution

[code]

[2018-08-27 19:49] chovy opened #850 "can't import"
This dependency was not found:

* date-fns/esm in ./src/filters.js

[code]

[2018-08-29 02:54] binDongKim commented on #180
@kossnocorp I've noticed you guys introduced `locale` and `timezone` in format (and other functionality) in alpha but based on my try, `locale` is just a language support and the `timezone` option just adds the GMT sign, not the timezone support we discuss above right?

[2018-08-29 10:48] jaripekkala commented on #849
Here is the link to the guide

https://date-fns.org/docs/I18n#adding-new-language

[2018-08-30 09:43] wubzz opened #852 "Format adds 14 seconds to output string"
I'm having difficulties understanding why 14 seconds is appended to the following output string when using `.format`. Unsure if this is a bug or not, perhaps I'm just missing something. So feel free to close if it's not.

[code]

The former is wrong while the latter is correct. While I could use the latter, it doesn't work great in my case as I'm trying to allow any valid date-fns `input` includin

[2018-08-30 13:00] sebmor opened #853 "Overwriting distanceInWordsToNow formatting"
I am looking to adjust the default formatting of distanceInWordsToNow()

For example I would like to remove the "about" in aboutXHours and change "hour" to just "h"
[code]

I tried the following:

[code]

Is this possible atm? What would be the best way to do this?

[2018-08-31 20:38] cy2003 opened #854 "isValid() is returning true for strings with numbers"
In my js file I have
`import { isValid } from 'date-fns'`

And when I validate a string
`isValid(new Date('Design 2'))`
it returns true

[2018-09-01 15:50] mslooten commented on #854
Correct me if I'm wrong, but isn't that because `new Date('Design 2')` actually returns a valid date? I get: 'Thu Feb 01 2001 00:00:00 GMT+0100 (Central European Standard Time)' when I run that in the console.

[2018-09-01 19:05] cy2003 commented on #854
I see. I thought isValid() returns false if the value is not a date which `Design 2` is not.  I guess I misunderstood how the function is used.

[2018-09-01 19:18] #854 closed

[2018-09-05 10:54] masives opened #856 "[Docs] Include information on how to dynamically bundle only required languages"
If locale is required dynamically all languages in the date-fns are loaded into bundle (~160kb).  However it is possible to use webpack to trim down the languages added to bundle using Context replacement plugin.

Usage example
[code]

Config example:
[code]

This results in a language bundle of ~23kb.

[2018-09-06 05:49] mesqueeb opened #857 "Japanese not support. Require doc update."
The latest docs say that Japanese is supported. But to my knowledge beyond `alpha-7` it is not.

Docs url: https://date-fns.org/v2.0.0-alpha.16/docs/I18n

[2018-09-06 05:51] mesqueeb commented on #849
@ScottAgirs be careful that's the link for v1.
If you want to contribute to v2 use this link:
https://date-fns.org/v2.0.0-alpha.16/docs/I18n-Contribution-Guide

[2018-09-06 07:26] cocodinTech opened #858 "Galician language support"
We're starting to work on Galician language support (v2). It is an official language in Spain like catalan, spanish and euskera.

-ISO-639-2: glg
-ISO-639-1: gl

[2018-09-06 07:50] kossnocorp commented on #858
Thanks!

[2018-09-07 01:14] moedong opened #860 "can‘t open the documentation `https://date-fns.org/docs/Getting-Started`"

[2018-09-07 01:16] moedong commented on #860
it shows: `Failed to fetch version list`

[2018-09-07 03:07] beejei commented on #229
This is really important to replace moment.js for our side.
Additionally '.format' method also needed

[2018-09-07 07:15] havenchyk commented on #860
@moedong works for me

[2018-09-07 07:35] moedong commented on #860
can use the table to list the main usage in readme.md?

[2018-09-07 07:57] havenchyk commented on #850
@chovy it's a "feature" of version 2 afaik. What version do you use?

[2018-09-07 08:51] kossnocorp commented on #698
@MiracleBlue thank you so much for the kind words, Nicholas! ❤️ It's important to us hearing such feedback, thank you again! I'm looking forward to seeing you on the list of contributors. 🤗

[2018-09-07 08:56] kossnocorp commented on #850
@chovy if you want to use the ESM submodule you have to use `date-fns@next`. Please tell if you use v2 and still have the issue.

@havenchyk thank you for your help btw; it's much appreciated ❤️

[2018-09-07 08:56] #850 closed

[2018-09-07 08:59] kossnocorp commented on #860
@moedong that's an option, but I'd rather see a dedicated markdown file with the list of functions. If you want to help with that, I'll tell you a direction.

[2018-09-07 10:13] berritu opened #861 "Basque (eu) language support"
We're starting to work on Basque (euskara) language support. It is an official language in Spain like catalan, spanish and galician.

-ISO-639-2: eus
-ISO-639-1: eu

[2018-09-07 10:55] havenchyk commented on #847
I don't think it's possible at the moment @kariae

[2018-09-07 12:15] jbolda opened #862 "TypeError: Cannot read property 'apply' of undefined"
👋  Loving your work so far. I ran into a snag though, and not 100% certain where the cause is.

I have been using this on a project and writing it with codesandbox.io ( /cc @CompuIves). It was working fine for months, and then I started getting a TypeError in `convertToFP`. This is on v2 (all of them as far as I can tell), and only seems to happen in codesandbox.io. If I download and run locally,

[2018-09-07 12:29] fnlctrl commented on #847
It's probably out of scope of this library. You can simply use [`String.prototype.padStart`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/padStart):
[code]

[2018-09-07 13:17] kariae commented on #847
Thanks @fnlctrl for the workaround :)

[2018-09-07 17:33] CompuIves commented on #862
This is a mistake on our side since a recent update! I will deploy a fix for it now. Thanks for letting me know.

[2018-09-07 20:26] kossnocorp commented on #862
@CompuIves thank you for chiming in!

[2018-09-07 20:26] #862 closed

[2018-09-08 03:29] jbolda commented on #862
Thanks for taking care of it so quick, @CompuIves !

[2018-09-08 09:53] TheAppField opened #863 "[ 2.0.0-alpha.16] differenceInMinutes return 59 instead of 60"
I've just upgraded to 2.0.0-alpha.16 and noticed that `differenceInMinutes` returns 59 minutes instead of 60 by a difference of one hour.

Example:
For these both dates:
`Sat Sep 08 2018 11:37:00 GMT+0200 (Central European Summer Time)`

`Sat Sep 08 2018 12:37:00 GMT+0200 (Central European Summer Time)`

The result is **59** instead of 60.
When we remove 1 minute from the second date (-> 36 minute

[2018-09-09 08:04] havenchyk commented on #835
@frlinw thanks for reporting. Which version of the lib you've used? `date-fns/esm` is available only for `date-fns@next`

[2018-09-09 10:40] frlinw commented on #835
Currently 2.0.0-alpha.16

No problem with ES 2015
[code]
But ESM fails
[code]
Syntax suggested under ESM tab:
[code]

[2018-09-09 16:49] havenchyk commented on #835
@frlinw well, I found the reason. node understands experimental modules only if you use `.mjs` extension. I presume it doesn't make sense to rename `.js` to `.mjs`, @jdalton wrote this comment about the same problem in lodash https://github.com/lodash/lodash/issues/3775#issuecomment-386603885

[2018-09-09 17:53] TrySound commented on #835
Why not use `date-fns` directly. For example bundler will automatically resolve esm by `module` field.

Node support is still experimental, so I don't think it's a good reason to migrate every package.

[2018-09-10 16:06] mjbates7 opened #865 "How to parse a new Date().toString() date format?"
Hello,

I have a date stored in the format of `Wed Dec 26 2018 00:00:00 GMT+0000 (Greenwich Mean Time)`

See the following:
[code]
When I try to parse this, I get an "Invalid Date" returned..

This used to work on v1.29.0 with `parse`.

Any ideas on how I can do this on the v2.x version going forward?

Thanks :)

[2018-09-10 23:51] MiracleBlue commented on #698
My pleasure!  Yes, I also hope to be on the contributors list at some point in the near future.

Hope you're all having a great day!

[2018-09-12 08:17] stevemao commented on #275
For those who'd like to transition from momentjs to date-fns, please check out https://github.com/you-dont-need/You-Dont-Need-Momentjs

[2018-09-12 08:40] Nirlah commented on #798
#867 Updates Hebrew to support v2

[2018-09-12 08:40] #798 closed

[2018-09-13 04:17] cocody opened #868 "Please don't save the data into firebaseio"
https://date-fns.firebaseio.com/versions.json

In china，We can’t  read the date-fns document because firebaseio is hidden by gov

this is the reason why we are losing in the company promotion

[2018-09-13 07:47] kossnocorp commented on #868
While I understand your pain, I can't promise that we'll change that anytime soon. The code is well documented and JSDoc annotations could be used as documentation, for example, see: https://github.com/date-fns/date-fns/blob/master/src/differenceInCalendarWeeks/index.js#L6-L42

[2018-09-13 07:47] #868 closed

[2018-09-13 07:50] kossnocorp commented on #865
You can use the `Date` constructor although it's not guaranteed that it will work consistently in every browser.:

[code]

Instead, I advise you to use the ISO-8601: `new Date().toISOString()` which is the best choice for storing and transferring dates.

[2018-09-13 07:50] #865 closed

[2018-09-13 07:56] kossnocorp commented on #835
As others noted, this an experimental feature and a subject to change. We'll consider it once it's stable.

[2018-09-13 07:56] #835 closed

[2018-09-13 07:59] kossnocorp commented on #847
Strings formatting is definitely out of the scope of the library, so please use @fnlctrl's suggestion.

[2018-09-13 07:59] #847 closed

[2018-09-13 08:00] kossnocorp commented on #861
Thank you!

[2018-09-13 08:02] kossnocorp commented on #857
That's a good point, thank you!

This list is a source of confusion and recurring PR requests. I think we should deprecate it and replace with an automatically generated list.

[2018-09-13 08:04] #831 closed

[2018-09-13 08:16] kossnocorp commented on #841
We try to stick to standards and since the latest ISO 8601 doesn't allow omitting the year when a month is present, we won't support it. I'm sorry.

[2018-09-13 08:16] #841 closed

[2018-09-13 08:27] kossnocorp commented on #818
As @leshakoss noted, `format` isn't built for formatting durations and intervals. In the future, we're planning to support those, but For now, please use the function suggested by Lesha. Btw, you can use `String.prototype.padStart` instead of `addLeadingZeros`.

[2018-09-13 08:27] #818 closed

[2018-09-13 08:37] eduardopsll commented on #844
Hi @TwoDCube what is your state of the update of that language?
Currently I have done the update of that language since we need it for an app.

[2018-09-13 08:43] kossnocorp commented on #814
First of all webpack-bundle-analyzer shows the result in development mode before tree-shaking and uglifying. Also, the mentioned example gives me (`webpack@4.18.0`) an expected result:

[code]

[2018-09-13 08:43] #814 closed

[2018-09-13 08:49] Christilut opened #869 "Granularity"
I couldn't find it in the docs, but is there a granularity option like Moment has?

For example:
[code]

I want my `date` to be after today (regardless of time).

[2018-09-13 08:59] vogloblinsky commented on #814
@kossnocorp yes, it seems related to webpack 3 and not date-fns which is correctly structured to support tree-shaking. In my previous comment rollup and webpack 4 gives me correct results.

[2018-09-14 08:48] Kingwl commented on #830
👍 helpful to me,
i prefer to explicit convert rather than `* 1000`

[2018-09-14 09:25] wzup opened #871 "Greetings depending on time of day?"
Does this lib have this feature?

[code]

Is it supported?

[2018-09-14 13:48] ahtcx opened #872 "Add time to `formatRelative` with all cases"
Currently `formatRelative` adds a time for nearby times but only displays the date for further dates as can be seen [here](https://date-fns.org/v2.0.0-alpha.16/docs/formatRelative). That behaviour isn't really consistent - shouldn't it display something like `12/31/2017 at 04:30 AM` for those cases?

[2018-09-14 15:40] bcowgill opened #873 "Missing a format for local time zone name perhaps ZZZ -> BST"
Z and ZZ give timezone offsets in different formats but there's nothing to get the name of the timezone for a given date.
Javascript .toString gives
       Fri Sep 14 2018 16:38:24 GMT+0100 (BST)
       Fri Sep 14 2018 08:39:45 GMT-0700 (PDT)

so am suggesting that the BST or (BST) or PDT or (PDT) would be provided by a format marker of ZZZ

[2018-09-14 16:36] kossnocorp commented on #872
That is a good point, we can allow passing a custom formatting string for the "Other".

[2018-09-14 17:46] ahtcx commented on #872
Sorry for closing this early - I figured I could pass my own custom formatting in the locale option, but it would be nice to have an easier way to do so.

[2018-09-14 17:48] kossnocorp commented on #872
That's cool. I can't promise when it will be released, but it's something worth implementing.

[2018-09-17 16:10] kossnocorp opened #875 "Consider running tests in Node.js"
Right now we run tests only in headless Chrome. To make sure that date-fns don't break in different Node.js environments, we should consider running tests in Node as well.

For the background, see discussion: https://github.com/date-fns/date-fns/pull/874

[2018-09-17 16:30] kossnocorp commented on #873
That is a valid point although the token should be different `z...zzz`. In v2 we've adopted Unicode Technical Standard #35: https://www.unicode.org/reports/tr35/tr35-dates.html#Date_Field_Symbol_Table:

<img width="1372" alt="image 2018-09-17 at 7 27 26 pm" src="https://user-images.githubusercontent.com/52201/45636208-c6135900-baaf-11e8-9b05-f2eba0922361.png">

Right now (v2) as specified in the s

[2018-09-17 16:37] kossnocorp commented on #871
No, date-fns doesn't have this feature, and I feel like it should be a separate library. If we decide to do that, that will open the pandora box.

[2018-09-17 16:37] #871 closed

[2018-09-17 17:43] volodalexey opened #876 "[ 2.0.0-alpha.16] RU Locale Invalid parse() result"
[code]
returns 2018-01-12T22:00:00.000Z

[2018-09-18 07:40] jaimesangcap opened #877 "parse: .Net Json date format"
.Net serializes the Date with this **`string`** format `/Date(ticks)/` where ticks is the number of milliseconds since 1 January 1970.

Here is the example of actual date:
`/Date(1536955200000)/` = `2018-09-15 00:00:00` (YYYY-MM-DD HH:mm:ss)

[2018-09-18 08:15] mesqueeb commented on #857
@kossnocorp Yes that is a very good idea! I think it will take away much confusion, as currently date-fns **alpha** does not have all the localisations it's promoting in the documentation.

[2018-09-18 11:06] reyrodrigez commented on #844
hi @TwoDCube @eduardopsll have a look at the https://github.com/date-fns/date-fns/pull/864

[2018-09-18 12:29] kossnocorp commented on #844
The PR is about to get merged. After that, I also want to merge few pending locales and then create a release. Stay tuned :-)

[2018-09-18 12:34] #836 closed

[2018-09-18 12:45] #844 closed

[2018-09-18 12:59] #828 closed

[2018-09-18 13:21] #858 closed

[2018-09-18 17:43] kossnocorp commented on #876
Thank you for heads up, I'm going to investigate what's the reason of the issue.

[2018-09-18 18:30] kossnocorp commented on #876
Oh, I got confused. This is actually not a bug.

First of all, in v2 we adopted Unicode Technical Standard #35: https://www.unicode.org/reports/tr35/tr35-dates.html#Date_Field_Symbol_Table and tokens have changed. You have to use `d MMMM yyyy` to make it parsed correctly.

The second part of the problem (`22:00`) is caused by console converting your local time (which is actually `00:00`) before pr

[2018-09-18 18:30] #876 closed

[2018-09-18 18:31] kossnocorp commented on #863
Thank you for reporting this! We're going to fix this problem.

[2018-09-20 07:54] kossnocorp opened #881 "Fix broken tests for the Spanish locale"
Right we have 4 broken tests for the Spanish locale in the master: https://travis-ci.org/date-fns/date-fns/jobs/430892444#L1064-L1160.

I still can't understand when and how this happened and it blocks a new release. @date-fns/i18n-es please help me to fix it.

Here are the tests that are failing:

1. https://github.com/date-fns/date-fns/blob/master/src/locale/es/_lib/formatDistance/test.js#L146-L

[2018-09-20 08:21] kossnocorp opened #882 "Fix broken tests for the Galician locale"
Right we have 6 broken tests for the Galician locale in the master: https://travis-ci.org/date-fns/date-fns/jobs/430892444#L1162-L1279

They were probably failing [in the PR](https://github.com/date-fns/date-fns/issues/858) and it's my bad that I didn't notice that. @cocodinTech please help to resolve these.

1. https://github.com/date-fns/date-fns/blob/master/src/locale/gl/test.js#L107-L110:

[co

[2018-09-20 08:25] kossnocorp opened #883 "Fix warnings in the tests"
1. `Buffer` related:

[code]

2. `os.tmpDir` related:

[code]

3. `find` related

[code]

[2018-09-20 10:46] cocodinTech commented on #881
1) Correct is right one 'arredor de 1 ano'
2) Correct is right one 'arredor de 2 anos'
3) Correct is left one: "2 anos"
4) Correct is right one: 'fai arredor de 1 ano'

[2018-09-20 13:10] guigrpa commented on #882
@fidelpita I guess this is for you ;)

[2018-09-20 13:13] guigrpa commented on #881
The corrections suggested by @cocodinTech don't look like Spanish to me 😉. Maybe it refers to the similar issue on Galician (#882)?

In Spanish, it should be:
1. "alrededor de un año"
2. "alrededor de dos años"
3. "2 años"
4. "hace alrededor de un año"

[2018-09-20 13:29] cocodinTech commented on #881
I think the correct title for this issue should be "Fix broken tests for the Galician locale"

[2018-09-20 13:55] harogaston commented on #881
@kossnocorp If i follow links to source in your comment the code is not the same I see in your snippets.
I agree with @guigrpa, that is not Spanish (Castillian) maybe it is Galician, I don't know.

[2018-09-20 14:46] kossnocorp commented on #881
Omg, this is actually Galician. I've missed that one of its tests has a wrong description https://github.com/date-fns/date-fns/blob/master/src/locale/gl/_lib/formatDistance/test.js#L7:

<img width="792" alt="image 2018-09-20 at 5 45 12 pm" src="https://user-images.githubusercontent.com/52201/45826313-f439a880-bcfc-11e8-9d2d-12f974c9ee49.png">

Sorry for troubles, I just got confused.

[2018-09-20 14:46] #881 closed

[2018-09-21 05:04] kossnocorp opened #884 "Fix TZ sensitive formatRelative problem"
In Spanish `formatRelative` (and likely in other locales and functions) there are singular and plural forms: `ayer a las 22:22` and `ayer a las 01:22`.

I've just got into a time [where usage of UTC in `formatRelative`](https://github.com/date-fns/date-fns/blob/master/src/formatRelative/index.js#L82-L85) causes a test failure:

![image 2018-09-21 08 03 16](https://user-images.githubusercontent.com

[2018-09-21 08:44] kossnocorp commented on #844
I've just published a new version with this locale `date-fns@2.0.0-alpha.18`. See the change log: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha18

[2018-09-21 15:23] tgriesser opened #887 "Match the console version of the library to the docs"
Minor thing, but a lot of times when I'm looking for a particular feature in a JS library, I'll go to the docs and try it out in the console. However the version of date-fns doesn't switch when you switch the documentation version, so what you're trying out in the browser console doesn't line up with what you're viewing in the docs.

[2018-09-21 16:31] TomDeSmet opened #888 "format() not showing up in IE11 or Safari"
Hi,

for some reason, everything I output with format() is not shown in Safari or IE11. I have nu clue why.
When I try to use format for a date field, it works on Chrome, but Safari/IE11 don't show anything. However, Safari does know the date because my further calculations work. But it does not show it in the date field.

I tried adding a number field and add only the day to it with the format fu

[2018-09-21 22:28] MahdiMajidzadeh opened #889 "Persian language support"
I will add Persian translation to this project
any advise?

[2018-09-22 07:00] Sawtaytoes opened #890 "esm/ folder missing when date-fns loaded through another package"
I have a 1st party package which contains all the other npm packages I need in my app at the correct version. When I load that package, the esm/ folder exists. But when I load that package in my app, it does bring in date-fns, but the esm/ folder is missing.

For whatever reason, this used to work, but all-of-a-sudden, it's not working anymore. It might have something to do with a newer yarn versi

[2018-09-22 20:13] liamtarpey commented on #857
Does this mean Japanese is being deprecated or just isn't supported in `2.0.0` yet?

[2018-09-23 07:08] mesqueeb commented on #857
@liamtarpey I think no one has worked on it yet.
The current contribution guide is quite extensive... : S
https://date-fns.org/v2.0.0-alpha.16/docs/I18n-Contribution-Guide

If you know anyone feel free to send them that link!

[2018-09-24 08:46] smasala commented on #219
Works with `2.0.0-alpha.16`:
[code]

[2018-09-24 09:42] barbalex commented on #219
Actually, the parse function of data-fns in v2 can not replace moment.js for me yet. If on 2018-09-24 I write these functions I get:
[code]

So moment.js deduces month and year for me. Which enables users to be really lazy when entering dates.

This is not possible with the parse function in data-fns, or have I missed something?

[2018-09-24 11:05] smasala commented on #219
@barbalex yes.... that doesn't work as far as I'm aware. Having a similar issue and having to parse the date string myself first :-1:

[2018-09-24 19:08] kossnocorp opened #891 "Allow specifying optional token when parsing a date"
See the comments for the background: https://github.com/date-fns/date-fns/issues/219#issuecomment-423922562

It could work like that (given that today is 24th September 2018):

[code]

[2018-09-24 19:11] kossnocorp commented on #219
@smasala @barbalex

[code]

That is precisely the type of behavior we try to avoid. It might seem handy when you expect it, but when you don't, it causes bugs that hard to track. Being consistent is one of the core values of date-fns, we there's no way we'll implement loose parsing.

Although there're cases when it's useful, so we probably could implement optional tokens i.e. `parse('24.09.2018',

[2018-09-24 19:16] kossnocorp commented on #703
@alyrik that would be great if you could help to port the PR. Releasing v1 and then porting the code back to v2 causes a lot of headaches, so that's why it still open. Eventually, I plan to deal with v1 PRs, but I can't promise that there'll be another v1 version.

Here is the guide that will help you update the locale: https://date-fns.org/v2.0.0-alpha.18/docs/I18n-Contribution-Guide

I understan

[2018-09-24 19:18] kossnocorp commented on #891
@Sawtaytoes first of all `esm` folder doesn't exist in the v1, but only in v2. Also, it always better to add the libraries you use directly to your `package.json` so it won't cause that kind of problems.

[2018-09-24 19:18] #891 closed

[2018-09-24 19:19] kossnocorp commented on #889
@MahdiMajidzadeh that is great, much appreciated! Please follow this guide: https://date-fns.org/v2.0.0-alpha.18/docs/I18n-Contribution-Guide

[2018-09-24 19:26] #887 closed, assigned to nobody

[2018-09-24 19:27] kossnocorp commented on #877
You can parse it using JS: `new Date(parseInt('1536955200000'))`

[2018-09-24 19:27] #877 closed

[2018-09-24 19:31] TomDeSmet commented on #888
It was entirely my own fault and had nothing to do with your excellent library which saved me tons of time!

[2018-09-24 19:31] #888 closed

[2018-09-24 19:32] kossnocorp commented on #888
@TomDeSmet thank you for the update 👍

[2018-09-24 19:36] kossnocorp commented on #830
That's a good idea and easy to implement. My API suggestion is two functions: `fromUnix()` and `toUnix()`.

I'm strictly against being "smart" and trying to guess if it's JS time or Unix time because that would cause unpleasant bugs. Also given that you receive the time in seconds, it's vital to know that JS has time in milliseconds because likely you will send the time back to the back-end.

Also

[2018-09-24 19:39] kossnocorp commented on #856
Great point, feel free to contribute! I suggest to create a new doc "webpack.md" in the `docs` folder: https://github.com/date-fns/date-fns/tree/master/docs and then adding it to the index: https://github.com/date-fns/date-fns/blob/master/docs/index.js#L80

[2018-09-24 19:43] kossnocorp commented on #852
`1899-12-30T00:00:00` isn't a valid [ISO-8601](https://en.wikipedia.org/wiki/ISO_8601) string, so date-fns has a hard time parsing it. Starting with v2, date-fns will return you an invalid date for such string. You still can parse it using `new Date()` but I do not recommend it because it doesn't work consistently in different browsers. Consider using the ISO string or timestamps.

[2018-09-24 19:43] #852 closed

[2018-09-25 06:00] Kingwl commented on #830
I have already sent a pr for `toUnix` but named `getUnixTime `
https://github.com/date-fns/date-fns/pull/870

[2018-09-25 06:02] kossnocorp commented on #830
@Kingwl oh wow, I did miss it 🤦‍♂️ Thank you a lot, I'll take a look.

[2018-09-25 06:27] kossnocorp commented on #852
It's unfortunate but it's in your interest. You don't want to one day figure out that the dates are all wrong in a specific browser that you never open.

You can use `parse` from v2 that allows parsing of any format: https://date-fns.org/v2.0.0-alpha.18/docs/parse

[code]

[2018-09-25 06:58] kossnocorp commented on #372
@uLan08 since date-fns is a JS library where every time value is in milliseconds (i.e. `setTimeout`/`setInterval`) for consistency sake we keep everything in ms.

The next v2 release will include `getUnixTime`: https://github.com/date-fns/date-fns/pull/870

[2018-09-26 07:16] #856 closed

[2018-09-26 10:36] ThePaulMcBride commented on #609
I'd be happy to do this if you could explain a little more about what the issue is.

[2018-09-26 10:40] graingert commented on #609
It's just for convenience

[2018-09-26 18:48] duereg commented on #838
👍

[2018-09-26 22:35] fpintos commented on #376
I found myself in the same pickle; we have dates in different time zones and the only reliable way to represent them was to use the UTC fields and doing so requires UTC-based versions of the functions. I ended up writing the few ones I needed.

[2018-09-27 02:32] christophermiles opened #893 "Errors viewing 2.0.x documentation"
For example, attempting to view `https://date-fns.org/v2.0.0-alpha.9/docs/parse` results in:

[code]

[2018-09-27 09:30] alexcroox commented on #579
Adding this to the documentation would be useful, I had to google several times to find this issue.

[2018-09-29 01:04] pjc2007 opened #894 "Mongolian language support"
Considering replacing existing lib with this, and to do this would be interested in seeing Mongolian support (mn)

[2018-09-29 05:34] kossnocorp commented on #760
There is what we're going to do to address the confusion about tokens:

- [ ] Collect popular tokens that confuse. `YYYY` and `DD` is a good start, what else?
- [ ] Throw a descriptive exception when a user tries to use those tokens in `format` and `parse` without passing a special option. The name is yet to figure, but it could be something like `imAwareAboutUnicodeTokens`. We'll keep it for a wh

[2018-09-29 06:16] JeffersonSchuler opened #895 "format(new Date(), 'DD') produces day of year instead of day of month"
format(new Date(), 'YYYY_MMM_DD__HH_mm_ss')

**Output**: 2018_Sep_272__02_13_30

**Expected Output**: 2018_Sep_29__02_13_30

[2018-09-29 07:40] kossnocorp opened #896 "Make p+ tokens consistent"
Right now p+ tokens (`p`, `pp`, `Pp`, etc.) aren't' consistent and also have incorrect docs.

[2018-09-29 07:48] kossnocorp commented on #895
I assume that you use v2 where we adopted [Unicode Technical Standard #35](https://www.unicode.org/reports/tr35/tr35-dates.html#Date_Field_Symbol_Table).

According to the standard `YYYY` is "Local week-numbering year" and `DD` is "Day of the year". Please use `yyyy` and `dd` instead. See [the docs](https://date-fns.org/v2.0.0-alpha.18/docs/format) and [the change log](https://date-fns.org/v2.0.0-

[2018-09-29 07:48] #895 closed

[2018-09-29 07:49] kossnocorp commented on #893
It works for me. If the error persists, please open an issue at the date-fns.org repo with more info about your browser, network, and the full stack trace: https://github.com/date-fns/date-fns.org

[2018-09-29 07:49] #893 closed

[2018-09-29 07:55] kossnocorp commented on #894
That would be great indeed. If you or someone starts working on it, please leave a comment, and I'll reopen the issue.

[2018-09-29 08:03] kossnocorp commented on #853
That isn't possible at the moment and given the endless number of possible formats; it will require substantial effort to make it work in every supported locale.

In v2 we introduced an ability to override locale internals, so you can easily achieve it by writing a custom implementation of [`formatDistance`](https://github.com/date-fns/date-fns/blob/master/src/locale/en-US/_lib/formatDistance/inde

[2018-09-29 08:03] #853 closed

[2018-09-29 08:04] #848 closed

[2018-09-29 08:05] kossnocorp commented on #372
`getUnixTime` was released as `date-fns@2.0.0-alpha.20`. See the change log: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha20

[2018-09-30 17:03] ifrguy opened #898 "1.29.0 missing from downloads"
The downloads do not include 1.29.0, the series stops at 1.28.5.  Is there a reason for this?

[2018-09-30 20:47] parminderkaur opened #899 "Parse function not returning correct date"
I am using v2.0.0-alpha.20.

When I make the following method call:

`parse('02/11/2014', 'MM/DD/YYYY', new Date());`

I get `Fri Jan 11 2013 00:00:00 GMT-0800 (Pacific Standard Time)`

When I only parse with month and year: `parse('02/2014', 'MM/YYYY', new Date());`

I get `Fri Feb 01 2013 00:00:00 GMT-0800 (Pacific Standard Time)`

I am confused by this. Need help.

And I am confused because the

[2018-10-01 17:45] mathiasvr commented on #899
See the correct documentation for this version: https://date-fns.org/v2.0.0-alpha.20/docs/parse.

The format string should be `MM/dd/yyyy`:
[code]

[2018-10-01 18:15] mathiasvr commented on #898
What do you mean with downloads?

It is listed in both npm and github releases between `2.0.0-alpha.7` and `2.0.0-alpha.8`.
It might be difficult to see, since it doesn't have any release notes.

[2018-10-01 18:37] parminderkaur commented on #899
Yes. It was my mistake! Thanks!

[2018-10-01 18:37] #899 closed

[2018-10-01 19:15] kossnocorp commented on #899
@mathiasvr thanks for helping!

[2018-10-01 20:10] mathiasvr commented on #899
@kossnocorp No problem! 😄

[2018-10-01 20:16] #884 closed

[2018-10-01 20:47] ifrguy commented on #898
Man, I totally missed it being shoehorned in between a couple of 2.00 releases, just skipped all the 2.0 stuff.  Something a lawyer could love.

[2018-10-01 20:47] #898 closed

[2018-10-01 20:55] kossnocorp commented on #838
@MilosRasic I like the idea, and I think it's a good chance to make `format` thinner. If we alter the current `format`, it will increase its size, and Intl API will gain unnecessary weight caused by locale-related code. I suggest naming it `intlFormat`.

Yes, please:

[code]

[2018-10-01 21:03] kossnocorp commented on #829
@mnquintana Thanks for your kind words!

I like the idea but I have a concern: the people will start getting duplicated code because of dependencies using different versions, `date-fns` and `@date-fns/distance-in-words`, etc.

@jdalton could you please tell me what's your experience of having `lodash.assign`, `lodash.clonedeep`, etc. with lodash?

[2018-10-01 21:13] kossnocorp commented on #787
I like the idea. 👍 for `roundToNearestMinutes`

[2018-10-01 21:29] jdalton commented on #829
If I could do it again I wouldn't produce `lodash.assign`, `lodash.clonedeep` and others. It's a maintenance pain. Folks end up reaching for them thinking they'll get a smaller bundle but the fact is that plain old `lodash` + `lodash-webpack-plugin` or `babel-plugin-lodash` end up creating smaller packages. If I could go back I'd focus folks on the primary modular package instead offering individu

[2018-10-01 21:34] kossnocorp commented on #829
@jdalton good point, thanks!

@mnquintana I think it's out-of-scope to provide individual packages in order to reduce disk space. It would be great to have a dedicated tool for reducing package size but it's definitely that we can't focus on.

[2018-10-01 21:34] #829 closed

[2018-10-02 00:17] hmaurer opened #901 "Inconsistency in how range bounds are handled"
I stumbled upon a pretty major inconsistency tonight in how range bounds are treating in the library. First of all, I was a little surprised to find that `isWithinRange` treats both bounds as inclusive, which makes it a little difficult to handle some scenarios. I won't go into detail on this as it has already been discussed in #366.

The bigger issue is that it seems that the `areRangesOverlappin

[2018-10-02 10:54] pke commented on #284
Its been over 2 years since this feature was requested.
In the meantime everyone can use this one:

[code]

[2018-10-02 11:56] MahdiMajidzadeh commented on #889
Done in https://github.com/date-fns/date-fns/pull/903

[2018-10-02 13:14] frytyler commented on #883
Hey I'll take a look at this and see if I can clean up the warnings.

[2018-10-02 14:33] Lakston opened #906 "[tests] authorize other languages to add or modify some tests"
As of now, the tests for all languages are the same, that seems like a logical and good overall option but as we add more languages quite often, some languages might need some modified or new tests to test language specific oddities.

For example, in French,  'year' 'hour' and 'week' are feminine whereas 'day' and 'hour' are masculine so the wording for '1st' or '3rd' are different, in the actual

[2018-10-02 19:41] frytyler commented on #883
@kossnocorp oops, I was on the master branch which I didn't realize is v2. I just switched to v1 started to see the warnings.

But now I have a question. These warnings seem to be related to out of date packages. Will v2 bring those packages up to date? Or should I try to update the ones causing the issues.

[2018-10-03 02:31] swarchen opened #907 "FP version `parse` return invalid while pass the same args in non-FP version"
The behavior explained as below.

[code]

And here is the example on [codesandbox](https://codesandbox.io/s/r5v4px836q)

[2018-10-03 03:02] swarchen commented on #907
Sorry I found out `Each non-FP function has two FP counterparts: one that has Options object as its first argument and one that hasn't. The name of the former has WithOptions added to the end of its name.` in the docs.

[2018-10-03 03:02] #907 closed

[2018-10-03 12:07] helfi92 opened #908 "Customize the distance between the given dates in words"
Is there a way to customize the distance breakdown between the given dates in words?

_Example:_

![screen shot 2018-10-03 at 7 59 49 am](https://user-images.githubusercontent.com/3766511/46409240-c41ddc80-c6e2-11e8-8b64-6565978874f5.png)

Instead of having a distance of 45 minute show as `about one hour`, I would like anything between a minute and an hour to be shown in minutes.

[2018-10-03 15:57] SimonSapin commented on #908
89 minutes being formatted as "about 1 hour" is also rather imprecise. Could there be an option to always keep at least (roughly) two significant digits?

[2018-10-04 12:38] kossnocorp commented on #857
https://github.com/date-fns/date-fns/pull/909 with support for v2 just got merged. The locale will be available with the next release.

[2018-10-04 12:38] #857 closed

[2018-10-04 12:49] kossnocorp commented on #906
Everyone's welcome to add extra tests for locales! It's even encouraged as the languages are different hence require covering language-specific edge cases.

You can put extra tests right to `locale/{code}/test.js`.

[2018-10-04 12:49] #906 closed

[2018-10-04 13:02] helfi92 commented on #908
https://date-fns.org/v1.29.0/docs/distanceInWordsStrict seems to be what I was looking for :)

[2018-10-04 13:02] #908 closed

[2018-10-04 13:12] kossnocorp opened #912 "Fix parse('July', 'MMMM', new Date()) returning "Invalid Date""
See:

<img width="553" alt="image 2018-10-04 at 3 11 42 pm" src="https://user-images.githubusercontent.com/52201/46476204-dc2b5400-c7e7-11e8-8570-b585ca1b45fd.png">

[2018-10-04 13:36] #567 closed

[2018-10-04 15:07] MatthiasKunnen commented on #863
I can't reproduce this. On tag v2.0.0-alpha.16, running the following code:
[code]
returns `60`. In which environment does this issue occur?

[2018-10-05 06:12] wubzz commented on #852
@kossnocorp Thanks but we have a policy not to include alpha/beta stage versions in our production application. I'll have to wait till it's stable.

Also I tested the code in alpha18 and it results in `TypeError: 3 arguments required, but only 2 present`. No matter how I try to adjust the 3rd argument according to documentation I still get very weird results:

`0100-01-01 00:00:00` -> `0098-12-31T

[2018-10-05 07:31] kossnocorp commented on #883
@frytyler this issue is related only to `master` branch. We have the warnings in Node.js 10:

- https://travis-ci.org/date-fns/date-fns/jobs/437138475#L531

- https://travis-ci.org/date-fns/date-fns/jobs/437138475#L565

As far I as I remember I've fixed `os.tmpDir` updating Karma.

[2018-10-05 07:40] kossnocorp commented on #912
I was using incorrect date-fns version 🤦‍♀️

[2018-10-05 07:40] #912 closed

[2018-10-05 07:53] stefensuhat opened #914 "import date-fns indonesian locale error"
`import { enGB, eo, id } from 'date-fns/esm/locale';`

when trying to import that langugage return me error

`index.js:1452 ./src/modules/utils/date.js
Attempted import error: 'id' is not exported from 'date-fns/esm/locale'.`

[2018-10-05 07:55] stefensuhat commented on #914
`enGb, and eo` is fine

[2018-10-05 07:57] kossnocorp commented on #914
`id` isn't updated for v2: https://github.com/date-fns/date-fns/blob/master/outdatedLocales.json#L16

Also starting with `date-fns@v2.0.0-alpha.21` you don't have to use `esm` to make tree-shaking work. You can import modules normally:

[code]

[2018-10-05 07:57] #914 closed

[2018-10-05 07:58] kossnocorp commented on #914
Help with locale is very welcome: https://date-fns.org/v2.0.0-alpha.21/docs/I18n-Contribution-Guide

[2018-10-05 09:03] wubzz commented on #852
Tested some more and seems `format` has been vastly improved in 2.0 as well, so they both seem to work now. Going to test around some more and if it pans out I'll swap to date-fns once 2.0 is released. Thanks!

[2018-10-05 09:04] kossnocorp commented on #852
@wubzz you're welcome!

[2018-10-05 09:15] kossnocorp commented on #896
@marnusw, to be honest, I'm not sure why is that, those tokens are merely aliases to more complex ones, so it should be working. I'll check it out.

[2018-10-05 12:32] MartinMuzatko opened #915 "Bug: hour format HH returns wrong number"
I'm using the following script:

[code]

I expected to get `30.9.2018 00:16:00`. Instead I got this: `30.9.2018 01:16:00`

[2018-10-05 12:33] MartinMuzatko commented on #915
Closing this.
Duplicate of #818 and #180 #676

[2018-10-06 00:01] visionpoint opened #916 "Correct way to validate time"
Hi guys, thanks for the impressive work on this library. I'm looking to replace `moment` entirely across 4 large projects my team and I are working on. For validating the format of a time string, we do this with `moment` in some places:

[code]

Using `date-fns`, I gave this a try:

[code]

Maybe I'm not using the right method to achieve this, but I haven't found anything else in the docs and #326

[2018-10-06 13:02] MikaelEdebro opened #917 "Version 2: Add backwards compatibility for ES2015 modules."
I'm authoring a Vue plugin that is dependant on date-fns (as a peerDependency).
I'm importing the functions needed like this:
[code]

However, in v 2, you have changed names of the imports to camelCase.
Would it be possible to add backwards compatibility? Like just add "dummy modules" that in turn export the updated module. Something like:

sub_months.js
[code]

[2018-10-06 15:58] cocodinTech commented on #882
How can we contribute to fix this issue and add code to lib?

[2018-10-06 17:48] mickaelw opened #918 "all parse format doesn't work"
I try different date format in `parse` function no one works.
I always received `Invalide Date`

[code]
 I use `2.0.0-alpha.21`

[2018-10-10 11:32] chumbalum commented on #918
https://date-fns.org/v2.0.0-alpha.21/docs/parse

`parse("29.10.2018", "dd.MM.yyyy", new Date())`

This works for me in alpha.21.

In the first line, you take **DD** which is day of the year. Try **dd**. The second line is syntatically wrong.

[2018-10-10 11:38] #918 closed

[2018-10-10 11:40] aludvigsen commented on #918
I got the same problem..
[code]
Get `Invalid date` aswell

[2018-10-10 11:41] kossnocorp commented on #918
@aludvigsen please see the previous comment and also: https://github.com/date-fns/date-fns/issues/760

[2018-10-10 11:46] chumbalum commented on #918
I can confirm that parse imported from "date-fns/fp" doesn't work, while parse from "date-fns" does. I used `import {parse} from "date-fns";` in my working example

[2018-10-10 11:48] kossnocorp commented on #918
@chumbalum could you please provide an example of not working `import { parse } from 'date-fns/fp'`? Are you aware that FP functions have an inverted order of arguments?

[2018-10-10 11:51] aludvigsen commented on #918
That explains alot 😁 It works

I thought the FP functions was way to import only the selected functions you wanted (and not the entire library). Thanks for clarifying

[2018-10-10 11:52] chumbalum commented on #918
I don't use ´date-fns/fp´. Maybe that explains this issue.

[2018-10-10 11:56] chumbalum commented on #918
In my application I only use functions imported from date-fns.

But I think your note is the solution of the problem of @mickaelw .

[2018-10-10 14:34] kossnocorp commented on #760
Please see the PR that addresses the issue: https://github.com/date-fns/date-fns/pull/920

[2018-10-10 17:49] mickaelw commented on #918
With `parse('19/10/2018', 'dd/MM/yyyy', new Date())` I always have : `2018-10-18T22:00:00.000Z`
It's normal?

[2018-10-10 17:52] kossnocorp commented on #918
@mickaelw you print date in UTC:

<img width="599" alt="image 2018-10-10 at 7 51 34 pm" src="https://user-images.githubusercontent.com/52201/46755652-e6f15780-ccc5-11e8-9c19-18e7a8628a9a.png">

You should use `.toString()` to get the local time.

[2018-10-10 18:17] #760 closed

[2018-10-10 19:19] nmpegetis opened #922 "Greek locale needs update"

[2018-10-11 08:18] gazpachu opened #924 "max() returns invalid date"
`"date-fns": "^1.29.0"`

With this array of dates:

[code]

[2018-10-11 08:58] kossnocorp commented on #922
Yes, indeed. Please contribute: https://date-fns.org/v2.0.0-alpha.22/docs/I18n-Contribution-Guide

[2018-10-11 08:59] kossnocorp commented on #924
Please provide the code snippet.

[2018-10-11 09:04] kossnocorp commented on #508
If it's still actual, please reopen the issue with a link to a git repo with a reproduced error.

[2018-10-11 09:04] #508 closed

[2018-10-11 09:05] gazpachu commented on #924
[code]

The array of dates corresponds to `adjustmentDates`

[2018-10-11 09:07] kossnocorp commented on #924
What's the format of the `createdAt` property?

[2018-10-11 09:13] kossnocorp commented on #917
@MikaelEdebro v2 introduce not only function name changes but also many other different breaking changes that require attention. We won't be able to cover all cases and make the library truly backwardly compatible. It's much easier to review usage manually than automate it. It also will introduce a lot of complexity into the build and documentation system, so it's not worth it from my point of vie

[2018-10-11 09:13] #917 closed

[2018-10-11 09:16] gazpachu commented on #924
[code]

[2018-10-11 09:18] kossnocorp commented on #916
`isValid` does the following:

At the moment date-fns has no such functionality, but there's a planned feature: https://github.com/date-fns/date-fns/issues/326

[2018-10-11 09:19] kossnocorp commented on #916
Sorry, I confused your request with another and closed the issue by mistake.

[2018-10-11 09:20] kossnocorp commented on #569
We're going to replace this document with an automatically build webpage on date-fns.org.

[2018-10-11 09:20] #569 closed

[2018-10-11 10:07] kossnocorp commented on #780
I like the idea, the API could be:

[code]

[2018-10-11 13:13] tsvetann opened #925 "Why is bg locale still kept on hold"
Why is `bg` locale still kept on hold and not published? I see it already has translations.

Link: https://github.com/date-fns/date-fns/tree/master/src/locale/bg

[2018-10-11 17:33] nmpegetis commented on #922
Yes, I fork the project to do so! Thanks! :)

[2018-10-11 17:33] kossnocorp commented on #922
Great :+1:

[2018-10-12 15:04] mcmxc commented on #426
Have you identified what was the reason for that? Having the same issue...

[2018-10-12 15:08] leshakoss commented on #426
@mcmxc it is just representation of date in timezone +00:00 in node console. Note Z at the end. Use `.toString()` to display the date in local timezone:

[code]

[2018-10-13 06:26] RibbtDev opened #927 "TypeError: format is not a function"
I am migrating from **moment** to **date-fns** and following docs on the official site.

I have installed date-fns from npm and when I try to use I get this error:

**TypeError: format is not a function**

I have tried import, require but they all give same error. Also the **typeof(format)** returns **undefined**.

Using v1.29.0 on Nodejs

[2018-10-13 16:36] xkizer commented on #787
#928

[2018-10-14 05:20] #927 closed, assigned to nobody

[2018-10-15 18:31] Christilut opened #931 "Parsing fails if string has no separators"
Parse output is wrong when parsing something like `11011999`. Output is correct when using separator characters, eg `11/01/1999`

See example:
https://repl.it/repls/InsecureKookyCategory

[2018-10-16 07:50] #931 closed

[2018-10-16 07:59] leshakoss commented on #924
In v1, [`max`](https://date-fns.org/v1.29.0/docs/max) takes a list of dates as arguments (like [Math.max](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/max)). It has been changed in v2, where it takes an array of dates: https://date-fns.org/v2.0.0-alpha.22/docs/max

[2018-10-16 08:00] #924 closed

[2018-10-16 14:34] rosskevin opened #932 "[typescript] Locale is not exported"
Given the current structure of the `typings.d.ts`, one cannot import `Locale` to expose for use in other code because it is essentially private.

Current:

[code]

If the `type Locale` was moved into `declare module` that would solve the problem.  I would suggest the same with the others, as this could come up for other use cases.

[2018-10-16 18:31] Christilut commented on #931
Sorry, thanks! :)

[2018-10-17 11:37] z4o4z opened #933 "ES6 syntax in the npm build"
After adding this lib to the project Webpack starts crashing for production build. After some investigation, I found that the problem connected with ES6 syntax in the `protectedTokens/index.js` file. UglifyJS can't process this file.

`protectedTokens/index.js`:
[code]

Error:
[code]

After removing ES6 code, everything works fine

[2018-10-17 11:53] endbay commented on #933
I have exactly the same issue. Changed Momentjs to date-fns today.

Unexpected token: keyword (const) [static/main.5183631e20bfc2d5b817.js:12226,0]

[2018-10-18 10:05] janslu commented on #933
Same here. As a quick fix I changed `export const ...` to `export var ...`

[2018-10-18 10:31] kossnocorp commented on #933
Sorry, that's my bad. I'll fix the `var` and publish a new version.

[2018-10-18 11:09] #933 closed

[2018-10-18 11:10] #787 closed

[2018-10-18 11:15] kossnocorp commented on #922
Closed by https://github.com/date-fns/date-fns/pull/926

[2018-10-18 11:15] #922 closed

[2018-10-18 11:18] kossnocorp commented on #927
Please provide the code snippet where you import and use the function.

[2018-10-18 11:20] kossnocorp commented on #925
The locale needs to be updated for v2. See the guide: https://date-fns.org/v2.0.0-alpha.22/docs/I18n-Contribution-Guide

[2018-10-18 11:20] #925 closed

[2018-10-18 11:37] kossnocorp commented on #933
The fix was released as `v2.0.0-alpha.23`. See the change log: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha23

Thank you for reporting the problem!

[2018-10-18 11:38] kossnocorp commented on #922
The locale was released as `v2.0.0-alpha.23`. See the change log: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha23

[2018-10-18 11:39] kossnocorp commented on #787
This functionality was released as `v2.0.0-alpha.23`. See the change log: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha23

[2018-10-18 12:54] nmpegetis commented on #922
From the i18n docs https://date-fns.org/v2.0.0-alpha.22/docs/I18n

**First of all, create an issue so you won't overlap with others.**
A detailed explanation of how to add a new locale.
Use English locale as the basis and then incrementally adjust the tests and the code.
Directions on adding a locale with the same language as another locale.
If you have questions or need guidance, leave a comment

[2018-10-18 13:00] kossnocorp commented on #922
@nmpegetis sorry, for that.

I have to deal with a big number of changes, issues, and pull-requests so I can't keep everything in my head. I rely on the community following the rule and such issues never happened before. More often people claim and then disappear.

I know how it feels to get your work dismissed, but I'm sure that you'll find how to improve @fanixk's work, so PR is still welcome.

[2018-10-18 17:36] fanixk commented on #922
Hey @nmpegetis, sorry for that, I missed your issue and just went with it.
Please do help improve on the work already done.

[2018-10-18 23:18] xkizer opened #936 "getUnixTime has wrong example"
The function `getUnixTime` has a wrong usage example. See https://date-fns.org/v2.0.0-alpha.23/docs/getUnixTime#examples

[2018-10-18 23:41] xkizer commented on #830
PR for this in #937

[2018-10-19 12:48] charliedavison opened #941 "'bn' locale contains ES6, causing Webpack/Uglify to fail."
When using locales webpack/uglify fails with

[webpack] errors:
app/6ec78c4b5b.js from UglifyJs
Unexpected token: keyword (const) [../wa-storybook/node_modules/date-fns/esm/locale/bn/_lib/localize/index.js:141,0][app/6ec78c4b5b.js:98206,2]

[2018-10-19 12:49] charliedavison commented on #941
Will be fixed when #939 is merged.

[2018-10-19 13:29] OCJvanDijk opened #942 "parse('1-12-12', 'yyyy-MM-dd', new Date()) returns a valid date"
Is this intended? I would expect parse('1-12-12', 'yyyy-MM-dd', new Date()) to fail as the correct format would be '0001-12-12'.

[2018-10-19 20:36] dalwadani opened #944 "Arabic (Saudi Arabia) language support"
I will be using this PR to add support #943.

[2018-10-21 00:16] atilkan opened #945 "Wondering, why commonjs instead of es6?"
On this format
https://github.com/date-fns/date-fns/blob/32283c6af5dc95db839e0a871dc77ff1c9468b85/src/index.js#L3

Could it be like:
`export {default} from "./format/"`

instead of
[code]
Why don't you use es6 format, is it because of node?

[2018-10-21 09:30] unikitty37 opened #946 "Reinstate ability to format time with "am"/"pm""
Under version 1, formatDate supported the following formatting options:

Pattern|Result examples
-- | --
A| AM, PM
a | am, pm
aa | a.m., p.m.

but version 2 only has these options:

Pattern|Result examples
-- | --
a..aaa | AM, PM |  
aaaa | a.m., p.m.
aaaaa | a, p

The style guide for the site I'm working on requires "am" and "pm" — lower case, no dots. Would it be possible to reinstate an option

[2018-10-22 12:29] kossnocorp opened #947 "Setup ESLint"
We got rid of Standard in favor of Prettier but never set up ESLint.

[2018-10-22 12:44] #936 closed

[2018-10-22 15:17] #932 closed

[2018-10-22 15:43] Davideconsonni94 opened #949 "it locale is currently unavailable."
//import italian date
import DateFnsUtils from "material-ui-pickers/utils/date-fns-utils";
import itLocale from "date-fns/esm/locale/it";

this import produce:  it locale is currently unavailable.

version v2.0.0.alpha.23

[2018-10-23 00:48] johnny-dash opened #950 "Error in documentation of 'subDays' function"
My issue is very straightforward, but it does confuse me when I look into it.
https://date-fns.org/v1.29.0/docs/subDays#examples

![screen shot 2018-10-23 at 11 41 23 am](https://user-images.githubusercontent.com/13574694/47327418-f191f080-d6b8-11e8-837a-ac6f22d960d3.png)

The picture above is from the example section in 'subDays' function in the documentation. The comment said the date should be