[2020-03-25 00:30] ferferga opened #1685 "Require locales instead of importing"
Hello, thank you very much for making such a great module!

However, I have one doubt. In older versions of the docs, you could use either ``import { es } from 'date-fns/locale'`` or ``require("date-fns/locale/es")`` for a language (in this case, Spanish). However, I'm trying to do it with *2.11* and the require method doesn't seem to work and RequireJS can't import it. And, in fact, it no longer

[2020-03-25 06:55] udiedrichsen opened #1686 "Compile Error after updating to version 2.11.0 from 2.10.0"
After updating from version 2.10.0 to 2.11.0 we got some errors.

Error: Cannot find module './add/index.js'

Failed to compile
./node_modules/date-fns/locale/be/_lib/formatRelative/index.js
Module not found: Can't resolve '../../../../_lib/isSameUTCWeek/index.js' in /node_modules/date-fns/locale/**be**/_lib/formatRelative'

and

./node_modules/date-fns/locale/**be**/_lib/formatRelative/index.js
[

[2020-03-26 10:56] vdh opened #1687 "Broken docs…"
The docs page sits at "Loading versions..." for a long while before failing with "Failed to fetch version list"

The console also has this error:
Failed to load resource: the server responded with a status of 503 ()

[2020-03-26 19:14] dkozickis commented on #1683
@MikeMitterer please check with [v2.11.1](https://github.com/date-fns/date-fns/releases/tag/v2.11.1)

[2020-03-26 19:15] dkozickis commented on #1684
@simbathesailor please check with [v2.11.1](https://github.com/date-fns/date-fns/releases/tag/v2.11.1)

[2020-03-26 19:15] dkozickis commented on #1686
@udiedrichsen please check with [v2.11.1](https://github.com/date-fns/date-fns/releases/tag/v2.11.1)

[2020-03-27 05:41] dkozickis commented on #1687
Are you in China by any chance @vdh?
Docs are served by Firebase, and China w/ Firebase don't go well together, unfortunately.

https://stackoverflow.com/questions/42605566/can-firebase-be-used-as-a-realtime-database-in-china-now

[2020-03-27 05:55] #1686 closed

[2020-03-27 05:55] #1684 closed

[2020-03-27 05:55] #1683 closed

[2020-03-27 05:56] dkozickis commented on #1685
There was a bug in 2.11, it is now fixed with 2.11.1, please check.

I will close this issue for now, please reopen if issue still occurs with 2.11.1. 🙇

[2020-03-27 05:56] #1685 closed

[2020-03-27 05:58] dkozickis commented on #1655
@robations - thank you for answering this.
@tobias74 - that's the answer for now unfortunately. We might be able to come up with something for v3, but there are no timelines.

[2020-03-27 05:58] #1655 closed

[2020-03-27 08:09] euoia commented on #946
Plus one on this feature. The Guardian style guide recommends am/pm (lowercase, no separator).
https://english.stackexchange.com/questions/22784/am-pm-vs-a-m-p-m-vs-am-pm

https://www.theguardian.com/guardian-observer-style-guide-t

[2020-03-27 10:07] agatatocz commented on #993
Hi, thank you for fixing this issue, I fully support using the genitive case, when we write a day and month. However when we write only month and year, skipping the day, then we should use nominative case (e.g. grudzień 2019, not grudnia 2019).
Currently I'm using Material-UI Pickers with Polish local and I found that in month selector the wrong form is being used. Is there any way to change it?
<

[2020-03-27 23:28] lirbank opened #1691 "zonedTimeToUtc() change to summer time at the wrong hour"
The change from standard PST (-08:00) to summer time PDT (-07:00) in America/Los_Angeles occurred at 2am on March 8, 2020 local time. As you can see in the test below, `moment` handles this correctly by converting `2020-03-08 02:00` local time as well as `2020-03-08 03:00` local time to the same ISO date (`2020-03-08T10:00:00.000Z`).

`zonedTimeToUtc` however does not change to summer time until `

[2020-03-28 11:07] calendee opened #1692 "Incorrect Typings for getTime"
Version: v2.11.1

Hello,

I think there is an issue with the TypeScript typing for `getTime`.  It is indicated as `Date` when in it should be `number` because `getTime` returns a number - the milliseconds since the epoch.

Example:

[code]

In Visual Studio Code, if you mouseover `ts` or `getTime`, you'll see it shows a `Date` is the return type.

<img width="539" alt="getTime as Date" src="https:

[2020-03-28 11:10] trollepierre opened #1693 "differenceInCalendarWeeks does not take into consideration weekStartsOn"
Hello,

In the docs, we are mentioning a { weekStartsOn: 1 } argument to choose the day of the week
https://date-fns.org/v2.11.1/docs/differenceInCalendarWeeks

In that file, I see the comment about it. But no implementation about that
https://github.com/date-fns/date-fns/blob/master/src/differenceInCalendarWeeks/index.js

+

while testing the example, I got -3 instead of 3

[2020-03-28 11:33] trollepierre commented on #1693
a part of my issue can be fixed by merging this => https://github.com/date-fns/date-fns/pull/1639

the other part may be an update in docs.

[2020-03-28 11:55] trollepierre commented on #1693
I think lastDayOfWeek startOfWeek differenceInCalendarWeeks are fucked up.

[2020-03-29 07:35] dkozickis commented on #1692
Hi @calendee,

You're importing from `date-fns/startOfDay`, so the types that you're looking at are actually for `startOfDay` and are correct :)

[2020-03-29 07:35] #1692 closed

[2020-03-29 07:52] dkozickis commented on #1691
Hi @lirbank,

I'll have to ask you to take this ticket to `date-fns-tz` repo, as `zonedTimeToUtc` is part of it.

Below test snippet passes with `TZ=America/Los_Angeles`

[code]

You might wanna check what `date-fns` you get installed? Some DTS issues were fixed in 2.11 if I'm not mistaken.

[2020-03-29 07:52] #1691 closed

[2020-03-29 10:20] bohdan-shulha commented on #1682
Just got the same issue. Everything is up-to-date, but it doesn't count the DST.

I use `date-fns-tz/zonedTimeToUtc` like this (AFAIK it uses date-fns under the hood to get offsets):

[code]

[2020-03-29 10:30] calendee commented on #1692
🤣OMG, what an idiot I am! I tried to solve this forever and finally gave up and opened a ticket.  Thanks so much for pointing that out.  I'm so sorry to have bothered you.

[2020-03-29 10:49] dkozickis commented on #1692
Happens to all of us, we're human after all :)
Maybe something for v3, to avoid default exports, to improve DX. cc @kossnocorp @leshakoss

[2020-03-29 11:59] dkozickis commented on #976
Reproducable with 2.11.1

[2020-03-29 22:32] lirbank commented on #1691
Oh, my bad, I just assumed this was a mono-repo. I'll double check if the issue has been resolved with `2.11.1`, and if not I'll move the issue over to https://github.com/marnusw/date-fns-tz

[2020-03-29 22:49] lirbank commented on #1691
@dkozickis I had date-fns 2.11.0 and upgraded to 2.11.1. The second test you posted above does not pass, but it seems like you have a typo there - shouldn't the expected output be
[code]

instead of
[code]
?

[2020-03-29 23:12] lirbank commented on #1691
For reference, these all pass, regardless if 2.11.0 or 2.11.1 is used:

[code]

[2020-03-30 00:31] vdh commented on #1687
@dkozicks I'm in Brisbane, Australia. The error seems to have cleared up by now.

[2020-03-30 00:31] #1687 closed

[2020-03-30 07:02] dkozickis commented on #1691
Huh, you're correct @lirbank ... Either something wrong with my environment or with my perception of time :D

Some day date-fns will have TZ functionality built-in, some day ....

[2020-03-30 09:48] incerta commented on #1304
I have weird behavior: in storybook I have no `format` error, but on dev server I have it, format like `d MMMM, yyyy` no matter how I importing it

[2020-03-30 10:02] psimk opened #1697 "Outdated webpack documentation"
It seems like the [webpack documentation](https://github.com/date-fns/date-fns/blob/master/docs/webpack.md) is currently out of date.

For one, it references a locale, which was available in pre v2 versions of `date-fns` (the `en` locale to be specific).

Furthermore, post v2 `date-fns` locales now contain `.d.ts` and `.md` files, which make the documented `ContextReplacementPlugin` spit out a nas

[2020-03-30 20:49] humphd opened #1698 "Inconsistency with hours in startOfYear"
I'm using v.2.11.1 and seeing what looks like timezone issues with `startOfYear`.  From the [docs](https://date-fns.org/v2.11.1/docs/startOfYear):

[code]

Here is what I get in node, with the HH being 05:

[code]

Is this me misunderstanding some extra timezone issue I need to deal with when working with date-fns, or is this a bug?  I'm in EDT, so the 05 makes some sense, but I'd expect to get 00

[2020-03-30 20:49] humphd commented on #1660
I'm seeing the same, filed https://github.com/date-fns/date-fns/issues/1698

[2020-03-30 21:09] humphd commented on #1698
Changing https://github.com/date-fns/date-fns/blob/16a561df59b9a015517fce568ffd929f46961f82/src/startOfYear/index.js#L32 to use `date.setUTCHours(0, 0, 0, 0)` instead of `date.setHours(0, 0, 0, 0)` does what I expect.

Are my expectations wrong, or is this code?

[2020-03-30 21:22] dcousens commented on #1698
From https://date-fns.org/v2.11.1/docs/startOfYear

Emphasis mine.

[2020-03-30 21:31] humphd commented on #1698
@dcousens thanks, totally missed that.  I'll close.  Appreciate the clarification.

[2020-03-30 21:31] #1698 closed

[2020-03-30 21:40] tonoslav opened #1699 "SK locale formatRelative returns "minulú štvrtok" instead of "minulý štvrtok""
I have a problem with Slovak **formatRelative** formating

**Now** 2020-03-30
**Relative date** is: 2020-03-26

[code]

it returns "**minulú** štvrtok o 22:26"
it should be "**minulý** štvrtok o 22:26"

Can you check:
@mareksuscak
@leshakoss

[2020-03-31 08:42] wushaobo commented on #1569
Exactly the same situation.  I have to hold migration from momentjs, though I really want to.
I expect `isValid(parseISO("13 2020-03-31T16:00:00Z"))` to be `false` rather than `true`.

The `parse()` or `parseISO()` on string input is forced by a warning. However, the parsing result comes to another date rather than the original info.

[2020-03-31 10:02] wushaobo commented on #942
@clementprdhomme  It is not a workable hack, if you have a try on "13 2020-03" with date format for "2020-03-13".

[2020-03-31 13:37] Fetz commented on #1290
I have the same issue with typescript:`3.7.5` the moment I added library that uses date-fns:`v2.11.1 but the current project is using  date-fns: `1.28.5`.

So I'm guessing that is typescript getting confused with 2 versions of data-fns...

[2020-04-01 08:43] nainardev opened #1703 "Make docs Mobile responsive"

[2020-04-01 12:05] robphoenix opened #1705 "Formatting wrong time with enGb locale"
I'm currently getting the wrong time when formatting with the `enGb` locale

[code]

With the given date being `2020-04-01T12:37:08.984Z` I'm getting back the formatted time as `"1st Apr 2020 - 13:37"` which is 1 hour ahead.

[2020-04-01 12:50] robphoenix commented on #1705
closing as this is not an issue with date-fns but that JS is adjusting for British Summer Time a date which is already BST.

[2020-04-01 12:50] #1705 closed

[2020-04-01 20:08] slikts commented on #849
This should be closed since it was merged in #1175.

[2020-04-02 01:53] #849 closed

[2020-04-04 09:48] twoco commented on #456
I would considering it again to have a global config for date-fns. I found this issue here and I have a similar request and ask here before creating a new issue. It's about i18n. In my opinion there should be a global config for date-fns to set the language for all methods. Instead of wrapping it. It's not consistent. Anyway... my suggestion:

[code]

This sets the current language. This can be ch

[2020-04-04 15:02] kenichi-ando commented on #1195
Hi,

Japanese date also has the same issue.
I tried `formatDate(date, "MMMM do")` using version 2.11, but it gets '4月 4'. It's not natural as Japanese date due to the lack of '日'. It should be '4月 4日'.

[2020-04-04 15:07] kenichi-ando commented on #1195
I've found pull requests https://github.com/date-fns/date-fns/pull/1690 and https://github.com/date-fns/date-fns/pull/1696 for this fix.

[2020-04-05 08:07] r3d4rmy commented on #1697
Considering that these warnings appear for every locale contained within the Regular Expression passed into the `ContextReplacementPlugin`, this can really clutter up the terminal on application run. I'm also looking for a solution/updated documentation to this as I have multiple languages in use.

[2020-04-05 09:01] twoco opened #1706 "Format distance in custom format instead of words."
I have to dates ...

[code]

... and want a duration format like `04h 30m` instead of words.
No other format function works for this. (wrong result of `05h 30m`).

For durations like this, there is already a function like [formatDistance](https://date-fns.org/v2.11.1/docs/formatDistanceStrict). Really great.

But I want a more formal string like `00h 00m` or `0 Std. 0 Min.` etc.
Is this possible?

[2020-04-06 22:12] constgen commented on #856
@r3d4rmy
Solved this issue by
[code]
Now only necessary files included to the bundle.
The issue happened because Webpack tried to guess what can you load dynamically and recursively bundled everything what can match the path. Tha "magic comments" exclude unnecessary utility modules and explicit loading of 'index.js' limits it only to JS type of modules

[2020-04-07 01:30] r3d4rmy commented on #856
I tried what you posted but I still end up with the following warnings:

[code]

[2020-04-08 17:27] Fred-Reis commented on #1626
same issue

[2020-04-09 02:44] joelmats opened #1707 "Is there a way to load locale data on client"
Hello there!

I want to be able to support all locales but prefer not to bundle all locales in the client js. Is there a way to serialize the locale data for a given locale so that we can then load it into a Locale object and use it on the client. I don't know if this is possible as it seems the locale files have functions rather than just pure config but thought i'd ask anyways in case I'm missin

[2020-04-09 09:27] klapec commented on #1687
It seems to be happening right now again, I'm in Warsaw, Poland.

[2020-04-09 14:45] #1650 closed

[2020-04-09 14:49] #1653 closed

[2020-04-09 15:04] kossnocorp opened #1708 "Remove arguments checks"
Since we're moving to TypeScript, arguments check (required arguments, the format, etc.) is dead weight. If the user wants type safety, then they should use TS or Flow, otherwise face the consequences. This change will make minimal build size even smaller and reduce overall library weight.

Initially, we wanted to be consistent with ES behavior, but on the chart of priorities, I put library size o

[2020-04-09 15:04] #1673 closed

[2020-04-09 17:17] #1637 closed

[2020-04-09 17:26] #533 closed

[2020-04-10 05:36] developergouli opened #1709 "Kannada language support"
Please provide support for Kannada language.

Kannada language is one of the Indian language and is an official language of state of Karnataka in India.

[2020-04-10 08:19] kossnocorp commented on #1709
Sadly we don't speak it. If you're willing to help, please reopen the issue and state your intent in a comment so I can mark this language as claimed.

I am closing the issue as there's nothing actionable for maintainers.

[2020-04-10 08:22] kossnocorp commented on #1707
While it's not possible to serialize the locales as they contain code (i.e. pluralization) but it's doable via code bundlers. See:

- [webpack](https://webpack.js.org/guides/code-splitting/)
- [Rollup](https://rollupjs.org/guide/en/#code-splitting)
- [Parcel](https://parceljs.org/code_splitting.html)

[2020-04-10 08:22] #1707 closed

[2020-04-10 10:55] samyilias opened #1710 "Can't find 'date-fns' when installing the v2 package with yarn using create react app"
## Reproduction steps
1) yarn add `date-fns`
2) start the development server
3) try to import anything from date-fns
4) notice `Module not found: Error: Can't resolve 'date-fns'`
## Notes
I tried it both with create react app and next js v9 same outcome
it works fine with npm tho
## Env
node v13.12.0
npm 6.14.4
yarn 1.22.4
date-fns 2.11.1

[2020-04-10 11:51] kossnocorp commented on #1710
Hey, I just tried to install date-fns with a fresh CRA app, and it works as expected:

<img width="1552" alt="Screenshot 2020-04-10 at 14 49 46" src="https://user-images.githubusercontent.com/52201/78988778-88b36800-7b3a-11ea-823a-d3ac596b1b8a.png">

There's something wrong with your Yarn, filesystem, Node.js, or something else, but as date-fns is a simple package, it can't be the guilty.

[2020-04-10 11:51] #1710 closed

[2020-04-10 13:49] developergouli commented on #1709
Hello @kossnocorp

Thanks for taking a look at the issue. Unfortunately i am not having access to reopen the issue.

The intent was for me to help with extending the locale support to Kannada language. I would be able to work on translations and submit a pull request in the coming days.

Would you be able to reopen the issue on my behalf.

[2020-04-10 16:30] kossnocorp commented on #1709
Great, I've reopened the issue and marked it as claimed. Thank you a lot!

[2020-04-10 16:31] kossnocorp commented on #1647
Closing at the PR was shipped. Thank you again!

[2020-04-10 16:31] #1647 closed

[2020-04-13 05:17] jiah-hm opened #1711 "format(fromUnixTime(1584161862798), 'yyyyMMdd') invalid time value"
[ version 2.12.0 ]
I need to format unix datetime to 'yyyyMMdd'.
And I am getting 'invalid time value' error.

[code]
I am nor sure why this is not working, when

[code]
this works.

I tried to parse the date. It still returns the same error.
[code]

[2020-04-13 06:18] jiah-hm commented on #1711
`format(new Date('yourUnixDateTime'), 'yyyyMMdd')`

[2020-04-13 06:19] #1711 closed

[2020-04-13 20:17] MontoyaAndres opened #1712 "Date wrong on Iphone / Mac"
I'm using the function `format` to pass this date `2020-04-14T17:30:00.000Z` to the right format I'm using.

The database throws me this date, in ISO style `2020-04-14T17:30:00.000Z`, which is using this format to save it on the DB:

`yyyy-MM-dd'T'HH:mm:ss.sss'Z'`

If I want to show this date on the browser, I use this function:

[code]

It passes this `2020-04-14T17:30:00.000Z` to this `Tuesday 1

[2020-04-14 09:16] julamb opened #1714 "Add eachQuarterOfInterval"
It would be useful to have an `eachQuarterOfInterval` function, what do you think?

I can work on a PR for this.

[2020-04-14 09:26] kossnocorp commented on #1714
Yup, makes sense. Please send a PR.

[2020-04-14 20:36] SephReed opened #1716 "parse("1586195963531") returns Invalid Date"
Sometimes `Date.now()` gets passed to a database, then turned into a string.  In such a case, parse will fail.

Here is the code I must use:
[code]

This is what could be done with an update to parse:
[code]

[2020-04-16 12:03] alexbepple opened #1724 "Difference arg order between `date-fns` and `date-fns/fp` with `differenceInMinutes` and others"
I would like to re-open the discussion reg. argument order (cp. https://github.com/date-fns/date-fns/issues/956) with regard to functions like `differenceInMinutes`.

It is common with FP libraries to keep the natural order of mathematical operations. Examples include Ramda's simple math fns, e.g. [`subtract`](https://devdocs.io/ramda/index#subtract), comparisons, e.g. [`gt`](https://devdocs.io/ra

[2020-04-16 13:51] Moeriki commented on #1683
I still have this issue with imports from `date-fns/fp`. Switching to non-fp fixes it.

[2020-04-16 20:37] Jones-S opened #1729 "[Help wanted] How can I get a localized month name by passing in month number"
Hi everyone

I just made the switch from moment to a more lightweight version like your date-fns.

I now need to «translate» a month number (Int) to a localized month name, and I don't really how to to that.

I see for example that with
[code]
I would get `Februar`.
But if I can't provide a whole date, how could I pass in just an int from 0-11 to get the month name out of it.

Cheap version would

[2020-04-16 23:29] suvash opened #1730 "Nepali / नेपाली (ne) language support"
Hi. I'd like to add support for Nepali language to this library. I've already started to work on it a bit.

However, does date-fns support different calendars yet ? Since the primary calendar is not Gregorian, but instead [Bikram Sambat](https://en.wikipedia.org/wiki/Vikram_Samvat), and I'd really like to be able to use that instead of AD/BC.

Also, super if multiple calendars 😱 can be used for th

[2020-04-18 04:03] dkozickis commented on #1708
Sounds good to me.
Modern IDEs also mostly have warnings for incorrect usage or function (e.g. not enough arguments provided) in JS project, so I don’t think it’s a big impact on DX.

[2020-04-18 05:24] dkozickis commented on #1716
`parse` accepts `string` as first argument by design, what is your proposal exactly here please?

[2020-04-19 12:05] adsingh14 opened #1733 "Need a simplified tutorial."
Hi !
I wanted to contribute in this package but unable to get it run on my system. I've installed it via npm and used require to import it.

Can anybody add an example to run it with Javascript/JQuery or I've to run it using server-side language (eg. PHP) ?

[2020-04-19 16:38] viclafouch commented on #856
Me too

![image](https://user-images.githubusercontent.com/23353836/79693766-f4997d00-826c-11ea-8b7d-1ba8e843c3b8.png)

![image](https://user-images.githubusercontent.com/23353836/79693758-e5b2ca80-826c-11ea-8dfd-a5cdd742d778.png)

Is there an issue about that ?

[2020-04-19 17:33] teknoalex opened #1734 "Can't resolve 'date-fns/_lib/format/longFormatters'"
Code:
`import DateFnsUtils from '@date-io/date-fns';`

[2020-04-19 23:37] donovanclarke commented on #1619
you can use format or parse, but you can't pass a string to it. It needs to be a date object.
Maybe try wrapping it like so:
[code]

[2020-04-21 01:10] kkashou opened #1735 "formatDistanceToNow start month and below"
Hello,

I am trying to use this function that format my date and when it is month and below away to format it down that way instead of after a month do the regular date format "MM/DD/YYYY".

I was thinking something along the lines of this?

[code]

Thanks

[2020-04-21 21:46] GDIBass commented on #1734
You probably forgot to install date-fns
[code]
or
[code]

[2020-04-22 10:29] tashpjak commented on #1734
@GDIBass didnt help

[2020-04-22 15:23] Wildhoney commented on #1706
Did you find a solution? As I'm also after something similar &mdash; ideally I'd like the format to be like 4h 45m, but it doesn't appear as though `date-fns` supports that. It's also very difficult to query Google to find a library that would achieve that!

[2020-04-22 17:10] kossnocorp commented on #1716
This is a kind of behavior we avoid to prevent obscure bugs. For example, if you pass `2020` or `20200101`, how should we parse it?

I'm not familiar with your context, but it seems that the real problem is that you store inconsistent data in your database. I would recommend trying to fix that first and if for some reason it's impossible, stick to the `parseInt` hack.

Btw, your code snippet in th

[2020-04-22 17:10] #1716 closed

[2020-04-22 17:44] GDIBass commented on #1734
You'll need to provide more information then.  What does your package.json file look like.  How are you trying to use the package?  Webpack config?  Etc.

[2020-04-22 18:51] #1735 closed

[2020-04-22 18:55] RockinRonE opened #1739 "Typings issue when importing formatISO"
<img width="1198" alt="Screen Shot 2020-04-22 at 1 38 42 PM" src="https://user-images.githubusercontent.com/8163241/80021812-b84e6280-84a0-11ea-9fca-8e9013f144ea.png">

I am importing `formatISO` like so: `import formatISO from 'date-fns/formatISO';`

[2020-04-23 09:21] saobei commented on #1004
solve this problem

[2020-04-23 16:34] SephReed commented on #1716
Thank you very much.  I totally forgot parseInt does that.

Yeah, I see the issue there.

Do you think there's somewhere else where handling `Date.now() + ""` might occur in date-fns?  The fact that parseInt() is so unsafe around it seems like even more the reason it shouldn't be a roll your own kind of date function.

One does not simply.

[2020-04-24 05:01] azizoid commented on #1729
Can you please write what exactly confuses you in the solution you have provided?

[2020-04-24 05:09] azizoid opened #1740 "Hijri calendar"
Hi Guys, do you have a hijri calendar. Momentjs has it. would like to see it here too

[2020-04-24 06:43] Jones-S commented on #1729
I am creating a «fake» date, just for getting access to your localized months-list.
Is there no way I can access the month names directly, and just passing in a number (0 => January, 1 => February and so on).

Or maybe there is a method for that already?

`getMonthName(3)` returns `March`.

I know it works, it just feels a bit clumsy.
But maybe this is the way to go, and we can close this ticket.

[2020-04-24 08:30] no0by5 opened #1741 "Parse ignores reference date"
The documentation for parse date says: defines values missing from the parsed dateString
So if I run this code, I would expect to get the date `Sat Dec 11 2002 01:02:00`.
[code]
But actually I get the date `Tue Jan 01 2002 00:00:00`.
Is this the intended behaviour, and did I just misunderstand the documentation or is there a bug?

[2020-04-24 09:44] kossnocorp commented on #1741
Yes, this is intended behavior.

At some point, I wanted to use reference data to fill missing values as you excepted. However, it turned out to be worse behavior than it is now. The issue here that people usually use `Date.now()` as the reference data, so when they parse `parse('2020-02', 'yyyy-MM', Date.now())` and get `"2020-02-24T09:39:01"` instead of `"2020-02-01T00:00:00"` they get confused.

[2020-04-24 09:44] #1741 closed

[2020-04-24 09:58] no0by5 commented on #1741
In this case, you should probably update the documentation.
Does the reference date now have any function?

In my case I have a date picker and a time picker that update the same Date object. When I use the date picker, I only want to update the date value and use the old time value from the Date object and vice versa.
Thank you for your help!

[2020-04-24 10:14] KieranClarke1 opened #1742 "en-GB Formatting is incorrect"
https://github.com/date-fns/date-fns/blob/master/src/locale/en-GB/index.js

The locale for en-GB imports the files from the en-US locale.

This is not the correct format.

For example, the 1st of April 2020
In en-US should be : "04/01/2020"
In en-GB should be : "01/04/2020"

![image](https://user-images.githubusercontent.com/41058186/80201866-b7424000-861c-11ea-8b65-7337ce2ffa64.png)

[2020-04-24 10:42] drasill commented on #1391
I also confirm this, which make the `do` pattern useless in french.

[2020-04-24 11:01] #1742 closed

[2020-04-24 11:01] KieranClarke1 commented on #1742
My mistake.

[2020-04-24 12:55] JacobSoderblom commented on #861
Hi! Will Basque be available soon?

[2020-04-24 16:20] ClintEsteMadera commented on #579
Please retrofit the docs. It is very sad that people have to use Google for better understanding the difference through a (closed) GitHub issue.

[2020-04-24 19:18] JuanchiRios commented on #701
@kossnocorp could you please re-open this ticket?

[2020-04-24 19:21] kossnocorp commented on #701
@JuanchiRios it doesn't belong here, website issues are there: https://github.com/date-fns/date-fns.org/issues

[2020-04-24 19:22] JuanchiRios opened #1744 "Make functions avaliable on website console"
There is a closed issue #701 for this.
I found this to be really useful. As a workaround, I'm using pages like https://stackblitz.com/edit/date-fns-playground but it's not the same.

[2020-04-25 09:22] wendellestradairely opened #1745 "In version 2, you can't test the library in the Chrome console."
If possible, please bring back date-fns playground in Chrome console.

[2020-04-25 09:23] wendellestradairely commented on #1745
Also not working in stackBlitz

[2020-04-25 17:32] ChristianFarley opened #1746 "All date-fns modules are suddenly unfound"
Couple of days ago I upgraded to node 12 and npm 6.14. Today I updated date-fns to latest, and now all date-fns modules hit the dreaded "Cannot find module..."

Is there an easy recovery process?

[2020-04-25 20:56] NickRHR commented on #1734
same pb here

when using it with a material-ui/picker component << import DateFnsUtils from '@date-io/date-fns';

triggers:
Module not found: Can't resolve 'date-fns/_lib/format/longFormatters' in '/****/node_modules/@date-io/date-fns/build'

my jsconfig.json:
{
    "compilerOptions": {
      "baseUrl": "./src"
    },
    "include": ["src"],
    "exclude": ["node_modules", "build", "coverage", "di

[2020-04-25 22:35] #1746 closed

[2020-04-27 20:36] donovanclarke commented on #1739
Are you using ESM ? I know this isnt an answer for your specific issue but why not just use a named import `import { formatISO } from "date-fns";`  This will make it easier for tree-shaking with webpack or rollup :).

[2020-04-27 20:42] donovanclarke commented on #1729
could try something like this:
[code]

I know its not an elegant one liner..., but seems pretty straight forward and readable and re-usable.

[2020-04-27 20:53] RockinRonE commented on #1739
@donovanclarke Your comment caused me to revisit this on my codebase. This is what happened: I imported formatISO like you suggested but it said it wasn't exported. Then I tried what you saw in my screen shot. _THEN_ I upgraded to v2 and it worked, but I left the import how it was.

Obviously this works properly now since the upgrade...

[2020-04-27 20:54] #1739 closed

[2020-04-27 21:39] Jones-S commented on #1729
Hey @donovanclarke
Thanks for your input.
I think it goes into the same direction as my solution:
[code]

In my case I just use a fake date and in your example you use todays Date.
I think in the end it is the same.
thank you anyway, I believe there is no other super elegant solution :).

[2020-04-28 15:45] MBelniak opened #1748 "parseISO - parsing invalid string into a valid date"
Hi.
I've come across this issue while using date-fns.
Current behaviour:
`parseISO('2016-03-16T08 ooo') // returns Date(Wed Mar 16 2016 08:00:00 GMT+0100 (CET))`
Expected behaviour (at least momentjs and some online regex-based parsers):
`parseISO('2016-03-16T08 ooo') // returns Invalid Date`
Is this actually a bug or for some reason current bahaviour is the expected one?

[2020-04-29 11:55] papiro commented on #1622
Experiencing this same issue. Have a Jest test basically asserting `format(12345, 'MM/dd/yyyy')` to be "01/01/1970" which runs as expected on my machine and in the CI/CD pipeline but on one developer's machine who is in the same timezone (in North America), the test fails and the date produced is "12/31/1969". Is there some sort of option I'm missing?

[2020-04-29 12:50] dcousens commented on #1622
@ldco2016 @miketeix  pleases provide an example that can be reproduced.

@papiro, your example, when run with `TZ=US/Pacific node`
[code]

Is expected as the time provided is **UTC** milliseconds.

[2020-04-29 14:12] papiro commented on #1622
@dcousens, thank you for your quick reply. My timezone is America/New_York. I am not getting `12/31/1969` for my example when I was getting `01/01/1970` when testing (same timezone) at that particular time yesterday. I imagine it will change again, even without changing my timezone. It seems like a bug to me because the localized display of a time (in ms) in the past should not depend on the time

[2020-04-29 15:06] Dallas62 commented on #1391
Hi @dkozickis
I just check how to create a test case then make a PR, but sorry the project is too hard to understand where to start.

[2020-04-30 14:41] andrewsm80 commented on #1401
@cwilby That code is not correct, although it will appear to work most of the time.
For example, in my timezone (America/Halifax) there is no such thing as `02:00 AM March 8th, 2020` because of changer to DST, from `1:59 AM` to `3:00 AM`.
`format()` will never format to `2:00 AM`  in my timezone because it thinks you are asking for a local time, even if you try to fool it by adding an offset.

[co

[2020-04-30 17:54] cwilby commented on #1401
@andrewsm80 Good point - edited answer.

I since refactored this function since Laravel started serializing dates in ISO-8601 format.  It now uses the included UTC offset instead.

[2020-05-01 08:49] dkozickis commented on #1391
@kossnocorp what's your opinion on how to procede here?

[2020-05-01 08:53] dkozickis commented on #1622
@papiro what is your dev environment? Did you change it lately? Did you update node version/OS version/Browser version?

[2020-05-01 08:55] dkozickis commented on #1195
Both MRs are merged, I'll close this, please re-open if problem still exists.

[2020-05-01 08:55] dkozickis commented on #1740
@kossnocorp correct me if I'm wrong - there's no multiple calendars support as of now.
Any plans for v3?

[2020-05-01 08:56] dkozickis commented on #1734
Closing as this is

[2020-05-01 08:57] #1734 closed

[2020-05-01 09:02] dkozickis commented on #861
If @berritu is not responding you cant try to pick it up @JacobSoderblom

[2020-05-01 09:03] dkozickis commented on #1729
Solution provided by @donovanclarke would be my best bet too, thank you!

[2020-05-01 09:03] #1729 closed

[2020-05-01 09:08] dkozickis commented on #1733
[Getting Started ](https://date-fns.org/v2.12.0/docs/Getting-Started) is your best bet.

You need either a [Node](https://nodejs.org/en/) environment to run it, or compile to browser.

This might also help - https://nodejs.dev/

[2020-05-01 09:15] dkozickis commented on #1697
Can you guys (@psimk or @r3d4rmy) provided a reproducer repo?
I'm willing to investigate required settings, but settings up webpack from zero is not my strength :)

[2020-05-01 09:19] dkozickis commented on #1712
Are the timezones same on all of your devices?

[2020-05-01 09:26] dkozickis commented on #1730
There's no support for multiple calendars at the moment, any timelines in your mind @kossnocorp ?

[2020-05-01 09:30] dkozickis commented on #1619
Closing the issue for now, @donovanclarke thank you for your help!

[2020-05-01 09:30] #1619 closed

[2020-05-01 09:31] dkozickis commented on #1620
@leedriscoll are you willing to provide PR for this one?

[2020-05-01 10:18] psimk commented on #1697
@dkozickis Here you go [repo](https://github.com/psimk/date-fns-webpack-context-replacement-plugin-example).
I hope that the README/internal code is explanatory enough.

[2020-05-01 11:18] leedriscoll commented on #1620
@dkozickis Absolutely, was just waiting for the green light to go ahead.

[2020-05-01 13:37] MontoyaAndres commented on #1712
I just get the date through the database, like for example:

2020-04-14T17:30:00.000Z

And I just concert it, using the function that I show before...

[2020-05-01 18:35] dkozickis commented on #1712
That’s correct.

But you are initializing “new Date” on different clients, and when initialized this Date object gets time zone of the client where it was initialized.

Hence the question - are time zones the same?

[2020-05-01 18:36] dkozickis commented on #1620
Oh, that was not entirely obvious from your initial post :(

Please! Feel free 🙏🏻

I will assign this issue to you now. 🙇

[2020-05-01 18:38] dkozickis commented on #1697
Thanks! I’ll have a look.

[2020-05-01 19:17] papiro commented on #1622
@dkozickis @dcousens I apologize. Am I the only one who thinks date-times are complex? I didn't realize that the container I was running tests in has a timezone of UTC:
[code]
I think I was then doing some sanity checks in my workspace, outside of the container... Didn't notice they were different:
[code]

[2020-05-01 19:40] MontoyaAndres commented on #1712
Oh I got it, no, in my case I'm from Colombia and the client is from Mexico, the client has the Mac and iPhone and he has that error

[2020-05-01 19:41] MontoyaAndres commented on #1712
But the date it's static, I mean, it's always 2020-04-14T17:30:00.000Z the country affects something?

[2020-05-02 02:24] dcousens commented on #1622
This library wouldn't exist if you did :stuck_out_tongue:

[2020-05-02 18:05] dkozickis commented on #1622
I wish everyone spoke in Zulu time always 🤷🏻‍♂️

I will close this for now, please reopen if you’re able to provide a reproducer.

[2020-05-02 18:05] #1622 closed

[2020-05-02 18:15] dkozickis commented on #1712
See the “Z” at the end of date time strong means that this date time is in +0000 time zone.

1730Z is 1730 in GMT+0000, but is 2030 in GMT+0300. When you call `new Date` with this date, JS sees that there is a reference to time zone in the date time string and “converts” the provided date time to local time zone.

Try adding `X` (time zone) to the end of your format string, e.g. `EEEE d MMM, h:mm

[2020-05-02 18:19] dkozickis commented on #1626
@gabsong we are happy if you’re happy :D

Sorry it took so long to respond here, are you still willing to investigate it?

[2020-05-02 19:47] splintor commented on #1306
Why is this closed? 🤔

[2020-05-02 22:30] justingrant opened #1750 "differenceInDays no longer matches addDays (breaking change in 2.12?)"
_UPDATE: I did more investigation and made a few revisions to clarify the original report._

I just spent a day tracking down a problem in my app that turned out to be caused by a breaking change or bug in date-fns 2.12.0: the change to `differenceInDays` behavior from #1630.  `differenceInWeeks` is also affected, but `differenceInMonths` is not. The following repro illustrates the problem.  All r

[2020-05-03 05:49] justingrant commented on #1510
I believe that this behavior is NOT a bug, but is expected behavior because date-fns only uses the user time zone, not UTC, to evaluate date boundaries and to preform date calculations. For example, I'm in the America/Los Angeles timezone, so for me `new Date(0)` is `Wed Dec 31 1969 16:00:00 GMT-0800 (Pacific Standard Time)`.  If I add or subtract months from this date, the local time will stay 16

[2020-05-04 07:31] JacobSoderblom commented on #861
@dkozickis sure thing, I'll try to create a PR with it!

[2020-05-04 12:36] dkozickis commented on #861
Thank you @JacobSoderblom !

[2020-05-04 12:39] dkozickis commented on #1306
By mistake :(

[2020-05-04 12:50] kossnocorp commented on #1750
Hey, I like what you are proposing and will gladly accept the help! Sorry that we’ve missed this and caused a big in your app.

[2020-05-04 19:33] wilcoxmd opened #1753 "eachDayOfInterval infinitely loops in Safari if DST time shift is at midnight"
Reproduction steps:

Set your timezone to 'America/Santiago',  and call in Safari with

[code]

Since the time changes at midnight, incrementing from `Sat Aug 13 2016 00:00:00 GMT-0400 (-04)` returns back `Sat Aug 13 2016 23:00:00 GMT-0400 (-04)`, for which the hours are set back to 00:00:00 and then the loop that increments the day continues forever.

[2020-05-04 21:14] niquepa commented on #1083
Had a similar issue, in my case the error I got was:

`Uncaught TypeError: Object(...) is not a function`

After executing `yarn add date-fns@next` got fixed, thanks.

[2020-05-05 07:25] kossnocorp commented on #1083
@niquepa this you should install `date-fns@2` instead because `@next` will install the latest beta `2.0.0-beta.5`, while the newest version is `2.12.0`.

[2020-05-05 07:28] kossnocorp commented on #1753
Thank you for the heads up!

[2020-05-05 08:45] kossnocorp commented on #1730
I can't give any timelines because I don't understand the scope of adding a new calendar.

@suvash, could you please briefly outline how Bikram Sambat support looks in your mind, and what changes would be required to say English locale to introduce it?

[2020-05-05 09:04] masbaehr commented on #1473
still wrong as of today: https://date-fns.org/v2.12.0/docs/Time-Zones

[2020-05-05 11:40] kossnocorp commented on #1473
@masbaehr sorry I must have missed a pull-request from you.

[2020-05-05 11:44] #1473 closed

[2020-05-05 11:45] kossnocorp commented on #1473
@masbaehr weird, I couldn't find it so I did it myself ¯\\_(ツ)_/¯

[2020-05-05 11:54] masbaehr commented on #1473
Haha of course you did not find it - there is one. I just mentioned it as i came across it while switching from moment to date-fns ;D since the pattern is "Z" there

[2020-05-05 11:55] kossnocorp commented on #1473
Ok, I see. You just sounded like someone who's tried to help but got ignored.

[2020-05-05 12:56] #1709 closed

[2020-05-05 14:54] dragunoff opened #1755 "[BG locale] Quarters translation seems wrong"
https://github.com/date-fns/date-fns/blob/e72b620a308bbf5e83085d533997cf4cdb1c3b45/src/locale/bg/_lib/localize/index.js#L9-L13

In Bulgarian language the word _"квартал"_ is used when referring to a "residential quarter". When talking about time intervals (and fractions in general) I think _"четвърт"_ is the proper term to use. Examples:

_"Втора четвърт на годината" / "Second quarter of the year"

[2020-05-05 18:44] dkozickis commented on #1697
Ah wait, so you have a solution @psimk :D

Would you like to do a quick PR?

[2020-05-05 21:32] justingrant commented on #533
The fix for this issue in #1630 unfortunately caused a regression #1750 which broke my project last week.

I just submitted a PR #1754 which replaces #1630 (which fixed #533 in 2.12) with a different fix for #533 but which also avoids triggering #1750.

Note that my PR takes DST into account. This was needed because (copying from the PR):

[2020-05-06 05:29] nikhilag commented on #1127
Given that stable version of Deno is about to release in a week, I think it's important to consider this issue once again.

[2020-05-06 06:49] kossnocorp commented on #1127
@nikhilag any suggestions what we have to do? date-fns is already added to the 3rd-party modules list: https://deno.land/x/date_fns.

[2020-05-06 08:07] blindibrasil opened #1756 "[Typescript] I can't import the translation (locale) of the terms in typescript."
I can't import the translation of the terms in typescript.
I'm trying to import as follows:
[code]
Before saving Eslint accuses the following error:
[code]
When saving the file, the imports look like this:
[code]
Giving error in the clear because the module '"date-fns"' has no exported member 'ptBR'.

So I would like some help on how to solve this problem if it is related to my Prettier or Eslint.

[2020-05-06 12:10] nikhilag commented on #1127
Sorry I didn't know it was already there. I suppose this issue can be closed.

[2020-05-06 14:15] MontoyaAndres commented on #1712
I tried adding `EEEE d MMM, h:mm aaaa X` and the output is `Tuesday 14 Apr, 5:30 p.m. -05` in all the devices... What that `-05` mean?

[2020-05-06 14:25] kossnocorp commented on #1127
Alrighty, if there's nothing actionable I'm closing it.

[2020-05-06 14:25] #1127 closed

[2020-05-06 15:00] MontoyaAndres commented on #1712
One thing that I forgot to mention. It's when I call this method:

[code]

I call this function like this: `formatDate(date.replace("Z", ""))` I remove the Z at the end because it gives me another date... Maybe the problem is how I save the date on ISO format...

This is because when the user opens the input of type="datetime-local" I take the value returned from the input and I format it to ISO l

[2020-05-06 17:12] MontoyaAndres commented on #1712
Yeah, I was saving the date wrongly to the db... Sorry about that :)

[2020-05-06 17:12] #1712 closed

[2020-05-06 18:03] dkozickis commented on #1712
No prob :)

[2020-05-06 18:07] dkozickis commented on #1756
Locales are not exported from root of the module, you can only import them from `date-fns/locale`

Your ESLint rule is not doing correct auto correction, you’ll have to ignore it in this case, or setup date-fns as exclusion in the rule (if possible).

All in all - this is not date-fns issue (as it is a design decision) and is more of an userland issue (ESLint rules), hence - closing.

[2020-05-06 18:07] #1756 closed

[2020-05-06 18:54] dkozickis commented on #1755
Pinging @date-fns/i18n-bg

P.S. @dragunoff from personal knowledge - квартал and четверть are used interchangeably in Russian language, this might be the same case? Not a linguistic expert, not really sure how similar are BG and RU.

[2020-05-06 20:55] #1750 closed

[2020-05-06 23:12] dcousens commented on #533
And now my project is broken.
The issue is that `differenceInDays` is,  after #1754, inconsistent with `differenceInHours` again.
We have 1 set of functions operating on UTC,  and another operating on local time.

[2020-05-06 23:40] dcousens commented on #533
And now my project is broken.
The issue is that `differenceInDays` is,  after #1754, inconsistent with `differenceInHours` again.
We have 1 set of functions operating on UTC,  and another operating on local time.

These should probably each be indicated in the documentation.

I think the only option now is to document the API inconsistencies,  and if we want to resolve the situation,  start discus

[2020-05-07 01:20] justingrant commented on #533
Hi @dcousens - Yep, your investigation is correct. Math with days (and larger) units use local time, while math with hours (and smaller) units uses UTC. AFAIK, this is consistent with behavior of `add*`/`sub*` functions, and also matches how moment.js has behaved [since 2011](https://github.com/moment/moment/issues/78#issuecomment-2979637). It's also consistent with JS's own `Date.setDate` API whi

[2020-05-07 04:55] justingrant commented on #1302
@mlieu - As far as I can tell, this is not a bug. date-fns is correctly adding/subtracting 24 hours regardless of whether there's a DST transition between the two dates. To verify, convert the times to UTC and you'll see that they're indeed 24 hours apart:
[code]

To get the previous day at the same time, use `addDays` or `subDays`. These APIs respect daylight savings time and try to keep local ti

[2020-05-07 06:44] justingrant commented on #1682
I think I understand why this bug is happening.  The root cause is likely in the `addMonths` function (which is called by `add` even when `months` is zero or omitted).

When `addMonths` is passed a time in the ambiguous hour before the end of DST, it will mutate that time to the DST version of the same time, even if the desired increment is zero months.  `add`, in turn, calls `addMonths` with a ze

[2020-05-07 06:53] justingrant opened #1757 "addISOWeekYears resets times to 0:00:00"
`addISOWeekYears` resets times to midnight local time. I didn't find this behavior in any other date-fns APIs.

Repro:

[code]

[2020-05-07 07:07] justingrant opened #1758 "differenceInMonths reports a full month even if it's one hour short (if period starts at DST)"
While implementing #1754, I discovered that `differenceInMonths` is vulnerable to the same problem reported for `differenceInDays` in #533.

In this `differenceInMonths` issue, a period will be reported as a full month even through the period is really one hour short of a month, as long as the period starts exactly when DST starts.

I probably won't have time to PR this, but I wanted to record the

[2020-05-07 09:44] dragunoff commented on #1755
BG and RU have a similar lexicon but I don't think I've ever heard "квартал" used for fractions in BG. It sound wrong to me :-)

[2020-05-07 09:49] aounleonardo commented on #1083
I'm using `^2.13.0` and am getting this warning when I just use:
[code]

Is this expected?

[2020-05-07 13:12] tunnckoCore commented on #1755
Oh yea, for sure it's wrong. I don't know how it was merged (maybe I missed that pr, haha). I never heard to be used too.

[2020-05-07 16:39] justincrich commented on #946
would like this feature as well

[2020-05-07 18:41] justingrant commented on #1682
I just filed PR #1760 to fix this issue.

[2020-05-08 01:52] rahulcyadav opened #1761 "Format duration"
I am looking to format time duration using date-fns.
For example:
time taken to run a task is 75000 milli seconds which I need in `"mm 'min', ss 'sec'"` format
that would be `"01 min, 15 sec"`

I have two options in date-fns
1. `format(new Date(75000), "mm 'min', ss "sec"")`
this produces `"31 min, 15 sec"` coz of my timezone `GMT+5.30`

2. `formatDistanceStrict(new Date(0), new Date(75000))`
this

[2020-05-08 06:55] septs commented on #1761
request support "ISO8601 duration format" of format

[2020-05-08 07:26] JacobSoderblom commented on #861
@dkozickis I have added a PR, feel free to check it when you have the time :)

[2020-05-08 12:45] saifalfalah opened #1762 "intervalToDuration not working"
Trying to use intervalToDuration as described in the documentation as follows:
[code]

It throws an error. If I declare the dates separately above and store it in the variable and pass the variables in the interval object, it works in Node. It still doesn't work on the browser.

Any idea why this isn't working?

[2020-05-08 12:47] kossnocorp commented on #1762
Hi! The docs are incorrect, sorry. You have to use `start` and `end`:

[code]

[2020-05-08 12:49] saifalfalah commented on #1762
That worked perfectly. Thanks for the quick reply. :)

[2020-05-08 12:52] saifalfalah commented on #1762
How's this working in Node though?

`let iTD = require("date-fns/intervalToDuration");
const start = new Date("8 May 2020 18:40:00");
const end = new Date();
const result = iTD({ start, end });`

[2020-05-08 17:21] kossnocorp commented on #1762
@saifalfalah not sure if I understand the question

[2020-05-08 17:35] dkozickis commented on #1755
Are you willing to PR @dragunoff ?

[2020-05-09 08:28] sebastianhaberey opened #1764 "Add eachHourOfInterval"
Was missing this functionality today. I can work on a PR (basically copy & paste eachDayOfInterval) if you want.

[2020-05-11 06:18] kossnocorp commented on #1302
@justingrant you're right, thank you for the input!

[2020-05-11 06:19] #1302 closed

[2020-05-11 06:27] kossnocorp commented on #1757
That's definitely unexpected behavior. The problem is in `setISOWeekYear` that sets the time to midnight.

[2020-05-11 06:32] kossnocorp commented on #1758
Thank you, that's very useful!

[2020-05-11 06:34] kossnocorp commented on #1083
@aounleonardo no, it's not expected and rather impossible for the snippet that you've provided. Please check other places, including the 3rd-party code.

[2020-05-11 06:50] kossnocorp commented on #946
Given the number of supporters, I would love to see this added as @unikitty37 suggested as `aaa`

[2020-05-11 07:04] kossnocorp commented on #1761
@rahulcyadav I recently [merged `formatDuration`](https://github.com/date-fns/date-fns/pull/1671). Expect it shipped with the next version. Follow the official Twitter for updates: https://twitter.com/date_fns.

@septs if you mean formatting duration as a string like `P39Y2M20DT0H0M0S` then, you need [`formatISODuration`](https://date-fns.org/v2.13.0/docs/formatISODuration) that I've shipped with

[2020-05-11 07:04] #1761 closed

[2020-05-11 07:19] kossnocorp commented on #1764
That would be a good addition, PR is welcome!

[2020-05-11 08:28] lolgesten commented on #1510
I think you are focusing too much on UTC. I believe the problem is bigger. I go back to this simple example:

[code]

The fact that it says `Z` there is not the problem. It's about user intention. When I read the above line I interpret that as:

_Create a `Date` for some point in time, and add a WHOLE one month to that._

But what it in fact does is:

_Create a `Date` for some point in time . Conv

[2020-05-11 10:01] dragunoff commented on #1755
After giving is some more thought it occurred to me that the correct term for _"an yearly quarter"_ in Bulgarian is _"тримесечие"_ ("_a three-month_"). I've definitely heard that used very often and it's wide-spread in materials on the web. While my previous suggestion ("четвърт") is technically correct I don't think it's actually used 🤔

Dictionary reference: https://rechnik.chitanka.info/w/%D1%8

[2020-05-11 17:03] sebastianhaberey commented on #1764
I'll have a go at it come weekend.

[2020-05-11 18:46] gbhasha opened #1766 "English (India) [en-in] language support"
Add support for en-in language support.
Something similar to moment https://github.com/moment/moment/blob/develop/locale/en-in.js

[2020-05-11 22:19] dcousens commented on #1510
@justingrant maybe a simple addition to the library would be `addUTC`?

[2020-05-11 23:01] tanoabeleyra commented on #1510
This. It's really confusing to use a method called `addMonth` and sometimes get the same month as output. It leads to unexpected bugs.

Also, a lot of us came from the Moment.js library (looking for a lightweight alternative) and adding a month in Moment.js works as expected.

[2020-05-11 23:08] dcousens commented on #1510
Can you show why you think could happen?
DST in a local timezone could result in less than expected number of hours being added,  but the local date should still be exactly incremented by 1 month.

[2020-05-11 23:18] tanoabeleyra commented on #1510
@dcousens To be honest, I don't really remember what was our use case (I'm not even working on the same project nor the same enterprise anymore), but I do remember that the way the `addMonth` method works led to a bug and we had to replace the library with Moment.js.

[2020-05-11 23:38] justingrant commented on #1510
Good discussion!  I'll try to respond to everyone in one post, hope this is OK.

FWIW, the behavior described in this issue is exactly the same behavior that you'll get in moment.js, as long as the local timezone has DST that starts in March:

[code]

Imagine you live in a timezone where DST starts in mid-March and you have an AI assistant that manages your calendar. You have an appointment on Mar

[2020-05-11 23:51] justingrant commented on #1510
Also, IMHO the long-term answer to all these problems (other than outlawing DST which I would fully support!) is the TC39 [Temporal](https://github.com/tc39/proposal-temporal) proposal to finally add a good Time/Date API to the JS standard library.

It's currently in stage 2 and I think the API is looking really good.  The key to making it a great API is that there are different classes used for A

[2020-05-12 01:30] tanoabeleyra commented on #1510
Ok, I might be wrong or our use case was different, but I remember that using Moment.js fixed the problem. I'm sorry I don't have a working example anymore.

Thank you so much for taking the time of writing such a detailed justification for this behavior.

[2020-05-12 09:37] ValentinH opened #1768 "[TS] - type aliases are polluting the global scope"
I've noticed that the type aliases like `Locale` are defined globally: https://github.com/date-fns/date-fns/blob/master/typings.d.ts#L35

Because of this, if I have a custom `Locale` type in my project, the one from `date-fns` is always suggested first. More importantly, I'm actually able to use `Locale` without importing it.

This is actually the case for all the types defined outside the `dates-

[2020-05-12 12:05] tunnckoCore commented on #1755
Тримесечие is better, yea.

[2020-05-12 15:48] kossnocorp commented on #946
I can't promise that I will work on that any time soon, so PRs are welcome

[2020-05-12 15:56] nathggns commented on #946
@kossnocorp can do – quick question, would you advise implementing this per locale, or is a `toLowerCase` solution acceptable?

[2020-05-12 16:13] kossnocorp commented on #946
@nathggns per locale, but only to `en`. The rest should behave the same.

[2020-05-13 11:35] AlbertoPdRF opened #1770 "The Spanish locale is missing a preposition."
First of all, sorry if this has already been discussed elsewhere, I couldn't find anything about it and decided to go ahead and open an issue.

For the Spanish locale, both the `full` and `long` `dateFormats` are missing a `'de' ` before the year (`y`).

If the change is just adding the missing preposition [here](https://github.com/date-fns/date-fns/blob/master/src/locale/es/_lib/formatLong/index.

[2020-05-13 13:47] dkozickis commented on #1770
Can anyone from @date-fns/i18n-es comment please?

[2020-05-13 13:52] dkozickis commented on #1768
That was discovered here - https://github.com/date-fns/date-fns/issues/1472 , and unfortunately would be a breaking change. To be fixed in v3, but no timelines yet.

Closing this as dupe of #1472, thank you!

[2020-05-13 13:52] #1768 closed

[2020-05-13 18:08] ValentinH commented on #1768
Lol I am actually the writer of the issue you linked. I was sure I wrote one a while ago but didn't manage to find it back.

Sorry ^^

[2020-05-13 19:12] GermanBluefox commented on #1734
Just add ```"date-fns": "2.13.0",``` to your package.json

[2020-05-13 19:53] prust opened #1771 "Docs don't load in Safari (Loading versions... undefined is not an object)"
When I open the docs (https://date-fns.org/docs/Getting-Started) in Safari (both normal & incognito mode), I see this:

<img width="1282" alt="image" src="https://user-images.githubusercontent.com/23037/81858051-fd057080-9517-11ea-9479-67e41b3c82a5.png">

The stack trace for the error is just one line:

[code]

If I click on the `index.js:18` reference, it takes me to `enso/src/loop/index.js` (whi

[2020-05-14 10:16] kossnocorp commented on #1771
There's must be a problem with your local ISP. It loads on my side.

[2020-05-14 10:16] #1771 closed

[2020-05-14 10:39] fjaguero commented on #1770
@dkozickis I agree with @AlbertoPdRF. It should be "5 de marzo **de** 2020" instead of "5 de marzo 2020".

[2020-05-14 16:16] Omenranr opened #1772 "Module not found: Can't resolve 'date-fns/_lib/format/longFormatters'"
Hi, I'm using date-fns with material-ui like that :
https://material-ui.com/components/pickers/

But this appears :
`./node_modules/@date-io/date-fns/build/index.esm.js
Module not found: Can't resolve 'date-fns/_lib/format/longFormatters' in '....node_modules\@date-io\date-fns\build'`

[2020-05-14 16:24] kossnocorp commented on #1772
You probably have to install `date-fns`, if it doesn't help please direct the question to https://github.com/dmtrKovalenko/date-io.

[2020-05-14 16:24] #1772 closed

[2020-05-14 16:29] Omenranr commented on #1772
Yes, I'm installing it right now I didn't pay attention. I didn't close the issue in case the problem persists. Thanks for help 👍 !

[2020-05-14 21:08] sambs commented on #1127
Attempting to load using Deno 1.0:

```import { format } from 'https://cdn.pika.dev/date-fns@^2.13.0'```

I'm getting the following error:

```Uncaught URIError: relative import path "date-fns" not prefixed with / or ./ or ../ Imported from "https://cdn.pika.dev/-/date-fns@v2.13.0-CNtDbLLYSsBdKHS9Td13/dist=es2019,mode=types/typings.d.ts"```

[2020-05-15 07:01] kossnocorp commented on #1772
You're welcome

[2020-05-15 07:22] dkozickis commented on #1770
PRs are welcome :)

[2020-05-15 18:47] dkozickis commented on #1768
Right :D welcome back!

[2020-05-15 21:42] sebastianhaberey commented on #1764
[Here](https://github.com/date-fns/date-fns/pull/1776)'s my PR.

[2020-05-17 07:32] sunil-shrestha opened #1778 "intervalToDuration and adding Duration to leap-year date give different result"
Hello all,
I am trying to calculate duration between two dates which includes leap-year on the start-date.
On the other-hand, i also need to calculate the end-date based on start-date and duration.
In theory, they are just reverse of each other. But the results are not same. Any idea how we can resolve this?
For example:
[code]

Expected: result2 to be equal to duration

[2020-05-17 11:46] alexbepple opened #1779 "ES import 'date-fns/fp' fails on Node 14"
[code]

fails with

[code]

Tried this on both Node 14.0 and 14.2. Also with both date-fns 2.12 and 2.13.

[2020-05-17 15:30] kossnocorp opened #1780 "Reintroduce the CDN version"
Developers that just start and those who don't use any browser bundler struggle with using date-fns. It's a shame to force them to use Moment.js, so I think it worth reintroducing the CDN version.

[2020-05-17 15:33] kossnocorp commented on #1733
Hey! As @dkozickis suggested to use date-fns you need to use a JS bundler, for example [webpack](https://webpack.js.org/).

I understand that it's probably not what you've expected, but right now we don't have a CDN version that you can easily include in the HTML. I'm sorry.

I've created an issue that will address your problem sometime in the future: https://github.com/date-fns/date-fns/issues/17

[2020-05-17 15:33] #1733 closed

[2020-05-17 15:37] kossnocorp commented on #1389
So far, nobody else complained about the issue, so I assume that the new Angular compiler (tbh I've no idea what's that) sorted this out. If you or anybody else who finds this issue still have this problem, please comment with minimal reproduction repo so I can see the problem.

[2020-05-17 15:37] #1389 closed

[2020-05-17 15:44] kossnocorp opened #1781 "Node.js ESM support"
Unfortunately, Node.js didn't add support for `"module"` field that is supported by bundlers such as webpack, and introduced [their own resolve logic](https://nodejs.org/api/esm.html).

To add Node.js ESM support instead of `/esm` submodule we need to add `.mjs` version next to CommonJS files. That would be a breaking change so we should introduce it in v3.

Thank you Node.js, very nice.

See the

[2020-05-17 15:45] kossnocorp commented on #1779
Sadly right now date-fns doesn't support Node.js ESM. To add it we need to introduce a breaking change, so I've created a separate issue for that: https://github.com/date-fns/date-fns/issues/1781

[2020-05-17 15:45] #1779 closed

[2020-05-17 16:00] kossnocorp commented on #1510
@justingrant thank you so much for chiming in!

As @justingrant noted, this is expected behavior.

[2020-05-17 16:00] #1510 closed

[2020-05-17 16:06] kossnocorp commented on #1127
@sambs could you please create a separate issue with minimal reproduction repo so that I can see the error myself?

[2020-05-17 16:11] 43081j opened #1782 "Move to standard Intl.RelativeTimeFormat"
This is now a widely supported web standard, as seen by the compat table here:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/RelativeTimeFormat

As with everything, Safari is behind so we're not _quite_ at full support across all browsers yet.

Right now, date-fns simply chooses a format string based on the difference between two dates, then passes it on to

[2020-05-17 16:18] kossnocorp commented on #1782
"Moving" is not an option, but I would love to see a new function that will use the Intl API behind the scenes.

I think `intlFormatRelative` name is a good option because it suggests that Intl API used and the polyfill is required. Also, in the future, we plan to move I18n to separate packages, and when we do that we can rename `intlFormatRelative` to `formatRelative` or create `@date-fns/intl`.

[2020-05-17 16:19] kossnocorp commented on #464
See my comment: https://github.com/date-fns/date-fns/issues/1782#issuecomment-629822947

[2020-05-17 16:19] #464 closed

[2020-05-18 05:12] Imballinst commented on #1748
@kossnocorp is this intended behavior? From a quick glance on `parseISO`, it uses RegEx to parse the date and time. I think in this case, it only "partially parses" the invalid string. CMIIW!

[2020-05-18 05:16] kossnocorp commented on #1748
I've no strong opinion regarding this, to be honest. As I see, not only Moment.js behaves like that:

[code]

So I guess this is a bug.

[2020-05-18 07:49] Imballinst commented on #1748
Alright, thanks for the clarification! I'll try attempting on this issue.

[2020-05-18 07:54] sambs opened #1783 "Typescript typing errors with Deno"
Using date-fns with typescript and Deno 1.0 produces the following error:

[code]

Reproduce using this [gist](https://gist.github.com/sambs/d3c30151b9ed1cd3d308883148f88aec)

[code]

[2020-05-18 08:00] sambs commented on #1127
Sorry, of course #1783. It appears to be an issue with the typescript typings. It works fine in javascript.

[2020-05-18 08:11] kossnocorp commented on #1127
@sambs thank you!

[2020-05-18 08:40] TKQCuong opened #1784 "Vietnamese language support"
To whom it may concern,

I would like to raise an issue in adding new languages to I18n. We are in need of I18n Vietnamese language for our big Vietnamese social network here in Vietnam (Hahalolo.com). We finally start eliminating the use of Moment.js for Date-fns (using AMD with ver 1.3) and impressed by how powerful and lightweight and fast the lib are.

Thus, we would be really appreciated if o

[2020-05-18 08:42] kossnocorp commented on #1784
Hi! Vietnamese locale is present in v2: https://github.com/date-fns/date-fns/blob/master/src/locale/vi/index.js

Please tell me if you need any help.

[2020-05-18 08:42] #1784 closed

[2020-05-18 08:49] TKQCuong commented on #1784
Hi,

V2 does not support AMD which we are using now in system. Am I
misunderstanding something?

Thanks

On Mon, May 18, 2020, 15:43 Sasha Koss <notifications@github.com> wrote:

[2020-05-18 08:58] kossnocorp commented on #1784
No, you're right. We plan to restore the CDN version, but I can't provide any timeline. I would recommend to build the library yourself using [webpack](https://webpack.js.org/) or any other JS bundler.

[2020-05-18 10:24] DCBN opened #1785 "Outdated locales"
Currently there are a couple of outdated locales and right now we have builds failing because of nl-BE and fr-CH.

What is needed to update these and is there an ETA?

[2020-05-18 14:36] mtscsoftware opened #1786 "isAfter misleading documentation parameter description"
Hello all, thank you very much for this amazing module.

Not a big deal, however I dealt with this in my last project.

isAfter function - date parameter description basically says that the result is true IF the second parameter > first parameter and the "Returns" section is correct stating that the function returns true if first parameter > second parameter.

See image below - the comments are co

[2020-05-18 16:24] kossnocorp opened #1787 "Remove instruction to update the changelog from the contributing guide"
People rarely do that but when they do it always require edits and merge conflict. Not worth it.

[2020-05-18 16:43] #1787 closed

[2020-05-18 16:46] #1714 closed

[2020-05-18 16:48] #861 closed

[2020-05-18 16:52] #1682 closed

[2020-05-18 16:53] #1755 closed

[2020-05-18 17:03] #1766 closed

[2020-05-18 17:10] #1770 closed

[2020-05-18 17:11] #1764 closed

[2020-05-18 17:23] kossnocorp commented on #1748
@Imballinst thanks 🙏

[2020-05-18 17:25] kossnocorp commented on #1785
If you need those, please add those yourself and send a PR. They are pretty straightforward and can be based on `nl` and `fr` respectively.

[2020-05-18 17:25] #1785 closed

[2020-05-18 17:26] kossnocorp commented on #1786
You didn't finish uploading the screenshot.

[2020-05-18 17:36] kossnocorp commented on #1786
Anyway, the docs state:

And the example shows the same:

[code]

Maybe you're looking on an outdated docs or old examples?

[2020-05-18 17:36] #1786 closed

[2020-05-18 17:45] 43081j commented on #1782
Out of interest, what is the reason moving isn't an option? is it because the output would inevitably differ from what exists now (so a breaking change)? or is it because it conflicts with your l18n plans?

I don't think its a good idea to introduce some separate function like `intlFormatRelative`. It feels like a makeshift solution because nobody could think of how to integrate it properly. If fo

[2020-05-19 01:08] shivkumarganesh opened #1788 "Daylight saving is not being considered while using date-fns"
The offset is not considering for pacific timezone. Right now we are in PDT but the timezone always formats the time according to PST. Rather than using GMT-07:00 rather I always end up getting GMT-08:00. The example is mentioned below

[code]
Is there any way to accommodate the DST along with the timezone

[2020-05-19 08:57] bepsvpt opened #1789 "Parse string result in incompatible token K and a"
When parse a string using following format:

[code]

It will throw the following error:

[code]

However, using `hh` does not throw the error.

The only different between `K` and `h` is `K` is `[0-11]` and `h` is `[1-12]`.

Am I misunderding the `K` pattern?

---

Patterns Table:

<img width="789" alt="image" src="https://user-images.githubusercontent.com/8221099/82306350-88d43c80-99f1-11ea-9129-a

[2020-05-20 09:20] Matsuuu commented on #1628
I could try out fixing this

[2020-05-20 11:04] kossnocorp commented on #1782
Because of the breaking change, incompatible and rigid format, the difference in approach to passing to locales and poor support in the browsers.

We'll be moving forward with the solution that I described in the comment before.

[2020-05-20 13:46] thedamon commented on #1782
Intl is a really cool idea, but it also has some huge drawbacks

1. you have to be ok with how the browser has decided to want to print dates based on vague descriptions (which sometimes differ from browser to browser). it doesn't allow the level of finegrained control that you'll sometimes need.
2. It causes complications in unit testing because node doesn't have the API by default.
3. Because it

[2020-05-20 16:20] 43081j commented on #1782
They are all fair points, I see now why you might not want to use it.

However, the idea of having two implementations (Intl and not) still seems like a rather bad idea. Almost like providing it just to be able to say you support the Intl API without actually adopting it entirely. It would probably go unnoticed for most consumers and would take far longer to see any rise in adoption rate.

I know

[2020-05-20 17:55] kossnocorp commented on #1782
@43081j like I said, we want to adopt it and gradually make it default as it Intl becoming the mainstream. As the maintainer, I'm responsible to provide a great experience for everyone who uses the library. I'm here for a long ride and don't hurry anywhere.

Making it default now will not make date-fns leaner, but instead will bloat the build because people will have to provide the polyfill **all

[2020-05-20 21:01] 43081j commented on #1782
Of course, my point was more that I didn't agree with the approach of trying to support both intl and not, as some strange middle-ground.

As for a polyfill, I'm not sure why you'd ever ship one. Especially if you plan on supporting your own locales, you'd simply require that anyone who wants to use date-fns with the Intl APIs ensures they have polyfilled said API. It isn't your job to, you are a

[2020-05-20 21:27] afelicioni opened #1796 "Localization using ES6 features leads to minify failure"
Hello, using `date-fns` for an existing project built via https://create-react-app.dev/

At build stage I am facing a failure as described on https://create-react-app.dev/docs/troubleshooting/#npm-run-build-fails-to-minify since used `react-script` version in project is less than 2.

Current affected version is `v2.14.0` that merged code from #1765 two days ago; my temporary solution is to freeze

[2020-05-20 21:32] afelicioni commented on #1796
Just to provide an hint, the file is [src/locale/hu/_lib/formatDistance/index.js](https://github.com/date-fns/date-fns/tree/master/src/locale/hu/_lib/formatDistance/index.js); minification would be successful with the following code variant
[code]

[2020-05-21 06:37] pawel-marciniak commented on #1697
Any ona has a correct configuration for this?

[2020-05-21 06:40] kossnocorp commented on #1697
@pawel-marciniak I've just enabled GitHub Discussions and I encourage you to ask the question here: https://github.com/date-fns/date-fns/discussions.

Please make sure you include the description of your problem.

[2020-05-21 09:07] amk221 opened #1800 "Reverse parse 'P'"
I'm migrating to date-fns from moment.js.

Previously I was able to take a localisation string like 'L' (now 'P'), and turn it into its corresponding format, like dd/MM/yyyy (enGB) or MM/dd/yyyy (enUS).

I'm not sure this is possible with date-fns because the mappings are private.

The use case here is displaying a message:

[code]

[2020-05-21 09:18] kossnocorp commented on #1800
You forgot to ask a question 😅

I assume that you're looking for a way to get `dd/MM/yyyy`/`MM/dd/yyyy` strings for each locale. If so, then we didn't provide a way for that, sorry.

If you're willing to make a pull-request with this addition, you're very welcome!

[2020-05-21 09:18] #1800 closed

[2020-05-21 09:20] amk221 commented on #1800
Thanks, can you give me an idea of what you might accept as a PR? Some kind of gist as to a function name etc.

[2020-05-21 09:32] kossnocorp commented on #1800
I can't give you a correct answer from top of my head, sorry. The first thing to do is to go through locales and see how data for `formatLong` is structured. Here's an example for `en-GB`: https://github.com/date-fns/date-fns/blob/master/src/locale/en-GB/_lib/formatLong/index.js#L3-L22

If all of them are similar, it's probably a good idea to [add a field to `formatLong`](https://github.com/date-f

[2020-05-22 03:47] mnasyrov opened #1801 "Flow strict typings"
Hello! I'm using `date-fns@2.14.0` in a project with strict flow typings and enabled `nonstrict-import` rule. So I have to mark imports with `$FlowFixMe` while `date-fns` has `@flow` annotation in `index.js.flow` file.

Please change the annotation to `@flow strict` in `index.js.flow` file.

[2020-05-22 07:23] kossnocorp commented on #1801
Hey! Could be you help me to understand what this change will mean for us? Having a way to reproduce the error (minimal reproduction repo would be great) would be great too!

[2020-05-22 10:31] TrySound commented on #1801
This would mean you should follow all lint rules specified in users strict section. But since all .flow files are just types it should not be a problem.

And IMO nonstrict-import is not the correct tool. It should not affect third parties.

[2020-05-22 10:53] sujayjaju commented on #1304
I have a different issue, same error:
[code]
returns `RangeError: Invalid time value`

Interestingly, under react-native, this only occurs if debug mode is turned off. The same code works ok if debug is turned on :/

[2020-05-22 10:56] kossnocorp commented on #1304
@sujayjaju you can't pass strings to `toDate`: https://github.com/date-fns/date-fns/blob/master/src/toDate/index.js#L53-L57

If you want to parse a loose date string, use `new Date('2020-05-18 11:11')`

[2020-05-22 14:18] mnasyrov commented on #1801
When `nonstrict-import` is enabled in a project, dependencies of a `@flow strict` module must also be `@flow strict` ([docs](https://flow.org/en/docs/linting/rule-reference/#toc-nonstrict-import)).

I created a demo project to reproduce the case: [date-fns-flow-issue-1801](https://github.com/mnasyrov/date-fns-flow-issue-1801).

**index.js**
[code]

**Flow check output**
[code]

[2020-05-22 15:20] kossnocorp commented on #1801
Thanks you, guys!

[2020-05-23 15:01] suvash commented on #1730
@kossnocorp @dkozickis Thanks for the replies. Lost this in my inbox somehow. If there already isn't a support for multiple calendars, this would probably be too much work as of now. Maybe something we can get back in the future.
and yes, I can claim the BC/AD for NE.

[2020-05-25 04:10] annaemu opened #1802 "Cannot find module './add/index.js'"
We received a build problem that was traced back to this library. The error we received was:

`Cannot find module './add/index.js'`

This error does not happen with version 2.13.0, but does occur with 2.14.0. This error occurs because in the compiled output installed for 2.14.0 there is no index.js file (only a index.d.ts file).

Thank you.

[2020-05-25 06:05] kossnocorp commented on #1802
I've freshly installed `2.14.0` and the file is there. Your installation might be corrupted and I suggest trying reinstalling node modules.

![CleanShot 2020-05-25 at 10 03 43](https://user-images.githubusercontent.com/52201/82783189-0c1ce480-9e6f-11ea-83ee-e4767d67343f.png)

[2020-05-25 06:05] #1802 closed

[2020-05-25 06:06] annaemu commented on #1802
@kossnocorp Yes, I did install it fresh. No node_modules directories. No lock files.

[2020-05-25 06:07] kossnocorp commented on #1802
Try installing in an empty project and send me minimal reproducible repo if the problem persists.

[2020-05-25 06:19] annaemu commented on #1802
@kossnocorp it seems I was having a problem with yarn. The issue occurred only if I used `yarn install`. Updating from yarn 1.17.3 to yarn 1.22.4 seemed to fix the issue.

Thanks for your help!

[2020-05-25 06:28] kossnocorp commented on #1802
You're welcome!

[2020-05-26 08:47] saysmaster opened #1804 "2.14.0 breaks existing libraries that depend on ^2.x.x"
After executing `yarn install` in my project it could not compile anymore. I was getting this message
[code]

It seems 2.14.0 does not output a `_lib` folder anymore, on which some packages depend (like react-datepicker)

[2020-05-26 08:56] kossnocorp commented on #1804
There's something with **your** installation, please make sure you use the latest yarn/npm, try to reinstall node modules or clear cache:

![CleanShot 2020-05-26 at 12 53 56@2x](https://user-images.githubusercontent.com/52201/82880861-0945f080-9f50-11ea-8253-915113c303cb.png)

Side note: the calendar library you use depends on private APIs, and while we don't intend to break it, this can happen, s

[2020-05-26 08:56] #1804 closed

[2020-05-26 09:42] saysmaster commented on #1804
@kossnocorp Actually, the problem is not in the date picker.

### Step to reproduce
I created a brand new react app with `create-react-app`. I installed `"date-fns": "2.14.0"` in package.json.

I have updated to the latest yarn and executed "yarn install" in project folder

I put only this code in the App.js file.

[code]

The code cannot compile again with the same error:

[code]

I look at `\.no

[2020-05-26 09:49] saysmaster commented on #1804
finally I had to force yarn to resolve date-fns in 2.13.0 by using

[code]

in package.json. But that's not a solution.

[2020-05-26 10:24] udonmai opened #1805 "How can I import all locales as a Map?"
If I do `import * as dateFnsLocales from 'date-fns/locale';`

`dateFnsLocales` will be with a type of Module but not actually a Map. This makes it difficult to play with when I want to get a specific locale based on a user's locale.

`dateFnsLocales[locale]` has type error, I can not do `if (locale in dateFnsLocales)` as well.

The only way I can see is to do as in https://github.com/Adphorus/reac

[2020-05-26 11:30] kossnocorp commented on #1804
Thank you for the detailed repro steps, but that is not a problem of date-fns either. I've followed your instruction is this is what I'm getting:

![CleanShot 2020-05-26 at 15 26 11](https://user-images.githubusercontent.com/52201/82895487-58e2e700-9f65-11ea-99a6-266f51b933e9.png)

You can make sure yourself by downloading and unpacking https://registry.npmjs.org/date-fns/-/date-fns-2.14.0.tgz:

!

[2020-05-26 11:32] kossnocorp commented on #1804
I know that's frustrating, but the key to your issue is to start looking for the answer elsewhere.

[2020-05-26 11:51] #1805 closed

[2020-05-26 16:56] RavsCodes20 commented on #1780
Struggling to use a browser bundler myself. I think a CDN version would be very helpful in getting pages off the ground and allowing for quicker development. Don't really like having to mess with bundling myself if I can avoid it.b

[2020-05-26 17:22] pankajupadhyay29 opened #1806 "Issue with parsing values in Japanese"
Tried parsing Japanese date but it is not working correctly
[code]
same happening with dd/MMM/yy
[code]
It returns 01 form October(10), November(11), December(12), however format is working correctlly
[code]

This is running on jest tests (node environment)

[2020-05-26 20:50] pankajupadhyay29 commented on #1806
After further debugging, I found that it is due to months match RegEx. PR raised for the fixed #1807.

[2020-05-26 21:59] sspilleman commented on #1783
You should use the 3rd party modules.. It works fine:

[code]

[2020-05-27 09:27] JMartelot commented on #1796
Hi, I'm facing same issue using last version of `date-fns` with IE11.
Seems that negative indices in array are not well support.

Fixing my date-fns dependency to v2.13.0 solved the problem.

[2020-05-27 15:39] sanioooook opened #1810 "UA language support"
We need a support Ukrainian language. what can I do to add Ukrainian language support to date-fns?

[2020-05-27 15:42] kossnocorp commented on #1810
Hey! It's already there: https://github.com/date-fns/date-fns/blob/master/src/locale/uk/index.js

You probably tried `ua`, but the right locale code is `uk`

[2020-05-27 15:42] #1810 closed

[2020-05-28 00:46] 185driver opened #1811 "Upgrading to v2.14.0 causes errors on compile"
I can't seem to upgrade successfully to v2.14.0 from v2.13.0. All my date-fns imports get flagged as `unresolved`  or `dependencies were not found`. If I revert to v2.13.0, all is well. I'm using yarn v1.22.4, if that matters.

<img width="681" alt="issue" src="https://user-images.githubusercontent.com/1835454/83085623-19de8f80-a052-11ea-88b6-6c9a88d56743.png">

![image](https://user-images.github

[2020-05-28 05:20] kossnocorp commented on #1811
Please check if the files are there (meaning `node_modules/addDays/index.js`, some people had similar issues:

- https://github.com/date-fns/date-fns/issues/1802
- https://github.com/date-fns/date-fns/issues/1804

Otherwise, this could be similar to this (I'm not familiar with Vue, but that's what Google showed me): https://github.com/vuejs/vue-cli/issues/2628

All in all that can't be a date-fns

[2020-05-28 05:20] #1811 closed

[2020-05-28 05:21] kossnocorp commented on #1811
You also can extract https://registry.npmjs.org/date-fns/-/date-fns-2.14.0.tgz to `node_modules` yourself to make sure that's a package manager issue and not something else with your setup.

[2020-05-28 08:49] olee commented on #816
I think it would be great to add it kinda like this:
[code]

This would still preserve the benefit of only importing used locales when bundling but also allows setting a default locale.
This is especially important when using date-fns in other libraries, because each one would have to do their own implementation of a default locale right now and a project using such libraries would have to set the

[2020-05-28 14:56] 185driver commented on #1811
Thank you. Further testing has narrowed the issue to `yarn` itself. I'm using Win 10.
[code]
[code]
Having said that, it seems odd that a minor semver update like this would trip up yarn. I'll leave this comment here for those who may experience this same issue in time.

[2020-05-28 15:18] kossnocorp commented on #1811
Thank you for sharing it!

[2020-05-29 08:02] udonmai commented on #1251
I think the issue here is that the locale specific functions for datetime format return
[code]

and `{{date}} {{time}}` is not a valid format for date-fns/format to parse.

while for different locales, the combination of {{date}} and {{time}} is different that's why we need this format from the locales.

The workaround here now could only be do parsing by outselves to replace the date and time by

[2020-05-29 08:05] udonmai opened #1814 "formatLong 's dateTime returns bad formats"
The issue here is that the locale specific functions for datetime format return
[code]
and `{{date}} {{time}}` is not a valid format for date-fns/format to parse.

while for different locales, the combination of `{{date}}` and `{{time}}` is different that's why we need this format from the locales.

The workaround here now could only be do parsing by outselves to replace the date and time by ourse

[2020-05-29 08:10] udonmai commented on #1814
It's mustache style and we should let the user parse it.

[2020-05-29 12:45] krutoo opened #1815 "How to format distance to now with format string (like dates)?"
Hi, please  tell me how can i format distance or duration to now with format string (like dates)?

As example of theoretical API:

[code]

[2020-05-31 03:36] brian101co opened #1816 "dateFns.format() returning incorrect date."
The format function is returning the wrong date. Whenever I remove the formatting string in the second argument it returns the correct date. The formatting of the dates initially is datetime in SQL database. I'm using v1.30.1 of dateFns

`dateFns.format(info.event.start, 'MMM d, YYYY') // Returns Incorrect Date`
`dateFns.format(info.event.end, 'MMM d, YYYY') // Returns Correct Date`

Here's what i

[2020-06-02 03:55] wenqi73 opened #1818 "incorrect format of week"
Hi, I use `yyyy-ww` to format date, but the return week is `01`.
[code]

[2020-06-02 10:24] lolu-decerno-gbg commented on #1796
@JMartelot same issue for me, was about to poly-fill but the downgrade to v2.13.0 solved my problems as well.

[2020-06-02 11:13] maxwell8888 commented on #1780
I find it really useful not having to use a bundler from time to time, for example for quickly playing around with something. You could also look I providing an UNPKG link, I tried the below but I'm getting CORS errors for some reason:
[code]

[2020-06-02 17:42] durvalprintes commented on #1004
Thx, problem solved!

[2020-06-02 22:45] zorgick opened #1821 "Problem with timezone"
I've found strange behaviour with timezone, which affects the presentation of data. My local time is GMT+3.
<img width="1409" alt="Screenshot 2020-06-03 at 00 59 05" src="https://user-images.githubusercontent.com/32340377/83576471-91bd2600-a53a-11ea-911f-4329e013b6af.png">

Here you can see, that the date selected in the calendar is a previous day, (it is displayed the 3rd of June, but in the obje

[2020-06-03 01:23] a2928897 opened #1822 "How to set global date format?"
I use angular with NG-ZORRO,
 [NG-ZORRO](https://ng.ant.design/docs/i18n/en) dependency on date-fns,
How can I set global date format in angular?

ps. I got this [problem](https://stackoverflow.com/questions/62163405/ng-zorro-datepicker-got-one-day-less?noredirect=1#)

[2020-06-03 01:25] a2928897 commented on #1821
I think I got the same problem like you,
[stackoverflow](https://stackoverflow.com/questions/62163405/ng-zorro-datepicker-got-one-day-less?noredirect=1#)

[2020-06-03 11:42] zorgick commented on #1821
I'm dummy dum. I forgot that calendar is in a russian locale, so the start of the week comes on Monday, but the function above calculates start of week which is on Sunday in a default english locale.

[2020-06-03 11:42] #1821 closed

[2020-06-03 13:13] SoniaLahi commented on #1818
This behavior is correct. Indeed, Monday 30th December 2019 is a Monday, the first Monday of the first week of 2020.

You can see more here : http://week-number.net/calendar-with-week-numbers-2019.html

I have tried with these values :
[code]

[2020-06-03 21:26] TylerP33 opened #1823 "All of the "Interval Helpers" give me a TypeError: Object(...) is not a function"
The library works as needed EXCEPT all the Interval Helpers.  It does not matter how I import them, I am getting an error.  I am assuming it has to be some type of environment/dependency issue but I am clueless as to what it is.

[code]

This will give me an error and what is peculiar is that I can import and use the remainder of the library except for these specific helpers...

Anyone have any id

[2020-06-04 07:06] ikhnaton commented on #229
If anyone is still looking for a solution to this, how about this:

[code]

[2020-06-04 15:28] smmoosavi commented on #977
Salam,

I published [date-fns-jalali](http://npmjs.com/package/date-fns-jalali). please check it and give me feedback about it.

[2020-06-04 16:09] smmoosavi commented on #977
how [date-fns-jalali](https://www.npmjs.com/package/date-fns-jalali) works:

- a [script](https://github.com/smmoosavi/date-fns-jalali/blob/js-code-shift/scripts/transform/core.js) convert `date.getMonth()` to `coreGetMonth(date)`. same transform for `getDate`, `setDate`, `getYear`, `setYear`. you can see all transform [here](https://github.com/smmoosavi/date-fns-jalali/commit/48313b100a88cd9cd857

[2020-06-04 18:28] xavierrobitaille commented on #1780
another perk of the CDN version is that it lets you use the chrome console as a sandbox to play around with dateFns:
`var script = document.createElement("script");
script.src = "https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js";
document.body.appendChild(script);
`
then
`dateFns.parse('06/04/2020');
//Thu Jun 04 2020 00:00:00 GMT-0400 (Eastern Daylight Time)`

[2020-06-04 20:10] jpmaheux opened #1826 "fr-CA short date format uses only 2 digit year instead of 4"
all other locales uses 4 digits year  ( y or yyyy )

[2020-06-05 10:58] goremikin commented on #1569
Similar issue with strict mode: `parse('19-06-15', 'yyyy-MM-dd', new Date());` in strict mode should return an invalid date.

[2020-06-05 15:25] jpmaheux commented on #1826
PR #1825  is ready, just want to be sure with you that this issue is legit
as it will bring a kind of "breaking change" for those who are fine with the wrong format

[2020-06-07 06:13] sitanshu-kumar-vst-au4 opened #1830 "indian language support"
please add ist timezone

[2020-06-07 06:14] kossnocorp commented on #1830
What does this mean "add ist timezone"?

[2020-06-08 00:30] irkreja opened #1831 "add supports of options for eachWeekendOfInterval (like: eachWeekOfInterval)"
Why not eachWeekendOfInterval didn't support options like locale, weekStartsOn?

You already have options for eachWeekOfInterval
```eachWeekOfInterval(interval, [options])```

Please add support for options for eachWeekendOfInterval too.
```eachWeekendOfInterval(interval)```

[2020-06-08 04:54] #1831 closed

[2020-06-08 04:57] kossnocorp commented on #1830
Closing as I don't see anything actionable

[2020-06-08 04:57] #1830 closed

[2020-06-08 13:19] jpmaheux commented on #1826
after some research, based on icu its normal that frCA only have 2 digits year so I will reject this issue, sorry
http://www.localeplanet.com/icu/fr-CA/index.html

[2020-06-08 13:19] #1826 closed

[2020-06-08 14:06] jackocnr opened #1833 "IE11 error in v2.14.0"
I'm seeing this error:

When I upgrade from v2.13.0 to v2.14.0.

I'm using the following imports from date-fns:

[code]

Here is a screenshot from IE11 devtools - the error is caused by line 10481.

<img width="592" alt="Screenshot 2020-06-08 at 15 00 39" src="https://user-images.githubusercontent.com/1186883/84039238-e0cee500-a998-11ea-8d20-9043959ee74f.png">

Let me know if there's anything else

[2020-06-08 22:59] muntact opened #1834 "add en-NZ locale"
Please add `en-NZ` locale. We're basically `en-AU` in moment.js where we differ only by start of week, and it looks like Julien made us the same when he made the date-fns en-AU locale start the week on Monday.

[2020-06-09 15:18] jeroenkampinga commented on #1833
I have te same error in ie11.

[2020-06-10 03:29] droyuki commented on #1833
you may need @babel/plugin-transform-computed-properties

[key]: value is not supported by IE 11

[2020-06-10 05:58] infacto opened #1836 "Add string as possible input date arguments."
The current type of the date argument of all or the most functions is `date: number | Date`.
My suggestion: `date: number | Date | string`. (mostly ISO string or other valid strings for the Date constructor.)

`date-fns 2.13.0`

[2020-06-10 12:51] jim-moody opened #1837 "How do I format a date string with an abbreviated year?"
Because the single quote is being used to escape strings in v2+, I am not sure how to create the following string format?

**Desired result:**
`Wed, Jun 10th '20`

**Format String:**
`format(new Date(), "E, MMM do ''yy")`

**Actual result:**
`Wed, Jun 10th \'20`

[2020-06-10 13:00] #1837 closed, assigned to nobody

[2020-06-11 08:22] leedriscoll commented on #1620
Hey @dkozickis, I've pushed up a PR for Scottish Gaelic support - https://github.com/date-fns/date-fns/pull/1832. When will someone be able to take a look at this for me?

Is there anything I can do to speed up this process? 🙂

[2020-06-11 09:21] StoraH commented on #1804
@saysmaster We had a similar issue in our prod build where the `_lib` folder all of the sudden was not there. It was solved by running `yarn cache clean` in our build step. Not sure of the root cause still but maybe a combination of the leading underscore in the folder name and some yarn bug. We had this issue with date-fns version 2.11.1.

[2020-06-11 13:15] iksemot opened #1838 "parse does not behave per documentation"
The `parse` function documentation https://date-fns.org/v2.14.0/docs/parse states that the `referenceDate` "defines values missing from the parsed dateString".

We can observe such behaviour while executing following piece of code. Since nothing was set in dateString, all values from the referencedDate were used.

[code]

However when setting just a piece of date, e.g. just a year 2000, in dateStr

[2020-06-11 21:54] itranga opened #1839 "Sinhala language support"
Please add Sinhala language support ( Sri Lanka )

[2020-06-12 08:33] fandrupaw opened #1841 "'dddd' token (day of week) not working"
`dddd` token is not working correctly

[code]
should return one of [Sunday, Monday, ..., Saturday]

[2020-06-12 10:28] Anshuman71 commented on #1841
@fandrupaw please check the [docs](https://date-fns.org/v2.14.0/docs/format) .
[code]
I think this is what you need.

[2020-06-12 12:02] gottsohn commented on #1833
@jackocnr @jeroenkampinga
I had the same error, here's a temporal solution I used until this is fixed.

Using npm `postinstall` script. I rewrite the [-1] to '-1'

[code]

[2020-06-12 12:33] fandrupaw commented on #1841
yes, I was looking on wrong docs version, thanks

[2020-06-12 12:33] #1841 closed

[2020-06-15 14:02] samuk190 opened #1843 "Its possible to convet from human readable date to Date?"
I want convert example: 1w, 1y, 1h, to an actual Date.

example:

StartDate = '2019-02-02'

EndDate (2h, '2019-02-02') = '2019-02-02'

if > 24 hrs

EndDate(24h,'2019-02-02') = '2019-02-03'

[2020-06-15 14:55] samuk190 commented on #1815
formatDistance(
  new Date(1986, 3, 4, 11, 32, 0),
  new Date(1986, 3, 4, 10, 32, 0),
  { addSuffix: true }
) //=> 'in about 1 hour'

first date => now (you can use New Date empty)
second date => target Date.

 = Result will be shown in hours, if yo uwant show in different locale you need to pass locale parameter

formatDistance(
  new Date(1986, 3, 4, 11, 32, 0),
  new Date(1986, 3, 4, 10, 32, 0)

[2020-06-15 14:56] samuk190 commented on #1815
formatDistance(
  new Date(1986, 3, 4, 11, 32, 0),
  new Date(1986, 3, 4, 10, 32, 0),
  { addSuffix: true }
) //=> 'in about 1 hour'

first date => now (you can use New Date empty)
second date => target Date.

 = Result will be shown in hours, if yo uwant show in different locale you need to pass locale parameter

formatDistance(
  new Date(1986, 3, 4, 11, 32, 0),
  new Date(1986, 3, 4, 10, 32, 0)

[2020-06-15 14:58] samuk190 commented on #1815
if you really want to show Now is: + timestamp you just need to use format.
var Now = format(
  new Date(), //NewDate empty will generate today date from your local system,
 ''Now is ' D:H:mm:ss',
  {locale: eoLocale}
)

[2020-06-16 00:20] KamalAman commented on #571
@bertho-zero thank you for your work around. It works like a charm.

It's sad that a bug that is so fundamental and critical can be left unresolved for so long. :(

[2020-06-16 00:24] KamalAman commented on #571
[Fix DST issues with add & addMonths](https://github.com/date-fns/date-fns/pull/1760) Seems like it may have fixed the issue! So hopefully this will be resolved in the next version release!!

[2020-06-16 03:19] KamalAman opened #1844 "Sub Months is resulting in 1day too many days being subtracted"
Months math does not handle February properly,

[code]

[2020-06-16 03:44] krutoo commented on #1815
Hi, thank you for your answer. But i want to get distance between two dates in same format like dates (for example `D:H:mm:ss`), not in human readable format

[2020-06-16 04:18] juliarnasution opened #1845 "wrong month name in Indonesia "id" localize"
for example

`
function someFunction(){
          let value =  "2020-12-16";
          let date =value.toString().split("-");
          return format(new Date(date[0],date[1],date[2]),"dd MMMM yyyy",{locale:id})
 }
`
should return 16 Desember 2020, but instead return 16 Januari 2020

[2020-06-16 06:11] kossnocorp commented on #1844
The problem is that you create a date in UTC instead of locale timezone hence the confusing result.

![CleanShot 2020-06-16 at 02 10 31](https://user-images.githubusercontent.com/52201/84737784-adeca880-afb9-11ea-9e4a-4f6691fd36d4.png)

[2020-06-16 06:11] #1844 closed

[2020-06-16 06:17] kossnocorp commented on #1845
Months in `Date` constructor starts at 0, so you should do `- 1` before passing it to the constructor:

[code]

[2020-06-16 06:17] #1845 closed

[2020-06-16 11:05] ProjectKarol commented on #993
Use this function to overwrite header format :

[2020-06-16 12:57] mhaidamashko commented on #1815
If you need some sort of the countdown. You could use this:
[code]
I hope, it'll help somebody.

[2020-06-16 13:00] mhaidamashko commented on #1815
However, I think there are no way to format distance like you propose.

[2020-06-16 14:57] j2i5ll opened #1846 "yarn run benchmark"

[2020-06-17 03:42] krutoo commented on #1815
Hello. Thanks for answer, but what is `getDatesDistance`?

---

So, hope someday this feature will appear

[2020-06-17 05:33] mhaidamashko commented on #1815
@krutoo I've updated my answer. I missed that function, sorry :)
`getDatesDistance` -> it's just the function for getting difference between dates in a milliseconds.

[2020-06-18 04:54] taco-tues-on-a-fri commented on #1697
@psimk  's solution fixed my issue with webpack throwing errors from the `.js.flow` & `.md` files that were also getting included in the dynamic import of locales.  The change included in his pull request would be an immensely helpful addition to the documentation.

[code]

[2020-06-18 06:28] r3d4rmy commented on #1697
This worked for me and I agree it should be added to the documentation.

[2020-06-18 13:03] Haraldson commented on #1541
Alternatively, a short format option where words like _about_ in _about ten minutes ago_ are replaced with a tilde (~) would be awesome.

[2020-06-18 16:01] YuraOvcharov commented on #229
[code]

[2020-06-19 08:52] doberkofler opened #1849 "parse does seem to observe the reference date when parsing a 2-digit year with yyyy"
I already created SR #1569 to advocate an option for strict parsing when using the function parse but I now discovered that `parse` also seems to have a strange behavior when not strictly parsing a date.

`parse('06/19/20', 'MM/dd/yyyy', new Date());` converts the string to the year 20 but should it not take the century from the `reference date` and therefore convert it to the year 2020?

[2020-06-19 13:40] aateeque opened #1850 "Support format shorthands"
Hi
In the API you can call `import format from

[code]

applying [`formatString` pattern](https://date-fns.org/docs/format) to the value Date.

It would be useful if this also support short-hand formats too, for example:

[code]

will call [`formatISO()`](https://date-fns.org/v2.14.0/docs/formatISO).

In our use we are ending up building this shorthand otherwise but be nicer if the API supported i

[2020-06-19 16:14] vbraun commented on #1796
Also breaks uglify-js

The `{ [-1]: "foo" }` syntax is definitely ES6, thats rather cutting edge for a basic library. I looked but didn't find any clear documentation for what JS spec is required by date-fns.

[2020-06-19 20:55] jsejcksn opened #1851 "formatDuration produces unexpected output"
Hello 👋 . I'm just taking a first look at this project.

Here's one of the examples from the `v2.14.0` [documentation](https://date-fns.org/v2.14.0/docs/formatDuration):

[code]

In the example, providing `{ format: ['months', 'weeks'] }` as the options arg simply ignores all of the values that aren't in the options, instead of converting them to the format specified by the options.

I expect the

[2020-06-20 15:58] franciscovaz opened #1852 "pt-PT language support"
Please add Portuguese language support ( Portugal: pt-PT )

[2020-06-20 21:33] aahock commented on #980
Running 'npm install' doesn't mean anything.  Install *what*?  I am having the exact same issue as the above 2.  It would be nice if someone had returned to answer the question when they discovered it.

[2020-06-22 20:40] hkong opened #1854 "differenceInMilliseconds always returning 7 hours"
I'm seeing this behavior in a simple timer I'm writing:

[code]
produces `07:00:00.000`.  Shouldn't this be `00:00:00.000` instead?

This happens even if the 2 dates are not so close (in my code, they can range from 0-185 minutes apart), and I'm seeing the same 7 hours in the console during testing.

[2020-06-23 08:22] j2i5ll commented on #1854
`differenceInMilliseconds` function return `Number` type result. not `Date` type.
In this case, you are passing `Number` type variable(`diff`) to `format` function.

[2020-06-24 06:04] kkomelin commented on #916
The same here. The only blocker for complete migration from Moment to date-fns for me is the Moment's strict parsing mode which caches incorrectly formatted date/time.

[2020-06-24 06:19] kkomelin commented on #326
At the moment `date-fns/isValid()` and `parse()` don't support strict parsing mode meaning it's not possible to port the constructions like this one `moment('', '', true)` to date-fns without adding extra validation logic.

[2020-06-24 06:27] cedric-legallo opened #1855 "ISO Week Date for December 31st 2020 and January 1st 2021 is wrong"
## 📝 Provide detailed reproduction steps (if any)

Version : "date-fns": "^2.14.0",

[code]
According to Documentation YYYY is "Local week-numbering year" what does that means ? previos issues on this subject says it is ISO Week Numbering (like RRRR)

### ✔️ Expected result
According to Documentation YYYY is "Local week-numbering year" what does that means ? previos issues on this subject says it

[2020-06-24 08:18] 12 commented on #1620
Hey, this would be really useful for a piece of work we have coming up.

Above PR looks all good to me, @dkozickis, do you have a timeframe on this being merged in?

[2020-06-24 09:46] mpartel opened #1856 "Make the library available on the documentation page"
When browsing the docs, it'd be convenient to be able to open the developer console and have the functions available in global scope.

[2020-06-24 15:30] Dinnall commented on #1734
this didn't fix the error for me. still receiving `RangeError: Format string contains an unescaped latin alphabet character `n` error

[2020-06-24 15:44] Dinnall opened #1857 "Can't resolve RangeError: Format string contains an unescaped latin alphabet character `n`"
Currently facing this error from a functional component using date-fns.
Here is the component I created.

[code]

Then I call the components and provide the props I declared.
[code]

package.json

[code]

Any help is appreciated

[2020-06-24 16:42] GDIBass commented on #1734
@Dinnall That looks like a different error.  It's probably worth opening another issue (make sure to include any required details and other relevant data like your package.json file, how you're using it and any other relevant items).

[2020-06-24 17:26] Dinnall commented on #1734
I just opened a new issue with.  **[here](https://github.com/date-fns/date-fns/issues/1857)**

[2020-06-25 13:14] Imballinst commented on #1748
@dojchek noted -- thanks for the information! I'll try handling that case as well in my PR.

[2020-06-26 03:13] Imballinst commented on #1748
@dojchek it seems like the 2 digits are used to represent centuries, so I guess that's intended?

https://github.com/date-fns/date-fns/blob/4cf918f6e66499ced4254decf3573bf365e871c8/src/parseISO/test.js#L103-L120

CMIIW @kossnocorp

[2020-06-26 05:45] gushecht commented on #1857
@Dinnall, check out the demo: https://codesandbox.io/s/z9k3z

Your version of `date-fns` doesn't match the demo's.  That might be it.

[2020-06-26 06:54] dojchek commented on #1748
@Imballinst Yes, I also think that's intended - although not very intuitive..
I found only one reference to this format in wiki article which says:
`One may simply write "1981" to refer to that year or "19" to refer to the century from 1900 to 1999 inclusive`

So it is in fact a valid ISO date. I still need this to "fail" in my use case - so I will check it with some regex or simply check the leng

[2020-06-26 09:03] IonelLupu commented on #284
WOW. This is still opened? I had to hack my way around to get this functionality

[2020-06-26 09:07] IonelLupu commented on #229
Thank you @YuraOvcharov . You saved my life :))

[2020-06-26 09:47] kossnocorp commented on #284
@IonelLupu poor you

[2020-06-26 10:42] pke commented on #284
@kossnocorp I'm a little confused by your comment. I also noticed you removed the milestone so there are no more plans to include this functionality?
Could my package serve as base for the feature? You [offered directions](https://github.com/date-fns/date-fns/issues/284#issuecomment-544827797) to people wanting to help get this into the lib.

[2020-06-26 10:43] pke commented on #284
For the time being no hacking is required on your side. Just use my package https://www.npmjs.com/package/date-fns-duration

[2020-06-26 11:05] kossnocorp commented on #284
I'm sorry for that, I just vocalized my frustration with people that feel entitled to post such comments. The author didn't contribute a bit nor say anything meaningful, just "progress shamed" the work I'm doing for many years.

I should have ignored him and now I regret it.

Not at all, just didn't feel we need a milestone for that. We've already added foundation for that: `Duration` type, `forma

[2020-06-26 11:05] #284 closed

[2020-06-26 11:35] pke opened #1858 "create addDuration API"
Out of #284 and based on my package https://github.com/pke/date-fns-duration this issue discusses how duration support can be added to date-fns.

I am open for directions and happily refactor my existing code as a PR to this project.

[2020-06-26 11:37] pke commented on #284
As per your suggestion I've created #1858 to discuss the direction. Let's get duration support into this wonderful library together.

[2020-06-26 12:13] kossnocorp commented on #277
Closing as outdated

[2020-06-26 12:13] #277 closed

[2020-06-26 12:15] kossnocorp commented on #1858
Sorry, I misread the description of the library. My bad. I though it allows adding one duration to another. The ability to add/subtract duration from dates exists for some time:

- [add](https://date-fns.org/v2.14.0/docs/add)
- [sub](https://date-fns.org/v2.14.0/docs/sub)

What is missing is the ability to parse ISO 8601 duration to a duration object (fitting name for it would be`parseISODuration`

[2020-06-26 13:43] pke commented on #1858
That's easy then, I'll provide a PR.

[2020-06-26 13:44] kossnocorp commented on #1858
Awesome, looking forward!

[2020-06-28 08:49] tar-aldev opened #1859 "Ability to formatDistance with inclusion of start day."
Let's say we have some event with start day 7th, July 2020 and end day is 10th, July 2020;
formatDistance() will result in 3 days which is logical. However what if I need to get the actual duration? (7th, 8th, 9th, 10th - 4 days). Is there any way to do it now?

[2020-06-28 17:30] anishbadri commented on #780
@leshakoss Can I work on this one?

[2020-06-28 17:31] anishbadri commented on #780
@leshakoss  This looks interesting, I can work on this if this is unclaimed.

[2020-06-28 17:50] leshakoss commented on #780
@anishbadri sure, thanks a lot!

[2020-06-30 08:15] pawel-miczka opened #1860 "wrong startOfToday value"

[2020-06-30 10:20] kossnocorp commented on #1860
It looks like you output your string in UTC, so JS converts the date from your local timezone hence the time change. Are you in CET?

How do you get `2020-06-29T22:00:00.000Z`, please provide the complete code snippet with the environment (if browser then which, if Node.js then what's the version.)

[2020-06-30 12:40] eckberg commented on #1859
Also interested in a possible solution for this. I was expecting a flag on intervalToDuration() that you could use to indicate whether to use the same logic as for the eachXofInterval() functions.

If you know that you want the response in days, the solution I went for was to use the eachDayOfInterval() which returns an array with each day of the interval. Like this:

[code]

[2020-06-30 20:22] msmahon commented on #980
@aahock It installs the modules in your package.json
https://docs.npmjs.com/cli/npm#developer-usage

[2020-07-01 15:01] gsouf opened #1863 "MMM format in spanish is not standard"
Hi,

I'm formatting some date to spanish with date-fns and it looks like that spanish abbreviation for months are not standards.

For example month of 'may' in spannish renders as 'may'. I wouldn't shorten it because it's only 4 characters 'mayo'. My spanish mates confirm that it looks weird to them too.

Additionally this is confirmed by this list of months abbrev in various languages https://web

[2020-07-02 08:44] neomad1337 opened #1864 "formatDuration locale"
Hello, Is it possible to use formatDuration with another locale?

[2020-07-02 10:17] matt-rhys-jones commented on #1620
Heya! I work with @leedriscoll  and am the team lead for the redevelopment of the BBC News pages we'd like to launch using date-fns.

Is there any chance of letting us know when this might be merged @dkozickis? It would be really helpful to have an idea so we can plan around it, appreciate you're busy.

If there's anything Lee or I can do to help in the meantime please do let us know :)

[2020-07-02 11:56] kossnocorp commented on #1620
@matt-rhys-jones hey, sorry for the delay. I've been swamped lately. I'll try to merge and ship a new version over the weekends or on the next week. However, I recommend you don't wait and simply copy-paste the locale code to your project and use it from there for the time being.

[2020-07-02 11:58] kossnocorp commented on #1620
@matt-rhys-jones if you're looking for ways to help the project, I would appreciate BBC becoming date-fns sponsors at https://opencollective.com/date-fns.

[2020-07-03 02:10] kidkkr commented on #1833
You can transpile `date-fns` with webpack `babel-loader`.

[2020-07-04 09:52] pke commented on #1858
Tests are difficult to run without chrome installed on the system. Is there a way to skip the browser tests locally? I just need nodejs tests for this change.

[2020-07-04 19:23] #1843 closed

[2020-07-05 10:48] anishbadri commented on #780
@leshakoss Please have a look at the PR and let me know if it requires any changes

[2020-07-07 07:50] thernstig commented on #1706
This would be great. I would like to use abbreviations in `formatDistance`. Like `1 min`, `2 mins` etc.

The problem as I find it is that this has to be allowed to work with the set local in the options, which can be quite hard I assume.

[2020-07-07 10:20] alxAntipov commented on #856
@viclafouch
![image](https://user-images.githubusercontent.com/39668748/86767336-a32fab80-c06d-11ea-84b3-ecca9ae5824a.png)
this should solve the problem

[2020-07-07 20:08] yazmnh87 opened #1867 "differenceInCalendarDays is not returning the right value"
<img width="574" alt="date_fns" src="https://user-images.githubusercontent.com/25097299/86836702-1d0a6980-c05b-11ea-8f7f-f7728cce4123.png">

Im unsure why comparing these 2 dates is returning 0?  there is clearly a difference of 1 between these 2 dates.  Anyone have insight?  Am I doing something wrong?

[2020-07-07 20:22] mukuljainx commented on #1169
Hi, really sorry for being this late, it almost a year. I got busy with a lot of work and almost forgot about this!

I have raised a PR #1868

[2020-07-08 02:28] #1867 closed

[2020-07-08 07:43] jessielaf opened #1869 "Timezone difference only in safari"
First and foremost thank you for the library. It has helped me a lot. This is a question and not an issue (I think).

I have been using date-fns and didn't have any issues until now. It is not really a date-fns issue but a safari one and maybe my lack of understanding timezones.

`2020-07-09 12:00:00` This is an example of my date. I now use date fns to format it like such:

[code]

This returns `

[2020-07-08 09:29] wenqi73 commented on #1818
@kossnocorp Could you please check this issue?

[2020-07-08 09:41] kossnocorp commented on #1818
@wenqi73 @SoniaLahi did answer your question (thanks, Sonia!). You maybe want to use ISO-week numbering `II` instead. Or not. It highly depends on your use-case. I recommend you to read about it more to figure out what you actually need (you can start here: https://en.wikipedia.org/wiki/Week#Week_numbering).

If you actually need `ww`, you must use `YYYY-ww` which would produce (with `II` you must

[2020-07-08 09:41] #1818 closed

[2020-07-12 05:41] anishbadri commented on #780
@leshakoss @kossnocorp Gentle reminder

[2020-07-14 08:20] itsoft3g opened #1873 "Formatted time's minute is 1 min less than input time in firefox for year below 1883 if system timezone west of UTC(negative) say CDT"
Hi,

I think it looks like a bug in v2.14.0

Formatted time's minute is 1 min less than input time in firefox for the year below 1883 if system timezone west of UTC(negative) say CDT.

System: Any OS
System TimeZone: UTC below 0(Say CST  UTC -0500)
Browser: Firefox
date-fns version: v2.14.0

[code]

output:
[code]

Here is the code you can try https://codesandbox.io/s/date-fns-yhdjk?file=/src/inde

[2020-07-14 08:37] montogeek commented on #1706
@Wildhoney @thernstig How did you solve it?

[2020-07-14 08:56] Wildhoney commented on #1706
For me I used [`react-countdown`](https://github.com/ndresx/react-countdown) [like so](https://codesandbox.io/s/quiet-voice-gsb02?file=/src/index.js).

[2020-07-14 10:04] slaviki opened #1874 "startOfDay DST issue"
Hello

I've found an issue with startOfDay function and DST timezone change.

For example, in UK timezone no is GMT+1, and after October 25 it is UTC+0.
If I try to calculate start of day for a date after October 25 2020, the timezone changes to GMT+1
[code]

Stackblitz with this issue: [https://stackblitz.com/edit/typescript-ln8jp5](url)

[2020-07-14 13:19] #1874 closed

[2020-07-15 21:19] dylang opened #1876 "Generated TypeScript types.d.ts 20,000 lines and may slow projects compile time"
Hi! We really appreciate that you've included TypeScript typings, however the generated type file is 20,000 lines long:

https://github.com/date-fns/date-fns/blob/master/typings.d.ts

It's also doing a lot of inefficient typings, like importing `date-fns` more than 500 times.

Sorry, I don't have a fix for this. I'm not using this library directly, it's a dependency of something we rely on, and we

[2020-07-16 06:24] viperfx07 commented on #1816
I've got an issue as well with formatting

dateFns.format("2020-10-04", "ddd DD MMM YYYY") // returns "Sat 03 Oct 2020"

[2020-07-17 05:09] guptas89 commented on #1166
Hi, @kuldipem,
I also want hindi language support. As I can see no updates on this since sep-2019, just wanted to know the progress or status of hindi lang support?

Thanks in advance to take this initiative.

[2020-07-17 10:36] kossnocorp commented on #1876
Hey Dylan! v3, which is in progress, is in pure TypeScript and will solve this and other issues with typings. It will take time to finish it as it's a lot of work. If you want to join the forces, DM at https://t.me/kossnocorp, https://twitter.com/kossnocorp, or write to koss@nocorp.me.

I'm closing the issue as there's nothing actionable.

[2020-07-17 10:36] #1876 closed

[2020-07-17 13:52] #1230 closed

[2020-07-17 13:58] #1748 closed

[2020-07-17 14:04] #1806 closed

[2020-07-17 14:15] #1620 closed

[2020-07-17 14:17] #1834 closed

[2020-07-17 14:51] kossnocorp commented on #1833
Closed by https://github.com/date-fns/date-fns/pull/1842

[2020-07-17 14:51] #1833 closed

[2020-07-17 18:18] thernstig commented on #1706
@montogeek I didn't solve it, but [formatDistanceStrict](https://date-fns.org/v2.0.0-alpha.26/docs/formatDistanceStrict) was sufficient for my needs.

[2020-07-19 19:26] yazmnh87 opened #1877 "differenceInCalendarDays not accurate"
differenceInCalendarDays does not accurately calculate the difference.

differenceInCalendarDays(new Date("Sun Jul 19 2020 15:13:20 GMT-0600 (Mountain Daylight Time)"), new Date("Fri Jul 17 2020 21:15:40 GMT-0600 (Mountain Daylight Time)"))

returns 1 --- should be returning 2

am I doing something wrong?

Here is a repl.it.   https://repl.it/@yazmnh87/CumbersomeLightsalmonTheories#index.js

[2020-07-20 04:42] #1628 closed

[2020-07-20 11:48] renilbabu03 commented on #1683
I have this issue in version 2.15.0

[2020-07-20 21:23] ex8 opened #1879 "Street Address Name is Valid Date after ISO parse"
When validating ISO-format dates using `parseISO` and `isValid` we found a bug in our use case.

[code]

[2020-07-21 23:10] afelicioni commented on #1796
since this issue has been solved in released `v2.15.0`, it hasn't any reason to be open anymore

[2020-07-21 23:10] #1796 closed

[2020-07-22 06:58] icehaunter opened #1880 "Typescript definition for isValid should be a type guard"
Right now it is impossible to use isValid as a guard against an unknown or nullable type despite it working as such. What I mean by that:

Currently, typing of `isValid` is `(any) => boolean`, which means that the following code throws an error that `undefined` is not assignable to type `Date | number`:
[code]

To make the code valid, another check is needed:
[code]

I think a good solution for th

[2020-07-22 07:44] jvpelt commented on #1864
Hi @neomad1337, this logic is already available as of version 2.14.0. See #1671

@kossnocorp I do see that the comment for the generated type definition is missing. I took the liberty of creating a PR with the added type. See #1881

[2020-07-22 13:51] dkniffin commented on #1858
@kossnocorp @pke any update on this?

[2020-07-22 14:44] kossnocorp commented on #1858
@dkniffin, what exactly do you want to know?

[2020-07-22 14:46] kossnocorp commented on #1858
I recommend running Karma tests but you also can use Jest.

[2020-07-22 14:55] n8sabes commented on #1811
I am seeing this as well, but only on one of my two dev systems. I have verified the same version of `yarn v1.22.4` and `node 14.6.0`, is running on both systems, but there must be an environmental or toolchain difference I have not yet located. I have tried deleting `yarn.lock` and all contents of `node_modules`, but get the same compile error.

[2020-07-22 19:09] dkniffin commented on #1858
Actually, I found out I don't need this for what I was doing. For anyone else who runs across this, you can use date-fns right now to format durations by doing something like `format(new Date(0, 0, 0, 0, 0, seconds), "h:mm:ss")`

[2020-07-23 01:19] petermarks12 opened #1882 "Date difference in Years, Month and Days"
I have gone through docs, but could not find any method which can return difference between 2 dates in this format

`2 years 11 months 2 days`

Is there any method which can return this format?

[2020-07-23 07:42] MikeMitterer commented on #1683
Yup - the same again. I had to downgrade to

[code]

[2020-07-23 08:11] studnik18 commented on #1569
Anything new in the topic?

[2020-07-23 09:22] maiquocqui opened #1883 "need vietnamese support for version 1.27.2"
plz help me update vietnamese support for 1.27.2

[2020-07-23 09:24] kossnocorp commented on #1883
Sorry, v1 isn't supported anymore. But you still can write it yourself or port from v2.

[2020-07-23 09:24] #1883 closed

[2020-07-23 09:48] kossnocorp commented on #1569
@studnik18 what exactly do you want to know?

[2020-07-23 09:54] studnik18 commented on #1569
If there'll be a strict parse flag in some future release - just wanted to 'refresh' this thread. I find date-fns a very viable alternative to bloated moment.js and this feature comes in handy in some cases.

[2020-07-23 17:24] #1877 closed

[2020-07-24 07:56] lamhungypl commented on #1849
I have same problem

[code]

![Screen Shot 2020-07-24 at 14 54 26](https://user-images.githubusercontent.com/43105576/88371118-a0e38600-cdbd-11ea-940d-6f6db27179ae.png)

[2020-07-26 14:56] yannbolliger commented on #1858
It would also be nice to add durations to durations, or even multiply a duration by a factor. Should I open a new issue for that?

[2020-07-27 13:01] mlarcher commented on #229
thank you @YuraOvcharov !
Anyone familiar with the lib would know if there is an easy way to localize the output ?

[2020-07-28 10:14] rsslldnphy commented on #1873
Just ran into this while keymashing random dates during testing. Relief to know it only affects dates before 1883! Thanks @itsoft3g.

[2020-07-29 07:42] DariuszLuber-CodersLab commented on #1550
Same problem

import {formatDistanceToNow} from 'date-fns';

const date = new Date(2020,7,1);
const distanceText = formatDistanceToNow(date);

console.log(distanceText);

Shows:
[code]

[2020-07-29 12:00] demkovych commented on #872
Is there any changes?

[2020-07-29 13:02] peeter-tomberg opened #1886 "Lighthouse claims evaluating locales is a bottleneck on my site."
![Lighthouse](https://puu.sh/Gcd50/cf42541d82.png)

We have code splitting (hence LOADABLE references), so the bundle itself is purely date-fns. Using latest version of date-fns.

Minified bundle:
[code]

Nicefied:

[code]

[2020-07-29 15:41] LeanKit-Hunter commented on #1882
You can customize which values you return from `formatDuration` to only the values you want.
[code]

[https://date-fns.org/v2.15.0/docs/formatDuration](url)

[2020-07-29 22:26] peeter-tomberg commented on #1886
Turns out the issue was I was async loading the locale on the client side, thus preventing hydration until the bundle had loaded.

[2020-07-29 22:26] #1886 closed

[2020-07-30 07:50] jessielaf commented on #1275
Hi,

I have the same problem but only on safari on IOS. I tried all of these formats
[code]

But when I do format like this:
[code]

I always get: `14:00` on safari on ios and `12:00` on every other device

[2020-07-30 09:38] bogdanoluic commented on #1873
Interestingly, the exact date is 18th of November 1883 which actually is a date on which North American railroads switched to a new standard time system for rail operations and new five timezones were adopted (Atlantic, Eastern, Central, Mountain, and Pacific).
[Link](https://medium.com/@peterflom/today-in-history-november-18-1883-time-zones-standardized-in-canada-and-usa-7a6fec2eb873)

[2020-07-31 09:09] davazp opened #1887 "Possible (?) bug in differenceInMonths"
I came across with the following surprising fact:

[code]

This expectation **fails**. It reports a difference of just 1 month instead of 2.   I would have considered this to be an invariant to be preserved.

It turns out `addMonths` makes the end date a bit shorter (because the month if shorter, doesn't have 31 days). Then `differenceInMonths` sees:

[code]

This makes `differenceInMonths` a bit

[2020-07-31 09:28] davazp commented on #1887
I feel `getDifferenceInCalendarMonths` is that inverse function ? 🙂

[2020-07-31 11:26] simonpolle commented on #1734
I got the same error after installing latest version:
RangeError: Format string contains an unescaped latin alphabet character `n`
(anonymous function)
C:/.../node_modules/date-fns/esm/format/index.js:421
  418 | }
  419 |
  420 | if (firstCharacter.match(unescapedLatinCharacterRegExp)) {

      | ^  422 | }
  423 |
  424 | return substring;

[2020-07-31 12:06] simonpolle commented on #1734
fixex the issue: npm i @date-io/date-fns@1.x date-fns

[2020-07-31 16:54] TheJaredWilcurt opened #1888 "dead link in docs"
On the [Upgrade guide](https://date-fns.org/v2.15.0/docs/Upgrade-Guide)

It points to unicode tokens:

* https://date-fns.org/v2.15.0/docs/unicodeTokens.md

which is a page that doesn't exist. it should instead point to

* https://date-fns.org/docs/Unicode-Tokens

[2020-07-31 20:19] gabsong commented on #1626
@dkozickis Sorry for getting back to you so late! I currently don't have the bandwidth to investigate this one. However, if I run into this again, I'll make sure to let you know.

[2020-08-02 01:09] ProteanCode commented on #1734
Having same issues

I am using this with material ui

    "@date-io/date-fns": "^2.8.0",
    "@material-ui/core": "^4.10.0",
    "@material-ui/icons": "^4.9.1",
    "@material-ui/pickers": "^3.2.10",

[2020-08-04 09:26] gsouf commented on #1863
No activity - closing

[2020-08-04 09:26] #1863 closed

[2020-08-04 19:24] testower commented on #1864
Is there a workaround for using this in typescript with locale option until the fix is merged?

[2020-08-05 06:25] tonymartin-dev commented on #1683
Same problem here

- System: Ubuntu 20.04
- Node version: 12.16.3
- Project: Angular v10

Downgrade to 2.11.1 didn't work

P.S.: When using same version of date-fns in an ionic+stencil project, it seems to work fine. Maybe some issue with Angular?

[2020-08-06 08:12] js2me commented on #1836
Unfortunately, string type from most functions was removed in v2.0.0-beta+ :(

[2020-08-06 09:25] DustinJSilk commented on #1511
Why was this closed? Im having this same issue. Is there another issue for this already?

[2020-08-06 09:53] kossnocorp commented on #1511
@DustinJSilk `toISOString()` formats the time in UTC, so it adjusts time accordingly. Use `toString` to see that there's no bug.

[2020-08-06 09:56] DustinJSilk commented on #1511
Right apologies! I've just realised my database is stored as UTC and displayed as UTC+1, causing my code to drop back a day.
Thanks for the response!

[2020-08-06 09:56] kossnocorp commented on #1511
No worries!

[2020-08-09 14:36] sudeeptarlekar commented on #1879
This is resolved in [v2.15.0](https://github.com/date-fns/date-fns/blob/v2.15.0/src/parseISO/index.js#L159)

[2020-08-10 20:10] jperelli commented on #644
`date-fns@2.x` alternative without importing `locale`

[code]

[2020-08-11 10:22] alex-enchi opened #1894 "Typings: Cannot augment module it resolves to a non-module entity."
Currently typings like [this](https://github.com/date-fns/date-fns/blob/master/typings.d.ts#L3958)

[code]
throws an error during compilation
[code]
It shows the same error if open `typings.d.ts` in a webstorm.

Current workaround that is used is `"skipLibCheck": true,` in `ts.config`, what are the better options to solve this?

It is most likely duplicate of #1683 but issue is still there.

[2020-08-13 11:17] Yuripetusko opened #1897 "Localised dayPeriod for locales where dayPeriod is not usually shown"
Sorry if this is wrong place to ask, but does library knows about locales where it's not common to use dayPeriod when formatting time, currently I format as `h:mma` and for `en-GB` it's correct obviously showing `PM` at the end, but for some locales where it's not common to show `PM` at the end it doesn't make sense, also some locales show full 24h times where in UK they do 12h. Would be great if

[2020-08-13 12:12] Yuripetusko commented on #1897
For now I am doing this `locale.includes('en-') ? 'h:mma' : 'H:mm'`

[2020-08-14 13:49] rhcarvalho commented on #1869
Also seeing this in https://github.com/getsentry/freight, which uses `date-fns` to format dates.

[2020-08-15 11:29] MattIPv4 commented on #1780
Hi from cdnjs,

We'd love to see a bundled version of this library provided again. The last version we currently have is 1.30.1, and we have users who are asking for new versions to be added, but we can't as there is no bundled version in the NPM package.

cc https://github.com/cdnjs/packages/issues/392

[2020-08-17 00:46] bboydflo opened #1898 "how can I update date-fns default locale inside tests?"
First of all thanks for an awesome library!

I am trying to move from moment.js to date-fns and some tests are using `moment.locale(locale)` to change the locale from one test to another.

I would like to do something similar, but couldn't find it in the docs. What would be the best way to achieve this?

[2020-08-17 17:00] dwaxweiler opened #1899 "Luxembourgish language support"
I want to add Luxembourgish language support as I have been translating a project that uses your library.

[2020-08-17 17:06] kossnocorp commented on #1899
Great, looking forward!

[2020-08-17 20:51] laurisvan opened #1901 "Feature request: isMatch option to not auto-pad when computing the match"
It appears that that in the respective ISO standard (https://www.unicode.org/reports/tr35/tr35-dates.html#Date_Field_Symbol_Table) the years get automatically left-padded to match the year mask (e.g. with 'yyyy' '202' becomes '0202'), which functions correctly.

In our case, we would like to use isMatch to assert the user has inputted all the relevant characters, e.g. when typing '17/08/202', isMa

[2020-08-17 21:29] leedriscoll opened #1902 "Welsh translations for `1 minute` and `2 days` are incorrect"
The Welsh translations for `1 minute` and `2 days` are incorrect.

1 minute should be `1 munud` not `1 funud`
2 days should be `2 ddiwrnod` not `2 diwrnod`.

These translations have been verified by my colleagues at the BBC and also Google Translate.

![Screen Shot 2020-08-17 at 22 26 22](https://user-images.githubusercontent.com/940369/90446292-0be05e00-e0d9-11ea-890c-73b10afebbbc.png)
![Screen S

[2020-08-18 00:18] diegogarciar opened #1904 "Error for localized "P" format"
Hello,
I am trying to format a string as
`format(new Date(), "P", {locale:es})`
I know that for `es` and all around the world ("except enUS I think"), the correct format should be dd/MM/yyyy as in the documentation, but my current output is MM/dd/yyyy just as in enUS. Maybe its taking it from my computer??

It is ignoring the locale I specify, and I know my code is working as setting "PPP" does sh

[2020-08-18 22:50] diegogarciar commented on #1904
I think I was not thinking straight yesterday, it is working as expected

[2020-08-18 22:50] #1904 closed

[2020-08-18 23:43] BarryThePenguin opened #1907 "isDate() type guard"
Is it possible to add a type guard for `isDate()` in the TypeScript definitions?

I looked at previous issues and couldn't see any previous discussion. It doesn't look like it was considered in the implementation #754

[code]

I looked at putting a PR together, but wasn't confident making changes to the script that builds the type definitions

[2020-08-19 04:00] ken-1998 opened #1908 "Failed to resolve module specifier "date-fns"."
Hi, I received this message:

in my Chrome console when I tried:
**`import {format} from 'date-fns'`**

![image](https://user-images.githubusercontent.com/69731146/90589782-c339ab00-e193-11ea-9edd-7a26ffbccefa.png)
![image](https://user-images.githubusercontent.com/69731146/90589808-d9476b80-e193-11ea-85ff-0fd5ee71f295.png)
![image](https://user-images.githubusercontent.com/69731146/90589999-465b0

[2020-08-19 09:38] o-alexandrov commented on #1670
Yes, following import of `ar` results in missing module:
[code]

[2020-08-20 10:28] josimagas commented on #1852
They already have a support locale for pt.
You can import it from : import pt from 'date-fns/locales/pt';

[2020-08-20 20:57] franciscovaz commented on #1852
Thank you José,
I hadn't found that information at the time!

[2020-08-20 20:58] #1852 closed

[2020-08-21 09:48] derpycoder opened #1911 "Date format generated by formatRFC3339 is incompatible with Golang standard lib RFC3339!"
The documentation for [formatRFC3339](https://date-fns.org/v2.15.0/docs/formatRFC3339) suggests following output in comment:

[code]

However, what it actually outputs is:
[code]

Which doesn't sit well with Golang standard lib, RFC3339 format!

Replace the prior date with later date in [Go Playground](https://play.golang.org/p/Srequ7g_p_C) and you'll see the issue.

P.S. I used [StackBlitz](https

[2020-08-23 20:16] leedriscoll opened #1913 "Scottish Gaelic locale issues"
Since we've started using `date-fns` for Scottish Gaelic dates on the BBC News website in production. We've found a number issues that we need fixed.

**1. 'o chionn' suffix to should actually be a prefix**
11 diogan o chionn -> o chionn 11 diogan
1 diog o chionn -> o chionn 1 diog

**2. We should be using the modern version of days / day**
7 làithean o chionn -> o chionn 7 là
1 latha o chionn ->

[2020-08-24 05:09] abhijit-kar commented on #1911
It is fine piotrl, take your time.

I will have to get lots of other things working, before I'll be needing this.

I was merely making a POC, when I discovered this issue.

[2020-08-24 15:39] icehaunter commented on #1907
I filed a similar issue about `isValid`: #1880. @maximillianfx wanted to tackle that, so I am mentioning him.

@Imballinst, the file you linked still returns boolean, which means it might not act as a typeguard. TS might infer that from `value instanceof Date`, I didn't test, but I think that it would be better to be explicit. TS doc specifies [type guard](https://www.typescriptlang.org/docs/handb

[2020-08-24 16:02] maximillianfx commented on #1907
Thanks @icehaunter , I'll check it out.

[2020-08-25 00:13] ekilah opened #1915 "`closestTo` TS typings are incorrect"
If you give the `closestTo` function an empty list of dates, it returns `undefined`. This is not represented in the TS typings.

[2020-08-25 00:23] justinlazaro-iselect opened #1916 "Cannot find module 'date-fns/format' or its corresponding type declarations."
"date-fns": "^2.6.0",

date-fns@2.2.1:
  version "2.2.1"
  resolved "https://registry.yarnpkg.com/date-fns/-/date-fns-2.2.1.tgz#b3f79cf56760af106050c686f4c72586a3383ee9"
  integrity sha512-4V1i5CnTinjBvJpXTq7sDHD4NY6JPcl15112IeSNNLUWQOQ+kIuCvRGOFZMQZNvkadw8F9QTyZxz59rIRU6K+w==

date-fns@^1.27.2:
  version "1.30.1"
  resolved "https://registry.yarnpkg.com/date-fns/-/date-fns-1.30.1.tgz#2e71bf0b1191

[2020-08-25 00:26] justinlazaro-iselect commented on #1746
any fix on this?

[2020-08-25 02:14] Imballinst commented on #1907
@icehaunter ah, gotcha! Yes, that is a great point, I didn't see that before. I 💯 agree with the part of being explicit, it's really useful for assertions in a code-branch.

[2020-08-25 09:45] dd-han opened #1917 "fromUnixTime ignored milliseconds"
Hi

When I using date-fns convert Unix Timestamp to JavaScript Date Object. But milliseconds seem to be ignored, code:

[code]

https://github.com/date-fns/date-fns/blob/master/src/fromUnixTime/index.js#L29

[2020-08-25 11:20] kossnocorp opened #1918 "Remove locale snapshots from npm package"
Remove redundant weight from the npm package

[2020-08-25 17:51] strarsis opened #1919 "[Feature request] Relative date modifications"
Some libraries use relative date modifications (like [JQuery UI Datepicker](https://jqueryui.com/datepicker/#min-max).
Example: `maxDate: "+1M +10D"`

So the string `+1D` should add one day, the string `+1Y` a year.
There can also be compositions (`+1M +10D`), hence a parsing function would be great.

[2020-08-27 08:49] kpturner opened #1922 "toDate documentation says it accepts a string but the typings say otherwise"
`function toDate(argument: Date | number): Date`

Results in typescript build error
`TS2345: Argument of type 'string' is not assignable to parameter of type 'number | Date'.`

Is this just a documentation error?  I guess I need to use parseISO?

[2020-08-27 13:32] #1902 closed

[2020-08-27 13:36] #1899 closed

[2020-08-27 13:38] #1913 closed

[2020-08-27 14:10] piotrl commented on #1911
Fixed in #1890 and released under v2.16.0

[2020-08-27 19:49] rcrowell opened #1924 "unexpected result parsing fractional seconds with wrong length"
Is it possible to accurately parse a mis-matched number of digits for fractional seconds?

While `parse()` seems to work with wrong-length strings in other cases (e.g. `parse("2000-3-04", "yyyy-MM-dd", new Date())` works fine with the too-short month "3"), I am not sure how to achieve this with "S+" patterns.

### Examples

1. "SS" with a single-digit fractional seconds **gives an unexpected resul

[2020-08-28 18:46] maximillianfx commented on #1880
Hi there, during this week I didn't have much time to see this, but I made a [commit](https://github.com/maximillianfx/date-fns/commit/f3e1108f48f7213af429e7b715a4996a0b99b4db) in my forked repo, can you see if this change solves this problem? The tests performed successfully.

[2020-08-29 10:54] altro3 opened #1926 "Can't parse some ZH-CN / ZH-HK / JA dates"
I tried to move my code from Moment.js to date-fns, but have some problems with parsing localized non ISO formatted dates.

I want to say that in my task, I initially do not know in what format the date will come to me, so I have to check various options one by one. For most variant library works perfect, but I can't parse long formatted dates.

For example, I have some dates for some locales:
**E

[2020-08-29 17:48] altro3 opened #1927 "Can't parse arabic localized dates"
Same as previous ticket about chinese locale, have problem with parsing arabic dates.

Examples:
[code]
Sorry, these string are wrong - can't copy Left-to-Right Override symbol (U+202D) :-(
![arabic_date](https://user-images.githubusercontent.com/48474279/91643028-f6b0eb00-ea59-11ea-8343-e3e2d44e34e0.PNG)
(from this page: http://althawrah.ye/archives/540499 (in right top block))

Tried different p

[2020-08-30 02:05] ro-savage commented on #1780
I would like to use date-fns in a simple chrome extension. But can't no unless I set up an entire bundling process.

It feels crazy that this option was removed. Is the a reason?

[2020-08-31 02:09] samuraitruong opened #1929 "Bug differenceInMonths"
Not sure this is correct behavior but currently I have this setup

- Get current date using new Date()
- add 1 month to that Date
- Call differenceInMonths on that 2 days and expect it return 1 but with special input is today 31th Aug, it returns 0

*Example*

- 2020-08-31T01:58:06.531Z
- 2020-09-30T01:58:06.531Z

[code]
[code]

[2020-08-31 13:24] #1918 closed

[2020-09-02 10:42] sudeeptarlekar commented on #1929
Related #1887

[2020-09-02 14:40] V-Gutierrez commented on #1922
Hello, my friend !

I believe this is the expected behavior : https://date-fns.org/v2.16.1/docs/toDate

Am I missing something ?

[2020-09-02 15:05] evenfrost commented on #1922
@kpturner there is no problem in the documentation, it says it accepts only `Date` or `Number`: https://date-fns.org/v2.16.1/docs/toDate. Check if the version you're looking at is correct.

[2020-09-02 15:16] kpturner commented on #1922
I was using V2.0 (https://date-fns.org/v2.0.0-alpha.1/docs/toDate) but it looks like a dependabot update sabotaged me and updated me to the latest version (hence the last sentence in the OP) :)

[2020-09-02 15:16] #1922 closed

[2020-09-03 19:08] EdmarPereira commented on #1857
You are correct, if you update the version in code sandbox you will have the same error

[2020-09-03 22:46] danielsilvajobs commented on #1857
Any luck with this error?

[2020-09-04 03:54] morficus commented on #1761
@kossnocorp looking through the docs I didn't find a way to do the inverse of `formatISODuration`.
I'm looking to convert an ISO 8601 duration string (ie: `P25D` or `PT12H`) in to a Duration object.

[2020-09-04 17:29] robross0606 opened #1937 "Better validation functions"
With all the functions available in the library, it is shocking there aren't enough straight forward validation or assertion capabilities.  The code has much of this buried inside things like `parseISO()` but they are not exposed for use directly.  There is also the `isValid()` but not shortcuts are available for standard formats like ISO8601 or RFC3339.  What about simply exposing some clear vali

[2020-09-04 18:28] kossnocorp commented on #1937
Hey, @robross0606! Not quite get what do you suggest, add this functionality for you or offer help?

[2020-09-04 18:36] robross0606 commented on #1937
I’m suggesting new features related to data validation.

[2020-09-06 17:01] raerpo opened #1939 "parseISO bug in Chile due timezone change"
Hi, since september 5 2020 there was a timezone change on Chile from GTM-4 to GTM-3.

I noticed that everything worked as expected on almost every device but for iPhone and Safari it keeps showing the wrong timezone.

Screenshot on firefox with correct timezone
<img width="1349" alt="firefox" src="https://user-images.githubusercontent.com/1649463/92330958-535b6980-f049-11ea-9cbc-0655df5cd08e.png">

[2020-09-06 19:41] MyIsaak commented on #1939
Are you testing on the same device, or is this a desktop and a mobile phone? Could be an issue outside of date-fns. Have you tested this with another date parser, such as the default `(new Date()).toISOString()`?

[2020-09-06 20:29] raerpo commented on #1939
I tested it on the same device with differente browsers (firefox and safari) also with an Android (chrome) and iOS (chrome and safari) and the results are the same as the original issue.

I tested it using `(new Date()).toISOString()` and the results for that line is the same on both browsers so that's why I'm thinking the problem is related with date-fns.

I updated the codesandbox with your sugg

[2020-09-07 08:14] jessielaf commented on #1869
Is there an update from date-fns? Did you manage to fix this @rhcarvalho?

[2020-09-07 10:18] kossnocorp commented on #1869
Hey everyone, I'm looking into it!

[2020-09-07 10:26] kossnocorp commented on #1869
Sorry for the lack of an answer, however this is not an issue with date-fns, at least in the given example the problem is in the way Safari parses the date. This is exactly the reason why we've removed implicit string parsing from v2 but unfortunately, it doesn't help.

This is how Safari parses the string:

[code]

Chrome works differently:

[code]

But just like Safari will parse string in UTC i

[2020-09-07 10:26] #1869 closed

[2020-09-07 10:28] kossnocorp commented on #1869
Sorry, I know that's not helpful, but that's not something I can fix except probably educating people.

[2020-09-07 10:53] jessielaf commented on #1869
@kossnocorp yeah I found out about the difference in safari's way of parsing dates. But in this example:

[code]

I am adding the T in between the date and the time. But even this example returns two hours later. Maybe the solution is to add the timezone to the dates but that would be a massive change for us.

Is this issue also on other date format libraries? I love the way date-fns works but a l

[2020-09-07 17:54] kossnocorp commented on #1869
@jessielaf unless a library implements custom parsing (which will increase the build size, that's why we don't do it), it will have the same issue.

I recommend you using a simple parser which will parse a string in the local timezone:

[code]

[2020-09-07 17:55] kossnocorp commented on #1869
Here's the result from Safari:

![CleanShot 2020-09-07 at 21 54 49](https://user-images.githubusercontent.com/52201/92410315-c998c280-f154-11ea-9c90-84b7e09fca6d.png)

[2020-09-07 19:48] dotnetCarpenter opened #1940 "404 on FP Guide in CHANGELOG.md"
In the [CHANGELOG.md on line 909](https://github.com/date-fns/date-fns/blame/master/CHANGELOG.md#L909) there is a link to https://github.com/date-fns/date-fns/blob/master/docs/fp which does not exist.

[2020-09-07 19:49] dotnetCarpenter commented on #1940
Looks like the link should be to https://github.com/date-fns/date-fns/blob/master/docs/fp.md. So just add `.md` and it should be fine.

[2020-09-08 09:13] jessielaf commented on #1869
Hmm okay thanks for the response and the example code!

[2020-09-08 09:46] MyIsaak commented on #1939
I can't replicate this issue.

![image](https://user-images.githubusercontent.com/4984415/92384956-4c982980-f111-11ea-974e-115c4e342df9.png)

[2020-09-08 12:36] raerpo commented on #1939
That's what I was afraid. But shouldn't date-fns compensate in some way this kind of issues with timezones?
Just to know if this is something that should be address here or maybe just report it to Apple and you we can proceed to close this issue :)

Thanks for responses

[2020-09-08 14:43] MyIsaak commented on #1939
I wonder that too, since `date-fns` sells that it works with all timezones. But on the other hand, you can't go around this without knowing the correct timezone via the browser in the first place. Perhaps that's a key limitation of this library, one should consider.

My alternative approach would be to modify the existing date library's timezone with one received from a trusted (or configurable) N

[2020-09-10 13:28] davidmarquis commented on #1683
I'm seeing the same issue when upgrading `date-fns` from `2.15.0` to `2.16.1`!
Downgrading to `2.15.0` resolves this issue.
@dkozickis, FYI

[2020-09-10 17:48] betweenbrain commented on #1816
We've also run into this issue, when using `format` with v1.30.1, but we only see this with dates that seem to be related (day before or after) daylight saving, such as October 31, 2020, 7:30 pm EST. @viperfx07 's fix seems to work, and hasn't had any negative impact on other dates. I'll report back if we find anything else.

[2020-09-11 19:51] shaykav opened #1943 "en-ZA locale support"
Please add support for en-ZA 🙂

[2020-09-11 22:10] jsejcksn commented on #1851
Checking in on the status of this. Any thoughts @kossnocorp?

[2020-09-14 12:38] AndreiIgna commented on #1782
The reason I'm using date-fns over other libraries is that it has a small footprint and relies on as many native JS parts as it can.
Because of this, I'm also in support of relying on `Intl.RelativeTimeFormat` for relative date/times. It looks like an obvious advantage of taking advantage of what JS is capable of, instead of duplicating features.

[2020-09-14 12:49] kossnocorp commented on #1782
@AndreiIgna I'm 100% with you, but it doesn't mean that we should or will drop custom I18n that provides more functionality and does not depend on the build (i.e. Node.js won't support a locale unless it's included in the build).

This is how we'll proceed:

Your help is welcome!

[2020-09-15 00:45] maupin commented on #1780
I'll add my voice to those asking for a CDN version.  Not having one is a huge hurdle for beginners to clear.

[2020-09-15 02:20] danielnixon opened #1944 "Suggestion: use a readonly Date type in TypeScript"
I've been using a `ReadonlyDate` type in my projects. It looks like this:
[code]

It's philosophically similar to the built in `ReadonlyArray`, `ReadonlySet`, etc.

It would be great if date-fns functions could at least _accept_ (if not return) this type. That way an entire project could use readonly dates similarly to readonly arrays. This would give an (almost) immutability guarantee.

_Returnin

[2020-09-15 11:28] jesbro-webbook opened #1945 "getWeek doesn't account for leap year (2020)"
This year (2020) there is a 53th week because of a leap year.

Tested on date-fns version 2.16.1:

`format(new Date('2020-12-28'), 'I')`
returns correctly "53"

but
`getWeek(new Date('2020-12-28'))`
returns the result 1

(ignore the fact that I use new Date() instead of parse, it's the same result)

[2020-09-15 12:09] juiceo opened #1946 "Localized format needed for day and month (PPP without year)"
A rather common use case is to display a date such as "May 29th", and there does not exist a standalone format for this type of day-and-month string. These localizations already exist as part of the `PPP` format, but that includes the year, which for many use cases is undesirable.

Is there a way to achieve this currently, and if not, can we have a new format which would be just PPP without the ye

[2020-09-15 23:11] vohzd commented on #1761
I would also like this, specifically I'm having troubles converting YouTube durations into seconds.

Their API returns ISO8601 formats;
https://developers.google.com/youtube/v3/docs/videos#contentDetails.durati

[2020-09-16 07:41] AndreiIgna commented on #1782
Hmm I think Node.js includes all locales for Intl by default on most builds, and needs custom options to include only one locale or other variations.
On my projects I usually install Node.js with the easiest method (`nvm` on macOS, `node:12-alpine` in projects with Docker, etc) and all locales are there.

Wouldn't it create confusion to have multiple methods in date-fns that do the same thing?
I'm

[2020-09-16 15:37] maimia71 opened #1948 "Module not found: Can't resolve 'date-fns'"
I'm using the package "react-date-range". I have successfully installed this package by "npx i react-date-range" command.
But while compiling my reactjs code it gives an error of module not found.
![reactjs_error2](https://user-images.githubusercontent.com/50349531/93359641-73b4d080-f860-11ea-9131-62006030eaf2.JPG)

[2020-09-16 23:04] dpchamps opened #1949 "isAfter conflicting documentation"
https://github.com/date-fns/date-fns/issues/1786

https://date-fns.org/v1.9.0/docs/isAfter

I believe the above issue was closed prematurely. I'll gladly push a fix once I understand better _what_ the issue is. It could be either of the following:

1. A documentation issue

From the docs in the above link:

Name | Type | Description
-- | -- | --
dateToCompare | Date \| String \| Number | the date

[2020-09-17 01:07] conundrumer commented on #1780
Doesn't look like it'll happen: https://github.com/date-fns/date-fns/issues/276#issuecomment-330791697

[2020-09-17 06:03] kossnocorp commented on #1780
@conundrumer it will happen 😉

[2020-09-17 06:58] ropinheiro commented on #1575
I should also add to this that maybe date-fns should throw exceptions instead of polluting the console with warnings. I'm doing some code that try-catch a format() attempt, as I can't be sure if the data I receive is a valid date or not (it can be a valid date, or a string with a valid date formatted, or a string that must pass as-is), then in the catch I handle the invalid cases. The problem is t

[2020-09-17 12:42] kallaspriit commented on #1916
I'm also getting `Cannot find module 'date-fns' or its corresponding type declarations.ts(2307)` even though the project seems to include typings.d.ts.

I think the reason is that the typings file is not correctly named / referenced in `package.json`.

Either package.json should include property `types` or the typings file should be named `index.d.t`.

https://www.typescriptlang.org/docs/handbook/

[2020-09-17 17:13] V-Gutierrez commented on #1949
Both documentation and code behave as expected, this old behavior was already overwritten. Note that date-fns is already in 2.16.1 version..

Check this: https://date-fns.org/v2.16.1/docs/isAfter

[2020-09-17 21:57] dpchamps commented on #1949
@V-Gutierrez out of curiosity, is it not possible to update old documentation?

Well, sure for the newer docs perhaps. But this clearly isn't the case for the older docs.

It's also worth mentioning that when I personally google "date-fns isAfter" the top link is for the 1.29.0 docs.

[2020-09-17 22:11] V-Gutierrez commented on #1949
Well, I believe that the docs matches date-fns code behavior in the corresponding version, so changing it would lead to misusing.

A solution would make website show most recent docs by default.

I understand this is catchy but I don't think there is a need in changing older documentation.

 @kossnocorp can answer it better than anyone.

[2020-09-18 02:00] dpchamps commented on #1949
But the docs are _wrong_ for version 1.29.0. If someone is looking up documentation for date-fns v1.29.0, they will get misleading information.

[2020-09-18 02:03] V-Gutierrez commented on #1949
Oh! So a documentation fix will do the trick :D

I checked the current version and the code fits the documented behavior, so that is it

[2020-09-18 11:31] sookoll commented on #1838
I will complain also about parse (but it is general issue about date-fns documentation). I have quite hard time to figure out, what the third argument is and how to use it. How hard is to create proper documentation with parameters and return value description right in top of method page?

[2020-09-18 11:37] kossnocorp commented on #1838
There's one way to figure this out - try it.

[2020-09-19 17:24] hkong commented on #1783
While the above examples work for me (thanks @sspilleman), the following is still giving me errors:

[code]
The code works fine, but VSCode (with the deno plugin) marks it with errors.

[2020-09-21 14:23] jeffshaver commented on #1901
We are having the same issue but with time. i.e. mintues get padded when using 'mm' (5 turns into 05)

[2020-09-21 15:36] vcanales commented on #1939
There's a difference in how Safari parses dates when no hours are given apparently. Using full timestamps on Zulu Time generates the correct output for all browsers:
https://codesandbox.io/s/date-fns-issue-forked-zj07o?file=/src/index.js

[2020-09-21 19:45] O4epegb commented on #1838
Also reproduced this problem with `date-fns@2.16.1`

[code]

Quite weird behaviour

It not only didn't use time from `referenceDate` but also set wrong day of the month (20 in result vs 21 in actual `dateToParse`)

[2020-09-21 20:35] O4epegb commented on #1948
Have you installed `date-fns` too `npm install --save react date-fns`? You need it because it's peer dependency for `react-date-range`

[2020-09-22 10:00] sookoll commented on #1838
@kossnocorp really?
[code]

[2020-09-22 10:10] bilguun0203 commented on #894
Hello @kossnocorp
I'm currently working on Mongolian language support. Would you be able to reopen this issue?

[2020-09-22 10:12] kossnocorp commented on #1838
@sookoll, please be polite, constructive, and contribute something to the discussion, or I'll have to block you. And remind yourself that you're talking to humans that do this work for you for free and don't get much in return. There's a lot of room for improvement, and everybody's aware of that, but there's no much time, so if you're willing to contribute - welcome.

[2020-09-22 10:21] kossnocorp commented on #894
@bilguun0203 thanks!

[2020-09-22 10:24] kossnocorp commented on #1948
@maimia71 as @O4epegb said, please install `date-fns` as well.

[2020-09-22 10:24] #1948 closed

[2020-09-22 10:48] kossnocorp commented on #1838
@iksemot

Sorry about the confusion, the reference date is used only to fill values in rare cases. And you're right the documentation might be clearer.

[2020-09-22 10:52] kossnocorp commented on #1838
@O4epegb that you describe has nothing to do with the discussed issue. The thing is parse create a date in the local timezone at midnight. You simply converted the time to UTC when printed the date:

[code]

In Node.js REPL `.toISOString()` which is used automatically when you output the date, try using `.toString` to see yourself.

[2020-09-22 11:57] O4epegb commented on #1838
@kossnocorp Well, I think it does, because it have not filled time values? You said it only fills in rare cases later, but when I posted I did not know that.

[2020-09-22 15:51] MarkCassidy1997 opened #1962 "formatDuration including the weeks?"
Hello!

Does formatDuration not support how many weeks are between the dates? I am creating a countdown clock but I need to have the weeks value available.

const units = ['years', 'months', 'weeks', 'days', 'hours', 'minutes', 'seconds'];
  let duration = intervalToDuration({
    start: new Date(2022, 6, 2, 0, 0, 15),
    end: new Date(),
  });

  formatDuration(duration, {
    format: units,

[2020-09-22 16:26] jeffryang24 commented on #1838
I also experienced this issue:

[code]

Why the year become 2300? Does 2020 too toxic? :laughing:

[2020-09-23 05:04] emondora commented on #1683
same problem..2.16..

[2020-09-23 13:34] aryanshridhar opened #1965 "Invalid date in parseISO function"
Hi everyone ,
As suggested in docs <a href ='https://date-fns.org/v2.16.1/docs/parseISO'>here</a>
<pre>parseISO('2018-13-32')
//=> Invalid Date
</pre>
But , seems like this error is also thrown when I pass an date as <code>1900-1-1</code> rather than passing  <code>1900-01-01</code> .

For more clarification :
<pre>
parseISO('1900-1-1');
//=> Invalid Date

parseISO('1900-01-01');
//=> Date Mon Jan

[2020-09-23 17:25] Beigelman commented on #1962
Hey, Mark, I think I can help you with this problem. There is already a function that calculates the difference in weeks in the data-fns. It should be relatively easy to make this adjustment.  I will starting working on this today.

[2020-09-23 20:30] chrise86 commented on #214
I know this is old, but I'm getting this exact issue on `2.16.1`:

![image](https://user-images.githubusercontent.com/616956/94066148-fa7b2780-fde3-11ea-8430-790692ae5bc6.png)

[2020-09-24 07:42] Michiel87 opened #1972 "Unexpected results using timezone functions"
I've set up an environment where I use the utcToZonedTime and zonedTimeToUtc functions for timezone conversion.

I've used four different timezones and wrote down their UTC offset. As you can see the function only properly converse one of the timezones. Am I doing something wrong or is this a bug?

https://codesandbox.io/s/red-cdn-r34ut?file=/src/App.js

[2020-09-24 07:45] Michiel87 commented on #1972
for the record:
![image](https://user-images.githubusercontent.com/24434969/94115902-a5263100-fe4a-11ea-87b6-9f7a49774834.png)

[2020-09-24 08:14] Venipa commented on #1412
@kopax
is this what you want?
[code]

[2020-09-24 08:47] MikeMitterer commented on #1683
@dkozickis Can you please reopen this issue. As you can see the problem still exists. I tried it with 2.15.0 + 2.16.1 always the same problem. Only downgrading to 2.11.1. helps

I use date-fns in several modules. In some 2.16.1 works in others it fails.
Works with 2.16.1
[code]

Works only with 2.11.1
[code]

In both modules I remove unnecessary locales with
[code]

[2020-09-24 11:06] aryanshridhar opened #1973 "Error while Testing using babel-node"
While executing <code>> const toDate = require('./src/toDate')</code> after <code>./node_modules/.bin/babel-node</code> throws an error as :
<pre>
 const toDate = require('./src/toDate')
internal/modules/cjs/loader.js:968
  throw err;
  ^

Uncaught Error: Cannot find module '../_lib/requiredArgs/index'
Require stack:
- /home/aryanshridhar/Desktop/date-fns/src/toDate/index.js
- <repl>
    at Functi

[2020-09-24 13:14] MarkCassidy1997 opened #1976 "How can I convert this string to Date?"
Hello,

Excuse me if this is found somewhere in the docs and I have misread/misunderstood. I have the following date that I would like to be converted if possible

2020-9-26T09:00:00Z ----> new Date(2020, 9, 26, 9, 0 0)

Is this possible?

Thanks

[2020-09-24 13:19] V-Gutierrez commented on #1976
Yes, you do. Date receives the following parameters in it's constructor:

`new Date(year, month, day, hour, minutes, seconds, milliseconds);`

I suggest trying before throwing an issue but I'm glad to help.

[2020-09-24 13:24] Michiel87 commented on #1972
I've noticed my mistake.

[2020-09-24 13:24] #1972 closed

[2020-09-24 13:42] #1976 closed

[2020-09-24 16:45] Beigelman commented on #1965
Hi @aryanshridhar as far as i could tell it is a simple regex problem. I'm working on it right now.

[2020-09-24 17:09] gregfenton opened #1977 "[docs] searching for "Invalid Date""
The [page for parseISO](https://date-fns.org/v2.16.1/docs/parseISO) mentions that a result can return `Invalid Date`.  Searching the docs (at least the table of index's "Search" feature), no results are found for "invalid" nor "isinvalid".

I'm ashamed to admit it but it took me 5 minutes before I thought of searching for "valid" instead of "invalid".

Would be useful to have some type of pointer

[2020-09-24 18:37] Cellule commented on #1753
This caused our application to crash for anyone on `America/Santiago`.
For now we don't care about hours, so changing `eachDayOfInterval` to use `currentDate.setHours(2, 0, 0, 0);` fixes the problem (cause DST never changes day at 2am)

[2020-09-25 04:13] vespertilian opened #1982 "Time in seconds (or mins, hours etc) to duration object function."
👋

Thanks for the library. Are you open to a PR for a function that converts say 5400 seconds into a duration object?

Currently
[code]

Ideally, I would have wanted that to be 1 hour 30 minutes.

I was looking at storing some durations as ISO durations, but I just realised they are not sortable so I am thinking I should just store my duration in milliseconds or seconds.

I am thinking something l

[2020-09-25 05:48] vespertilian commented on #1982
So a bit of a conundrum: It's easy enough to convert seconds to minutes, hours, days and weeks, but it gets a bit harder with months and years. As they are not a fixed number of seconds.

One option:

[code]

This is the easiest and best approximation, however, it will not convert days into weeks. Maybe this is fine.

[2020-09-25 12:05] MarkCassidy1997 opened #1983 "intervalToDuration seconds seems to be one second behind real time?"
Hi,

I believe the intervalToDuration method is potentially displaying 1 second behind current time? Please can you let me know if this is the case?

`
    const formatCurrentDate = new Date().toISOString();
    let currentDate = new Date(formatCurrentDate);

   var x = intervalToDuration({
    start: new Date(currentDate),
    end: new Date('2020-09-25T13:00:00Z'), // Change this to any future da

[2020-09-25 15:09] Beigelman commented on #1982
Hi @vespertilian, i made a pull request #1967 two days ago implementing this feature that converts days into weeks in intervalToDuration. Hopefully it will get merged soon.

Since your idea "singleUnitDurationToDuration" does not take into account the start and end date, i think you would have to make some assumptions, such as the month being 30 days and the year 365 days.

That said I think your

[2020-09-25 15:35] cdwhatcott commented on #1816
I've found this issue in a very specific set of circumstances... in Firefox 81.0, date-fns 2.16.1, in Mountain Standard Time timezone, when formatting dates <= 1880-11-18.

[code]

Here's what the same code outputs in chrome:

[code]

I haven't narrowed down to the specific version of date-fns when this started, but I do not see this issue in 2.9.0.

[2020-09-25 17:33] Beigelman commented on #1945
Hi @jesbro-webbook date-fns considers the first week of the year to be the week on which the 1st of January falls. Thus the week of December 28 is the first week of the year 2021, so it returns 1 instead of 53. I am still trying to figure out how to solve this but my first guess is the function `getWeekYear` is not dealing with the exception of a leap year.

[2020-09-26 05:50] xiaohuiz opened #1988 "getISODay wrong after upgrade to 1.30.1 from 1.29.0"
[code]

[code]

[2020-09-27 07:24] tanopwan commented on #1236
@kossnocorp Hello, it might be a while but I need this feature for my project so I have done some implementations and test myself.

I read the contribution guide. It says it should be in typescript but the area I fix is pretty big.

You guys can check out my fork repository and I will be happy to make some changes in order to contribute back.
https://github.com/tanopwan/date-fns/commit/35c091cdd58

[2020-09-28 03:07] abnersajr commented on #1988
@xiaohuiz this couldn't be caused by your timezone?
![image](https://user-images.githubusercontent.com/1998649/94386598-734ced00-011e-11eb-9455-bef6a4a784d1.png)

[2020-09-28 12:26] Beigelman commented on #1983
Hi, @MarkCassidy1997 I ran some tests here locally and everything looks fine. IntervalToDuration is displaying the exact second value.

[2020-09-29 10:54] mifrej opened #1996 "enEU language/locale support"
I would like to have the English language with European locale settings.
`en_EU` `ISO-8859-15`  English language locale for Europe
This spec is covering it.
https://icu4c-demos.unicode.org/icu-bin/locexp?_=en_150#Scripts

[2020-09-29 14:14] polvora-fosforo opened #1998 "How do i validate for dd/mm/yyyy, dd-mm-yyyy, yyyy/mm/dd and yyyy-mm-dd formats?"
I must validate a string that is supposed to follow dd/mm/yyyy, dd-mm-yyyy, yyyy/mm/dd or yyyy-mm-dd formats.

Can i do it with date-fns or i'll have to consider using regex?

[2020-09-30 02:12] Imballinst commented on #1998
Hello @polvora-fosforo. Could you try using https://date-fns.org/v2.8.1/docs/parse? Invalid dates will return `Invalid Date` object.

Sample demo here: https://runkit.com/embed/ahporue7glvp. Let me know if this is not what you asked!

[2020-09-30 12:32] vespertilian commented on #1982
Hey Beigelman, yeah sure I can try to implement this in the library. Whats a better name than "singleUnitDurationToDuration" is it better just to have `millisecondsToDuration` & `secondsToDuration` ?

[2020-10-01 00:42] mholland231 opened #2001 "parseISO does not handle lower case `t` and `z` separation characters"
Example
[code]

From [IETF RFC339 Section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6) -

[code]

The solution should just be to change `src/parseISO/index.js lines 8-12` to be
[code]

[2020-10-01 09:18] minitesh commented on #1917
@dd-han
I will look at this issue.

[2020-10-01 11:50] Zwen1111 commented on #1901
We are having the same with `dd` e.g. `isMatch('2020-01-1', 'yyyy-MM-dd') => true`

[2020-10-01 14:28] Beigelman commented on #2001
Hi, @mholland231 I read the IETF RFC339 Section 5.6 and I agree that parseISO should handle lowercase 't' and 'z'.

I think the correct implementation to address this issue is:

`const patterns = {
  dateTimeDelimiter: /[T ]/i,
  timeZoneDelimiter: /[Z ]/i,
  timezone: /([Z+-].*)$/i
}`

I have already made a pull request addressing another issue #1978 in parseISO, I will make another commit with t

[2020-10-01 15:54] Beigelman commented on #1982
Yah maybe it is better to split into two different functions `millisecondsToDuration` and `secondsToDuration`

[2020-10-01 20:11] mholland231 commented on #2001
Thanks! I appreciate the quick response!

[2020-10-01 22:10] zahidalidev commented on #1734
npm i @date-io/date-fns@1.x date-fns after installing just restart the server only then, this worked

[2020-10-03 07:53] maksjood commented on #1772
I'm having the same problem, even having date-fns installed by `npm install date-fns`

[2020-10-03 17:28] smknstd commented on #838
Hello ! What is the status of this feature ?

[2020-10-04 18:33] aryanshridhar opened #2008 "Get locale aware long format date"
Hey , I have been migrating from <code>moment.js</code> to <code>date-fns</code> and was stuck for an alternative of
<pre>
moment.localeData().longDateFormat("LL");
</pre>
For more information , as mentioned <a href = 'https://momentjs.com/docs/#/i18n/locale-data/'>here</a>
<pre>
localeData = moment.localeData()
localeData.longDateFormat()
</pre>
returns long date format according to locale format

[2020-10-05 17:23] pawelotto opened #2009 "eachMinuteOfInterval"
I'm probably too lazy to fork but can you please add eachMinuteOfInterval function?

[2020-10-06 05:02] minitesh commented on #946
@nathggns
Are you working on this?
if not then I am interested to implement the solution.

[2020-10-06 09:56] nathggns commented on #946
@minitesh unfortunately was unable to find time to work on this as there was a workaround.

[2020-10-06 09:57] minitesh commented on #946
@nathggns no issues
I will work on this.

[2020-10-07 21:29] neosheps commented on #1443
Same issues with `2.16.1`

[2020-10-08 05:00] kossnocorp commented on #1443
@neosheps see https://github.com/date-fns/date-fns/issues/1443#issuecomment-535015240

[2020-10-08 07:07] kossnocorp opened #2012 "Stop returning Date from differenceInBusinessDays"
[Right now `differenceInBusinessDays` returns `Date` if the arguments are invalid](https://github.com/date-fns/date-fns/blob/master/src/differenceInBusinessDays/index.js#L44). This is not right and we need to fix it.

[2020-10-08 10:09] suraj-desai commented on #2012
Hey @kossnocorp can you assign it to me? I can give a shot

[2020-10-08 10:31] kossnocorp commented on #2012
@suraj-desai, this is a breaking change and won’t be shipped until v3, so better I would do it myself.

[2020-10-08 10:46] suraj-desai commented on #2012
okay good luck

[2020-10-08 10:47] suraj-desai commented on #2012
Okay. no problem.

[2020-10-08 10:51] suraj-desai commented on #2009
Hey @pawelotto  can you assign it to me? I can give it a shot

[2020-10-08 11:57] pawelotto commented on #2009
@suraj-desai I'm not the owner here I can't assign unfortunately

[2020-10-08 13:26] neosheps commented on #1443
@kossnocorp no documentation difference, and I am using the latest version, older than the version in the answer

[2020-10-08 13:28] kossnocorp commented on #1443
@neosheps you should import the module from `date-fns/formatDistanceToNow`.

[2020-10-09 12:10] stefan-wullems opened #2014 "Add support for fiscal year"
# What

A new `fiscalStart` option gets added to the following functions
  - startOfQuarter, startOfYear
  - endOfQuarter, endOfYear
  - isSameQuarter, isSameYear

This option is a number that can range from 1 to 12, with 1 representing January and 12 representing December.

# Example

[code]

# Why

It is not uncommon to have businesses that start tracking their yearly reports from another month

[2020-10-09 20:35] akloyal commented on #1741
What's the point of mandatory referenceDate? what if we parse date of birth?

[2020-10-09 21:11] vincent-h-lee commented on #1169
Closed by #1868

[2020-10-10 01:12] jmartin4563 commented on #975
It looks like this is possible today, using the suggested `B` format, where `format(new Date(2020, 10, 9, 0), 'B')` will print out `at night`. This feature is also documented on the format page (https://date-fns.org/v2.16.1/docs/format), so it looks like maybe the only thing left here to do would be to document the timeranges that date-fns considers afternoon/night etc. From my testing, it appears

[2020-10-10 09:18] rishabh1411 commented on #2009
@pawelotto Could you please tell me about the details of this issue? Maybe I can have a look and try to resolve it.

[2020-10-10 10:57] #1169 closed

[2020-10-12 00:50] owenl131 commented on #946
I did some tests, and taking aaa/bbb to be the toLowerCase mainly changes the locales that use AM/PM already, with the following exceptions:

| Locale | Before | After |
| --- | --- | --- |
| BE, RU, UK | ДП/ПП | дп/пп |
| GD | M./F. | m./f. |
| KK | ТД/ТК | тд/тк |
| SR | АМ/ПМ | ам/пм |
| TR | ÖÖ/ÖS | öö/ös |

[2020-10-12 12:11] archbloom opened #2021 "Add Marathi locale support"
This is to add support for Marathi language spoken by approx 83 million people which is currently not provided by `date-fns`.

I would like to work on this and looking for approval.

[2020-10-12 20:33] lucasfontesgaspareto commented on #2009
I want this feature too!

[2020-10-13 00:51] #975 closed

[2020-10-13 07:17] orifn opened #2023 "Tajik (tg) language support"

[2020-10-13 07:37] felixpes opened #2024 "Add a support for Basque language"

[2020-10-13 17:19] robinglen opened #2027 "closestIndexTo with multiple indexes"
Hello,

Really like the library, I just have a use case where they might be an array of objects with multiple dates that are the same.

[code]

So for my use case, I want to return all the closes indexes not the first, is this possible or something you are interested in it doing?

Thanks,
Robin

[2020-10-13 21:15] lioneaglesolutions opened #2028 "Daylight savings format() returning incorrect time"
When initiating a new date in Australia/Sydney timezone (detected by browser), and then formatting that date, the format output is adding an hour onto the time.

[code]

[2020-10-13 22:04] #2028 closed

[2020-10-14 06:11] vespertilian commented on #1982
Ok,

So I have been pondering this.

Two options for the duration:

1. Either it only counts up to weeks so 31 days would be a duration of 4 weeks 3 days, 62 days would be a duration of 8 weeks 6 days.
2. We just use the date Epoch to guess the months as in my example.

I am sort of leaning towards the weeks as it's a unit we can accurately calculate. Not sure how many people need to represent hug

[2020-10-14 07:26] Tanveeshs commented on #2027
Created a pull request for this issue. Will be solved
Please assign this issue to me

[2020-10-14 07:43] aryanshridhar commented on #2008
For future references , The <code><a href = 'https://date-fns.org/docs/format'>PPP</a></code> format can be used here .

[2020-10-14 07:43] #2008 closed

[2020-10-14 08:11] thearegee commented on #2027
Sorry I'm not sure I understand, you have created the PR here:
https://github.com/date-fns/date-fns/pull/2029

Not sure what you wanted me to do, but also, thanks :)

[2020-10-14 13:45] Tanveeshs commented on #2027
I've made changes to the code to solve your issue.
Once the PR is accepted closestIndexTo will give multiple indexes

[2020-10-15 09:15] LorenzHenk commented on #1858
Seems like this is being worked on in https://github.com/date-fns/date-fns/pull/1947 :slightly_smiling_face:

[2020-10-15 09:56] Aymkdn commented on #1788
Hey. Did you find a solution?

[2020-10-15 11:22] myfailemtions opened #2031 "startOfISOWeekYear for 2021 return wrong date"
When we try to call this function to get the values for 2021 year, the value is not correct.

This an example:
https://codesandbox.io/s/suspicious-buck-hli7o?file=/src/App.vue

[2020-10-15 17:54] Beigelman commented on #2031
This function returns the first day of the first week of the desired year, most of the years don't start on Sunday (that is the first day of the week by default) so this function will return the date in the past year.

[2020-10-15 19:33] abnersajr commented on #2009
We already have one guy working on that. He will open the PR today.
I don't remember their nick to tag here. I already asked him to tag himself here.

[2020-10-15 20:11] vitorfrs-dev commented on #2009
@abnersajr is talking about me.  I'm finishing this feature and i'm going to make a PR as soon as posible.

[2020-10-15 21:18] hjthomsen opened #2033 "Faroese language support"
Adding support for the faroese language

[2020-10-16 06:46] yannbolliger opened #2034 "Addition and scalar multiplication for Durations"
It would be great to have addition for `Duration`s. At the moment, there are functions like `addSeconds`, `addHours` but they are not defined for adding things _to_ a `Duration`. Also, one has to convert a duration to its raw seconds before being able to add it to a Date.

I would like to have:
 - `add(d: Date, dur: Duration): Date`
 - `add(d1: Duration, d2: Duration): Duration`
 - `multiply(d: Du

[2020-10-16 09:54] myfailemtions commented on #2031
there is any chance to return the first day of the week in the present year?

[2020-10-16 11:43] bipindubey-technoark opened #2035 "getting issue while running a build command"
when i run yarn build it is giving following error

/home/bipin/activkidz-admin/node_modules/date-fns/esm/index.js:2
export { default as add } from './add/index.js';
^^^^^^

SyntaxError: Unexpected token 'export'

my date-fns version is 2.16.1

[2020-10-16 12:52] Beigelman commented on #2031
Hi, @myfailemtions I am not sure what your necessity is but you could create a function that verifies if the return date is in the desired year otherwise you add 7 days to this date.

[2020-10-16 13:22] Beigelman commented on #2014
Hi, @stefan-wullems thank a lot for your suggestion, I think this feature can help a lot of people. I will open a PR to implement this improvement. I think a better name for this argument would be `yearStartsOn`

[2020-10-16 13:33] bipindubey-technoark commented on #2035
It is fixed
it was vs code auto import error
it has imported from date-fns/esm instead of date-fns
Thanks

[2020-10-16 13:33] #2035 closed

[2020-10-17 04:44] kaushikagrawal18 commented on #2031
Hi, @myfailemtions I understood your issue and also I can resolve it. Can I contribute to your repository and create a pull request?

[2020-10-18 07:08] techieshark commented on #1281
For the benefit of search engines, adding the specific error messages I'm seeing in JS code that I'm working on updating to TS (similar error as @LinusU shared as a screenshot):

[code]

for code like:
[code]

[2020-10-19 06:17] myfailemtions commented on #2031
@kaushikagrawal18 Hi, yes please if it is possible.

[2020-10-19 10:09] pgcalixto commented on #1571
@fcaldere, I found the bug cause and submitted a PR :)

[2020-10-19 11:25] danmana commented on #1888
Can be closed. Fixed in #1891

[2020-10-19 11:52] pgcalixto commented on #1571
@fcaldera, I do not know Estonian, could you help me validate the regex patterns I've changed in the PR?

Reference:
- https://github.com/date-fns/date-fns/pull/2038
- https://github.com/date-fns/date-fns/blob/4a64ca3e41582a1dc8dc77164ced0103417b01df/src/locale/et/_lib/match/index.js

[2020-10-19 15:56] xErik opened #2039 "Feature Request: nextSaturday(...)"
Would it be helpful in general to add methods like `nextSaturday(...)` ?

[code]

[2020-10-20 16:51] DanielRamosAcosta commented on #1788
We are having almost the same problem, but when converting `zonedTimeToUtc`:

[code]

This is wrong as it should be `2020-10-18T22:00:00.000Z`, -1 for being in Madrid and -1 for being in DST.

[2020-10-21 11:16] sanjuvcs opened #2040 "Please add Alabanian locale code like 'sq' country code"

[2020-10-21 11:18] sanjuvcs opened #2041 "Please add support for sq"

[2020-10-21 13:39] Prottoy2938 opened #2043 "Range error for future year"
I'm using this code: `{format(date, "LLLL	d, yyyy")}`

And my date is: `12020-10-21T05:35:07.322Z`

Since this date is 10000 years in the future, this format giving me a range error. How to fix it?

[2020-10-21 16:06] yinonby opened #2044 "wrong output for utcToZonedTime"
The following code:

`
console.log(dateFnsTz.zonedTimeToUtc("2021-05-08T02:00:00.000", "America/Denver"))
console.log(dateFnsTz.utcToZonedTime("2021-05-08T08:00:00.000Z", "America/Denver"))
`

generates the following output:

If 2021-05-08T02:00:00.000 in Denver is converted to 2021-05-08T08:00:00.000Z in UTC, I don't see why 2021-05-08T08:00:00.000Z in UTC isn't converted back to 2021-05-08T02:00

[2020-10-21 16:24] yinonby commented on #2044
Seems related to https://github.com/marnusw/date-fns-tz/issues/49

[2020-10-21 18:20] debianw opened #2045 "parseISO Invalid Date"
Getting Invalid date, but the date is valid.

[code]

[code]

[2020-10-22 04:37] Samnan opened #2047 "Urdu language support"
I would like to submit a PR for translating this wonderful library ro Urdu language.

[2020-10-22 07:09] frnd commented on #2045
I had the same issue while updating from 2.13.0 to 2.16.1

[code]

[2020-10-22 14:58] bbearche commented on #2044
Im getting the same thing.
This is what I am putting in.
`date = Sat Oct 03 2020 00:15:00 GMT-0400 (Eastern Daylight Time)`
`dateInTimezone = utcToZonedTime(date, "America/New_York")`

This is what I am getting out
`dateInTimezone = Sun Oct 04 2020 00:15:00 GMT-0400 (Eastern Daylight Time)`

These should be the same time, but it's adding a full day on it.

[2020-10-24 16:48] #1888 closed

[2020-10-26 17:29] wjhsf commented on #776
Here's a list of the current generically-named functions (don't have a date/time word in the name), and some suggested aliases:

Current | Alias | Comments
--- | --- | ---
format | formatDate |
parse | parseDate |
max | maxDate |
min | minDate |
add | addDate | Not sure if is super clear, since the second argument is a special object.
sub | subDate | 👆
set | setDate | 👆
closestIndexTo | closestInd

[2020-10-26 19:15] #2031 closed

[2020-10-27 03:01] #1943 closed

[2020-10-27 04:44] kossnocorp commented on #2027
Adding this to `closestIndexTo` will introduce a breaking change that I would like to avoid. Besides, this will make function API inconsistent which is more important. I will accept a new function that does that, but not sure about the name. Maybe `allClosestIndicesTo`?

[2020-10-27 08:42] jepek commented on #2045
Another example:

[code]

[2020-10-27 10:50] stefan-wullems commented on #2014
Having this in the start/endOf functions would be great already, but for formatting and parsing dates we would still need to manually offset the date. Eg, if my fiscal/academic year starts on February, I would want January 2020 to format as Q4 of 2019 and vice versa for parsing. Adding the yearStartsOn argument to format and parse would definitely work but it would then only affect some formats wh

[2020-10-27 13:41] RaVbaker commented on #1911
Isn't the issue related to the fact that method `getTimezoneOffset` is used to display the date object but it actually depends on the server set timezone? I experienced same issues when parsing and formatting dates using `parseISO/formatISO` and I'm getting different results in different environments for a value like this: `"2020-10-19T14:03:34-0100"`

[2020-10-27 17:13] piotrl commented on #1911
@RaVbaker what do you mean by "the server set timezone"?

date-fns will always get timezone local to environment it runs function

if you run this function on node.js - then it'll get value from server
if you run this function on browser - it'll get value from computer that runs the browser, so environments in different timezones will give different results.

[2020-10-28 05:00] Hirse commented on #2045
None of your examples are valid ISO dates though.
@debianw not even close to ISO
@frnd ISO doesn't have a `[UTC]` suffix
@jepek ISO only requires 4 year digits. If you want more, you need to prefix it with `+` or `-`

[2020-10-28 05:03] Hirse commented on #2043
The ISO standard requires a `+` or `-` prefix for years outside the `0000-9999` range. Try `+12020-10-21T05:35:07.322Z`.

[2020-10-28 12:06] mateusppereira commented on #1134
https://github.com/date-fns/date-fns/pull/1196
(just to reference the PR)

[2020-10-28 15:05] adriano-di-giovanni opened #2052 "RFC3339 UTC date string from number"
How to return an RFC3339 **UTC** date string from a number representing the milliseconds elapsed from the Unix epoch?

The following code outputs an RFC3339 **local** date string:

[code]
and I can't figure out how to return the former. Do we need to add one more option to `formatRFC3339`? Am I missing something?

[2020-10-28 15:52] lidwin2win commented on #1998
Hi @Imballinst,
The problem with parse is that it does not do a strict parsing.
For example:
`console.log(dateFns.parse('31/01/202', 'dd/MM/yyyy', new Date()));`
The above code must return invalid because year must have 4 characters. But instead I get the output as "0202-01-30T18:30:00.000Z".

Is there any way to enforce strict parsing?

The same leniency problem happens with isMatch() also, the c

[2020-10-29 13:23] Mejans opened #2061 "Occitan language support"
Hello,
I'm going to provide a PR to support Occitan.

[2020-10-29 17:03] Groovin-Dev opened #2063 "Code box goes through header in documentation"
All text inside a codebox shows through the header. I don't know why it happens, I just wanted to report it :)

![chrome_AJBUn8Q2xp](https://user-images.githubusercontent.com/56172528/97607118-f8aa1280-19e6-11eb-8b50-25493bd90028.png)

[2020-10-30 04:07] redbmk commented on #2039
Could the naming be confusing? If it were Monday 2020-10-19 and I said "this Saturday", I would be referring to 2020-10-24. If I said "next Saturday" I would probably mean 2020-10-31. 🎃 👻

I don't know how common that is though.

[2020-10-30 04:17] redbmk commented on #863
I just tried using the exact strings @AppField mentioned and with the same version, but am also not able to recreate it:

https://stackblitz.com/edit/typescript-akb8eu?file=index.ts

[2020-10-30 04:47] redbmk commented on #1266
I wasn't able to recreate this. The original code snippet has a few errors:

1. `format` is imported from `date-fns` and then also set as `const format = 'dd MMM'`
2. `parse` takes a date string, a format, a reference date, and then options (including locale). This is missing the reference date.

With those fixed, here's what I came up with and it seems to work fine in both 2.0.0-beta.3 and the la

[2020-10-31 08:54] Imballinst commented on #1998
@lidwin2win ah, okay! Thanks for your explanation. I think the answer lies here:

https://github.com/date-fns/date-fns/blob/38f727ba038a62d4c514033e5dde815c077ff5f9/src/parse/_lib/parsers/index.js#L299-L306

The comment links to: http://www.unicode.org/reports/tr35/tr35-31/tr35-dates.html#Date_Format_Patterns. Apparently it behaves like it should (?) What we can do probably is parse first, then we

[2020-11-01 07:20] timtucker-dte opened #2068 "startOfHour / endOfHour issues with DST"
Ran into issues tonight with startOfHour / endOfHour not returning the proper values around the DST cutover.

`
import {
  addHours,
  startOfDay,
  startOfHour,
  endOfHour,
  eachHourOfInterval
} from "date-fns";

const startTime = startOfDay(new Date("2020-11-01 00:00:00"));
const endTime = addHours(startTime, 3);

const range = eachHourOfInterval({ start: startTime, end: endTime });

const tim

[2020-11-02 07:21] Prottoy2938 commented on #2043
Now the error is `range error: invalid time value`

[2020-11-03 04:17] LucasAndrad commented on #1315
Does this example should also work on terminal using node?

[2020-11-03 18:08] antoinerousseau commented on #1391
any help needed on this? I can try to open a PR.

[2020-11-03 18:11] antoinerousseau commented on #437
Could we get a similar fix in v2?

[2020-11-04 16:25] MartinKolarik commented on #1780
We recently added a new feature at jsDelivr which makes this (and other ES modules) work without a build step. [Small demo here](https://jsfiddle.net/1cazpb5t/) and [more details here](https://esm.run/).

[2020-11-04 20:35] michaelBenin commented on #1780
@MartinKolarik is it possible to get a url for that prebuilt lib?

[2020-11-04 20:38] MartinKolarik commented on #1780
@michaelBenin please check the demo and docs in my previous comment.

[2020-11-05 02:29] FredKSchott commented on #1780
Hey, big fan of date-fns at Skypack! We include it as our "recommended" package when you search for anything like date or time on the Skypack catalog: https://www.skypack.dev/search?q=datetime&p=1. Keep up the good work!

This package works today on the Skypack CDN! No action needed on your end. It's actually already been requested and used 2,500+ times in the last 7 days.

More info: https://www.

[2020-11-05 20:37] jens-morten-mikkelsen opened #2072 "parse format string not strict enough"
The issue that i am experiencing is when i do this:
`parse('05-1-2020', 'dd-MM-yyyy', new Date())` i get a valid date `Sun Jan 05 2020 00:00:00 GMT+0100 (Central European Standard Time)`

I am expecting that since i say in the formatString for parse, that it should use "MM" it would see "1" as invalid for month.

[2020-11-06 09:06] peterkuiper commented on #863
This is actually a rounding issue, `differenceInMinutes` uses `differenceInMilliseconds` and the division sometimes causes the result to be incorrect.

[2020-11-07 13:57] MrGeeDee opened #2073 "Uncaught TypeError: dateFns.formatRelative is not a function"
I'm trying to use formatRelative on my website but it won't work, did I add date-fns correctly?

html:
[code]

js:
[code]

[2020-11-07 23:23] Arnaldo-Manjate commented on #1734
thanks @zahidalidev

[2020-11-09 14:15] etorreswitbooking opened #2074 "Euskera language support"
Hi! Please can you add Euskera language support? Thanks :)

[2020-11-09 18:09] Woile commented on #975
Has anyone been able to get just the period of time? like `morning`, instead of `in the morning`?

[2020-11-10 10:46] flo-sch opened #2076 "Suggestion: export a type for "weekStartsOn""
A bunch of functions such as `startOfWeek` / `endOfWeek` take a `weekStartsOn` parameter [typed as `0 | 1 | 2 | 3 | 4 | 5 | 6`](https://github.com/date-fns/date-fns/blob/master/typings.d.ts#L948)

When working with objects in TypeScript, such type is inferred as a `number`, and typescript complains that:

[code]

Full type issue:

[code]

This can be worked-around by asserting the type instead of

[2020-11-10 10:51] flo-sch commented on #2076
(If that make sense, I would gladly contribute with a PR?)

[2020-11-10 10:57] flo-sch commented on #2076
Oh, I missed the `typescriptify` branch which seems to [handle that already](https://github.com/date-fns/date-fns/blob/typescriptify/src/types.ts#L13)

Relates to: https://github.com/date-fns/date-fns/pull/1935

[2020-11-10 12:33] rafchy opened #2077 "Incorrect week number for yyyy/w for last week of year"
Hi,

When trying to format the date **2020/12/28** in format **yyyy/w**, I get back an incorrect week number. **2020/1**

I'd expect to receive back 2020/53.

I've looked at numerous online calendars and all of them state that this year has 53 weeks. [example](https://savvytime.com/week-number/united-states/2020)

[CodeSandbox link to reproduce](https://codesandbox.io/s/date-fns-playground-forked-

[2020-11-11 15:11] mfulton26 opened #2078 "Month and DayOfWeek constants/enums"
instead of writing

[code]

I would like to be able to write

[code]

and instead of writing

[code]

I would like to be able to write

[code]

I know these may be specific to the Gregorian calendar but is there some way to include them in `date-fns` somehow? If not, is there some well adopted library out there that already defines these that I am overlooking?

Thank you.

[2020-11-11 15:12] mfulton26 commented on #2078
I've defined these enums myself in some projects and it isn't hard but it would be nice to have them already included in `date-fns` and not have to redefine them or create my own package, etc.

[2020-11-11 18:23] blyndcide opened #2079 "[Feature request] Add 'quarter' to Duration"
I realize adding to Duration touches a lot of code.  Mostly wanted for the sub and add functions.  May be good to also add 'millisecond' to round Duration out.

[2020-11-12 11:22] aldipower commented on #1753
We had the same problem, making our application crash for some users of us, we couldn't explain at the first glance.
After we accidentally could reproduce it, our debugging then boiled it down to `eachDayOfInterval` and so I found this threat here. :+1:
The workaround of @Cellule is fortunately working us for too. Thank you very much.
We patched our own version of the function out of the lib with

[2020-11-12 16:58] johnyvelho opened #2081 "startOf* Bug: returning wrong date"
I started migrating moment to date-fns in one of our projects, and I faced this bug:

[code]

Apparently, the bug happens when the time is 00:00.

Thank you,

[2020-11-13 08:03] czabaj commented on #1849
Also relates to #1998 and #2072 and probably more and I encountered the same problem yesterday.

The problem IMHO is, that parse _should_ accept _only_ zero-padded digits, e.g.

`20` is not a valid pattern for `yyyy`
`202` is not a valid pattern for `yyyy`
`2020` is a valid pattern for `yyyy`
`0020` is a valid pattern for `yyyy` and year 20

[2020-11-13 08:15] czabaj commented on #1849
I'm willing to fix this, but I need to elaborate more on this.

* shall there be some sort of strict flag for `parse`, or shall we rather introduce a new `validate` function?
* numbers which exceed repeated tokens length are generally valid, e.q. 12 is valid for token `m` and 2020 is valid for tokens `yy`, but `yy` should not be valid for, say 0020, i.e. numbers which exceeds tokens must not be ze

[2020-11-13 08:32] doberkofler commented on #1849
Thank you for caring. In my opinion the parsing should be as strict as possible to prevent any unwanted interpretation of a date.

I would add a strict flag and even prefer it to be on by default although this clearly might break existing code.

I would also not allow to parse a 2-digit month if only one m-token is given and the same for all other tokens.
I my opinion the date must exactly match t

[2020-11-13 13:03] czabaj commented on #1849
@doberkofler hello,

Agree, this makes sense, I will prepare the feature and you can think about willingness to introduce a new major version.

Agree. Theoretically, one could provide 5 digit year for something like year fifty-thousand, why lock sci-fi game authors in the current decca-millenium.

[2020-11-13 15:24] doberkofler commented on #1849
@czabaj

Why not, but I would still error out if the length does not fit so the parser does not have to guess how to guess if the string `10001` using `yyyy` should now be the year 1000 or 1 or if the string `100` should be the year 100 or 1000.

[2020-11-13 23:01] dolphinsd opened #2082 "loading locale files at runtime"
Have you considered a feature where localization files are loaded at runtime. This way, if app supports many languages, language pack can be loaded just in timie?

[2020-11-14 19:17] MartinMikusat opened #2083 ""Format string contains an unescaped latin alphabet character `v`" using "formatRelative" and "sk" locale"
Here's a CodeSandbox with the issue
https://codesandbox.io/s/date-fns-bug-qf1db?file=/src/index.js

Doesn't happen with all dates, only some. I wasn't able to find any clues to what exactly is causing this.

[2020-11-15 10:13] kamranahmedse opened #2085 "Feature Request — Allow setting custom business days"
Hey, first of all thank you for your work, really appreciate it!

Currently, there is no way to specify the business days e.g. the weekdays in UAE are Sunday to Thursday. Can we possibly [make the weekdays configurable](https://github.com/date-fns/date-fns/blob/36f2a94de7f45cd1668085a7a5399ed6bae3fe92/src/isWeekend/index.js#L30) via an option?

[2020-11-15 16:58] Pomar81 opened #2087 "incorrect match date string with 'yyyy'"
Incorrect match date string to pattern 'yyyy-MM-dd'

[code]

date-fns: v2.16.1
playground: [codesandbox](https://codesandbox.io/s/date-fns-ismatch-2y5so)

[2020-11-16 08:32] aaemnnosttv opened #2088 "RangeError: Format string contains an unescaped latin alphabet character `z`"
I'm getting this `RangeError` when trying to parse a date string like this `2020-11-09 6:05pm GMT` using `z` for the timezone as noted in the unicode [date symbol field table](https://www.unicode.org/reports/tr35/tr35-dates.html#Date_Field_Symbol_Table).

Similar to https://github.com/date-fns/date-fns/issues/1473 except this is about parsing rather than formatting.

I realize that the docs for [p

[2020-11-16 09:13] KyorCode opened #2089 "parseISO - disable century"
Hi,

After quiet some searching we bumped into the fact that parseISO processes two digits as centuries and we where wondering of that check can be disabled through options.

As I browse through the issues many people have seemed to bump into it and view it as non intuitive parsing of values. It easy resolve by adding an extra length check before parsing, but looking forward to have a more framewo

[2020-11-17 07:52] Sarath81198 commented on #1772
@maksjood Try deleting `node_modules` and `npm install`.

[2020-11-17 11:12] dkzlv opened #2094 "Does not reverse parse in RU locale with LLL/MMM patterns"
**Describe the bug**
Currently, date-fns cannot parse the date string that it formatted itself, if it used LLL or MMM patterns.

**To Reproduce**
Here's a small snippet:

[code]

It logs `fail ru`. Other locales work fine.

I didn't get the difference between MMM and LLL, so I tried all the 4 variations of using it (use only one, only the other one, and use different in format and parse functions)

[2020-11-18 21:07] dcsan commented on #1734
so the 2.x branch is broken? or somehow throws this error depending on other libraries?

"@date-io/date-fns": "^1.3.13",

[2020-11-20 08:47] SiddheshKukade commented on #1948
@maimia71  @O4epegb
### **Do This  =>**

1.`npm install --save date-fns`
2. **Restart** you code Editor and Cheers

[2020-11-22 19:19] aziz1117 opened #2097 "August instaed of September"
I noticed that all examples that you set on documentation replaced August with September.
Like this example:

// Is **1 September 2012** in the leap year?
var result = isLeapYear(new Date(**2012, 8, 1**))
//=> true

[2020-11-22 20:08] alexdilley commented on #1753
A solution appears to be implemented for [eachWeekOfInterval()](https://github.com/date-fns/date-fns/blob/38f727ba038a62d4c514033e5dde815c077ff5f9/src/eachWeekOfInterval/index.ts#L66).

[2020-11-23 14:28] szellcsaba-ge opened #2100 "getWeek documentation is misleading"
Landing from a google search, https://date-fns.org/v2.16.1/docs/getWeek documentation is not accurate, the code examples are for getISOWeek which doesn't accept a second parameter.

![image](https://user-images.githubusercontent.com/34339979/99973826-7d970a80-2da0-11eb-81b7-a1d2c065d24b.png)

[2020-11-23 14:58] enigma0Z opened #2101 "[Latest 1.x] Formatting in Firefox returns -1 minute from input"
See title.  Behavior in safari and chrome is as expected.

Example:

[code]

Please excuse / delete this if 1.x won't be updated since 2.x is out. I've discovered it using [@material-ui/pickers](https://material-ui-pickers.dev/) which currently are not compatible with 2.x of date-fns as far as I am aware (some formatting problem with an `'n'` in the format string coming from @material-ui/pickers d

[2020-11-24 08:16] alycda opened #2102 "`add` in browser issue with leap year"
It seems that February 29th is not accounted for when using `add` in a browser.

in node:
`add(new Date('2020-02-28'), { days: 14 })` // returns "2020-03-13"

<img width="348" alt="Screen Shot 2020-11-24 at 12 13 43 AM" src="https://user-images.githubusercontent.com/1791092/100066519-0ede9f00-2dea-11eb-8b49-8c3f959e3d3f.png">

in browser:
`add(new Date('2020-02-28'), { days: 14 })` // returns "202

[2020-11-24 08:55] snair-user opened #2103 "Unable to load date-fns in JQuery"
To use date-fns I need to add the node_modules path of date-fns js file
when I install date-fns pkg throgh npm then no min.js file is created. instead of that the index.js is created under node_modules/date_fns/index.js

I need min.js but that was not there so I tries to add index.js
but then in browser I am getting as 'exports is not defined'

I saw that no CDN available for 2.16(latest version).

[2020-11-26 10:42] czabaj commented on #1621
Duplicate #1849

[2020-11-26 13:37] ggjersund opened #2105 "Warning in ar-DZ locale"
Getting a warning with v2.16.1 on ar-DZ locale. Issue seems to be:
https://github.com/date-fns/date-fns/blob/master/src/locale/ar-DZ/_lib/localize/index.js#L16

This is the following warning:

![snip123](https://user-images.githubusercontent.com/26675510/100357337-d5c64a80-2ff4-11eb-8f3c-90b83a1353c1.PNG)

[2020-11-26 13:38] ggjersund commented on #2105
Developing on Windows with VSCode. I have removed node_modules and reinstalled all packages.

[2020-11-27 17:28] gabrielgrs opened #2107 "Problem to format date "2020-10-23:00:00+00:00""
Hello people!

I'm trying to format the following date:
"2020-10-23:00:00+00:00"
using format as this way:
format("2020-10-23:00:00+00:00", "dd/MM/yyyy")

The problem is that he ends up returning 3 hours, because of the time zone. Is there a way for me to ignore the timezone and return only the value of the formatted date?

[code]

[2020-11-28 05:56] levymetal commented on #2107
I feel like this is something [date-fnz-tz](https://github.com/marnusw/date-fns-tz) should handle, but it doesn't.

The way I've solved this is to strip the offset from the string. This effectively prevents any conversion as without an offset the browser assumes the date is already in the local timezone. If you want maximum compatibility you should also use `parseISO` due to inconsistent behaviour

[2020-11-28 19:34] SrBrahma commented on #1946
Up.

I am also struggling to find a way to do this without having to use Intl, as adding it to a React Native app increases its size substantially.

It is possible to have a format that manually have the day and then the month, but it isn't multi-language friendly as the orders differs.

[2020-11-28 19:41] SrBrahma commented on #1946
And, unfortunately, seems that all translations files hardcodes the year into the long format.

As reworking the entire lib to allow a better control over the outputted info doesn't seem to be a viable option, maybe adding a new format for just the long day-month format and adding it to all translation files is a better option