[2018-10-23 07:58] kossnocorp commented on #950
Months start at 0 in JavaScript, so `8` represents September:

[code]

[2018-10-23 07:58] #950 closed

[2018-10-23 10:11] kossnocorp commented on #830
`fromUnixTime` was released as `date-fns@2.0.0-alpha.24`: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha24

[2018-10-23 10:14] kossnocorp commented on #949
Yup, it has to be updated for v2. See the guide: https://date-fns.org/v2.0.0-alpha.24/docs/I18n-Contribution-Guide

If you are willing to work on the locale, please reopen the issue to claim it.

[2018-10-23 10:14] #949 closed

[2018-10-23 10:17] kossnocorp commented on #945
We use both formats, ESM for modern environments such as webpack and CommonJS for the rest (including Node.js).

See: https://github.com/date-fns/date-fns/blob/master/src/esm/index.js

[2018-10-23 10:17] #945 closed

[2018-10-23 10:18] kossnocorp commented on #944
Closed by https://github.com/date-fns/date-fns/pull/943

[2018-10-23 10:18] #944 closed

[2018-10-23 10:19] kossnocorp commented on #941
Closed by https://github.com/date-fns/date-fns/pull/939

[2018-10-23 10:19] #941 closed

[2018-10-23 10:29] atilkan commented on #945
@kossnocorp Thanks

[2018-10-23 10:29] kossnocorp commented on #945
@atilkan you're welcome!

[2018-10-24 06:22] juggat opened #954 "Format bug with december"
Version: `2.0.0-alpha.24`

When using `format`, the last two days of December (meaning `30/12` & `31/12`) returns the next year's date. It works well with `29` and lower.

Example: https://codesandbox.io/s/wojowkpk5w

[2018-10-24 06:40] kossnocorp commented on #954
To format the dates you used `YYYY` (local week-numbering year) instead of `yyyy` (calendar year), so it's an expected result.

[code]

You can read about the week-numbering year here: https://en.wikipedia.org/wiki/ISO_week_date

This is a popular mistake that we've tried to prevent by requiring `awareOfUnicodeTokens` which you used in your code example.

I have to ask, what made you put `awareOfU

[2018-10-24 06:40] #954 closed

[2018-10-24 08:06] juggat commented on #954
@kossnocorp Thank you for your quick reply.

Seems like I didn't read the doc well enough, I used `awareOfUnicodeTokens` because we used `YYYY` before and it worked fine on the stable version, but it seems like I got mixed up on those new formats.

I didn't notice the link in the exception, but that would have cleared that up, so it's totally my bad 👍

Thanks again and sorry for the waste of time

[2018-10-24 08:08] kossnocorp commented on #954
@juggat no worries, you're welcome!

[2018-10-25 18:54] robclancy commented on #180
3 years huh. Is there good workarounds?

[2018-10-25 18:56] kossnocorp commented on #180
@robclancy if you want to see things moving faster, please support us: https://opencollective.com/date-fns

[2018-10-26 08:35] fxck opened #955 "wrong year in parsed date (v2)"
Running `v2.0.0-alpha.24`

Code:
[code]

Output:
[code]

Day and month is correct, year is for some reason `-1`.

[2018-10-26 08:53] kossnocorp commented on #955
First of all, you use `YYYY` which is an incorrect token for your case. You have to use `yyyy`. Read for about it [in the blog](https://blog.date-fns.org/post/unicode-tokens-in-date-fns-v2-sreatyki91jg) or [in the docs](https://git.io/fxCyr).

Secondly, you either don't use `v2.0.0-alpha.24` or modified your code example because since [`v2.0.0-alpha.22`](https://gist.github.com/kossnocorp/a307a464

[2018-10-26 08:53] #955 closed

[2018-10-26 08:59] fxck commented on #955
Right, I was using `next`, which, looking at package-lock, ended up being alpha.16.

Thank you.

[2018-10-26 09:00] kossnocorp commented on #955
You're welcome

[2018-10-28 18:21] michal-ciechan opened #956 "format argument order between `fp` and normal"
Any reason why the order of arguments for `format(...)` is different between `fp` and root functions?

It seems in latest `alpha.v24` version that `format` has the following signatures:

Normal
===

[code]

Functional
===

[code]

[2018-10-28 19:35] leshakoss opened #957 "Add v2.0.0 breaking changes section to docs to every changed function"
For website visitors, so they see what changed in that exact function right away.

[2018-10-29 12:04] kossnocorp commented on #956
It's been like that from the start. This is a common approach in functional programming as it allows you to carry functions like that:

[code]

[2018-10-29 12:04] #956 closed

[2018-10-30 19:10] hkeziah opened #965 "Different distance when a date is passed as an ISO string vs new Date(yyyy, mm, dd)"
I'm new to date-fns and this probably has a simple explanation, but this is really strange to me. Why does distanceInWords return a different distance when a date is passed as an ISO string vs new Date(yyyy, mm, dd)? Here's an example:

[code]
**Result:**
Today is: 2018-10-30T15:30:02.875Z
distanceInWordsToNow: 4 months
distanceInWords (ISO Date String 2018-10-30T15:24:33.306Z): 4 months
distanceI

[2018-10-31 08:57] leshakoss commented on #957
Closed by a whole bunch of PRs: #958, #960, #961, #962, #963

[2018-10-31 08:57] #957 closed

[2018-10-31 10:29] VicXXX opened #966 "addMonths and subMonths are returning wrong dates."
when you have a month that has 31 days like October 2018 addMonths(31-10-2018,1) results with 31-11-2018 which is an invalid date as November has 30 days. Technically it should either return 30th of November or 1st of December. The same happens on subMonths. You'd expect a level of accuracy from the function that would return a valid date as response.

[2018-10-31 10:32] VicXXX commented on #966
My bad .... it actually works ok...

[2018-10-31 10:32] #966 closed

[2018-10-31 11:47] darkalor opened #967 "distanceInWordsStrict behavior affected by DST"
Version: 1.29.0

Observed behavior:
[code]

Expected behavior:
[code]

Note that left and right dates decided to get different timezones as the older date is before switching to DST. This seems to not work correctly with the `offset` logic.
![image](https://user-images.githubusercontent.com/2834813/47785748-474a4680-dd12-11e8-9c34-de2bf4bb8ee7.png)

The difference should still be exactly 7 days
[c

[2018-10-31 22:07] daedalus28 opened #968 "V2 escape characters doesn't work"
Escaping characters in `format` isn't working in V2. Here's may sample code - I tried to set up a runkit but runkit didn't seem to work with `@next`:

[code]

Assuming we're in the fourth quarter (which we are until Jan 1 2019):

Output in V2: `[4]4`
Expected Output (and output in V1): `Q4`

[2018-11-01 04:36] PhoenixPan commented on #720
dateOfBirth is a js date object `10/10/1992` and it got parsed to `Fri Jan 10 1992 00:10:00 GMT+1100 (Australian Eastern Daylight Time)` by
[code]

[2018-11-01 20:16] satyam22 opened #970 "subDays() function does not work as expected."
subDays() function intent to return new date by subtracting the number of days passed as the second parameter from date passed as the first parameter. however, right now it is adding these days instead of subtracting those days.
If I pass the number of days as negative like if I want date before 10 days from now then I would do
`subDays(new Date(), 10)` but its not working.
if I do `subDays(new Da

[2018-11-02 12:36] leshakoss commented on #970
@satyam22 could you provide us with an example of the expected result and the actual result?

[2018-11-02 23:51] kostenko opened #971 "Documentation on date-fns org/docs/Getting-Started is broken"
Hey guys, thanks for the great library! I've just ditched momentjs and switched to date-fns.

Just wanted to report that the documentation app is broken and just shows "Loading versions...". Here is the error in the console:
[code]

[2018-11-03 19:36] kossnocorp commented on #971
Most likely it's because of your local ISP having trouble to connect to Google Cloud. The site opens in my location.

[2018-11-03 19:36] #971 closed

[2018-11-03 21:02] kostenko commented on #971
It is working ~on my machine~ now as well.

[2018-11-05 17:09] jonathanborges opened #972 "format bug -03 to -02"
[code]
Returning "2018-11-03 23:00" what? O.o
Another days returning normally.
I think it's because daylight saving time changed. Can u check please?

$ timedatectl
Local time: seg 2018-11-05 15:07:53 -02
Universal time: seg 2018-11-05 17:07:53 UTC
RTC time: seg 2018-11-05 17:07:53
Time zone: America/Sao_Paulo (-02, -0200)
System clock synchronized: yes
systemd-timesyncd.service active: yes
RTC in

[2018-11-06 00:12] ksevksev opened #973 "subDays is really subtracting 24 hours"
My code subtracts one day from a date that is set at midnight. I encountered an unexpected value today. It is likely connected with the recent daylight savings time switch. Running this code today (11/5/2018) in the US in the Mountain time zone, I get:
[code]
`getDateAtMidnight `is a function that strips out all the hours/minutes/seconds, etc to set the date to midnight on the date specified by th

[2018-11-06 19:00] br0p0p opened #975 "Add formatting option for day period"
Hi,

I'd like to be able to get just `morning`, `afternoon`, `evening`, or `night`.

Could I add this functionality, using `B` for instance?

----
After looking around, it seems you all have this functionality somewhat planned out here: [`src/format/_lib/formatters/index.js#L459`](https://github.com/date-fns/date-fns/blob/master/src/format/_lib/formatters/index.js#L459)

If no one is tackling this

[2018-11-07 04:14] priomsrb opened #976 "distanceInWords returns incorrect value when crossing DST"
Reproduced here: https://runkit.com/embed/6suur5q0k66l

When `distanceInWords` crosses Daylight Savings Time, it can add/subtract 1 hour to the distance. This currently causes one of our unit tests to fail one day a year.

A possible fix could be to remove `offset` from here: https://github.com/date-fns/date-fns/blob/v1/src/distance_in_words/index.js#L120

[2018-11-07 10:59] pkhodaveissi opened #977 "Jalali Calendar"
hello and congrats on this great project

Do you support [Jalali Calendar](http://www.astro.uni.torun.pl/~kb/Papers/EMP/PersianC-EMP.htm) ?

the link explains about the Calendar, it's history and useful algorithms as well

[2018-11-07 11:15] pkhodaveissi opened #978 "Persian language support"
I'd love to start working on a locale for your great tool to support persian as well, for now I'll only translate words to Persian/Farsi counterparts and later on  I'll be more than glad to help you with my other submitted issue #977, to implement Jalali Support

Let me know dear

[2018-11-07 11:34] candidosales commented on #232
+1

[2018-11-08 00:00] joetidee opened #980 "Error: Can't resolve 'date-fns/format'"
Why am I getting:

after installing date-fns like this:
`npm install date-fns --save`

I am requiring it like this:
`const format = require('date-fns/format');`

[2018-11-08 02:48] seanghay opened #981 "Khmer language support"
I have found that this library does not have Khmer language support. I am Cambodian, so I can help if you need.

[2018-11-08 16:40] ovvn commented on #980
Hi, what version of npm/node do you have? Did you try just `npm install` instead of installing the particular package?

[2018-11-10 15:54] joetidee commented on #980
npm is v6.4.0 and node is v8.11.1. I tried npm install yes.

[2018-11-11 09:18] balazsorban44 commented on #844
Hi, I just happened to try the HU 🇭🇺 locale, and unfortunately it gives grammatically wrong result:
[code]
I am using `date-fns@next`

[2018-11-11 13:47] VasilioRuzanni commented on #942
To add up to it, this also gets parsed just fine:
[code]
while I assume it to fail. It would only be parsed when pattern is `d-MM-yyyy` or if date string is explicitly `01-12-2018`.

Otherwise, it somewhat kills the whole purpose of passing the pattern as it doesn't follow it strictly.

[2018-11-11 22:21] tomitrescak opened #984 "formatDistance does not work properly (does not add "ago")"
Hi, the `formatDistance` does not work properly in `date-fns@next`. It does not add the english suffix/prefix

According to docs, following should produce `3 months ago` but produces only `3 months`

[code]

See https://codesandbox.io/s/5kz75o6rmx

[2018-11-12 08:48] ovvn commented on #980
v1 also has the ability though you can try installing v2, i.e. `"date-fns": "^2.0.0-alpha.25"`
I had some similar problems with older npm version 5.6.0 due to the bug https://github.com/npm/npm/issues/17379 but since you have newer versions of node/npm that shouldn't be a problem. You can also try removing package-lock.json file and do `npm install` again

[2018-11-12 11:33] Hiaslafson commented on #635
Hey,
 is there already a release date for v2?

[2018-11-13 07:33] snowyu commented on #824
The format string should like this:

[code]

the locale should be:

[code]

[2018-11-14 06:45] motin commented on #556
Related: https://www.npmjs.com/package/date-fns-timezone

[2018-11-14 07:13] motin commented on #180
I found https://www.npmjs.com/package/date-fns-timezone and have asked about v2 plans in https://github.com/prantlf/date-fns-timezone/issues/4

[2018-11-14 12:25] #984 closed, assigned to nobody

[2018-11-14 12:29] kossnocorp commented on #981
Help is welcome! Please follow the guide to get started: https://date-fns.org/v2.0.0-alpha.25/docs/I18n-Contribution-Guide

Once you started working on it, please comment on the issue. I will mark this locale as claimed and reopen it.

Thanks!

[2018-11-14 12:29] #981 closed

[2018-11-14 12:52] kossnocorp commented on #942
You both have a fair point. We didn't put much thought into that but just tried to parse as many cases as possible.

Before we proceed to make `parse` strict, could you please tell about your cases where it caused troubles? Understanding the exact issue will help figure out the optimal solution. Thanks!

[2018-11-14 12:53] kossnocorp commented on #978
Thank you a lot for working on that!

[2018-11-14 13:09] kossnocorp commented on #977
As you probably already figured out, date-fns doesn't support Jalali Calendar. We're interested in supporting it, but I'm not sure if it should be included in the library itself or published as a separate library (e.g. `date-fns-jalali`). I would like to hear your thoughts about that and the list of possible functions.

[2018-11-14 13:13] kossnocorp commented on #970
[I don't see how it's possible](https://github.com/date-fns/date-fns/blob/master/src/subDays/test.js) unless you incorrectly import the function (e.g. `import subDays from 'date-fns/addDays`).

Please provide date-fns version number and an example if you want us to help you figure out the problem.

[2018-11-14 13:13] #970 closed

[2018-11-14 13:29] kossnocorp commented on #972
Thank you for reporting that! This is definitely a bug.

[2018-11-14 13:33] pkhodaveissi commented on #978
glad to

[2018-11-14 13:41] ovvn commented on #984
@kossnocorp maybe it makes sense to have the `addSuffix` option set to true by default? It will make transition from moment.js easier.

[2018-11-14 17:02] jonathanborges commented on #972
No problem. Another methods like eachDay or something that use parse have the same behavior. I think u already know that.

[2018-11-15 09:54] pkhodaveissi commented on #977
I'll provide you a list of functions ASAP, but I'm open to suggestions as well, you certainly have your thoughts about which way this library should be heading.

[2018-11-15 16:25] radu-gheorghe opened #985 "Milliseconds aren't detected after seconds/Unix timestamp"
Here are my reproducing steps:

[code]

Basically, if I add `t.SSS`, it loses the milliseconds. Timestamp is the same with just `t` and the second-precision timestamp. This doesn't happen with the `HH:mm:ss.SSS` format - I get the millisecond there.

I'm not sure if this expected or a bug, I was trying to parse an nginx `msec` timestamps: https://nginx.org/en/docs/http/ngx_http_core_module.html#va

[2018-11-15 21:56] tomitrescak commented on #984
@ovvn I second that, although a breaking change I do not see many uses when you would not want to add suffix. But no biggie. I just created a helper.

[2018-11-16 14:51] leshakoss commented on #985
Good point, thanks for reporting!

I think it can be achieved by making `seconds timestamp`'s [priority](https://github.com/date-fns/date-fns/blob/master/src/parse/index.js#L243-L247) bigger than [`fraction of second`'s priority](https://github.com/date-fns/date-fns/blob/master/src/parse/index.js#L168) but smaller than [`ms timestamp`'s](https://github.com/date-fns/date-fns/blob/master/src/parse/i

[2018-11-20 08:15] joshhopkins opened #986 "isDate() or isTimestamp() for validating Unix Timestamps"
Maybe I'm missing something, but this would seem useful.

[2018-11-20 08:29] joshhopkins commented on #986
Just found ` isValid()`, seems to cover this case!

[2018-11-20 13:53] kossnocorp opened #987 "format functions must throw exceptions on attempt on processing invalid dates"
See JavaScript's `toISOString` and Intl API for the reasoning:

[code]

[2018-11-20 13:55] kossnocorp commented on #304
See the new decision on the topic: https://github.com/date-fns/date-fns/issues/987

[2018-11-20 14:51] JasonStoltz opened #988 "Timezone offsets from `format` seem to be invalid and incorrect"
Chrome:
// Input
dateFns.format(new Date(-5350060800000))
// Expected
"1800-06-18T19:03:58-05:00"
// Actual
"1800-06-18T19:03:58.000-04:56"

Firefox:
// Input
dateFns.format(new Date(-5350060800000))
// Expected
"1800-06-18T19:03:58-05:00"
// Actual
"1800-06-18T19:03:58.000-04:56.03333333333336"

[2018-11-20 15:38] VasilioRuzanni commented on #942
@kossnocorp Aside from this is how `moment` and `luxon` handle this kind of stuff, its useful to consistently control user input in one-way flow environments (e.g., `react`), where you update some state on every stroke (often the case). In that case its fine to allow strictly incorrect input, but the issue appears when an _incomplete_ input is parsed as something valid.

E.g., simple use case: use

[2018-11-21 10:49] phil-w commented on #759
Just encountered this myself. If you feed fully formatted ISO-8601 dates to Mac OS 10.13/Safari 11 all sorts of bad things result. Truncating the time portion works around that issue.

[2018-11-21 10:56] kossnocorp commented on #759
@phil-w please provide example strings that cause Safari to fail and the date-fns version.

[2018-11-21 11:32] kossnocorp commented on #759
@phil-w the provided string isn't valid ISO-8601 string so no surprise it fails. In v1 we fallback to browser's `new Date()` while in v2 we don't, to prevent this very issue. I'm not sure how to help you, but keeping dates in the standard format is generally a good idea.

[2018-11-21 14:18] gsrafael01 commented on #435
Any news on this?

[2018-11-21 19:11] darkrift commented on #978
#889 ??

[2018-11-24 23:59] OCJvanDijk commented on #942
I was building a date picker where you could either type or select a date on a calendar view. The calendar view would update to show the month with the entered date as selected immediately when the user finished typing a date. But because of this it would already move to the year 2, then 20, then 201 etc as the user was typing.

I fixed it by doing an input === format(parse(input, pattern), patter

[2018-11-26 22:52] pkhodaveissi commented on #977
Hey there, haven't heard of you for a while, I'd like to start working on this asap, and docs page does not work for a while, I need it to provide you with a function list ,plz let me know

[2018-11-27 02:56] LinBoLen commented on #376
I just need format can support utc.

[2018-11-27 14:03] osahner opened #990 "treeshaking does not work with typescript (Angular CLI: 7.1.0)"
When using import:
[code]
the whole date-fns is imported. Where as:
[code]
works as expected.

[code]
versus
[code]

[2018-11-27 15:15] Lakston commented on #990
Could you specify your versions of date-fns please ?

I am experiencing tree shaking issues with the CLI 7.0.3 on some libs (lodash, even rxjs) but as of 7.0.3 date-fns is doing fine with alpha 25+

[2018-11-27 15:39] osahner commented on #990
[code]

[2018-11-27 15:56] marnusw commented on #669
The maintainers will consider time zone support once version 2 with the existing functionality has been released. In the meantime you can see whether [date-fns-tz](https://github.com/marnusw/date-fns-tz) might do the trick for what you need. If haven't put much thought into your use case before writing this, but you can use it to switch between a zoned time and UTC and vice versa. That might help.

[2018-11-27 23:44] georgegabe opened #991 "endOfMonth is returns first of next month"
`endOfMonth` returns the beginning of next month instead of the end of this month.

[code]

[2018-11-28 00:01] #991 closed

[2018-11-28 00:02] georgegabe commented on #991
seems to be a timezone issue.
[code]

[2018-11-28 07:45] osahner commented on #990
Version 2.0.0-alpha.25 works too.

[code]

<img width="108" alt="bildschirmfoto 2018-11-28 um 08 41 31" src="https://user-images.githubusercontent.com/1849725/49136377-ba32e700-f2e9-11e8-8706-54c6d3f0f41a.png">

[2018-11-28 07:46] #990 closed

[2018-11-29 15:34] inytar opened #992 "`toDate` returns unexpected date in America/Sao_Paolo timezone."
On daylight switching (2018-11-04) in Sao Paolo Brazil the `toDate` function returns a different date object then expected:

[code]
This problem only manifests itself if running in the Sao Paolo timezone. This can be tested by running:
[code]

[2018-11-29 15:51] inytar commented on #992
#972 shows a similar issue for the formatting function.

[2018-11-30 10:08] manojvignesh commented on #635
@kossnocorp Any update on v2?? It's been 1.5 years in alpha :scream: Can i use v2 in prod ? How drastic will the changes be in beta??

[2018-11-30 17:55] vincentpalita commented on #542
@sittingbool : did you manage to fix your issue because I am facing today the same problem and never had it before with using date-fns for months.
Thank you.

[2018-11-30 20:36] axten commented on #527
any updates here?

[2018-12-01 14:49] panczarny opened #993 "Polish locale - correct grammar"
Hello, consider following snippet
[code]

In polish "December" is "grudzień", but it's denominator.
We use genitive here, and it should be „grudnia”, so the formatted date should look like `sobota, 12 grudnia`.
I found https://date-fns.org/v2.0.0-alpha.3/docs/I18n-Contribution-Guide#formatrelative but it's kind of manual work. Is it automated here in `date-fns`? Or it should be added?

[2018-12-04 17:00] 8enSmith opened #997 "Incorrect expected results for distanceInWordsStrict"
On the [distanceInWords](https://date-fns.org/v1.29.0/docs/distanceInWordsStrict) webpage, it states that:

Distance between dates | Result
-- | --
1 ... 11 months | [1..11] months
1 ... N years | [1..N] years

Which suggests that this function should never return "12 months". However for the following [example](https://jsfiddle.net/Fresh/4be2xjpf/), this function returns "12 months" not "1 year",

[2018-12-05 05:52] berkaey opened #998 "Locale Data not reachable."
Hey there,

I have been looking for an alternative to moment or dayjs, and I had to chance to try date-fns. Everything works as expected expect I can't react locale data like format list, months, weekdays etc.

I can generate all of them like iterating months, days and formats but too much of a overkill.

Can you provide a function like localeData(en) so we can get direct access as an object?

[2018-12-05 13:56] MrLoh opened #1000 "distanceInWords case issue in German"
`distanceInWords` always returns nominative, but in German I need it all the time in Dativ:
`vor einer Stunde` and not `eine Stunde`. Moment.js handles this by including the word `vor` in German and the `ago` in English. That seems to be a smarter approach. Is there any way to achieve the same with date-fns

[2018-12-06 10:09] balazsorban44 opened #1001 "Error in Hungarian translation"
Moving it to a new issue from #844 for clarification. @TwoDCube, @reyrodrigez did you guys work on the translations? If so, could you have a look at this?

I am using the HU 🇭🇺 locale, and unfortunately, it gives a grammatically wrong result:
[code]
I am using `date-fns@next`

[2018-12-06 18:56] TwoDCube commented on #1001
Hi! I've opened a PR for this. What do you think?
[code]

[2018-12-06 21:18] balazsorban44 commented on #1001
Looks like it would work! :ok_hand: waiting for merge. 🙂

[2018-12-07 10:11] reyrodrigez commented on #1001
thanks @TwoDCube, greatjob!

[2018-12-07 10:18] kossnocorp commented on #986
Hah 👌

[2018-12-07 10:18] #986 closed

[2018-12-10 03:02] Dvisacker opened #1004 "Timeout error on yarn install with date-fns@next on Dockerhub"
I'm receiving the following error (see bottom of the log below) when doing a yarn install using the date-fns@next package. Everything is working fine with the non-alpha versions and I can also do the install from my computer and `wget` the package url without any problem.

[code]

Cheers

[2018-12-10 03:44] kossnocorp commented on #1004
That is either npm or your local network problem, and date-fns has nothing to with it, sorry.

[2018-12-10 03:44] #1004 closed

[2018-12-10 07:39] #1001 closed

[2018-12-10 07:52] #972 closed

[2018-12-10 07:52] #992 closed

[2018-12-10 11:56] kossnocorp opened #1006 "Lock v1 branch"
v1 and master branches living at the same time caused a lot of troubles. To prevent any further issues from happening we should somehow lock v1. Probably it could be achieved by [creating a PR template in the branch](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/).

[2018-12-10 12:09] kossnocorp commented on #703
Closed for v1 by https://github.com/date-fns/date-fns/pull/716. I'm going to publish a new v1 soon. Whoever still wants to port it to v2 — please do.

[2018-12-10 12:09] #703 closed

[2018-12-10 16:03] ivorpad opened #1007 "How to format string from MM/DD to DD/MM/YYYY?"
I have this string `07/12` which in my case represents December 07th. I've read the docs but I can't find an option to change the formatting like in MomentJS: `moment("07/12", "DD/MM").format("Do MMMM")`

I tried with `parse("07/12/2018", "DD/MM/YYYY", new Date(), { awareOfUnicodeTokens: true })` and read most of the issues but I still can't find the answer — I'm getting: `Sat Jan 07 2017 00:00:00

[2018-12-10 16:19] ivorpad commented on #1007
Got the correct date with:

`parse("07/12", "dd/mm", new Date(), { awareOfUnicodeTokens: true })`

`dd/mm` instead of `DD/MM` — why is that?

[2018-12-10 16:20] #1007 closed

[2018-12-11 12:12] kossnocorp commented on #1001
This fix for the issue was released with `v2.0.0-alpha.26`. See: https://blog.date-fns.org/post/v200-alpha26-is-out-2rizgx9wk2g1t

[2018-12-11 12:14] kossnocorp commented on #972
This fix for this problem was released with `v2.0.0-alpha.26` and `v1.30.1`.

See:

- https://blog.date-fns.org/post/v200-alpha26-is-out-2rizgx9wk2g1t
- https://blog.date-fns.org/post/v130-is-out-m35nqh4m13r7

[2018-12-11 12:14] kossnocorp commented on #992
This fix for this problem was released with `v2.0.0-alpha.26` and `v1.30.1`.

See:

- https://blog.date-fns.org/post/v200-alpha26-is-out-2rizgx9wk2g1t
- https://blog.date-fns.org/post/v130-is-out-m35nqh4m13r7

[2018-12-11 12:17] kossnocorp commented on #703
The locale was released with `v1.30.1`. See: https://blog.date-fns.org/post/v130-is-out-m35nqh4m13r7

[2018-12-11 13:02] micobarac commented on #644
This doesn't work in both stable and alpha version.

[2018-12-12 00:30] kossnocorp opened #1010 "`lightFormat` function"
`format` is one of the most (if not the most) popular function in date-fns, but because it involves locales it's one the most (if not the most) heavyweight function in date-fns.

Given that v2 locales became even more heavyweight, I want to introduce `lightFormat` that will cover the most common cases and address the size problem.

The current goal is to be able to print ISO 8601 plus `hh` represe

[2018-12-12 15:07] adrm opened #1012 "Convert pt locale to v2"
When I try to import the "pt" locale like this:

[code]
All locales are imported correctly except for pt. I have seen that the index file in the locale folder is not including this locale even though it includes several others.

[2018-12-12 15:09] adrm commented on #1012
Well, I've seen that the pt locale is WIP, but there is no issue related. I will close this, but I would love to know what issue is tracking the progress with the pt locale.

Thanks.

[2018-12-12 15:13] leshakoss commented on #1012
@adrm `pt` locale is not converted to the v2 yet. We keep the list of locales like those here: https://github.com/date-fns/date-fns/blob/master/outdatedLocales.json

There's no issue right now because no one volunteered to convert the locale yet.

PRs are very welcome! See the contribution guide: https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md

[2018-12-12 20:24] ericreis opened #1014 "Missing buildLocalizeArrayFn module"
I was trying to dynamically import locales from `date-fns` package and bumped into the following error:

`Module not found: Can't resolve '../../../_lib/buildLocalizeArrayFn/index.js' in '/Users/ericreis/dev/vtex/test/node_modules/date-fns/locale/ar-DZ/_lib/localize'`

Here is the code I'm using to perform the dynamic import:

[code]

I searched everywhere for this `buildLocalizeArrayFn`folder, bu

[2018-12-13 00:53] TwoDCube commented on #1014
Because you used `en-GB` I assume you're using `date-fns@next`. By doing your import like this, it tries to find every file named `index.js` under the `locale` directory (even those with depth > 1!, the locale variable can contain a `/`). And there are some languages containing old/unused code which are not imported by date-fns but your dynamic import tries to use them too thus giving you errors.

[2018-12-13 01:14] ericreis commented on #1014
I am using v2.0.0alpha23. What would be the correct way to dinamically import the package then?

[2018-12-13 01:30] ericreis commented on #1014
But my point actually is: Does this `'../../../_lib/buildLocalizeArrayFn/index.js'` require (for example in line 2 [here](https://github.com/date-fns/date-fns/blob/master/src/locale/ar-DZ/_lib/localize/index.js)) make any sense? I think it does not since there is no sign of this path (`buildLocalizeArrayFn` folder) anywhere in the project (even in old versions).

[2018-12-13 01:37] TwoDCube commented on #1014
I currently couldn't find a way to import them properly. At the weekend I'll create a PR to export the languages from single files instead of folders so this depth thing won't be a problem. (Something like angular does [here](https://github.com/angular/angular/tree/master/packages/common/locales))

So you would write something like:
[code]

This way there are no folders and depths to worry about.

[2018-12-13 01:42] TwoDCube commented on #1014
There was a folder like that, see [this](https://github.com/date-fns/date-fns/tree/0ff256de6b260e50daf40be15581d07c7afcdaed/src/locale/_lib/buildLocalizeArrayFn)

[2018-12-13 01:46] ericreis commented on #1014
I personally prefer this way too.

Maybe that's the folder that is missing now.

[2018-12-13 01:48] ericreis commented on #1014
I'll try adding that folder to my current test project and post the updates.

[2018-12-13 02:08] ericreis commented on #1014
I think I managed to fix all the errors by adding the `buildLocalizeArrayFn`, `buildParseFn`, `parseDecimal`and `build_formatting_tokens_reg_exp` folders. This last one I assumed that it used to be [this](https://github.com/date-fns/date-fns/tree/0ff256de6b260e50daf40be15581d07c7afcdaed/src/locale/_lib/buildTokensRegExp).

[2018-12-13 07:32] kossnocorp opened #1016 "Extract `parseISO` from `toDate` and disallow passing strings into functions"
See #1015 for the background.

`toDate` is the function that converts passed argument to a date object and used virtually in every function in the library. The thing is that it weights `1.27 KB` (after heavy size optimization), so the minimal build size couldn't go below the number.

For example, `addDays` size is `1.31 KB` (it was `983 B` in v1).

The size bottleneck is in ISO 8601 string parsing

[2018-12-13 08:31] leshakoss commented on #1016
I agree. A lot of people choose date-fns because it is lightweight and we should try to be the best library possible for this type of users — while maintaining the same flexibility and cover all possible date use cases. Our main intent was always to work with `Date` objects, and while many users enjoyed that we treat ISO-8601 strings as first class citizens as well, I believe isolating the parsing

[2018-12-13 08:42] leshakoss commented on #1016
And BTW I think that this change would mean that most of the functions wouldn't need `options` argument, so we won't need to generate `fp/{functionName}WithOptions` for them anymore, which would make FP module much easier to maintain

[2018-12-13 10:09] TwoDCube commented on #1014
I don't think it's a great idea to just recover those deleted directories. Probably they had a reason to remove those folders.

Also I think it would still try to include the index.js -s from deeper directories too. I'll also make a PR to show my idea too.

[2018-12-13 11:01] ericreis commented on #1014
I totally agree with you. I made those changes just to check if we would have any other errors regarding dynamic imports and it appears we don't.

 Yeah, it does.

I personally think that the idea of having all `${locale}.js` files in a single folder with no deeper levels is the way to go. If you need any help in the PR, just let me know.

[2018-12-13 11:43] kossnocorp commented on #1014
@ericreis please don't do that. I don't have time right now to dive deep into your problem, but this solution won't be accepted.

First of all, there are unsupported locales that you don't want to import anyway. You can see the list here: https://github.com/date-fns/date-fns/blob/master/outdatedLocales.json. Secondly, the locales should stay modular.

[2018-12-13 11:44] kossnocorp commented on #1010
Closed by https://github.com/date-fns/date-fns/pull/1015

[2018-12-13 11:44] #1010 closed

[2018-12-13 11:52] ericreis commented on #1014
@kossnocorp perhaps then these locales should me moved to a separate location? Dynamic import is a powerful feature that right now is breaking due to outdated files in modules that won’t even be called.

[2018-12-13 14:31] SagaTious opened #1017 "Typings of isValid and parse are wrong"
I don't know if there are more wrong typings, but I just wanted to switch from moment to date-fns and the first two functions I tried to use were already unusable in my Typescript environment.

**isValid()**
According to docs:
[code]
typings.d.ts:
[code]

**parse()**
According to docs:
[code]
typings.d.ts:
[code]

[2018-12-13 14:33] leshakoss commented on #1017
@SagaTious could you please provide us with version of date-fns installed? It looks like you're looking at docs of v2 and typings of v1.x.x

[2018-12-13 14:33] kossnocorp commented on #1017
You're looking docs and typings for different versions. First ones are for v2 the seconds are for v1.

[2018-12-13 14:33] #1017 closed

[2018-12-13 18:22] ericreis opened #1018 "Get date/time format string patters of a given locale"
Is it possible to get the string format pattern used for dates of a given locale?

Possible example of usage:

[code]

[2018-12-14 01:30] werts commented on #313
there is  another problem, 'format' has two definitions,one inside format/index.d.ts,another inside package's root directory typing.d.ts.so, it can also cause the problem like this issue.

[2018-12-14 07:55] vit134 opened #1020 "awareOfUnicodeTokens not help with YYYY in format()"
Hi, a i hame the exception `'options.awareOfUnicodeTokens' must be set to 'true' to use 'YYYY' token;` I try use this option with `YYYY` and `DD` but the error remained

here is my code
`
format(new Date(), 'YYYY', { awareOfUnicodeTokens: true })
`

[2018-12-14 09:10] #985 closed

[2018-12-15 16:47] motabass commented on #464
fyi:

A new relative-time-formating API landed in Chrome 71:
[](https://developers.google.com/web/updates/2018/10/intl-relativetimeformat)

[2018-12-16 13:54] PavelDemyanenko commented on #527
Any news?

[2018-12-16 19:50] mgolkardev commented on #603
+

[2018-12-17 08:10] Viperwow opened #1022 "Cannot import flow types"
Hello, I've tried to build localization wrapper for date-fns, before I decided to use flow, so I imported types like this:
[code]

Then I use it in the same file:
[code]

And getting an error:
[code]

.flowconfig:
[code]

So, maybe I'm doing something wrong? Or is it a bug (because there are no type exports from index.js.flow)?
By the way, I'm using date-fns 2.0.0-alpha.26

[2018-12-19 03:54] kossnocorp commented on #968
@Pau1fitz what docs? `format` doc contains two mentioning of that.

[2018-12-19 09:01] Pau1fitz commented on #968
You are right, I see it now when I have gone to the latest version in the top right. I guess I meant [here]( https://date-fns.org/v1.30.1/docs/format), but now I think of it, maybe a note in the setting up guide to say that for version 2 of the docs make sure you select the correct version from the dropdown above. Also, in [v2.0.0-alpha.1 ](https://date-fns.org/v2.0.0-alpha.1/docs/format) square b

[2018-12-19 10:15] Stupidism opened #1024 "format AM/PM not working when parse date with"
# How to reproduce?
[code]

# Additional Info
It is working in format though~
[code]

[2018-12-19 11:37] pskd73 opened #1025 "difference_in_days giving inconsistent results"
Hi team,

I figured out one weird issue with difference_in_days function. Following are some trails and results
[code]

Why does the result change if we change the month from 1 to 11 and 12. I am using date-fns@1.29.0

[2018-12-19 12:20] kossnocorp commented on #1025
The problem is in date strings that you pass into the date constructor. date-fns v1 parses ISO strings and creates them in the local time zone while JS creates them in UTC, so you'll have an unexpected time shift. When you use numbers to create dates, then JS creates a date in the local timezone:

<img width="485" alt="image 2018-12-19 at 5 47 27 pm" src="https://user-images.githubusercontent.com/

[2018-12-19 12:20] #1025 closed

[2018-12-19 13:46] ericreis commented on #896
@kossnocorp I am having the same problem here with `parse` and `p+` tokens. Is there any news regarding this issue?

[2018-12-21 08:35] dlrandy commented on #232
+1

[2018-12-27 09:58] ovvn opened #1027 "Can't find lightFormat fn in npm module 2.0.0-alpha.26"
Perhaps the latest changes weren't published to npm?

[2018-12-30 11:33] potuijt opened #1028 "getIsoWeek starts week on Sunday, not monday"
getIsoWeek(1546168595709) returns 52, but its week 51. New weeks starts on monday, not sunday.

[2018-12-30 11:34] #1028 closed

[2018-12-30 21:13] iansu opened #1029 "`format` gives wrong year"
I'm formatting a date and getting the wrong year:

[code]

The year ends up being `2019` instead of `2018`.

I am using `2.0.0-alpha.16`. I haven't tried upgrading to the latest alpha yet but I will and will report back.

[2018-12-30 21:34] iansu commented on #1029
That does appear to be the issue. I must have figured this out before because I'm using `yyyy` everywhere else in this particular application. I was using `YYYY` in one place which produced this bug today.

I tried `2.0.0-alpha.26` and it did produce the same result but it also generated a warning about using `YYYY` with a link to the page above. Given all that I'm going to close this issue.

[2018-12-30 21:34] #1029 closed

[2018-12-30 22:13] TwoDCube commented on #1029
The `YYYY` unicode tokens are used in the [week date system](https://en.wikipedia.org/wiki/ISO_week_date). And this is first week of the 2019 week-numbering year so that is why it ended up being `2019` in your example.

[code]

[2019-01-02 15:54] ricardobanegas commented on #976
I have this issue also for the the `format` function. Any news on this?

[2019-01-05 13:36] orionych commented on #644
I make it like this: (vuejs template script) but i think you get it
<td v-for="n in 7">
{{ dateFns.format(dateFns.addDays(dateFns.startOfISOWeek(getCurrentDay),n-1),'dd',{locale:ru}) }}
</td>

[2019-01-06 21:20] superhawk610 opened #1031 "Incorrect format parsing for dddd"
**Expected Output:**
[code]

**Actual Output:**
[code]

I'm getting the above issue on the latest version from the `next` branch, `2.0.0-alpha.26`. Additionally, it seems all variations of `d` and `D` break in the same way:

[code]

Any ideas?

**EDIT:** Perhaps I've got something configured incorrectly:

[code]

[2019-01-06 21:21] superhawk610 commented on #1031
FWIW `date` is simply obtained by

[code]

[2019-01-06 21:48] superhawk610 commented on #1031
Alright, I figured it out. `dddd` is no longer supported as of `2.0.0-alpha.8` but this isn't mentioned anywhere in the documentation outside of the [changelog](https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha8). This could be assuaged by updating the examples on the homepage, since they **do not** in fact work with v2 ([https://date-fns.org](https://date-fns.org)).

[2019-01-07 01:59] #1031 closed

[2019-01-07 08:08] kossnocorp commented on #976
@ricardobanegas what's the version you use?

[2019-01-08 11:23] kossnocorp commented on #1027
Sorry, it's ready but not published yet. I'll release it along with this PR: https://github.com/date-fns/date-fns/pull/1023

In meanwhile you can copy-paste it to your project and use the local version.

[2019-01-08 11:23] #1027 closed

[2019-01-08 15:38] crackernutter commented on #888
@TomDeSmet I am having the same issue and also using VueJS - what was your fix?

[2019-01-08 15:49] TomDeSmet commented on #888
I'm very sorry, but I really can't remember what the solution was, but it was definitely VueJS related. I checked the code, but I can't pinpoint where the issue was, it's been a while.

[2019-01-09 16:35] pybuche commented on #946
+1 I have the same problem ^^

[2019-01-09 16:48] pybuche commented on #946
Well, a few minutes later, I found a solution that, although not ideal, suits me.

You can add an extra _'m'_ to the `aaaaa` format pattern, eg:
[code]

HTH

[2019-01-10 12:56] #1012 closed

[2019-01-10 15:14] unikitty37 commented on #946
Thanks!

Of course, this workaround doesn't work for the `bbbbb` format pattern, as you end up with "nm" and "mim" rather than "noon" and "midnight", so it would probably still be better if date-fns could support a dot-free option out of the box :)

[2019-01-10 15:19] pybuche commented on #946
Yes, I still agree with that. Lowercase _am/pm_ seems to be the standard.

[2019-01-11 02:42] seongteh89 opened #1034 "parse function is not workable if date string without symbol and also not able to differentiate month or day"
parse("2016/11/12","yyyy/dd/MM",new Date()).toString()
output : "Sat Nov 12 2016 00:00:00 GMT+0800 (Singapore Standard Time)"
(it should be Sat Dec 11 2016 00:00:00 GMT+0800 (Singapore Standard Time))

parse("12112016", "MMddyyyy",new Date()).toString()
output: Thu Aug 16 1212 00:00:00 GMT+0655 (Singapore Standard Time)"
(it not recognize the date string pass in whenever without symbol)

[2019-01-11 02:53] HuyDat opened #1035 "VietNam language support"

[2019-01-11 15:30] erperejildo opened #1037 "stuck on internationalization"
First of all this is not an issue.

I'm following the documentation and some useful issues:
https://date-fns.org/v1.30.1/docs/I18n
https://github.com/date-fns/date-fns/issues/203#issuecomment-220386905

so I added to my code this:
[code]

but still getting English all the time. Something I'm missing @kossnocorp?

[2019-01-11 16:18] kossnocorp commented on #1037
I feel like it's something wrong with the way you use `R.curry`, but as I'm not familiar with the library I can't say for sure:

<img width="494" alt="image 2019-01-11 at 9 45 53 pm" src="https://user-images.githubusercontent.com/52201/51045784-6a368800-15ea-11e9-9585-a52e3e081790.png">

[2019-01-11 16:18] #1037 closed

[2019-01-11 17:37] tokdaniel opened #1038 "from alpha.25 to alpha.27 there should not be a breaking change"
This day we released our software with date-fns ^alpha.25 in it. This meant that minor software upgrades were allowed, but from .25 to .27 there is a breaking change.

[2019-01-11 20:14] rfoel commented on #584
Help still needed?

[2019-01-12 20:43] waseemahmad31 commented on #1034
Tested with the given inputs and it worked as expected. ![date_fns_1034](https://user-images.githubusercontent.com/42496021/51078241-887eaf80-16e0-11e9-9918-de3ce5f86d0d.PNG)

Could you tell us, how can we reproduce this issue?

[2019-01-13 18:31] phsumi opened #1039 "Suggestion: Provide explicit guidance regarding date-fns version"
Hi all

TL/DR: The installation instructions should state clearly that v1 is recommended for production (unlessit isn't ;)

Context:
I've been using date-fns quite a while ago (not a web developer) and really liked it. So naturally I came back to it for my current pet project. However, I got quite confused about version 1 vs 2. Naturally, I'd skip 2 for production since it's an alpha, but then, I'

[2019-01-13 18:48] trangcongthanh commented on #1035
`date-fns` already have i18n for Vietnamese. But you need to install version 2.

Imports:
[code]

Usage:
[code]

[2019-01-14 11:15] daandvs opened #1040 "getWeekOfMonth() with options.weekStartsOn set to 1 doesn't work for Sundays"
When executing `getWeekOfMonth(new Date(2019, 4, 5), { weekStartsOn: 1 })` it returns me `2` while I expect it to be `1`.
It seems `getWeekOfMonth()` is always a week off when executed with a day set to Sunday and `options.weekStartsOn` set to > 0.

[2019-01-14 15:33] signarit opened #1041 "Faroese language support"
date-fns doesn't support Faroese yet. I will start working on this when I find the time - probably within a week or so.

[2019-01-14 21:12] chawes13 commented on #376
Similar to @evenfrost 's approach, we are using a utility in the meantime as a workaround that leverages `getTimezoneOffset`.

[code]

[2019-01-15 06:43] atilkan commented on #527
news?

[2019-01-15 11:39] leshakoss commented on #527
Please see the latest news on
https://twitter.com/date_fns and
https://blog.date-fns.org/

Locking the thread since it became spammy

[2019-01-15 14:03] alex3683 opened #1042 "Feature request: support fraction of seconds in lightFormat"
Since I don't need all that locale specific stuff of format, I'd really like to use lightFormat. Alas, lightFormat doesn't support the fraction of seconds patterns (`S*`). I'm not really sure, if the fraction of seconds are an important part of ISO 8601, but for example in Chrome Console `new Date().toISOString()` prints them. So maybe adding them would make lightFormat more consistent / complete

[2019-01-15 22:15] stefanprobst opened #1043 "parseISO throws TypeError"
When `splitDateString()` returns with `dateStrings.date = null`, `parseYear()` will throw `TypeError: Cannot read property 'match' of null`.
This is with 2.0.0-alpha.27.
See:
https://github.com/date-fns/date-fns/blob/e83c2d815d6363e33bf852b08a5860aed644ecda/src/parseISO/index.js#L154
and
https://github.com/date-fns/date-fns/blob/e83c2d815d6363e33bf852b08a5860aed644ecda/src/parseISO/index.js#L187

[2019-01-15 22:15] waseemahmad31 commented on #1040
This seems to an issue. I also have reproduced this. Can I work on this?

[2019-01-17 08:40] volodalexey commented on #669
So, for now I see following steps to calculate start of the day (e.g. server Time zone `Europe/Kiev`):
[code]
Correct me, if I am wrong.

[2019-01-20 05:22] nanomosfet opened #1047 "locale factory"
I would like to implement a locale factory that takes a base locale (like `en`) and lets you add some config changes like changing the distanceInWords.

example:

[code]

if you think this is a feature that you want let me know and I can make a pull request. (I might make one anyway)

[2019-01-20 14:17] gammons opened #1048 "toDate() returns invalid date for correct ISO 8601 date"
Hi there,

Something changed with `toDate` behavior between 2.0.0-alpha.26 and 2.0.0-alpha-27, when attempting to parse a date formatted using `YYYY-MM-DD`.

[code]

The above returns a date object in 2.0.0.alpha.26, but returns an "Invalid Date" in 2.0.0.alpha.27.

[2019-01-20 14:21] gammons commented on #1048
Looking at the [changelog](https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha27) I see that this is breaking behavior that was introduced, with guidance on what functions to use instead.  The main docs are not updated, however.

In my case, I'd use `parseISO` to achieve parsing my example date.

[2019-01-20 14:21] #1048 closed

[2019-01-21 19:38] anasofiapaixao commented on #819
I am experiencing this issue with the parsing still. All of these parse as valid:

``> dateFns.parse("2013-02-11T10:09:00", "YYYY-MM-DDTHH:mm:ss[Z]", new Date())

``> dateFns.parse("2013-02-11T10:09:", "YYYY-MM-DDTHH:mm:ss[Z]", new Date())

``> dateFns.parse("2013-02-11T10:0900", "YYYY-MM-DDTHH:mm:ss[Z]", new Date())

``> dateFns.parse("2013-22-11T10:09:00Z", "YYYY-MM-DDTHH:mm:ss[Z]", new Date())

[2019-01-23 07:58] nanomosfet opened #1052 "test fail on local"
[code]

The commands I run after cloning are
[code]

I get 11 failing tests on both.
example:

[code]
I don't get why the tests fail on my local and not on the PR build.

[2019-01-23 19:57] oleg-koval commented on #1052
hi @nanomosfet , what branch are you using?

[2019-01-23 20:12] nanomosfet commented on #1052
I am pretty sure i just ran from the default branch. @oleg-koval

[2019-01-24 10:39] sebfischer83 commented on #423
any news on this?

[2019-01-26 15:21] rominf opened #1054 "format function error in Firefox"
I'm parsing and formatting string using `format` function:
[code]
In Chrome 65.0.3325.162 I get correct result: `8:00`, in Firefox 64.0: `7:59`. The same situation is in the Chrome and Firefox Next for Android.

https://jsfiddle.net/1453hLwt/

[2019-01-27 12:55] Sertion commented on #1054
I have had a look at this. I believe I have found the root of the issue but I do not have a solution.

In Firefox 64 the following happens:
[code]
On the other hand:
[code]

I made a quick script to check timezone offsets:
[code]

The interesting values from Firefox are in the table below:

| Year | Timezone Offset     |
|------|---------------------|
| 1899 | -60.233333333333334 |
| 1898 | -60.23

[2019-01-27 15:47] rominf commented on #1054
I need times for time schedule of restaurant delivery. There is no date to bind to.

[2019-01-28 08:21] weihongyu12 opened #1055 "Error in formatting the date"
The result returned is incorrect when formatting the date.

After my test, this error will only appear on the date after December 30, and the result returned will add one year to the year.

[code]

The following is my operating environment:

- node: 10.15.0
- npm: 6.4.1
- date-fns: 2.0.0-alpha.27

[2019-01-28 08:47] weihongyu12 commented on #1055
Because if you do not set `awareOfUnicodeTokens`, an error will be reported.

Usually I am used to using the uppercase `'YYYY'`, the original date library moment.js and PHP are capitalized (PHP uses uppercase `Y` to represent a four-digit year, and lowercase `y` to represent a two-digit year).

In fact, the abbreviation of the year does not conflict with other units. Whether it is uppercase or low

[2019-01-28 09:36] kossnocorp commented on #1055
I understand that you used to PHP and Moment.js, but [there's a standard that we follow](https://blog.date-fns.org/post/unicode-tokens-in-date-fns-v2-sreatyki91jg). The reported error supposed to help you understand the issue but as I see you didn't read the provided link.

Please see the blog post below and [this doc to learn more about the reasoning](https://date-fns.org/v2.0.0-alpha.27/docs/Uni

[2019-01-28 09:36] #1055 closed

[2019-01-28 09:49] leshakoss opened #1056 "Rewrite `awareOfUnicodeTokens` error message"
[The current error message](https://github.com/date-fns/date-fns/blob/master/src/_lib/protectedTokens/index.js#L9-L11) is confusing because it immediately gives a wrong solution (set `awareOfUnicodeTokens` and the error will go away), and for the right solution you should look into the attached blog post. See #1055, #1020 and numerous others

[2019-01-28 09:50] kossnocorp commented on #1054
We've fixed this problem in v2 by introducing custom ISO string parser: https://github.com/date-fns/date-fns/blob/master/src/parseISO/index.js

Upgrading to v2 might be tedious, so as a quick solution I suggest to extract the given function into your app and use it before formatting:

[code]

[2019-01-28 09:50] #1054 closed

[2019-01-28 09:51] kossnocorp commented on #423
@sebfischer83 what exactly you are struggling with?

[2019-01-28 10:01] kossnocorp commented on #1052
@nanomosfet please provide your local timezone so I can check what could be wrong.

[2019-01-28 10:08] kossnocorp commented on #1043
Thanks for reporting!

[2019-01-28 10:19] erperejildo opened #1057 "Finnish change translations"
I received from my Finnish team some instructions to change months localization. There should be with a "ta" at the end:
"Tammikuu" should be "Tammikuuta"
"Lokakuu"" should be "Lokakuuta"
etc

How should I change this or any other field?

[2019-01-28 10:32] kossnocorp commented on #1040
Thank for reporting it!

[2019-01-28 10:39] kossnocorp commented on #1057
You can do it here: https://github.com/date-fns/date-fns/blob/master/src/locale/fi/_lib/localize/index.js. I'm wondering what's the difference, could you please request more details on that from the team?

@date-fns/i18n-fi please check this out.

Thanks!

[2019-01-28 10:46] erperejildo commented on #1057
I tried to do the change there directly but I have no `src` folder.
Waiting Finnish team response. I'll let you know ASAP

[2019-01-28 11:22] erperejildo commented on #1057
@kossnocorp the difference is: Without TA it's a basic form of the word. The TA ending in Finland is same as OF in front of the month would be in English.

EG: "December" = "**Joulukuu**"

but "12th OF December" = "12 **JoulukuuTA**"

So the translated month separately is fine but it's not when you need to use it on a date.

does this make sense?

[2019-01-28 11:54] erperejildo commented on #1057
btw, link above does't work

[2019-01-28 12:09] Pyppe commented on #1057
Also, it's `12. joulukuuta` to be precise. In Finnish the month names are in lowercase. And the dot there is also meaningful.

[2019-01-28 12:15] erperejildo commented on #1057
Correct @Pyppe. Our phrase in fact is like `keskiviikko 30. tammikuu, 1`. Correct my if I'm wrong but it should be `keskiviikko 30. tammikuuta, 1`

[2019-01-28 12:17] leshakoss commented on #1057
The equivalent functionality in date-fns is a "formatting" localizer. See here: https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md#formatting-localizers

[2019-01-28 12:31] leshakoss opened #1058 "Make `defaultFormattingWidth` fallback on `defaultWidth`"
Now, if you specify `formattingValues` in a formatter in a locale, you must specify `defaultFormattingWidth`: https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md#formatting-localizers
But it's very easy to forget to do so: https://github.com/date-fns/date-fns/blob/master/src/locale/fi/_lib/localize/index.js#L96-L98

While it doesn't break anything inside `format` functio

[2019-01-28 14:00] kossnocorp commented on #1052
I can confirm that tests are failing in `America/Sao_Paulo`. I'm going to investigate.

[2019-01-28 14:37] leshakoss commented on #1057
Wait, guys are we talking about date-fns v1?

[2019-01-28 15:02] foxCanFly commented on #1057
Sorry :). Yep, we are using v1 since it was looking more stable then(v2 is still alpha if I'm right). Correct me if I'm wrong that this functionality just not implemented for Finish language v1 at all..? I couldn't find any functionality similar to Russian language(your link above) and Finish v2 already has this implemented but it's still in alpha. So the most reasonable for us is to fork v1 imple

[2019-01-28 15:04] leshakoss commented on #1057
It is not implemented for Finnish language but it could easily be. PRs are welcome. Branch is `v1`

[2019-01-28 15:06] leshakoss commented on #1057
But if you need it right now and not wait for the new v1 version release (it's kinda cumbersome on our side so it could take a lot of time), you could just [monkey patch](https://en.wikipedia.org/wiki/Monkey_patch) the locale

[2019-01-28 15:10] foxCanFly commented on #1057
@leshakoss sure. After solving this issue locally I will make a PR.

[2019-01-28 15:13] devbeard opened #1059 "Option to override single values in locale"
Is there, or is there planned in the 2.0 version, a way to override specific locale values without constructing a complete locale object. Would this break any immutability goals of the project?

_Example:_
There are several allowed abbreviated month names in Norwegian. Could I change just one of the abbreviations, as compared to the standard Norwegian locale included with date-fns?

[2019-01-28 15:59] moimael commented on #816
Is it a functionality that the core team would agree to have ?

[2019-01-28 17:55] nanomosfet commented on #1052
I am on PST time

[2019-01-28 21:56] MathiasKandelborg opened #1061 "Convert da locale to v2"
I'll be happy start working on this first thing tomorrow. The [i18n contribution](https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md) guide is quite clear so I'll just begin unless there's any objections.

How couldn't I :sweat_smile:  date-fns is super great!
Thank you creators & maintainers for making this awesome project.

[2019-01-29 01:18] nanomosfet commented on #1052
Noticing that all the tests are just off by 1 second.

[2019-01-29 02:07] #1042 closed

[2019-01-29 02:17] kossnocorp commented on #1061
Please do 🙏

[2019-01-29 02:19] kossnocorp commented on #1041
Please ping me once you started, I'll pin the issue and mark the locale as claimed. Thanks!

[2019-01-29 02:20] #1035 closed

[2019-01-29 12:24] MathiasKandelborg opened #1063 "Day period values in en-US"
Hi, I'm making the v2 danish locale. While looking at [Day Periods](https://www.unicode.org/cldr/charts/32/summary/da.html#1805), I noticed that the same values are provided for narrow, abbreviated and wide:

[code]

Shouldn't they follow the example here: https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md#localizedayperiod ?

[2019-01-29 12:25] MathiasKandelborg commented on #1061
There's a second 'morning' in Danish which is quite frequently used. It's formiddag(before noon) meaning before noon, after morning.[ In the spec ](https://www.unicode.org/cldr/charts/32/summary/da.html#1806) it's called morning2 - how would i go about adding this value?

[2019-01-29 12:33] MathiasKandelborg commented on #1063
Oh, read dayPeriodValues and formattingDayPeriodValues as the same thing!

This should probably be explained in the code. I'm still not sure why dayPeriodValues, in particular, has both standalone and formatting objects.

[2019-01-29 13:12] talyssonoc commented on #1052
I'm trying to triangulate the issue and looks like this test (for modern time) passes https://github.com/date-fns/date-fns/blob/master/src/_lib/getTimezoneOffsetInMilliseconds/test.js#L8, but this one (for before standardized timezones) the `result` is 1 minute more than the expected (as @nanomosfet mentioned) https://github.com/date-fns/date-fns/blob/master/src/_lib/getTimezoneOffsetInMillisecond

[2019-01-29 14:31] erperejildo commented on #1057
We're trying to make some changes locally but we're facing some issues when we try to build the project.
Any steps we need to follow to build this first of all?

[2019-01-29 14:42] leshakoss commented on #1057
@erperejildo do you mean like, build date-fns to copy it to node_modules in your project? If I remember correctly, in v1 the best way to build the package is to remove line `npm publish` from `scripts/release_npm.sh` and lines `git ...` from `scripts/release.sh` and then run `npm run release`. The built package will be in tmp/npm. Could be wrong, haven't done that in a long time.

[2019-01-29 14:53] erperejildo commented on #1057
Made those changes and this:
[code]

[2019-01-29 14:55] leshakoss commented on #1057
@erperejildo could you please try running `yarn release` instead of `sh node_modules/date-fns/scripts/release.sh`?

[2019-01-29 14:56] leshakoss commented on #1057
and from inside date-fns directory. This script is intended for the releasing date-fns that's why what you're trying to do looks a bit hacky

[2019-01-29 15:08] erperejildo commented on #1057
that looks better:
[code]

So now (and before as well) when I restart my server I get this issue:
[code]

This again is just V1 forked with these changes:
https://github.com/DVELP/date-fns/commit/adb9125eeb85fd51cb0f92c38713e64bf35cf066

[2019-01-29 15:14] leshakoss commented on #1057
As I've already mentioned, the built package should be in `tmp/npm` inside date-fns directory. Could you please elaborate why are you trying to build the package? Do you plan to use it like that (I hope not!) or to just test the changes in real life use case?

[2019-01-29 15:51] rgoyal05 opened #1064 "DD/MM/YYYY format doesn't parse in 1.30.1"
parsing DD/MM/YYYY format returns Invalid Date
`parse('23/03/2018')
`
Version:  1.30.1

[2019-01-29 16:57] jckuhl opened #1065 "Cannot resolve: Module not found 'format' React"
I cannot for the life of me get date-fns/format to import into a React application.
It's a standard `create-react-app` and I did `npm install --save date-fns`

Here's the package.json:
[code]

When I try to import `format` like so:

`import format from 'date-fns/format';`

It fails.  I tried it as a named import: `import { format } from 'date-fns/format';` and I tried writing an absolute path: `im

[2019-01-30 08:11] sebfischer83 commented on #423
@kossnocorp I would try if this brings a bit more performance because I need often to parse huge amounts of date strings.

[2019-01-30 08:47] adrienharnay opened #1066 "Bump to babel 7 and switch from es2015 to babel-preset-env"
Hello,

I figured that it would be great for this project to have a browserlists file and to use @babel/preset-env to ensure support for older browsers is never compromised.

Would you be interested in me submitting a pull request?

Cheers

[2019-01-30 08:54] TejasQ opened #1067 "This has been alpha for almost 2 years"
Hello.

I depend on this library, and I just noticed that it's been in alpha since 2017. I'd love to be a part of the solution and help move towards some type of stable release soon? What's currently blocking? Where can I help?

[2019-01-30 09:20] adrienharnay commented on #1066
I don't think this so...

What do you think of this strategy:
- upgrade to Babel 7
- implement @babel/preset-env with a browserslist file
- compare old build size to new build size
- implement https://github.com/siddharthkp/bundlesize to ensure the size of the build never increases passed a certain ceiling (to be defined)

I've implemented this on a few projects so I could do a PR if you think thi

[2019-01-30 10:21] kossnocorp commented on #1066
That will add a lot of additional overhead to the maintenance process. I'm not concerned with the overall bundle size but rather with the size of individual functions. A new locale will always add a lot of code, and it's okay while even 0.1Kb increase in a single function could be a problem.

Quick googling showed that the problem could be solved with `eslint-plugin-compat` that reads the browsers

[2019-01-30 10:33] kossnocorp commented on #1064
Unfortunately, it's not a valid date string. JavaScript (as well as date-fns) accepts ISO 8601 (and some other formats like RFC 5322 but it depends on the engine/browser implementation):

[code]

In v2 we've introduced `parse` function that can help you digest the string, but the easiest solution is to use this function that I wrote just for you:

[code]

[2019-01-30 10:33] #1064 closed

[2019-01-30 10:38] adrienharnay commented on #1066
Ah gotcha! Do you want me to file the PR for Babel 7 and eslint-plugin-compat?

[2019-01-30 10:39] kossnocorp commented on #1066
That would be helpful, thanks! 🙏

[2019-01-30 10:42] kossnocorp commented on #1059
Unfortunately, there's no built-in way to do it. I can't promise that we'll approach this in near future but we're aware of locale customization problem.

The easiest solution to your problem would be to copy the locale and adjust to your needs.

[2019-01-30 10:42] #1059 closed

[2019-01-30 12:10] TejasQ commented on #1067
That is such a disappointing response. I believed in this library and genuinely wanted to help pragmatically instead of throwing money at the problem. I'll look elsewhere for a solution.

[2019-01-30 12:19] kossnocorp commented on #1067
I'm sorry to disappoint you, but sometimes people get paid for the time they spend working. It's sad to know that I don't deserve that. I'm unemployed and bootstrap my own business, so every minute I spend on date-fns is money I take off my pocket.

[2019-01-30 13:06] kossnocorp commented on #1067
First of all, I'm not asking to pay for the library but for support:

As someone who poured thousands of dollars into library development so others can use it for free I sorry to learn that some people see it this way.

Also, the notice is there because without it the ones that are want to help won't learn about our Open Collective. Sadly there's not many that want to support us so I had to add th

[2019-01-30 13:15] kossnocorp commented on #423
@sebfischer83 what is the format of strings and where are they coming from (API, user input, etc)?

[2019-01-30 14:03] TejasQ commented on #1067
To be honest, if a library serves its users well, I think it'll attract donations and sponsorship organically. I think of how @sindresorhus makes his living off @patreon because he genuinely produces incredibly helpful tools, or how @webpack is able to attract a lot of funding because of the _service_ it provides and the value it adds.

I think ultimately, **service brings support**.

I was actual

[2019-01-30 14:34] MathiasKandelborg opened #1068 "Add .prettierrc file for consistent editor (VS Code) support"
Hi, I was about to suggest using prettier for the coding style - looking through everything, I see there are already some things going on.

I would love to help with this if any help is needed. Just let me know what needs to be done as I'm unsure what you'd like.

Furthermore, in order to ensure consistent coding style a [.prettierrc](https://prettier.io/docs/en/configuration.html) is really handy

[2019-01-30 14:46] TejasQ commented on #1067
I'd love to do that. @kossnocorp if you think it might be helpful, I'd love to serve you in this way. Let me know. https://calend.ly/tejaskumar 💞

[2019-01-30 16:48] leshakoss commented on #1067
Thanks for the discussion! We appreciate your offers to help!

There is a lot of work still left to do, but most of it is administrative - for that, as @kossnocorp has already mentioned, the donations would be the most useful ;-) We understand that not every developer can pay for every open source library they use, so probably the best way to help us in that regard is to talk with your employer ab

[2019-01-30 19:41] nanomosfet commented on #1052
when i do `export TZ=utc` before doing `yarn test` the tests pass.

[2019-01-31 01:44] kossnocorp commented on #1068
The Prettier config is in `package.json`: https://github.com/date-fns/date-fns/blob/master/package.json#L36-L39. Maybe it, not obvious and some tools could not look there, so I'm okay with extracting it.

Regarding the ESLint — we did you use it via [Standard JS](https://standardjs.com/) but disabled it because some code is in Standard style (legacy) and some in Prettier (new). I didn't want to co

[2019-01-31 06:56] #1056 closed

[2019-01-31 09:00] thebarricade opened #1073 "Swedish (sv) translation improvement"
Currently swedish short date is in the format 'dd-MM-y', but it really should be  'y-MM-dd'.

See https://sv.wikipedia.org/wiki/Datum for reference.

[2019-01-31 13:50] bitshadow commented on #1040
@daandvs  which version of `date-fns` includes `getWeekOfMonth`?

[2019-01-31 16:11] MathiasKandelborg commented on #1061
I've found this list of possible values for 'day period code': http://www.unicode.org/cldr/charts/30/supplemental/day_periods.html

I'll go and add the morning1, but I think it would be a good idea to be able to define when the different periods are. I'm still thinking of a good way of doing that, but the easiest might actually be to find some standardized values. There should be some right?

[2019-01-31 16:24] lucasfeliciano opened #1074 "Cannot read property 'Symbol(Symbol.iterator)' of undefined when importing isSameMonth"
On our application start to crash and our kubernetes pods were restarting, then I checked papertrail logs and realized that we had this error popping up every time that we would deploy the application.

[code]

I didn't know the reason so I had to investigate, starting from the error stack trace I went to

[code]

Which is:

[code]

So I went on the only place of our application where we import th

[2019-02-01 09:42] MathiasKandelborg commented on #1061
I don't know why I missed it yesterday (not used to reading CLDR & Unicode stuff), but the times are actually stated there and they're ofc not standardized.

So the proper way to implement this would be to firstly renamew all dayPeriods to `dayPeriod1` and then add `dayPeriod2`

I thinnk the most comprehensive/inclusive approach is; allow the locales to specify when their day-periods are.

So in t

[2019-02-01 09:46] MathiasKandelborg commented on #1068
I must have missed this one. I'll create a PR immediately. Also, I'll create an issue specific about ESLint, just to keep things collected?

[2019-02-01 11:47] abduwaly opened #1075 "Uighur language support"
Uighur language support - Done in #1080

[2019-02-01 12:04] MathiasKandelborg commented on #1068
My computer decided to freeze for the second time today. I'm spending hours checking faulty RAM, backing up and going through forum posts instead.

I'll make the PR as soon as I'm up and running again

[2019-02-01 13:57] daandvs commented on #1040
It's in the alpha versions of v2 (https://date-fns.org/v2.0.0-alpha.27/docs/getWeekOfMonth)

________________________________
Van: Jignesh Kakadiya <notifications@github.com>
Verzonden: donderdag 31 januari 2019 14:50
Aan: date-fns/date-fns
CC: Daan Devos; Mention
Onderwerp: Re: [date-fns/date-fns] getWeekOfMonth() with options.weekStartsOn set to 1 doesn't work for Sundays (#1040)

@daandvs<https

[2019-02-02 15:16] TrySound opened #1078 "isValid consumes any type by warns on string"
I pass strings to `isValid` and do not see type error like with other functions. Would be good to constrain it with `Date | number`.

https://unpkg.com/date-fns@2.0.0-alpha.27/isValid/index.js.flow

[2019-02-02 22:42] nanomosfet opened #1079 "adding a coverage report"
Can I add us to something like coveralls so we can get a little coverage report?

Will also make it easier for people to contribute to testing everything throughly.

I have done it before for some personal projects.

https://github.com/nanomosfet/custom-portfolio

[2019-02-03 02:17] abduwaly commented on #1075
Hi @leshakoss ,
Uighur locale is added in #1080 and CI passed, please help approve.

Thanks,
Abduwaly

[2019-02-03 08:01] nahidmbstu opened #1081 "Bengali language support"
please add support for Bengali language.....

[2019-02-03 08:33] #1081 closed

[2019-02-04 15:26] TheoMer opened #1083 "Starting with v2.0.0-beta.1 date-fns doesn't accept strings as arguments. Please use `parseISO` to parse strings"
So, until I deployed today I was using version ^2.0.0-alpha.7 with no issues, but then got the following error:

[code]
I upgraded to the latest version and am now getting an `parseISO is not defined` error. My code is as follows:

[code]

What am I overlooking here?

[2019-02-04 16:04] TrySound commented on #1083
@TheoMer
[code]

[2019-02-04 16:15] TheoMer commented on #1083
@TrySound I tried that but got

[code]

[2019-02-04 16:17] TrySound commented on #1083
This is weird. Make sure you don't have two versions of date-fns in your bundle.
Also where this error coming from?

[2019-02-04 16:52] TheoMer commented on #1083
@TrySound So I uninstalled and re-installed date-fns, and got this:

[code]

I'm not sure what's happening with npm but regressing from `2.0.0-alpha.7` to `1.30.1` doesn't seem right to me, correct?

[2019-02-04 17:07] TrySound commented on #1083
`yarn add date-fns@next`

[2019-02-04 18:43] TheoMer commented on #1083
@TrySound That resoloved it. Many thanks.

[2019-02-04 18:43] #1083 closed

[2019-02-05 02:13] daedalus28 opened #1084 "Latest (alpha 27) removed `fp`"
This took a while to hunt down, but it looks like this commit removed the `fp` file:
https://github.com/date-fns/date-fns/commit/9b129d446e55b12172f7f29517544c7a0cc4738b

We exclusively use the fp version - was this change intentional (e.g., should we be importing from somewhere else)? It doesn't seem like you're dropping support for it since it's listed on the home page as one of the major sellin

[2019-02-05 08:31] kossnocorp commented on #1078
Hm, I'm not sure if it makes sense. The whole point of the function is to accept **any** argument type and return false if `toDate` returns `NaN`. It's useful in a non-type-safe environment, and I don't see how the function could be helpful in Flow or TypeScript at all.

Could you please provide more details on how and why you use it?

[2019-02-05 08:34] kossnocorp commented on #1074
You should import the function like you import others:

[code]

I'm not quite sure how it was working before, but I assume that the environment has changed (webpack/Babel version, set of plugins, etc.).

[2019-02-05 08:34] #1074 closed

[2019-02-05 08:36] TrySound commented on #1078
I did an upgrade. Very painful one. My app crashed because of this in unexpected place a few days later. And flow wasn't able to catch this.
https://codesandbox.io/s/40rwky58l7

[2019-02-05 08:42] kossnocorp commented on #1078
I'm sorry to hear about your upgrade but why did you use the function in the first place, could you please tell more about the context and provide exact code snippet if possible.

[2019-02-05 08:46] TrySound commented on #1078
My dates come from relay in iso format. Previously all functions accepted iso strings and we used it.
[code]

I would prefer `isValid` to check only `new Date('Invalid Date')` and negative numbers. Other types I can handle by myself. There are tools for that like flow or typescript. Otherwise `isValid` is unsafe function I will avoid.

[2019-02-05 08:58] Dragomir-Ivanov opened #1085 "Bug in formatting"
Hello having this test:
[code]
produces: `Sunday, January 0, 5:58 AM, 2018`.
Using:
[code]
works as expected: `Saturday, January 6, 5:58 AM, 2018`

Using version 1.30.1 from NPM.

EDIT: Seems to work fine with `2.0.0-alpha.27`

[2019-02-05 13:08] carloscarcamo commented on #232
+1

[2019-02-05 13:16] diazig commented on #232
The monolithic date-fns build has no advantages over,, testing/prototype in codepen or jsfiddle.

[2019-02-05 15:20] nanomosfet commented on #1079
Cool. I’ll set it up on my fork and we can go from there

[2019-02-05 16:54] daedalus28 commented on #1084
Simply doing `require('date-fns/fp')` is failing and throwing `Error: Cannot find module 'date-fans/fp')` on alpha 27

[2019-02-05 16:58] daedalus28 commented on #1084
Going to have a coworker create a minimal example project as well to help

[2019-02-05 18:43] sambokai opened #1086 "Omit hours in formatRelative() (2.0.0-alpha.27)"
Couldn't find anything in the docs:

Is there a way to omit the time from `formatRelative(someDate, Date.now())`, so that `today at 9:00 PM` becomes `today`?

I could do the following, but I would like to use date-fns's i18n support:

[code]

[2019-02-05 19:13] geosp commented on #1084
The error is ```Error: Cannot find module 'date-fns/fp```. You can see the issue when running these notebooks:
1. [Working](https://runkit.com/geosp/5c59deed921c690012400964)
2. [Failing](https://runkit.com/geosp/5c59dd1946320600157132ce)

[2019-02-05 23:19] natstar93 opened #1087 "differenceInDays returns -0 when given two dates that are the same"
[code]

This was raised in https://github.com/date-fns/date-fns/issues/544 and fixed but seems to have regressed since then

[2019-02-05 23:54] natstar93 commented on #1087
Closing this because I just realised this issue was in version `1.30.1` which is the last non-alpha release and it is fixed in the v2 alpha releases. Would be good to see a full v2 release soon because in the meantime anyone installing is getting this bug!

[2019-02-05 23:54] #1087 closed

[2019-02-06 01:05] kossnocorp commented on #1084
That would be very helpful because I can't see why it happens:

[code]

[2019-02-06 01:39] daedalus28 commented on #1084
Ok - so I just tested alpha.27 in our repo myself, and I did not see the issue. I got multiple reports of this issue from my team when they updated to the latest alpha, so really I'm not sure what happened. Since I can't reproduce this, I'm closing the issue.

Either way, thank you for your patience and prompt reply on this. And also, thank you for the `date-fns` library! 🤗

[2019-02-06 01:39] #1084 closed

[2019-02-06 07:19] sebfischer83 commented on #423
@kossnocorp the format is in Javascript ISO String and is coming from an API

[2019-02-07 08:48] kumarharsh commented on #576
It feels like formatRelative is unnecessarily restrictive to **only** format dates with +-1 week. In most of the use-cases I've seen in the real world, generally you would go atleast a month back before showing dates, and even then, the dates shown are in a different format.

To illustrate my point, look at github itself:

![image](https://user-images.githubusercontent.com/760112/52399725-103eba80

[2019-02-08 16:48] danieltorrer commented on #1065
Hey @jckuhl, could you solve the problem? I'm having the same issue

[2019-02-10 09:48] nanomosfet commented on #1066
@adrienharnay Do you have any examples of comparing build sizes? I am pretty interested in seeing how its done.

[2019-02-10 22:07] adrienharnay commented on #1066
Hey, sorry for the delay, the past weeks have been busy. Well I'm using https://github.com/siddharthkp/bundlesize along with its Github build status integration, I have a config in my `package.json` to specify the thresholds and it compares the size of the build on my PRs to the size on master. I don't have any concrete example to show as the repositories are private, but it's fairly easy to set u

[2019-02-11 16:20] MathiasKandelborg commented on #1073
Hi! I just wanted to show where this is located in the official unicode charts: [Swedish CLDR chart](https://www.unicode.org/cldr/charts/32/summary/sv.html#1975)

[2019-02-12 14:13] stof commented on #1016
Shouldn't this issue be closed as https://github.com/date-fns/date-fns/pull/1023 was merged ?

[2019-02-13 10:08] danieltorrer commented on #967
Hey @darkalor could you find a fix for this issue? I'm getting the same issue?

[2019-02-13 15:44] darkalor commented on #967
@danieltorrer Upgrading to the 2.0 alpha release resolved the issue for me back then.

[2019-02-14 11:10] MathiasKandelborg commented on #1068
I'm sorry for the delay. I'm up and running again and have been reading on Standard JS. How come it isn't used anymore? It seems that it would be a great way to encourage contributions.

I'm curious as to how prettier + eslint would be better than Standard JS?

I'm all for being able to customize etc. but in a project like date-fns it's maybe a good idea to avoid as many of these 'meta issues' lik

[2019-02-14 13:16] MathiasKandelborg opened #1092 "Use all the day period periods"
Okay, so right now the day periods are native to this project. It would be great if the project adhered to the specifications: http://www.unicode.org/cldr/charts/30/supplemental/day_periods.html

I've - successfully, without tests - been trying to add all the periods to the enum. Here are my current thoughts:

1. Be able to define **all** day period enum values
1. Be able to define when day period

[2019-02-15 10:49] MathiasKandelborg commented on #1063
Some reasoning must stand behind this. I'll silently close this as it's not really an issue to be solved, rather a question regarding opinions.

[2019-02-15 10:50] #1063 closed

[2019-02-18 10:17] raybooysen opened #1095 "Docs website uses unminified version of react"
Something minor but the docs website uses an unminified version of react:

![image](https://user-images.githubusercontent.com/461957/52943998-62b48c80-33a9-11e9-9186-b9def4ba68c4.png)

[2019-02-18 23:01] nbgoodall opened #1096 "Wrong return from getDate() with some dates at the last millisecond"
Hello!

`getDate()` returns the wrong value for some dates at the last millisecond...

**Library version:** 1.30.1
**Node version:** 10.12.0

[code]

This affects the prior dates in October 2018 as well:

[code]

Oddly, some months work, some don't:

[code]

Sorry I haven't dug into the source; I hope this still helps :blush:

[2019-02-20 01:50] ta-kiyama opened #1097 "Improve Japanese translation of formatRelative() (v2.0.0-alpha.27)"
In Japanese, "先週の" is more commonly used than "前の" which means "lastweek".

And also, "来週の" is more commonly used than "次の" which means "nextweek".

https://github.com/date-fns/date-fns/blob/master/src/locale/ja/_lib/formatRelative/index.js#L2-L6

[2019-02-20 01:53] ta-kiyama commented on #1097
I made a PR for this fix. Could you check this?

Thank you.

[2019-02-21 09:56] MathiasKandelborg commented on #1097
Hi! I just want to make sure your suggestions are indeed correct. I know I'm not a maintainer, but following the standards make it easier to blame changes on other people :wink:

Here are the 'Relative week -1' which is last week:   https://www.unicode.org/cldr/charts/32/summary/ja.html#1459

Have a nice day!

[2019-02-21 09:58] MathiasKandelborg commented on #1068
@kossnocorp @leshakoss Anyone still here? :sweat_smile:  Haven't seen activity for the past 2 weeks on this repo, I'd love to move on and are sure others would too.

[2019-02-21 12:10] MickL commented on #1064
@kossnocorp The worldwide most common order style is day, month, year accoring to [Wikipedia](https://en.wikipedia.org/wiki/Date_format_by_country). How can it not be supported?

In my opinion there should be an option to tell the parse function which format to use:
e.g. `01.02.2019` could be `1st of february` or `2nd of janaury` but only in the US.

[2019-02-21 12:13] MickL opened #1099 "parse() should have locale option"
In my opinion there should be an option to tell the parse function which format to use. Alternatively parse function should be smart bigtime and figure out the correct date for any given format.

E.g. `01.02.2019` could be `1st of february` or `2nd of janaury` but only in the US and `21.02.2019` will give an invalid date error.

[2019-02-22 01:24] ta-kiyama commented on #1097
@MathiasKandelborg
Thank you for very helpful infomation. I didn't know that at all!

The chart tought me to be better to change my translation of "next week". 😄

[2019-02-22 08:56] wiliamfeng commented on #326
const year = 2016;
const month = 100;
const day = 2;
isValid = moment(`${year}-${month}-${day}`, 'YYYY-MM-DD', false).isValid();
console.log('yyyyyyyyy', isValid ) // => true

[2019-02-24 18:53] anton6 commented on #1024
Which version is it broken for? Does it work for any other version?

[2019-02-24 18:59] anton6 commented on #484
I can't get it to work in version 2.0.0 Alpha.27 as described here:  https://github.com/date-fns/date-fns/issues/1024

Is it supposed to work in any other version?

Thanks

[2019-02-26 04:16] vuonghungvinh opened #1103 "Add en-AU locale"
please add more en-AU language
version: 2.0.0-alpha.27

[2019-02-26 08:57] yuanjiu041 opened #1104 "bug in difference_in_days"
![image](https://user-images.githubusercontent.com/29882936/53399784-8f8b2400-39e7-11e9-845b-78eb569f1e65.png)

[2019-02-26 14:36] TrejGun commented on #916
i'm experiencing this issue too
[code]
i guess this is wrong

[2019-02-26 15:35] anthonator opened #1106 "Remove CDN from Getting Started documentation"
Since the CDN has been deprecated (per #822) I'd suggest either removing it from the Getting Started documentation or adding a deprecation notice. I spent a minute trying to figure out the CDN just to find out that it's not supported anymore.

https://date-fns.org/docs/Getting-Started#cdn

[2019-02-28 19:14] sbcreates opened #1108 "isWithinRange doesn't return expected value"
Using `date-fns: 1.30.1`

Trying to see if the current time is in between two dates. I have the following:

[code]

I expect it to return `true`. I am receiving `false`.

I expect if I write the code where if I write this:
[code]
I should receive an error saying `startDate cannot be after endDate`. I am receiving `false`.

[2019-02-28 19:29] #1108 closed

[2019-03-04 12:17] JuergsPona opened #1109 "Afrikaans language support"
Contributing to the project by adding support for the Afrikaans (af) language

[2019-03-04 14:19] marnusw commented on #1109
[Afrikaans](https://github.com/date-fns/date-fns/tree/master/src/locale/af) is already available in [v2](https://github.com/date-fns/date-fns/tree/master/src/locale/af) of `date-fns`. I'm pretty sure I also had it [merged for v1](https://github.com/date-fns/date-fns/pull/675) of the library, or at least early v2 before the locale format changed (since I don't see it on the 1.30.1 tag). If you're g

[2019-03-04 14:34] JuergsPona commented on #1109
@marnusw I was actually looking at your code now (didn't see it when I opened the issue)

I see v2 is still in alpha, and I'm currently using v1 (that's where I didn't see it)

Sorry about the confusion, I should have looked through the code before I went full speed ahead 😁

How would I add it to v1?

[2019-03-04 20:58] benbcai commented on #942
The inability to do strict parsing also prevents my team from using date-fns. To illustrate the use case that @VasilioRuzanni and @OCJvanDijk mentioned, take a look at the first example [here](https://reactdatepicker.com/#example-0). The default date is today's date in the format `MM/dd/yyyy`. As an example, today's date is `03/04/2019`. If you delete the last two digits from the year, you end up

[2019-03-05 10:10] marnusw commented on #1109
It might be good to hear from @kossnocorp if he wouldn't mind clarifying, but one way might be to create a new feature branch off of the last v1 branch (or tag, not sure which branch it would be) and cherry-picking the commits I made that are compatible with v1. Then that could be merged via a new PR.

If the maintainers aren't doing any new releases on v1 at the moment it might be easier to just

[2019-03-05 11:41] JuergsPona commented on #1109
I think I'll just fork v1 for now and add the translations. Not a train smash, but thanks so much for your assistance. I'll close this off

[2019-03-05 11:41] #1109 closed

[2019-03-05 13:32] ovvn opened #1110 "Add more patterns to lightFormat"
Is it possible to add more frequently used patterns to the lightFormat? For example, we use 'MMM' and 'MMMM' often.

[2019-03-06 07:35] ovvn commented on #1110
As I understood such formatters were removed from lightFormat because they use locales. But maybe we could use some "default locale", e.g. en-us in lightFormat for the locale formatters instead of removing them completely.

[2019-03-06 12:38] ovvn opened #1111 "How to compile and install the library from a github fork?"
Didn't find documentation on how to compile the library locally and add it as a dependency pointing to a github fork, e.g. `"date-fns": "git://github.com/my-fork/date-fns"`

[2019-03-06 19:00] FredyC commented on #1111
Have a look at my article about one possible approach: https://levelup.gitconnected.com/modularize-a-shared-code-with-yalc-6f32031b647f

[2019-03-07 07:54] ovvn commented on #1111
Tried `yarn install && yarn publish` which works fine except for publishing obviously because I don't have permissions to publish it to npm but there should be a way to distribute the library using github link.
@FredyC thanks, tried it at https://github.com/ovvn/date-fns/commits/master, but when I install it as a dependency in another project it throws
[code]

[2019-03-07 08:16] FredyC commented on #1111
Well, don't take that article as a full-blown tutorial. You better read Yalc docs. But in the gist, you clone the fork repo, install deps in there, run `yalc publish`. Then in your project, you run `yalc add date-fns` and done.

[2019-03-07 08:32] ovvn commented on #1111
Yes, I installed yalc globally and did `yalc publish` in the forked date-fns repo after installing all deps via `yarn install`. In my project I want to be able to require the date-fns fork as a dependency, e.g. have
[code]
within package.json and do `npm install` or `npm install date-fns`.

[2019-03-07 09:47] FredyC commented on #1111
Well, the last step is wrong. Forget about npm. Just `yalc add date-fns` and it will add it to the project and modify package.json.

[2019-03-07 09:50] whitecolor commented on #265
I believe it is not "to write" but "to generate"? It is really would be much more convinient if that would be no need to browse the docs on the web to know which param comes first (relevent in many cases for methods like) `isAfter` etc.

[2019-03-08 06:49] Elemino opened #1112 "TS2307: Cannot find module 'date-fns'."
Hello,

I am using the following template https://github.com/bradymholt/aspnet-core-react-template and added date-fns to it. Currently I am getting the following error. Can you help me understand if it's either a typescript or a webpack issue? Maybe perhaps suggest a troubleshooting strategy? If this issue is unrelated to date-fns please let me know. Thank you!

fail: Microsoft.AspNetCore.NodeServ

[2019-03-08 08:54] mort3za opened #1114 "Add Persian locale for v2"
I have created a [pull request](https://github.com/date-fns/date-fns/pull/1113) for Iranian Persian locale (fa-IR)

[2019-03-08 09:13] GonchuB commented on #571
On investigating this same issue I wrote a small function that might solve this issue. Has not been testing thoroughly, so use with caution:

[code]

You can see the difference in the last console log, where the isoString is preserving the original UTC 00:00:00 time.

![image](https://user-images.githubusercontent.com/857221/54017819-7f153f00-4187-11e9-8c45-c968d816e338.png)

[2019-03-08 09:16] GonchuB commented on #973
I posted a workaround for this issue dealing with DST and Timezones in https://github.com/date-fns/date-fns/issues/571

The same might apply here

[2019-03-08 11:55] fonziemedia commented on #918
How do I use a '.toString()' date with date-fns?

Any date-fns parse function on a '.toString' date retuns an invalid date..

Thanks

[2019-03-08 12:00] fonziemedia commented on #865
On a node server using the Date constructor sets a '.toString' date back to the incorrect time zone..

Also, the new Date().toISOString() function doesn't fix the timezone on a node server as '.toString' does..

Any other ideas of working this out?

Cheers

[2019-03-08 14:34] miguelyoobic95 opened #1115 "i18n - Export All Available Locales"
Currently trying to use an extensive list of locales on version 2.0.0-alpha.27 and it seems that only a select subset of them has been exposed from the library. In the `index.js` of the `locales` folder:

![image](https://user-images.githubusercontent.com/35100759/54034594-2eb1d780-41af-11e9-8705-9633c87be1b0.png)

These are the only ones available. What is the best way to add the others ?

[2019-03-11 14:15] whatisaphone opened #1116 "Consider making buildLocalizeFn public"
Our product has translations that are shared between the client and the server. In order to support this, we generate a `date-fns` locale dynamically from our server translations at runtime:

[code]

Unfortunately, since `buildLocalizeFn` is not public, I've had to copy and paste it to get this to work. Can you consider committing to an interface for `buildLocalizeFn` and exporting it?

[2019-03-11 23:26] marcus-hiles commented on #936
Great work on the fix @xkizer, so how is `getUnixTime` used now? Can you give an example please?

[2019-03-12 02:13] taoqf opened #1117 "Will there be an UMD or AMD version published to npm?"
I did not find a browser version in npm? Did I miss something?

[2019-03-12 10:15] praveen612 opened #1118 "[discussion] function to get date for given day"
First of all thanks for creating this amazing library ❤️
I have a use case, wanted to discuss if it is relevant to add it to the library.

Often we put dates like `next Monday`, `every 3rd Wednesday of the month` etc. I thought it would be great to have a function where you can ask the what is the date for this.

For e.g.
[code]

If you think this is good for the library, I will work on this and s

[2019-03-12 22:06] ksevksev commented on #571
The primary reason folks resort to a library to handle date math is because date math is not straight forward. It has many exceptions and irregularities. If it didn't no one would think to use a library when they already have math functions. There is also the issue of governments changing things up. Although, it is a finite list. Therefore, creating a library to tackle it makes sense. However, whe

[2019-03-12 22:07] ksevksev commented on #973
Duplicate of #571

[2019-03-13 02:52] #1112 closed

[2019-03-13 09:37] MathiasKandelborg commented on #1068
Upon further research, I've found that Standard doesn't always work so well. I tried converting to it in one of my projects and it was quite a lot harder than I'd have thought.

So I'll just continue pondering try to integrate prettier.

[2019-03-13 12:33] xkizer commented on #936
@marcus-hiles https://date-fns.org/v2.0.0-alpha.27/docs/getUnixTime#examples

[2019-03-13 22:14] stuartherring opened #1119 "parse (1.30.1) and parseISO (2.0.0-alpha.27) returns incorrect time for April 6 in AEDT"
Parsing a date/time on April 6 (in Australia) results in a time an hour later than reality:

given:
[code]

The result is:
[code]

As you can see, `parse` from `date-fns` produces the time of 12PM for April 6, vs 11AM from `new Date()`.

The new `parse` in `2.0.0-alpha.27` works fine, but `parseISO` exhibits this same problem.

Given the proximity to the end of daylight savings time, it looks like

[2019-03-14 16:20] ksevksev commented on #973
So this happened again with the recent "Spring Forward."

[2019-03-15 11:39] davidhouweling opened #1120 "Fix locales that throw error"
At the moment a bunch of the locales in version 2 throw errors rather than actually working properly. If the language isn't supported i don't understand why the folder exists? There are 22 locales... such as `CS`, `fr-CH`, and `pl`... Clearly this needs a good amount of work to resolve.

[2019-03-17 09:21] whizkidwwe1217 commented on #644
@lgraubner That doesn't return 7 days. Only displays days from Mon to Sat

[2019-03-17 15:48] tilonorrinco opened #1121 "Parse DD.MM.YYYY doesn't work"
Hello there!
Function parse from date-fns can't handle dates in formats like DD.MM.YYYY where month goes after day. Just open date-fns.org and run it in console:
const str = '17.03.2019';
console.log(dateFns.parse(str, 'DD.MM.YYYY'));
//return invalid date. Should be 17 march 2019
Format function with same params works as it should:
const date = new Date();
console.log(dateFns.format(date, 'DD.MM.

[2019-03-18 06:16] GloomyGentleman opened #1122 "Do you have any plans to add computations for the half-year?"
First of all, thank you for developing a great library.

Recently, I needed to set up a half-year using date-fns.

However, there is no choice in date-fns.

So I developed it using quarters functions.

e.g)
[code]

Do you have any plans to add functions for half-year?

[2019-03-18 11:23] pshurygin commented on #1121
Use 'dd.MM.yyyy'.
You can also read about different patterns here: https://date-fns.org/v2.0.0-alpha.27/docs/parse

[2019-03-18 12:33] JReinhold commented on #1061
This looks great, can't wait till it is merged in!
Let me know if you need any help or feedback on the Danish side. 🙂

[2019-03-18 15:39] tilonorrinco commented on #1121
thanks for the answer, pshurygin!
I've already tried different patterns, it doesn't work, still have Invalid date;
![image](https://user-images.githubusercontent.com/25035421/54542564-d30cf880-49bd-11e9-85b8-359e069016cc.png)

[2019-03-18 16:07] pshurygin commented on #1121
Apparently you are using date-fns 1.x version (which is also used on the date-fns docs website). I have just tested that this issue does not exist in the 2.0.0-alpha.27 version.

[2019-03-19 21:39] developdeez commented on #1014
Any solution to this? I have the same issue.

[2019-03-21 10:38] grissius commented on #376
@chawes13 However this does not solve the issue with [DST](https://en.wikipedia.org/wiki/Daylight_saving_time) :crying_cat_face:

`getTimezoneOffset` is constant no matter the current date, but the locale hour changes according to DST, wheras in UTC it remains the same throughout the year.

[2019-03-21 14:47] chawes13 commented on #376
@grissius According to [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getTimezoneOffset#Description), `getTimezoneOffset` should change as well.

[code]

[2019-03-21 23:39] batjko commented on #1086
I seem to have the opposite issue:
I want the time component, but only get the date.

[code]

[2019-03-23 19:20] MarceloBaeza opened #1126 "Problem with init hour - startOfDay"
Hi everyone, I have a problem with starOfDay(), when I set Date **2018-12-07T16:30:00.000Z** this function returns **Date 2018-12-07T19:00:00.000Z** (I only set the hour). When I call **startOfDay(new Date())**, returns: **2018-12-07T03:00:00.000Z.** How I set default init hour?
Thx.

[2019-03-24 15:59] axetroy opened #1127 "support Deno"
`Deno` is still in development and does not have a good date processing library.

The lightweight of date-fns is very suitable for use on `Deno`. Just add a `mod.ts` file and a declaration file to support `Deno`.

added to [denoland/registry](https://github.com/denoland/registry)

[2019-03-25 04:30] dozoisch opened #1128 "V2 Typescript importing default export of files"
When trying to import submodules directly (eg: date-fns/addDay)

[The export is defined like this](https://unpkg.com/date-fns@2.0.0-alpha.27/addDays/index.d.ts):
[code]

Which would require to import using `import addDay = require("date-fns/addDay")` syntax, but given that module is exported as default [(and is exported as default in the built version)](https://unpkg.com/date-fns@2.0.0-alpha.27/ad

[2019-03-25 17:27] hardcodet opened #1129 "for 24hr/12hr formatting for timestamps?"
- date-fns latest (alpha-27)

TL/DR:
Can we specify time formatting with `formatRelative`? If not, would it be feasible to add this as an explicit parameter?

Context:
`formatRelative` is awesome, but doesn't take into account that languages and time formatting not necessarily match. For example, I am Swiss (24 hour timestamps), but my phone/tablet/... are all set to US English. Accordingly, the f

[2019-03-26 13:31] tilonorrinco commented on #1121
It works! Thanks, pshurygin!

[2019-03-26 13:31] #1121 closed

[2019-03-26 16:00] Rendez commented on #376
Based on the previous answers, here's my two cents to normalize different time zones to UTC:
[code]

[2019-03-27 13:27] timdk commented on #1128
Can you use `import { addDay } from 'date-fns';` ?

[2019-03-27 13:42] mathieumg commented on #1128
The problem with that is when you work with client code and don't have the benefits of tree-shaking, you pull-in the whole bundle even though you only want some of the utilities.

[2019-03-29 12:49] lsabbagh opened #1131 "31 March 2019!"
![Screen Shot 2019-03-29 at 2 48 12 PM](https://user-images.githubusercontent.com/37808019/55233620-ce540a00-5231-11e9-9184-28e0168e2dfe.png)
formatting `2019-03-31` is showing `30` and not `31`!!

[2019-03-29 18:12] christopherbauer opened #1132 "Npm install error"
Deploying a react project with date-fns dependency on Ubuntu EC2 instance throws an exception:

module.js:549
    throw err;
    ^

Error: Cannot find module '/root/www/~proj/web/node_modules/date-fns/docs/printV2Notice.js'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Function.Module.runMain (module.js:693:10)
    at startup (boo

[2019-03-29 18:31] christopherbauer commented on #1132
It appears the docs folder doesn't come down for some reason.

[2019-03-29 18:48] #1132 closed

[2019-04-01 03:43] philipwindeyer commented on #1131
Seeing the same issue with some dates in October specifically.

Both `2019-10-05` and `2019-10-06` render as `Sat 05 Oct, 2019` when formatted with `format(checkIn, 'ddd DD MMM, YYYY')`.

[2019-04-01 04:16] philipwindeyer commented on #1131
It appears to be a timezone issue, or more specifically timezones where daylight savings apply. It occurs on days where daylight savings times begin. 2019-10-06 is the day this starts for for AEST (Sydney and Melbourne, Australia).

Found that the date this occurs on specifically (2019-10-06), when viewed in the UTC+11 timezone (Sydney-Melbourne timezone plus 1 hour for daylight savings).

In Melb

[2019-04-01 05:41] lsabbagh commented on #1131
It seems that the issue with parsing the date strings.
All what you have to do is to use new Date(), just change this `format(checkIn, 'ddd DD MMM, YYYY')` to this `format(new Date(checkIn), 'ddd DD MMM, YYYY')`

[2019-04-01 16:00] trevorah commented on #1104
@yuanjiu041 is this the same as https://github.com/date-fns/date-fns/issues/544 ?

[2019-04-02 02:41] philipwindeyer commented on #1131
Thanks @lsabbagh , this works! I'm assuming because a Date object has the timezone as well.

It'd still be good to see string parsing fixed in the lib though...

[2019-04-02 09:58] vitexikora opened #1133 "Czech language support for v2"
Czech language is already translated for v1, but I have just discovered that its not possible to use in v2 😥. How difficult is the upgrade?
Original translation by @davidrus (see #385)

[2019-04-02 12:58] marnusw commented on #1133
I did the translation for Afrikaans in a couple of hours some time ago. The new format is very different, but with the existing v1 translation it's quite doable.

[2019-04-02 17:33] RedHatter opened #1134 "format week of month"
I would like to format a date as `1st week of April 2019` but the format function doesn't have tokens for week of month. I can use `getWeekOfMonth` to create it manually but this is complicated by not having access to `localize.ordinalNumber`. Would you conciser adding tokens for week of the month?

[2019-04-03 01:14] albertstill commented on #1119
Also see this issue, forcing me to switch to moment, `node -e "console.log(require('moment')('2019-04-06T10:15:00').format('ddd D MMM, h:mma'))"` works, `node -e "console.log(require('date-fns/format')('2019-04-06T10:15:00', 'ddd D MMM, h:mma'))"` does not

[2019-04-03 01:43] stuartherring commented on #1131
@philipwindeyer - see also https://github.com/date-fns/date-fns/issues/1119
`date-fns` just really doesn't handle parsing dates very well.  At least, not AEDT dates.

[2019-04-03 10:54] phcloud opened #1135 "Bug in 【isValid】 when arguments like '2016-01-01'"
The [api description about【isValid】](https://date-fns.org/v2.0.0-alpha.27/docs/isValid) example say that when i pass argument  like '2016-01-01' will return 【true】
but the result of the operation `isValid('2016-01-01')` does not match the document，it throw a error and return 【false】

`Starting with v2.0.0-beta.1 date-fns doesn't accept strings as arguments. Please use `parseISO` to parse strings.

[2019-04-04 07:43] phcloud commented on #1135
In addition,
`isValid(123)` // true,
`isValid(123214324)`  // true
they are not valid timestamp, why return true?

The version of date-fns what i use is "2.0.0-alpha.27"

[2019-04-04 11:15] #1118 closed

[2019-04-04 16:48] goofballtech commented on #1135
Same here for isValid and isDate. I am using it to check if a given string is a placeholder value of '0000-00-00' or null. When the above functions are called the expectation is a return of false but instead it looks like these function pass to var to the subsequent toDate() and the error is triggered there.

[2019-04-04 17:15] trevordmiller opened #1136 "Is the size increase expected for v2?"
Looks like size goes from `6.5k` in `1.30.1` to `14.4k` in `2.0.0-alpha`:

![image](https://user-images.githubusercontent.com/5497885/55574842-a00b7a00-56ca-11e9-939a-439903d3b3e1.png)

[2019-04-05 16:45] bmunnabe opened #1137 "Adding duration to date return wrong dates"
Version :
"date-fns": "^1.30.1",

[code]
arguments values,

date : "2019-02-28T18:30:00.000Z"
seconds : 0
days : 1
months : 1

Actual result : 2019-04-01T18:30:00.000Z
Expected result : 2019-03-29T18:30:00.000Z or 2019-03-30T18:30:00.000Z

Could you please confirm is this bug or how to handle this scenario ?

[2019-04-06 11:08] redgenie opened #1138 "Does not work with Node v11"
There's a dependency `upath` that's preventing `date-fns` from being installed with node v11. The error is:

```upath@1.0.4: The engine "node" is incompatible with this module. Expected version ">=4 <=9". Got "11.1.0"```

Maybe date-fns should upgrade `upath`.

[2019-04-06 11:17] #1138 closed

[2019-04-06 11:18] redgenie commented on #1138
It was because of another issue. Sorry about that.

[2019-04-06 11:29] roman40a opened #1139 "parse (1.29.0): parse('2013-1-12') return Invalid Date in IE"
const invalidDate = parse('2013-1-12'); // Invalid Date in IE

But if you add the second character in the number, the date will already be valid:
const validDate = parse('2013-01-12'); // Valid Date

This problem is only in IE.

[2019-04-06 23:58] ranaclyde opened #1141 "isToday is not available in v2.0.0-alpha.xx?"
Cannot find module 'date-fns/is_today'

[2019-04-07 07:53] christiaanwesterbeek opened #1142 "Weird first experience in React with this library"
Just tried the first example without any prior knowledge of date-fns.

[code]

https://codesandbox.io/s/n9p5qjjozl

Of course, I'm doing something wrong. And I probably learn what in the next 10 minutes. This issue is to tell that you may scare off some first-time users wanting to try the first example they see on the homepage in React and run back to `moment`.

[2019-04-07 08:06] christiaanwesterbeek commented on #1142
I now know that I should have

[code]

Still weird though that format `iiii` is the first example on the homepage, but not on https://date-fns.org/v1.30.1/docs/format . I confess though that I should have placed `Today is a` out of the format function from the start.

[2019-04-07 08:06] #1142 closed

[2019-04-07 17:32] TrySound commented on #1136
New stuff is added so yes. It should not be a problem. API is full of functions which are easily treeshakable by any bundler. Though you still may import stuff like `date-fns/addDays`.

[2019-04-07 23:19] ranaclyde opened #1143 "DateTime format in input type="datetime-local""
Hello,

This is my JS code
[code]
and my HTML code
[code]
However, I get the following warning:

![image](https://user-images.githubusercontent.com/19784573/55691182-cd2d8600-5971-11e9-8c7e-c4f9dfb0ba56.png)

and it does not show anything in the input

![image](https://user-images.githubusercontent.com/19784573/55691209-1251b800-5972-11e9-97a0-2eabdea5a8ed.png)

Sorry, my English is very bad.

Tha

[2019-04-08 01:27] pbrianmackey commented on #840
I downloaded this library to solve this problem.  Now I see it isn't supported.

[2019-04-08 20:49] ranaclyde commented on #1143
Hello,

I've fixed it enclosing the T between single quotes `yyyy-MM-dd\'T\'HH:mm`.

Thanks

[2019-04-08 20:49] #1143 closed

[2019-04-08 20:52] ranaclyde commented on #1141
Hi,

Now, the correct funtion is `isSameDay(new Date(), date)`

Thanks

[2019-04-08 20:52] #1141 closed

[2019-04-08 22:40] #1136 closed

[2019-04-09 15:03] kakadiadarpan commented on #732
If anyone is still looking for a utility like this, check this out: https://github.com/zeit/ms

[2019-04-10 14:43] manas-hegde opened #1145 "npm install not getting "ar-sa" folder"
When i do npm install date-fns, am not getting ar-sa folder in my node modules

[2019-04-12 04:27] anhlt2710 commented on #1035
When I installed the date-fns, I did not receive folder vi in node-modules/date-fns/locale

[2019-04-12 06:40] anhlt2710 commented on #1145
try:
`npm install date-fns@next`

[2019-04-12 06:45] manas-hegde commented on #1145
@anhlt2710 that helped me Thanks. I am using date-fns with react-datepicker. so with ar-SA locale can i covert my datepicker in to Hijri datepicker?

[2019-04-12 07:25] #1145 closed

[2019-04-12 16:14] GitHubGreg opened #1146 "Can't resolve 'date-fns/distanceInWords'"
I've updated to 2.0.0-alpha.27 to get access to fromUnixTime.

But I received an error in other components where I used distance_in_words:
`Can't resolve 'date-fns/distance_in_words'`

I therefore changed it to distanceInWords but still get an error:
`Can't resolve 'date-fns/distanceInWords'`

[2019-04-15 04:53] corysimmons opened #1147 "Why move towards such verboseness?"
I went to format a Postgres timestamp with `format(myTimestamp, 'MM/DD/YYYY')` like I have a million times in the past, and got an error about `myTimestamp` now needs to use some `parseISO` function, so... okay. I added that... then I got an error about `format` needing to have some option enabled to understand unicode, so I added that then it still broke the date.

I messed around with it on RunK

[2019-04-15 15:12] stefanprobst commented on #1147
You could use the [new formatting patterns](https://github.com/date-fns/date-fns/blob/master/docs/unicodeTokens.md)

[2019-04-15 16:28] dmclavel commented on #571
This seemed to have worked, thanks. But I hope that this issue should be fixed soon.

[2019-04-15 20:00] Maryna-Yelakova commented on #1126
I have similar problem. When I set "2019-04-06T21:00:00Z" startOfDay() returns Sun Apr 07 2019 00:00:00 GMT+0300

[2019-04-15 22:59] corysimmons commented on #1147
I'm happy to tweak formatting patterns a bit to adhere to a standard, but the `format(parseISO(), 'xxx', { options... })` stuff is a lot. I think most people would want to `parseISO` and `awareOfUnicodeTokens: true` by default.

Perhaps date-fns could include a helper function like `quickFormat(aTimestamp, 'MM-dd-yyyy')`? 🤷‍♀️

[2019-04-16 03:38] dteirney opened #1148 "Expected behaviour for parse(null) - epoch or invalid date?"
We recently ran into an unexpected output from parse that seems inconsistent. When `null` is passed as the argument the epoch is returned (similar to if 0 had been supplied).

We'd have expected an invalid date to be returned for this case, to match what happens when `undefined` is provided. The standard behaviour for Date appears to be return `NaN` when `null` is supplied, as happens when `undefi

[2019-04-16 04:29] hudsonr2018 commented on #671
Is it already fixed? I'm facing this problem.

[2019-04-16 14:35] matepaiva commented on #908
I will leave my comment here with the hope that someone has the answer.

I want to have a response that is equal to the `distanceInWordsStrict`, but I don't want it to round the result. For example, if the diff is 1h35, I want it to result `1 hour 35 minutes` or something like that. Can I do that with date-fns?

[2019-04-17 11:27] iampeterbanjo commented on #1146
I had a similar issue with importing locale. Please see #666

From the thread your issue might be due to changes in the alpha release:

Looking at the [exported modules in the source code](https://github.com/date-fns/date-fns/blob/master/src/index.js) I would say that `distance_in_words` is not exported in your version. Maybe you're looking for [version 1.30.x](https://date-fns.org/v1.30.1/docs/di

[2019-04-18 14:57] xurei commented on #1128
I have a similar issue.
I'm creating a library is typescript to be used by a react app (Webpack, non-typescript).
This builds the library:
[code]

But it does not build in the React app. The code expected by Webpack is:
[code]

[2019-04-18 15:30] xurei commented on #1128
I found a solution for my issue.

By adding `"esModuleInterop": true` in tsconfig.json, I can use the right syntax, and it builds in the React app.

I don't think that the code needs any change. Yet, I would add a notice in the README regarding this.

[2019-04-18 16:48] bwobst commented on #1141
I don't see that change in the [upgrade documentation](https://date-fns.org/v2.0.0-alpha.27/docs/Upgrade-Guide). Can it be added? I also noticed that `isFuture` is no longer supported in v2.

[2019-04-18 16:52] TrySound commented on #1141
@bwobst Here's full changelog
https://github.com/date-fns/date-fns/blob/master/CHANGELOG.md

[2019-04-18 19:31] bwobst commented on #1141
Thank you @TrySound!

[2019-04-20 01:43] zackkrida commented on #1147
for what it's worth, i just made a lil' helper function in my project for these changes:

`const formatTimestamp =
	timeString => format(parseISO(timeString), 'xxx', { options... })`

I'm torn on the verbosity— 👍 for adding flexibility and explicitness, but also, so much code 👎

[2019-04-20 20:54] #1147 closed

[2019-04-23 12:55] allanhoumark commented on #1061
Any reason this is not merged into master (year I know it has to go through code review/PR, but it seems like there not much activity)
Is it a priority problem or a finance problem (is it possible to donate money, so somebody could spend time on this PR?)

[2019-04-23 13:50] MathiasKandelborg commented on #1061
I've elaborated what I think is going on in #1071

It seems the authors have gone on vacation from open source.

For now, I've published the PR as [an NPM package](https://www.npmjs.com/package/kandelborg-date-fns)

[2019-04-23 15:20] san-pblr-gct commented on #1014
I am getting compilation error due to unsupported locales present inside locale folder. Any solution?

[2019-04-25 01:09] zirho opened #1150 "ko language support for V2"
working on it

[2019-04-25 01:13] zirho commented on #1150
duplicated https://github.com/date-fns/date-fns/pull/1100

[2019-04-25 01:13] #1150 closed

[2019-04-25 05:49] minitesh commented on #1148
@dteirney

I think as per the documentation, if the argument passed is not either string, number of Date instance, the function passes the given argument to Date constructor.
So it will call `new Date(<ARGUMENT>)` instead of `Date.parse(<ARGUMENT>)`

`
dateFns.parse(null)
Date 1970-01-01T00:00:00.000Z
new Date(null)
Date 1970-01-01T00:00:00.000Z

dateFns.parse(undefined)
Invalid Date
new Date(unde

[2019-04-26 05:52] minitesh commented on #1137
@bmunnabe

I think the result what you are getting is right
Lets split down what you have done
1. You are adding seconds
[code]
Result :- 2019-02-28T18:30:00.000Z

2. Then you are adding days to above result
[code]
Result :- 2019-03-01T18:30:00.000Z

3. And lastly you are adding Month to the above result
[code]
Result :- 2019-04-01T18:30:00.000Z

Whatever you have return is doing to work in this s

[2019-04-26 05:58] minitesh commented on #1104
@trevorah
Its a duplicate of #544 and #606

@yuanjiu041  Its already fixed but available only in alpha releases.

[2019-04-26 07:23] temich080 opened #1151 "No default jsDelivr CDN file set"
[This package](https://www.jsdelivr.com/package/npm/date-fns) doesn't have a [default file](https://www.jsdelivr.com/features#publishing-packages) set. You can set it via `jsdelivr`, `browser`, or `main` field in `package.json`

[2019-04-26 07:58] tilonorrinco opened #1152 "Optional values in parse function"
Hello! The version of dateFns I use is 2.0.0-alpha.27.

I have array with date strings to parse.
Format token is yyyy-MM-dd HH:mm:ss , but sometimes part with hours-minutes-seconds is omited.
Array looks like this:
const arr = ['2017-03-03 12:45:23', '2017-04-05']

When I run
arr.map(date => dateFns.parse(date, 'yyyy-MM-dd HH:mm:ss', new Date()) I have error "invalid date" for second date.

How ca

[2019-04-26 14:30] klompenrunner commented on #584
Just like me you might have ended here in search of the additional functionality.

`dateFns.differenceInDays(date1, date2) - dateFns.differenceInCalendarWeeks(date1, date2) * 2`

is meeting my needs for now.

It doesn't exclude holidays days; but excluding those will be such a localization nightmare. Business apps would typically need to follow the businesses holidays anyway.

[2019-04-26 14:44] sgasimov opened #1153 "Azerbaijani language support"

[2019-04-26 19:53] NourSammour commented on #1022
@Viperwow Did you solve it?

[2019-04-26 19:55] TrySound commented on #1022
I get Locale this way
[code]

[2019-04-26 21:01] Viperwow commented on #1022
I didn't solve it by myself, but @TrySound might be found a workaround

[2019-04-30 15:11] LC43 commented on #232
any update on this? we have a project that still uses requirejs, and the bundle is missing the i18n packages :)

[2019-04-30 15:40] joziahg commented on #1131
I had the same issue with iso 8601 dates parsing a day off, even with new Date(). Using parseISO() solved it however.

[2019-05-01 12:26] elmomalmo opened #1156 "Cymraeg (Welsh) language support"
I'm assuming this isn't already being done, since there are no issues for it. ISO code for Cymraeg is 'cy'.

I'd like to contribute this.

[2019-05-01 16:52] joziahg opened #1157 "2.0.x compare two dates with isEqual ignoring timestamps"
Hey all, I'm relatively new to this library and had some questions. In the 2.0 alpha, many functions that generate their own current date were removed, specifically isPast and isFuture. The docs say you can replace these with isBefore and isAfter. This works except when the date is equal to the current date.

From an array of dates, I need to return an array of dates that is on or after the curren

[2019-05-02 01:38] jemerald commented on #1157
Try `startOfDay` function?

[code]

[2019-05-02 02:28] jemerald commented on #1152
`parseISO` should work for you?

[2019-05-02 02:31] jemerald commented on #869
Could compose with `startOfDay`: `isAfter(startOfDay(date1), startOfDay(day2))`

[2019-05-02 04:50] evdama opened #1158 "[feature] [storybook] overriding system time"
Storybook testing requires consistent input data such as time, especially when using visual regression tests for QA using chromatic https://docs.chromaticqa.com/test ---> _Ensure test consistency to prevent false positives_

They mention https://github.com/schickling/timemachine but then I was wondering, does date-fns provide that functionality too?

[2019-05-02 14:05] joziahg commented on #1157
This solution works, but I solved it by swapping the isEqual for an isSameDay. Thanks for the reply!

[2019-05-02 14:05] #1157 closed

[2019-05-05 19:40] artursvonda opened #1159 "eachWeekOfInterval options typing missing locale"
Looks like, although options are passed from `eachWeekOfInterval` to `startOfWeek` as is, it's type is missing `locale` option in `eachWeekOfInterval`.

I can update them. Are typings generated or manually edited?

[2019-05-06 05:44] san-pblr-gct commented on #1014
I did a work around.

I created supportingLanguages.js with

const supportedLanguages = {
  af: async () => await import("date-fns/locale/af/index.js"),
  arSA: async () => await import("date-fns/locale/ar-SA/index.js"),
  bn: async () => await import("date-fns/locale/bn/index.js"),
  de: async () => await import("date-fns/locale/de/index.js"),
  el: async () => await import("date-fns/locale/el/in

[2019-05-07 20:15] nimish-gupta opened #1160 "Bug: isFuture showing invalid date to be true"
Date fns version = 1.30.1

[code]
[code]

[2019-05-09 12:56] keremdulye opened #1162 "Turkish language support"
Can you update your code for Turkish language because in our project we can not give Turkish language support

[2019-05-09 13:02] jsdw opened #1163 "Bug: eachDay produces incorrect results for non-local dates"
Using the latest stable dateFns (1.30.1) running:

[code]

Produces the console output:

[code]

As we can see, **the dates are pushed back by one day with respect to UTC time**, because the hour/minute/second/ms are zeroed out with respect to the local timezone (because I am in UTC+1, the local hour is 1am, and resetting that back to 0 pushes the dates returned back by one hour).

By being explic

[2019-05-10 13:39] MustSeeMelons commented on #849
@ScottAgirs Are you still interested in doing this?

[2019-05-10 14:59] ScottAgirs commented on #849
I am, at the moment, however, at max capacity work-wise 🙊- are you waiting for this?

[2019-05-10 15:24] MustSeeMelons commented on #849
@ScottAgirs Yup, we need this. If you wish, you can give me the issue.

[2019-05-12 19:43] felix9 opened #1164 "changing the semantics of format() makes upgrading hard"
Is it too late to keep format() the same as 1.x and move the new semantics to a new function called uniFormat() or fmt() or whatever?

I'm inclined to never upgrade to 2.x because it would take a lot of work to identify all the places that date format strings need to be changed when several come from external sources.

I mean, the obvious fix is to replace all calls to format() with some shim v1fo

[2019-05-12 22:40] wouterds opened #1165 "Is date-fns abandoned?"
Just noticed there haven't been any updates lately and V2 seems to be on halt.

[2019-05-13 12:37] jsdw commented on #1163
Actually, in looking more thoroughly at this issue, I have determined that what I am seeing is caused by:

- dates not being TZ aware (stored in terms of UTC milliseconds.
- eachDay always providing results back in the context of local time zone, and zeroing the hour/minute/second/ms which can have the effect of pushing the returned date back to a previous day.

A possible fix would be to leave th

[2019-05-13 14:45] loudmouth commented on #1135
Same here...

[2019-05-14 07:43] shroudcloud commented on #1120
2 months after opening this issue, still not resolved? is there any workaround at least?

[2019-05-14 11:54] maciej-gurban commented on #556
@marnusw Would you consider creating a v1 version? The v2 is still in alpha so it's likely to take awhile before it reaches maturity

[2019-05-15 06:01] kuldipem opened #1166 "Hindi language support"
I'm willing to add the Hindi language support

[2019-05-15 07:15] Shooshte opened #1167 "Slovene (sl-SI) language support"
Working on adding sl-SI language support, opening issue for all realated discussions.

[2019-05-15 07:20] Shooshte commented on #1167
Closing, language allready supported but not listed on the doc page...

[2019-05-15 07:20] #1167 closed

[2019-05-15 14:19] mukuljainx opened #1169 "Feature Request: IsValid to accept 2nd param as dateFormat and validate date against it"
Right now, `isValid` accepts the only date and cannot check date against a given format, it will really help if it can or any other function can check date, if provided as a string against a given format. I have already written code for it as it was required in one of my projects, will be happy to raise a PR if seems the valid case to others.

[2019-05-16 08:46] demkovych opened #1170 "Can't resolve"
`./node_modules/date-fns/locale/ru/_lib/formatRelative/index.js
Module not found: Can't resolve '../../../../_lib/isSameUTCWeek/index.js' in 'C:\dev\node_modules\date-fns\locale\de\_lib\formatRelative'`

[2019-05-16 14:53] jameytsg opened #1171 "Format API returns previous day"
Thank you for all that you do! Big fan of your work.

**Issue:**
Feeding "today" to `format` returns "yesterday"

For context, these screenshots were taken 5/16/2019.

In the console log photo, the original date string returns the 16th. When it passes through `format` it transforms to the 15th. (and so forth relative to the passed date)

**Example:**
https://codesandbox.io/s/datefns-issue-1171-wfz

[2019-05-17 00:31] JoBrad commented on #1099
I'd like to add another option to this: if parse accepted an expected date format, or an array of date formats to use when parsing the provided date, that would be amazing. I currently have to support both US-style and ISO-style dates, and this is keeping me from using date-fns. :(

[2019-05-17 10:14] prudolfs commented on #849
work in progress https://github.com/prudolfs/date-fns

[2019-05-17 13:04] onoranzefunebricloud opened #1173 "parseISO throws Cannot read property 'match' of null"
[code]

[2019-05-20 07:53] hlthi commented on #1162
There are already 2 Turkish Language pull request,
[#1123](https://github.com/date-fns/date-fns/pull/1123)
[#1107](https://github.com/date-fns/date-fns/pull/1107)

But @leshakoss doesn't look around :/
[#1165](https://github.com/date-fns/date-fns/issues/1165)

[2019-05-20 13:33] kasperlauge commented on #376
@evenfrost

Doesn't your solution do the opposite of the intention? I just compared the result from your solution:

[code]

Compared with moment:

[code]

Or maybe I misunderstood something?

[2019-05-20 21:35] wilarz89 opened #1174 "Scrolling forward by weeks results on RangeError on 10th click forward or 3rd week back."
Right now I am creating a datepicker component that can scroll forward or back by day,week, month and year.

All but week work fine where I manipulate 2 dates so the datepicker shows the start of week and end of week.

When I click forward 10 times or 3 times backward I get and error in the format function.

let last = format(
        endOfWeek(new Date(value), { weekStartsOn: 1 }),
        'dd MM

[2019-05-21 00:59] dteirney commented on #1148
Thanks for the reply. I guess we chalk this up to yet another inconsistency in how Date parsing is handled in ECMA Script.

[code]

Is there a reason the Date constructor is used rather than `Date.parse()` when the function in `date-fns` is called `parse`? At least for our usage scenarios where we are parsing content from API responses, the behavior  of `Date.parse()` fits better with what we had

[2019-05-21 12:11] ovcOS commented on #571
If you set your time zone to UTC in your environment you won't have to worry about DST.
Run `export TZ=UTC` in your console for development purposes, and set it on your server for production

[2019-05-21 12:18] GonchuB commented on #571
@ovcOS what if I don’t know the timezone and I don’t care about it? Which one should I set?

My questions are rhethorical. If you want to be timezone agnostic this does not help. If you want your code to work a fixed timezone per env, it will.

[2019-05-21 12:22] ovcOS commented on #571
@GonchuB  as I understand, UTC is time zone-agnostic, therefore you don't need to know your TZ. With the command above you are disregarding any local TZs and setting your time to universal

[2019-05-21 12:49] GonchuB commented on #571
@ovcOS no, that is the whole point. Check the difference between addMonths and agnosticAddMonths https://github.com/date-fns/date-fns/issues/571#issuecomment-470859100

[2019-05-21 13:40] prudolfs commented on #849
done, need to prepare for PR and wait for accept -> https://github.com/prudolfs/date-fns/tree/master/src/locale/lv

[2019-05-21 13:47] ovcOS commented on #571
@GonchuB I've seen the difference. I believe you may be missing the point. UTC does not care about time zones or daylight savings. Therefore, setting your machine and server to UTC will disregard these issues. It works for me. Anyone else struggling with this should give it a try.

[2019-05-21 13:50] prudolfs commented on #849
@ScottAgirs from what I understand you don't have any implementation yet? I hope I'm not overlapping with this one.

[2019-05-21 13:51] GonchuB commented on #571
@ovcOS what if we run in the browser, I cannot enforce UTC (or makes no sense for a test to run enforcing UTC)

[2019-05-21 14:04] tiagoengel commented on #571
I think there are two unrelated issues being discussed here. The original problem being discussed is DST related, is only timezone related because it only happens in timezones where DST change is at midnight. It will indeed not happen if one uses UTC but that is not the point, some people need to use "timezoned" dates. Also, converting back from UTC to a date with timezone will incur in the same p

[2019-05-22 14:04] danielo515 commented on #229
Still not on the roadmap ?

[2019-05-23 02:59] shockw4ver opened #1176 "Weird problem of format api."
I used format to output a date string like:
[code]
Normally the d and the H position should be 0, but got '4.8', any mechanism in this operation?

[2019-05-23 05:42] imPranavKale commented on #1176
As per my timezone
[code]
When we use [dateFns.format()](https://date-fns.org/v1.30.1/docs/format) method, d stands for 'Day of week' and H stands for 'Hour'. Hence
[code]
This seems right, why are you expecting it to be 0.0?

[2019-05-23 14:53] Puritanic commented on #489
This helped with solving similar problem of mine, but I don't fully understand what you've done here. Can you @jsonberry or someone else explain why did you subtract one month from the date?

[2019-05-23 15:46] lewell94 commented on #533
Hi, is there any news on a fix for this? We have just encountered this issue using 1.30.1

[2019-05-23 21:35] gihdz commented on #489
Because the Date constructor accepts the month as a zero-based integer, meaning that 0 = January and 11 = December.

@Puritanic

[2019-05-23 22:34] anyayunli commented on #229
Still not on the roadmap ? +1

[2019-05-24 06:53] Puritanic commented on #489
Ooh, didn't know that. Thanks for explaining @gihdz!

[2019-05-24 07:20] shockw4ver commented on #1176
@imPranavKale
Sorry about that, I didn't get it's counted from new Date(0) as I thought from just 0...
Thanks for disabusing!

So how could I format a duration between two date to 'd.h.m.s'?

[2019-05-26 23:28] ekschro commented on #1173
I just tried passing your argument `"2019-05-16+02:00"` through the v1 API equivalent of `parseISO`, `parse`.  I think your format maybe invalid.

The results were as follows:
[code]

I believe you forgot to specify the time of day.  By changing you argument to `"2019-05-16T00:00+02:00"`, it translates to **midnight of February 5th, 2016 with a time offset of +02:00**.

 When passing my changes in

[2019-05-29 16:42] sonyarianto commented on #232
@kossnocorp please support l18n on CDN version ;)

[2019-05-30 09:22] y6nH commented on #1171
Makes sense if you're in a timezone west of UTC. Because a date without a time resolves to 00:00:00, if you're in, say, Rio, in UTC-3, it's still 9PM the previous day when it's midnight on the Meridian.

[2019-05-30 13:00] tclancy commented on #988
That looks like the same issue [`pytz` has](https://typesandtimes.net/2019/05/royal-astronomical-society-python). You're seeing the timezone offset for New York City itself:

[2019-05-30 18:58] danieldias51 commented on #435
I also would like to have this feature, I'm already wrapping in my projects the function distanceInWordsStrict to return the outwith with only m, h, w, etc..

[2019-05-30 20:02] jameytsg commented on #1171
Never thought of it like that. Interesting.

I'm trying to think of the best way to do something like this

[code]

Wondering how I would avoid that issue?

[2019-05-31 18:05] evenfrost commented on #376
@kasperlauge

You pass a date to `moment.utc` and it converts it to UTC date (in your case it's 10:00 GMT). Then, you use `.toDate`, which outputs this date in your local timezone (e.g. 12:00 GMT+0200, means + 2 hours).

[2019-05-31 19:56] niconiahi commented on #853
I created a helper function to kind of control this.

`const postDateFormatter = () => {
    switch (true) {
      case distanceInWordsToNow(post.created_at).includes('hour'):
        return distanceInWordsToNow(post.created_at)
          .slice(0, 2)
          .trim()
          .concat('h')
        break
      case distanceInWordsToNow(post.created_at).includes('minute'):
        return distanceI

[2019-06-02 02:37] janat08 opened #1177 "cannot find module toInteger"
Cannot find module 'date-fns/_lib/toInteger/index.js' from 'index.js'

required by date-fns-tz

[2019-06-02 02:57] janat08 commented on #1177
didn't install peer dependency

[2019-06-02 02:57] #1177 closed

[2019-06-02 13:07] corysimmons commented on #366
For anyone Googling for how to get `[----[ I'M A RANGE INSIDE SOME DATE BOUNDS ]----]`

...or `sameOrBefore`, or `sameOrAfter`...

[code]

[2019-06-03 09:58] #1097 closed

[2019-06-03 12:18] kossnocorp commented on #1165
No

[2019-06-03 12:18] #1165 closed

[2019-06-03 12:20] kossnocorp commented on #1127
That would be cool to have. PRs are welcome!

[2019-06-03 12:23] kossnocorp commented on #1174
Please check what's the value of `value` which gives you the error.

[2019-06-03 12:25] kossnocorp commented on #1170
Please share more info. What's the library version, is the file actually exist on the disk?

[2019-06-03 12:28] kossnocorp commented on #1173
`2019-05-16+02:00` is not valid [ISO format](https://en.wikipedia.org/wiki/ISO_8601).

@ekschro thank you for checking the issue!

I assume I can close the issue.

[2019-06-03 12:28] #1173 closed

[2019-06-03 12:31] kossnocorp commented on #1169
Sounds reasonable, but `isValid` is a bad place for that. I suggest creating a new function `isMatch`.

[2019-06-03 12:40] kossnocorp commented on #1176
Sorry, at the moment, date-fns doesn't support durations. I advise you to write a custom function that would format the distance, i.e.:

[code]

[2019-06-03 12:40] #1176 closed

[2019-06-03 12:42] kossnocorp commented on #1166
Please, do!

If you have changed your mind or don't have time anymore, please close the issue.

Thanks!

[2019-06-03 12:50] kossnocorp commented on #1164
I understand your pain, but that's a necessary evil for the greater good.

Regarding something like `v1format`, I like the idea but as a separate package. If you or someone is willing to help, I'll gladly assist with advice.

[2019-06-03 13:04] kossnocorp commented on #1171
As @y6nH noted, because you store dates in UTC strings depending on your timezone you'll be getting different results. If these dates are coming from the API you can process them like that:

[code]

I know that's not ideal, but the problem will be solved with the introduction of UTC functionality.

If you create dates in the browser `eachDayOfInterval` should help you. If it's not a case, please d

[2019-06-03 13:04] #1171 closed

[2019-06-03 13:14] kossnocorp commented on #1128
You're right we should change it to `export default`. As far as I know, it won't introduce any problems.

[2019-06-03 13:18] kossnocorp commented on #1158
You can start storybook with `TZ` env var to make it always run in the same timezone:

[code]

[2019-06-03 13:18] #1158 closed

[2019-06-03 13:24] kossnocorp commented on #1126
That happens because you store dates in UTC, but when you create a date from it, it transforms to the **local** time zone:

[code]

When there was 21:00 in UTC, it was actually 01:00 (next day) in my local timezone. And that's the correct behavior.

I can suggest you solutions, but they depend on what you are trying to achieve.

Please reopen the issue with more details about your use case so I ca

[2019-06-03 13:24] #1126 closed

[2019-06-03 13:28] kossnocorp commented on #1139
`2013-1-12` is not valid ISO 8601 date, it should be `2013-01-12`. I'm not sure where's the string coming from, but I would advise you to store dates in the ISO format. If it's not possible, you can parse that manually:

[code]

[2019-06-03 13:28] #1139 closed

[2019-06-03 13:33] kossnocorp commented on #1148
We have changed the behavior in v2, now all functions implicitly convert arguments by following rules:

  |           | date          | number | string      | boolean |
  |-----------|---------------|--------|-------------|---------|
  | 0         | new Date(0)   | 0      | '0'         | false   |
  | '0'       | Invalid Date  | 0      | '0'         | false   |
  | 1         | new Date(1)   | 1

[2019-06-03 13:33] #1148 closed

[2019-06-03 13:37] kossnocorp commented on #1146
The function was renamed to `formatDistance`, see: https://date-fns.org/v2.0.0-alpha.27/docs/formatDistance

[2019-06-03 13:37] #1146 closed

[2019-06-03 13:40] kossnocorp commented on #1134
That would be a useful addition! The token for that is `W`. PR is welcome!

[2019-06-03 13:42] demkovych commented on #1170
I'm using date-fns 2.0.0-alpha.27 on windows.

[2019-06-03 13:50] kossnocorp commented on #1099
We've changed `parse` behavior in v2, and now it accepts token string same as `format`. v1 `parse` was renamed to `toDate`.

[2019-06-03 13:50] #1099 closed

[2019-06-03 13:53] kossnocorp commented on #1120
These locales are there, so contributors could adapt them to v2.

[2019-06-03 13:53] #1120 closed

[2019-06-03 13:55] kossnocorp commented on #1115
Not exported locales aren't adapted for v2.

[2019-06-03 13:55] #1115 closed

[2019-06-03 13:58] #1104 closed

[2019-06-03 14:09] kossnocorp commented on #1110
As you assumed, these tokens were removed because adding default locale to `lightFormat` would make it not so light. In the future, we'll try to make both `format` and `parse` more lightweight or add something like `lightFormat` directly to locales but for the time being please use `format` if you need month names.

[2019-06-03 14:09] #1110 closed

[2019-06-03 14:12] kossnocorp commented on #1039
I personally use v2 alpha in my production apps, but you didn't hear it from me 😉 v2 is coming, please be patient.

Btw thank you for the kind words!

[2019-06-03 14:12] #1039 closed

[2019-06-03 14:14] kossnocorp commented on #1153
If you're willing to help with that, please state so and reopen the issue so that I can label it as "claimed".

[2019-06-03 14:14] #1153 closed

[2019-06-03 14:15] kossnocorp commented on #1156
Please do! I've marked the issue as "claimed" so no one else would start working on that. If you have changed your mind or don't have time for that anymore, please close this issue.

[2019-06-03 14:22] kossnocorp commented on #1131
Thanks, everyone for helping with the issue!

In v1 we used `new Date()` to parse the dates, but when you pass string without timezone to `new Date()` it creates the date in UTC and then transforms it to the local timezone.

Because of that and parsing differences in browsers, we removed the implicit string parsing and introduced `parseISO`.

[2019-06-03 14:22] #1131 closed

[2019-06-03 14:23] kossnocorp commented on #1133
If you're willing to help with that, please state so and reopen the issue so that I can label it as "claimed".

[2019-06-03 14:23] #1133 closed

[2019-06-03 15:03] kossnocorp commented on #1170
Do you have a similar problem with other functions? Unfortunenlty, I don't have quick access to Windows machine and I'm puzzled that something like that could break.

[2019-06-03 15:33] kuldipem commented on #1166
I will start by this weekend.

On Mon, 3 Jun 2019 at 6:12 PM, Sasha Koss <notifications@github.com> wrote:

--
*KULDIP PIPALIYA*
Skype    :- *kuldip.pipaliya*
Website :-  http://www.kuldippipaliya.com

[2019-06-03 15:41] demkovych commented on #1170
I think it's only happens with `format` function

[2019-06-03 15:48] kossnocorp commented on #1166
Great, thank you, Kuldip!

[2019-06-03 15:50] marnusw commented on #1016
I've been thinking about this change quite a bit because, to be honest, for me it has been a blocker upgrading many of my projects from `alpha.26` to `alpha.27`. My concern is not so much that arbitrary date strings (e.g. partial ISO dates) are no longer supported, but rather that the fully formed ISO date output from `JSON.stringify(new Date())` can no longer be used.

It was awfully convenient t

[2019-06-03 16:47] kossnocorp commented on #1016
@marnusw I feel your pain. I want to keep date-fns as reliable and lightweight as possible but it shouldn't be too painful. After a while, I see why this change might be painful, so I find your idea appealing. I need to think a bit about what you just said, however here's what I don't like about it:

- JS never throw exceptions if arguments are incorrect because you don't want your application bre

[2019-06-03 22:42] piotrl commented on #1135
I tested it on fresh project: As long as documentation needs to be updated - `isValid` function works as expected.

It does *not throw error*, it returns `false` and *log message and stacktrace to console*.

[2019-06-03 22:59] piotrl commented on #863
Also cannot reproduce on v2.0.0-alpha.27.

Here is example on stackblitz: https://stackblitz.com/edit/typescript-gjlx4o?file=index.ts

Note that result can be 59 seconds when we add few seconds or milliseconds to smaller date.
[code]

[2019-06-03 23:42] piotrl commented on #883
I analysed log, it seem deprecation warning about `Buffer` comes from yarn - we're using it in version `1.3.2`, and since `1.10.0` [the warning is gone](https://github.com/yarnpkg/yarn/releases/tag/v1.10.0).

I tested it on local machine with yarn `1.12.3` and I confirm - there is no deprecation warning anymore.

[2019-06-04 06:40] kossnocorp commented on #1159
Closed by #1179. I'll ship the fix in the next version.

[2019-06-04 06:40] #1159 closed

[2019-06-04 07:22] mukuljainx commented on #1169
@kossnocorp, cool, I will raise a PR soon for `isMatch` 🤘

[2019-06-04 07:27] kossnocorp commented on #1169
Thanks!

[2019-06-04 08:31] #1128 closed

[2019-06-04 08:31] kossnocorp commented on #1128
This will go live with the next release.

[2019-06-04 08:35] lx-931203 opened #1181 "[FEATURE REQUEST] new function | validate format string for `format` function"
Hello,

assume that user specify desired format string at runtime - how to validate it?

[2019-06-04 09:23] kossnocorp commented on #1181
Hey, take a look at https://github.com/date-fns/date-fns/issues/1169 I think this is what you're looking for.

While it's in development, you can use `parse` function with a specific format and then check if it's a valid date.

[2019-06-04 09:23] #1181 closed

[2019-06-04 13:46] codepunkt opened #1182 "Stop using package.jsons for dist metadata"
There are lots of package.jsons in subfolders of the date-fns node_module.

I'm not sure why they are there, but they fuck with automation used around package management, such as licensing automation (e.g. webpack-license-plugin), for which it is important to find out the node_module that a file belongs to. This is done by recursively walking the directory tree and looking for a package.json file

[2019-06-04 14:47] kossnocorp commented on #1135
@piotrl thank you for testing it! You're right about the message. I'll fix that.

[2019-06-04 14:47] #1135 closed

[2019-06-04 15:49] kossnocorp commented on #1182
These `package.json` are there to enable tree-shaking. There's no alternative solution for pointing to ES Modules, so soon that will be a common approach to libraries that distribute both CommonJS and ES Modules. Given that, this is a problem of webpack-license-plugin, not date-fns.

[2019-06-04 15:49] #1182 closed

[2019-06-04 16:01] kossnocorp commented on #1163
First of all, thank you so much for taking the time and explaining your problem in detail! We've addressed this problem in v2.

In v1 we rely on `Date` to parse string arguments, so when you pass ISO 8601 string without a timezone it creates date in UTC and then converts to the local timezone:

[code]

Because of that and parsing differences between browsers, we don't accept strings in v2 anymore,

[2019-06-04 16:01] #1163 closed

[2019-06-05 05:08] mort3za commented on #1114
Now it's merged.

[2019-06-05 05:08] #1114 closed

[2019-06-05 08:41] kossnocorp commented on #1162
Closed by #1107

[2019-06-05 08:41] #1162 closed

[2019-06-05 08:47] kossnocorp opened #1184 "Restore now-dependent functions"
These functions were removed so we can have "pure" FP. It was done with good intention but caused some users pain. Now I see that we can have both FP and now-dependent functions.

What needs to be done:

- Restore now-dependent functions.
- Adjust the FP generation and ignore these functions.
- Adjust docs to reflect the previous point.

See this gist for the full list of the functions: https://gi

[2019-06-05 10:36] #1058 closed

[2019-06-05 11:12] #1061 closed

[2019-06-05 13:05] codepunkt commented on #1182
@kossnocorp Thanks for the quick answer - didn't know about this! It kinda conflicts with the npm package.json definition, but i guess i'll have to deal with it differently then.

[2019-06-05 14:49] dsinkov-avanta opened #1185 "Can't import tr and id locales"
version 2.0.0-alpha.27
I'm trying to import some locales, but can't import 2 of them
[code]
in browser console i see this
`"export 'id' was not found in 'date-fns/locale'`
`"export 'tr' was not found in 'date-fns/locale'`

and this locales doesn't work (i see `en` fallbacks), but other does.
for `tr` locale it's probably because it uses
[code]
but there is no such file in my `node_modules` directo

[2019-06-05 15:19] kossnocorp commented on #1159
I've released the change as `v2.0.0-alpha.29`: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha29

[2019-06-05 15:55] kossnocorp commented on #1182
You're welcome. Let me know if you need help with explaining the reasoning in a webpack-license-plugin issue (or somewhere else).

[2019-06-06 06:52] kossnocorp commented on #1185
Hey, thank you for your report. We've forgotten to remove these locales from the outdated locales list. I'll fix that and issue another release.

[2019-06-06 07:50] kossnocorp commented on #1185
The problem was fixed in `v2.0.0-alpha.30`: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha30

[2019-06-06 07:50] #1185 closed

[2019-06-06 08:18] dsinkov-avanta commented on #1185
@kossnocorp thank you, but it still doesn't work properly.
Probably your script in `scripts/build/indices.js` works not as expected. If i manually add imports to `esm/locale/index.js`
[code]
all works grate.

[2019-06-06 08:21] kossnocorp commented on #1185
Yeah, I forgot to rebuild the lib before release. Sorry about that. `v2.0.0-alpha.31` is on the way.

[2019-06-06 08:55] minitesh commented on #1134
@kossnocorp
I would like to work on this. But I have a question, can I make use of existing function `getWeekOfMonth` or I will have to add new in `_lib`?

[2019-06-06 08:57] kossnocorp commented on #1185
`v2.0.0-alpha.31` is out: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha31

[2019-06-06 09:31] dsinkov-avanta commented on #1185
v2.0.0-alpha.31 works grate, thanks

[2019-06-06 09:47] kossnocorp commented on #1185
You're welcome!

[2019-06-06 20:55] mesterum commented on #376
@evenfrost nice hack but
`getUTCDate(new Date("2017-03-11T22:00")) -`
`getUTCDate(new Date("2017-03-11T21:00"))` is 0 for
$ env TZ="America/New_York" node

[2019-06-07 07:56] #1075 closed

[2019-06-07 07:58] #889 closed

[2019-06-07 09:34] kossnocorp opened #1190 "Rework TypeScript definitions"
- Define modules in the corresponding type definition instead of re-exporting from the root:

[code]

  →

[code]

- Make index definitions re-export from modules:

[code]

  →

[code]

[2019-06-07 11:30] kossnocorp commented on #609
I've reworked the constants:

- `minTime` & `maxTime` instead of `minDate` & `maxDate` as having them as numbers makes more sense.
- Removed `epochDate` as it could be represented by simple `0`

[2019-06-07 11:52] #609 closed

[2019-06-07 12:48] kossnocorp commented on #883
Note for me: at the moment `PST` passes but not `America/Sao_Paulo`.

[2019-06-07 12:49] kossnocorp commented on #204
I've introduced them: https://github.com/date-fns/date-fns/tree/master/test/dst

We'll be adding more along the way.

[2019-06-07 12:49] #204 closed

[2019-06-07 12:53] kossnocorp commented on #1052
Note for me: at the moment `PST` passes but not `America/Sao_Paulo`.

[2019-06-07 12:54] kossnocorp commented on #883
@piotrl thank you, I'm on it!

[2019-06-07 15:21] #883 closed

[2019-06-08 11:07] #875 closed

[2019-06-08 11:07] #1066 closed

[2019-06-09 04:05] kuldipem commented on #1166
I've started

[2019-06-09 04:59] light0x00 opened #1193 "Is this library pure?"
It's a great project. I love it.
But I see sideEffect is not set in package.json.
so Is this library pure?

[2019-06-09 07:13] TrySound commented on #1193
sideEffects field does not mean the library is pure. It's mostly a hack for webpack analyzer. Rollup uses it too but it's useful for more complicated cases like transpiled classes. This library is written with only functions.

[2019-06-09 09:06] kossnocorp commented on #1193
Thank you a lot!

It's set in v2 to `false` in the root directory and each module.

It depends on what you mean by pure. The library code doesn't produce side effects so can be tree-shaken (that's why we have `sideEffects`). If you mean FP-pure, then yes it doesn't use `Date.now` at the moment but I'm going to change that, see #1184 but anyways `date-fns/fp` will stay pure.

[2019-06-09 09:06] #1193 closed

[2019-06-10 18:00] kossnocorp commented on #1122
While [quarter is a common way to divide a year](https://en.wikipedia.org/wiki/Calendar_year#Quarters), there's no such thing for half of a year. I recommend using `addMonths(date, 6)` for that.

[2019-06-10 18:00] #1122 closed

[2019-06-10 18:02] kossnocorp commented on #1103
That's a grouse idea, mate!

[2019-06-10 18:08] kossnocorp commented on #1020
First of all, you shouldn't use `awareOfUnicodeTokens` if you intended to output the year. Instead, you need to use `yyyy` and `dd`. Also, the problem should be solved by now.

[2019-06-10 18:08] #1020 closed

[2019-06-10 18:09] kossnocorp commented on #1073
Fixed by https://github.com/date-fns/date-fns/pull/1183

[2019-06-10 18:09] #1073 closed

[2019-06-11 03:41] WinterGou opened #1195 "About chinese localization"
@KingMario @fnlctrl  In English, I format date with 'MMM Do', the result is 'Jun 11th', but in Chinese, the result is '6月 11'， I think if days end with 'st', 'nd' or 'th',  a character '日' should be added at the end. Because this is internationalization, not formatting.

[2019-06-11 03:42] WinterGou commented on #1195
the version is 1.30.1

[2019-06-12 06:20] #1184 closed

[2019-06-12 11:58] poohsen opened #1198 "consider dropping the 'alpha' part of the version number"
hard to believe that v2.0.0 has really been stuck in the `alpha` phase since 20 Jun 2017. Isn't it stable enough to move to a normal semver scheme by now?

[2019-06-12 16:42] trollepierre opened #1199 "Since I updated date-fns to v2.0.0-alpha.32"
I got failed build, when updating to last version:
[code]
=>
https://github.com/trollepierre/recontact_travel_blog/pull/374

[2019-06-13 05:33] kossnocorp commented on #1199
Damn, I'm sorry! I'll fix that and issue another version.

[2019-06-13 05:36] kossnocorp commented on #1198
I'm working on it. It is stable, but before beta, I want to review `en-US` locale and might introduce minor breaking changes. During the beta, I want to develop a set of helpers that will assist in migration and only then release the final version.

[2019-06-13 05:36] #1198 closed

[2019-06-13 05:54] #1199 closed

[2019-06-13 06:48] skyrpex commented on #1068
I always integrate prettier for JS through an Eslint plugin. It's actually very easy to use with the Standard rules. I could help with that if you want to switch.

[2019-06-13 07:02] kossnocorp commented on #1068
@skyrpex I'm working on getting ESLint back at the moment. I have no plans to get back to Standard, though. I prefer using Prettier directly and keep ESLint for catching errors and unexpected behavior rather than checking code style.

[2019-06-13 07:58] poohsen commented on #1198
seeing how some developers of FOSS get slammed on the internet when things go south I can understand why you want to keep this disclaimer about potential breaking changes in the place where it's most visible. thanks for the good work so far!

[2019-06-13 08:33] gautam-pahuja commented on #1166
Hi, @kuldipem I searched the open PRs and there were none about Hindi locale so I also started doing it until I saw this issue. I will not proceed further then, but just in case if you need any help, I will be happy to contribute.
👍

[2019-06-13 08:37] kuldipem commented on #1166
@gautam-pahuja , Thanks for your willingness to help me. I've started Hindi locale. I need another weekend to finish it. I'm 50% done. If I need any help, sure I will ask.

Thanks

[2019-06-13 09:30] kossnocorp commented on #1199
Fixed in `v2.0.0-alpha.33`

[2019-06-13 09:31] kossnocorp opened #1200 "Handpick Babel plugins"
- Replace `@babel/preset-env` with handpicked plugins
- Setup test environment Babel config
- Transpile `const` to `var` to avoid issues like #1199

[2019-06-13 10:02] kossnocorp commented on #1198
You're welcome!

[2019-06-13 11:49] aliciacatalina commented on #1014
I'm facing the same issue when trying to dynamically import a locale file, are there any plans to remove the outdated locales?

[2019-06-13 12:12] kossnocorp opened #1201 "Produce clean CommonJS"
Right now ESM is transpired with Babel which produces a lot of noise that could be avoided: https://twitter.com/kossnocorp/status/1139113006695092224

One of the options is Rollup. I've experimented with it a bit and seems like it solves the problem with functions but the index files are still noisy: https://gist.github.com/kossnocorp/5257fb234a50413dfb83d4aa67f1b891

The config and the command th

[2019-06-14 06:11] #1200 closed

[2019-06-14 06:11] #947 closed

[2019-06-14 06:11] #1068 closed

[2019-06-14 10:58] #1014 closed

[2019-06-14 12:42] kossnocorp commented on #1014
I've released a fix for this issue as `v2.0.0-alpha.34`: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha34

[2019-06-17 08:46] kossnocorp commented on #492
date-fns is focused on providing functionality on top of existing `Date` object and not aimed to substitute it. In the future, when [Temporal Proposal](https://github.com/tc39/proposal-temporal) (that has separated dates and times) will land at the standard we'll approach it.

[2019-06-17 08:46] #492 closed

[2019-06-17 08:49] #1041 closed

[2019-06-18 10:32] nagylzs commented on #184
This is still a problem. I wonder why this was not fixed in the last three and a half years???
Here is a possible workaround for endOfWeek:

        if (endDate.getDay()==1) {
            endDate = endOfWeek( subDays(endDate,1), { weekStartsOn: 1 });
        } else {
            endDate = endOfWeek(endDate, { weekStartsOn: 1 });
        }

[2019-06-18 10:40] leshakoss commented on #184
We were waiting for a pull request from you, obviously. Why haven't you delivered the fix yet?

@nagylzs This is an issue from 2016. Could you please create a new issue and formally describe steps to reproduce your problem? I am not able to:
<img width="409" alt="Screenshot 2019-06-18 at 12 39 47" src="https://user-images.githubusercontent.com/566319/59675740-30cffd00-91c6-11e9-84d5-a5039830b38f.p

[2019-06-18 10:43] nagylzs commented on #184
Yes, I'm sorry. I have realized that the problem might be on my side. I have used a date that was converted from the local time zone to UTC. I'm investigating and will write back shortly.

[2019-06-18 11:00] nagylzs commented on #184
Yes, it was a time zone problem on my side. Sorry for being a rude necromancer. :-D

[2019-06-18 11:19] moimael commented on #816
We are still blocked from migrating from moment to date-fns because of this, is it planned in upcoming releases ?

[2019-06-18 13:31] Wykks opened #1206 "Feature Request: formatDistanceStrict: disable/customize roundingMethod"
It would be usefull to disable or customize rouding in formatDistanceStrict function.
Eg "38 hours" => "1.58333 days", or "1.6 days" (instead of just "1 day").

[2019-06-18 13:40] Wykks opened #1207 "formatDistance: missing "about 1 day""
The formatDistance does add "about" for hours and month and more, but not for days. Is this intended ?

(v2.0.0-alpha.34)

[2019-06-18 14:47] charliedavison opened #1208 "Feature Request: Tagalog language support"
Our app is moving to support Tagalog, is anybody available to complete this translation?

[2019-06-18 15:52] kossnocorp commented on #1208
As I understand that might be critical for your progress. We have never done this before, but you could set a bounty on the issue, and I'll help to promote it and once PR is open I'll make sure that it's shipped promptly: https://issuehunt.io/r/date-fns/date-fns/issues/1208

[2019-06-19 09:54] mtltechtemp opened #1209 "Getting negative number with differenceInMinutes() when dateLeft and dateRight are very close"
I'm getting negative number with `differenceInMinutes()` when `dateLeft` and `dateRight` are very close. (of a `30` minutes difference)

However, the [documentation](https://date-fns.org/v1.30.1/docs/differenceInMinutes) said that if I do that I should have `30`.

But, according to this [playground](https://runkit.com/embed/of4pql06mjtv) i'm getting `-30`.

Note: If `dateLeft` and `dateRight` are

[2019-06-19 12:38] Seharad opened #1211 "Unhandled promise rejection"
Hi, with versions 2.0.0-alpha.28 and higher, i get the following error in Internet Explorer. Version alpha.27 works fine.

Thanks!

   "Unhandled promise rejection"
   {
      [functions]: ,
      __proto__: { },
      description: "Invalid character",
      message: "Invalid character",
      name: "SyntaxError",
      number: -2146827274,
      stack: "SyntaxError: Invalid character
   at ../../

[2019-06-19 15:31] kossnocorp commented on #1209
In the playground example, you put the earlier date first while in the docs, it comes seconds. Imagine a function that calculates a difference between two numbers:

[code]

`differenceInMinutes` works the same way, to get a positive number you have to put later date first. If the dates are coming from an uncontrollable environment (i.e. user input) and you can't ensure the order, use `Math.abs`.

[2019-06-19 15:31] #1209 closed

[2019-06-19 15:36] kossnocorp commented on #1207
Yes, this is intended behavior. We follow Rails' `distance_of_time_in_words` approach: https://apidock.com/rails/ActionView/Helpers/DateHelper/distance_of_time_in_words

[2019-06-19 15:36] #1207 closed

[2019-06-19 15:42] Wykks commented on #1207
Okay, that's weird.
When you have a screen with "about 1 month", and right next to it "1 day", it's _very_ misleading.
Whatever I'll change the behavior on my side 🤷‍♂

Anyway, thanks for this library it's super usefull!

[2019-06-19 15:43] kossnocorp commented on #1206
That's possible to implement, but first I would like to know what's the use case for that.

[2019-06-19 15:51] Wykks commented on #1206
Basically a screen with a "Remaining time", and show a value a bit more precise than just "1 day".

In business app, 1.5 day is very different than 1 day. And counting in days is more relevant than in hours in my customers env (thus the use of formatDistance**Strict**).

[2019-06-19 16:12] kossnocorp commented on #1206
I see. I assume you don't want to end up with `1.00000000000000004` result neither. I have two options, either add `precision` rounding method and allow to pass `precisionNumber` option or allow to pass a function as `roundingMethod`. I like the latter more because of the lack of extra options.

PR is welcome!

[2019-06-19 16:18] kossnocorp opened #1210 "Use all values from the base date when parsing"
Right now `parse` doesn't use all values from the base date passed as the third argument:

[code]

The intention is to make it more consistent and predictable. The downside of that is that the result won't be set to `00:00` so when it's crucial `startOfToday()` should be used.

[2019-06-19 16:20] kossnocorp commented on #1207
You're welcome!

I understand your concern, but we didn't want to reinvent the wheel and used a solution tested by time.

[2019-06-19 17:11] kossnocorp commented on #1211
Thank you for reporting! I can see that the problem is in new interpolation syntax in the Polish locale: https://github.com/date-fns/date-fns/blob/master/src/locale/pl/_lib/formatRelative/index.js#L50. I'll fix that by adjusting the Babel config.

Btw, do you use it at all? If not the simple solution would be to enable tree-shaking or picking only necessary functionality.

[2019-06-20 06:31] nvuhung commented on #1190
I also have the problem with typescript definitions of date-fns.  I'm working with locale and same like it is missing some locales (Eg: vi)

[2019-06-20 06:34] kossnocorp commented on #1190
@nvuhung that is an unrelated problem. Please open an issue with a detailed description of the problem, the version you use and steps to reproduce.

[2019-06-20 06:56] #1211 closed

[2019-06-20 07:55] kossnocorp commented on #1211
Fixed in `2.0.0-alpha.35`: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha35

[2019-06-20 10:18] JigzIO opened #1214 "Format returns the following date"
## Environment
`"date-fns": "^1.30.1"`

## Code
`format("2019-06-20 16:00:00.000000Z","YYYY-MM-DD")`

## Current Behavior
`2019-06-21`

## Expected Behavior
`2019-06-20`

[2019-06-20 10:47] #1214 closed

[2019-06-20 10:55] kossnocorp commented on #1214
I was about to explain the problem, but I'm glad you figured it out!

[2019-06-20 11:22] JigzIO commented on #1214
I don't see time zones in the documentation, I take it I need to use **v2**

[2019-06-20 13:59] kossnocorp commented on #1214
You can use https://github.com/prantlf/date-fns-timezone that is compatible with v1. However, the issue here is not in timezones support but in the format itself.

Depending on the local timezone, it could be next day there:

[code]

In your case you don't need `format`, you can simply slice it:

[code]

[2019-06-21 05:18] Seharad commented on #1211
Hi,

Thanks for your very fast response. Not it‘s at ../../node_modules/date-fns/esm/locale/fi/_lib/formatRelative/index.

BTW... I only need englisch and german locales.

Thanks

[2019-06-21 07:19] kossnocorp commented on #1211
Could you please clarify what's wrong with that?

[2019-06-21 07:26] nhducseuit commented on #514
I was trying to switch to `date`fns` from `moment` but then realize that `date-fns` cannot parse date in format `dd/MM/yy`
So `date-fns` is still like a vision to me.

[2019-06-21 07:34] kossnocorp commented on #514
@nhducseuit hey, that's not nice to call someone's work a vision if it doesn't do what you want precisely how you want it.

As @leshakoss noted, it works like that:

[code]

I don't see anything actionable in this issue, so I'm closing it.

[2019-06-21 07:34] #514 closed

[2019-06-21 07:43] Seharad commented on #1211
Hi,

I get the same error, but now for _fi_

`Unhandled promise rejection SyntaxError: Syntax error
   "Unhandled promise rejection"
   {
      [functions]: ,
      __proto__: { },
      description: "Syntax error",
      message: "Syntax error",
      name: "SyntaxError",
      number: -2146827286,
      stack: "SyntaxError: Syntax error
   at ../../node_modules/date-fns/esm/locale/fi/_lib/locali

[2019-06-21 07:47] kossnocorp commented on #1211
Damn, sorry this problem is caused by modern syntax slipped into locales code. This time it's because of arrow functions `() => {}`. I'm going to add another Babel transformation. I'll update you once a new release is shipped.

[2019-06-21 07:52] Seharad commented on #1211
Thanks

[2019-06-21 08:43] kossnocorp commented on #1211
@Seharad I've published `v2.0.0-alpha.36`. Please check if it has any other syntax errors. I appreciate your help. I would test it myself, but unluckily I don't have IE11 in easy access.

[2019-06-21 08:52] Seharad commented on #1211
Works great! Thanks!

[2019-06-21 10:32] kossnocorp commented on #1211
@Seharad great!

[2019-06-24 14:14] JozefBiros opened #1216 "CS locale folder missing in Npm repository?"
Hi I downloaded, latest alpha release 36 and cs locale folder is missing in my node-modules.

[2019-06-24 14:22] kossnocorp commented on #1216
Yup, we've forgotten to remove it from the outdated locales: https://github.com/date-fns/date-fns/blob/master/outdatedLocales.json#L5

Sorry about that, I'll fix that and release another version.

[2019-06-24 18:12] Vincz opened #1218 "Format relative without time"
Is it possible to relative format a date but without the time ?
I'd like to have just "tomorrow" or "today" and not the "tomorrow at".
Any idea?

Thanks

[2019-06-25 07:26] kossnocorp commented on #1210
After approaching this, I realized that it creates more problems than it solves, especially in edge cases. I hoped that it would make `parse` consistent but it has proven to be impossible with this approach.

For instance, to parse week-numbering year, we should use the week number and weekday instead of month and date. When parsing quarter, the month and date won't be used at all. There's plenty

[2019-06-25 07:26] #1210 closed

[2019-06-25 08:33] kossnocorp commented on #1216
That was fixed in `v2.0.0-alpha.37`. Thank you for reporting!

See the changelog: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha37

[2019-06-25 08:33] #1216 closed

[2019-06-25 08:40] kossnocorp opened #1219 "Rename parse's baseDate argument to backupDate"
See #1210 for the reasoning.

[2019-06-25 08:43] kossnocorp opened #1220 "Add tokens validation to parse"
Throw `RangeError` on formats that don't make sense, such as `YYYY-MM-dd`, `YYYY-yyyy`, `HH a`, etc.

Also, see #1210.

[2019-06-25 08:52] kossnocorp opened #1221 "Remove locale-independent tokens from locale snapshots"
Not all tokens depend on locales, and those create unnecessary noise. Also, the "Equals" columns don't make sense and should be removed.

[2019-06-25 08:58] kossnocorp commented on #1218
Maybe we could add an option for that, but that will require updating all of the locales, and that's a lot of work. I'm not sure if it's worth it because you can create a locale with custom `formatRelative`.

See: https://date-fns.org/v2.0.0-alpha.37/docs/I18n-Contribution-Guide#creating-a-locale-with-the-same-language-as-another-locale and: https://github.com/date-fns/date-fns/blob/master/src/loc

[2019-06-25 09:25] Vincz commented on #1218
Yes, I ended up overriding the formatRelative for the locales I use to add a `withoutTime` option.
I was switching from luxon, and it's a feature I was missing.
Sure, it's a lot of work, but there is already everything necessary. We would just need to split the relative formats (at least for the locales I know).

[2019-06-25 16:40] casdevs commented on #1182
@codepunkt: having the same problem with license-webpack-plugin here. Have you solved it and if so, how?

[2019-06-25 17:00] jpickwell opened #1222 "Make parse's baseDate optional."
`parse`'s `baseDate` parameter is currently required. It would be nice if it were optional and it just defaulted to `new Date()`.

[2019-06-26 03:39] kossnocorp opened #1223 "Get rid of a warning in Karma tests"
I'm getting this warning on every compilation:

[code]

I believe that could be fixed by replacing all `import assert from 'power-assert'` with `import assert from 'assert'`. Power Assert now supports the latter form, so it's a safe change.

[2019-06-26 06:08] kossnocorp commented on #896
I missed the moment when we fixed it, but according to the snapshots now the docs and output in sync and also corresponds to the standard.

[2019-06-26 06:08] #896 closed

[2019-06-26 07:20] RakhmatovR opened #1225 "Czech locale export is missing in locale/index.js"
So, when I'm trying to import Czech locale like that:
[code]
It's okay, no warnings displayed in editor, because of TypeScript definition, which has this export. But in runtime I got a warning.
[code]
Seems like missing export in `src/locale/index.js`

[2019-06-26 07:24] kossnocorp commented on #1225
Omg, we just can't ship this locale, this is our 3rd attempt 😱

We'll fix that in the next release that is coming soon. I'll keep you updated.

[2019-06-26 07:32] kossnocorp opened #1226 "Get rid of Flow type checking; consider TypeScript"
Every time Flow fails a build, and it's always a random failure. We never got any value from it.

For example https://github.com/date-fns/date-fns/pull/1224/commits/a89e77ddf69faffa2b36defa946c89d210c6b2a9

[2019-06-26 08:04] kossnocorp opened #1227 "Document the supported browsers"
With v2 we've decided to raise the bar and drop support of IE older than 11. It doesn't mean that date-fns won't work in IE10 at all but rather that we won't be considering that during reviews or in tests.

[2019-06-26 08:21] #1220 closed

[2019-06-26 08:21] #1219 closed

[2019-06-26 08:21] #1221 closed

[2019-06-26 10:08] kossnocorp commented on #1225
It was fixed in `v2.0.0-beta.1`.

[2019-06-26 10:08] #1225 closed

[2019-06-26 15:29] jRichardeau opened #1228 "Wrong parsed date with time at 24:00:00"
Hey,

Using date-fns-2.0.0-beta.1, it seems to not parse date correctly if there is a time like 24:00:00.

`new Date("2000-01-01T24:00:00.0")` => Jan 02 2000 00:00:00
`parse("2000-01-01T24:00:00.0")` => Jan 01 2000 00:00:00

Thank you

[2019-06-26 16:16] kossnocorp commented on #1228
Please provide the full example of how you use it, what's the format string, what's the output in local time and what is the backup date (the third argument).

[2019-06-26 16:41] jRichardeau commented on #1228
Sorry it's `parseISO` not `parse`, so no more argument.

The output in local time is :

`new Date("2000-01-01T24:00:00.0")` => Sun Jan 02 2000 00:00:00 GMT-0500
`parseISO("2000-01-01T24:00:00.0")` => Sat Jan 01 2000 00:00:00 GMT-0500

[2019-06-26 17:05] kossnocorp commented on #1228
I see, then it's actually the correct result while the value produced by `new Date` is incorrect. [According to the ISO 8601](https://en.wikipedia.org/wiki/ISO_8601#Times):

So that is essentially represents the 0 of the next day. For example, if you use `Date.parse` you get the same result:

[code]

Exactly because of such inconsistencies in `new Date()` behavior, we dropped strings support in fa

[2019-06-26 17:10] kossnocorp commented on #1228
Yes, you're right it's incorrect behavior. We'll fix that. Thank you for reporting!

[2019-06-26 17:18] jRichardeau commented on #1228
Thank you !

[2019-06-27 02:35] benmccann opened #1230 "Include more details in error message"
I'm using 2.0 beta 1 and received the error message below:

I think the error message could be improved both by including the full format string as well as the input which is being attempted to be parsed or formatted. This error is happening in the internals of another component I'm using and unfortunately this isn't enough detail to help me track down the root cause

[2019-06-27 07:38] #1228 closed

[2019-06-27 09:09] leshakoss commented on #1228
Was fixed in `v2.0.0-beta.2`.

[2019-06-27 09:48] kossnocorp commented on #1228
It was fixed in `v2.0.0-beta.2`. Check it out!

[2019-06-28 05:21] kossnocorp opened #1231 "Add more details to the tokens table in format and parse"
- Divide the most popular tokens and specific such as local week-numbering year related.
- Clarify the difference between formatting and stand-alone tokens

[2019-06-28 15:31] cchunduri opened #1232 "Getting module not found with DateFnsUtils"
Hi I'm using date-fns with [Material-UI Pickers](https://material-ui-pickers.dev), below is the code that I've used like below in my react application which is based on ES6.

![image](https://user-images.githubusercontent.com/3481121/60353284-5390bb80-99e7-11e9-8f86-58909f016bd7.png)

Then when I've opened browser I'm getting below error.

![issue](https://user-images.githubusercontent.com/3481121

[2019-06-29 11:03] yacinehmito commented on #1226
I'm willing to help with this, but the way the build pipeline of date-fns is setup will make this a challenging undertaking. I can DM you on Twitter so we can discuss this if you want.

[2019-06-29 18:03] yacinehmito commented on #1190
I'm up for solving this while doing https://github.com/date-fns/date-fns/issues/1226
It might be necessary anyway.

[2019-06-29 22:33] TrySound commented on #1226
Will you still gonna provide flow types? We heavily rely on them.

[2019-07-01 06:27] kossnocorp commented on #1226
@TrySound sure, I'm only talking about checking the date-fns codebase with TypeScript instead of Flow, nothing will change to the end user. Also, I'm not quite sure if it's possible with TS and even if there's an alternative to verify that Flow typings are correct so I might close this issue at the end.

[2019-07-01 11:21] whitecolor opened #1235 "Wrong typings for date-fns/fp"
date-fns 2.0.0-beta.2, TS 3.5.1

Something wrong with fp typings:

[code]
![image](https://user-images.githubusercontent.com/736697/60432523-f3cf2600-9c1b-11e9-866b-54ef6b2a062c.png)

Both give no error, though the second one returns `Invalid date`

`date-fns` (not `fp`) typins seems to work correctly for this case (will show the error on the first one)

[2019-07-01 13:07] Robinfr opened #1236 "Implementing different calendars"
How would one go about implement different kind of calendars, e.g. non-georgian like Thai?

[2019-07-01 14:35] HaffASE commented on #1232
For successfully work you must update dependences:
@material-ui/core@latest (v4.0.0 and above) and @material-ui/styles@next (v4.0.0 and above)
And you need use beta version of fns "date-fns": "^2.0.0-beta.2"

[2019-07-01 14:50] leshakoss commented on #1236
It probably makes sense to start with getter and setter functions unique for that calendar, for example, `getBuddhistYear`/`setBuddhistYear`, `getBuddhistMonth` etc

Also, I feel like those better be put in separate packages under date-fns' umbrella e.g. `@date-fns/buddhist-calendar` but since for now we don't have an infrastructure for this kind of subprojects, the work could be started in this r

[2019-07-01 15:01] Robinfr commented on #1236
We're using date-fns in a project that requires us to support the Buddhist calendar, so if it's possible to help date-fns out at the same time by adding support for it out-of-the-box that would be great ofcourse!

It seems that at the moment, there is no way to pass something like a calendar object to formatting/parsing functions which might the first step. I'll take a look one of these days to se

[2019-07-02 07:58] Robinfr commented on #1236
So, I've taken a look and I think what might work is having a separate `calendar` folder (just like `locale`) that will allow you to override the parsing and formatting of each token where necessary. E.g. for Buddhist you could add some logic to change the output of the year.

We could then export calendars and use them as an option for the `format` and `parse` functions. @leshakoss what do you th

[2019-07-02 19:48] kossnocorp commented on #1190
I love the idea!

[2019-07-03 08:52] kossnocorp commented on #1235
Thank you for reporting, you're right it shouldn't be like that!

[2019-07-03 08:53] kossnocorp commented on #1232
@HaffASE thank you for chiming in!

[2019-07-03 08:53] #1232 closed

[2019-07-03 08:57] kossnocorp commented on #1236
I like the idea!

[2019-07-03 09:02] kossnocorp commented on #1230
You're right, that could help!

[2019-07-03 10:29] madibts opened #1238 "Kazakh language support"

[2019-07-03 13:05] koenvanzuijlen opened #1239 "Syntax error IE11 in Finnish localization"
Because an arrow function is used `/src/locale/fi/_lib/localize/index.js` this crashes in IE11.

[2019-07-03 13:08] kossnocorp commented on #1239
Which version do you use? Few versions back I added Babel plugins to transpile the code, so it shouldn't be a problem in the latest versions.

[2019-07-04 08:49] TilakMaddy opened #1243 "UNMET Peer dependency with latest Webpack version"
Was tryna  install with  `npm install date-fns --save-dev`

[code]

Running the latest webpack version.

[2019-07-04 13:04] 4opper opened #1244 "Serbian locale is missing"
Hi there, any plans on shipping serbian locale in v2?

[2019-07-05 06:48] koenvanzuijlen commented on #1239
Hi, updating fixed the issue. Thanks!

[2019-07-05 06:48] #1239 closed

[2019-07-05 06:49] kossnocorp commented on #1239
You're welcome!

[2019-07-05 10:00] chrisbruford commented on #942
To add to the use-cases:

We use parse as part of some custom validators where dd/mm/yyyy is the only accepted format - using parse handles other parts of the validator but we've had to introduce an additional regexp test to ensure the correct format before passing through to date-fns for parsing.

Not the end of the world but would be good if parse actually enforced the format being passed in

[2019-07-05 15:29] sultan99 opened #1245 "Different behavior of addSeconds in FP & General."
Version: v2.0.0.beta

FP `addSeconds` returns value in UTC but root `addSeconds` returns value GTM.

[code]

[2019-07-05 16:41] Jubsika opened #1246 "Georgian Language Support"

[2019-07-05 17:00] KidkArolis opened #1247 "eachDayOfInterval adds extra days"
I'm experiencing this issue in v2.0.0-beta.2.

Seems to be related to https://github.com/date-fns/date-fns/issues/1163, perhaps a regression.

[code]

**Expected**: 2019-10-06T23:00:00.000Z should not be part of the interval.

[2019-07-05 17:04] KidkArolis commented on #1247
Ah, right, I got a bit confused, the right amount of days are in the array, it's just that they're all offset unlike the original date, hm..

[2019-07-05 17:18] KidkArolis commented on #1247
Nevermind, it's just how dates work.. 🤯

[code]

[2019-07-05 17:18] #1247 closed

[2019-07-05 17:45] leshakoss commented on #1247
@KidkArolis just for the context: `Z` at the end of the date means timezone `+00:00`. You can quickly check what the date is in your local timezone by calling `date.toString()` method:

[code]

[2019-07-05 17:49] leshakoss commented on #1245
@sultan99 the order of arguments in FP functions is reversed:
[code]
https://codesandbox.io/s/fns-dateissue-ijvjg

[2019-07-05 17:49] #1245 closed

[2019-07-05 17:50] KidkArolis commented on #1247
I got tripped up by the fact (among many others) that these are different:

[code]

[2019-07-05 18:49] sultan99 commented on #1245
Thank you for pointing!
Is there any placeholder or flip functions like in ramda?

[2019-07-05 19:33] leshakoss commented on #1245
Not as of now.

Not included in date-fns, but I feel like ramda's `flip` should work with date-fns' functions as well.

[2019-07-08 20:23] NurbekGithub commented on #1238
I have prepared almost all files. Looking forward to hear from you.

[2019-07-09 14:58] fxhrgco opened #1248 "Error when loading catalan locales"
Hi there,

I'm having an `Module not found: Can't resolve 'date-fns/locale/ca'` when doing
[code]
It seems that type + folder `ca` is there, how can I import it?

Thanks for your support,
Cheers

[2019-07-09 21:29] jayarjo opened #1249 "Typo in the section about Time Zones"
Writeup about the [data-fns-tz](https://date-fns.org/v2.0.0-alpha.26/docs/Time-Zones) has an example that starts like this:

[code]

There's no `zonedTimeToUtc` function in `date-fns-timezone`, has to be:

[code]

Confusing.

[2019-07-11 06:30] madibts commented on #1238
Hello, can you push changes to your repo?

[2019-07-11 06:31] madibts commented on #1238
can you push changes to your repo?

[2019-07-11 13:23] nicgarner commented on #1156
Hi @elmomalmo, any progress with adding Welsh support?

[2019-07-11 16:40] NurbekGithub commented on #1238
Sure, I did

[2019-07-11 16:40] NurbekGithub commented on #1238
https://github.com/NurbekGithub/date-fns/commit/b8b86d68ff197d221b67c464ad01e01e0e46b1bf

[2019-07-12 09:55] elmomalmo commented on #1156
Hi @nicgarner I'm working on it. Progress has been a bit slow due to work commitments.

[2019-07-12 14:59] anishbangalore commented on #275
Also moment stops laravel-mix when you compile as production "npm run prod", if you are using dynamic import of components. :-1:

[2019-07-12 16:20] elmomalmo commented on #1156
@kossnocorp I notice that the tests for the already implemented locales have now been removed on master. Is there new guidance on submitting new locales (i.e. how would you like testing for locales done?)

E

[2019-07-13 02:18] esemeniuc opened #1250 "Format example doesn't work"
The example on the github repo page is incorrect

[code]

[2019-07-13 13:32] HosseinAlipour opened #1251 "wrong format from dateTime in formatLong"
I'm new to date-fns and using v2.beta.2, I was expecting [this sandbox](https://codesandbox.io/s/wfvby) to print full date and time but I'm getting `{{8AM15599428107}} at {{15599428106567}} `. I look in source code and saw [this ](https://github.com/date-fns/date-fns/blob/master/src/locale/en-GB/_lib/formatLong/index.js#L17) and [this ](https://github.com/date-fns/date-fns/blob/master/src/locale/_

[2019-07-14 22:53] diiorio opened #1252 "min/max return undefined on invalid input"
Version: `2.0.0-beta.2`

`min` and `max` expect an array-like object as their first argument, and should return a `Date`. If anything other than an array-like object is passed, or if said object has zero entries, then `undefined` is returned. Per the [upgrade guide](https://github.com/date-fns/date-fns/blob/master/docs/upgradeGuide.md#arguments-conversion), the expected value should be `Invalid Da

[2019-07-15 12:11] madibts commented on #1238
why are you not using es6 module syntax?

[2019-07-15 12:12] madibts commented on #1238
it is necessary to generate snapshot.md with formatted text.

[2019-07-15 12:33] madibts commented on #1238
can you generate snapshot.md with formatted text?

[2019-07-15 14:45] tomglenn opened #1253 "setDate when given larger number adds days"
The description of `setDate` in the documentation is:

I would expect that if you give a second value that is larger than the amount of days in a particular month, it would set it to the last day of the month in the given context.

For example I would expect:
`const lastDayOfSept = setDate(new Date(2019, 8, 1), 99)` to return `2019-09-30`.
However, instead it returns `2019-12-08`, so if the value

[2019-07-15 23:45] jhpratt commented on #776
@kossnocorp Is there a list of possible aliases? I imagine this would be pretty simple to do — I'll give it a shot if there exists a list.

[2019-07-16 04:58] NurbekGithub commented on #1238
I updated my repo. snapshot looks good to me. Can you please, have a look too?

[2019-07-17 06:09] kossnocorp commented on #1251
Hey, there are special tokens for that: https://codesandbox.io/embed/date-plpst

See "Long localized date", "Long localized time" and "Combination of date and time" in the tokens table for more details: https://date-fns.org/v2.0.0-beta.2/docs/format

[2019-07-17 06:09] #1251 closed

[2019-07-17 06:11] kossnocorp commented on #1243
date-fns doesn't have any dependencies, including peer ones. This warning must be coming from somewhere else.

[2019-07-17 06:11] #1243 closed

[2019-07-17 06:13] kossnocorp commented on #1246
Hey! If you're willing to work on that, please leave a comment, and I'll reopen the issue and mark this language as claimed.

[2019-07-17 06:13] #1246 closed

[2019-07-17 10:19] elmomalmo commented on #1156
@kossnocorp
Pull request created: https://github.com/date-fns/date-fns/pull/1254
Let me know what else you need from me. Diolch.

[2019-07-17 10:56] madibts commented on #1238
I looked and everything looks good

I looked and everything looks good

[2019-07-17 12:26] kossnocorp commented on #1156
@elmomalmo we've ditched tests in favor of snapshots. But I see that you already figured it out. 👍

[2019-07-17 18:25] Li357 commented on #284
I'd be interested in implementing this, but how would we reconcile this with the new `formatDistance*` APIs? Also, if we are to expose `addDurationToDate/subDurationFromDate` would that be under the `duration` submodule like `fp` in v2? If it isn't, wouldn't it have to import parts of the `duration` submodule with its implementation (i.e. the `Duration` class)?

[2019-07-18 03:23] NurbekGithub commented on #1238
Shall we do pr? I've read through the [Directions](https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md#creating-a-locale-with-the-same-language-as-another-locale), but I am still not sure how things work here

[2019-07-18 03:27] IhsanMujdeci opened #1255 "issue 2019-10-06 format"
When i format date "2019-10-06" using `format("2019-10-06", 'DD MMM YYYY')` the return is 05 Oct 2019

[2019-07-18 03:33] IhsanMujdeci commented on #1255
Once again like others i didn't install version 2 fixed I installed `"date-fns": "^2.0.0-beta.2"` and changed the dates i plug in to be actual dates not string and it fixed the problems

[2019-07-18 03:33] #1255 closed

[2019-07-19 07:36] #1156 closed

[2019-07-19 12:31] kossnocorp commented on #1250
The example is for v2, which is in beta at the moment. v1 and v2 format tokens are different, so that's why you're getting this result.

[2019-07-19 12:31] #1250 closed

[2019-07-19 12:34] kossnocorp commented on #1248
Thank you for reporting it! We've forgotten to remove the locale from the outdated locales list, so that's why it's not present in the package. I'll fix that and issue a new version.

[2019-07-19 12:36] kossnocorp commented on #1244
The team doesn't know Serbian, so help is welcome! If you're willing to work on that, please leave a comment, and I'll reopen the issue and mark the locale as claimed.

[2019-07-19 12:36] #1244 closed

[2019-07-19 14:21] fxhrgco commented on #1248
Perfect! Thanks!

[2019-07-21 11:25] diiorio commented on #1253
This is consistent with the native [`Date#setDate`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/setDate). (In fact, it [*is*](https://github.com/date-fns/date-fns/blob/master/src/setDate/index.js) `Date#setDate`.) If you want to set a date to the end of the month, you can use [`endOfMonth`](https://date-fns.org/v1.30.1/docs/endOfMonth) instead.

[2019-07-21 12:20] diiorio commented on #1249
The docs for the version you linked (`v2.0.0-alpha.26`) are outdated. The issue has been fixed since [`v2.0.0-alpha.37`](https://date-fns.org/v2.0.0-alpha.37/docs/Time-Zones). The latest version is currently [`v2.0.0-beta.2`](https://date-fns.org/v2.0.0-beta.2/docs/Time-Zones).

[2019-07-22 12:20] yepstepz opened #1260 "wrong pluralize for "MMM" in v. 1.30.1"
I'm using v. 1.30.1
`dateFns.format(date, 'D MMM YYYY', { locale: require('date-fns/locale/ru') })` returns wrong pluralize for date.
Expected: "1 июля 2019"
Actual: "1 июль 2019"

[2019-07-22 19:20] shvelo commented on #1246
Hi, I want to work on Georgian.

[2019-07-23 07:09] nikomal opened #1263 "use 'w' to format the last day of the year get wrong"
the version:
 date-fns@2.0.0-beta.2

question:

when i use the `format(new Date('2018-12-31'), 'yyyy ww')`. it return `2018 01`,  not the `2019 01` or `2018 53`. it may be not correct.

see:  [codesendbox](https://codesandbox.io/embed/jovial-colden-utgcu)

[2019-07-23 22:59] MarkPolivchuk commented on #571
@GonchuB Thank you for the workaround!

[2019-07-24 07:53] dkozickis commented on #1263
It is correct.

`yyyy` is calendar year, `ww` is `week of year` ([reference](https://www.unicode.org/reports/tr35/tr35-dates.html#dfst-week)).

It is a bit strange, but, basically, for `format` with `ww` to make sense, you also need to use `week-numbering year` ([reference](https://github.com/date-fns/date-fns/blob/master/docs/unicodeTokens.md))

[code]

[2019-07-24 08:06] nikomal commented on #1263
@dkozickis i konw thx!

[2019-07-24 10:49] klivak opened #1265 "Ukrainian language support"
Hi, I found that someone already added Ukrainian language, but in ["Supported Languages" List](https://date-fns.org/v1.30.1/docs/I18n) there is no Ukrainian.
Could you please add it to the docs, if it's true?

Closed issues about Ukrainian lang:
- https://github.com/date-fns/date-fns/issues/488
- https://github.com/date-fns/date-fns/issues/651
- https://github.com/date-fns/date-fns/issues/673

[2019-07-24 10:50] klivak commented on #1265
If it's not true, I can help with translation.

[2019-07-24 17:06] dkozickis commented on #1263
@nikomal if you're happy with the answer - please close the issue :)

[2019-07-24 17:08] dkozickis commented on #1265
It's shipped in v2 🤷‍♂

[2019-07-24 18:31] klivak commented on #1265
Ok, thanx, I will try.
But why documentation didn't contain that information? Or there is some other docs?

[2019-07-24 18:58] dkozickis commented on #1265
Seems like *Supported Languages* section went missing somewhere in 2-alpha.x docs, dunno why.

[2019-07-25 01:31] #1263 closed

[2019-07-25 07:33] kossnocorp commented on #1263
@dkozickis thank you for chiming in and helping! 🙏

[2019-07-25 08:54] kossnocorp commented on #1265
You look at v1.30.1 docs and v1 has no Ukranian locale.

I've removed the list because it was tedious to maintain. The locale contributors never update it, and it was out of date all the time. I decided to ditch it and replace with a generated list some time in the future.

[2019-07-25 08:54] #1265 closed

[2019-07-25 09:40] kossnocorp commented on #1253
@tomglenn could you please provide an example of code where it's useful? As @diiorio said, date-fns is consistent with Date behavior. We might work on stricter variants of such methods, but before we consider it, I want to make sure I understand the use case.

I'm closing the issue for now. If we'll come up with some actions, I'll create corresponding issues or reopen this one.

[2019-07-25 09:40] #1253 closed

[2019-07-25 09:47] kossnocorp commented on #1252
Thanks, it makes sense since (given that internally a date is represented with a number)...

[code]

We try to stick to ECMAScript behavior to be consistent with native API. ES never (or rarely) throw exceptions on arguments unless that are options that are static. I prefer to keep returning `Invalid Date`.

[2019-07-25 09:48] kossnocorp commented on #1249
@diiorio thank you for helping! 🤝

[2019-07-25 09:48] #1249 closed

[2019-07-25 10:13] kossnocorp commented on #1248
It was fixed in v2.0.0-beta.3: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136

[2019-07-25 10:35] fxhrgco commented on #1248
I've tried with the version v2.0.0-beta.3 but I am still not able to import it.
What's more I don't see the Catalan (CA) language support in the log but only the CY and KA.

[2019-07-25 11:57] kossnocorp commented on #1248
Something went wrong, damn :-( I'll check it.

[2019-07-26 07:42] stpoa opened #1266 "Invalid date when parsing using different locale"
[code]

    "date-fns": "^2.0.0-beta.3",

[2019-07-26 13:15] garf commented on #1160
Doesn't `isFuture()` expect `Date()` instance?

[2019-07-29 06:17] kossnocorp opened #1267 "Remove postinstall notice"
See https://github.com/date-fns/date-fns/pull/1237

[2019-07-29 11:44] RudyRed opened #1268 "differenceInBusinessDays returns incorrect value when a given date falls on a weekend"
When the given dates fall on a weekend the differenceInBusinessDays can be incorrect

eg.
[code]

also:
[code]

There is also a discrepancy between the docs and the test for this. in the docs the following is stated (from the [differenceInBusinessDays/index.js](https://github.com/date-fns/date-fns/blob/master/src/differenceInBusinessDays/index.js))
[code]
however under the [differenceInBusinessDay

[2019-07-30 23:00] msikma opened #1271 "The format() output randomly chooses GMT+1/+2"
I'm quite new to `date-fns`, and while exploring the library I noticed something weird.

I'm rendering a list of test items, which all have a date string (from a database), and I'm using `format()` and `formatDistance()` to display them. The `format()` output seems to use GMT+1 sometimes, and GMT+2 at other times, perfectly randomly.

![Screenshot 2019-07-31 at 00 53 54](https://user-images.github

[2019-07-31 04:43] hoboman313 opened #1272 "Formatting dates does not work with the hermes runtime from react-native"
Hermes is the new Javascript engine developed for react-native: https://facebook.github.io/react-native/docs/hermes
I've noticed that when I try to format dates (same behaviour noted in v1 and v2 of date-fns) with hermes turned on, there's always an invalid time exception. Anything like ```format('12-20-1988', 'MMM d, yyyy')``` will throw an exception with hermes turned on, but work as expected in

[2019-07-31 06:26] kossnocorp commented on #1271
Hey! What's your time zone? I have a feeling that the time zone changes are correct and reflect the DST (daylight saving time) shift.

[2019-07-31 07:30] mehrdad-shokri commented on #977
@kossnocorp hi, are you considering to adding it?

[2019-07-31 08:05] kossnocorp commented on #977
@mehrdad-shokri we're open for pull-requests but unlikely to approach it ourselves as we are not familiar with the matter. We're looking into publishing it as `@date-fns/jalali`.

[2019-07-31 08:06] kossnocorp commented on #1272
Please provide the exception with the stack trace and exact date-fns v2 version and the exact code that fails on v2.

[2019-07-31 11:26] clementprdhomme commented on #942
The current hack you can do is to check whether the string is the same length as the format:
[code]

[2019-07-31 12:01] kossnocorp commented on #1266
Thank you for reporting that, there could be an error in the locale parser cc @date-fns/i18n-pl

[2019-07-31 12:44] kossnocorp commented on #265
I'm closing it because it's not essential, and it's better to address particular docs issues instead of setting abstract goals.

[2019-07-31 12:44] #265 closed

[2019-07-31 12:44] kossnocorp commented on #244
I'm closing it because it's not essential, and it's better to address particular docs issues instead of setting abstract goals.

[2019-07-31 12:44] #244 closed

[2019-07-31 12:57] kossnocorp commented on #384
This is out of the scope of date-fns, but do contact me if you consider working on a date-fns-compatible library.

[2019-07-31 12:57] #384 closed

[2019-07-31 13:01] terrysahaidak opened #1273 "use "other" as a default formatRelative token"
I've just spent 1 hour figuring out why `date-fns` keeps me throwing an error

My locale's formatRelative config is the following:
[code]

The error was here: https://github.com/date-fns/date-fns/blob/master/src/formatRelative/index.js#L94

Since I've chosen the date which returns token such as `tomorrow`, there is no `tomorrow` field in my config, so it returned `undefined` and passed it to the `

[2019-07-31 13:29] kossnocorp commented on #1273
Thank you for reporting it. We shall throw an exception when a field is missing in the locale. Using `other` as the default will be even more confusing.

[2019-07-31 13:30] terrysahaidak commented on #1273
@kossnocorp maybe would be cool to have some sort of defaults like moment does.

[2019-07-31 13:36] kossnocorp commented on #1273
My only concern that it would make locale development confusing. A simple typo might make someone spend an hour or even more debugging why `tomorow` doesn't work.

We'll consider using defaults, anyways, thanks.

[2019-07-31 13:37] terrysahaidak commented on #1273
Makes sense for me. The part about requiring all the fields should be mentioned in docs as well :)

[2019-07-31 13:39] kossnocorp commented on #1268
Thank you for reporting that, good catch!

[2019-07-31 17:50] SneakyFish5 opened #1274 "Make backupDate in parser an option parameter, with `new Date()` as default"
I was hoping to open this issue as a way to discuss this change. I saw a couple comments about it, e.g. #1222 and https://github.com/date-fns/date-fns/issues/797#issuecomment-400671505 and thought it would be a good change. I started working on it and I have a commit here: https://github.com/SneakyFish5/date-fns/commit/6e1875663157cb0e781b13fe8415b42dac9d5af9. However, I'm curious if this would be

[2019-07-31 18:38] marcosfsj commented on #980
I just got the same error!

It never happened before and I am using the latest versions of both, npm and node.

[2019-08-01 06:51] saeedrahimi commented on #977
Do you have any idea how to implement new calendar system?
Should i override every method for new calendar type?
Or a local variable that present the type of calendar (jalali | gregorian | Hijri | etc...) and make format method change output based on calendar type?

[2019-08-01 07:43] #1235 closed

[2019-08-01 07:50] #1252 closed

[2019-08-01 08:02] kossnocorp commented on #1222
The problem with this change is that it will break `parse` function in FP submodule where's no optional arguments (due to carrying).

I'm okay with making the third argument optional, but I won't approach that in the near future, so if you want to help (cc @SneakyFish5), you'll also need to update the build system that generates FP submodule and documentation. If you down with it, your help is wel

[2019-08-01 08:02] kossnocorp commented on #1274
@SneakyFish5 please see my comment: https://github.com/date-fns/date-fns/issues/1222#issuecomment-517171362

Closing in favor of the older issue: https://github.com/date-fns/date-fns/issues/1222

[2019-08-01 08:02] #1274 closed

[2019-08-01 09:32] cpxPratik opened #1275 "format() method shows `Invalid Date` on IOS Safari"
Doing `format(new Date('2018-10-16 00:00:00'), 'DD MMM YYYY')` shows `Invalid Date` on Safari IOS 12.3.1 .

[2019-08-01 09:37] kossnocorp commented on #1275
Hey, your date format is the reason for the invalid date. Different browsers differently parse string input and your string doesn't match the standard (ISO 8601).

Do you control how this date is formatted?

If so, switch to ISO 8601 or number timestamps. Or you can start using v2 that has `parse` function.

[2019-08-01 09:37] #1275 closed

[2019-08-01 15:28] Jordan-Hall opened #1276 "isBefore and isAfter wrong way around according to documentation"
const as = isBefore(new Date(1989, 6, 10), new Date(1987, 1, 11));
Expected: //=> false
Actual: //=> true

const a = isAfter(new Date(1989, 6, 10), new Date(1987, 1, 11));
Expected: //=> true
Actual: //=> false

[2019-08-02 08:36] cpxPratik commented on #1275
Doing `format(new Date('2018-10-16T00:00:00'), 'DD MMM YYYY')` fixes the issue. I have updated dateString that initializes Date object.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date#Parameters

[2019-08-02 12:08] kossnocorp commented on #1275
Great!

[2019-08-02 15:27] kossnocorp commented on #1276
Hi! Are you sure you did not import `isBefore` from 'date-fns/isAfter` and vice versa? I'm getting the right results for your examples:

[code]

Also, check the tests:

- https://github.com/date-fns/date-fns/blob/master/src/isBefore/test.js
- https://github.com/date-fns/date-fns/blob/master/src/isAfter/test.js

[2019-08-02 15:27] #1276 closed

[2019-08-02 18:32] SampsonCrowley commented on #760
@kossnocorp how are we supposed to handle libraries with dateFns as a peer dependency if we update to the latest dateFns?

[2019-08-02 18:35] SampsonCrowley commented on #760
@kossnocorp why did you choose unicode tokens as the new format?

[2019-08-02 18:37] SampsonCrowley commented on #760
why not `strftime` or something that isn't directly switching existing formats to have new meanings?

[2019-08-02 18:40] SampsonCrowley commented on #760
also ISO 8601 doesn't have this conflict of formatting, and is just as much a standard as unicode tokens are, just because moment.js uses it, doesn't mean it's not a standard.