[2014-10-14 16:17] kossnocorp opened #2 "subMinutes function"

[2014-10-14 16:18] kossnocorp opened #3 "addMinutes function"

[2014-10-14 16:18] kossnocorp opened #4 "isBefore function"

[2014-10-14 16:18] kossnocorp opened #5 "isAfter function"

[2014-10-14 16:19] kossnocorp opened #6 "startOfHour function"

[2014-10-14 16:19] kossnocorp opened #7 "endOfHour function"

[2014-10-14 16:31] kossnocorp opened #8 "timeAgoInWords function"
http://api.rubyonrails.org/classes/ActionView/Helpers/DateHelper.html#method-i-time_ago_in_words

[2014-10-14 16:32] kossnocorp opened #9 "distanceOfTimeInWords function"
http://api.rubyonrails.org/classes/ActionView/Helpers/DateHelper.html#method-i-distance_of_time_in_words

[2014-10-14 16:34] kossnocorp opened #10 "parse function"

[2014-10-15 08:54] kossnocorp opened #11 "isWithinRange function"
[code]

[2014-10-15 09:01] kossnocorp opened #12 "isSameDay function"

[2014-10-15 09:22] #11 closed, assigned to kossnocorp

[2014-10-15 13:09] kossnocorp opened #13 "compareAsc function"
Compare function for `sort`:

[code]

→

[code]

[2014-10-15 13:10] kossnocorp opened #14 "compareDesc function"
Opposite to https://github.com/kossnocorp/date-fns/issues/13

[2014-10-22 11:38] #2 closed, assigned to nobody

[2014-10-22 11:48] #3 closed, assigned to nobody

[2014-10-22 11:50] kossnocorp opened #15 "isEqual"

[2014-10-22 12:05] #4 closed, assigned to nobody

[2014-10-22 12:07] #5 closed, assigned to nobody

[2014-10-22 12:08] #15 closed, assigned to nobody

[2014-11-05 15:41] kossnocorp opened #16 "Create bower package"

[2014-11-05 15:57] #16 closed, assigned to nobody

[2014-12-25 09:16] #7 closed, assigned to nobody

[2014-12-29 19:50] nkabardin opened #17 "bug in addMonths"
dateFns.addMonths((29 january), 1) == (1 march), but should be (28 february)

/cc @paraboom @kossnocorp @dolbyzerr

[2015-01-14 07:27] nkabardin commented on #17
Fixed in v0.14.9

[2015-01-14 07:27] #17 closed

[2015-01-14 07:28] p0deje commented on #17
:+1:

[2015-01-21 06:37] kossnocorp opened #19 "addHours & subHours functions"

[2015-01-26 05:37] #13 closed

[2015-01-26 05:38] #14 closed

[2015-01-26 08:52] #19 closed

[2015-01-28 16:40] #12 closed

[2015-02-05 05:56] kossnocorp opened #32 "Use p.m. and a.m. instead of am pm"
Source: "[The Yahoo! Style Guide: The Ultimate Sourcebook for Writing](https://www.goodreads.com/book/show/6883650-the-yahoo-style-guide)"

See:

![kossbookair_-_the_yahoo__style_guide__the_ultimate_sourcebook_for_writing__editing_and_creating_content_for_the_web](https://cloud.githubusercontent.com/assets/52201/6055676/0b8e062a-ad2a-11e4-8415-2412b22e17c1.png)

[2015-02-05 08:44] kossnocorp opened #33 "Add timestamps to tests"
All the functions should be able to accept:

- Date string,
- String instance,
- Timestamp

Tests must reflect this ability.

[2015-02-05 08:46] kossnocorp opened #34 "isAfter is isBefore?"
WTF https://github.com/js-fns/date-fns/blob/master/src/is_after.js

[2015-02-05 08:46] kossnocorp commented on #34
@LeshaKoss please check it ASAP. Thanks.

[2015-02-05 15:02] LeshaKoss commented on #34
@kossnocorp check out pull request

[2015-02-06 11:29] #34 closed

[2015-02-06 11:33] kossnocorp commented on #33
Closed by https://github.com/js-fns/date-fns/pull/36

[2015-02-06 11:33] #33 closed

[2015-02-06 12:00] kossnocorp opened #38 "Update functions list in README"
Currently links to few new functions are missing in README. We need to update it and keep it synced in the future.

[2015-02-19 05:53] #38 closed

[2015-08-25 07:43] #32 closed

[2015-08-25 09:57] LeshaKoss commented on #6
Fixed in 40831575fc06b3dd3439c04

[2015-08-25 09:57] #6 closed

[2015-08-31 15:31] LeshaKoss opened #66 "Support for ISO 8601 expanded year representation (±YYYYY) in `parse` function"
https://en.wikipedia.org/wiki/ISO_8601#Years

[2015-09-01 06:36] LeshaKoss commented on #10
Closed in 947eae4aba78d22025bbd33ccd290c57eb804b73, 91a8c273e7ad4932c111798b0cd213bdc23e1fa2

[2015-09-01 06:36] #10 closed

[2015-09-30 12:06] LeshaKoss opened #72 "Remove `getTimeSinceMidnight` function"

[2015-09-30 12:07] LeshaKoss opened #73 "Add descriptive comments to DST-related code"

[2015-09-30 12:07] LeshaKoss opened #74 "Add documentation to each format in `format` function"

[2015-09-30 12:09] LeshaKoss opened #75 "Add `differenceIn[Units]` function for each time unit"
Result should be rounded to largest previous integer (`Math.floor`)
* differenceInYears
* differenceInISOYears
* differenceInQuarters
* differenceInMonths
* differenceInWeeks
* differenceInDays
* differenceInHours
* differenceInMinutes
* differenceInSeconds
* differenceInMilliseconds

[2015-09-30 12:10] LeshaKoss opened #76 "`isYesterday` and `isTomorrow` functions"

[2015-09-30 12:12] LeshaKoss opened #77 "`is[Weekday]` functions for each weekday"

[2015-09-30 12:24] LeshaKoss opened #78 "Rename ISO weeks and ISO years functions to make them strictly camelCase"
`getISOYear` -> `getIsoYear`

[2015-09-30 12:59] LeshaKoss opened #80 "Remove DST fix in `eachDay`"
Seems like this part
[code]
is not necessary

[2015-09-30 13:06] LeshaKoss opened #81 "Make `isLeapYear` faster"
`new Date(year, 1, 29).getMonth() == 1` may be a cool hack but traditional arithmetic solution is faster 😏

[2015-09-30 13:07] kossnocorp commented on #78
@LeshaKoss let's keep it as is, it's pretty common to have capitalized abbreviations, there is for example `document.body.innerHTML`.

If you have another inconsistencies in mind, let me know.

[2015-09-30 13:07] #78 closed

[2015-09-30 13:11] LeshaKoss opened #82 "Fix scripts/generate_index.js so it correctly handles ISO week functions"
`getIsoYear` should be `getISOYear`
See also the discussion in #78

[2015-09-30 13:17] LeshaKoss opened #83 "Add missing ISO year and ISO week helpers"
ISO year helpers:
* endOfISOYear
* lastDayOfISOYear
* addISOYears
* subISOYears
* isSameISOYear

ISO week helpers:
* startOfISOWeek
* endOfISOWeek
* lastDayOfISOWeek
* isSameISOWeek

[2015-09-30 13:19] LeshaKoss commented on #72
Closed by 8e327ba

[2015-09-30 13:19] #72 closed

[2015-09-30 13:35] LeshaKoss commented on #80
https://github.com/js-fns/date-fns/pull/84

[2015-09-30 13:36] LeshaKoss commented on #73
https://github.com/js-fns/date-fns/pull/84

[2015-09-30 13:43] LeshaKoss opened #86 "Check documentation and README.md for errors"

[2015-09-30 14:20] LeshaKoss opened #88 "Add `closestTo` function"
Returns closest date from array to the given date

[2015-09-30 14:41] LeshaKoss opened #89 "Fix 'E' format token in `format` function"
If I am not mistaken, it should return 1 for monday and 7 for sunday

[2015-09-30 15:05] LeshaKoss opened #90 "Add missing tokens to `format`"
ISO week of year, timezones, timestamps
http://momentjs.com/docs/#/displaying/format/

[2015-09-30 15:05] #73 closed

[2015-09-30 15:08] #80 closed

[2015-09-30 15:11] LeshaKoss opened #92 "Add a check in `eachDay` function if end date is before start date"
Throw exception in:
* eachDay
* isWithinRange

[2015-09-30 15:54] #74 closed

[2015-10-01 04:40] #81 closed

[2015-10-01 09:48] LeshaKoss commented on #89
https://github.com/date-fns/date-fns/pull/93

[2015-10-01 22:58] kossnocorp opened #96 "Poor Antarctica!"
We [two failing tests](https://buildkite.com/date-fns/date-fns/builds/25#10bcb76c-499b-4a79-a956-9b6cbe9cc746) for `setISOYear` function in Antarctica's time zone:

[code]

[2015-10-02 03:37] LeshaKoss commented on #96
@kossnocorp it is probably the bug of PhantomJS 1.9.8, please use PhantomJS 2.0.0 for automatic tests

[2015-10-02 03:37] kossnocorp commented on #96
@LeshaKoss oh shit, right

[2015-10-02 04:29] kossnocorp commented on #96
Yup, now it's green! https://buildkite.com/date-fns/date-fns/builds/26

[2015-10-02 04:29] #96 closed

[2015-10-02 04:31] #89 closed

[2015-10-02 04:32] #86 closed

[2015-10-02 09:47] LeshaKoss opened #97 "`isValid` function"

[2015-10-03 11:14] LeshaKoss opened #99 "Fix grammar in tests"

[2015-10-03 17:57] LeshaKoss opened #104 "Make JSDoc arguments friendlier (dirtyDate -> date, dirtyStartDate -> startRangeDate)"

[2015-10-04 00:00] #97 closed

[2015-10-04 04:30] LeshaKoss opened #105 "`getDaysInYear` function"

[2015-10-04 05:02] #82 closed

[2015-10-04 05:02] #83 closed

[2015-10-04 05:03] LeshaKoss opened #106 "In documentation, insert the blank line after description in all functions"
[code]
➡️
[code]

[2015-10-04 05:06] LeshaKoss opened #107 "Add differenceInCalendar[Units] for units greater or equal than day"
* differenceInCalendarYears
* differenceInCalendarISOYears
* differenceInCalendarQuarters
* differenceInCalendarMonths
* differenceInCalendarWeeks
* differenceInCalendarISOWeeks
* differenceInCalendarDays

[2015-10-04 12:58] #104 closed

[2015-10-04 12:58] #106 closed

[2015-10-04 13:38] #90 closed

[2015-10-05 12:04] LeshaKoss opened #116 "Remove unused variables in isFirstDayOfMonth and setISOYear"
[code]

[2015-10-06 00:02] #116 closed

[2015-10-06 06:46] #105 closed

[2015-10-06 06:46] #99 closed

[2015-10-06 11:14] #76 closed

[2015-10-10 00:45] #88 closed

[2015-10-10 15:39] LeshaKoss opened #126 "startOfToday"

[2015-10-10 15:40] LeshaKoss opened #127 "isValidDateValues"

[2015-10-10 15:41] LeshaKoss opened #128 "isThis[Unit]"
`isThisUnit(date) == isSameUnit(date, new Date())`

[2015-10-13 00:51] #128 closed

[2015-10-13 00:53] #92 closed

[2015-10-13 16:13] #77 closed

[2015-10-13 16:14] #75 closed

[2015-10-13 16:14] #107 closed

[2015-10-13 17:55] LeshaKoss opened #132 "Fix wrong parsing of dates between 1AD and 100AD by `parse` function"
[code]

[2015-10-15 12:02] LeshaKoss opened #133 "Fix @example in docs"
[code]
͢
[code]

[2015-10-15 12:05] kossnocorp commented on #133
Also it makes sense to fix capitalization and put a colon:

`for date outside of the range ` → `For date outside of the range:`

[2015-10-15 12:22] #133 closed

[2015-10-15 13:52] LeshaKoss opened #136 "Update CHANGELOG.md to v1.0.0"

[2015-10-15 13:52] LeshaKoss opened #137 "Add missing `@example`s to docs"

[2015-10-16 00:45] #66 closed

[2015-10-16 00:45] #132 closed

[2015-10-16 03:27] LeshaKoss opened #138 "Fix wrong parsing of dates between ISO years +1 and +100 by `parse` function"
See also #132

[2015-10-16 03:36] #138 closed

[2015-10-18 04:29] #127 closed

[2015-10-18 04:31] #126 closed

[2015-10-21 19:21] LeshaKoss opened #144 "In docs, make description of function arguments more verbose"
`date to be changed` → `date - the date to be changed`
`dayOfYear of new date` → `dayOfYear — the day of the year of the new date`
etc for every function
![screen shot 2015-10-22 at 01 18 46](https://cloud.githubusercontent.com/assets/566319/10647592/a62f8ce6-7852-11e5-91b1-91585a5fa618.png)

[2015-10-23 03:26] #144 closed

[2015-10-23 03:27] kossnocorp opened #147 "Describe breaking changes of v1.0.0 in a special section in changelog"

[2015-10-23 03:27] #136 closed

[2015-10-23 14:56] LeshaKoss opened #149 "Add link to `ISO week date` wikipedia article to all ISO week related function documentations"
[code]

[2015-10-23 17:09] LeshaKoss commented on #137
https://github.com/date-fns/date-fns/pull/150
https://github.com/date-fns/date-fns/pull/151
https://github.com/date-fns/date-fns/pull/152

[2015-10-26 14:30] niksy opened #157 "I18n support"
Are there any plans to have support for custom locale for `format` module? It would be nice to have this for other languages.

[2015-10-27 04:21] kossnocorp commented on #157
@niksy currently we are focused on v1.0.0 (couple weeks at max), but the next focus is locales. If you want to help us with Croatian, we can connect, and I'll explain how you can do it.

[2015-10-31 12:36] #149 closed

[2015-10-31 23:19] #137 closed

[2015-11-02 04:22] LeshaKoss opened #159 "Move ./src/*.js → ./*/index.js and ./src/__tests__/*_test.js → ./*/test.js"
e.g.
`src/parse.js` → `parse/index.js`
`src/__tests__/parse_test.js` → `parse/test.js`
`require(‘date-fns/src/parse’)` → `require(‘date-fns/parse’)`

[2015-11-28 10:10] #8 closed

[2015-11-28 10:10] #9 closed

[2015-11-28 10:10] #159 closed

[2015-11-28 10:17] kossnocorp commented on #147
@LeshaKoss please do it

[2015-11-28 10:49] LeshaKoss commented on #147
@kossnocorp please elaborate what is "a special section"

[2015-12-25 16:58] kossnocorp opened #166 "Automatically upload releases to S3"
- When git tag is pushed to master branch, Travis should run deploy script that will upload dist to S3 using tag name as a directory (e.g. example.com/v1.0.0/date-fns.min.js) and upload it.
- Enable CloudFront. CDN FTW!
- Add custom domain name so in case of service/account changes, zero deployment is guaranteed.

[2015-12-25 16:59] kossnocorp opened #167 "Build and publish the npm package when a tag is pushed"
Build and publish the npm package when a tag is pushed, so that we can release date-fns using the GitHub releases interface.

[2015-12-25 17:01] kossnocorp opened #168 "Deploy date-fns.org when git tag is pushed to master branch"

[2015-12-25 17:24] kossnocorp opened #170 "Fix flaky cross-browser tests"

[2015-12-26 18:11] #166 closed

[2016-01-01 14:10] kossnocorp opened #172 "Make CDN to serve gzipped files"

[2016-01-01 14:27] kossnocorp opened #173 "Fix deploy script"

[2016-01-01 14:27] kossnocorp commented on #173
Wrong repo

[2016-01-01 14:27] #173 closed

[2016-01-01 14:55] kossnocorp opened #174 "Add EditorConfig configuration"

[2016-01-01 14:55] kossnocorp opened #175 "Add EditorConfig configuration"

[2016-01-01 14:56] kossnocorp commented on #175
:rage4:

[2016-01-01 14:56] #175 closed

[2016-01-01 15:41] kossnocorp opened #176 "Kill experimental npm versions & git tags"

[2016-01-01 16:51] #168 closed

[2016-01-01 16:52] kossnocorp opened #177 "Display total number of tests after Travis CI build"
​

[2016-01-01 17:38] kossnocorp opened #178 "Cleanup Twitter"

[2016-01-01 18:33] kossnocorp opened #179 "Enable tree shaking for date-fns"
- [ ] Introduce modules index file and add it to `package.json` as `main`
- [ ] Add docs

See http://www.2ality.com/2015/12/webpack-tree-shaking.html

[2016-01-01 19:22] kossnocorp opened #180 "IANA support"
- IANA time zone identifiers support.
- Time zone manipulations.

Please left a comment if you are interesting in the feature.

[2016-01-03 04:17] #147 closed

[2016-01-03 05:40] #172 closed

[2016-01-03 08:36] #177 closed

[2016-01-03 08:37] kossnocorp opened #182 "Prepare the markdown documentation for v1.0.0"

[2016-01-06 06:54] dolbyzerr opened #184 "startOfWeek/endOfWeek returns Invalid Date if `{weekStartsAt: 1}`"
Example: https://tonicdev.com/568cb83e61bef80d0022ca3c/568cb83e61bef80d0022ca3d

[code]

[2016-01-06 07:25] kossnocorp commented on #184
The options object was introduced in 1.0.0, use rc version from npm: `npm install date-fns@latest`

[2016-01-06 07:25] #184 closed

[2016-03-20 01:56] kossnocorp opened #188 "Rewrite validateDateArguments and tests"
Currently `validateDateArguments` is inconsistent and doesn't cover all cases. For instance `new Date()` allows to pass no arguments, while `validateDateArguments()` returns `false`.

[2016-03-20 02:10] kossnocorp opened #189 "Adopt JavaScript Standard Style"

[2016-04-24 14:13] LeshaKoss opened #190 "Check the npm warnings"
[code]
[code]

[2016-04-24 14:23] LeshaKoss commented on #190
(it looks like all `deprecated` warnings are in last versions of our dependencies so we can't fix it right now)

[2016-04-25 02:29] #190 closed

[2016-04-26 05:16] #174 closed

[2016-04-26 05:16] #182 closed

[2016-04-26 05:16] #189 closed

[2016-04-26 05:33] kossnocorp commented on #188
@LeshaKoss 👍

[2016-04-26 13:17] LeshaKoss opened #192 "Fix minor styling problems"
- `var name = function () {` → `function name () {`
- add newline to the end of .babelrc
- check grammar in test descriptions
- check anything else

[2016-04-27 06:39] #188 closed

[2016-05-02 11:39] havenchyk commented on #180
👍

[2016-05-06 03:25] LeshaKoss opened #197 "weekStartsAt → weekStartsOn"

[2016-05-08 17:33] #192 closed

[2016-05-08 17:33] #197 closed

[2016-05-10 15:42] LeshaKoss opened #199 "Check the whole documentation"
Make the documentation formatted as uniformly as possible
[code]

[2016-05-11 03:41] kossnocorp commented on #199
You could also add this style guide to https://github.com/date-fns/date-fns/blob/master/CONTRIBUTING.md

[2016-05-17 11:48] mikkelwf opened #200 "getISOWeek starts week on Sunday, not Monday"
The `getISOWeek`seems to start the weeks on Sunday, not monday, as specified in the ISO.

I've poked around the code a bit, but found no obvious place to correct the error.

I've written a couple of xtra tests with my findings (for `get_iso_week/test.js`. I haven't made a PR, because i don't have the answer - hope that's okay 😄  )

[code]

The `returns the ISO week at the 2nd of May 2016` is the f

[2016-05-17 13:00] LeshaKoss commented on #200
@mikkelwf Thank you!

[2016-05-17 13:27] #200 closed

[2016-05-17 13:32] #176 closed

[2016-05-17 13:32] #178 closed

[2016-05-17 13:32] #170 closed

[2016-05-17 13:36] LeshaKoss commented on #200
@mikkelwf the fix was released as v1.0.0-rc22.

[2016-05-18 07:46] mikkelwf commented on #200
No problem.. :)
Glad you fixed it so quick..!

Maybe it's a good idea to add tests around an actual date where DST changes, just to be sure that the rounding is sufficient to cope with DST..?

[2016-05-18 14:16] simonsmith opened #203 "Add an ability to pass a locale object to distanceInWords function"
Hey,

I need to customise the text used in `distanceInWordsToNow` but I noticed the `locale` object is [private to the module](https://github.com/date-fns/date-fns/blob/master/src/distance_in_words/index.js#L174-L226). Could this be exposed, or allowed to be changed via the options?

Thanks

[2016-05-18 15:47] #199 closed

[2016-05-18 16:45] mikkelwf commented on #157
I would like to help with danish translation, when you get to it.. :)

[2016-05-18 19:20] montogeek commented on #203
I think this will be available once the library supports i18n

[2016-05-19 01:42] kossnocorp commented on #203
@simonsmith @montogeek right, since v1.0.0 is released, I18n is our top priority.

[2016-05-19 02:17] leshakoss opened #204 "Add DST-minding tests"
which test specifically around the time when timezone changes

[2016-05-19 02:19] LeshaKoss commented on #200
Yeah, probably. I opened an issue: #204

[2016-05-19 14:40] ryyppy commented on #203
Would be cool to have a whole `translate` function instead of data structures!
For the functional part, are there any plans to do a data-parameter-last approach?

Anyways I would be in for that.

[2016-05-19 16:11] kossnocorp commented on #157
@mikkelwf thank you, it would be really helpful!

@niksy I'm going to reuse thus issue, I hope you are not against 😄

[2016-05-19 16:12] kossnocorp opened #208 "Add an ability to pass a locale object to format function"
To do:

- [x] Add an ability to pass a locale
- [ ] Document usage

[2016-05-19 16:35] LeshaKoss commented on #208
`AM`, `PM`, `a.m.` etc probably should by customisable in locale too
https://github.com/date-fns/date-fns/blob/master/src/format/index.js#L187
https://github.com/date-fns/date-fns/blob/master/src/format/index.js#L192
https://github.com/date-fns/date-fns/blob/master/src/format/index.js#L197

[2016-05-19 16:57] kossnocorp commented on #203
@ryyppy can you elaborate your `translate` function idea?

It's not final, but I had such API in my mind:

[code]

To keep functions "pure" (as pure as date functions could be 😆 ) and prevent build bloating,  the recommended approach would be to use own/3rd-party wrappers, e.g.:

[code]

I still thinking about the best approach, so any input would be helpful.

Regarding "data-parameter-last approa

[2016-05-19 22:34] ryyppy commented on #203
@kossnocorp Your draft looks really promising! I was writing some functional conversion libs myself lately and usuallly ended up writing functions which deferred formatting to the very last instance and only  programmatically by the user...

So I would rather let `distanceInWords` return a data-structure describing the data to format ({ token: 'lessThanXSeconds', count: 100 }) and then involve a s

[2016-05-26 08:06] kossnocorp opened #213 "Use link to Change Log @ GitHub in the release tweet"
Deployment is delayed so people won't see an actual release change log. We need to replace link to the Change Log @ website with the link to Change Log @ GitHub.

[2016-05-30 04:06] davidhtien opened #214 "startOfWeek options parameter weekStartsOn doesn't work for me"
I enter
`dateFns.startOfWeek(new Date(2014, 8, 2, 11, 55, 0), {weekStartsOn: 1})`
and I get
`Sun Aug 31 2014 00:00:00 GMT-0700 (PDT)`

[2016-05-30 04:48] LeshaKoss commented on #214
I've just tried to run test like this through [the list of timezones](https://github.com/date-fns/date-fns/blob/master/scripts/test_tz_extended.sh#L8-L344) but no luck. Could you please tell which [IANA timezone](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List) you're in and also check which version of `date-fns` do you use? Thanks.

[2016-05-30 05:30] LeshaKoss commented on #214
Also if you use `date-fns` in a browser, which browser it is?

[2016-05-30 16:55] davidhtien commented on #214
+340308-1181434 America/Los Angeles

I'm using version 1.3.0

I'm using Chrome

[2016-05-31 04:55] kossnocorp commented on #214
@davidhtien hey! Thank you for reporting!

I've tried different methods and still can't reproduce your bug. I even tried exact time and time zone at the moment when the issue was opened (I hope I did the math correctly):

![](http://i.ncrp.co/440O1T251r3M/Image%202016-05-30%20at%201.48.36%20AM.png)

![](http://i.ncrp.co/2F0v2y3f0e2V/Image%202016-05-30%20at%201.49.01%20AM.png)

![](http://i.ncrp.co

[2016-06-01 00:32] davidhtien commented on #214
Arg, I got it sorry guys, wild goose chase, it was a problem with my gulp build, I updated my date-fns with bower but the gulp build wasn't properly exporting it to my django view so I was still on an older version of date-fns, I manually updated the js file and now it works, sorry for the dumb mistake

[2016-06-01 00:33] davidhtien commented on #214
![screenshot 2016-05-31 17 33 05](https://cloud.githubusercontent.com/assets/2282402/15694803/b868962a-2755-11e6-8f60-67a497ace484.png)

[2016-06-01 00:33] #214 closed

[2016-06-01 00:34] LeshaKoss commented on #214
@davidhtien no worries 🙂 Thanks for using `date-fns`!

[2016-06-01 21:16] alex3165 opened #216 "Support ES5 destruct import"
Do you guys plan to support destruct import, something like :

[code]

I can do it if you want.

[2016-06-01 21:18] #216 closed

[2016-06-01 21:19] alex3165 commented on #216
Sorry it's working but it's not on your documentation.

[2016-06-02 11:42] kossnocorp commented on #216
@alex3165 we can add it to docs, but it has side effect (when such syntax is used with webpack/Browserify without enabled tree-shaking then it will include **whole** library instead of just function), so I won't to add it here:

![](http://i.ncrp.co/0D330W0J0J2b/date-fns_-_modern_JavaScript_date_utility_library.png)

So, you can help us if you'll tell where you was looking (or wish to see) for thi

[2016-06-14 11:59] stevoland opened #218 "Flow "unexpected token ." error"
I get Flow (0.27.0) errors when including date-fns in my project

[code]

Any ideas?

[2016-06-21 11:50] jameshopkins commented on #218
You'll need to add an entry to your `.flowconfig` `[ignore]` directive that excludes these type declarations. In this case, something like `.*\.js.\flow` should suffice.

[2016-06-21 12:04] stevoland commented on #218
Thanks, I'm already ignoring them. But I wonder why I cant use them. They would be useful.

[2016-06-23 05:20] kossnocorp commented on #218
@stevoland I do not use Flow in my day-to-day development, so I can't say for sure what's the problem. However, I'm working on an investigation. Thank you for reporting!

[2016-06-28 17:05] jameshopkins commented on #218
@stevoland are you ignoring `*.js.flow` files specifically?

Since `flow check` recursively checks [all your project code](https://flowtype.org/docs/advanced-configuration.html#ignore) (including `node_modules`), it appears `flow check` is type checking type definitions provided by `date-fns` - which happen to be in the same directory as the source methods themselves - which is a really nice touch

[2016-07-26 13:40] just-boris opened #219 "Add an ability to pass the format to parse function, so it would be possible to parse dates in any format"
Thank you for the nice library!

I was going to use this library, but figured out that it is not possible to parse data by arbitary format. I'd like to do the following

[code]

[`format`](https://date-fns.org/docs/format) function is already has set of tokens, which can also be used for parsing.

[Moment also has the same feature](http://momentjs.com/docs/#/parsing/string-format/), so it is reaso

[2016-07-26 16:29] arestov opened #220 "Adopt camelcase file naming schema"
Why does `date-fns` use lowercase for file names?
`import isSameDay from 'date-fns/is_same_day'`

Lodash uses camelCase and look like has no any problems
`import keyBy from 'lodash/keyBy'`

[2016-07-30 09:15] fxck commented on #216
There are no typings for this, so how exactly does it work?

[2016-08-01 13:04] kossnocorp commented on #220
@arestov it's all historical reasons. It's defentely makes sense to apply Lo-Dash's schema, and we'll do it in `v2.0.0`.

[2016-08-01 13:15] kossnocorp commented on #219
@just-boris will do 👍 . @LeshaKoss please describe your idea with `toDate` & `parse`.

[2016-08-01 13:34] LeshaKoss commented on #219
The old function `parse` that is used in other functions to clean date arguments, and also to transform strings in ISO 8601 format and timestamps to `Date` will be renamed to `toDate`.
New `parse` will work like @just-boris described, but if no second argument is provided, it will work like before and fallback to `toDate`

[2016-08-01 14:14] just-boris commented on #219
Thank you for taking this into work!

[2016-08-01 17:04] just-boris commented on #157
Hello! I also need this feature, so I can contribute it.

I found two locale dependent modules so far.
* [distance_in_words](https://github.com/date-fns/date-fns/blob/master/src/distance_in_words/index.js#L176)
* [format](https://github.com/date-fns/date-fns/blob/master/src/format/index.js#L345)

So, I propose the following solution:
1. Move all locale data in separate module `date-fns/locale`. Al

[2016-08-01 17:27] kossnocorp commented on #157
@just-boris I prefer to keep functions pure (as date functions could be pure), so instead of monkey patching internals by calling `useLocale` we going to allow pass a locale object as an argument.

You can take a look at my [initial idea of API in this comment](https://github.com/date-fns/date-fns/issues/203#issuecomment-220386905).

[Initial implementation is done](https://github.com/date-fns/dat

[2016-08-02 08:53] umidbekkarimov commented on #179
Webpack tree shaking working only with es6 modules.
So you should copy content of `index.js` file and replace `require`s with `export from '...'`
And add path to your new file in to the `module` field in `package.json` file to let webpack know that you use modules

Here some big discussions webpack/webpack#1979

[2016-08-07 11:31] LeshaKoss opened #221 "Describe i18n changes in documentation"
- [x] distanceInWords
- [x] distanceToNowInWords
- [x] format
- [x] docs/i18n.md

[2016-08-07 15:27] LeshaKoss opened #222 "Allow declension in `format`"
[code]

[2016-08-08 06:58] kossnocorp opened #223 "Write Definitive Guide for adding a new locale"
To make lives of the potential translators easier, we need a clear and short description about how to introduce a new locale. Few gotchas:
- List the function that needs to be translated.
- Which locale is better to use as the base (en).
- Problems that could occur because of the language specifics (e.g. list the problems that we have with ru).
- How to add language-specific behavior to existing f

[2016-08-11 14:38] olavk commented on #180
Definitely interested. Doing a major overhaul on our project right now, and would like to switch out moment.js but it seems for now we're stuck with it

[2016-08-23 17:04] MarcCloud commented on #157
Hi, I'd like to contribute with the translation to Spanish.

[2016-09-10 16:06] LeshaKoss opened #226 "Day of ISO week functions"
- `getISODay` / `getDayOfISOWeek`
- `setISODay` / `setDayOfISOWeek`

Basically the same as existing `getDay` and `setDay` functions but Sunday is 7 instead of 0 (to match `E` token of `format` and to complete the set of ISO functions `getISOYear`, `getISOWeek`, `setISOYear` and `setISOWeek`)

[2016-09-20 15:51] reywright opened #227 "How to convert a string date to a date, and convert it back to the exact same string (regardless of timezone)?"
I have this application that needs dates to always display in EST, no matter the timezone they're using.

I have ISO-8601 date strings like this:

    2016-01-01

and I basically have to convert them into dates to do date math on them (add a month, subtract a month, etc). I then need to convert it back to this string.

How would I do this with this library? I think moment.js has a way to deal with

[2016-09-20 18:15] LeshaKoss opened #228 "`parse` doesn't parse dates with timezones but without time"
[code]

[2016-09-24 17:51] nktssh commented on #157
Hi, I'd like to contribute with the translations too!
I think, translations (at least for days/months etc. naming) can be used from [moment.js code](https://github.com/moment/moment/blob/develop/src/locale/)

@kossnocorp @LeshaKoss
May I help you somehow with Russian translations?

[2016-09-24 17:53] nktssh commented on #220
also found this a little bit odd)
@kossnocorp, how can I help you with this?

[2016-09-24 18:24] kossnocorp commented on #220
@nktssh it's not hard to implement at all, but I prefer to postpone it as it's not critical and there are features in progress that I would like to release in the context of `1.x`.

[2016-09-24 18:25] kossnocorp commented on #220
@nktssh thank you, anyway!

[2016-10-04 12:16] edouard-lopez opened #229 "How to convert duration to human-readable?"
Hi,
can I use `date-fns` to format an `uptime` (_e.g._ `176347295`) in a human-readable format (e.g. `x days y hours z seconds` )?

[2016-10-04 16:28] kossnocorp commented on #229
@edouard-lopez it's kind-of-possible with [`distanceInWords`](https://date-fns.org/docs/distanceInWords) or [`distanceInWordsToNow`](https://date-fns.org/docs/distanceInWordsToNow), but it won't be such precise (e.g. it will give you `4 weeks` or `3 days` or `a minute` and so on). If it doesn't work for you, we can consider adding a new feature. If so, what's API you expect?

[2016-10-04 19:16] edouard-lopez commented on #229
Wow, implementing just for me, that's so nice :smile:

I don't really know your API, but I searched your doc for (in this order): `unix`, `epoch`, `elapsed` ;
The following might come to mind: `humanReadable`, `unixToHuman`, `elapsedTime`, `human`

[2016-10-06 14:03] kossnocorp opened #230 "Add System.js support"
System.js doesn't support module manifest files (`add_days` != `add_days/index`).

[2016-10-09 14:35] #230 closed

[2016-10-09 19:58] janjachacz commented on #229
I would definitely use something like **distanceFormat(dateFrom, dateTo, format)**

[2016-10-10 11:15] kossnocorp commented on #229
Ok, will do! However, I can't say exact ETA because we're focused on I18n right now.

[2016-10-11 18:29] kossnocorp opened #232 "Add I18n support to non-CommonJS packages (Bower, CDN)"
Currently I18n is only supported by CommonJS packages.

[2016-10-12 10:38] just-boris commented on #157
So far I have found a way how can I use native browser features to localize date.
When I need to print month in user's locale, I do the following

[code]
Same for weekdays
[code]

So we don't need to store translations somewhere in library or external plugins. It can be just extracted from the browser.

[2016-10-12 16:52] #203 closed

[2016-10-12 16:52] #208 closed

[2016-10-12 16:52] #221 closed

[2016-10-12 16:52] #222 closed

[2016-10-13 18:55] kossnocorp commented on #157
Guys, I18n is now supported. It was released as `1.5.2`. See docs: https://date-fns.org/docs/I18n

[2016-10-13 18:55] #157 closed

[2016-10-13 18:57] kossnocorp commented on #157
If anyone here wants to contribute, you're more than welcome: https://date-fns.org/docs/I18n#adding-new-langugage. A better guide is coming soon.

[2016-10-15 03:01] KingMario opened #234 "Chinese Simplified language support"

[2016-10-15 03:24] KingMario commented on #234
Has just finished and PR created.

[2016-10-17 08:04] LeshaKoss commented on #234
Closed by #235

[2016-10-17 08:04] #234 closed

[2016-10-20 09:33] DeMuu opened #236 "German language support"

[2016-10-20 09:52] kossnocorp commented on #236
🇩🇪❤️

[2016-10-20 11:54] DeMuu commented on #236
🇦🇹 ❤️  😂

[2016-10-20 12:43] #236 closed

[2016-10-20 15:12] DeMuu opened #240 "Japanese language support"

[2016-10-20 20:46] dickyjayaumbara opened #242 "bundle failed: 'subDays' is not exported by node_modules\date-fns\index.js [SOLVED]"
hey guys, i have issue with date-fns when, iam using on ionic v2, can someowne help me?

this complete message when iam build app

[03:42:04]  bundle failed: 'subDays' is not exported by node_modules\date-fns\index.js (imported by src\pages\calendar\calendar.ts).

[code]

i try to rollup, but iam very confused whit that, help me

[2016-10-23 15:09] #240 closed

[2016-10-23 15:12] #226 closed

[2016-10-24 14:00] kossnocorp commented on #242
Hey, which npm version you use?

[2016-10-24 14:03] kossnocorp opened #244 "Write Flow docs"
See https://github.com/date-fns/date-fns/issues/218

Related: TypeScript docs https://github.com/date-fns/date-fns/issues/265

[2016-10-24 14:03] kossnocorp commented on #218
Hey! I'm closing the issue. We're going to address this in https://github.com/date-fns/date-fns/issues/244

[2016-10-24 14:03] #218 closed

[2016-10-24 14:08] kossnocorp commented on #179
@umidbekkarimov thank you for showing the direction! It would be a nice addition to date-fns functionality.

[2016-10-24 14:31] umidbekkarimov commented on #179
@kossnocorp 👍 it would be great to use like `import {parse, format, max, min} from 'date-fns'` in future without worrying about bundle size

[2016-10-24 14:38] LeshaKoss opened #245 "Make `parse` parse centuries"
[code]

More info at ISO 8601:2004(E) 4.1.2.3(c) and 4.1.2.4(d)

[2016-10-24 15:04] LeshaKoss commented on #228
ISO 8601:2004(E) doesn't allow timezones without time.
4.2.5.1:

[2016-10-24 15:04] #228 closed

[2016-10-25 03:03] MyTotoro opened #246 "date-fns 404"
Hey, I'm new to Angular2 and I'm trying to configure it but I get a 404 error when trying to GET it

My WebStorm looks like this:

![image](https://cloud.githubusercontent.com/assets/3621921/19671597/e6009136-9a3d-11e6-9a6f-01ba5c72cd78.png)

but I get a 404 for date-fns

![image](https://cloud.githubusercontent.com/assets/3621921/19671496/26285a06-9a3d-11e6-80cf-8ced335f9708.png)

I'm still new t

[2016-10-25 08:41] kossnocorp commented on #246
I'm not sure about the environment you have, but it seems to me that date-fns is not installed. Do you have it in `package.json`? What `ls node_modules/date-fns` (Bash) shows to you?

[2016-10-25 08:45] kossnocorp commented on #227
Sorry for the delay. Unfortunately, ATM date-fns doesn't have functions to manipulate time zones. Please see https://github.com/date-fns/date-fns/issues/180

[2016-10-25 08:45] #227 closed

[2016-10-25 09:02] kossnocorp opened #250 "Fix date-fns.org autodepoyment"
First of all, it doesn't work for a while already. Not sure when we broke it ¯\\\_(ツ)_/¯. The second thing is that we post release tweets with links to the website before deploying it.

[2016-10-26 00:23] MyTotoro commented on #246
It was installed in `node_modules/@types/date-fns` but I'm using `system.js`, and I didn't configure it properly - I've added the date-fns modules to the mapping and it works now!

Thanks for pointing me in the right direction though

[2016-10-26 07:02] kossnocorp commented on #246
Great! Please note that `import {startOfDay} from 'date-fns'` [wasn't working with SystemJS before `1.9.0`](https://date-fns.org/docs/Change-Log#1.9.0-2016-10-25)

[2016-10-29 17:22] tomspeak commented on #229
Are there any temporary work arounds? All my timestamps are unix, using `distanceInWordsToNow` returns `almost 47 years` ;)

[2016-10-29 18:04] LeshaKoss commented on #229
@tomspeak try multiplying timestamps by 1000

[2016-10-29 18:07] tomspeak commented on #229
Exactly the workaround I needed, thank you! Really enjoying the library. Very lightweight.

[2016-11-01 12:54] #245 closed

[2016-11-02 10:26] vbilici commented on #180
Our website heavily relies on time zone, this feature would be great!

[2016-11-02 10:58] kossnocorp commented on #180
It will be awesome if everyone who is interested in the functionality will post use-cases so that we can see what users need, prioritize and release desired functionality earlier. Thanks 🎉

[2016-11-02 10:58] kossnocorp commented on #180
For instance I would love to know the most wanted functions.

[2016-11-07 11:10] michalg42 opened #252 "No way to set UTC hour"
Hello, I came across tiny problem few days ago, because of daylight saving time that changed 2016-10-30.

My usecase is:

I have file, which name is date, in this issue, it was '2016-10-30', so I'm using it to create date object:
var date = new Date('2016-10-30');
then, in file there are records with hours, so I used function setHour:
date = setHour(date, 3);
and it would be ok, my date was 2016-1

[2016-11-07 18:17] kossnocorp opened #253 "FP (functional programming style functions)"
Create special type of functions that allow FP-style curring:

[code]

versus:

[code]

[2016-11-07 18:34] hugobessaa commented on #253
If `format` is curried, `const formatShort = format('YYYY-MM-DD')`

[2016-11-07 19:05] reywright commented on #180
[code]

When I'm using this library I have to end up using this function a lot to normalize the dates I get back across different user timezones. It would be nice if I could (doesn't matter how) use the utility in a way where it gives me back what I want without accounting for the users timezone. That's my personal use case and how I handle it now.

[2016-11-09 10:31] kitolog commented on #246
Hi, could you post here a simple example of mapping?

[2016-11-09 16:48] kossnocorp commented on #246
@kitolog can you elaborate?

[2016-11-11 23:45] ndrd commented on #242
Same problem here  ☹️

[2016-11-12 11:43] kossnocorp commented on #242
@ndrd can you tell more about your setup? Node & npm versions, library versions, etc. If you can, please provide a repo that I can close and debug the error locally.

[2016-11-12 12:45] umidbekkarimov commented on #242
@dickyjayaumbara, @ndrd

So I guess you're requesting it as `import {subDays} from 'date-fns'` and rollup doesn't understands how to map commonjs files? Need your `rollup.config.js` files for example.

@kossnocorp I think src also should be migrated from commonjs to modules (https://lebab.io/ will help)

[2016-11-21 02:35] existentialism commented on #179
Somewhat relevant... but I created a babel plugin that saves some keystrokes. It translates:

[code]
to
[code]

https://github.com/existentialism/babel-plugin-date-fns

Usual caveat of it working fine for our internal projects, but it could definitely use more feedback/usage.

(Also happy to transfer over to the date-fns org if interested!)

[2016-11-22 10:35] kossnocorp commented on #179
@existentialism omg, amazing work ❤️ ! Let's definitely transfer it!

[2016-11-23 12:00] LeshaKoss opened #256 "Write custom locale tests for `format`, `distanceInWords`, `distanceInWordsToNow` and `parse`"
I.e. to test if some locale can be passed into these functions, and also to test what if the provided locale does not provide helpers for this specific function

[2016-11-24 10:56] LeshaKoss opened #257 "`year<100` bug"
Bug affects all functions that use `new Date(year, month, day)`, namely:
- `addMonths`
- `getISOYear`
- `lastDayOfISOYear`
- `setMonth`
- `startOfTomorrow`
- `startOfYesterday`
- `endOfISOYear`
- `endOfTomorrow`
- `endOfYesterday`
- `getDaysInMonth`
- `startOfYear`

and also potentially all functions that uses any of those, namely:
- `addISOYears`
- `addQuarters`
- `addYears`
- `differenceInCalend

[2016-11-27 07:11] leshakoss opened #260 "`newDate`, `newISODate` and `now` functions"
`newDate` should mirror `Date` constructor, but instead of `years` first argument should be `fullYears` (so `newDate(90, 0, 1)` should generate 0090-01-01 instead of 1990-01-01

`newISODate` should have `isoYear`, `isoWeek` and `isoDay` as its first three arguments

`now` is just an idiomatic way to call `Date` constructor without arguments

Also consider to have `newUTCDate` as `newDate` but base

[2016-11-28 08:07] LeshaKoss opened #261 "`parse` ISO week-numbering years bug"
[code]

[2016-11-28 08:18] #261 closed

[2016-11-28 13:27] #257 closed

[2016-12-03 05:50] kenotron opened #264 "Typings doesn't work if you use it as a targeted import"
[code]
works while

[code]

Doesn't.

There is a very weird behavior on Typescript's part, but having this package actually include the typings actually causes more issues than to have people just do a ```npm install @types/date-fns``` which works brilliantly. Per documentation of TS 2.0+, @types is the official new way for non-TS native project anyway. I think you should remove the definition fil

[2016-12-03 05:52] kenotron commented on #264
I should add, this works:

[code]
Basically, the targeted import section of the definition file assumes that you have already imported everything from date-fns. Which is horrible for those who are not lucky enough to be doing tree shaking yet.

[2016-12-03 08:29] kossnocorp commented on #264
@kenotron sorry I'm not a TS user so overlooked this issue.

If it's "is the official new way for non-TS native project anyway" then I'm all for it.

However, there is a major issue with `npm install @types/date-fns`: upgrade process will be much harder for TS users because of versioning differences (the latest `date-fns` version is `1.11.2`, but `@types/date-fns` is `2.5.3`) and delays of `@types

[2016-12-03 09:18] kossnocorp commented on #264
An example from JSON docs data that could be useful:

![fullscreen_03_12_2016__09_16](https://cloud.githubusercontent.com/assets/52201/20858243/3751c5fe-b939-11e6-80d7-fcb9951f0586.jpg)

[2016-12-03 09:56] kossnocorp opened #265 "Write TypeScript docs"
See: https://github.com/date-fns/date-fns/issues/264
Related: Flow docs https://github.com/date-fns/date-fns/issues/244

[2016-12-03 11:01] kossnocorp opened #266 "Make `min` and `max` accept arrays instead of spread arguments"
It will help with consistency and FP functions.

[2016-12-03 11:01] mattlewis92 commented on #264
I would be inclined to say this is a bug with typescript, I will file an issue with them and see what they say. However this won't fix the problem for people on older versions of TS.

I think the way to solve this is to add a package.json to each modules folder with a typings entry that points to the correct function. I'd be more than happy to send a PR next week when I'm back from holiday that ad

[2016-12-03 11:04] kossnocorp opened #267 "Add docs about babel-plugin-date-fns"
See: https://github.com/date-fns/babel-plugin-date-fns and https://github.com/date-fns/date-fns/issues/179#issuecomment-261828789

[2016-12-03 11:49] kossnocorp commented on #264
@mattlewis92 nice, thank you!

[2016-12-03 15:33] kedoska commented on #180
In my case I need to set up the end-user time zone (starting with a _default_).

Application starts setting up (for example) `moment.tz.setDefault("Europe/London")` and customer can change it in his/her _settings page_.

So abstracting it will be:
 * a list that represents all the available _tz_.
 * a function to set/get the current _tz_.
 * a `format` function considering the current _tz_

/cc @k

[2016-12-04 20:05] kucherenkovova commented on #180
+1

[2016-12-04 22:45] juanangosto opened #268 "Spanish language support"

[2016-12-05 06:06] forkery opened #270 "Static site"
Could you please help me to understand, where is all the static code, templates, assets for the static site, do you use some static site generator? and where is it hosted then? I like the idea, I get the docs parsing part but how  it compiled to HTML i can't see?:)

[2016-12-05 06:06] amilajack opened #271 "PR: Add support for `eslint-plugin-flowtype-errors`"
This plugin allows flow to be run as an eslint plugin 🎉 Would a PR for this be welcome?

![ESLint Flow Demo](https://github.com/amilajack/eslint-plugin-flowtype-errors/blob/master/flow-demo.gif?raw=true)

[2016-12-05 07:40] yene opened #272 "Which browsers are supported?"
The information is missing in the readme.

Thanks

[2016-12-05 09:10] havenchyk commented on #272
@yene well, it need to be added to the readme, but we're using this lib with IE10+, Safari 9, Chrome and FF are working as well from the very early versions, but let's ask @kossnocorp

[2016-12-05 09:13] havenchyk commented on #242
@umidbekkarimov could you please clarify a little bit more, what's the problem with rollup's understanding of commonjs?

[2016-12-05 09:18] kossnocorp commented on #272
From the start the min requirement was IE8. We had Sauce Labs running cross-browser tests, but ATM it's turned off due to constant connection issues.

We'll update the README, thanks!

[2016-12-05 09:28] dickyjayaumbara commented on #242
@umidbekkarimov thanks for your help, its make me check the rollup.config.js, and iam try to edit that file, and now the problem is gone.

for @ndrd u can try my solution too,
- go to node_modules\@ionic\app-scripts\config
- edit your rollup.config.js
- search "namedExport" and add the module like this
  namedExports: {
          'node_modules/date-fns/index.js': [ "addDays",
          "addHours",

[2016-12-05 09:43] kossnocorp commented on #271
Looks awesome! Does it support file declarations (we don't want to have precompilation step)? If so, I'm all for it 🙌

[2016-12-05 09:50] kossnocorp commented on #270
@forkery the site is here https://github.com/date-fns/date-fns.org and it's hosted at [Firebase Hosting](https://firebase.google.com/docs/hosting/).

It works like that:

- `date-fns-org` during fetches the latest `date-fns` version deployment.
- The docs file is exposed via a module: https://github.com/date-fns/date-fns.org/blob/master/app/_lib/docs/index.js
- Then a React view renders it: https:

[2016-12-05 09:50] #270 closed

[2016-12-05 09:53] kossnocorp commented on #268
Amazing! Muchas gracias!

[2016-12-05 09:56] havenchyk commented on #272
link https://github.com/date-fns/date-fns.org/issues/84

[2016-12-05 10:02] umidbekkarimov commented on #242
@dickyjayaumbara you're welcome 👍

@havenchyk i'm note rollup user, but AFAIK it doesn't work with common js syntax by default and you need to configure [rollup-plugin-commonjs](https://github.com/rollup/rollup-plugin-commonjs) for it, and in case of `date-fns` lib you also have to configure [custom named exports](https://github.com/rollup/rollup-plugin-commonjs#custom-named-exports) (you can see

[2016-12-05 10:19] #268 closed

[2016-12-05 10:27] havenchyk commented on #242
@dickyjayaumbara well, it looks like it's not a problem with `date-fns`, but with rollup's way to handle imports.

So the issue can be closed, feel free to reopen anytime if you would like to add some notes to the readme how to solve this issue.

[2016-12-05 10:35] havenchyk opened #274 "Add issue and pr templates"
Since number of stars grows so fast, let's create a PR and Issue templates to simplify life of contributors

[2016-12-05 11:04] rauschma opened #275 "Add a brief comparison with Moment.js?"
Given how much of a de-facto standard Moment.js has become, it may make sense to briefly explain how date-fns differs.

[2016-12-05 16:29] kossnocorp opened #276 "😡 Broken deployment: Travis CI didn't upload new versions to CDN"
See: http://cdn.date-fns.org/v1.12.1/date_fns.min.js

[2016-12-05 16:33] amilajack commented on #271
What do you mean by file declarations? Are you referring to the `@flow` pragma?

[2016-12-05 16:34] kossnocorp commented on #271
I mean those files https://github.com/date-fns/date-fns/blob/master/src/add_days/index.js.flow

[2016-12-05 16:34] amilajack commented on #271
ahh. i see. Yes, it does.

[2016-12-05 16:35] kossnocorp commented on #271
@amilajack 🙏

[2016-12-05 16:53] s-a commented on #275
This was my first thought when I found ```date-fns```. https://date-fns.org/ tells some details. I personly often call moment.js to use http://momentjs.com/docs/#/displaying/ the display methods. However pretty interesting solution here 👍

[2016-12-05 18:20] kossnocorp commented on #180
I started working on it: https://github.com/date-fns/tzdata-fns

The goal is to parse IANA source files and generate code that will help to convert time between (and within) timezones without glitches.

The main problem is that JavaScript doesn't have API to work with timezones. Traditionally precise timezone calculations are done on the server-side that have access to [(traffic-heavy) IANA DB](ht

[2016-12-05 18:25] kossnocorp commented on #275
@rauschma Moment.js has a few problems that motivated me to start the project:

- Moment.js is mutable and it causes bugs ([hello `clone`](http://momentjs.com/docs/#/parsing/moment-clone/)!.
- Complex OOP API (which doubles mutability problem). Here is an example: https://github.com/moment/moment/blob/develop/src/test/moment/add_subtract.js#L244-L286. Moment.js allows to use `a.subtract('ms', 50)`

[2016-12-05 18:35] benjaminmcdonald opened #277 "Add ISO 8601 duration support"
https://en.wikipedia.org/wiki/ISO_8601

PYYYYMMDDThhmmss

[2016-12-05 18:52] c-dante commented on #275
+ Smaller bundle size (85.2kb vs moment's 121kb)
+ Does not force wrapping dates
  - In order to do anything in moment, you have to wrap everything in a moment object
  - While moment doesn't extend the Date object, it does expect certain functionality through its code
  - Better for tree shaking if you're using a modern bundler
+ All of date-fns's code are pure functions (and simple to boot)
  -

[2016-12-05 19:34] LeshaKoss commented on #180
Please note that built-in JavaScript timezone algorithms don't perfectly follow all historical timezone changes. ES5 specification says:

from http://es5.github.io/#x15.9.1.8

So basically it assumes that all dates in the past used the current time zone scheme, at least in regard to DST changes.

Seems like it changed in ES 2015 (but it still may depend on platform):

from http://www.ecma-internat

[2016-12-05 20:07] viebel opened #279 "Interactive documentation?"
Would it make sense to make your documentation interactive using KLIPSE?
http://blog.klipse.tech/javascript/2016/06/20/blog-javascript.html

Disclaimer: I'm the author of KLIPSE

[2016-12-05 20:21] izeau opened #280 "French language support"
🇫🇷

[2016-12-06 00:38] bfred-it commented on #275
I see 64KB here: https://github.com/date-fns/date-fns/blob/master/dist/date_fns.min.js

Which is still not that small and if you keep adding features the difference might end up not being much. moment.js started out as as micro library and look where it ended up 😄

[2016-12-06 05:38] umidbekkarimov commented on #276
Did you try https://unpkg.com ? just add `dist` dir to npm and it would be accessible from https://unpkg.com/date-fns@1.12.1/dist/date_fns.js

[2016-12-06 06:41] leshakoss opened #284 "Duration support"
Functions to work with durations, like http://momentjs.com/docs/#/durations/ also #277

Seems like it is an anticipated feature:
https://www.reddit.com/r/javascript/comments/5gl51e/a_modern_javascript_date_utility_library/daucfia/
https://www.reddit.com/r/javascript/comments/5gl51e/a_modern_javascript_date_utility_library/dat91yu/

Not sure about API. If someone has suggestions, please post them h

[2016-12-06 06:48] thisconnect commented on #275
Good look trying to tree shake Moment.js

[2016-12-06 06:59] s-a commented on #275
@bfred-it in fact no one need s the full API. It is interesting to bundle functions I need.

[2016-12-06 09:23] kossnocorp commented on #275
@bfred-it the dist version of date-fns (https://github.com/date-fns/date-fns/blob/master/dist/date_fns.min.js) coming as a single file while with webpack, Browserify (and other module bundler tools) you'll get the only code you use. It's possible to optimize the dist by splitting the functions into "packs", but our focus is `npm` version. Contributions are welcome tho!

[2016-12-06 10:45] havenchyk commented on #252
@michalg42 hey, thanks for posting here.

could you please clarify a little bit, do you request any change in setHours or to create new method that will do set hours in UTC?

From your message I just see that `setHours` didn't handle change of "daylight saving time".

[2016-12-06 10:50] farnoy commented on #284
@LeshaKoss how about nesting modules under `date-fns/duration/` and following closely the interface of momentjs? Since we already have `addDays`, `addSeconds` etc., we can make the duration object store a number for each unit and use these functions when applying the duration to a Date object. Another thing, maybe instead of providing `add(duration, 3, 'days')`, we could do it without strings, jus

[2016-12-06 11:35] mattlewis92 commented on #264
Looks like the fix for this is straightforward, all that needs doing is to modify the publish script to add a `package.json` file into each functions folder with the contents

[code]

[2016-12-06 12:10] bfred-it commented on #275
Perfect! I didn't even realize 😅

[2016-12-06 13:44] mattlewis92 commented on #264
@kossnocorp sent a PR to fix this, will send another one this weekend for auto generating the typings files! 😄

[2016-12-06 14:59] c-dante commented on #284
I'm not as interested in a library to work with milli representations for values -- moment's durations module does that well, in a small enough package. Moment's `duration` package

I was thinking we'd provide a means of representing harder durations like, "two months", that only has meaning when applied to a basis moment in time (that is, "two months" does NOT contain 60 days). I want to think ab

[2016-12-06 15:10] farnoy commented on #284
@c-dante I'm not talking about converting all these durations to milliseconds. From what I see, moment itself represents the duration with 3 variables: milliseconds, days and months. Adding one month is not like adding `365.24/12*24*60*60` seconds. In the same way, adding one month is not like adding 31 or 30 days.

[2016-12-06 15:15] Hanse opened #290 "Norwegian Bokmål (nb_NO) support"
🇳🇴

[2016-12-06 16:22] ertrzyiks opened #292 "Polish language support"
🇵🇱

[2016-12-06 16:56] luislobo commented on #275
It would be good to add this to the README.md

[2016-12-06 16:56] #290 closed

[2016-12-06 17:55] havenchyk commented on #279
@viebel hey, thanks for suggestion. I don't see this task will have high priority, data-fns also has a pretty nice website.

/cc @kossnocorp @LeshaKoss what do you think?

[2016-12-07 07:14] guigrpa opened #301 "Catalan language support"
PR #300

[2016-12-07 08:36] okonet opened #303 "Add support for unix time"
https://github.com/moment/moment has support for unix epoch time: http://momentjs.com/docs/#/parsing/unix-timestamp/ and it seems it's doing some magic to normalize time zones when calling `moment().unix()`: https://github.com/moment/moment/blob/66721ca52f05d364942f997c12219b8147dd6551/src/test/moment/utc_offset.js#L100

Conversion from unix timestamp to Date object is straightforward, but the oth

[2016-12-07 08:46] LeshaKoss commented on #303
@okonet I think in JavaScript timezones don't affect timestamps/values of dates, e.g. in my own timezone:
[code]

Looks like in these tests they verity that timestamps don't change when changing a timezone. Am I missing something here?

[2016-12-07 08:47] guigrpa commented on #301
Thanks for merging!

[2016-12-07 08:47] #301 closed

[2016-12-07 08:54] okonet commented on #303
That's exactly what I'm not sure about since `moment().unix()` and `Date.now() / 1000` differs in my timezone (CET +1:00):

I'm trying the following code:

[code]

here https://runkit.com/npm/moment

[2016-12-07 08:56] LeshaKoss commented on #303
@okonet
`new Date('1970-01-01')` creates a date in UTC. You can use `date-fns/parse` to parse an ISO 8601 date in your local timezone

[2016-12-07 09:20] okonet commented on #303
Ah gotcha. So, basically, I should not use `new Date` with strings to make it consistent?

[2016-12-07 09:22] LeshaKoss commented on #303
@okonet. Yeah. Use `parse` right now and `toDate` in some time in the future (when I'll finish it. PR: #259)

[2016-12-07 10:37] #303 closed

[2016-12-07 10:52] okonet opened #304 "format returns "undefined NaN, 0NaN" for invalid dates"
Here is the test case:

https://runkit.com/581c7c34d33aac0014dfc5d3/5847e8805c9e5c001426d5de/branches/master

It should probably use `isValid` before trying to format and throw in this case?

[2016-12-07 12:49] #264 closed

[2016-12-07 15:52] ejulen opened #305 "Swedish language support"
I'm willing to give this a go. Would that be okay?

[2016-12-07 15:53] LeshaKoss commented on #305
@ejulen yeah, sure, thanks!

[2016-12-07 15:53] ejulen commented on #305
@LeshaKoss cool, thanks for responding so quickly!

[2016-12-07 21:11] jakub-g opened #306 "Add prior art in README"
Hi,

I've recently read the docs of vuejs and I was amazed by this page

https://vuejs.org/v2/guide/comparison.html

which compares vue to several other frameworks.

IMO each self-respecting library/framework should provide this kind of information in some prominent place of the README or docs, to make it easier for potentially interested people to quickly evaluate several competing packages and c

[2016-12-07 21:17] kossnocorp commented on #306
@jakub-g yes, it's in progress. We're going to have FAQ page and README section with alternatives. Also, we're working on performance tests (sneak peak 🎅 https://gist.github.com/kossnocorp/6dccf64b3991622b53e6ebb6aaf20bfd).

If you want to see a brief comparison with Moment.js, see my comment here: https://github.com/date-fns/date-fns/issues/275#issuecomment-264934189

[2016-12-07 21:19] kossnocorp commented on #304
@okonet can you tell more about your use case, how did you get an invalid date? I'm wondering if we should use `isValid` everywhere.

[2016-12-07 21:31] kossnocorp commented on #279
@viebel thank you for suggestion, I need to see options we have 😊 How it could be integrated into React app? I was considering RunKit widget for each function https://runkit.com/npm/date-fns.

[2016-12-07 21:36] kossnocorp commented on #242
@umidbekkarimov please tell me if it's possible to improve `rollup` support. Thanks everyone!

[2016-12-07 21:36] #242 closed

[2016-12-07 21:50] kossnocorp commented on #252
I'm a bit confused about the case, sorry for that.

When I use `new Date('2016-10-30')` I'm getting time in UTC but in the system time zone (+1 hour):

![window](https://cloud.githubusercontent.com/assets/52201/20987860/282f9340-bcc6-11e6-84d7-d3bb690e447a.jpg)

But when I use `new Date(2016, 9, 30)`, I'm getting the time without timezone shift.

![window](https://cloud.githubusercontent.com/asset

[2016-12-07 21:51] kossnocorp commented on #275
Will convert the comments into FAQ. Please tell me if you have more questions.

[2016-12-08 06:19] umidbekkarimov commented on #242
I think it should be issue in  [rollup-plugin-commonjs](https://github.com/rollup/rollup-plugin-commonjs) itself (as i said before i'm not rollup user (go team webpack)), cause date-fns follows syntax that they described here [custom-named-exports](https://github.com/rollup/rollup-plugin-commonjs#custom-named-exports).
Maybe changing syntax of index file to
[code]
can be the workaround for rollup

[2016-12-08 06:19] albertorestifo commented on #306
[code]

![](http://replygif.net/i/1507.gif)

[2016-12-08 06:25] albertorestifo commented on #304
Use `isValid` everywhere and return `Invalid Date` would reflect the same behaviour as `Date`, seems like a good idea to me.

It would certainly give me more clues about what's going on that seeing `undefined NaN, 0NaN` somewhere in my app

[2016-12-08 06:46] albertorestifo commented on #253
Yup, the difficulties is that methods should not simply be curried, but have the arguments re-arranged, mostly to be `B - A - C` and all optional arguments must be dropped.

So something like `isBefore` should have the arguments re-arranged to be:

[code]

Only then you can take full advantage in the power of functional programming:

[code]

The problem arises in methods that accept an optional th

[2016-12-08 07:24] umidbekkarimov commented on #253
I guess this problems can be solved with lodash [convert](https://github.com/lodash/lodash/wiki/FP-Guide#convert) util cause they had [similar](https://github.com/lodash/lodash/wiki/FP-Guide#most-methods-follow-these-rules) problems.

@jdalton can you please give a hint if it's worth to use convert here or not ?

[2016-12-08 07:37] umidbekkarimov commented on #304
I thought it was by design :/ and used this workaround

[code]
Also as you can see I had to use `isDate` before `isValid` cause it throws TypeError

[2016-12-08 07:46] LeshaKoss commented on #304
@umidbekkarimov i thought `parse` returns always returned either `Date` or `Invalid Date` 🤔 So
[code]
should be enough, at least that's how he clean Date arguments in all functions in `date-fns`. Does it not work that way?

[2016-12-08 07:50] LeshaKoss commented on #304
We should certainly test all functions for `Invalid Date` arguments. As I see it, if any argument is Invalid Date and the result should be Date, then function should return `Invalid Date`. But what to do with functions that should return strings? `'Invalid Date'`? `null`? Exception?

[2016-12-08 07:53] albertorestifo commented on #304
@LeshaKoss I'd say still return `Invalid Date`. The user will then be able to clearly see the error.

[2016-12-08 07:56] umidbekkarimov commented on #252
To resolve this issue all date-fns functions should work with UTC by default

![screen shot 2016-12-08 at 11 53 33](https://cloud.githubusercontent.com/assets/4734297/21002018/f6df44d0-bd3c-11e6-9161-e05bd5327a5f.png)

[2016-12-08 08:13] umidbekkarimov commented on #304
@LeshaKoss

You're right, i made this changes as soon as i jumped to date-fns and `isValid` start throwing type errors everywhere in project  😅 so I double checked it everywhere (yes, I have trust issues)

But thanks, i will fix this part in my helpers.

I guess it should throw another `TypeError` because it's in developer responsibility to check value before parsing it, silently formatting invali

[2016-12-08 08:36] jdalton commented on #253
Being configurable is great! If it's worth it is up to you. You can always wait until there's enough interest to make it worth the investment.

[2016-12-08 09:18] okonet commented on #304
I agree it should be an exception.

[2016-12-08 09:41] kossnocorp commented on #275
[We got some perf tests working](https://github.com/date-fns/date-fns/pull/289). Here is a sneak peak preview: https://gist.github.com/kossnocorp/6dccf64b3991622b53e6ebb6aaf20bfd

[2016-12-08 10:06] LeshaKoss commented on #304
@umidbekkarimov @okonet

The point of my proposal is to mirror JavaScript arithmetic operations, with `Invalid Date` being a counterpart of `NaN` (since `Invalid Date` is a `Date` with `value=NaN`)

So:
[code]

[2016-12-08 10:41] kossnocorp commented on #304
I like the idea of having `Invalid Date` in function that return `Date` and exception for `format(new Date(NaN))`. See the native `Date` behaviour:

![window](https://cloud.githubusercontent.com/assets/52201/21006784/64bf069e-bd32-11e6-8fa8-0ace00d06b65.jpg)

Functions like `getSeconds` should always return `NaN` when the argument is an `Invalid Date`:

![window](https://cloud.githubusercontent.co

[2016-12-08 10:41] kossnocorp commented on #304
It's breaking change, so we need to ship it with `2.0`.

[2016-12-08 10:59] havenchyk commented on #252
it looks like @umidbekkarimov is right, https://runkit.com/58493ae264cc3a0014463ad7/58493ae264cc3a0014463ad8/branches/master

[2016-12-08 11:25] kossnocorp commented on #252
@umidbekkarimov we're going create `date-fns/utc` version of every function, but the main function will always return date in the system time zone.

![](http://i.ncrp.co/0e2r0B203i0w/Image%202016-12-08%20at%2011.11.07%20AM.png)

Hence this is a correct behaviour.

But maybe it's worth to add something like `dateFns.parse('2016-05-03T22:30:00.000Z', {stripTz: true})` that will be equal to `dateFns.

[2016-12-08 11:47] umidbekkarimov commented on #252
@kossnocorp basically `Date` instance will always have current system timezone, `utc` functions help to ignore timezone, but in the end it still will be same object

![screen shot 2016-12-08 at 15 35 12](https://cloud.githubusercontent.com/assets/4734297/21008629/f3ce3048-bd5b-11e6-94be-1a1eaaf018c3.png)

I guess you only want to `parse` or `format` values with timezone or without.

[code]

[2016-12-08 12:32] LeshaKoss commented on #304
@kossnocorp While throwing an exception is a breaking change, returning something useful like `"Invalid Date"` string instead of `"undefined NaN, 0NaN"` is not. Maybe we temporary fix it like that in context of v1.x.x?

[2016-12-08 12:33] msudgh opened #309 "Farsi language support"
Hello, Everybody
I want to translate the library to Farsi.
Does anybody else is translating?

Thanks

[2016-12-08 12:34] kossnocorp commented on #304
`Invalid Date` is not that much better than `undefined NaN, 0NaN`, so I think it could wait till `2.0`.

[2016-12-08 13:07] albertorestifo commented on #304
@kossnocorp true, however `Invalid Date` might be a bit more of an help in debugging the problem and stear users away form potentially thinking of a library bug

[2016-12-08 13:46] kossnocorp commented on #304
Ok then, @LeshaKoss you can proceed with `1.x` fix.

[2016-12-08 14:04] kossnocorp commented on #309
@msudgh it's not claimed yet, can't wait for your contribution 😸

[2016-12-08 15:34] msudgh commented on #309
Thanks, I'm on it. 😂

[2016-12-08 15:35] LeshaKoss commented on #309
@musdgh thank you! 🙏 Let's keep this issue open so no one else claims it

[2016-12-08 15:45] msudgh commented on #309
Oh, you're right.

[2016-12-08 15:49] msudgh commented on #309
Are you family? it's interesting 😊.
@kossnocorp @LeshaKoss

[2016-12-08 15:57] LeshaKoss commented on #309
@msudgh brothers 😄

[2016-12-08 16:00] msudgh commented on #309
It rarely happened two brothers work on a repository.
Good luck.

[2016-12-08 17:57] redaikidoka opened #313 "In doing an ng build, it errors out with "Duplicate identifier 'DateStringOrNumber'""
` [94% asset optimizationError in bail mode: [default] ./node_modules/@types/date-fns/index.d.ts:6:5
Duplicate identifier 'DateOrStringOrNumber'.`

The 2 conflicting declarations are in
`node_modules/@types/date-fns/index.d.ts:6:5`
and
`node_modules/date-fns/typings.d.ts:1`

[2016-12-08 18:36] kossnocorp commented on #309
@msudgh hehe, family bussiness.

[2016-12-08 18:38] kossnocorp commented on #313
Sorry, I'm not familiar with ng build process, can tell a bit more about the env (e.g. which module bundler tool you use) and how do you import date-fns functions?

[2016-12-08 19:14] redaikidoka commented on #313
The date-fns functions are being included in the @types; the ng-build
process uses webpack to bundle up the application.

On Thu, Dec 8, 2016 at 10:38 AM, Sasha Koss <notifications@github.com>
wrote:

--

-=-=-==-=-=-=-==-=-=-=-=-=-=-=-=-=-
Pol Stafford
Storyteller, Writer, Geek, Sensei

[2016-12-08 22:10] dfreire opened #315 "Portuguese language support"

[2016-12-09 06:10] viebel commented on #279
The main difference between klipse and runkit is that klipse runs fully on the client side.

But if your doc is a react app, my suggestion would be to implement by yourself the evaluation of the code snippets:

- include `date-fns` bundled js on the page
- add a handler to your codemirror editor that triggers evaluation of the code with `eval`

I don't think you need either klipse or runkit

[2016-12-09 06:10] #279 closed

[2016-12-09 11:35] LeshaKoss opened #317 "Check other locales for incorrect tests"
https://github.com/date-fns/date-fns/pull/312

[2016-12-09 12:06] benjamingr commented on #275
A way to do chaining would be absolutely great. Personally I wouldn't mind even altering the built in `Date` object with immutable helpers. The part I want is mostly just infix.

[2016-12-09 13:49] asia-t opened #319 "Method suggestion: Return the number of days that overlap in two date ranges"
I had to write a method for returning the number of overlapping days in date ranges several times in different projects already and always found it a missing feature from the existing libraries.

Would you consider adding it to date-fns?

I can submit a PR with it if you're interested.

[2016-12-09 15:51] c-dante commented on #275
@benjamingr chaining is not good -- mutation of objects defeats the purpose of this library being small, pure functions. Also, manipulating the built-in prototypes is also a bad practice. At that point, just use moment which embrasess that approach.

If you want chaining in the sense of not having to do nested functions, check out the FP issue #253 which would let the library support pure function

[2016-12-09 15:55] benjamingr commented on #275
@c-dante I didn't suggest mutation at all - you can chain functions without mutating the objects.

Two example that come to mind are how functional languages like Haskell deal with this through infix notation or how languages like C# deal with it with the `DateTime` class instances being mutable.

To be clear. Something like:

[code]

Would return a new `Date` instance. If we want to avoid interme

[2016-12-09 15:59] c-dante commented on #275
Yeah but in order to do that, you're mutating the prototype of `Date` -- something that itself is a bad practice.

[2016-12-09 16:01] c-dante commented on #275
Yeah, I don't know if you saw what I added, but I'm not opposed to either the FP changes happening, and implementing the chain as just a "flow wrapper", or creating a light chain operator such as:

[code]

I'm not a fan of mutating the `Date` prototype, as that is a bad practice.

[2016-12-09 16:04] benjamingr commented on #275
@c-dante you could just return a `Proxy` for a date and that could give you chaining without `.value()` needed.

[2016-12-10 01:42] blyndcide commented on #275
The bind operator :: would be great for chaining in a functional library like date-fns.  Maybe look into it after ecma stage 1 approval.

[2016-12-10 06:51] LeshaKoss commented on #319
@asia-t sure, go for it, thanks!

[2016-12-10 07:54] #317 closed

[2016-12-10 07:58] #280 closed

[2016-12-10 08:43] LeshaKoss commented on #292
Closed in #294

[2016-12-10 08:43] #292 closed

[2016-12-10 08:44] LeshaKoss commented on #305
Closed in #311

[2016-12-10 08:44] #305 closed

[2016-12-10 08:44] LeshaKoss commented on #315
Closed in #316

[2016-12-10 08:44] #315 closed

[2016-12-10 13:16] RIanDeLaCruz opened #324 "Filipino (Philippines) language support"

[2016-12-10 13:20] RIanDeLaCruz commented on #324
Hi all. Claiming this one. :)

[2016-12-10 13:56] LeshaKoss commented on #324
@RIanDeLaCruz thank you!

[2016-12-10 15:30] mesaugat opened #326 "Feature request: Method to check valid date formats like moment.js"
In moment.js we can do something like this:

[code]
[http://momentjs.com/docs/#/parsing/string-format/](http://momentjs.com/docs/#/parsing/string-format/)

It will be great if date-fns had something like this too. It is quite a useful feature.

[code]

[2016-12-11 14:56] alpcanaydin opened #328 "Turkish language support"
Working on this. Comes in two days 🎉

[2016-12-12 12:03] LeshaKoss commented on #326
@mesaugat can you provide us an example usecase? Do you use this function combination to check if user wrote a date in a correct format or to check if the given date exist (like `isValidFormat('2000-02-31', 'YYYY-MM-DD') === false`?)

[2016-12-12 12:49] mesaugat commented on #326
Moment does both (checks the correct format and also the given date).

As the name suggests `isValidFormat` should only check for the valid date formats.
`isValidFormat('2000-02-31', 'YYYY-MM-DD') === true`

Checking for valid date is a nice idea but I don't think it's required. It will be doing much more than what the method suggests. What do you think?

[2016-12-12 13:01] LeshaKoss commented on #326
@mesaugat yeah, probably.

Right now we have a draft for a function that does kinda what you need (#259) but we planned its release to 2.0.0 (because it involves renaming the current function `parse` to `toDate` and implementing a new `parse` without backward compatibility).

We can adjust it for your needs and make `isValidFormat` (I like name `isValidDateString` more though) to make it easier fo

[2016-12-12 13:57] mesaugat commented on #326
Actually, I've already replaced moment. There were only a few cases as such which I solved using some regex. It's not perfect but it kinda does the work for me.

Yes, `isValidDateString` is much better. I'll be waiting for the release. When are you planning to release 2.0.0?

[2016-12-12 19:22] teoulas opened #332 "Greek language support"
I'd like to work on the Greek locale files, if nobody's working on it.

[2016-12-12 21:51] kossnocorp commented on #332
@teoulas please proceed! 👍

[2016-12-13 02:33] kuntau opened #335 "Malay language support :malaysia:"
Anyone else working on this?

 :malaysia:  :malaysia:  :malaysia:

[2016-12-13 09:19] LeshaKoss commented on #328
closed in #329

[2016-12-13 09:19] #328 closed

[2016-12-13 09:23] LeshaKoss commented on #335
@kuntau well, it's not claimed yet. Looking forward to your contribution!

(you may want to base it on Indonesian locale https://github.com/date-fns/date-fns/tree/master/src/locale/id seeing how similar these languages are)

[2016-12-13 13:12] LeshaKoss commented on #253
There's a little problem: there are some functions that have an optional argument `options`. We should probably modify all functions to have this argument, to specify timezones (#180), to specify the number of additional digits in all functions that use `parse` (https://github.com/date-fns/date-fns/blob/master/src/parse/index.js#L55) and just generally for the consistency. Should we make a separat

[2016-12-13 14:32] albertorestifo commented on #253
I would say having two methods looks like the best option to me.

This would also implicitly motivate to take advantages of the functional features:

[code]

but still give the benefit of being straight forward when the default options work for you

[2016-12-13 17:12] #319 closed

[2016-12-13 18:13] kossnocorp commented on #253
👍 for 2 methods.

[2016-12-13 18:43] milankinen commented on #275
@benjamingr I've also thought a lot about chaining but IMHO OO is not the right approach for this library because we're talking about date-**fns**. I'm also worried about tree shaking issues with OO implementation.

How about currying and re-ordering of function arguments to support partial application (like Ramda does)? That would enable quite elegant composition of date functions and also suppor

[2016-12-14 06:17] LeshaKoss commented on #284
- `addDaysToDuration(duration, number) -> duration` (`durations/addDays`?)
- `addHoursToDuration(duration, number) -> duration` (`durations/addHours`?)
- `addMillisecondsToDuration(duration, number) -> duration` (`durations/addMilliseconds`?)
- `addMinutesToDuration(duration, number) -> duration` (`durations/addMinutes`?)
- `addMonthsToDuration(duration, number) -> duration` (`durations/addMonths`

[2016-12-14 07:01] LeshaKoss commented on #332
Closed in #334

[2016-12-14 07:01] #332 closed

[2016-12-15 22:56] AbdallahAHO opened #340 "Arabic language support"
Arabic Language (Modern Standard Arabic - Al-fussha) support for date-fns.
Is anybody working on this already?

[2016-12-16 09:22] jameshopkins opened #341 "Documentation On Compiling The Package Locally"
I wish to make a contribution to the project. I need to locally symlink my development version of `date-fns`, so that I can test it out with a dependent project.

I wish for this symlinked local copy of `date-fns` to mirror the structure of the `date-fns` package from the `npm` registry. I see there is `release` script but this is (obviously, given the name) tightly coupled to actually deploying t

[2016-12-16 09:26] LeshaKoss commented on #341
@jameshopkins
try to remove these lines
[code]
from the end of `scripts/release_npm.sh` and run it. The generated package should be located in tmp/npm

[2016-12-16 10:13] Andersbiha opened #342 "Danish language support"
Is anyone working on Danish language support yet?

If interested i have this in a local fork ready to be merged.

[2016-12-16 10:15] LeshaKoss commented on #340
@AbdallahAHO Well, it's not claimed yet. Can't wait to see your contribution! 😉

[2016-12-16 10:18] AbdallahAHO commented on #340
Great! I will start working on it right away. :+1:

[2016-12-16 10:19] LeshaKoss commented on #342
@Andersbiha it's not claimed yet. Looking forward to see the PR 🙂

[2016-12-16 10:29] jameshopkins commented on #341
Thanks; that now puts the bundle in `tmp/npm`. However, it's still not ideal, since I have to manually configure an entry point in the local `date-fns` package, to point to the `tmp/npm` target. Also, since I'm using the i18n feature, I have to change references from `date-fns/locale/...` to `date-fns/tmp/npm/locale/...`.

Am happy to put together a PR later on, that allows a more friendly interfa

[2016-12-16 16:09] LeshaKoss commented on #342
closed in #343

[2016-12-16 16:09] #342 closed

[2016-12-16 16:10] LeshaKoss commented on #324
closed in #339

[2016-12-16 16:10] #324 closed

[2016-12-18 04:37] mendelk opened #344 "Confusing Documentation for isBefore / isAfter (possibly others)"
Hi! Thanks for this wonderful project.

I believe the docs are mistaken for the `isBefore` and `isAfter` functions.

So for `isBefore`: according to the [summary](https://github.com/date-fns/date-fns/blob/7ee46f03f8691562f1ec73907c1ae3e42eea7937/src/is_before/index.js#L5) and [example](https://github.com/date-fns/date-fns/blob/7ee46f03f8691562f1ec73907c1ae3e42eea7937/src/is_before/index.js#L14-L18

[2016-12-18 09:19] LeshaKoss commented on #344
@mendelk thank you! You're right, it is a mistake. I'll release the fix ASAP, please let us know if you find other inconsistencies in the documentation

[2016-12-18 14:48] mendelk commented on #344
@LeshaKoss Thanks for super-quick fix, and again for all the work you do on this 😃

Gonna close as it appears to be fixed!

[2016-12-18 14:48] #344 closed

[2016-12-19 16:16] c-dante commented on #284
Okay, so a duration in moment's code is (@farnoy pointed out) an object description of quantity by unit.
[code]

I think this representation is probably the best given that a "duration" when applied to a calendar at a specific time is when it can finally have meaning (accounting for leap years, months, etc.)

Past that, the operations you would like to do with a duration are probably:
+ Add/subtra

[2016-12-19 21:01] webpapaya commented on #277
I'm currently working on a similar date library like and this and just realized that date-fns and my library [zeitgeist](https://github.com/webpapaya/zeitgeist.js) might have the same goals. As I already started implementing parts of the duration specification under https://github.com/webpapaya/zeitgeist.js/tree/master/src/duration I would be happy to provide those features to date-fns and join fo

[2016-12-20 10:39] andrewn opened #347 "Parsing '2016-22-99' returns valid date"
Parsing a date with an invalid month and year such as:
  `dateFns.parse('2016-22-99')`

Returns:
  `"2018-01-06T23:00:00.000Z"`

Doing the same in Chrome 54.0, Safari 10 and node 7.1.0 returns an `Invalid Date`.

I'm not sure who's right but I'd expect this to be invalid?

[2016-12-20 16:49] kossnocorp commented on #277
@webpapaya we would love to have you onboard! Please take a look at the API idea we have: https://github.com/date-fns/date-fns/issues/284#issuecomment-266952458. We can also connect in a Telegram group: https://telegram.me/date_fns (I just created the group, we didn't have any activity there yet).

[2016-12-20 18:40] LeshaKoss commented on #347
@andrewn

Do you mean like `new Date('2016-22-99')`?

Well, 99th of 22nd month 2016 is a valid but non-existent date, in the sense that `new Date(2016, 21, 99)` would yield the same result. ATM in `parse` we don't check if the date exist, and if we will, it would make a lot of problems to solve. For example, some dates exist in some timezones but don't in the other timezones:
[code]

In `America/N

[2016-12-20 19:05] LeshaKoss commented on #326
Well, that's a big question 😅 As soon as everything is ready: https://github.com/date-fns/date-fns/milestone/3

[2016-12-20 20:24] webpapaya commented on #284
I think it would be good if date-fns follows the ISO8601 specification for durations. When talking to APIs I found it very pleasing to follow this representation because it is standardised so other libraries know how to handle this format. Besides the standard representation, the iso format contains the units of the duration. One can have a look at the ISO string and know exactly if the duration i

[2016-12-20 20:47] kossnocorp commented on #284
@webpapaya

An additional package will introduce complexity to whole release process (starting from building system and publishing, finishing the website) and to the end user.

I also hate verboseness of the API, but it has its pros, like:

[code]

👍

👍

[2016-12-20 20:49] kossnocorp commented on #284
I like the idea of use strings over objects, because of serializability.

[2016-12-20 21:01] webpapaya commented on #284
I think if the naming is an issue for somebody they can always create an alias for the given fn.
[code]
As there is enough other work to do (switch from hamjest to assert, extract every fn into directory). I'll start to put all duration related fns into a `durations` subdirectory within date-fns and we can always move rename/extract them to somewhere else afterwards.

[2016-12-20 23:27] c-dante commented on #284
I'm all for using the ISO standard as a means of serializing and deserializing a duration -- I'm all for a pair of functions like `duration.fromISODuration( String ): Duration` and `duration.toISODuration( duration ): String`

Internally, strings would be a horrible representation (parsing every time you use it/mutate it is bad), and immutable object updates are nice.

I'm still very interested in

[2016-12-21 07:51] webpapaya commented on #284
There is an ISO way of applying a duration to a date '2000-01-01P1Y' but I think it's not a main use case. So we should ignore this for now.

Another open question is how we're going to deal with date components without knowing the start date. Eg. 'formatDuration("P1Y", "in seconds")'. Some ideas:
- Throw an error in cases we can't convert precisely
- ignore the date part of the specification comp

[2016-12-21 12:27] kossnocorp commented on #275
Hey, there! We're looking for testimonials for the new date-fns.org home page. If you want to share your thoughts with the world, see: https://github.com/date-fns/date-fns.org/issues/93. 😇

[2016-12-21 18:23] c-dante commented on #284
@webpapaya Why do you figure? We don't take ISO dates as the input to every `date-fns` object. It seems horribly inefficient and not the average use case to force all input/ouput to be the ISO standard. Standards are for communicating results and external representation, not for internal use -- internally, a MYSQL database isn't representing things in the ISO standard. Can you point out where it s

[2016-12-21 21:42] webpapaya commented on #284
@c-dante

Just for clearification I completely agree that durations should be represented as an object internally, as it makes life a lot easier. For the function input I think we should use iso string durations: For example:

[code]
Using a different representation than the iso string as function input seems like reinventing the wheel. If we run into performance issues we can always create a seco

[2016-12-22 16:49] webpapaya opened #351 "Use unicode CLDR data for localisation"
Unicode maintains a list of localisations called [CLDR](http://cldr.unicode.org/) (Common Locale Data Repository) which contains locales for most languages including country specific translations. I think most of the translations from date-fns could be reused in this library and it might be a good idea to use the CLDR data instead of maintaining a separate list of translations.

Unicode releases t

[2016-12-23 01:30] RIanDeLaCruz commented on #351
CLDR Data looks interesting. Willing to work on this

[2016-12-23 09:29] soyuka opened #352 "Export format locales (months, days)"
Hi,

I think that this might be related to #345 even though the proposed patch seems more complicated then this feature request.

For example in `moment` you can retrieve days/months by doing `moment.months()` or `moment.weekdaysShort()` etc. Here, locale are not directly exposed. I think it'd be sufficient to have something like:

[code]

[2016-12-23 19:08] derekblank opened #353 "Icelandic language support"
Can take Icelandic locale if unclaimed. 🇮🇸

[2016-12-23 20:50] tunnckoCore opened #354 "Bulgarian language support"
i'll start it :bulgaria:

[2016-12-23 22:32] LeshaKoss commented on #353
@derekblank sure, go ahead, can't wait to see your contribution! 😀

[2016-12-23 22:33] LeshaKoss commented on #354
@tunnckoCore thank you! Looking forward to your contribution! 😄

[2016-12-24 09:33] tunnckoCore commented on #354
Don't know but it's a bit hard to implement it :rofl:

Almost built them as I think it should be, but it seems there's no "ordinal formatters" in the english variant, so when try to run the tests it fails

[code]

the part
[code]

[2016-12-24 09:41] tunnckoCore commented on #354
In that `var formatters` object, there's no formatter for `Mo`, but tests are passing. There's no formatter for `Do` (for example, `en` as base) too, but tests fails. Huh.

[2016-12-26 14:38] arvigeus commented on #354
Not sure if this is correct #357 since it's my first pull request ever.

[2016-12-26 15:11] athivvat opened #358 "Thai language support"

[2016-12-28 11:08] silvenon opened #359 "Croatian language support"
I'd like to work on this.

[2016-12-28 19:31] derekblank commented on #353
Closed by #356

[2016-12-28 19:31] #353 closed

[2016-12-29 10:47] Pyppe opened #360 "Finnish language support"
Just started to work on this.

[2016-12-29 11:02] Pyppe commented on #360
How should `a.m.` / `p.m.` be handled if the language doesn't use them?

[2016-12-29 11:06] LeshaKoss commented on #360
@Pyppe thank you, looking forward to see your contribution! Handle `a.m.`/`p.m.` as indicator of the time of the day when used with 12-hour clock. For example, in Polish and Russian locales we use four states: `in the night`/`in the morning`/`in the afternoon`/`in the evening`: https://github.com/date-fns/date-fns/blob/master/src/locale/pl/build_format_locale/index.js#L9 https://github.com/date-fn

[2016-12-29 11:07] LeshaKoss commented on #359
@silvenon okay, can't wait to see your contribution!

[2016-12-29 11:08] LeshaKoss commented on #358
@athivvat looking forward to your contribution!

[2016-12-29 11:49] Pyppe commented on #360
Got it, thanks! Is there a way to run tests for just a one locale?

[2016-12-29 15:15] silvenon commented on #359
@LeshaKoss almost done, but I'm not sure how to try it out. I tried `npm run build`, but it says:

[code]

I read the [Contribution Guide], but it didn't help.

[2016-12-30 07:49] silvenon commented on #359
I see now that #341 already raises the same question, I'd like to wait for it to be resolved before I submit a PR.

[2016-12-30 07:50] silvenon commented on #341
@jameshopkins please do! There really doesn't seem to be a straightforward way to symlink. 😕

[2017-01-03 17:49] GuillaumeCisco commented on #252
Are `date-fns/utc` already usable? In a dev branch or else?
I need this too with an use case regarding the `DatePicker` react component from material-ui.

[2017-01-04 02:04] ukyo opened #363 "Add type definitions of locale"
Hi,

I am using date-fns in TypeScript. Now paths to `date-fns/locale/foo` are not defined. So can you add definitions of locale ?

[code]

[2017-01-04 12:58] ahmedelgabri commented on #340
@AbdallahAHO are you working on this already? I was thinking about doing it but then saw this issue 🙂

[2017-01-04 15:22] GuillaumeCisco opened #366 "isBetween with inclusion/exclusion"
Hello all, is there a way to achieve this behavior like moment does: http://momentjs.com/docs/#/query/is-between/
I only see `isAfter` and `isBefore`. There are also `distance....` methods but there are not really useful for what I'm trying to achieve.

I'd really like to use the inclusivity parameter:
[code]

[2017-01-04 16:05] GuillaumeCisco commented on #366
I've just created my version of `isBetween` with date-fns :

[code]

Feel free to use it.

[2017-01-04 19:45] AbdallahAHO commented on #340
Hello, @ahmedelgabri,
I was already working on it and I'm done and my pull request is pending approval currently.
However, I believe there's still a room for improvements. for example, I couldn't handle the case for ordinal counting properly (e.g. the opposite for "st", "nd", "rd" and "th" suffixes in Arabic). So, you can have a look and add your input.

[2017-01-04 19:55] ahmedelgabri commented on #340
Cool, will check the PR 👍

Yeah this one is hard 😄

[2017-01-05 15:41] OliverJAsh opened #369 "Feature request: convert Excel epoch to Unix epoch"
Is this worth adding to the library?

[code]

[2017-01-05 16:22] #360 closed

[2017-01-05 16:31] #359 closed

[2017-01-05 17:19] LeshaKoss opened #371 "Add shared type docs and typings"
like options, locales, durations, timezones, etc

[2017-01-05 18:04] LeshaKoss commented on #358
Closed in #362

[2017-01-05 18:04] #358 closed

[2017-01-06 02:17] ravins opened #372 "get unix timestamp of given date"
Is it current supported? In moment we have **moment.valueOf()**

[2017-01-06 12:04] LeshaKoss commented on #372
@ravins right now you can use standard JavaScript method `date.getTime()` (or `date.valueOf()` which does the same for dates). If you have a string-formatted date, you can use `dateFns.parse` to convert it to Date beforehand:
[code]

But I think this indeed is a gap of the library so we'll probably make a shortcut function for (converting to dates + getting timestamp) ASAP. Stay tuned!

[2017-01-06 13:22] LeshaKoss commented on #256
Closed by #321

[2017-01-06 13:22] #256 closed

[2017-01-06 14:18] halt-hammerzeit commented on #347
@LeshaKoss Then it should be added to `date-fns` cons section:

Just 7 23 locales supported (help is welcome!).
No alternative to Moment Timezone (yet).
Functionality-wise date-fns equals to Moment.js.

They're obviously not equal to Moment.js: moment.js can parse and validate inputted dates while date-fns can't.

[2017-01-06 14:46] andrewn commented on #347
@LeshaKoss Thanks for the detailed response, and sorry for not replying sooner.

Yes, I  was doing `new Date('2016-22-99')` on all the platforms I mentioned and they all return `Invalid Date`.

First of all, I'm only considering ISO calendar date strings and not times or timezones as that's what my application is consuming, so my issue is only concerning parsing date strings of the form "YYYY-MM-D

[2017-01-06 15:31] kossnocorp commented on #372
One of the key values of date-fns is to not repeat existing API, but encourage to use the built-in functionality as long as it's pitfall-free. Hence this is a documentation, not a feature gap.

[2017-01-06 15:37] LeshaKoss commented on #372
@kossnocorp don't forget that we already have functions that repeat functionality of JavaScript standard library (like `getSeconds`) but additionally convert arguments to Date (so you can use an ISO 8601 formatted string or a timestamp as a date)

[2017-01-06 15:40] kossnocorp commented on #372
Nevermind then 🤣

[2017-01-06 18:29] leshakoss opened #376 "UTC functions"
Make UTC versions of functions and make non-UTC versions (regular ones) be based on UTC-versons.

Example:

[code]

[code]

[code]

The problem with non-UTC functions is that they are not pure and can produce the different results in the different timezones. Moreover, in some timezones they can produce the wrong result. That happens when the date just doesn't exist in a timezone:

[code]

In `Amer

[2017-01-06 18:47] leshakoss opened #377 "Remove all functions that create the current date internally"
Hello everyone! I've decided to delete a lot of functions in v2.0.0. Here is the list of them:

 - `distanceInWordsToNow`
 - `isFuture`
 - `isPast`
 - `endOfToday`
 - `endOfTomorrow`
 - `endOfYesterday`
 - `startOfToday`
 - `startOfTomorrow`
 - `startOfYesterday`
 - `isToday`
 - `isTomorrow`
 - `isYesterday`
 - `isThisSecond`
 - `isThisMinute`
 - `isThisHour`
 - `isThisWeek`
 - `isThisISOWeek`
 -

[2017-01-06 20:16] LeshaKoss commented on #340
Closed by #367

[2017-01-06 20:16] #340 closed

[2017-01-07 11:39] silvenon commented on #377
I totally agree with this, these functions really aren't needed. I'm always in the favor of removing things! 🔥

[2017-01-08 13:40] leshakoss opened #381 "Make ranges objects"
Basically this:
[code]
->
[code]

Why? Because a range is meaningless as two different values anyway.
Also, for FP #253:
[code]

[2017-01-09 23:14] zsherman opened #384 "Natural language date processing"
Could be beyond the scope of this library, but it would be really handy to have a simple natural language parser so that strings like "30 minutes ago" could be converted into date objects. A few examples from around the web are:

- https://github.com/wanasit/chrono (depends on moment)
- https://www.npmjs.com/package/sugar-date

[2017-01-10 11:16] leshakoss commented on #384
@zsherman I defended a graduation thesis on parsing dates like these half a year ago 😅
I think that it is indeed beyond the scope of `date-fns` — too code heavy for a project aimed to be a lightweight library.

[2017-01-10 13:35] davidrus opened #385 "Czech language support"
I'll do it.

[2017-01-10 19:22] zsherman commented on #384
Haha that's pretty cool @leshakoss! I don't think we would have to do anything nearly that complicated, maybe just support a few simple formats like:

- x ${seconds/minutes/hours/days/months} ago
- last/next ${day}
- ${day} at ${hour:minute}

and so on, this is all done in the sugar example above in not *too* many LOC here https://github.com/andrewplummer/Sugar/blob/master/lib/date.js#L3892

[2017-01-11 20:16] #385 closed

[2017-01-11 21:18] leshakoss commented on #354
closed by #357

[2017-01-11 21:18] #354 closed

[2017-01-12 09:17] ingro opened #388 "Feature request: add moment-like calendar method"
Hello and thanks for this excellent library!

I'm trying to port a project from moment to date-fns and the only thing I'm missing is the [calendar method](http://momentjs.com/docs/#/displaying/calendar-time/), which works somewhat like `distanceInWords` but produce a different result.

I think that one of the biggest problem would be to update all the locales because more translated strings will b

[2017-01-12 14:00] leshakoss opened #389 "Handle the wrong number of arguments / Check the type of arguments"
What should the functions do when user didn't pass the right number of arguments or the passed arguments are not of expected type? Should this case be handled?

[2017-01-12 14:58] oomathias opened #390 "Feature request: Add support for localized formats"
Add support for localized formats. *(8:30 PM is 20:30 in fr)*

From momentjs doc (http://momentjs.com/docs/#/displaying/format/)

|**Desc**|**Format**| |
|-----|-----|-----|
|Time|LT|8:30 PM|
|Time with seconds|LTS|8:30:25 PM|
|Month numeral, day of month, year|L|09/04/1986|
 | |l|09/04/1986|
|Month name, day of month, year|LL|September 4 1986|
 | |ll|Sep 4 1986|
|Month name, day of month, year, t

[2017-01-14 19:25] c-dante commented on #389
I support currying.

[2017-01-15 01:04] vlahupetar opened #397 "Macedonian language support"

[2017-01-15 18:33] #372 closed

[2017-01-15 20:08] leshakoss commented on #372
@ravins hello! Released the function with v1.26.0: https://date-fns.org/docs/getTime

[2017-01-16 09:06] VikR1000 opened #399 "Obtaining Localized Time?"
The following code does not appear to localize the time:

[code]
formattedApptDate contains 10:43 pm instead of the localized time, 2.43pm.

What am I missing?

[2017-01-16 10:15] leshakoss commented on #399
@VikR1000 could you please elaborate? Which timezone are you in?

[2017-01-16 22:00] VikR0001 commented on #399
I'm in timezone 8, pacific time.  Here's a screen shot showing code:

![screen shot 2017-01-16 at 1 40 32 pm](https://cloud.githubusercontent.com/assets/10912958/22000448/fa4a8fb4-dbf3-11e6-9b9d-b3277b6ee836.jpg)

Thanks in advance for any thoughts or advice!

[2017-01-17 10:41] leshakoss commented on #399
@VikR0001 @VikR1000
It looks like you did something like `new Date("2017-01-20T06:43:21.000Z")` for the screenshot. When you do that, you create a date `2017-01-20T06:43:21.000` in timezone "UTC+00:00". That's what `'Z'` at the end means. Also, `new Date` constructor creates a date from string in timezone "UTC+00:00" regardless of `'Z'` and if you want to create a time in your local timezone, you

[2017-01-18 09:09] VikR1000 commented on #399
My  input date string is a bit different:

[code]

Your advice is greatly appreciated!

[2017-01-18 20:40] VikR0001 commented on #399
Sorry, I guess I didn't express that very clearly. :)

My input date string is a bit different:

[code]

I'm getting "10.43 pm" rather than "2:43 pm". How can I correct this?

[2017-01-18 20:49] leshakoss commented on #399
@VikR0001 @VikR1000  oh. Seems like you're creating a date in the local timezone: `'Fri Jan 27 2017 22:43:26 GMT-0800 (PST)'` (it means 10:43 pm in the -08:00 timezone which is yours)

`format` only can format dates in the local timezone. Check the issue #180 if you want it to support custom timezones.

So, regarding your question:
[code]
I am not really sure if I understand your question correctl

[2017-01-19 03:55] VikR1000 commented on #399
Okay, it appears I need to provide the date in UTC format to date-fns. I have a date object named `myDate`. After running:

[code]
...myTimeString contains "Fri, 20 Jan 2017 06:43:53 GMT".  If I then run:

[code]

...dateString contains "10:43 pm".  If I run:

[code]

...dateString2 contains "10:43 pm".

Is it incorrect for me to use `toUTCString()` here?

[2017-01-19 06:16] VikR1000 commented on #399
Waitaminnit -- I bet "Fri, 20 Jan 2017 06:43:53 GMT" *is* 10:43pm LA time. I entered 2:43 pm in my time picker. It comes back as 2:43pm Pacific Time.  But when I run `toUTCString()` I get 06:43:53 GMT, which is 10:43pm the night before Pacific Time.  What can I read to understand what's going on here?

[2017-01-19 06:52] VikR1000 commented on #399
Solved it! I had some old code from a few weeks ago that was converting the date from my time picker to UTC -- then `toUTCString` was being called on *that*. It's all working now. Thanks so much for your help! I will close this issue now.

[2017-01-19 06:52] #399 closed

[2017-01-19 16:53] leshakoss commented on #369
@OliverJAsh I think it makes sense to make it a separate npm package, since it is probably a very rare use case

[2017-01-19 17:31] leshakoss commented on #366
@GuillaumeCisco sorry for the late response 😅 [`isWithinRange`](https://date-fns.org/docs/isWithinRange) is function that you needed. However, it works only in '[]' mode

[2017-01-19 17:34] leshakoss commented on #309
@msudgh hello! How is the progress? How can I help you with it?

[2017-01-19 17:35] leshakoss commented on #335
@kuntau hello! How is the progress? How can I help you with it?

[2017-01-19 19:59] leshakoss commented on #397
closed by #398

[2017-01-20 06:53] msudgh commented on #309
It's on final tests and probably i'll pull request until next week.

[2017-01-20 14:05] leshakoss opened #407 "Rename ranges to intervals"
From ISO 8601:2004(E):
[code]
which is what we called ranges before v2.0.0.

I think it is sensible to drop a silly word "range" to replace it with an official term.

[2017-01-20 14:06] #397 closed

[2017-01-20 18:26] rodneyjoyce opened #412 "How to Import a locale in Typescript/AngularCLI"
Hi,

I'm trying to move from moment to date-fns but battling to work out how to IMPORT Locales (using AngluarCLI and WebPack).

[code]

It looks like index file in each locale has an export, however it cannot find it in the import statement above "Cannot find module 'date-fns/locale/es'.)"

[code]

[2017-01-20 19:21] leshakoss commented on #412
@rodneyjoyce oh hey. Well, yeah, you can't do that 😅 I'm already working on it, expect the fix tomorrow (probably as `v1.27.1`)

[2017-01-20 20:52] #412 closed

[2017-01-20 21:38] leshakoss commented on #412
@rodneyjoyce just released `v1.27.1`

This works, I think:
[code]

[2017-01-20 23:01] rodneyjoyce commented on #412
Thanks for the quick response! That works fine.

One comment: Is it possible to import a locale without using the * wildcard?  This is what was causing problems in the moment library with lazy loading (to be honest, I don't know enough to know exactly what the problem was https://github.com/urish/angular2-moment/issues/114).

[2017-01-21 10:58] leshakoss commented on #412
@rodneyjoyce TBH I don't know much about TypeScript but this comment: https://github.com/date-fns/date-fns/pull/287#issuecomment-265438751 says it's impossible

[2017-01-21 11:02] leshakoss commented on #412
@rodneyjoyce but in `v2.0.0` which is coming very soon we are adding default exports: #404 so maybe it will work then ¯\\\_(ツ)\_/¯

[2017-01-21 11:41] leshakoss commented on #363
Closed by #413 and [v1.27.1](https://github.com/date-fns/date-fns/releases/tag/v1.27.1) (diff: https://github.com/date-fns/date-fns/compare/v1.27.0...v1.27.1)

[2017-01-21 16:02] rodneyjoyce commented on #412
Ok, thanks

[2017-01-21 22:43] tunnckoCore opened #414 "Expose `module` field in package.json"
To support sane modern es6 aware bundlers do their job better.

ref: https://github.com/rollup/rollup/wiki/pkg.module
~~_(there was some wiki page that explain few variants and why they are rejected but can't find it)_~~

ooh, found it: https://github.com/nodejs/node/wiki/ES6-Module-Detection-in-Node, specifically https://github.com/nodejs/node/wiki/ES6-Module-Detection-in-Node#option-4-meta-in-pa

[2017-01-22 18:07] rodneyjoyce commented on #412
PS, if anyone is using this in Angular and needs a PIPE for the template:

Usage:    <div>Date with TimeAgo DateFNS Pipe :   {{this.exampleDateTime | timeAgo : true }}</div>

[code]

[2017-01-24 09:00] rubenstolk commented on #232
I think we should compile the locales into separate `dist/locales/{{LANG}}.js` files so that they can be included in the bower package.

[2017-01-26 17:30] zachariahtimothy commented on #219
I see a bunch of commits on this, looking good. Any idea when parsing dates based on a pattern will be available? I am about to convert 600+ lines of legacy date parsing code to a new project but Moment's performance hit has bit me in the past. LOVE date-fns by the way, so light weight!

[2017-01-26 20:56] rodneyjoyce opened #418 "How to convert a "PT12H" value into Time"
Hi,

I have an API returning the time of day in this format "PT12H".

It looks like Moment has a way of converting this - http://stackoverflow.com/questions/17797484/breeze-js-and-timespan-iso-literals

Is there an equivalent in date-fns?

Thanks

[2017-01-30 09:59] intellix commented on #390
One thing I'm creating is allowing the user to input their birthdate during registration using text-mask.

Currently I've hardcoded the format: `DD/MM/YYYY` but I know that in the US it's `YYYY-MM-DD` so would like to dynamically display and parse that based on locale.

Moment exposes this via `LOCALE.longDateFormat.L` and it would be nice to add here :)

[2017-01-30 17:27] leshakoss opened #419 "In `v2`'s `parse` add ability to pass `options.weekStartsOn`"

[2017-01-30 19:37] rickmed opened #421 "precise humanized range"
Could not find it but something like:

// What is the distance between 2 July 2014 and 1 January 2015?
var result = distanceInWordsStrict(
  new Date(2014, 6, 2),
  new Date(2015, 0, 2)
)
//=> '6 months'

to "6 months, x days, x hours..."

[2017-01-30 19:48] rickmed commented on #421
Closing duplicate of https://github.com/date-fns/date-fns/issues/229

[2017-01-30 19:48] #421 closed

[2017-01-30 19:52] rickmed commented on #229
why not merge distanceInWordsStrict into distanceInWords and add a options to the options object to whatever format supported.

[2017-02-01 12:48] josemussa opened #423 "Explore performance bottlenecks"
Hi guys, first of all, thanks for this amazing library. I think there's a performance issue on the `format` function, I wrote this performance comparison between momentJS and date-fns, date-fns is superior in almost all the test cases but not in the `format` test case.

Full performance test: https://github.com/josemussa/date-fns-momentjs-perf-test

##### Test
[code]
[code]
##### Result
[code]

[2017-02-03 08:46] leshakoss commented on #414
@tunnckoCore work in progress: https://github.com/date-fns/date-fns/pull/404/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R13

[2017-02-03 08:50] #260 closed

[2017-02-03 08:51] leshakoss commented on #313
@redaikidoka I'm sorry, is this still an actual problem?

[2017-02-03 09:58] leshakoss commented on #423
@josemussa thank you for using `date-fns`! You actually can run benchmarks right from `date-fns` repository with `npm run benchmark`.

I ran your test on `node v7.0.0` and MBA 11″:
[code]

On my configuration the libraries work at around the same speed. Even with your result, gap is not that big. Almost no one formats 200 thousands of dates anyway.

[2017-02-03 10:04] #363 closed

[2017-02-03 10:05] #369 closed

[2017-02-03 10:07] leshakoss commented on #366
@GuillaumeCisco I think it makes sense to make it a separate npm package, since it is probably a very rare use case. (Please feel free to reopen the issue if you think otherwise)

[2017-02-03 10:29] GuillaumeCisco commented on #366
Hey @leshakoss,

Thank you for your response. I don't understand why it should be in a separate package?
This is an helper as useful as `isBefore`, `isAfter` or `isWithinRange`.
Maybe, we could simply enhance `isWithinRange` for including inclusivity?
Code and logic is very simple.

[2017-02-03 10:34] leshakoss commented on #366
@GuillaumeCisco personally, I never felt the need to specify the inclusion/exclusion, since dates that match are very rare (they should be equal up to a millisecond). But you are right, I'll reopen the issue

[2017-02-03 10:38] leshakoss commented on #389
@c-dante work on curried functions are currently in progress: #253 #393. I think that currying as a default behaviour is too confusing (and is impossible with optional arguments)

[2017-02-03 10:59] GuillaumeCisco commented on #366
@leshakoss yes I understand your reasoning. But we can have a lot of pertinent use cases for this.
Interval is one of the most important.

For example, we can create a planning widget where humans can set interval of time, and other data from machine will define objects with start times. But... A human can also set an object with a start time which can be the exact same date as the beginning of an

[2017-02-03 13:24] josemussa commented on #423
Thanks, I just saw the benchmark tool included in the repo, good to know. Seems that difference in `format` performance is not that much with moment, which is perfectly ok, I just was intrigued because all the other functions are clearly superior, so that made me raise some question.

Keep up the great work ❤️

[2017-02-04 16:42] kossnocorp commented on #423
@josemussa we collect performance stats as artifacts on our private CI for some time already and going to publish it on our website eventually.

_bigger — faster; cyan bars — Moment.js performance:_

![](http://i.ncrp.co/0c2y0G2T4411/Image%202017-02-04%20at%204.36.33%20PM.png)

Once we're done functionality-wise, we'll approach performance tuning using the collected data. 🙇

Thank you for `date-fn

[2017-02-06 03:21] elisechant opened #426 "start_of_month in incorrectly returning end_of_month"
running this code from the docs:

[code]

should return `Mon Sep 01 2014 00:00:00`

however, it returns ` 2014-08-31T14:00:00.000Z`

[2017-02-06 04:40] #426 closed

[2017-02-09 12:58] leshakoss opened #429 "Add locale typings"

[2017-02-12 20:49] kossnocorp commented on #304
I made a research and to make date-fns consistent with `Date` we need to return `NaN` from the functions that return a number (e.g. `getSeconds`) and `"Invalid Date"` from the functions that return a string.

[2017-02-14 02:44] thisbejim opened #435 "Customise distanceInWordsStrict output"
Currently the `distanceInWordsStrict` output looks like `52 minutes`, `1 hour`, or `2 weeks`, etc, it would be great if you could customise the output, e.g. `52m`, `1h`, or `2w`.

[2017-02-15 21:29] peterpeterparker opened #437 "Format day of month ('Do') french translation error"
Hi,

I think that the format of the day of month ('Do') isn't correct in french, it doesn't follow the same rules as in english or german for example or even doesn't follow the same logic as day of the year of week in french.

day of month ('Do'):

1st, 2nd, ..., 31st in english is correct
or
1., 2., ... 31. in german is correct too

but for day of the month in french, you not gonna says
1er, 2e,

[2017-02-16 16:28] leshakoss opened #440 "Remove exception from `isValid`"
See #389

[2017-02-16 20:39] kossnocorp commented on #389
@c-dante thank you for bringing this to our attention. If currying is what you were looking for, you'd love new `date-fns/fp` submodule that will mimic `lodash/fp` [behavior](https://github.com/lodash/lodash/wiki/FP-Guide). It's coming soon. You can follow [v2 milestone](https://github.com/date-fns/date-fns/milestone/3) and see [Change Log](https://github.com/date-fns/date-fns/blob/v2/CHANGELOG.md

[2017-02-16 20:39] #389 closed

[2017-02-16 20:47] kossnocorp commented on #435
@thisbejim good idea 👍 we can implement that. The only problem here is I18n, but we can gradually roll out locales support for this function.

What would you like to see `distanceInWordsFormat` that works like [`format`](https://date-fns.org/docs/format) or something like `distanceInWordsShort`?

[2017-02-16 20:49] kossnocorp commented on #437
Thank you for the report! cc @date-fns/i18n-french

[2017-02-17 04:42] leshakoss opened #442 "Implicit conversion of all arguments"
`addDays(new Date(), '10')` should add 10 days (it doesn't now)
See also #389

[2017-02-17 07:44] leshakoss commented on #442
Explicit?

[2017-02-20 18:41] jbrantly commented on #376
We just ran into a situation where we needed to `format` dates in UTC but were unable to using date-fns since it only formats in local time. I'm assuming that feature would be bundled into this issue? Very much looking forward to this!

[2017-02-21 11:05] simon360 commented on #390
Would there be merit in starting this feature as a separate package, and then merging it upstream once it's close to being complete? It's a bit of a project to come up with formats for every language, I would think, and the only way to get it done would be to have a clear demand/existing user base, and contributors for all of date-fns languages. The asynchronicity a new project could provide would

[2017-02-21 20:28] chrisvasz opened #444 ""Urgent DNS Migration Required" on date-fns.org"
https://date-fns.org is currently displaying a DNS-related error from Firebase.

![capture](https://cloud.githubusercontent.com/assets/189950/23183575/24ee5c04-f842-11e6-9b7c-39eefc511859.PNG)

[2017-02-22 02:43] thisbejim commented on #435
Hi @kossnocorp thanks for the response! `distanceInWordsFormat` would be perfect 👍

[2017-02-22 09:01] jsergiu opened #445 "Romanian language support"
I plan to add translations for Romanian language

[2017-02-22 09:02] leshakoss commented on #445
@jsergiu cool, looking forward to see your contribution!

[2017-02-22 11:19] jsergiu commented on #445
Created https://github.com/date-fns/date-fns/pull/446

[2017-02-23 01:18] fbonzon commented on #437
I'm trying to fix the exact same problem in Moment.js. (And might fix it here too.) Please read related issue https://github.com/moment/moment/issues/3375#issuecomment-280949260

The `Do` token is correctly implemented here, in my understanding. It's a question of definition and documentation. The definition of `Do` is "day of month with ordinal suffix". Example usage:

#### English
2017-03-01 → `

[2017-02-23 01:48] rowanwins opened #447 "New method for startOf"
Gday

Thanks for creating an awesome library, it's nice to be able to work with something so light-weight and simple!

I have missed a few methods which moment.js has so I was wondering what the plans were for this. You obviously have a core set of modules at the moment, do you plan on extending these? Or are there any plans for perhaps 3rd party modules to extend the core date-fns?

For example m

[2017-02-23 06:03] leshakoss commented on #437
[code]

Maybe something like that? (haven't tested it) It makes formatters 'Do MMM' and 'Do MMMM'. We did the similar thing in Russian locale: https://github.com/date-fns/date-fns/blob/master/src/locale/ru/build_format_locale/index.js#L75

[2017-02-23 06:05] leshakoss commented on #437
@fbonzon oh yeah, I missed your pull request, sorry 😅

[2017-02-23 06:28] peterpeterparker commented on #437
I'm agree with your comment @fbonzon

Maybe other languages, like Italian, follow the same rules? Like "Il 1° guigno" ("the 1th june") but "Il 2 guigno" ("the 2nd june").

About your ideas of solution 1. or 2., I personally think both achieve the goals and can't tell wich one is the better ;)

[2017-02-23 06:35] leshakoss commented on #447
@rowanwins personally I don't really like moment's `startOf`. Adding a function like this in `date-fns` would create a new class of functions, like `add(date, '...')`, `set(date, '...', amount)`, `lastDayOf(date, '...')`, ..., that duplicate already existing functionality of library, but doing it in non-efficient way (by importing all functions for each unit). And also it opens a can of worms whic

[2017-02-23 06:45] leshakoss commented on #444
I think it's over. Source: https://twitter.com/kossnocorp/status/834324855189360640

[2017-02-23 06:45] #444 closed

[2017-02-23 09:20] rowanwins commented on #447
Gday @leshakoss

Yeah I understand the hesitation in bringing it into the core so that's fine, Im happy to publish it to npm myself.

The reason it all came up was refactoring a code base reliant on Moment.js that made heavy use of the method and I figured others may be doing something similar, in the case it's quite logical.

The only other thought I'll leave you is whether you want to maintain a

[2017-02-23 11:19] fbonzon commented on #437
@leshakoss #448 addresses an unrelated problem, thus I did not mention it here.

A similar code to the Russian example you mentioned could be done for French, yes.

If I understand correctly, it is possible to include a given token in several formatters? How is selected the one to use? E.g. if I define formatters for
`MMM`
`Do MMM`
How is `MMM` formatted? With the second one because is longer toke

[2017-02-23 12:29] leshakoss commented on #437
@fbozon both formatters (MMM and Do MMM) should work, I think

[2017-02-23 12:29] leshakoss commented on #437
@fbonzon both formatters (MMM and Do MMM) should work, I think

[2017-02-23 12:38] fbonzon commented on #437
Yes, but what is the logic to decide which formatter to use? I could dig into the code, but maybe you know the answer already.

Provided I define formatters for (1) `MMM`, (2) `Do` and (3) `Do MMM`, there is an ambiguity for the formatter to use to display `Do` and `MMM` when they appear in format strings. Which formatter has priority?

[2017-02-23 12:44] leshakoss commented on #437
@fbonzon alright

token string is splitted by a regexp of all possible tokens, sorted backward alphanumerically:
https://github.com/date-fns/date-fns/blob/master/src/locale/_lib/build_formatting_tokens_reg_exp/index.js#L20
So, regexp would prefer first `^MMM`, then `^Do MMM`, then `^Do`. At least, that's how it works in Russian locale:

[code]
Here, it splitted the token string like this: ['MMMM',

[2017-02-23 13:21] fbonzon commented on #437
Is now clear to me, thanks. Verified in code, is the same for all locales. The priority is indeed defined only by reversed alphabetical order.

It would work for our use case. We would modify contents of `Do MMM` and `Do MMMM`, by omitting the ordinal suffix for days other than 1.

I can code this is it's your preferred solution. It's not the most elegant one, in my opinion, but it works.

[2017-02-23 13:33] leshakoss commented on #437
@fbonzon yeah alright thank you 😄

[2017-02-23 23:32] Async0x42 opened #450 "Feature request: Support verbose json style dates"
This format is used by Microsoft SharePoint and while momentjs can parse it, date-fns wasn't able to when I switched libraries.

Example: `/Date(1486309038000)/`

[code]

Specification: https://msdn.microsoft.com/en-us/library/dd541461.aspx

[2017-02-24 15:45] #442 closed

[2017-02-27 13:08] fbonzon commented on #445
Released with v1.28.0

[2017-02-27 13:08] #445 closed

[2017-02-27 13:09] fbonzon commented on #437
Fix released in v1.28.0

[2017-02-27 13:09] #437 closed

[2017-02-27 21:31] ngbrown commented on #444
I just got the Firebase error page when trying to visit https://date-fns.org/

Was the TTL on the old A records extremely long or something?

[2017-02-27 21:54] matthamil opened #451 "Website Unavailable"
When I go to the website/docs, I get the following:

![image](https://cloud.githubusercontent.com/assets/11802078/23381682/f6674af4-fd04-11e6-8a24-ed03c196240c.png)

[2017-02-27 22:34] kossnocorp commented on #444
@ngbrown @chrisvasz thank you for heads up! It should be fixed now.

[2017-02-27 22:49] kossnocorp commented on #451
@matthamil thank you for reporting! I've updated it, but it could take some time to propagate. In meanwhile you can check JSDoc annotations that used to generate the website. See an example: https://github.com/date-fns/date-fns/blob/master/src/add_minutes/index.js

[2017-02-27 22:49] #451 closed

[2017-03-01 11:00] leshakoss commented on #450
@Async0x42 what offset is, exactly? It says `offset represents  the number of minutes to add or substract from the time value represented by ticks`, so does it means `0100` is 100 minutes or 1 hour 0 minutes? If former, why only 4 digits? Moment didn't help much: https://github.com/moment/moment/blob/develop/src/test/moment/create.js#L148-L152 Looks like moment just ignores that value

[2017-03-01 14:17] leshakoss commented on #450
@Async0x42 if it is 1 hour 0 minutes then I wrote a little function:

[code]

Hope it helps.

Also, problem is, timezone offset in ISO 8601 is exactly opposite of what the doc above says (i.e. it adds offset to timestamp if sign is `-` and subtracts if sign is `+`. That's how `parse` works: https://github.com/date-fns/date-fns/blob/master/src/parse/index.js#L303). So I don't know what to think abo

[2017-03-01 20:42] kossnocorp commented on #450
@leshakoss we can implement parsers that could be passed to `parse` function using mechanism similar to locales.

[2017-03-01 20:45] kossnocorp commented on #450
E.g.:

[code]

[2017-03-02 01:47] Async0x42 commented on #450
I'm not sure of the details of the spec MS is using, but the function you provided gives me the equivalent time (and timezone) as moment does when parsing SharePoint dates. I had a lot of issues with timezones in the past though, so if moment was totally ignoring them, that could be why. I'll check if the timezone is actually outputted or if it's just stored as UTC

[2017-03-02 03:30] Async0x42 commented on #450
To follow up on this, it seems like the timezone isn't outputted in SharePoint, which might be why moment was just skipping it (that's not to say, some other application using this date format ignores timezones also, it just happens that SharePoint always outputs the UTC time)

[2017-03-02 05:36] leshakoss commented on #450
@kossnocorp how `parse(date, edmParser)` would be different from just `edmParser(date)`? Sounds like an unnecessary layer to me

[2017-03-02 06:04] leshakoss commented on #450
@kossnocorp on the other hand, having something like `toDate(date, {parser: edmParser})` sounds like an interesting idea, considering we have passthrough options in v2 (see #374)

[2017-03-04 01:44] whitneyland opened #456 "Global options for format and more"
Would be great to be able to set global options, so defaults could be changed.  For example, the default for formatting could be:
DateFns.options = {
    "format" : {
        "formatStr" : "MM/DD/YYYY"
    }
}
Then you could call DateFns.format(date) with only one param and get a standard format.

Could apply to other defaults as well.

[2017-03-07 00:19] orangemug commented on #388
I have implemented this on a branch https://github.com/date-fns/date-fns/compare/master...orangemug:feature/calendar-fn, it needs a tidy and the tests don't pass via the runner (I can't get them to work they do pass manually via mocha). This implementation requires `formats` to always be passed into the function. Also note that date-fns currently doesn't implement the format token `LT` which is us

[2017-03-10 05:21] #447 closed

[2017-03-11 20:32] pke commented on #275
I am seeing `momentjs` at 141kb when used with `webpack`. That is because their `package.json` main file points to the non-minified version. `Momentjs`  together with `opening_hours` are both each bigger than my main app code. That's insane.
It all comes down to i18n. Lib authors always forget, that no-one actually needs all languages and that languages should be optional in the first place. At le

[2017-03-11 20:54] pke commented on #384
I think this could be done just in the same way as chrono, depending on date-fns instead. But I agree that this lib should not become another momentjs in code and bundle size

[2017-03-11 21:00] pke commented on #104
I still see a lot of `dirtyDate` and `dirtyAmount`. Whats up with that?

[2017-03-11 21:45] pke opened #461 "Optimise compare_asc"
Couldn't that function be much simpler, since its using native `Date` object?

[code]

[2017-03-12 06:40] leshakoss commented on #104
@pke they are just `date` and `amount` in docs (which this issue was about). We have a convention to use `dirty` as prefix for uncleaned/unconverted arguments in the source. This article: https://www.joelonsoftware.com/2005/05/11/making-wrong-code-look-wrong/ — may explain why. In short, it was made to make it more obvious when we forget to clean arguments to prevent bugs like #442

[2017-03-12 06:48] leshakoss commented on #461
@pke your solution certainly works correctly with `Array::sort` (and I personally prefer it to our `compareAsc`) but `compareAsc` and `compareDesc` were one of the first functions added to `date-fns`, back in `v0.14.10`, and since then these functions could only return `1`, `0` or `-1`. I don't want to change the functions because it may break some old code, if someone uses something like `if (com

[2017-03-12 07:51] pke commented on #461
Understood! Legacy code. Always a pain. There should have been a lessThan and greaterThan olderThan newerThan function alongside isEqual and we wouldn't have to support this kind of missussage of a compare function.

[2017-03-12 07:51] #461 closed

[2017-03-16 06:55] abritinthebay commented on #180
Biggest use case for me would be:
* I have a date string from a DB/data source in some timezone (probably UTC)
* I have a user in some timezone that I only know from their local offset.
* I want to convert my date to their timezone
* I then want to format it.

In moment-timezone I can do this:
[code]
the dateTimeFormat being either the JS `Intl` value (if supported) or a default I set (in my case

[2017-03-16 18:45] supersabillon opened #463 "Feature request: support getWeek() helper"
Moment.js has get [locale week number method ](https://momentjs.com/docs/#/get-set/week/) that would be very helpful if added to date-fns.

I see there's a `getISOWeek(date)` method provided but there's no way to get localized week of the year, for example when you need the first week of January to be 1.

thanks

[2017-03-16 22:15] mauron85 opened #464 "Proposal: using Intl.DateTimeFormat for date formats instead of date-fns/locale"
There is already Intl.DateTimeFormat native browser API for objects that enable language sensitive date and time formatting in modern browsers and can be polyfilled for old ones.

I've checked examples at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat
and IMO custom date-fns/locale/lang can be avoided.

I see two benefits:
1. no translations needed

[2017-03-19 03:05] destroytoday opened #465 "Bug: time manipulation is incorrect when crossing DST"
Because time manipulation methods like `addHours` use `set` methods like `setHours`, crossing DST results in unexpected times.

Example:
In New York, DST starts on March 12 at 2am, skipping the hour between 2am and 3am. If you add 3 hours to the start of the day, it should return 4am (midnight + 3 hours, skipping 2am). date-fns returns 3am because it calls `setHours(3)`.

Solution:
Instead of usin

[2017-03-19 12:14] gscottolson commented on #465
👍

[2017-03-19 15:44] #465 closed

[2017-03-19 16:03] leshakoss commented on #465
@destroytoday @gscottolson released the `addMilliseconds`, `addSeconds`, `addMinutes`, `addHours`, `subMilliseconds`, `subSeconds`, `subMinutes` and `subHours` fix in [v1.28.1](https://github.com/date-fns/date-fns/releases/tag/v1.28.1) (diff: https://github.com/date-fns/date-fns/compare/v1.28.0...v1.28.1)

[2017-03-29 10:35] soyuka commented on #352
@leshakoss I'm able to work on this if you want. Any thoughts on the best way to implement this?

[2017-03-29 10:47] leshakoss commented on #352
@soyuka right now I'm trying to come up with new locale format for date-fns v2, which, as I think, should include what you proposed, and some other values exposed, for example, these: https://github.com/clauderic/react-infinite-calendar/blob/d2d0b4738c40057360f30ce86a2cca52f5f02a28/examples/localization.js#L6-L16 If you have use cases for other localized date values or words somehow related to dat

[2017-03-29 12:17] soyuka commented on #352
I'm not sure that localizing date elements makes sense. I think that those static values can suffice:

[code]

Then, if you want the localized month, you'd just need `months[month - 1]`. Maybe that the `meridiem` could also be localized.

Ping me if I can do something (can help with german/french locales). Thanks for the great work!

[2017-03-29 12:51] leshakoss commented on #352
@soyuka `meridiem` means different things in different locales. In French language locale, for example:
[code]
So for `frLocale.meridiemFull[1]`, `1` doesn't tell anything about what the returned value really means. `frLocale.localize('hourModifier', 14)` suits better here IMHO. Also, in some locales there are more than one set of month names:
[code]
Here, in Greek language locale, there are month

[2017-03-29 13:08] soyuka commented on #352
Hmm, ok I see your point about the non-static values, though a way to return an array would be great! I like the `locale.localize('months')` or `locale.localize('months', {short: true})`.

For genitive, it could be: `locale.localize('months', {genitive: true})`.

About the meridiem, we don't usually use any in French, and IMHO what you here quoted as `meridiemFull` is not related to the time merid

[2017-03-29 13:13] leshakoss commented on #352
@soyuka `meridiem` is poor name for this thing. In `format(date, 'hh aa')` `aa` formatter is not really about AM/PM, it just specifies which time of day the date is, when used with 12 hour clock. See the discussion in PR #281 why we've decided it to be that way

[2017-03-29 14:16] soyuka commented on #352
Okay interesting. I'd have kept only AM/PM because I think that common language is out of scope but as you already agreed on that :+1:. Thanks for the clarification, and yes `meridiem` is a poor name for this ^^.

[2017-04-03 15:33] knpwrs opened #469 "Functional Programming"
This was mentioned in a comment previously: https://github.com/date-fns/date-fns/issues/275#issuecomment-266824617

I didn't see any followup responses, though, and the discussion as a whole seems like it's out of scope for #275. So here's a new issue!

The general idea to make the function signatures data-last (take `Date` objects, for instance, as their final argument) and auto-curry the functio

[2017-04-03 16:52] leshakoss commented on #469
It's actually already implemented in [v2 branch](https://github.com/date-fns/date-fns/tree/v2). You can play with it:

[code]
(date-fns v2 will appear in `./YOUR-MODULE/node_modules/date-fns`)

Please note that this is pre-alpha and API of the library can and will be changed before release.

I think it works almost exactly as you would expect it. See doc: https://github.com/date-fns/date-fns/blob/

[2017-04-03 16:52] #469 closed

[2017-04-03 17:04] knpwrs commented on #469
Derp! Sorry, I searched for `functional` and didn't even see #253.

[2017-04-04 21:40] jsamr opened #470 "Elucidate the meaning of 'MMM' token in 'format' function"
There might be a lack of consistency across languages.
Extracted from [the doc](https://date-fns.org/docs/format) :
![format_datefns](https://cloud.githubusercontent.com/assets/3646758/24679740/2fbb631c-195c-11e7-9389-6b41b1af068c.png)
Question is : does `Jan, Feb, Mar ...` mean
- *3 characters month name*, as it seems to be when English locale is set (Jan, Feb, Mar ...)
- *customary month abbrevi

[2017-04-07 12:53] gausie opened #472 "setDay() should handle `weekStartsOn` differently (or the documentation needs to change!)"
At the moment setDay() works as follows

[code]

(for reference the 1st of September 2014 was a Monday)

This is initially very confusing to me, and I would expect the function to work as follows:

[code]

I think it makes more sense for the `weekStartsOn` option to affect interpretation of the second argument as well as the first. My reasoning for this is as follows: if you are writing code that

[2017-04-08 20:26] hlehmann commented on #376
Same issue with startOfDay in UTC

[2017-04-09 22:53] hlehmann commented on #464
It's possible to use directly Intl.DateTimeFormat with some tricks or with react-intl for example.
But It could be a good solution to avoid date-fns to have locales.

[2017-04-09 23:02] hlehmann commented on #464
see also:
https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Date/toLocaleString

[2017-04-12 09:16] leshakoss commented on #472
Closed. See comments in #473

[2017-04-12 09:16] #472 closed

[2017-04-13 12:32] yury commented on #423
Since format string doesn't change often it is better to extract [buildFormatFn](https://github.com/date-fns/date-fns/blob/master/src/format/index.js#L276) as a separate module, so that it can be used separately for performant formatting.

Quick experiment shows that we can gain x4 in formatting.

[code]

results:

[code]

I can prepare a PR if you're OK to extract [buildFormatFn](https://github.c

[2017-04-13 12:33] kossnocorp commented on #423
Currently, there is an ongoing locale format refactoring. @leshakoss please take a look.

[2017-04-20 08:06] djleonskennedy opened #478 "No default import support"
Hello

I'm using angular 4 with AoT, and it has several requirements, on of them **no default imports**

Could you add support for it?

e.g. import { isWithinRange } from 'date-fns/is_within_range'

Thank you

[2017-04-20 08:08] leshakoss commented on #478
@djleonskennedy default features will be added for `esm` submodule in v2.0.0: https://github.com/date-fns/date-fns/blob/v2/docs/esm.md#usage-with-typescript

[2017-04-20 12:24] gausie commented on #478
Just do `import * as isWithinRange from 'date-fns/is_within_range';`

[2017-04-20 14:19] djleonskennedy commented on #478
@leshakoss  @gausie thank you

[2017-04-20 14:19] #478 closed

[2017-04-21 06:49] hackerkid opened #479 "Is there a function equivalent to moment().tz(timezone)"
Is it possible to get the current time of a particular timezone? Something similar to this.
[code]

[2017-04-24 18:59] lolporer commented on #313
yes i still can't run ng build and get the same error

[2017-04-26 09:17] marcoreni opened #480 "Wrong accents for italian locale"
Hi all,

it seems that accents are wrong for days in italian locale.

Expected: `var weekdaysFull = ['domenica', 'lunedì', 'martedì', 'mercoledì', 'giovedì', 'venerdì', 'sabato']`

Current: `var weekdaysFull = ['domenica', 'lunedí', 'martedí', 'mercoledí', 'giovedí', 'venerdí', 'sabato']`

Ref: https://en.wikipedia.org/wiki/Names_of_the_days_of_the_week#Romance_languages

[2017-04-26 13:31] albertorestifo commented on #480
Good catch. I'll make a PR soon

[2017-04-26 14:33] #480 closed

[2017-04-29 20:09] rubencodes commented on #219
Came here to request this, awesome it's being worked on! Would also love to know when it might be released if there's a timeline :)

[2017-05-03 16:06] AverageZ opened #483 "Minor - Add autofocus to search input on doc site"
Would be super handy to have autofocus on https://date-fns.org/

Thanks, love this library!

[2017-05-04 15:47] galenandrew opened #484 "Invalid Date returned when parsing date string with AM/PM"
When attempting to parse a date string formatted with `am` or `pm`, date-fns returns `Invalid Date`.

Example:
[code]

It looks like it's an issue with the [time tokens](https://github.com/date-fns/date-fns/blob/master/src/parse/index.js#L33-L35) that are used for parsing strings.

[2017-05-04 15:54] leshakoss commented on #484
Right now, `parse` is guaranteed to parse only [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) formatted date. For all other formats, it passes it to `new Date` constructor. We are actively working on new `parse` implementation (#219) and are expecting to release it this month, with other `v2.0.0` features

[2017-05-04 15:56] galenandrew commented on #484
@leshakoss love it!! Thanks for the quick response! Closing this in lieu of #219

[2017-05-04 15:56] #484 closed

[2017-05-04 23:53] fjaguero commented on #483
It makes sense for me. Should work by adding the `autofocus` HTML property [here](https://github.com/date-fns/date-fns.org/blob/0e7cb17d8753a6aeff3bc61b2d5eec4230b636af/app/ui/docs/index.jsx#L38).

[2017-05-05 03:34] leshakoss commented on #219
@rubencodes we expect it to release this month. Sorry for the late response

[2017-05-05 08:04] kossnocorp commented on #483
Thank you for the suggestion, we're close to releasing an updated version of the site. This change will go there. 👍

<img src='http://i.ncrp.co/163Q420A3K0n/Image%202017-05-05%20at%2012.03.55%20PM.public.png' width=500 />

[2017-05-07 22:56] rubencodes commented on #219
No worries—that's awesome! Excited to use it :)

[2017-05-08 16:57] okonet commented on #388
I think this would be a great addition to the library. I'm also looking for this functionality right now.

[2017-05-13 22:02] korzhyk opened #488 "Ukrainian language support"
I take this task.

[2017-05-13 22:13] leshakoss commented on #488
Wait, there's v2 on the way, with somewhat different locale API. You can
sneak peek it here: https://github.com/date-fns/date-fns/pull/485 but
that's not the final version still. I think it makes sense not to make the
locale twice. I'll ping you when v2 is ready. Thanks!
On Sun, 14 May 2017 at 04:02, Andrii Korzh <notifications@github.com> wrote:

[2017-05-13 23:15] korzhyk commented on #488
Okay! I will be watching.

[2017-05-15 01:55] KhodeN commented on #219
I think, this complex parse function needs to be separated from simple `parse`. To keep its size small and code more clean.

`parseWithFormat`, may be, or `parseFormat`

[2017-05-17 08:13] TroodoNmike commented on #479
Also interested in this. Anyone can think of how to force timezone to be used?

[2017-05-18 00:29] rauschma opened #489 "Specify a time zone for format()?"
I recently encountered a phenomenon in date-fns that broke a Node.js script of mine:

[code]

This code logs `2017-01-23` in Germany, but `2017-01-22` in Seattle.

How do I best fix this to always log `2017-01-23`? Specify a time zone? How? It may make sense to warn about this in the docs.

[2017-05-18 00:59] maggiepint commented on #489
This isn't an issue with Date Fns. Instead, what is going on here is that date only formats are interpreted as UTC when passed to the Date constructor, per ECMAScript. That said, when you format, you get local time from the date object. The spec reads:

Running this code illustrates the problem beautifully:

[code]

As you can see by the `Z`, this string was interpreted as UTC (in contrast to the

[2017-05-18 01:00] rauschma commented on #489
@maggiepint Much appreciated insight, thanks!

[2017-05-18 01:00] maggiepint commented on #489
If you really want to get crazy with it, my blog goes into some massive detail:

https://maggiepint.com/2017/04/09/fixing-javascript-date-getting-started/

[2017-05-18 01:04] rauschma commented on #489
`date-fns.parse()` should be one way of fixing this issue, then (same local time zone as `format()`.

[2017-05-18 01:07] maggiepint commented on #489
One would assume.

[2017-05-18 06:50] kossnocorp commented on #489
@maggiepint thank you for the detailed answer ❤️

@rauschma date-fns sticks to the ES behavior, hence the issue. The solution depends on kind of the script.

For instance, in the company where I'm working, this was a popular problem in tests. For us, the solution was to adopt a convention to always use integers to build dates (`new Date(2017, 0, 23)` instead of `new Date('2017-01-23')`).

And as y

[2017-05-18 11:59] rauschma commented on #489
This is the code:

[code]

Context: go through CSV data where one column has dates and process only those rows where the date is within the given range.

[2017-05-18 18:52] abnersajr commented on #489
My unit tests also showed me one problem like this. Testing at local environment works pretty well, however, the code is uploaded to AWS servers and timezones are different. This has been broken my app. In agreement with my team, We decided to format and use always UTC.

In our case, the app is specifically focused In Brazil. So we don't have problems with save and tests different environments and

[2017-05-18 23:23] Lewenhaupt opened #491 "Issue with ISODay when chaning timezones"
First of all, is there a way to specify what timezone I want `.addDays()` to use? Because as of right now if I have for example `2017-04-10T00:00:00+02:00` and I add 1 day to that I will get `2017-04-11T22:00:00.000Z`
The first date here will give return 1 from `.getISODay()` and thus I expect the second date to return 2, seeing as I added 1 day. But when I pass that date to `.getISODay()` I get 3

[2017-05-19 02:47] leshakoss commented on #491
@Lewenhaupt sounds like a bug to me. Could you please tell which version of date-fns do you use, and also which timezone (country, state, ...) are you in? Also, please give us output of these lines:
[code]

[2017-05-19 10:42] Lewenhaupt commented on #491
@leshakoss I figured out the problem and it was just me being very confused by the time zone shift that occurs so no bug with this. I did try to read the docs to see if there's a way to convert between time zones or set a default time zone but I couldn't find one.

[2017-05-19 10:42] #491 closed

[2017-05-19 11:15] David-OConnor opened #492 "Feature request: Separate date and times"
This module looks great; thanks! I'm surprised at how popular Moment is, given its issues that this library aims to improve upon. (modifying dates in place, too-flexible arguments, not using pure functions, using the native JS Date format  etc)

From my perspective though, it doesn't address Moment's biggest pitfall... Lacking separate date and time objects. Dates, times, and datetimes are 3 conce

[2017-05-19 11:17] leshakoss commented on #492
@David-OConnor date-fns is based on native ECMAScript's `Date` object which does not separate date and time. I don't think the separation is possible in the context of this library

[2017-05-19 11:21] kossnocorp commented on #492
We have plans to support additional time units such as durations https://en.wikipedia.org/wiki/ISO_8601#Durations, but we didn't have plans for support of separate types for time and date.

I'm wondering how it could be applied. It's not that hard to implement, but we need to figure out the use case first.

[2017-05-19 12:42] David-OConnor commented on #492
Thanks for getting back to me so quickly. As far as I can tell, the way Moment and JS 'pure' dates or times work, is you create a Date or Moment, then set the hours, seconds etc; or Year, month, etc to 0. This feels awkward, when there are many use cases where the object you're working with would never have a time (or date) component. Ie if you're tracking calendar days, asking for its hour should

[2017-05-19 14:04] kossnocorp commented on #491
@Lewenhaupt thank you for heads-up! We always use the system time zone for consistency, but we're planning to release UTC versions of the functions (e.g. `import {addDays} from 'date-fns/utc'`) and later time zones support.

[2017-05-19 14:14] kossnocorp commented on #492
@David-OConnor thanks, I'll take a look at Python.

[2017-05-21 14:48] rosieks opened #493 "startOfWeek - first day of week based on locale"
Could you improve `startOfWeek` function to get first day of the week from locale?

[2017-05-24 05:03] gpbl commented on #493
Yup having the `startOfWeek` would help to move [my day picker component](https://github.com/gpbl/react-day-picker/issues/342) to date-fns 🙏

[2017-05-24 05:21] leshakoss commented on #493
@rosieks @gpbl will be possible in v2: https://github.com/date-fns/date-fns/blob/v2/src/startOfWeek/test.js#L20-L32

[2017-05-24 14:13] hlehmann commented on #376
Is this coming with v2 ?

[2017-05-24 14:15] leshakoss commented on #376
@hlehmann sadly, not in `v2.0.0`, but v2 features locales modified to work in UTC functions as well as in regular ones, so we plan to release UTC as `v2.x`

[2017-05-24 14:23] hlehmann commented on #376
cool, and really nice job with the fp. Hope to see UTC, most of my data are in UTC and I still need to use moment for those.

[2017-05-24 19:27] thisconnect commented on #376
+1

[2017-06-01 10:02] kossnocorp commented on #232
With date-fns v2 Bower and UMD/CDN package versions won't be provided. Our primary package platform is npm and we want to focus our efforts on it. The monolithic date-fns build has no advantages over Moment and introduces extra burden to us. I know that it could be frustrating for some people, if you're interested in supporting one of those, please contact me.

[2017-06-01 10:02] #232 closed

[2017-06-03 22:50] snboisen commented on #351
Note that there's a proposal for avoiding duplication of effort made by jQuery's [Globalize](https://github.com/globalizejs/globalize#readme) team over at moment hub: [#1241](https://github.com/moment/moment/issues/1241).
It might make sense to reach out to them?

Also, the same team have created a tiny library for loading the CLDR JSON data: [cldr.js](https://github.com/rxaviers/cldrjs).

[2017-06-05 22:54] ulshv commented on #219
As soon as you release `date-fns` with `parseFormat` feature I will migrate my project codebase from `moment.js` to `date-fns` :) Ability to parse date with specific format is the only thing what stops me to use `date-fns`..

[2017-06-06 00:03] David-OConnor opened #501 "How to convert from a string?"
Hi. How can I convert a string to a date or time? The only thing I found is the parse function, which doesn't take a format string... This seems like a dangerous way to handle things.

[2017-06-09 19:01] sibelius commented on #489
I can confirm this

[2017-06-09 21:27] #489 closed

[2017-06-12 12:25] horvathlg opened #502 "Hungarian language support"
Working on it.

[2017-06-14 06:19] guyezhai commented on #232
requirejs?

[2017-06-15 09:48] AndriiDidkivsky commented on #501
Hi, any updates ?

[2017-06-15 10:12] AndriiDidkivsky commented on #501
@David-OConnor has you tried [format](https://date-fns.org/docs/format) ?

[2017-06-15 12:36] David-OConnor commented on #501
That appears to convert to a string, not from.

[2017-06-17 05:46] gthomas-appfolio commented on #501
I think `parse` this is not implemented this way in version 1.x
This is issue #219  but is being added to version 2.x

[2017-06-19 11:34] Neoglyph opened #504 "Slovenian language support"
In progress...

[2017-06-20 03:39] sporto opened #506 "Consider switching order of arguments and adding auto-currying"
As date-fns is immutable it lends itself well for working in a functional style in JS. I just started using it but found out that the order of arguments in fns is not the optimal for writing functional code.

E.g. with Ramda I need to write something like this:

[code]

`format` expects the first argument to be the date, but in functional style functions are more composable when the last argument

[2017-06-20 13:27] kossnocorp commented on #506
Hey! Take a look at that: https://github.com/date-fns/date-fns/blob/v2/docs/fp.md

[2017-06-20 14:09] #266 closed

[2017-06-20 14:09] #381 closed

[2017-06-20 14:09] #219 closed

[2017-06-20 14:09] #377 closed

[2017-06-20 14:09] #304 closed

[2017-06-20 14:09] #179 closed

[2017-06-20 14:09] #407 closed

[2017-06-20 14:09] #414 closed

[2017-06-20 14:09] #220 closed

[2017-06-20 14:09] #253 closed

[2017-06-20 14:09] #429 closed

[2017-06-20 14:09] #440 closed

[2017-06-20 14:12] leshakoss commented on #419
Closed by #460

[2017-06-20 14:12] #419 closed

[2017-06-20 14:22] arestov commented on #220
🔥

[2017-06-20 19:25] n3o77 commented on #479
I'm looking forward for this as well. It's already discussed in #180 and here's the repo: https://github.com/date-fns/tzdata-fns

[2017-06-21 00:22] sporto commented on #506
Oh! That is fantastic, thanks.
For ref the link that worked for me is https://github.com/date-fns/date-fns/blob/master/docs/fp.md

[2017-06-21 00:22] #506 closed

[2017-06-21 03:57] Softdevsuperstar opened #508 "Typings file causes a compile error."
I installed date-fns package in my typescript(v2.3.3) project and tried to use it. But when i tried to compile the project,  `typings.d.ts` file causes a compile error.
Anybody had same issue before or know the fix? The error description is as follows.
`TypeScript error: /Users/gabrielschippers/Desktop/cubik/cubik-app/shared/node_modules/date-fns/typings.d.ts(35,18): Error TS1110: Type expected.`

[2017-06-21 09:28] kossnocorp commented on #508
Interesting, which version you use?

[code]

[2017-06-21 09:39] GabrielSchippers commented on #508
Gabriels-Mac:shared gabrielschippers$ yarn list date-fns
yarn list v0.24.6
└─ date-fns@2.0.0-alpha.1
✨  Done in 0.26s.

I have got this when run 'yarn list date-fns'.

[2017-06-21 10:29] kossnocorp commented on #508
@GabrielSchippers I see, it's a pre-release v2 version. See change log: https://github.com/date-fns/date-fns/blob/master/CHANGELOG.md#unreleased.

In your case, the solution will be to lock at v1.

[2017-06-21 10:29] kossnocorp commented on #508
@GabrielSchippers I see, it's a pre-release v2 version. See change log: https://github.com/date-fns/date-fns/blob/master/CHANGELOG.md#unreleased.

In your case, the solution will be to lock at v1.

[2017-06-21 14:11] kingsleymasters opened #510 "Parse() not working in IE/Firefox consistantly"
This is against v1.28.5

Noticed an issue when Parsing ISO style dates (but not valid ISO format) with a trailing Z

See the fiddle below (in IE11 or Firefox) it works in Chrome.
https://jsfiddle.net/p56cfcjd/4/

Parsess correctly in all browsers
`dateFns.parse('2012-01');`

Fails in IE11/Firefox but parses in Chrome
` dateFns.parse('2012-01Z');`

[2017-06-21 16:54] GabrielSchippers commented on #508
Thank you for your good support.

But still I have error.

I uninstalled date-fns@2.0.0-alpha.1 and installed this '"date-fns": "1.28.5"'

Gabriels-Mac:shared gabrielschippers$ yarn list date-fns
yarn list v0.24.6
└─ date-fns@1.28.5
✨  Done in 0.25s.

As you can see, version is changed already.

And the only difference in result is the error line changed.

'TypeScript error: /Users/gabrielschipper

[2017-06-21 17:08] leshakoss commented on #508
For reference, here are the lines which cause the error:
v1: https://github.com/date-fns/date-fns/blob/v1/typings.d.ts#L674
v2: https://github.com/date-fns/date-fns/blob/master/typings.d.ts#L35

[2017-06-21 17:18] leshakoss commented on #508
@GabrielSchippers I've managed to get the same error by downgrading TypeScript to `^1.8.0` but it's gone in `^2.0.0`. Could you please double check which version of TS do you use? Thanks

[2017-06-21 17:27] leshakoss commented on #508
@GabrielSchippers and also could you please run the date-fns' TypeScript smoke test on your configuration:
[code]
If it works, could you please provide us with the exact line which causes the error? Thanks in advance

[2017-06-21 19:40] GabrielSchippers commented on #508
Actually I am using Typescript 2.3.4.

And I have got this error when I run `npm run build`

`Gabriels-Mac:typescript gabrielschippers$ npm run build

yarn run v0.24.6
$ env PACKAGE_OUTPUT_PATH="$(pwd)/node_modules/date-fns" ../../scripts/build/package.sh
You have mistakenly installed the `babel` package, which is a no-op in Babel 6.
Babel's CLI commands have been moved from the `babel` package to

[2017-06-21 23:30] logaretm commented on #347
Hello, Is this still being debated?

First of all thanks for the great work. I really liked the compactness of this library and have a lot of useful utilities, much appreciated.

I recently decided to use `date-fns` as the date engine for my library `vee-validate` (validation plugin for Vue.js framework) instead of moment, since moment currently lacks such modularity and I don't really need most o

[2017-06-22 01:48] drpotato commented on #376
Really look forward to UTC versions being added.

[2017-06-22 02:17] ThomHurks commented on #347
@leshakoss I'm a ```vee-validate``` user but also use ```date-fns``` separately in my project. I didn't even know that ```parse``` allows overflowing like this until I read the report. Useful to know!

Both for usage in ```vee-validate``` and for my own use I would love a function/option that imposes more restrictions when parsing. I understand that figuring out when a date "exists" or not can be

[2017-06-22 09:01] kouhin opened #512 "2.0.0-alpha.1 is tagged as latest now"
Since it's just a pre-release, I think it's better to tag this version as next or beta.

[2017-06-22 23:16] alexsasharegan opened #513 "[2.0.0-alpha.1] `distanceInWordsToNow` disappeared"
# distanceInWordsToNow
Has this function moved, or has it been removed?

[2017-06-23 16:02] ldrick opened #514 "Parsing two digit years should be possible to configure"
I tried to replace moment with date-fns, but stumbled across two digit years.

Please see reference on moment: [moment#parse](https://momentjs.com/docs/#/parsing/).
You could specify `moment.parseTwoDigitYear` that enabled me to make it work like Java [java.text.SimpleDateFormat#parse](https://docs.oracle.com/javase/8/docs/api/java/text/SimpleDateFormat.html)

Currently it seems baseDate is used,

[2017-06-23 19:10] tomchentw opened #515 "Codemod (jscodeshift) for 1.x.x to 2.x.x migration (camelCase)"
Hi all,

Thanks for the great module! I recently upgraded `date-fns` to `v2.0.0-alpha.1` and I found the breaking change for `camelCase` path names (good move!) mentioned in the [CHANGELOD.md][CHANGELOG].

[code]

Then, I wrote a small piece of codemod for this changes and I like to share with you. You can try it on the AST explorer:

https://astexplorer.net/#/gist/42219645835799e3ff3f8ca089022852

[2017-06-23 19:11] tomchentw commented on #512
I also noticed this as well. If anyone needs a codemod, check #515 out.

[2017-06-25 20:40] gajus commented on #377
I don't know if I would have gone as far as removing them. A better solution would have been to separate the core lib and introduce a common helper collection.

It is a lot hard to read the intent of `isSameDay(dateObject, new Date())` than of `isToday(dateObject)`. This is going encourage devs to implement these abstractions locally with their own quirks to avoid the boilerplate.

[2017-06-26 22:40] tunnckoCore commented on #414
Cool! :)

[2017-06-27 18:34] cmcguire79 opened #516 "es6 npm version"
Hi

Is it possible to get an es6 npm version so as to work with webpack3 module concatination?

Thanks
Cathal

[2017-06-28 05:54] thisconnect commented on #516
There is a module field in package.json, see `"module": "esm/index.js"` https://github.com/date-fns/date-fns/blob/master/package.json#L13

[2017-06-28 11:11] wmertens commented on #456
Hmmm, if  you have a larger application you could end up with conflicting settings. Much safer to just use a wrapper function that applies the defaults.

[2017-06-28 13:01] wmertens opened #517 "v2: format broken?"
[code]

[2017-06-28 13:11] leshakoss commented on #517
In v2 the second argument of `format` is no longer optional. To get the same result as in v1, pass the second argument:
[code]
or supply it via currying to FP function:
[code]

[2017-06-28 13:12] kossnocorp commented on #517
@wmertens hey, you found an edge case that we didn't cover, thanks! I think we should check arity and return something meaningful.

![](http://i.ncrp.co/2P1N2y1T0P0E/Image%202017-06-28%20at%203.11.24%20PM.png)

[2017-06-28 13:14] kossnocorp commented on #517
Or shall we throw an exception, @leshakoss WDYT?

[2017-06-28 15:57] alexsasharegan commented on #513
Cheers! Finally upgraded and refactored to use `formatDistance` (has a slightly different signature). Everything working nicely 👍

[2017-06-28 15:57] #513 closed

[2017-06-28 17:08] wmertens commented on #517
Definitely exception imho…

On Wed, Jun 28, 2017, 3:14 PM Sasha Koss <notifications@github.com> wrote:

[2017-06-29 13:36] mesqueeb opened #518 "V2 missing folders after NPM install (distance_in_words_to_now)"
Hello,

I did `npm install date-fns --save` but there was no folder `distance_in_words_to_now` saved inside the date-fns folder in node_modules.

[2017-06-29 13:39] mesqueeb commented on #518
It seems that in V2 it uses a function called `formatDistance` instead. are there any docs for this?

[2017-06-29 13:45] kossnocorp commented on #518
@mesqueeb You have installed v2.0.0-alpha.1 because I forgot to mark it as a prerelease. Please try again, it must be installing v1 (v1.21.1) now.

If you want to play with alpha.1, you can see [the change log](https://github.com/date-fns/date-fns/blob/master/CHANGELOG.md#change-log) and [JSDoc notations](https://github.com/date-fns/date-fns/blob/master/src/formatDistance/index.js#L13)

[2017-06-29 13:45] #518 closed

[2017-06-29 13:47] mesqueeb commented on #518
@kossnocorp Thanks!
I found that the formatRelative docs should be here:
https://date-fns.org/docs/formatRelative
 But it only loads a blank page when I visit that link. : S

[2017-06-29 13:50] kossnocorp commented on #516
@cmcguire79 which version you use? Since `date-fns@2.0.0-alpha.1`, date-fns has ECMAScript modules support; you can see the docs: https://github.com/date-fns/date-fns/blob/master/docs/esm.md. The final v2 release is coming.

If you have a webpack configuration-specific problem, please re-open the issue with your config attached.

[2017-06-29 13:50] #516 closed

[2017-06-29 14:25] kossnocorp commented on #518
@mesqueeb yeah, website update isn't deployed yet 😇

[2017-06-29 15:23] mesqueeb commented on #518
Oh! That's a shame!
I read the formatRelative source data. Is it possible to cut off the "time" section from this?

Just have it display as "yesterday" or "last Sunday" ?

[2017-06-29 16:05] kossnocorp commented on #518
@mesqueeb it's a good idea, can you open a dedicated issue for this feature request or even better send a PR? Thanks!

[2017-06-29 16:33] mesqueeb commented on #518
`result.substring(0, result.indexOf(' at'));`

[2017-06-29 17:02] salt-istanbul commented on #232
+1

[2017-06-29 17:13] mesqueeb commented on #512
When's the release date planned for v. 2.0.0? Can't wait for it!!!!

[2017-07-03 22:11] tkrotoff opened #520 "YYYY should be yyyy and DD should be dd"
The tokens accepted by [date-fns](https://date-fns.org/docs/format) are different with what most languages and libraries support.

I focus here on YYYY and DD.

#### Comparable:
- [AngularJS](http://docs.angularjs.org/api/ng/filter/date): yyyy dd instead of YYYY DD
- [Qt](http://qt-project.org/doc/qt-5/qdatetime.html#toString): yyyy dd instead of YYYY DD
- [C#](http://msdn.microsoft.com/en-us/libr

[2017-07-04 10:39] mesqueeb opened #521 "Is time-fns treeshaking dependant on Uglify?"
I wonder if time-fns alpha 2 treeshaking is dependant on Uglify?
If so I was just worried about this open issue about it:
https://github.com/webpack/webpack/issues/2867

How can I know if the treeshaking is working properly?

[2017-07-05 05:07] yonihbc opened #522 "HE language support"

[2017-07-05 05:25] yonihbc commented on #522
How Do I upload my translation?

[2017-07-06 03:30] F21 commented on #180
I'd love to see something similar to [`moment.tz.guess()`](https://momentjs.com/timezone/docs/#/using-timezones/guessing-user-timezone/).

Most browsers support `Intl.DateTimeFormat().resolvedOptions().timeZone`, but there are some edge cases like Safari on IOS 9.3 which does not. In the case of momentjs, if `resolvedOptions().timeZone` is not available, it will try to guess the timezone.

[2017-07-06 04:26] thisguychris opened #523 "How to deal with date order style?"
Each country follows different conventions.  Day-Month-Year, Year-Month-Day etc.

In moment.js I deal with this by using their LLLL format, is there an equivalent format in date-fns?

Just peeking at the code of format the function signature has long format but it doesn't seem functioning?
https://github.com/date-fns/date-fns/blob/master/src/format/index.js

[2017-07-07 21:38] mrmlnc opened #524 "Remote `docs.json` file from npm package"
Hello,

I think you can remove the `docs.json` file from the npm package. Just -204K.

[2017-07-11 01:09] UJosue10 opened #526 "Kaqchikel language support"
[Kaqchikel](https://en.wikipedia.org/wiki/Kaqchikel_language)  is one of the must used Mayan languages at Guatemala, CA.

[2017-07-11 21:55] #526 closed

[2017-07-12 15:40] suwigyarathore opened #527 "date-fns v2.0.0 release date?"
I see that only 2.0.0 alpha version is esm compatible ..Can anyone suggest when you guys are planning to release its stable version wih esm .We are planning to drop moment as its not tree shakable with your library only in esm format?

[2017-07-12 21:46] korzhyk commented on #488
Hi @leshakoss ! I have some good news. #528 Ukrainian locale on the way.

[2017-07-13 03:48] oldo opened #529 "Function Request - isAfterOrEqual & isBeforeOrEqual"
First up, great library here. I'm migrating from moment just because of the immutability and I like that objects are just lightweight JS Date objects without all the API attached...

Anyway, I just thought I'd put in a quick function request to create extended versions of `isAfter()` and `isBefore()` to have `isAfterOrEqual()` and `isBeforeOrEqual()`.

I know that you can get the same outcome with

[2017-07-13 04:03] oldo opened #530 "function request: dateAdd(date, unit) & dateSubtract(date, unit)"
Hi there,

Another little function request that would be handy: to save using switch or if statements it would be great to have a general `dateAdd(date, unit)` and `dateSubtract(date, unit)` function which accepts as a second argument the unit that is being added or subtracted.

[2017-07-13 08:57] korzhyk commented on #529
[code]
is equal to:
[code]

[2017-07-13 11:00] korzhyk commented on #530
What `unit` means about?

[2017-07-13 11:01] oldo commented on #530
`day` or `days` or `hour` or `hours` or `minute` or `minutes`, etc.

[2017-07-13 11:02] oldo commented on #529
Nice one @korzhyk

[2017-07-13 11:02] #529 closed

[2017-07-13 11:02] oldo commented on #529
Although I do like the more explicit `isEqualOrAfter` and `isEqualOrBefore`, but all good :-)

[2017-07-13 12:33] korzhyk commented on #530
[code]
Something like this?

[2017-07-13 12:38] oldo commented on #530
Sorry, I haven't explained myself well. What I'm getting at is that in moment you have a single function for adding x amount of y units to a date. This is useful when you are have the same method in logic but in different scenarios want to add, for example, hours instead of days.

I've created a little helper function that I can use in my projects but thought it would be neat to have a simple func

[2017-07-17 22:30] standy opened #533 "Incorrect result across DST in differenceInDays"
Calculating differenceInDays fails across DST

Example:
For London 2017-03-26, 01:00 clocks were turned forward 1 hour to 02:00
https://www.timeanddate.com/time/change/uk/london?year=2017
[code]

[2017-07-18 13:51] phtrivier opened #534 "Using .flow.js files"
I've installed the library through yarn

`yarn add date-fns`

Now, when I try to import any module, `flow` complains that the module is unknown :

[code]

[code]

Usually, I fix this kind of issues with `flow-typed update`. In this case, there does not seem to exist flow-typed definitions.

I resorted to manually doing `flow-typed create-stub date-fns/format@x.x.x`.

However, I noticed there are "

[2017-07-19 06:42] ghostd commented on #534
Same here, with the following `.flowconfig` file:
[code]

[2017-07-25 02:20] tianyuanzhonglu opened #535 "./~/date-fns/locale/en/index.js Module build failed: Error: ENOENT: no such file or directory,"
[code]

distance_in_words.js
`var enLocale = require('../locale/en/index.js')`

there's no en/ folder in npm release
`npm install angular-calendar --save`

[2017-07-27 07:00] ghostd commented on #534
Hi,

Here is my workaround, i added a `date-fns.js` into my `flow-typed` directory with the following content:
[code]

(with this file, no needs to modify the `.flowconfig` file)

[2017-07-27 21:14] kossnocorp commented on #483
It's live now, thank you for a great suggestion 👌

[2017-07-27 21:14] #483 closed

[2017-07-28 07:11] #517 closed

[2017-07-28 09:17] kossnocorp commented on #533
Thank you for reporting! We'll take a look as soon as possible.

[2017-08-02 00:04] lparry commented on #489
a workaround that seems to work for unit tests is to set the `TZ` env var. ie.

[code]

[2017-08-05 13:57] raine opened #537 "null is a valid date"
Seemed like unexpected behavior to me.

[code]

[2017-08-08 17:40] ihym opened #539 "Ability to provide custom local"
Is there a way to provide custom local, maybe something like this https://momentjs.com/docs/#/customization/relative-time/ ?

[2017-08-12 09:53] vedmant commented on #219
Just tried this lib in my project and on the very first line I needed to parse date from custom format, and unfortunately I couldn't :(

[2017-08-14 10:17] bardiainjast commented on #309
@msudgh any news ?

[2017-08-15 09:53] BiteBit opened #540 "Support eachYear eachMonth eachWeek eachHour eachMinute"
Hi, team.
**eachDay** is a very convenient function under some situation. but it's not comprehensive, i think **eachYear**,**eachMonth**,**eachWeek**,**eachHour** and **eachMinute** will be very useful too.
Is there any plan for this?
Thanks.

[2017-08-16 03:49] hmontes commented on #326
Any news with this? I'm moving from moment to date-fns but i use a lot that function.

[code]

(Year, month and day are user data)

[2017-08-16 15:29] Dzek opened #541 "Inconsistent Results of isDate in Multi-Frame Applications"
When dateFns.isDate(argument) is used in a multi framed application (e.g. GWT), isDate() always returns false for a valid date.
Just throwing this out there but I propose a solution similar to what is described here:
[instanceof considered harmful](http://perfectionkills.com/instanceof-considered-harmful-or-how-to-write-a-robust-isarray/)

The link also helps explain the problem without going into

[2017-08-18 13:40] cmhakkim commented on #180
Converting time to specific time zone and back. It doesn't always make sense to print dates and/or times using user's timezone. E.g. if an user from Japan and Chile were planning a meeting in Baku they should be using Baku time, not their own. Or if you were going to see a gig from NY to LA the user probably would like to see the time on LA time, not in NY time. A simple world clock (with back and

[2017-08-18 20:09] brigand commented on #540
@BiteBit could you write a more complete proposal with example inputs and outputs?

[2017-08-18 20:51] brigand commented on #521
Late response, so this is mostly for people that find this issue in the future.

That issue is for if you import something, and then don't use it. It doesn't apply to things you didn't declare in the imports. Any decent linter would complain about that import, and then you'd remove it. Problem solved.

I don't think tree shaking is dependent on a minifier, but you'll be using one in production eit

[2017-08-19 17:34] sittingbool opened #542 "Underscore prevents use in NativeScript on Android"
Less an issue just to let you and others who come to the same struggle know. I was programming an NativeScript-App on Angular 4 and was using this module. Everything was fine as long as you run in dev mode on emulator. But after making a release build on Android the app always crashed directly after start. I was going mad about this because I couldn't find a solution. I found the reason after 3 we

[2017-08-23 19:02] dlsso commented on #180
My use case is that I would like to be able to specify time zones on strings going into the different comparison functions. Failing that an equivalent to `.isDST()` would let me decide which offset to use.

[2017-08-24 07:26] trongthanh opened #543 "Vietnamese language support"
WIP.

[2017-08-24 14:39] richardscarrott commented on #180
@abritinthebay I'm pretty certain your use-case is supported already as the native Date object defaults to the users timezone, e.g.

[code]

The problem is when you want to render a date in a timezone other than the users timezone, e.g. when booking a flight you'd want to render the departure time and arrival time in their respective destinations local time.

[2017-08-24 18:02] abritinthebay commented on #180
Now do that on the server in a timezone other than either the input timezone or the users timezone 😄

Sorry if I wasn't clear.

[2017-08-24 20:20] TempD opened #544 "differenceInDays returning -0"
I'm in the process of converting our codebase from using moment to date-fns. We have one function that is used to return the days left from 2 date objects, but now our tests are failing in this case:

[code]

If you put this in a console log, it returns `-0`, which then breaks our tests. Any way of fixing the library so that 0 values are always positive?

Accompanying JSFiddle [here](https://jsfid

[2017-08-25 01:42] vovikdrg commented on #488
@korzhyk good job :)

[2017-08-25 01:42] vovikdrg commented on #488
@leshakoss btw probably official documentation should have Ukrainian as supported language too

[2017-08-28 00:02] chasm opened #545 "Parameter ordering is backwards"
Proper parameter ordering and currying is essential to composability.

Here is an example of a typical date-fns function from the v2 docs:

[code]

This is backwards. The `format` and the `options` will almost certainly be set infrequently. With this ordering, I have to pass them _every time_.

The proper FP ordering for the arguments puts the date last and curries the function:

[code]

That allo

[2017-08-28 04:16] trongthanh commented on #543
I have created PR #546 to add basic Vietnamese locale support.
There are still some FIXMEs and TODOs need to look into, but the locale is basically usable.

[2017-08-28 04:33] leshakoss commented on #545
@chasm we've decided to resolve this issue by [reversing the order of arguments specifically in FP-functions](https://date-fns.org/v2.0.0-alpha.1/docs/FP-Guide#usage). Also, we have carefully arranged arguments in the way to make sense in both normal and reversed orders.

For FP-functions, the reversed argument order results in more situation specific arguments to be passed to functions last.

Exa

[2017-08-28 05:26] chasm commented on #545
I'm glad to see that the proper ordering is available. I think it's a mistake to view that as the "reverse" order and to assign it to a lesser status requiring the "FP" module, but that sounds like the lodash method and I'm getting the feeling that there are a lot of lodash fans here. That said, second-class citizen is better than nothing. I'll take it!

Good point on the polymorphic way, though y

[2017-08-28 05:26] #545 closed

[2017-08-28 06:05] maoqxxmm opened #547 "Lithuanian language support"
I'm trying to replace "moment" with "date-fns", but there is Lithuanian on my site and "date-fns" has not supported it yet. So is there a plan to support Lithuanian language? Thanks!

[2017-08-30 17:18] jwhitmarsh commented on #527
Do the maintainers need any help with this? I notice that there haven't been any commits for a month.

[2017-08-31 08:25] amsk1982 opened #548 "Adding all the locales from CLDR"
Would you guys be interested in adding all the locales from Unicode CLDR? There are about 700 locales in this database and it's currently used by Apple, Microsoft and Google for most of their locale specific software.

http://cldr.unicode.org/

I'm considering creating a patch to do this, if you'd want to merge it it might be worth having a chat about it as some of the more unusual areas of you're

[2017-09-01 11:54] kossnocorp commented on #543
The PR is shipped as `v2.0.0-alpha.2`. If you still have improvements in mind, please open separate issues for that.

[2017-09-01 11:54] #543 closed

[2017-09-01 12:01] kossnocorp commented on #547
Hey! Unfortunately, neither I nor @leshakoss understand Lithuanian, so it will be supported once someone who knows Lithuanian will send a PR. Help is much welcome!

[2017-09-01 12:05] kossnocorp commented on #540
At the _moment_ the date-fns team has no throughput for that, but PR(s) is welcome!

[2017-09-01 12:52] kossnocorp commented on #537
It not as straightforward as it looks.

In ECMAScript, `new Date(null)` equals to `new Date(0)`:

[code]

This behavior is consistent across all date-fns functions, so if you add a day to `null`, it will be `Jan 02 1970`.

The library sticks to ECMAScript behavior, even in edge cases like this one. It could sound controversial, but it ensures consistency both across date-fns API and with ES.

Init

[2017-09-02 10:08] bestguy opened #549 "(Alpha 2) parse allows invalid day of months"
The alpha 2 parse allows day of month to be 0 or greater than 31, and returns dates in the previous or next months.  I'd expect these to be invalid dates, or at least have an option to disable that behavior:

Correct:

[code]

Incorrect:

[code]

[2017-09-02 14:00] leshakoss commented on #539
@ihym While it is possible to provide custom locale to localized functions, it's somewhat harder than creating a flat key-value object. You can take a look at [a built-in locale](https://github.com/date-fns/date-fns/tree/master/src/locale/en-US) and [Locale object docs](https://date-fns.org/v2.0.0-alpha.2/docs/Locale) to see how do locales structured. Also, see [locale monkey-patching guide](https

[2017-09-03 08:38] kossnocorp commented on #548
Sounds interesting! We did update underlaying code of the locales in v2 (alpha now) and now most of the locales require maintenance. It would really cool to migrate to a common standard. Let's chat about it! You can mail me to koss@nocorp.me or find me at Telegram: https://t.me/kossnocorp

[2017-09-03 08:54] kossnocorp commented on #527
@suwigyarathore unforunetely to make the most of tree-shaking, we still need to do some work and introduce "pure modules" (see https://twitter.com/jdalton/status/893109185264500737). Right now the most build-efficient and quick way to import date-fns is to use v1 with https://github.com/date-fns/babel-plugin-date-fns. Tree-shaking was somehow broken for date-fns, so this was a blocker: https://git

[2017-09-03 09:05] kossnocorp commented on #527
@jwhitmarsh yes, please take a look and help us to find a proper solution: https://github.com/date-fns/date-fns/issues/537. I'll review issues and post more links that require community feedback. If you want help writing code, you can ping me at Telegram: https://t.me/kossnocorp.

[2017-09-04 13:08] #272 closed

[2017-09-06 09:16] giofilo opened #550 "Correct italian translations of formatDistance"
Hi,

I'd need to know if it is possibile to edit some italian translations in formatDistance function.

They are:

- `più` instead of `piú` at this row https://github.com/date-fns/date-fns/blob/master/src/locale/it/_lib/formatDistance/index.js#L59
- `tra` instead of `in` at this row https://github.com/date-fns/date-fns/blob/master/src/locale/it/_lib/formatDistance/index.js#L84

Should I make a pul

[2017-09-06 09:59] kossnocorp commented on #550
Hey, you want to edit that because of an error / a typo or there is something else? I don't understand Italian, hence the question.

[2017-09-06 10:00] kossnocorp commented on #550
Also, which date-fns version do you use?

[2017-09-06 14:58] giofilo commented on #550
Hi @kossnocorp ,

The first point is an error/typo.

The second point isn't grammatically an error, but I find the correction a better form. And I need it for my project.

I'm using date-fns `1.28.5`.

[2017-09-06 18:13] kossnocorp commented on #550
It sounds like that everyone would benefit from this change, so please send the PR. However, I won't be able to quickly release v1 at this moment. The quickest way to apply the fix right now is to copy the source of the locale from the library to your project and made the corrections. Once I fix v1 build system, I'll ping you so you'll be able to get rid of the locale copy. How does it sound to yo

[2017-09-07 05:56] tronghiep92 opened #551 "Why format in nodejs and browse are different?"
Hi all,
I am doing the project [Next.js](https://github.com/zeit/next.js) support SSR. But format time in nodejs and browse are different, so it caused an error.

I have an example `dateFns.getDate(new Date('2017-05-17T18:50:18+0000'))`.
But run in nodejs  the result is **17**.
Run in browser the result is **18**.

I do not understand what's going on. I know this is not **date-fns** fault. But, Ma

[2017-09-07 13:04] giofilo commented on #550
All right @kossnocorp, I'll send a PR!
Should I create my branch starting from V1 or V2?

👍 great

Thanks for the support

[2017-09-08 03:30] kossnocorp commented on #550
From v1

[2017-09-08 03:38] kossnocorp commented on #551
@tronghiep92 can you tell me more about the environment?

- Which date-fns version do you use?
- Node.js version, where do you run it (locally/on a server) which TZ is set as local?
- Browser version, TZ?

I see that you are in Hồ Chí Minh but the date is in UTC, this could be the source of the problem. See an example.

Moscow time (+4):

<img width="267" alt="screen shot 2017-09-08 at 07 37 41" s

[2017-09-08 05:39] tronghiep92 commented on #551
@kossnocorp

Thank you for your support.
You are right. TZ in local is `Asia/Ho_Chi_Minh` and in NodeJS(Linux) is `Etc/UTC`.
How can I set TZ default in `date-fns`?
I want to set TZ default is `Etc/UTC` for both local and nodejs.

[2017-09-11 08:44] IwanKaramazow commented on #534
@phtrivier Did you ever figure out how to use those `*.js.flow` files?

[2017-09-11 10:51] artem-malko commented on #390
@leshakoss hello) Could you tell me, is that feature not implemented yet?

[2017-09-11 10:53] leshakoss commented on #390
@artem-malko it works in v2.0.0 alpha: https://date-fns.org/v2.0.0-alpha.2/docs/format
But not all locales are yet supported

[2017-09-11 10:58] artem-malko commented on #390
@leshakoss :+1:

[2017-09-11 15:05] stefanbugge opened #554 "Fix danish locale support for long and relative formats"
The danish (da) localization files should be updated to support long and relatives formats

[2017-09-12 06:32] ghostd commented on #534
Hi,

It finally works for me, i had a wrong regex in my `ignore` section

[2017-09-12 07:10] IwanKaramazow commented on #534
@ghostd Can you describe what you had in your `ignore` section and what you had to do to make `date/fns` working?

[2017-09-12 10:53] ahmedelgabri opened #556 "Set a timezone"
What is the best way to set a timezone on the date object?

[code]

[2017-09-12 11:13] kossnocorp commented on #556
At the _moment_, the best way is to manually calculate the offset using `addMinutes` or `subMinutes`. To do that you need to know the local and desired offset values. date-fns always returns a date in the local TZ, so that you can get local TZ calling `getTimezoneOffset()`:

<img width="298" alt="screen shot 2017-09-12 at 18 05 09" src="https://user-images.githubusercontent.com/52201/30322816-f40d

[2017-09-12 11:15] ghostd commented on #534
My ìgnore`section contained a regex that ignored the node_modules directory (instead of a specific directory)

[2017-09-12 11:24] kossnocorp commented on #534
Flow is supposed to be supported out-of-box, and it's sad to hear that it's not true anymore :-(.

You can see, that every function in date-fns has a corresponding type definition file:

[code]

Did you try to include date-fns directory in the `.flowconfig`? See an example: https://github.com/date-fns/date-fns/blob/master/examples/flow/.flowconfig

I want to fix this problem but I'm not a Flow use

[2017-09-12 11:34] ahmedelgabri commented on #556
Thanks, that's what I did already. But I just wanted to see if there were a better way. For now this is fine, but it will be really great if the library has some TZ support built in.

[2017-09-12 11:34] #556 closed

[2017-09-12 11:58] zhuangya commented on #537
IMHO: since `null == 0` is `false`, `new Date(null)` equals to `new Date(0)` is not so meanful for me.

so, i think, `> D.isValid(null)` should be `false`

[2017-09-12 12:03] IwanKaramazow commented on #534
Found something that worked for my project.
I had the following `.flowconfig`:
[code]

The docs state `Ignores are processed AFTER includes. If you both include and ignore a file it will be ignored.` (https://flow.org/en/docs/config/ignore/). So including `date-fns` didn't have any effect.

What I had to do was change my `.flowconfig` to:
[code]
All "problematic" (libs flow can't handle) libraries

[2017-09-12 12:06] frontsideair commented on #537
I think `null` should not be considered a valid date. `null` can be an indicator of a failure in a computation that may fail and it should be caught before it propagates.

[2017-09-12 12:06] ai commented on #537
I think `null` should be an invalid date. `null` is not a value, it is an empty value. Its meaning is very different from `0`.  So for my opinion `Date(null)` is a mistake in JS design. And we should fix it in this API.

[2017-09-12 12:07] jquense commented on #537
Having built a few date pickers the native New Date behavior  around null has only ever caused bugs. DateFns is good place to adjust these unintuitive native behaviors. I'd vote for null to be not a valid a date

[2017-09-12 12:13] threepointone commented on #537
I think date-fns has the opportunity here to correct the spec; my vote, like the above others, is for `Date(null)` *not* to be valid.
(thanks for a great lib!)

[2017-09-12 12:15] bpierre commented on #537
Is there any known example of `null` being used for a good reason, using `new Date` or date-fns? If not, I vote for `null` not to be valid.

[2017-09-12 12:32] lski commented on #537
For me as well, `D.isValid(null) === false`, as long as it is consistent in your functions from this library then it can be considered expected behaviour.

A reason for creating a library in the first place is to make reasoned 'fixes' and normalisations to bizarre behaviours in the underlying language in my opinion anyway.

[2017-09-12 13:29] brentvatne commented on #537
I agree with the popular sentiment in this thread -- unless there are some solid practical reasons that we can enumerate (as suggested by @bpierre), `D.isValid(null)` should return `false`.

[2017-09-12 13:56] vinxce commented on #537
I agree with pretty much all that was said before, especially with @ai comment. `Null` is not `0`, and `Date(null)` treated as a valid date has always been an erratic behavior in my opinion.

[2017-09-12 14:09] zhuangya commented on #537
Some API design would set some time field to null if there is some abnormal
situation

Pierre Bertet <notifications@github.com>于2017年9月12日 周二20:15写道：

--
sent via Inbox app :)

[2017-09-12 14:17] maggiepint commented on #537
For what it's worth, Moment's behavior invalidates `null` - but we've never attempted to follow the Date object for any reason (except our terrible choice to have zero-indexed months :-)).

I don't recall any GitHub issues where people complained about this. I think it would be safe to move forward by having `null` returned an invalid date, and in fact, I think it is what most users would expect.

[2017-09-12 14:42] maggiepint commented on #537
Note: I'm looking at the ECMAScript spec, and while it is indeed the case that `null` is treated the same as `0`, I think it was completely unintentional. The spec passes 1 parameter, non-string invocations of the date constructor through the [toNumber](https://www.ecma-international.org/ecma-262/8.0/index.html#sec-tonumber) function to normalize them - thus you get this result. Probably an edge c

[2017-09-12 14:42] lpalmes commented on #537
I agree in considering ‘new Date(null)’ as an invalid value. Truthy and falsely values are a bit cumbersome in JS.

[2017-09-12 16:28] AutoSponge commented on #537
Unless the value implements the Date interface (via prototype) or is a string/JSON representation of a valid Date, IMO it's not a Date. Null does neither.

[2017-09-12 23:27] charliesbox commented on #537
I agree with most of the comments. Null shouldn’t be a valid valid to create a date. It’s the reason of several bugs that are hard to track.

This is a great opportunity to solve that.

My two cents.

[2017-09-13 09:16] kossnocorp commented on #537
Thanks, everyone who replied! It's great to see unity about the issue, `isValid(null) === false` it is!

I'll go through API and apply this change everywhere.

[2017-09-13 14:56] #537 closed

[2017-09-13 15:15] jackfranklin commented on #534
@kossnocorp I just installed date-fns and can confirm that this does work out of the box:

[code]

However it doesn't work if you use a named import:

[code]

It seems that Flow can't read the Flow files when it uses a named import. I'm not 100% sure why yet - I'm also new to Flow.

[2017-09-13 15:18] jackfranklin commented on #534
I wonder if it's because `src/index.js` has files imported as:

[code]

Does that stop Flow being able to find the type file? Would it work if we left the suffix off?

[2017-09-13 16:06] kossnocorp commented on #537
The fix is released `v2.0.0-alpha.3`. See the change log: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha3

[2017-09-13 19:14] jrop commented on #219
@vedmant This worked for me: `yarn add date-fns@next` to get the alpha

[2017-09-14 07:18] adeyahya opened #560 "Indonesian language support"
working on it

[2017-09-14 07:23] #560 closed

[2017-09-14 15:20] logaretm commented on #549
Hello, we wanted to use `date-fns` instead of `moment` for various reasons for `vee-validate`, and for validation this is a big problem but I've found a way around it and you may find it useful:

[code]

It is very straightforward but I think it does the job for now, it parses the date given by the user first, checks if its valid, then formats it back to the same format and checks it against the u

[2017-09-15 04:48] kossnocorp opened #561 "Submodule with strict argument checks"
I had a discussion with @sindresorhus about arguments type checking and if date-fns should throw an exception when a user passes something unexpected as arguments rather than return an invalid date or `NaN`.

While I still think that date-fns should stick to ECMAScript behavior by default and return an invalid date / `NaN` in such cases, it's possible to implement a submodule that will have such s

[2017-09-15 07:01] kossnocorp commented on #551
@tronghiep92 at the _moment_, you need to do it manually. You can find the direction at a comment I've posted earlier: https://github.com/date-fns/date-fns/issues/556#issuecomment-328821225

UTC versions of the functions are in pipeline and coming soonish after v2. Subscribe to the issue, to get news about it: https://github.com/date-fns/date-fns/issues/376

[2017-09-15 07:01] #551 closed

[2017-09-15 16:30] raine commented on #514
Also stumbled on a problem with two digit years.

I have a function that is supposed to parse dates in either two or four digit format, `24.1.2017` or `24.1.17`.

In my attempt to do so I parse the date in each format, starting with longest one, and pick the first valid date.

[code]

However, `parse('24.1.17', 'D.M.YYYY', new Date())` returns the date `0017-01-24T21:00:00.000Z`, which is obviousl

[2017-09-15 18:46] glintik commented on #549
Hi guys,

I can confirm an issue with `parse`. It should return "Invalid Date", if date is not in supplied format, my test:

Current output:
`Parsing 09-15-2017 with format YYYY-MM-DD: 0010-03-19T22:00:00.000Z`

Expected:
`
Parsing 09-15-2017 with format YYYY-MM-DD: Invalid Date
`

[2017-09-16 13:32] glintik opened #562 "En-GB language support"
Hi,

How about adding en-GB locale support?

[2017-09-16 13:34] leshakoss commented on #562
@glintik It would be welcome 😊

I had made a guide how to add a locale with the same language as another locale: https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md#creating-a-locale-with-the-same-language-as-another-locale

[2017-09-16 13:49] glintik commented on #562
Hi @leshakoss,

Thank you for guide. I see an example with locale en-GB in this article, is it not in master yet?

[2017-09-16 13:51] leshakoss commented on #562
@glintik no, there is no such locale in date-fns at the time. The example code is made up for the guide

[2017-09-16 13:53] glintik commented on #562
Ok, I'll prepare one soon.

[2017-09-16 14:07] glintik commented on #562
package.json looks as not ready to run module, any advise please on running build/tests?

[2017-09-16 14:11] leshakoss commented on #562
For tests, `yarn test`/`npm test` should work.

For building a package to test it in your project:
[code]

[2017-09-16 15:03] glintik commented on #562
I have run
[code]

Got:
[code]

Ok, install globally babel-cli:
[code]

Run again:
[code]

Got an error:
[code]

What I'm doing wrong?
OS X Sierra 10.12.6 (16G29)

[2017-09-16 15:22] leshakoss commented on #562
@glintik did you install date-fns dev dependencies? `npm install` in date-fns directory

[2017-09-16 17:02] glintik commented on #562
That's I did at the first with no luck:
[code]

[2017-09-16 17:13] leshakoss commented on #562
@glintik oh. Please change "DON'T CHANGE; IT'S SET AUTOMATICALLY DURING DEPLOYMENT" in package.json to something version-like (e.g. "2.0.0") for now and run "npm install" again. It is indeed a bug. We'll fix it later

[2017-09-16 17:28] glintik commented on #562
Now it works, tests are ok, thanks!

However, some outdated modules are found:
[code]

[2017-09-16 20:39] glintik commented on #562
Locale en-GB is prepared and sent in PR #563.

[2017-09-18 09:54] wcastand opened #564 "Error when snapshotting in travis"
Hi, i'm working on a lib using this package. I use v2
the lib is working and the test are okay locally but when i lauch test in Travis, i get an error on the Date.

I think it's because of having the timezone set locally. Is there anyway to avoid avoid the date to be put to the local timezone ?

I'm using :
`date-fns`
`next`
`react`

 and for tests i use `jest`

![capture d ecran 2017-09-18 a 11 5

[2017-09-18 13:24] leshakoss commented on #562
Resolved by #563

[2017-09-18 13:24] #562 closed

[2017-09-18 13:27] kossnocorp commented on #562
We use Yarn for development. I've adjusted the `version` so now it mentions it: https://github.com/date-fns/date-fns/commit/78bb0a7c11646ba096d050b906cbc736dbbab546

[2017-09-18 13:34] kossnocorp commented on #564
You can override timezone using `TZ` environment variable, i.e.: `env TZ=utc npm test`. Note that you'll have to use the same timezone when you generate snapshots as well.

[2017-09-18 13:47] wcastand commented on #564
so i added the timezone to the test script : `'NODE_ENV=test TZ=Europe/Paris jest --coverage'`
travis si passing now.
It also works locally for me, let's hope it works for everyone :)

Thanks :)

[2017-09-18 13:47] #564 closed

[2017-09-18 13:49] kossnocorp commented on #564
👍

[2017-09-18 14:14] kossnocorp opened #565 "Use webpack's side-effects flag"
Because of https://github.com/webpack/webpack/issues/2867, webpack doesn't remove all unused code when a user imports a function like that: `import { parse } from 'date-fns'`

Although, now it's possible to achieve it with a new webpack feature, `side-effects`: https://github.com/webpack/webpack/tree/next/examples/side-effects.

[2017-09-18 14:17] kossnocorp commented on #493
`v2` now is merged and released as alpha (atm `v2.0.0-alpha.5` is the latest version available).

[2017-09-18 14:17] #493 closed

[2017-09-19 01:27] kossnocorp commented on #390
I'm closing the issue as v2 is released as alpha. You can try it: `npm install date-fns@next`.

[2017-09-19 01:27] #390 closed

[2017-09-19 08:34] kossnocorp commented on #352
Now it's possible with v2: https://github.com/date-fns/date-fns/blob/master/src/locale/en-US/_lib/localize/index.js

You can give a try: `npm install date-fns@next`

[2017-09-19 08:34] #352 closed

[2017-09-19 09:12] kossnocorp commented on #388
The function is available in v2 (currently in alpha) as `formatRelative`.

See docs: https://date-fns.org/v2.0.0-alpha.6/docs/formatRelative
Give it a try: `npm install date-fns@next`

[2017-09-19 09:12] #388 closed

[2017-09-20 04:31] kossnocorp opened #567 "Utilize package.json's module field to get rid of esm namespace in submodules"
At the _moment_, if you want to use [ECMAScript modules](https://date-fns.org/v2.0.0-alpha.6/docs/ECMAScript-Modules) with a submodule, i.e. [the FP submodule](https://date-fns.org/v2.0.0-alpha.6/docs/FP-Guide) you have to use `esm` namespace, e.g.:

[code]

Otherwise, tree-shaking won't be activated, and you'll get bigger build size than it's expected.

Although it isn't necessary when you import

[2017-09-20 06:03] kossnocorp opened #568 "Reanimate the cross-browser tests suite"
Some time ago we turned off the cross-browser tests suite due to Sauce Labs' flakiness. With the v2 release, we have to make sure that the library works well in different browsers, so we need to reanimate the suite.

[2017-09-20 08:13] kossnocorp commented on #534
@jackfranklin thanks! The problem with named imports should be fixed in v2. You can give it a try: `npm install date-fns@next`. If it doesn't work for you, please open a new issue.

I'm closing this issue, as the original problem was due to incorrect configuration, see: https://github.com/date-fns/date-fns/issues/534#issuecomment-329200505.

[2017-09-20 08:13] #534 closed

[2017-09-20 08:27] kossnocorp commented on #544
@TempD hey! Thanks for reporting, sorry that it took too long to answer. I'll take a look. Which version do you use?

[2017-09-20 08:27] jackfranklin commented on #534
Awesome, thanks!

[2017-09-20 08:43] kossnocorp commented on #542
Ouch, this is bummer. I'm sorry to hear that!

It's possible to change this, but it's legit to have a name starting with `_` in *nix systems, so I assume there is a bug somewhere in the stack you're using. In my opinion it's better to fix the problem there rather than introduce workarounds into libraries.

I recommend to open an issue in NativeScript compiler and/or build system you have.

I'm clo

[2017-09-20 08:43] #542 closed

[2017-09-20 08:46] kossnocorp commented on #512
Sorry guys, that was my bad!

I did fix it back then but forgot to mention it in the issue. Sorry about that as well!

Now it's automated and problem won't appear again: https://github.com/date-fns/date-fns/blob/master/scripts/release/release.sh#L26

Thank you for reporting!

[2017-09-20 08:46] #512 closed

[2017-09-20 08:48] kossnocorp commented on #167
Related: https://github.com/travis-ci/beta-features/issues/28#issuecomment-330257107

[2017-09-20 08:56] kossnocorp commented on #180
Hey everyone, thank you for your input!

We'll continue working on it once we release v2 and have enough throughput. My plan is:

1. Release UTC versions of the functions. See milestone: https://github.com/date-fns/date-fns/milestone/7
2. Introduce functions to manipulate dates using offset number.
3. Introduce functions to manipulate dates using IANA code names.

The list goes from the most usefu

[2017-09-20 08:57] sittingbool commented on #542
The Problem is Android rather than NativeScript. Android does not allow underscores in dir names. ReactNative-developers would have the same issue.

[2017-09-20 09:04] kossnocorp commented on #276
I've decided to drop support of UMD/CDN versions as our build system is complex enough already and I don't want to spend time on features that nobody use. For long time CDN was broken and not a single person complained.

For those who're dying to have CDN version of date-fns and Moment.js is not an option, please contact me.

[2017-09-20 09:04] #276 closed

[2017-09-20 09:05] kossnocorp commented on #213
It's not a problem anymore with Firebase DB setup. Closing it.

[2017-09-20 09:05] #213 closed

[2017-09-20 09:07] kossnocorp commented on #223
It's there: https://date-fns.org/v2.0.0-alpha.6/docs/I18n-Contribution-Guide

[2017-09-20 09:07] #223 closed

[2017-09-20 09:10] kossnocorp commented on #250
¯\\_(ツ)_/¯ I don't remember what the problem was, but it's fixed by now.

[2017-09-20 09:10] #250 closed

[2017-09-20 09:16] kossnocorp commented on #252
@GuillaumeCisco no, I'm sorry. UTC is the next priority after v2, but there is no ETA for any of that.

I'm closing the issue, as #376 basically covers all of the existing functions and you can follow the progress there.

Thanks everyone for the input!

[2017-09-20 09:16] #252 closed

[2017-09-20 09:25] kossnocorp commented on #488
It was shipped with `v2.0.0-alpha.2`: https://gist.github.com/kossnocorp/a307a464760b405bb78ef5020a4ab136#v200-alpha2

@korzhyk thank you!

@vovikdrg it sounds good, but in fact, it's tough to implement and then to support. I'm afraid that the team isn't capable for such big initiative.

[2017-09-20 09:25] #488 closed

[2017-09-20 09:29] leshakoss commented on #488
@kossnocorp I think @vovikdrg meant that we should add Ukrainian to I18n list in docs, not that we should translate the documentation :-)

[2017-09-20 09:31] kossnocorp commented on #524
Done: https://github.com/date-fns/date-fns/commit/d309d596b8d5ad0ede44a960d2fc098af8685a53

Thank you for the suggestion.

[2017-09-20 09:31] #524 closed

[2017-09-20 09:35] kossnocorp opened #569 "Update the list of the supported languages"
See: https://github.com/date-fns/date-fns/issues/488#issuecomment-330797941

[2017-09-20 09:35] kossnocorp commented on #488
Oh well, my bad. It got out of hand a bit and I completely forgot about it. I've added an issue: https://github.com/date-fns/date-fns/issues/569

[2017-09-20 09:36] kossnocorp commented on #501
It was implemented in v2: https://date-fns.org/v2.0.0-alpha.6/docs/parse

You can give it a try: `npm install date-fns@next`.

[2017-09-20 09:36] #501 closed

[2017-09-20 09:39] kossnocorp commented on #523
It was implemented in v2: https://date-fns.org/v2.0.0-alpha.6/docs/format

You can give it a try: `npm install date-fns@next`. Please note that not all the locales have been updated.

[2017-09-20 09:39] #523 closed

[2017-09-20 09:44] kossnocorp commented on #521
Tree-shaking wasn't working for date-fns for 100% due to https://github.com/webpack/webpack/issues/2867. The upcoming webpack 4 has `side-effects` flag that will allow us efficiently remove unused code. See issue: https://github.com/date-fns/date-fns/issues/565 and a working demo: https://github.com/date-fns/date-fns/pull/566.

[2017-09-20 09:44] #521 closed

[2017-09-20 10:00] #527 closed

[2017-09-20 14:15] ssimo3lsuhsc commented on #514
The parsing of two-digit years is something that is sorely needed. @leshakoss, in case you did not know, Moment.js parses two-digit years greater than 68 as 1969-1999 and years 68 and under as 2000-2068. So, for example, 68 would be 2068, while 69 would be 1969. I believe that it would have been nice to know this cutoff when you first wrote the 2.0.0-alpha `parse()` function so that you could adop

[2017-09-20 14:26] leshakoss commented on #514
@ssimo3lsuhsc if it still works as I intended, token `'YY'` in `parse` sets the year, taking the first two digits from [baseDate](https://github.com/date-fns/date-fns/blob/master/src/parse/index.js#L109) (3rd argument).

Here: https://github.com/date-fns/date-fns/blob/master/src/parse/_lib/units/index.js#L29-L35 is the code responsible for it.

So if `baseDate` is `'2000-01-01'`, the year will be

[2017-09-20 14:38] leshakoss commented on #514
@raine well, 17 A.D. is still a valid year, isn't it? I would suggest using regexps to check the validity of date formats. Like this:

[code]

`parse` is a wrong tool for checking a validity of a date anyway

[2017-09-21 05:06] kossnocorp commented on #565
Closed by https://github.com/date-fns/date-fns/commit/a1b61c3ffcb3d939d7d325d4df33766e04728239

[2017-09-21 05:06] #565 closed

[2017-09-21 10:32] muenva commented on #502
Hey @horvathlg, How's it going so far? Let me know if you need any extra hand.

[2017-09-21 10:40] horvathlg commented on #502
I made a pull request and it was merged if I recall it correctly. Just forgot to close this issue.

[2017-09-21 10:41] #502 closed

[2017-09-25 21:24] dmitriid commented on #565
I’m assuming this only works for entire libraries?

Is it possible to mark separate modules as side-effect free? Can a user of a library which doesn’t have this flag supply the flag for the library or separate modules inside the library?

[2017-09-26 00:42] kossnocorp commented on #565
@dmitriid when you have `package.json` only in the root of the library, `side-effects` flag affects the whole library. If you have `package.json` in a submodule, the flag (or its absence) affects this submodule. For example, when you import a function from `date-fns/esm/fp/index.js`, webpack will  look into `date-fns/esm/fp/package.json`.

AFAIK a user of a library can't control it unless they wri