[2019-08-02 21:02] SampsonCrowley commented on #698
@kossnocorp can we at least add a release to v1 that exports ES modules? I'm stuck between alpha releases and CJS only

[2019-08-02 21:08] SampsonCrowley commented on #698
meaning would a rewrite PR of the build-process in v1 (no actual usage changes) to use v1 as ES Modules be accepted?

[2019-08-02 21:20] SampsonCrowley opened #1278 "v2 `parse` doesn't have any options for automatic parsing"
why does `parse` require a format? if I knew the format that end-users were going to type out, I wouldn't need to parse it...

Would be nice if there was a way to use the old functionality again, where date-fns uses its best guess based on the given input

[2019-08-02 21:22] #1278 closed

[2019-08-02 21:51] SampsonCrowley opened #1279 "parse arbitrary dates"
now that neither `parse` nor `parseISO` nor `toDate` can actually parse a date without knowing the format of the input ahead of time, how are we supposed to parse **user input** with "best-guess" style arbitrary date formats?

[2019-08-02 21:51] SampsonCrowley commented on #1279
in v1 this was a simple as `parse(value)`, now it's not even possible

[2019-08-02 22:00] #1279 closed

[2019-08-03 06:58] SneakyFish5 commented on #1222
So I was looking into the FP build system and I was wondering if backupDate was instead in the Object parameter, would it be easier or a valid way of doing it? And then just generate a parseWithOptions (if I understand how this works correctly)?

[2019-08-03 07:29] kossnocorp commented on #1279
Please use `new Date` to parse arbitrary date formats:

[code]

[2019-08-03 07:44] kossnocorp commented on #1278
Hi, v1 parse is essentially a wrapper for `new Date` so you can use it instead. However, please note that different browsers do it differently so that you might run into a bug.

[2019-08-03 07:49] kossnocorp commented on #698
No, sorry, I will not accept a PR to v1 with any substantial changes. Right now v1 release and docs generation/upload is cumbersome and hacky, so it takes a lot of my time that I rather spend on v2.

[2019-08-03 08:01] kossnocorp commented on #1222
It won't work because FP submodule should be pure and default options with `Date.now` will break it.

[2019-08-04 12:48] LinusU opened #1281 "Inconsistency between typings, documentation and exporting"
I'll use `differenceInHours` as an example here, since this is where I first noticed it.

The documentation says that this is the way to import the module using CommonJS (as is used by Node.js):

[code]

In TypeScript, this would be:

[code]

However, the typings says that the modules are ES modules and that they export a `default` property, and thus should be imported with `import differenceInHou

[2019-08-04 12:59] LinusU commented on #1281
To elaborate a bit on the difference between the two TypeScript syntaxes:

`import _ = require('...')`

This style compiles down to `const _ = require('...')`. In order to import a module like this, the type definitions must use the `export = ...` syntax to declare the exported value.

`import _ from '...'`

This style compiles down to `const _ = require('...').default`. In order to import a modul

[2019-08-06 12:45] PazzaVlad opened #1282 "ES6 import doesn't work in node.js"
Hi!

I try to use date-fns (2.0.0-beta.4) in node 12.7.0 with '--experimental-modules' enabled. Mac OS 10.14.

**This works perfectly fine:**
[code]

**but none of these work:**
[code]
It will throw error:

[code]

[code]
[code]

[code]
[code]

[2019-08-06 13:55] TrySound commented on #1282
experimental-modules are not ready to use. They are changed and may be changed again. It's better to use something less opinionated like https://github.com/standard-things/esm

[2019-08-06 15:05] MayaWolf commented on #423
Bumping this again as a look at the code of `format` in master seems to indicate there still is no way to cache these in v2 - and in certain use cases (such as displaying a log file where every line needs its date formatted) where a lot of dates need to be formatted parsing the format string for every date incurs a lot of overhead.

[2019-08-06 20:54] PazzaVlad commented on #1282
@TrySound yeah, but other 20+ modules works well, so I thought maybe it's problem with date-fns

[2019-08-06 20:56] TrySound commented on #1282
This package ship modules via module field which is not supported by node modules. mjs does not work well with webpack.

[2019-08-06 21:02] PazzaVlad commented on #1282
Thanks
Renaming extension to 'js' and using esm (node -r esm date-fns.js) solve the problem. With mjs named export doesn't work.

[2019-08-08 07:44] steeply commented on #1238
When to add support for the Kazakh language?
Really looking forward to =)

[2019-08-08 10:02] kossnocorp commented on #1272
Please reopen with more info.

[2019-08-08 10:02] #1272 closed

[2019-08-08 10:04] kossnocorp commented on #1282
@TrySound thank you for chiming in!

Closing as there's nothing actionable atm (?).

[2019-08-08 10:04] #1282 closed

[2019-08-09 08:40] rajhim opened #1284 "Nepali language support"

[2019-08-10 20:16] tomvibes commented on #229
Date-fns **v2** is in pre-release right now. Is there a native way in this release to get a human-readable date format like **_in 1 year 3 Months 2 Weeks 3 days 2 hours_**?

[2019-08-11 09:15] lsenta opened #1287 "getDay doesn't let you set weekStartsOn"
Hi there, thanks for maintaining this super useful library,
I have a remark / request / issue regarding `getDay`:

`getWeekOfMonth` accept options such as `locale, weekStartsOn`.
https://date-fns.org/v2.0.0-beta.4/docs/getWeekOfMonth

This means that:
[code]

(supposedly, there's a known bug with Sundays: https://github.com/date-fns/date-fns/issues/1040)

I expect the `getDay` function to let me s

[2019-08-12 08:24] kossnocorp commented on #1287
Hey!

Please check if this version helps you: https://raw.githubusercontent.com/date-fns/date-fns/8d01fc9eb059f420bfa2d1cf4334e99509fa6da7/src/getWeekOfMonth/index.js?

It's from this PR https://github.com/date-fns/date-fns/pull/1046

I'm going to merge it and check others and then I'll be ready to ship another version.

[2019-08-12 08:41] leshakoss commented on #1287
@lsenta hi. The behaviour of `getDay` is correct according to the current design of date-fns functions.

0 always means Sunday, and 6 always means Saturday regardless of `weekStartsOn`. That's how the rest of the functions work:

[code]

[2019-08-12 08:41] #1287 closed

[2019-08-12 09:08] codepunkt commented on #1182
@casdevs I released a new version of [`webpack-license-plugin`](https://github.com/codepunkt/webpack-license-plugin#readme) 😄

[2019-08-12 09:11] kossnocorp commented on #1182
@codepunkt amazing, thank you!

[2019-08-14 04:05] bjornharvold commented on #284
Would love to see this implemented

[2019-08-14 09:54] avizcaino commented on #1079
Hi, it seems there is a problem with this right now on the `Coverage report` stage on Travis. It is throwing a 405 error (https://travis-ci.org/date-fns/date-fns/jobs/571357475#L546-L555)

[code]

Do you mind giving it a look?

[2019-08-15 06:30] kossnocorp commented on #1284
Hey! It would be indeed great to have the support of the Nepali language! If you want to help with it, please leave a comment and I'll mark the issue as claimed.

I'm closing the issue to not confuse others that could want to help with it.

[2019-08-15 06:30] #1284 closed

[2019-08-15 06:32] kossnocorp commented on #1079
@avizcaino thanks, I'll take a look.

[2019-08-15 06:43] kossnocorp commented on #1079
Not sure what it was, but I resynced Coveralls with GitHub and now it works.

[2019-08-15 06:43] #1079 closed

[2019-08-15 13:10] kibertoad opened #1290 "Fix exports in TS typings"
2.0.0-beta.4 with TypeScript 3.5.2 throws 12 TS errors when trying to use date-fns types during compilation:

[code]

[2019-08-15 16:26] Faithaigo opened #1294 "African language support"

[2019-08-16 08:38] kossnocorp commented on #1271
Please reopen the issue if the problem is still actual

[2019-08-16 08:38] #1271 closed

[2019-08-16 08:39] kossnocorp commented on #1294
Hey! It would be great to have the support of the African language! If you want to help with it, please leave a comment and I'll mark the issue as claimed.

I'm closing the issue to not confuse others that could want to help with it.

[2019-08-16 08:39] #1294 closed

[2019-08-16 12:09] roboli commented on #556
@heldr handy function worked for me but I had to do a minor change because if I `formatTimezone(parse('1989-07-01'));` it would returned me date as `1989-07-01T12:00:00.000Z`. I'm in Central America so it was adding another 6 hours to UTC:

[code]

Switching operations worked for me

[code]

[code]

Or maybe I'm missing something? Anyway... Thanks.

[2019-08-16 16:16] KevinSheedy opened #1296 "esm tree-shaking not working"
The docs show an esm import like this:
`import { isValid } from 'date-fns';`

When bundling this code using webpack, it causes 100% of the date-fns code to be included in the bundle causing the bundle size to increase by approx 82KiB

To reduce the bundle size (tree-shaking), the import must be done like this:
`import isValid from 'date-fns/isValid';`

date-fns: **2.0.0-beta.5**
webpack: **4.39.2*

[2019-08-16 16:24] TrySound commented on #1296
@KevinSheedy I just checked with webpack. Everything is treeshaked correctly. Could you provide a repo with reproduction?

[2019-08-16 16:25] mkay581 commented on #1296
Yeah I can confirm that

[code]

doesn't actually get tree-shaken with rollup.

[2019-08-16 16:25] TrySound commented on #1296
@KevinSheedy Did you check the size on disk?

[2019-08-16 16:28] TrySound commented on #1296
@mkay581 Rollup treeshakes the latest beta too

[code]

[2019-08-16 16:30] KevinSheedy commented on #1296
Yes. Goes from 296KB -> 376KB

[2019-08-16 16:33] TrySound commented on #1296
This is what I get with `webpack --mode=production`. Not that much
[code]

[2019-08-16 16:34] TrySound commented on #1296
Make sure you use the latest versions of webpack and rollup.

[2019-08-16 16:35] mkay581 commented on #1296
@TrySound yup seems to work in latest beta, but I was testing in the latest stable version: 1.30.1.

[2019-08-16 16:37] TrySound commented on #1296
It's not really supposed to be treeshakable. There is not esm support there. I suggest you to migrate to beta. It's almost stable.

[2019-08-16 16:43] KevinSheedy commented on #1296
Retested in latest webpack and still broken:
date-fns: **2.0.0-beta.5**
webpack: **4.39.2**

[2019-08-16 16:49] TrySound commented on #1296
Provide repro please

[2019-08-16 17:09] TrySound commented on #1296
do you use babel? show me config

[2019-08-16 17:28] KevinSheedy commented on #1296
The setup involves multiple git repos (react component libraries). It uses: webpack, babel, eslint and many plugins. I've tried to create a standalone repo to reproduce the problem in isolation but that simplified repo is working nicely:
https://github.com/KevinSheedy/date-fns-tree-shaking-issue

Probably some config issue or plugin problem.

[2019-08-16 17:35] TrySound commented on #1296
try this
["@babel/env", { modules: false }]

[2019-08-16 19:21] TrySound commented on #1296
@KevinSheedy Though your current setup just works for me (I removed `externals` option). The result is 1985 bytes. Don't see any problem.

[2019-08-17 10:25] jayarjo commented on #376
Inability to properly and easily do UTC kills the whole hype around `date-fns` kinda :/ Do something.

@mesterum what about @chawes13 acpproach?

[2019-08-17 10:36] jayarjo commented on #376
@leshakoss @benmccann I think instead of providing separate functions for UTC, you should simply operate on a wrapper of Date object. What's the point to expose that Date object everywhere if it's inadequate.

[2019-08-17 10:40] kossnocorp commented on #376
@jayarjo what do you mean saying wrapper? Please provide code example of how you see it.

[2019-08-17 10:47] jayarjo commented on #376
More or less the same Date object (with all the same methods and properties, following the same interface that is), but with ability to change the timezone. I can't say I've given a deep though to it, but I imagine something like [Proxy](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy) around the Date object should work.

[2019-08-17 10:55] kossnocorp commented on #376
@jayarjo this would make build unreasonable massive. If you need such an API, there's Luxon: https://moment.github.io/luxon. I don't see a point of making a clone. date-fns focus is to help you to keep build size small and performant, and it will fail on that if we would make our own wrapper.

[2019-08-17 10:57] jayarjo commented on #376
I could probably try to PR something.

[2019-08-17 11:03] kossnocorp commented on #376
Ok, please do. If you can, please share a code snippet with the idea so that I can grasp it.

[2019-08-19 18:13] #1296 closed

[2019-08-20 10:13] kossnocorp commented on #1267
Closed by #1295

[2019-08-20 10:13] #1267 closed

[2019-08-20 10:15] kossnocorp commented on #1273
I did reconsider the solution and agree that using the defaults is better because usually new locales are copied from English or other canonical locales. Thank you for your input! ❤️

I'm moving this to v2+ milestone as it wouldn't a breaking change. If you want to help, PR is very welcome 🙏

Thanks!

[2019-08-20 10:23] kossnocorp commented on #1281
@LinusU thank you a lot for the issue, your explanation of the problem and proposed solution are excellent 🙏

[2019-08-20 11:08] kossnocorp commented on #1281
During the research, I found that the solution to your problem breaks a more common case when EcmaScript Modules are used without `esModuleInterop` set to `true`.

See the issue and following PR:

- https://github.com/date-fns/date-fns/issues/1128
- https://github.com/date-fns/date-fns/pull/1180

I don't see a simple solution, except that we could special alias definitions in `date-fns/cjs`, i.e:

[2019-08-20 11:20] kibertoad commented on #1290
@kossnocorp Any estimates on when next beta will be available? Would be nice to be able to check if this issue is fully resolved in our project now.

[2019-08-20 11:21] kossnocorp commented on #1290
I'm going to ship final v2 right now 🤫

[2019-08-20 11:26] #1290 closed

[2019-08-20 12:35] leshakoss opened #1301 "Remove outdated locales from the repo"
https://github.com/date-fns/date-fns/blob/master/outdatedLocales.json

The point of keeping them in the repo was to help port those locales from v1 to v2, but with all the API changes that the locales had suffered, I think those old locales are basically unusable for that purpose and we can safely remove them.

[2019-08-21 10:01] kossnocorp commented on #1195
Could you please check if this problem is solved in v2?

[2019-08-21 18:48] mlieu opened #1302 "Incorrect results using addHours & subHours when crossing DST"
Getting incorrect results with `addHours` and `subHours`  when crossing DST.

DST for the Eastern time ended on November 3 at 2:00 am, and started again on March 3 at 3:00 am.

Example:
[code]

[2019-08-22 07:45] tuananh opened #1303 "version 2 is much bigger than v1"
https://bundlephobia.com/result?p=date-fns@2.0.0

[2019-08-22 07:55] leshakoss commented on #1303
This is true, v2 contains ~40 new functions, including bigger [`format`](https://date-fns.org/v2.0.0/docs/format), it's light alternative [`lightFormat`](https://date-fns.org/v2.0.0/docs/lightFormat), new huge [`parse`](https://date-fns.org/v2.0.0/docs/parse) and many more.

But it's not intended for the whole library to included in the bundle at once. Date-fns's real lightweight-ness compared to

[2019-08-22 07:55] #1303 closed

[2019-08-22 09:17] hereiscasio opened #1304 "Invalid time value"
i use the latest version ( i.e. date-fns v2.0.0 )

if i run this stuff : ` format(new Date(), 'yyyy-mm-dd') `

i got this error:

[code]

so i change to use ` format(parseISO(new Date()), 'yyyy-mm-dd') `
but it still not work

is't a bug ?

[2019-08-22 09:28] kossnocorp commented on #1304
Hey, thank you for reporting!

How do you import `format`? Are you sure it's `import { format } from 'date-fns'` or `import format from 'date-fns/format'`?

Also, please provide the full stack trace.

[2019-08-22 09:31] kossnocorp commented on #1302
Thank you for reporting it! This looks like a bug!

[2019-08-22 09:31] kossnocorp commented on #1302
What's your local timezone?

[2019-08-22 15:36] mlieu commented on #1302
I'm using Eastern Time

[2019-08-22 19:40] ksevksev opened #1305 "I can't recommend this library."
I'd like to recommend this library, but I can't. They are releasing a new version while they have let serious defects sit. These are defects that are getting attention from developers and causing issues. Sorry, I just can't recommend it.

[2019-08-22 19:45] leshakoss commented on #1305
@ksevksev hello, thank you for trying v2! Please [open an issue](https://github.com/date-fns/date-fns/issues/new) and describe the problem you're having, we'll be glad to help!

[2019-08-22 19:45] #1305 closed

[2019-08-22 20:03] mikeerickson commented on #1305
@ksevksev don’t you think it would be more productive to mention (or report) these so called issues that exist instead of just complaining.

For those who happen to read this post, I have been using the 2.x pre release for over six months in many production apps and have not had a single issue.

So, I CAN highly recommend and prefer it to the bloated MomentJS

[2019-08-22 20:19] splintor opened #1306 "Test fails when using function from v2 - subDays_1.default is not a function"
We have a **React** app written in **TypeScript** and bundled with **webpack**.
I followed [this explanation](https://date-fns.org/v2.0.0/docs/ECMAScript-Modules) and imported the `subDays` like this:
[code]

This works well in the browser, but when I write my unit tests (written in **Mocka** and **Enzyme**, run in **node v8**), they fail with:
[code]

What am I doing wrong?

This is our `tsconfig

[2019-08-22 23:24] marshallswain opened #1307 "2.0 published without package.json?"
When I do `yarn add date-fns`, the package installed has no `package.json` file.  It only contains the folders for each utility.  Because of this, webpack is not able to resolve the package.

Installing beta 5 also installs the package.json file, as expected.

[2019-08-22 23:29] mdelclaro opened #1308 "Unexpected token export"
I'm getting this error when executing my project after adding the library:

[code]

[2019-08-22 23:38] mdelclaro commented on #1308
Sorry, I just realized that VS Code had auto-imported it from the wrong place:

[code]
Instead of:
[code]

[2019-08-22 23:38] #1308 closed

[2019-08-23 07:21] hereiscasio commented on #1304
Hi, @kossnocorp, thx reply

this works :
[code]

so looks like i use the wrong import method ?
[code]

but anyway, i found out the other interesting stuff

can u plz tell me why i got " 2019-18-23 "

"18" ? i think u can try it a try

[2019-08-23 07:53] kossnocorp commented on #1304
@hereiscasio arguments order in FP functions is inverted, so you have to:

[code]

...but:

[code]

[2019-08-23 07:53] #1304 closed

[2019-08-23 07:53] leshakoss commented on #1306
@splintor hi, could you please give us more info? How do you compile your tests exactly? A minimal repo with that bug reproducible would be perfect 🙏

[2019-08-23 08:43] yekver opened #1309 "parseISO is not exported correctly"
After upgrading to v. 2.0.0 got this error:
[code]

[2019-08-23 08:45] kossnocorp commented on #1309
Hey, please do `npm ls date-fns` or `yarn list --pattern date-fns`

[2019-08-23 08:47] yekver commented on #1309
[code]

[2019-08-23 08:48] kossnocorp commented on #1307
It does for me:

[code]

Could you please share the result for these two commands: `ls -la node_modules/date-fns | grep package` and `yarn list --pattern date-fns` or `npm list date-fns`?

[2019-08-23 08:49] kossnocorp commented on #1309
Did you restart the TS server after the upgrade?

[2019-08-23 08:52] yekver commented on #1309
Of course. I am using `TS 3.5.3`

[2019-08-23 08:54] kossnocorp commented on #1309
Please check your environment more closely, `parseISO` both exported from the typings and the root of the library. If you can't solve the problem (ie by restarted the editor as well), please create a minimal repo with reproduction.

[2019-08-23 08:58] yekver commented on #1309
This was a bug on my side. Sorry for inconvenience.

[2019-08-23 08:58] #1309 closed

[2019-08-23 09:03] kossnocorp commented on #1309
No worries!

[2019-08-23 12:57] Djaler opened #1310 "Incorrect parsing in Firefox"
Chrome 76:
`parseISO('1900-01-01') //Mon Jan 01 1900 00:00:00 GMT+0230 (Moscow, standard time)`

Firefox 68:
`parseISO('1900-01-01') //Sun Dec 31 1899 23:59:43 GMT+0230 (Moscow, standard time)`

date-fns version - 2.0.0

[2019-08-23 13:09] Djaler commented on #1310
Additional info:
parse('1900-01-01', 'yyyy-MM-dd', new Date) works correct

[2019-08-23 13:09] kossnocorp commented on #1310
Thank you for reporting that!

[2019-08-23 13:18] Djaler commented on #1310
Also, the same thing happen in 1.3.0 with all methods that accept strings. For example:
`format('1900-01-01', 'YYYY-MM-DD')` give me '1899-12-31'

[2019-08-23 14:50] marshallswain commented on #1307
![Screen Shot 2019-08-23 at 8 48 13 AM](https://user-images.githubusercontent.com/128857/63601503-c7cc8300-c582-11e9-9db8-bcf6b274e0b2.jpg)

Before running the above commands, I ran `yarn remove date-fns` to get rid of the old version, then `yarn add date-fns@latest` to install 2.0.  The `package.json` is once again missing for me.

[2019-08-23 14:53] marshallswain commented on #1307
This has all been in a Vue CLI project that I started yesterday.  Just to make sure there's nothing weird going on, I created a new empty project folder, ran `yarn init` and accepted all defaults to get a package.json.  Then ran `yarn add date-fns@latest`.  The result is the same.

[2019-08-23 14:56] marshallswain commented on #1307
Ok.  This is weird.  I did the same test, replacing `yarn` with `npm`, and it works fine.  It's interesting because there are more folders and additional root-level files in the package that aren't there with yarn.

![Screen Shot 2019-08-23 at 8 55 19 AM](https://user-images.githubusercontent.com/128857/63602075-e8e1a380-c583-11e9-8d7c-6104b2023b9f.jpg)

[2019-08-23 14:57] marshallswain commented on #1307
It seems to me that this is probably a problem with my environment's yarn setup, but I'm not sure.

[2019-08-23 14:57] TrySound commented on #1307
Maybe the cache of yarn was somehow corrupted? Try to clean cache.

[2019-08-23 15:01] marshallswain commented on #1307
@TrySound, that did the trick.  This is literally the first time that I've had to clear package cache, so it never crossed my mind until now.  Case closed!

[2019-08-23 15:01] #1307 closed

[2019-08-24 07:01] zstundys commented on #1306
Try adding `esModuleInterop: true` to the `tsconfig.json` ;)

[2019-08-24 22:05] splintor commented on #1306
@zstundys I tried but out has hundreds of `import * as ...` which fail when adding `esModuleInterop: true`.
Isn't there a way to use date-fns@2 without it?

[2019-08-24 22:48] splintor commented on #1306
For now, `import { subDays } from 'date-fns';` seems to work for me.
You might want to update `date-fns` documentation.

[2019-08-25 14:26] dhuang612 commented on #1306
Hi,

I would like to take on this issue

[2019-08-25 21:22] david1602 commented on #1310
can confirm, I've tried to use `1900-01-01` as a min date in some kind of "find the earliest date" scenario in `format`, and I also get `1899-12-31`, the entire year 1900 seems to be buggy (off by 1 day).

[2019-08-26 06:31] Djaler commented on #1310
Not only 1900. All dates before 1919-06-30 works wrong

[2019-08-26 10:31] leshakoss commented on #1040
Fixed in #1046 and released as [v2.0.1](https://github.com/date-fns/date-fns/releases/tag/v2.0.1)

[2019-08-26 10:31] #1040 closed

[2019-08-26 14:56] mattgif opened #1313 "Format's 'Do' format is misformatting dates"
In 2.0.1, calling the 'Do' format on a date yields the wrong format. For example:

`format(new Date("2019/08/26"), "MMM Do h:mm")`

Yields: Aug 238th 12:00

[Minimal code sample](https://w9106.csb.app/)

[2019-08-26 15:27] kossnocorp commented on #1313
`Do` is day of year (1-366), I think you're looking for `do`

[2019-08-26 15:28] #1313 closed

[2019-08-26 21:55] shannontan-bolt opened #1314 "List of Required Format Code Conversions"
Great job releasing v2!

Looking through the changelog, I'd love to have more descriptions of the breaking changes though in format codes. This would give me more confidence since at the moment, I have to do the manual comparison of what codes I was using before and converting it to the v2 version.

Here's a list I've started for others who might be facing the same issue:

- "A" for AM/PM --> "a"

[2019-08-26 23:30] strarsis opened #1315 "[doc] Timezone example doesn't work"
The [example code](https://date-fns.org/v2.0.1/docs/Time-Zones#synopsis) for using timezones in date-fns 2.x doesn't work:
[code]
[code]
[code]

Edit: I just noticed that the `require` in the example code above is inconsistent with the demo code, `date-fns-tz` instead `date-fns-timezone`. This seems to come from the outdated date-fns documentation.

[2019-08-27 13:19] strarsis commented on #1315
@DarkCow: Why are there two very similar named packages with apparently the same purpose?

[2019-08-27 14:25] nmase88 opened #1385 "differenceInCalendarDays not working for epoch"
not sure if i'm doing something wrong here but if I pass unix time to differenceInCalendarDays it just seems to return 1.
https://jsfiddle.net/0c1or3k8/

[2019-08-27 14:34] leshakoss commented on #1385
@nmase88 you have to use milliseconds timestamp instead of seconds: https://jsfiddle.net/vbkf0dz1/

[2019-08-27 14:34] #1385 closed

[2019-08-27 17:00] strarsis commented on #540
Any changes for v2?
I found an implementation in date-fns codebase, but apparently it isn't available anymore in v.2:
https://github.com/date-fns/date-fns/blob/17ba85a89843f8914f8d33cb85ab0a23c1db5a8d/src/eachMonthOfInterval/index.js

[2019-08-27 20:32] strarsis opened #1386 "Add date format constants"
`format(...)` function requires a date format string as 2nd parameter.
For parsing dates in HTTP header (e.g. when using [request](https://github.com/request/request)) the date format would be [RFC 7231](https://tools.ietf.org/html/rfc7231#section-7.1.1.2).
For other purposes, the date format may be [ISO 8601](https://www.ietf.org/rfc/rfc3339.txt) instead.

It would be much better to use a constan

[2019-08-27 21:17] strarsis opened #1387 "Loose parsing / extra characters"
It can be very helpful if `parse` can also loosely parse input strings, that means it can ignore extra characters in the input string.
As a more robust alternative, it would also be nice to have a placeholder/regexp style placeholder that can be added to the date format string to indicate a string that can be ignored by the parser.

[2019-08-28 02:11] benneq opened #1388 "Feat: multi set function to set multiple parts of a date"
I think it would be nice to have a function, that can set multiple values at once.

So instead of doing this:
[code]

Something like this would be nice:
[code]

[2019-08-28 13:43] tomastrajan opened #1389 "Please, add "main": "index.js" to the package.json of the sub-modules"
Currently the content of the `package.json` file of the sub-modules is ...
[code]

it would be great if it was

[code]

instead so it can be consumed by tools like new Angular compiler...

From the correctness perspective, the `index.js` file is there so such a addition is 100% correct, don't know if node treats it as a default when not specified though, would it be a lot of effort to add this ?

[2019-08-28 17:11] danielwaltz opened #1390 "TypeScript parseISO return type problem"
I'm implementing a util using `parseISO` with TypeScript that accepts a string and tests it to find out if it is parsable.

[code]

The issue lies in the fact that the `parseISO` return type is only `Date`, and as such the TypeScript compiler throws an error:

[code]

I believe the `parseISO` return type should optionally include `string` in order to account for the possibility of that function re

[2019-08-28 17:18] #1390 closed, assigned to nobody

[2019-08-28 20:24] Dallas62 opened #1391 "Wrong translation for French."
Hi!

When we use the format `iiii do MMMM yyyy`, we should have this translation:

"Jeudi 1er août 2019" and "Jeudi 29 août 2019"
but we have:
"Jeudi 1er août 2019" and "Jeudi 29[**ème**](#) août 2019"

There is an extra "ième" when the day is greater than 1, this should not happen.

[src/locale/fr/_lib/formatters/index.js](https://github.com/date-fns/date-fns/blob/master/src/locale/fr/_lib/format

[2019-08-29 08:08] lastmjs opened #1392 "Add Ethereum address to FUNDING.yml"
I'd like to see an Ethereum address added to the `custom` property of the `FUNDING.yml` file for GitHub Sponsors. This would allow a canonical address to send funds to. For example, projects could parse out the address and provide donation capabilities to the user.

[2019-08-30 08:44] nujjung opened #1393 "XXX language support"

[2019-08-30 08:44] #1393 closed

[2019-08-30 09:02] cosimochellini commented on #229
I think that this is the link https://date-fns.org/v2.0.1/docs/formatDistance (maybe)

[2019-08-30 11:12] Danieliverant opened #1394 "can resolve the package on Angular 8"
**Angular version:**

[code]

**Package.json:**

[code]

**App.modules.ts:**

[code]

**stack trace:**

[code]

[2019-08-30 11:16] Danieliverant commented on #1394
Just upgraded to the new release of full-calendar and all the errors are gone.

npm i angular-calendar@next

[2019-08-30 11:16] #1394 closed

[2019-08-30 14:40] MrLoh commented on #1000
This seems to be solved when using the `addSuffix: true` option.

[2019-08-30 14:40] #1000 closed

[2019-08-30 16:05] gilvangobbato commented on #1394
I'm still getting this error after updating:

    at isParameterPropertyDeclaration (D:\CorporacaoTI\Projects\cdi-project\Organizacao\front-end\node_modules\typescript\lib\typescript.js:13411:88)

My package.json

[code]

``

[2019-08-30 16:27] Danieliverant commented on #1394
@gilvangobbato

try to install types: npm i @types/date-fns

[2019-08-30 21:57] leomotta121 commented on #1135
isValid('2019-08-30T21:33:15.641Z') = false

How can I check if a string is valid date format?

[2019-08-30 23:54] gilvangobbato commented on #1394
I did, and it solved the problem. But now I'm getting this error:

message: "Template error: Can't bind to 'days' since it isn't a known

Em sex, 30 de ago de 2019 às 13:27, Daniel <notifications@github.com>
escreveu:

--
Gilvan André Gobbato
Garibaldi - RS

[2019-08-31 03:40] goofballtech commented on #1135
@leomotta121 isValid(parseISO('2019-08-30T21:33:15.641Z')) is what you are looking for i believe

[2019-08-31 08:57] Danieliverant commented on #1394
It seems like there is none "days" property on mwl-calendar-week-view-header.
check the docs: https://mattlewis92.github.io/angular-calendar/docs/components/CalendarWeekViewComponent.html

[2019-08-31 13:46] gilvangobbato commented on #1394
I did this:

<mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDateTime"
[events]="events"
(eventClicked)="eventClicked($event.event)" [dayStartHour]="8" [dayEndHour]=
"18"
[hourSegments]="4" [locale]="locale" (hourSegmentClicked)=
"hourSegmentClicked($event.date)">
</mwl-calendar-week-view>

Thanks

I dont use this component, and, until updated, works. There is something
diferent fro

[2019-08-31 16:19] ckybonist commented on #965
I found that month in `date-fns` is zero-based which is same as browser. The result of `formatDistanceToNow` is 1 month bigger than I expected.

[2019-08-31 16:35] ckybonist opened #1397 "How do I get month difference which is minus 1"
I know month in `date-fns` is zero-based, but I still want the `month` of result of `formatDistanceToNow` can be subtracted by 1. How do I achieve this ?

[2019-09-01 11:52] JeromeDeLeon opened #1399 "Strict parsing date"
I see similar issue but still not implemented.

`parse("09/02/201", "MM/dd/yyyy", new Date()` is still valid. It should be invalid date because it doesn't conform to the given format.

version: 2.0.1

[2019-09-01 14:22] MasterMong commented on #980
+1

[2019-09-01 22:40] rossipedia commented on #1315
`date-fns-tz` uses the browser's built-in [`Intl`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl) API for timezone support.

`date-fns-timezone` relies on [`timezone-support`](https://github.com/prantlf/timezone-support) instead.

[2019-09-02 09:42] Hx2heng opened #1401 "How to format utc like moment.js?"
Is there any way to do like this by date-fns?
[code]

date-fns has `formatDistance()` ,but I don't need the result in words.

[2019-09-02 17:43] timothyhague commented on #1166
Hey @kuldipem - how's this going? If you'd like to share what you have, I'd be happy to try and finish it off with a translator I'm working with?

[2019-09-03 08:09] kuldipem commented on #1166
I will share my repo with you this weekend, so you and others can review it. I didn't get any chance to finish it in the last few weekends.

[2019-09-04 08:00] avizcaino commented on #1248
@kossnocorp this should be closed as it is corrected in v2.0.0-beta.5, right?

[2019-09-04 15:48] DouglasOGarrido opened #1403 "Website date-fns.org Error"
Hi guys,

I'm trying to access the website [date-fns.org](https://date-fns.org/), but I am getting the following error > see the image: [Image error](https://ibb.co/5ntWgfX).

I have already tested on different networks and from my phone, but always the same thing happens.

Is it happening to more people? It seems to me fake this error generated, does not look like something from Google.

[2019-09-04 17:26] DouglasOGarrido commented on #1403
I don't know what happen, but now is ok. Thks.

[2019-09-04 17:26] #1403 closed

[2019-09-04 20:18] CesarBMartinez commented on #229
Any news guys?

[2019-09-04 22:29] DrGor commented on #1119
Having similar problem with parsing September 29, 2019 (start of DST in New Zealand)
See it here: https://runkit.com/gor/date-fns

[2019-09-04 23:03] gex opened #1405 "formatDistanceStrict is not strict enough"
according to the [docs](https://date-fns.org/v2.0.1/docs/formatDistanceStrict)

[code]

should output `30 seconds` instead of `1 minute`, but i get the latter. when the distance is less than 30 seconds i get the seconds and it's not rounded to a minute:

[code]

when i try the same with minutes i get the right result:

[code]

i could fix the seconds distance by adding `floor` as `roundingMethod`:

[2019-09-05 01:35] xeger opened #1406 "`format` from `date-fns-tz` has confusing, sparse docs"
My goal is to print the current UTC date in yyyy/MM/dd format.

Local timezone offset is UTC-7. The local date is September 4, and because it is local evening, the UTC date is September 5.

Based on [the documentation](https://date-fns.org/v2.0.1/docs/Time-Zones), I figured that all I needed was to call the tz-ified `format` and provide my desired time zone.

[code]

I thought that maybe I misunde

[2019-09-05 15:31] rossipedia commented on #1406
I think this point could be made clearer in the docs (emphasis added):

From what I can tell, that point applies to _all_ the time zone tokens (`z..zzz, zzzz, x..xxxxx, X..XXXXX, and O..OOO`.

Actually, the point should be made clearer in the docs that passing a `timeZone` option to `format()` _only overrides the time zone displayed_, and does not actually affect the date/time displayed (ie: it do

[2019-09-06 13:25] mukeshmandiwal opened #1408 "Add hindi locale support"
This is to add support for Hindi language spoken by 322 million people which is currently not provided by date-fns.

Support for this also available for the other library like moment js.

[2019-09-06 13:26] mukeshmandiwal commented on #1408
I would like to work on this and looking for your approval.

[2019-09-06 13:32] leshakoss commented on #1408
@mukeshmandiwal sure, go ahead! Thanks a lot!

[2019-09-08 10:04] artisb45 opened #1410 "Lithuanian language support"
This is to add Lithuanian language support (redoing #547)

[2019-09-08 12:43] artisb45 commented on #1410
Closing after realization that localisation already exists

[2019-09-08 12:43] #1410 closed

[2019-09-08 19:33] atilkan commented on #1401
It is not supported, yet! That reason made me switch to moment.

[2019-09-09 07:07] sozakir opened #1412 "Add Moment like UTC Offset in Date Fns"
Hi all,

I am migrating from Moment JS to date-fns. But I have hard time in converting my UTC offset Function to equivalent Date-fns Function.

Here is my Earlier Code in moment js

[code]
 Result: **2019-09-09T05:00:00Z**

I am not able to find the equivalent function in **Datefns** or Vanilla JS for this functionality. I have tried the following code for conversion

[code]

Result  **2019-09-08T

[2019-09-09 07:27] CarterLi opened #1413 "formating with \n doesn't working"
[code]

resulting errors:

[code]

https://runkit.com/carterli/5d75fe0b56475a001b60932e

[2019-09-09 14:33] iguido95 opened #1414 "Parse and Format gives a RangeError: Invalid time value error"
Using the latest date-fns version 2.1.0. I get a RangeError: Invalid time value error when I try to parse and then format a date.

Input is a non standardized string representing a date, e.g. "23-08-2019",
desired output is the day and month name of that date.

[code]

The myDate variable parses without error. The format functions gives the error, but does execute the code and I get the desired re

[2019-09-09 18:04] iguido95 commented on #1414
Appeared to be a Vue related 'issue': while instantiating, the props where not fill in, i.e. a null value, hence the error. Checked whether the value was null, and if so, not parse the empty date.

[2019-09-09 18:04] #1414 closed

[2019-09-10 09:44] laxytt commented on #292
Can anyone help me with adding the translation to my component?
I don't understand the example in documentation.
I just want to have my date after formated, formated in Polish, like it was before formatting.
f.e. Wrze.. instead of Sep.

[2019-09-10 13:44] balexandre commented on #990
do you get it working with `2.1.0` ?

I can't make it work with tree-shaking, not even in the [smallest of the projects](https://stackoverflow.com/q/57857096/28004) :/

[2019-09-10 14:37] kossnocorp commented on #990
@balexandre I've posted an answer to your question on SO: https://stackoverflow.com/a/57873136/75284

[2019-09-10 21:41] mzgajner opened #1415 "Add Slovenian locale support"
Noticed Slovenian is one of the few outdated locales that doesn't support 2.0 yet, so I started doing it. Apart from the new version support, there are also some grammatical issues to address.

I'm nearly done, just need to finalize some of the pattern matches, I'll hopefully be opening a PR tomorrow.

[2019-09-11 02:03] brunodasilvalenga opened #1416 "fromUnixTime - ECM"
Function fromUnixTime() doesn't work when you import using ECM

import {  fromUnixTime } from 'date-fns'

ES2015 working
import fromUnixTime from 'date-fns/fromUnixTime'

[2019-09-11 09:41] dkozickis commented on #1401
@Hx2heng what is the expected output here?

[2019-09-11 09:50] dkozickis commented on #1416
What is your environment? Can you create a minimal reproduction?

Minimal repro with `import { fromUnixTime } from 'date-fns'` work here -> https://codesandbox.io/embed/cool-merkle-8ycu2

[2019-09-11 10:05] Hx2heng commented on #1401
the duration format to ' ( HH:mm:ss )'

[2019-09-11 10:16] dkozickis commented on #1413
`escapedStringRegExp` RegExp here need to allow multiline

https://github.com/date-fns/date-fns/blob/1dfd61666a31d69a2d6137fb6f9381a7b42b6bc6/src/format/index.js#L32

[2019-09-11 10:24] dkozickis commented on #1406
`date-fns-tz` is 3rd party lib, maintained by @marnusw, not sure if he still has time for that.
Paging @marnusw

[2019-09-11 10:40] dkozickis commented on #1405
@kossnocorp can you comment on this one?

To me code of `formatDistanceStrict` seems to be doing as expected, but I agree with @gex that there's some confusion with naming, although docs do say that

* `This is like formatDistance, but does not use helpers like 'almost', 'over', 'less than' and the like.`
* `If roundingMethod is not specified, it now defaults to round instead of floor.`

[2019-09-11 10:53] CarterLi commented on #1413
I have been already doing this.

[2019-09-11 11:05] dkozickis commented on #1399
@kossnocorp

`parse` digit parsers accept digit strings with length from 1 to whatever was specified (to 4 in `yyyy` case, to 3 in `yyy` case)

https://github.com/date-fns/date-fns/blob/e25b339389aefff3d5a22525670a2d14e972bc72/src/parse/_lib/parsers/index.js#L27

Because of that `201` is ok for `yyyy`, this is either a bug, or works as expected and lacks documentation.

[2019-09-11 11:10] dkozickis commented on #1413
@CarterLi would you like to open PR with a fix?

[2019-09-11 11:24] marnusw commented on #1406
What @rossipedia says is correct. I've not had time for open source for a few months, but I'll get back into it in the coming weeks. This can definitely be clarified. Anyone feel free to submit a PR on that project, or I'll get round to this eventually.

[2019-09-11 11:36] CarterLi commented on #1413
Done

[2019-09-11 11:43] dkozickis commented on #1391
@Dallas62 thank you for reporting, PR is welcome!

Ordinal numbers can be edited here

https://github.com/date-fns/date-fns/blob/master/src/locale/fr/_lib/localize/index.js#L61

[2019-09-11 11:44] JeromeDeLeon commented on #1399
Can we not just set `strict` to `true` to strictly follow the given format?

[2019-09-11 11:47] JeromeDeLeon commented on #1399
At first, it makes sense to me since yeah like what you said, `201` is within 4-digit so that makes it acceptable but what if we only want strictly 4-digit? We can write a few codes that checks the format but that makes `parse` be unusable in some areas.

[2019-09-11 11:47] Dallas62 commented on #1391
@dkozickis Hi !

The issue is not about a problem with ordinal number in general, but ONLY on the case you choose "do MMMM".

It sound's good to say:
"Le 3ème jour de la semaine"

[2019-09-11 11:49] dkozickis commented on #1314
@shannontan-bolt thank you for reporting!

Please consider opening PR to CHANGELOG.MD! I

[2019-09-11 12:36] dkozickis commented on #1391
Right, this looks like a regression from v1.

https://github.com/date-fns/date-fns/blob/master/src/locale/fr/_lib/formatters/index.js you mention is not used anymore as far as I can see, due to formatters restructure, it seems.

Good way forward here seems to be passing next token (maybe as part of `formatterOptions') to selected `formatter` function in `format` https://github.com/date-fns/date-fn

[2019-09-11 12:39] dkozickis commented on #1406
Thank you @marnusw .

@xeger / @rossipedia I'll close this one for now as this is not part of `date-fns` atm. Thank you!

[2019-09-11 12:39] #1406 closed

[2019-09-11 12:46] dkozickis commented on #1401
One of the ways of doing it, yep.

[2019-09-11 13:20] gex commented on #1405
@dkozickis yeah, i read the docs (to be honest i read it several times to find what am i missing :)) but this still confuses me:

[code]

[code]

it would be less confusing to get similar results (1 minute and 1 hour or 30 seconds and 30 minutes). also when i'd like to get the distance between two dates where the diff is between 1 and 60 seconds (1 <= diff < 60) and i don't specify a unit the roun

[2019-09-11 16:01] jamiehd commented on #1004
@kossnocorp weirdly I have exactly the same problem with this package specifically on dockerhub. It installs fine locally. Do you know of any reason why this would specifically affect your package? Does it do anything specific that takes longer than other packages? Thanks

[2019-09-12 06:16] brunodasilvalenga commented on #1416
Hey Deniss, thnak you for answering me. I remove the package from node_modules and installed again, now it working!

[2019-09-12 06:16] #1416 closed

[2019-09-13 03:57] sweetaprospa opened #1421 "Invalid date error"
Trying to convert the date "26-11-2007" to the format "DD MMM YYYY". But says invalid date.

[2019-09-13 09:23] RayceeM opened #1422 "Using v2.x.x in Clojurescript"
Following the FP guide, I have to get the functions via the `fp` submodule.
I am trying to use the library in my clojure codebase but with not much success.
What I have done is to pass the library depency in my `project.clj` file like so:
[code]

then imported it in my `view.cljs` file namespace like so:
[code]
`:npm-deps ` will do most of the work (basically downloading the dependencies from npm

[2019-09-13 10:42] sozakir commented on #1412
@leshakoss Any views regarding this. ?

[2019-09-13 10:58] sozakir commented on #1412
@leshakoss Welcome. I really like Datefns simplicity. I will look into date-fns-tz. Check if it fits in my use case.

[2019-09-13 20:33] dkozickis commented on #1421
@sweetaprospa what is the code that you're using when you get this error?

[2019-09-14 07:27] robotvert commented on #1391
Also, may I add, the `ème` and such suffixes are incorrect: http://www.academie-francaise.fr/abreviations-des-adjectifs-numeraux

[2019-09-14 09:36] mimischi opened #1424 "Differences of dates created unequally"
I am trying to calculate the differnce between two dates. One is created with explicit date/time values via `new Date(2019, 9, 14, 10, 0)`. The other one is created without passing any arguments via `new Date()`. Giving these two date objects as arguments to any `distanceIn*` method will results in an unexpected result.

Here is an example: https://runkit.com/mimischi/5d7cb212e310710013b35354

Is

[2019-09-15 06:16] mimischi commented on #1424
Well, I forgot to account for the zero indexed month in JavaScript. I knew that the difference of `-40k`-something reminded me of something.. This works:

[code]

[2019-09-16 20:26] Dob6458 commented on #1421
This issue must be published with your codes that contains errors and then, we can solve your problem codes.

[2019-09-16 21:42] yuki-takei commented on #1004
@jamiehd
Maybe because CPUs of dockerhub is too weak. Try to increase `network-timeout` of yarn.

[code]

Though I faced the same problem (always occured ESOCKETTIMEDOUT for date-fns), this worked for me.

[2019-09-17 00:20] sweetaprospa commented on #1421
Installed using npm, then as usual imported the function:
import { format } from 'date-fns';
then passed format n date:
( "26-11-2007", "DD MMM YYYY").

I realised after a while, if the date string is in US format i.e. "year-month-date" the date formating works fine, but the UK format i.e "date-month-year", received an error "invalid date", "out of range date"

I think I need to install locale to

[2019-09-17 08:05] dteirney opened #1426 "Update babel-plugin-date-fns to support the 2.0 release?"
Hello,

It's not obvious if the babel-plugin-date-fns repo is being actively maintained. Are there plans for it to be updated to support the date-fns 2.0 release?

We still need to use the babel plugin to help with bundling so we can only ship the functions we've used since the bundler we use doesn't support tree shaking.

Thanks!
David

[2019-09-17 08:08] TrySound commented on #1426
Which bundler do you use?

[2019-09-17 11:10] dteirney commented on #1426
https://jspm.org/ (not the beta version of 2).

[2019-09-17 11:36] benneq opened #1427 "Feat: multi add function to add multiple parts of a date"
Similar to #1388 (which was implemented by @SneakyFish5 in #1398 ), it would be nice to have a function, that can add multiple values at once.

So instead of doing this:
[code]

Something like this would be nice:
[code]

[2019-09-17 12:29] dkozickis commented on #1424
Thank you for reporting this and for figuring it out :)
Closing.

[2019-09-17 12:29] #1424 closed

[2019-09-17 12:36] dkozickis commented on #1421
Looks like you're using date-fns 1.x

date-fns 1.x `format` accepts [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date string as first argument (what you call US format), it won't work otherwise.

[2019-09-17 13:03] dkozickis commented on #1315
Docs updated, closing for housekeeping for now.

[2019-09-17 13:03] #1315 closed

[2019-09-17 13:04] dkozickis commented on #1301
Maybe ping original authors, ask them if they'd like to update for v2.x?

[2019-09-17 16:31] ed-sparkes opened #1428 "Invalid Time when formatting a JSON.stingify date"
Dates returned from ajax request are inherently strings as JSON.parse does not try and do anything clever. WIth version 2 for date-fns the formatting of dates which are strings errors with `Invalid Time error` when provided with a stringified date

Simple one liner that recreates the issue below

[code]
hmm looking at the code looks like format no longer accepts strings, guess i have to update all

[2019-09-17 19:28] dkozickis commented on #1428
Ain't a bug @ed-sparkes, `format` now only accepts `Date | Number` as first argument. Comes with own TS typings as well.

[2019-09-17 20:17] duro opened #1429 "Formatting completely broken"
I am running version 2.2.1, and look at the following output from the node REPL:

[code]

Am I missing something totally from the docs, or what on earth could be causing this?

[2019-09-17 20:27] duro commented on #1429
So to add to this, if I start up a completely different project, and install date-fns, formatting works. So there must be some kind of conflict in my node_modules.

Does anyone have any idea what could cause this?

[2019-09-17 21:08] fkabinoff commented on #1429
I'm having the same issue. Works with v1 in my project, but I've tried 2.2.1 and 2.1.0 so far, and format doesn't work correctly in either.
`format(0, 'dd')
// should be 'Su', but is '31' instead.`

[2019-09-17 21:19] duro commented on #1429
@fkabinoff I found my problem. Basically one of my other deps was installing an older version of date-fns, and there was a collision. I wiped my node_modules and re-installed, and now things are working as expected.

[2019-09-17 21:19] #1429 closed

[2019-09-18 00:43] sweetaprospa commented on #1421
Thanks @dkozickis. Is there any work around that you can suggest?

[2019-09-18 11:21] sozakir commented on #990
@kossnocorp  How Can I enable this in my angular 7 project since there is no web.config.js in angular 7 default project?

[2019-09-18 11:23] kossnocorp commented on #990
@sozakir sorry, I'm not familiar with Angular and its build system.

[2019-09-18 13:52] rgant commented on #990
@sozakir I imagine that if you do a production build with Angular it will set the Webpack mode to production.

`ng build --prod`

[2019-09-18 14:03] sozakir commented on #990
@rgant thanks!

[2019-09-19 04:34] Itayp1 opened #1436 "the operation let fullPath = format(new Date(), 'yyyy/MM/dd') takes 498.2311999797821 ms"
the operation let fullPath =  format(new Date(), 'yyyy/MM/dd') takes 498.2311999797821 ms
its lot of time just to get the date

[2019-09-19 06:34] Djaler commented on #1310
Hey, any news about this?

[2019-09-19 09:26] kossnocorp commented on #1428
Yup, the strings aren't supported anymore. Sorry about that, please [see this post for the reasoning](https://blog.date-fns.org/post/we-cut-date-fns-v2-minimal-build-size-down-to-300-bytes-and-now-its-the-smallest-date-library-18f2nvh2z0yal/).

I'm wondering what TypeScript definitions do you use? As @dkozickis said, date-fns is coming with definitions that would warn you about the problem.

If yo

[2019-09-19 09:26] #1428 closed

[2019-09-19 09:49] jamiehd commented on #1004
Thanks for the tip @yuki-takei I'll give that a go.

[2019-09-19 09:49] jamiehd commented on #1004
Thanks for the tip @yuki-takei I'll give that a go.

[2019-09-19 11:03] dkozickis commented on #1436
What is your environment?

[2019-09-19 11:35] dkozickis commented on #1310
https://codesandbox.io/s/distracted-goldberg-f2whm

Firefox returns decimal value for `date.getTimezoneOffset()` for whatever reason.

[2019-09-19 11:40] MANDA-LAWINE opened #1437 "parse & format return Invalid Date in case of NaN instead of throwing an Exception"

[2019-09-19 11:45] dkozickis commented on #1437
HI @MANDA-LAWINE

Please provide code example.

[2019-09-19 17:41] kangax commented on #612
@vkbansal I also just noticed how loose types are in date-fns. Have you ever made any progress on making them stricter?

[2019-09-19 18:29] ryan-snyder opened #1438 "Getting Invalid Date when trying to parse string that was previously formatted with a timezone"
Versions:
date-fns: 2.0.0-alpha.27
date-fns-tz: 1.0.7

I'm trying to parse a string that was previously formatted with
[code]

But when I parse it like so:
[code]
it returns Invalid Date.  That seems to indicate that the date is improperly formatted but since I have already formatted it, that doesn't make sense

[2019-09-20 01:24] vkbansal commented on #612
I had looked into it, but was unsuccessful.

[2019-09-22 03:44] SneakyFish5 commented on #229
I've been working on a function for this and here's what I've got so far: https://github.com/SneakyFish5/date-fns/commit/e8cc4fa9345d92df91652bc5fb70eea01ace22fb

I took a lot of the feedback here to make this function and tried to use as little overhead as possible so I didn't import anything but tried to use my own math (which is imperfect as I'll show later on).

Basically the function goes `di

[2019-09-22 09:56] kossnocorp commented on #1438
Hi! Please provide the initial date value that you pass to `parseISO`.

[2019-09-22 10:00] kossnocorp commented on #1426
Let's continue in https://github.com/date-fns/babel-plugin-date-fns/issues/12

[2019-09-22 10:00] #1426 closed

[2019-09-22 19:56] ryan-snyder commented on #1438
Original date is in a format like `2019-09-19T19:12:50.486Z`. That is formatted into a human readable date in my timezones. That all works. But later on, when I need to compare these dates, parseISO returns `Invalid Date`

[2019-09-23 07:24] Ashygoyal opened #1439 "Typo in Documentation for lightFormat"
Please visit[ this URL](https://date-fns.org/v2.2.1/docs/lightFormat):
Go to the last section on the page i.e. **Examples**

Typo in this line:
`var result = format(new Date(2014, 1, 11), 'yyyy-MM-dd')`

It should be:
`var result = lightFormat(new Date(2014, 1, 11), 'yyyy-MM-dd')`

[2019-09-23 07:37] #1439 closed

[2019-09-23 07:37] kossnocorp commented on #1439
Thank you for reporting!

[2019-09-23 11:20] pederklev commented on #980
Happened a couple times to me. Deleting `package-lock.json` and running `npm install` helped. No idea what caused the issue.

[2019-09-23 16:03] notiv-nt opened #1440 "Add date format playground"
On the page https://date-fns.org/v2.2.1/docs/format just above `Accepted patterns`, It would be convenient to see the current date in the entered format

Small `input`(format) -> `output`(current date in entered format)

[2019-09-23 17:07] dkozickis commented on #1421
Use correct format 🤷‍♂

You can use [parse](https://date-fns.org/v2.2.1/docs/parse) from date-fns 2.x to parse date from any format. You'll need to upgrade to date-fns 2.x for that.

[2019-09-23 17:07] #1421 closed

[2019-09-24 22:20] andybangs commented on #1314
Thanks @shannontan-bolt. @dkozickis I can take this on.

[2019-09-25 08:16] HemalR commented on #946
Silly question, (and this may not be the best place for it?) but what is the difference between:

`a`
`aa`
`aaa`

Or the b equivalents of the above. I did some testing and found the results the same, and the docs weren't clear to me. I suspect I've simply not tested the areas where there is a difference. Anyone have any pointers?

![image](https://user-images.githubusercontent.com/15634303/6558228

[2019-09-25 11:20] lovelovedokidoki opened #1442 "Bulgarian locale support"
I am looking into using date-fns for a project that requires support of 27 locales, out of which date-fns@2.3.0 supports all except for Bulgarian (bg).

It would be hugely appreciated if someone with proficiency in Bulgarian date formats could add this. This would mean increased developer happiness for me and a number of other developers who would prefer using date-fns over momentjs if this is sup

[2019-09-25 11:41] kossnocorp commented on #1442
cc @date-fns/i18n-bg

[2019-09-25 13:10] ahmadhasankhan opened #1443 "Module not found: Can't resolve 'date-fns/distance_in_words_to_now'"
I am trying to achieve this =>  https://date-fns.org/v1.9.0/docs/distanceInWordsToNow

Using:

package.json
[code]
package.json.lock
[code]

**Getting import error:**
[code]

[2019-09-25 13:12] leshakoss commented on #1443
Hello! You're looking documentation for an outdated version. The current version of the page is: https://date-fns.org/v2.3.0/docs/formatDistanceToNow

[2019-09-25 13:12] #1443 closed

[2019-09-25 13:44] alexigityan opened #1444 "Armenian language support"
I am willing to submit an Armenian locale. Working on it right now, will open a PR, please stay tuned.

[2019-09-25 16:57] tunnckoCore commented on #1442
Thanks for the ping. I may look on that on 2-3 days. :) I completely forgot about that, will see what I can do :)

[2019-09-25 22:15] SunooBertsch opened #1447 "Incorrent values being returned for day of month"
format(new Date(), "Do MMMM yyyy");

Based off of the docs, the line of code above should currently return "25th September 2019". In actuality, it is returning "268th September 2019", eshowing the day of year as opposed to day of the month.

[2019-09-25 23:52] SneakyFish5 commented on #1447
For day of month, it would be a lowercase 'd', so the function would look like `format(new Date(), "do MMMM yyyy");`, which gives me the expected return of `25th September 2019`. I figured this out from the docs on the website, but did you read it from elsewhere that may be incorrect?

[2019-09-26 11:10] kalekseev opened #1449 "parseISO incorrectly parse date of DST day"
Australia/Sydney has DST shift on Oct 6 moving from 2am to 3am.

Expected:
[code]

Actual:
[code]

To fix that date only problem we may just not apply the offset when the time part is missing:
https://github.com/date-fns/date-fns/blob/812c3406eab908332a85aa5f9aff61625fb20616/src/parseISO/index.js#L139

The parsing of a datetime without timezone is also wrong for values before shift 0am - 2am:

[co

[2019-09-26 22:32] SunooBertsch commented on #1447
https://date-fns.org/v1.9.0/docs/format

According the the docs, lowercase "do" should return the day of the week, not month. Am I missing something?

[2019-09-26 23:42] SneakyFish5 commented on #1447
Based on that URL, it looks like you are looking at the docs for v1.9.0. Are you running that version? The docs for the most recent version is here: https://date-fns.org/v2.3.0/docs/format

[2019-09-27 00:13] SunooBertsch commented on #1447
Ahh, I didn't realize there were multiple sets of docs. Much appreciated!

[2019-09-27 00:13] #1447 closed

[2019-09-27 13:31] #1119 closed

[2019-09-27 13:31] #1449 closed

[2019-09-27 13:35] #1444 closed

[2019-09-27 13:39] #1314 closed

[2019-09-28 13:49] mrclayman opened #1452 "Czech translation has AM/PM swapped"
Hi all,

I am using the latest version as of this writing (2.4.0) and I have just noticed that the Czech translations for AM and PM are backwards. AM should be "dop." and PM should be "odp.".

[2019-09-28 15:35] #1452 closed

[2019-09-28 15:38] kossnocorp commented on #1452
Thank you for reporting, I'm working on releasing v2.4.1 with the fix.

[2019-09-29 13:15] mrclayman commented on #1452
Thank you very much for the quick response and fix.

[2019-09-29 16:23] kossnocorp commented on #1452
You’re welcome!

[2019-10-01 18:39] alaskaa commented on #1427
Hi! :wave:

I'm looking to contribute to date-fns as I really love the library and use it all the time!

I've seen this and thought it would be relatively easy to implement, if we provide a multi-add function that would make OPs function calls in the background. Could I claim this and find a way to implement it?

[2019-10-01 18:43] alaskaa commented on #1227
Hi :wave:

Do you need help with this to add it to the docs? Similarly, do you need some other browser testing done as well or do your tests cover this? Happy to help!

[2019-10-01 19:21] leshakoss commented on #1427
@alaskaa sure! Just add "Claimed" label and assign yourself to the issue. Thanks a lot!

[2019-10-02 05:04] alaskaa commented on #1427
I'm not a member of the organisation, I've tried to add the Claimed label and assign myself but it won't let me.

Just consider me working on the issue and maybe if one of you ever has time to update the issue, you could add it for me!

[2019-10-02 14:15] dkozickis commented on #1437
Closing this one for housekeeping as no further details provided.

[2019-10-02 14:15] #1437 closed

[2019-10-02 14:16] dkozickis commented on #1436
Closing this one for housekeeping as no further details provided.

[2019-10-02 14:16] #1436 closed

[2019-10-02 14:35] davidspiess opened #1455 "parse throws findIndex error in IE11"
date-fns: 2.4.1

If i call
[code]
IE11 throws an error `findIndex is not a function`.

[2019-10-02 15:10] patelkrunal78 commented on #719
You may Try format('2018-13-01', 'YYYY-DD-MM')

[2019-10-03 09:09] TomOne commented on #1455
I have the same issue

[2019-10-03 15:30] kolengri opened #1456 "differenceInBusinessDays is not working correctly"
Hello,
date-fns 2.4.1

[code]
Result is 22
Should be 21

[2019-10-03 16:53] dkozickis commented on #1456
Hi!

Month in JS is zero indexed. Using “9” for month, means you’re asking for October (not for September).

Difference for October is correct.

[2019-10-03 16:53] #1456 closed

[2019-10-04 00:34] Imballinst commented on #1438
@ryan-snyder `parseISO` only allows ISO8601 format, isn't it? https://en.wikipedia.org/wiki/ISO_8601. From your case, it looks to me that:

1. You parse the _correct_ ISO Date
2. Then, you format it to `MMM do yy, h:mm a`
3. Then, you use `parseISO` with the result of (2) -- because `MMM do yy, h:mm a` is not an ISO 8601 format -- probably that's the case?

Let me know is my understanding is wrong

[2019-10-04 01:35] Imballinst commented on #1302
Hey, lemme know if this is correct:

<img width="642" alt="image" src="https://user-images.githubusercontent.com/7077157/66174762-0ed98800-e69a-11e9-8ac0-d5e5e384affb.png">

for `date1`, you were using last year's -- which happens to be correct (?) because it ends November 4, 2am instead of November 3. Tested it in the browser as well:

<img width="463" alt="Screen Shot 2019-10-03 at 9 22 19 PM" s

[2019-10-04 01:49] Imballinst commented on #1386
Hi! Is this feature still needed? I'd like to give it a go. If yes, any other formats that you'd like to see other than these 2?

[2019-10-04 09:11] dkozickis commented on #1455
Fixed with #1457, will be shipped with next release.

[2019-10-04 09:13] dkozickis commented on #1170
@demkovych is something like that still happening in latest release?

[2019-10-04 09:14] demkovych commented on #1170
@dkozickis Will check today afternoon

[2019-10-04 09:25] dkozickis commented on #1397
@ckybonist can you please illustrate in code/pseudo-code what you mean?

[2019-10-04 09:29] dkozickis commented on #869
Closing as workaround was provided.
@Christilut - please re-open if you have further questions.

[2019-10-04 09:29] #869 closed

[2019-10-04 09:33] dkozickis commented on #1160
date-fns 2.x now expects `Date | Number` as input for `isFuture` (among other functions) to avoid issues like that.

[2019-10-04 09:33] #1160 closed

[2019-10-04 09:36] davidspiess commented on #1455
Awesome! Thanks!

[2019-10-04 09:37] dkozickis commented on #1151
Fixed by #404

[2019-10-04 09:37] #1151 closed

[2019-10-04 09:41] dkozickis commented on #1129
It feels like something that has to be controlled by application that is using `date-fns`. As in - application must be able to provide correct locale to `formatRelative` 3rd argument.

[2019-10-04 09:43] dkozickis commented on #1111
Hi!

I believe @FredyC provided sufficient help to @ovvn on this one.
Closing.

Thanks @FredyC

[2019-10-04 09:43] #1111 closed

[2019-10-04 09:44] dkozickis commented on #1106
Closing as done (not sure which PR)

[2019-10-04 09:44] #1106 closed

[2019-10-04 09:47] dkozickis commented on #1085
Closing as working on latest master.

[2019-10-04 09:47] #1085 closed

[2019-10-04 09:48] dkozickis commented on #1034
Closing as no further info to reproduce.

[2019-10-04 09:48] #1034 closed

[2019-10-04 09:58] dkozickis commented on #1024
In `date-fns` you can use

[code]

[2019-10-04 09:58] #1024 closed

[2019-10-04 10:00] #1022 closed

[2019-10-04 10:02] dkozickis commented on #1018
Closing in favor of #998

[2019-10-04 10:02] #1018 closed

[2019-10-04 10:04] dkozickis commented on #993
Paging @date-fns/i18n-pl for help

[2019-10-04 10:06] dkozickis commented on #988
Closing in favor of #1310

[2019-10-04 10:06] #988 closed

[2019-10-04 10:07] dkozickis commented on #973
Closing in favor of #571

[2019-10-04 10:07] #973 closed

[2019-10-04 10:08] dkozickis commented on #967
Closing as resolved.

[2019-10-04 10:08] #967 closed

[2019-10-04 10:09] dkozickis commented on #965
@ckybonist provided answer :)

[2019-10-04 10:09] #965 closed

[2019-10-04 10:11] dkozickis commented on #753
Implemented with #756

[2019-10-04 14:59] bwalendz commented on #946
Would like to see lowercase am/pm without periods added back as well.

[2019-10-04 15:07] strarsis commented on #1386
https://dev.mysql.com/doc/refman/8.0/en/date-and-time-functions.html#function_get-format

So ISO 9075 is also useful for MySQL.
Postgres documentation mentions the ISO 8601 format as well supported.

[2019-10-04 16:19] Sawtaytoes commented on #890
I'm not longer working on the same project that had this issue. I'm assuming I was actually importing from `esm/` instead of something like `date-fns/fp`. Things have changed in newer versions and maybe that change wasn't documented at the time.

I'm going to close this issue as I no longer thing it's valid.

[2019-10-04 16:19] #890 closed

[2019-10-04 23:28] Imballinst commented on #1386
Noted. Thanks for the further information! I can't guarantee this to be finished fast (because I'm quite busy this month) -- but my target is _hopefully_, at maximum, two weeks.

[2019-10-05 16:25] jelovac opened #1461 "isValid returns false for ISO8601 formatted date"
Hi,

The isValid method returns false for the following ISO8601 formatted date string:

According to the [Wikipedia article](https://en.wikipedia.org/wiki/ISO_8601) this is valid UTC date.

My usage example:

[code]

Removing the validation part the parsing finished successfully.

[2019-10-05 20:11] FredyC commented on #856
I would add that dynamic import and Webpack 4 provides a much smoother experience. This is especially important with CRA apps where plugins cannot be configured (officially).

[code]

It works great fine, although it creates like 300+ chunks. I haven't analyzed it closely why so much (there aren't that many locales yet), but from my preliminary tests, it seems that only one chunk is loaded by the

[2019-10-06 10:29] kolengri commented on #1456
Oh, sorry. Was hard day 🤕

[2019-10-06 21:10] madibts commented on #1238
https://github.com/date-fns/date-fns/pull/1460

[2019-10-07 11:34] toniton commented on #1275
Can this be added to the documentation in some way also, please?

[2019-10-07 13:31] ryan-snyder commented on #1438
@Imballinst Yes that does sound correct. From what I can tell from the documentation, there's no way to turn a non ISO formatted date into a date that date-fns can parse/compare, correct? If so I'll just change the format to a valid ISO format.

[2019-10-07 16:25] cristianManrique opened #1465 "Add fr-CA locale"
Hi date-fns team,

First, let me tell you your lib is amazing and work so nice. I am a junior Front-End programmeur. I follow the instruction to create a locale from another locale but it does work.

It's the same format than "fr". The only thing is that month need to begin by sunday.

Can you help my to contribute to your project and integrate this code:

[code]

[2019-10-07 18:15] kranthilakum opened #1466 "Add Telugu language"
Add the [Telugu language (ISO 639-1 `te`, ISO 639-2 `tel`)](https://en.wikipedia.org/wiki/Telugu_language) to date-fns library.
It is the third most spoken Indian language in India, [spoken by 82 million people](https://www.ethnologue.com/language/tel)

The language is already supported by the other libraries, e.g.
- Moment.js [supported](https://github.com/moment/moment/blob/develop/locale/te.js)

[2019-10-07 18:18] kranthilakum commented on #1466
I raised a pull request #1464 today which adds the Telugu locale to the date-fns library. This is my first pull request for this project. I hope that I did it right.

[2019-10-07 18:32] dkozickis commented on #1461
Hi @jelovac,

If you're on date-fns `2.x` then `isValid` does not accept `ISO8601` string as input.
Please see [docs](https://date-fns.org/v2.4.1/docs/isValid)

[2019-10-07 18:35] dkozickis commented on #1248
@avizcaino that's right, thanks!

[2019-10-07 18:35] #1248 closed

[2019-10-07 21:47] Imballinst commented on #1438
@ryan-snyder hmm, I think `parse` still exists for non-ISO format: https://github.com/date-fns/date-fns/blob/master/src/parse/index.js.

I just tried it on https://npm.runkit.com/date-fns, seems working fine.

<img width="703" alt="image" src="https://user-images.githubusercontent.com/7077157/66350902-2c636600-e9a8-11e9-90bb-edc8976ddff8.png">

[2019-10-08 05:26] jelovac commented on #1461
Hi @dkozickis,

Yes, I am using date-fns 2.x. I thought that it does because in the docs there was an example using the string input.

![Annotation 2019-10-08 072135](https://user-images.githubusercontent.com/3627139/66369433-aee62880-e99c-11e9-8f99-7202407c6f15.png)

I am guessing that toDate method doesn't support this.

[2019-10-09 06:41] simin-maleki opened #1467 "Fa(Persian) language support"
I like to add solar calendar in Persian language which is used in Iran where I live.
It's needed in all projects defined here; if possible, I get my hands dirty !
cheers

[2019-10-09 06:45] #1467 closed

[2019-10-09 08:36] WarisR opened #1468 "Please provide a way to import some part of locale object"
Now when I need to use locale object for formatRelative translation I do as below
[code]

But enUs locale object has too many functionalities than what we need
[code]

Could you please provide a way to get only formatRelative from the locale object as below?
[code]

[2019-10-09 12:48] cristianManrique commented on #1465
Hi team ,Can you help my to integrate this code. I need to know step by step how to do it.
Thanks for your help

[2019-10-09 12:55] leshakoss commented on #1465
@cristianManrique Hello! I don't know your exact situation so I'm not sure which steps do you need.
Your code seems fine, look at for example `en-CA` which is implemented similarly.
So if you put your code into `src/locale/fr-CA/index.js` and then run `./scripts/build/build.sh` it should be working and enough for a PR. Please try it and tell us if you run into any problems. Thanks!

[2019-10-09 13:37] dkozickis commented on #1461
Yeah, that looks like a doc update is in order, thank you for reporting!
Would you care to submit a PR so that future generations can avoid same confusion?

[2019-10-09 16:26] aravind1078 commented on #1468
hey, I have submitted a pr on this #1469 can someone guide me further?

[2019-10-09 19:15] JulienMalige commented on #1465
@cristianManrique you can take a look at https://github.com/date-fns/date-fns/pull/1470

[2019-10-10 05:00] jelovac commented on #1461
Done.

Also I have found out that validation can be performed after parseISO, since parseISO will return instance of date object even for invalid date.

So the solution to my question is:

[code]

[2019-10-10 12:11] cristianManrique commented on #1465
Thanks Julien and Leshakoss! Soon I gone create a branch.

[2019-10-11 08:37] ValentinH opened #1472 "[TS]: Locale and Interval types are global"
In our application, we have a global `type Locale = 'en' | 'de'` that let us use it without importing it. I know this is not really clean...

However, `date-fns` typings definition also have a global `type Locale` (and also `Interval`): https://github.com/date-fns/date-fns/blob/master/typings.d.ts#L35-L62

I think this is not good as we should not be able to use the `Locale` from date-fns without

[2019-10-11 09:17] micaelmbagira opened #1473 "Using Z in the format pattern (using time zone) throws an error"
I am running this example taken from https://date-fns.org/v2.4.1/docs/Time-Zones

[code]

and I get the following error

Even though `Z` is in the list of available tokens: https://date-fns.org/v2.4.1/docs/format

[2019-10-11 10:07] dkozickis commented on #1472
Hi @ValentinH!

You do have a point here, but `Interval` and `Locale` types are not defined as global per se.
Based on my limited knowledge of `tsconfig.json` I believe that your  `tsconfig.json` might be setup to over-discover things, instead of requiring explicit type import.

How does your `paths`, `typeRoots` and `types` look like in `tsconfig.json`?

[2019-10-11 13:52] ValentinH commented on #1472
Hi @dkozickis, thanks for the answer!

Here's my tsconfig.json:
[code]

[2019-10-11 14:09] dkozickis commented on #1472
Soooo... what’s the actual problem? Do types interfere in some way in your app? Do you get some TS compiler errors?

[2019-10-11 14:23] ValentinH commented on #1472
In one of my definitions, I define a global `type Locale = 'fr' | 'de' | 'en' | 'it'`.

However, TS complains by saying:
[code]

where `typings.d.ts` is the TS definition of `date-fns`.

[2019-10-11 15:22] hope4555 commented on #1170
does not work for me
"@nebular/date-fns": "^4.4.0",
Module not found: Error: Can't resolve 'date-fns/format' in 'F:\<local path>\node_modules\@nebular\date-fns\fesm2015'

[2019-10-11 15:24] TrySound commented on #1170
@hope4555 You use wrong package name. This project is just `date-fns`, not `@nebular/date-fns`.

[2019-10-11 15:33] hope4555 commented on #1170
i see, thanks, documentation was not clear to me , sorry
it says to install @nebular/date-fns

https://akveo.github.io/nebular/docs/components/datepicker/overview#nbdatepickerdirective

[2019-10-11 17:44] saiichihashimoto opened #1474 "export Interval flowtype"
The `Interval` flowtype isn't exported by date-fns, so I have to redefine it in my own code.

[2019-10-12 07:22] dkozickis commented on #1472
@ValentinH

Can you put a minimal reproduction somewhere? I've tried it - and I cannot reproduce same behaviour.

`Locale` definition for `date-fns` is not exported from definition file, it's exported inside the `declare module` so it shouldn't really populate your global scope.

[2019-10-12 08:23] FerhatACAR commented on #666
Yes the problem is clear.It cant find en because you can see there is no folder named en.You have to use enUS, enCA or enGB

`import enUS from 'date-fns/locale';`

import your language like this.

[2019-10-12 16:16] marnusw opened #1476 "Request: Add the language code to the locale object spec for use with date-fns-tz"
When the extended `format` function provided by `date-fns-tz` is used to ouptut the `z...zzzz` tokens the `locale` option can be provided and is used for the locale passed to `Intl.DateTimeFormat`. This is important because, for example, the `en-US` locale renders `Europe/London` ans `GMT+1` instead of `BST`, whereas the `en-GB` locale gives the preferred `BST` output.

The problem is that there i

[2019-10-13 00:14] Imballinst commented on #1386
@strarsis PTAL: https://github.com/date-fns/date-fns/pull/1477

[2019-10-13 12:41] dkozickis commented on #1442
Paging @tunnckoCore

[2019-10-13 12:46] dkozickis commented on #584
This has landed with `date-fns@2.x`. Closing.

[2019-10-13 12:46] #584 closed

[2019-10-13 17:04] lzhuor opened #1478 "en-SG language support"
Singapore is small but highly international and beautiful. It's a city and meanwhile a country. I will create a locale for en-SG.

[2019-10-13 18:12] tunnckoCore commented on #1442
heck, sorry for the delay... how time is passing... and was offline whole week.

[2019-10-13 21:07] ValentinH commented on #1472
Sure. See this sandbox: https://codesandbox.io/s/wizardly-thompson-g9lnh

There, I don't import `Locale` however TS uses the one from `date-fns`.

[2019-10-14 08:23] dkozickis commented on #1472
Thanks!

Looks like TS imports whatever is in ambient declaration file into global scope, if it is not properly namespaced (modularized?)

Bases on DefinitelyTypes [best practices](http://definitelytyped.org/guides/best-practices.html) it looks like correct way forward here is

[code]

We have to put `Interval` and `Locale` inso separate `module` because they're re-used in

[code]

Global interfac

[2019-10-14 12:07] dkozickis commented on #1442
@tunnckoCore no need to be sorry! Just a kind reminder, whenever you have time :)

[2019-10-14 14:23] dkozickis commented on #1170
Closing as no negative feedback.

[2019-10-14 14:23] #1170 closed

[2019-10-14 14:24] dkozickis commented on #1397
Closing for house keeping.
Missing details.

[2019-10-14 14:24] #1397 closed

[2019-10-14 14:27] dkozickis commented on #978
Closed by #1113

[2019-10-14 14:27] #978 closed

[2019-10-15 13:48] kajmagnus opened #1484 "How build date-fns, per language, just what one needs, no module loader?"
Can one build one's own UMD bundles or "plain old global object" bundles?
One per language, with just the functions one needs?

Let's say I support English, Swedish and French — then I'd like 3 bundles: one for English, one for Swedish, and one for French.

And, only with the functionality I actually need? (so the bundles stay small)

How do I generate such bundles?

***

**Details:**

I don't use

[2019-10-15 13:51] kajmagnus commented on #1117
And I want to generate my own UMD or [no-bundle, just a global object] bundles, one per language and as custom built, as small as possible for one's use case — I asked about that here: https://github.com/date-fns/date-fns/issues/1484

[2019-10-16 02:47] bagaskarala commented on #376
i still confuse how to format `2019-10-16T10:10:54+08:00` to be `16-10-2019 10:10:54` in my local time(gmt+7)

i want to be formatted as is, not converted to my local, ho to do that?

note: i dont want to include IANA `Asia/Makassar` in formatting, i want just using that string only

[2019-10-16 03:24] #1223 closed

[2019-10-16 04:37] #1455 closed

[2019-10-16 05:19] #1238 closed

[2019-10-16 05:23] #1461 closed

[2019-10-16 05:51] #1474 closed

[2019-10-16 05:58] #1465 closed

[2019-10-16 06:16] #1103 closed

[2019-10-16 10:23] jatin33 commented on #732
Can I work on this issue?

[2019-10-16 10:26] jatin33 commented on #776
@kossnocorp Is there a list of possible aliases? I might be able to help.

[2019-10-16 17:41] #1466 closed

[2019-10-17 15:02] mitchellbutler opened #1485 "Adding any multiple of 5 business days to a weekend date hangs indefinitely"
Calling `addBusinessDays` on a Saturday with a multiple of 5 business days (5, 10, 15) is causing JS to hang. You can see a simple recreation of the bug below and on [runkit here](https://runkit.com/embed/fsiyv9jmq95g). The first date will be logged and the second date will not.

[code]

I've checked the [documentation](https://date-fns.org/v2.5.0/docs/addBusinessDays) and I don't see any mention

[2019-10-17 16:20] leshakoss commented on #1016
Was fixed in v2.x.x!

[2019-10-17 16:20] #1016 closed

[2019-10-17 16:24] leshakoss commented on #732
@jatin33 sure!

[2019-10-17 17:23] mitchellbutler commented on #1485
I've opened a PR that resolves the issue.

[2019-10-18 03:02] trm313 opened #1487 ""Failed to fetch version list" in docs https://date-fns.org/docs/Getting-Started"
I saw other issues that were opened & closed pertaining to Chinese ISPs, but I am accessing this site from the US and seeing this error on the docs page

![image](https://user-images.githubusercontent.com/8891572/67062688-11c08800-f132-11e9-9dca-0cdcea608faa.png)

[2019-10-18 04:32] danielgormly commented on #1487
Accessing from major Australian ISP here, same issue.

[2019-10-18 04:39] kossnocorp commented on #1487
Sorry, that's my fault. There were insufficient funds on the card, and I didn't fix it in time, so Google Cloud cut me off. It's fixed now.

[2019-10-18 04:39] #1487 closed

[2019-10-18 20:13] ZLevine commented on #1206
I have a similar use case as well

[2019-10-19 01:08] stevenvachon commented on #376
Even something like a `subTimezoneOffset()` would be nice.

[2019-10-19 08:41] janmyler opened #1488 "Incorrect Czech translation"
The translation for _seconds_ in Czech locale is not correct. It should be “sekunda” (correct unit of time) and its inflections whereas “vteřina” (colloquial, however, an angular unit in reality) is used at the moment.

Was there any strong reasoning behind that @JozefBiros?

https://github.com/date-fns/date-fns/blob/v2.5.1/src/locale/cs/_lib/formatDistance/index.js#L4

[2019-10-20 17:39] stevenvachon commented on #376
[code]

[2019-10-21 05:44] hydrognomik commented on #1472
Hello. I'd like to fix it.

[2019-10-21 09:39] Elemino commented on #1112
I just wanted to give an update. In order to solve the isseu you need to:

set "module": "commonjs" unless you are using a separate tool to convert the ES6 modules to CommonJS in the tsconfig.json file.

[2019-10-21 17:13] ckybonist commented on #1397
Sorry for missing details.
I realized `formatDistanceToNow` is correct after found that Date object's month is zero-based...

[2019-10-21 17:48] dkozickis commented on #1472
Sure, please go ahead @hydrognomik

[2019-10-21 22:16] victormoukhortov commented on #533
I am also having this issue - any updates?

[2019-10-22 06:43] alexmcmillan commented on #284
I can see we're up to v2.5.1 - is there any roadmap for this?

[2019-10-22 06:47] kossnocorp commented on #284
Not really. Right now, we're focused on bringing UTC functions and timezone support to date-fns.

If someone here is ready to champion the feature, I'll be glad to help with direction.

[2019-10-22 07:38] Triplecorpse opened #1493 "Date-fns imports all functions and locales"
Hi! In my app I want to have as small bundle size as possible. Unfortunately, webpack loads all from date-fns even that I don't need.

For example, if I write

    import {parse} from 'date-fns'

it will load all the modules. But if I write

    import parse from 'date-fns/parse'

it will load only `parse` function. The same is with locales

could you please investigate this issue? If I need to im

[2019-10-22 07:40] kossnocorp commented on #1493
date-fns v2 enables tree-shaking which does exactly what you want. Please see how to set it up: https://webpack.js.org/guides/tree-shaking/

[2019-10-22 07:40] #1493 closed

[2019-10-22 07:41] Triplecorpse commented on #1493
I am sorry not for designating the version I use. It is 2.5.x

[2019-10-22 07:42] kossnocorp commented on #1493
It should work unless you misconfigured something. Make sure that Babel preserves ESM and that you check optimized (uglified) code.

[2019-10-22 10:19] B-Esmaili commented on #1236
Any update on this?No milestones assigned yet.

[2019-10-22 11:02] kossnocorp commented on #1236
@B-Esmaili this isn't planned but feel free to open a PR.

[2019-10-22 12:08] #1476 closed

[2019-10-22 18:11] B-Esmaili commented on #1236
@kossnocorp i definitely interested in contributing to the library but i am too busy to get involved right now. I've found something really promising to get inspired from though . for those who wanna take part [here ](https://github.com/kbwood/calendars)is `jQuery` implementation of most of well known `Calendars`.Unlike the name suggests the implementation is not tightly coupled to `JQuery`.

[2019-10-22 21:09] pke commented on #284
Hmmm this functionality could live outside this repo in its own `data-fns-duration` extension with the main signature being `addDuration(date, isoDurationString)` as proposed in my [previous comment](https://github.com/date-fns/date-fns/issues/284#issuecomment-426231461) on this issue. Not sure why it was downvoted though.

[2019-10-23 07:26] dmytro-gokun opened #1496 "Feature request: parseJSON, make trailing Z optional + allow more digits in milliseconds fiedl"
"parseJSON" function released with 2.6.0 is very useful. However, i think it would be even more useful if it allowed to omit the trailing 'Z' (or '+00') and have more than 3 digits in the milliseconds field. The thing is that some server-side frameworks produces dates in that format by default. For example, I've got the case with .NET Core producing string like "2019-10-23T09:11:12.969108" when Da

[2019-10-23 07:40] kossnocorp commented on #1496
I like the idea. Please go on. Since you on it, could you also check other languages that you have access to and add a list of known supported languages to the function? Thanks!

[2019-10-23 08:21] dmytro-gokun commented on #1496
Yep, will do.

[2019-10-23 13:02] netmajor opened #1498 "Module not found: Error: Can't resolve 'date-fns/get_time'"
Hi,
I have update library from 1.30.1 to version 2.6.0 and this error show up.

[code]

[2019-10-23 13:22] dkozickis commented on #1498
Hi @netmajor!

Are you sure this is the place where `Can't resolve 'date-fns/get_time'` is coming from?

[2019-10-23 13:27] leshakoss commented on #1498
@netmajor since v2.0.0 we switched to camelCase so `getTime`'s current location is `'date-fns/getTime'`. Please check if you have it imported in another file. Otherwise try clearing cache of your bundler

[2019-10-23 13:35] netmajor commented on #1498
I have cleaned node_modules. This errors apears on local compilation and also on jenkins build.

[2019-10-23 13:38] leshakoss commented on #1498
@netmajor we need more info to investigate this. If it is possible, please provide us with a minimal repo with the bug reproduced. Thanks!

[2019-10-24 05:24] netmajor commented on #1498
I have change import to
`import getTime from 'date-fns/getTime'`
and starts working ;)

[2019-10-24 05:24] #1498 closed

[2019-10-24 07:14] ngehlert opened #1500 "parse adds one hour to ever date before DST change (v1.30.1)"
https://github.com/date-fns/date-fns/blob/67a0329d663f82393261f38c4c47ad65c038bd35/src/parse/index.js#L118

Hi
can you explain why you add one hour to the date when the next day has a DST change? Isn't the parse value wrong then?

I put together a stackblitz example:
https://stackblitz.com/edit/date-fns-playground-grl7an?file=app.ts
Notice the dates after 2019-10-26 01:00
e.g.
[code]

My current t

[2019-10-24 07:50] emelineL commented on #1500
I'm facing the same issue, parsed dates on the 26th of October are off by one hour.

[2019-10-24 22:12] ruisilva450 opened #1502 "Different outcome on website console"
One of the main reasons for me to go to the documentation website is to be able to test the library on the dev console but often are times that there are differences between what's on documentation and what the dev console outputs.

For example, the parse function gives a completely different result from what is on the documentation:
```parse('50', 'yy', new Date(2018, 0, 1)) //=> Sat Jan 01 2050

[2019-10-25 05:25] tobyzerner opened #1503 "Optional properties in Locale type"
I'm building a project in TypeScript. I'd like to be able to call a particular function with a custom locale object including only the necessary properties, ie:

[code]

However, TypeScript complains because my JS object does not include all of the required properties in the `Locale` type:

The workaround is to double-type-assert the object:

[code]

This works but it's not very nice... I wonder w

[2019-10-25 12:39] Anshuman71 commented on #1427
@alaskaa what's the status on this issue? I would love to help, is there anything I can help with?

[2019-10-25 14:22] alaskaa commented on #1427
Unfortunately, I've fallen a bit ill and have had a operation, hence I've had no time to really work on this yet. I'd love to still give this a shot, but I might not be able to for a while as I'm still on the road to recovery. So if there's an urge to get it done soon, I'm happy for you to take it over!

[2019-10-26 21:22] kronthto commented on #1500
Same issue: Seems to be introduced with #1003 / #1005 - it takes the next day into consideration with those changes.

Wrote a comment there first then saw this issue: https://github.com/date-fns/date-fns/pull/1003#issuecomment-546640234

[2019-10-28 09:29] odykyi opened #1507 "isValid not works correctly"
**Describe the bug**
isValid not works correctly

**To Reproduce**
Steps to reproduce the behavior:
`dateFns.isValid(new Date('Chicago Illinois 46702')); // true
`
**Expected behavior**
should be false

[2019-10-28 13:10] nathanielgranor commented on #946
Throwing in another vote for this flexibility

[2019-10-28 14:06] fancydev18 opened #1508 "Feature request: subtract interval from a list of intervals"
Please implement a new Interval Helper which subtracts an interval from a list of intervals
https://date-fns.org/v2.6.0/docs/Interval

Given an array of Interval objects and a ```remove``` Interval object

have a new helper ```subtractFromIntervals(intervals, remove) ```
which returns an array of Interval objects which represents ```intervals - remove```

eg
[code]

Thanks!

[2019-10-28 22:17] dkozickis commented on #1507
[code]

This `new Date` input generates valid JS `Date` object, that's what `isValid` is checking for :)
Behavior is as expected.

[2019-10-28 22:17] #1507 closed

[2019-10-28 22:19] dkozickis commented on #1503
PRs are welcome @tobyzerner!

This is a good idea.

[2019-10-28 22:22] dkozickis commented on #1502
@kossnocorp date-fns documentation still has `date-fns@1.x` in console?

[2019-10-28 22:25] dkozickis commented on #1488
Pinging @date-fns/i18n-cs

[2019-10-29 03:32] huyaxiong opened #1509 "Formatted value is incorrect."
Version:1.30.1
format(newDate, 'MMM d, YYYY')
In this type of format, the formatted value is incorrect.

This is the code:
![image](https://user-images.githubusercontent.com/6245250/67735648-be0e4280-fa3f-11e9-8672-73aecc9e42bd.png)

This is value printed on the console:
![image](https://user-images.githubusercontent.com/6245250/67735635-b51d7100-fa3f-11e9-9a2f-14f5da45234f.png)

[2019-10-29 08:22] dkozickis commented on #1509
What is the expected result please @huyaxiong?

[2019-10-29 12:50] otaviobps opened #1510 "Adding one month results in 29 days"
I'm using the `addMonths` function to add 1 month to a given date. The function is inside a `forEach` but that doesn't add nothing to the bug.

Receiving the date `2019-03-01T01:00:00.000Z` and adding 1 month to it `dateFns.addMonths(actualDate, 1)` (actualDate is the referred date object) results in `2019-04-29T01:00:00.000Z` when it should result `2019-05-01T01:00:00.000Z`. I tried starting in 2

[2019-10-29 12:54] leshakoss commented on #1510
@otaviobps hi, could you please tell us what timezone are you in?

[2019-10-29 13:32] otaviobps commented on #1510
Hi @leshakoss, I'm in GMT-3

[2019-10-29 13:45] jcabanasdiaz opened #1511 "Bug at startOfDay"
Hi everyone,

From my point of view I found a bug in v2.6.0. I found it out using `startOfToday` which actually is a `startOfDay` for today.

I saw that you use `new Date().setHours(0,0,0,0)` but it returns the `23:00:00` of the previous date. I expected to get `00:00:00` from the current date.

Here a quick overview of the differences:

![image](https://user-images.githubusercontent.com/40172868/

[2019-10-30 00:30] tomciopp opened #1513 "differenceInHours does not handle daylight savings time correctly"
Test Case

let date = new Date(2019, 10, 3, 0, 0, 0);
let endDay = endOfDay(date);
let startDay = startOfDay(date);
let minutes = differenceInMinutes(endDay, startDay);
let hours = differenceInHours(endDay, startDay);

console.log(minutes) => 1499
console.log(hours) => 24

Over this time period 25 hours elapse, so the expectation is that the difference in hours should be equal to 25 not 24.

[2019-10-30 01:28] huyaxiong commented on #1509
@dkozickis expected result should be Oct 30, 2019 as the same as the date obj printed on the console.

[2019-10-30 01:30] huyaxiong commented on #1509
And I upgraded the version to 2.6.0 yesterday and this bug seems doesn't exist anymore.

[2019-10-30 05:50] dkozickis commented on #1509
Thank you!

[2019-10-30 05:50] #1509 closed

[2019-10-30 09:44] juni0r commented on #1222
I +1 this fiercely. Having to pass a new Date object to a parse function makes for an awkward API. From my perspective it doesn't make any sense having to pass in a date. What does it do? What else could I pass in and how would it affect the result.

[2019-10-30 17:53] gwmccull opened #1515 "make date-fns v2 available on the docs website"
It looks like the documentation website still has version 1 of the date-fns library attached to the window object. I'm basing this on the fact that there's no `window.dateFns.formatDistance` function but there still is a `window.dateFns.distanceInWords` function

[2019-10-30 18:22] NaridaL opened #1517 "addMinutes behavior with floats"
Currently `addMinutes(d, 2.9)` behaves like `addMinutes(d, 2)` which is unintuitive to say the least.

Expected behavior to me would be the same as `addMilliseconds(d, 2.9 * 60 * 1000)`. Alternatively it should throw an error.

At the very least it should be part of the documentation.

[2019-10-30 22:05] gajus commented on #1024
What does .. mean in the docs? Can I literally use `a..aaa`?

[2019-10-31 23:59] dotpegaso opened #1521 "America/Sao_Paulo datetime behavior is wrong when debug mode is OFF using RN"
Our current president has decided to cancel DST in Brazil this year. This means that since November 4th the timezone is being returned incorrectly (UTC -2 instead of -3).

I tried to use some libs to solve this problem:
[code]
But I couldn't.

I also learned that React Native has 2 types of environments to run JS: `V8` from Chrome when **Debug Mode** is **ON** and device's `JavascriptCore` when **

[2019-11-01 00:50] cdrikd commented on #1513
Hi @tomciopp ,
I made a test with your example and i don't find the same result : minutes : 1439 and hours: 23.
Could you test it : [Example](https://codesandbox.io/s/staging-sun-wjfk4).

[2019-11-01 01:00] tomciopp commented on #1513
Yep still fails with the exact same results 1499 and 24.

Here is my environment details:
macOS 10.15.1 (Catalina)
Chrome: Version 78.0.3904.70

[2019-11-01 01:03] tomciopp commented on #1513
I think you may be getting a different result based on your location. Daylight savings time is on November 3rd in the USA and I think it may fall on a different day in France. Can you try October 27th 2019 instead?

[2019-11-01 09:08] cdrikd commented on #1513
The end of day is set to 23:59:59.999 so in a normal day the differenceInHours return 23 hours (0h0m0s -> 23:59:59.999). The difference is calculate in milliseconds so for 1 milliseconds it don't reach the 24 hours.  So when the winter changing time day (3am -> 2am), you add 1 hour and it's 24 hours. For the daylight (29/03/2020 in France) the diff is 22h (2am -> 3am).

[2019-11-01 11:49] fintara commented on #1442
Hi,
If you don't mind, I've created a PR #1522 since I need this functionality.

[2019-11-01 16:33] MammaSonnim opened #1523 "formattingMonthValues abbreviated in RU locale doesn't work properly"
Hello!

`format(date, 'D MMMM')` works fine – returns months in the genitive case for example `1 мая`, `2 марта`, `3 ноября`.

There is trouble with `format(date, 'D MMM')` – it returns abbreviated month in nominative case `1 май`, `2 март`. Expected behaviour is returning `1 мая`, `2 мар.`, `3 нояб.`.

[2019-11-01 16:36] #1523 closed

[2019-11-01 16:37] MammaSonnim commented on #1523
Clones https://github.com/date-fns/date-fns/issues/1260

[2019-11-01 17:33] dotpegaso commented on #1521
Solve this using [react-native-v8](https://github.com.cnpmjs.org/Kudo/react-native-v8)

[2019-11-01 17:41] redbugz opened #1524 "Convert Malay (ms) to v2"
We need Malay support and are willing to help convert it to v2 unless someone more familiar is willing/able to do it.

[2019-11-01 17:50] redbugz opened #1525 "Albanian language support"
We need Albanian (sq) language support and are going to see if our translation group can provide us this information.

[2019-11-01 21:50] strarsis opened #1526 "Support milliseconds returned from Date::getTime() (in fromUnixTime or separately)"
Recent `date-fns` `2.6.0` is used.

Let's take the UNIX timestamp from today (at time of writing):
[code]
For 01.01.2019 22:44 (approximately) this would be `1572644655083`.

Let's pass this UNIX timestamp to `date-fns`' `fromUnixTime` and log it to console:
[code]
[code]
This can't be right as the year is way, way off.

Converting the UNIX timestamp `1572644655083` with a converter like [this onl

[2019-11-01 22:04] redbugz opened #1527 "running tests seems to need `TZ=utc`"
I was trying to run the tests as documented in the Contributing guide. But I was getting 11 test failures on a clean checkout. After noticing that `yarn build-snapshots` sets TZ to utc, I tried that, and the tests pass.
Assuming this is correct, that tests need to be run in UTC, what is the best way to document or make the tests run that way consistently?
I tried `env TZ=utc yarn test --single-run

[2019-11-01 22:31] redbugz commented on #1526
I think unix time is in seconds, but `Date.getTime()` is in milliseconds. So I think you could do something like this:
[code]

[2019-11-01 22:54] strarsis commented on #1526
@redbugz: IMHO it would be a nice addition to `date-fns` `fromUnixTime` to automatically handle millisecond UNIX timestamps, or offer an option or separate method. Sure, it is just `/ 1000`, but a function that just can handle millisecond UNIX timestamps without any would be better.

[2019-11-02 00:05] redbugz opened #1528 "syntax error running build"
When running  a build:
`./scripts/build/build.sh` I am getting this syntax error:

[code]
I'm not familiar enough with TS namespaces or how the typings are getting generated to understand this error. It certainly seems like `: [ 'Array' ].<Date>` is not a valid return type, but not sure why it's getting generated this way.

[2019-11-02 05:50] dkozickis commented on #1528
Hi @redbugz, what's your setup like? OS?

[2019-11-02 05:51] dkozickis commented on #1524
Pinging anyone in @date-fns/i18n-ms

[2019-11-02 05:55] dkozickis commented on #1523
@MammaSonnim you were using v1 here, right?

[2019-11-02 06:00] dkozickis commented on #1517
Behaviour is consistent between all `add...` functions, changing way seconds argument is treated (not casting to integer or throwing an error) would be a BC break, requiring a major version release, I don't think @kossnocorp & @leshakoss are up for that now.

Updating docs is the way to go here.

[2019-11-02 06:06] dkozickis commented on #1515
Duplicate of https://github.com/date-fns/date-fns.org/issues/124

Hopefully we'll get around to updating this at some point =/

[2019-11-02 06:06] #1515 closed

[2019-11-02 06:11] #1521 closed

[2019-11-02 06:15] dkozickis commented on #1024
It's a bit confusing, agreed. `a..aaa` means `any token between a and aaa` so `[a, aa, aaa]`

[2019-11-02 06:20] dkozickis commented on #1527
What is the system that you are on @redbugz?

Changing package scripts to `"test": "env TZ=utc karma start config/karma.js"` IMO is the best bte here, but I do wonder why is this happening.

Any ideas @leshakoss / @kossnocorp ?

[2019-11-02 09:55] gajus commented on #1024
What is the reason to accept multiple tokens for the same AM/PM?

[2019-11-02 10:27] dkozickis commented on #1024
Following a standard - https://www.unicode.org/reports/tr35/tr35-dates.html#dfst-period

[2019-11-02 21:43] SneakyFish5 commented on #1526
This would be a simple change, but wouldn't it be a breaking one as well? I don't know the policy on breaking changes, could a maintainer comment on this?

[2019-11-02 22:30] strarsis commented on #1526
@SneakyFish5: Would it? When the method just checks for the precision of the passed number and takes that into account when doing the calculation (`/ 10`;  `/ 100`; `/ 1000`).

[2019-11-02 23:51] SneakyFish5 commented on #1526
Currently, `fromUnixTime` takes in seconds but ironically multiplies it out to milliseconds anyways and passes that into `toDate`. To do what you ask would simply be removing the `* 1000` as far as I'm aware. This would break compatibility though, because you would now be passing in solely milliseconds, not seconds. However I don't understand what you mean by precision checking in the argument. Co

[2019-11-03 01:01] SneakyFish5 commented on #1527
I'd also like to chime in that this exact things happen for me as well when running `yarn test`. Exactly 11 failures due to TZ.

[2019-11-03 12:46] dkozickis commented on #1527
@redbugz & @SneakyFish5 - what's your timezone please?

[2019-11-03 12:58] leshakoss commented on #1526
Guys, there's no need for that at all!

[All date-fns functions](https://github.com/date-fns/date-fns/blob/master/src/differenceInMonths/test.js#L24-L30) can receive milliseconds timestamps instead of dates. That's what [`Date|Number`](https://github.com/date-fns/date-fns/blob/master/src/differenceInMonths/index.js#L17) means in type signatures in docs.

If you just want to create a date from ms t

[2019-11-03 12:58] #1526 closed

[2019-11-03 17:03] SneakyFish5 commented on #1527
My timezone is UTC -6 hours.

[2019-11-03 17:32] Zyten commented on #1524
I'll work on it this week. I notice that Indonesian locale has already been ported. Should be able to use that as the baseline.

[2019-11-04 01:50] kossnocorp commented on #1527
@redbugz @SneakyFish5 tests should work in any timezone, unlike snapshots that capture specific values that can't differ. Please provide your full zone name, i.e. `Asia/Makassar`.

You can run this command in Node.js or browser console:

[code]

[2019-11-04 08:02] dkozickis commented on #1524
Thank you @Zyten!

[2019-11-04 16:12] green-arrow commented on #750
@leshakoss - It looks like `toDate` in v2 doesn't take a string, and recommends using `parseISO` for strings. The problem is that client input will most likely not be in ISO format. I don't see a function that takes in an arbitrary string and guesses the input and returns a `Date`. Am I missing something or is there another recommended approach for parsing client input as a Date?

[2019-11-04 16:19] redbugz commented on #1528
MacOS Mojave 10.14.6, Node 12.13.0 installed via nvm, yarn 1.17.3 installed via homebrew, oh-my-zsh

[2019-11-04 16:26] redbugz commented on #1527
My timezone just switched daylight saving savings, but still fail the same.

[code]
Here are some of the failure messages:
[code]
[code]
[code]
This last one is weird because it only seems to be off by a minute?

[2019-11-04 17:47] dkozickis commented on #750
@green-arrow you can just use [parse](https://date-fns.org/v2.6.0/docs/parse)

[2019-11-04 19:51] redbugz opened #1531 "Convert Macedonian (mk) to v2"
We need Macedonia support and are willing to help convert it to v2 unless someone more familiar is willing/able to do it.

[2019-11-04 19:53] green-arrow commented on #750
@dkozickis - The `parse` method requires a `format` to be passed in. Since this is client input, I have no known format, so `parse` will not work.

It doesn't appear that there are any public methods in `date-fns` that will attempt to parse an arbitrary user input into a `Date`

[code]

[2019-11-04 20:23] andreybleme opened #1532 "Feature request: Chain method calls"
Would be elegant in terms of manutenibility and readability to be able to write chained method calls for date-fns methods in particular situations, such as this:

[code]

Instead of only providing helper functions, such as we need to do right now:

[code]

Maybe an interesting design strategy to implement this, would be to create a specific date format (just like moment.js does) and returning this

[2019-11-05 00:20] kossnocorp commented on #1532
Hey! Thank you for your feedback!

We considered this option and came up with a solution that fits date-fns better: FP composition. So instead of:

[code]

...you can (using [the FP submodule](https://date-fns.org/v2.6.0/docs/FP-Guide)):

[code]

It allows keeping functions isolated that greatly affects the build size and also encourage the functional approach. These two are the cornerstones of th

[2019-11-05 00:20] #1532 closed

[2019-11-05 00:24] kossnocorp commented on #750
@green-arrow the old parse essentially equals `new Date` or `Date.parse`, so you can keep using those.

[2019-11-05 01:34] SneakyFish5 commented on #1527
`"America/Chicago"` is my timezone.

[2019-11-05 07:30] manueledones opened #1533 "Incoherent results between documentation and date-fns console repl"
It looks like the dateFns object in the date-fns documentation pages is outdated.

For example:

![image](https://user-images.githubusercontent.com/22741818/68187244-79862800-ffa6-11e9-81f4-77b0cd9f6b28.png)

But the docs [here ](https://github.com/date-fns/date-fns/blob/master/docs/unicodeTokens.md) says to use yyyy instead of YYYY, I suppose the docs embed a version 1...

[2019-11-05 07:39] 102 commented on #1533
#1502

[2019-11-05 07:44] kossnocorp commented on #1502
Duplicate of: https://github.com/date-fns/date-fns.org/issues/124

[2019-11-05 07:44] #1502 closed

[2019-11-05 07:44] kossnocorp commented on #1533
Duplicate of: https://github.com/date-fns/date-fns.org/issues/124

[2019-11-05 07:44] #1533 closed

[2019-11-05 19:54] dkozickis commented on #1531
Maybe someone from @date-fns/i18n-mk can help

[2019-11-05 20:19] leshakoss commented on #1531
At this time the Bulgarian locale is getting finalized in a PR: https://github.com/date-fns/date-fns/pull/1522 As I understand those two languages are pretty similar, at least grammar-wise, so it could be a good idea to start by duplicating that locale and fixing the differences

[2019-11-05 20:24] dkozickis commented on #1528
I happen to have same issue on similar setup.
However, using either Node 8 or 10 works just fine.

I've narrowed it down a bit further - running `./scripts/build/docs.js` with Node v10 and then `./scripts/build/typings.js` with Node v12 works fine, so the issue seems to be how docs are build @ Node 12.

Long story short - seems that `jsdoc-to-markdown` needs a bump, as we're using own 3 years old

[2019-11-06 03:40] dcousens commented on #533
I concur that `differenceInDays` ignores DST,  but `differenceInHours`, `differenceInSeconds` account for DST.

That is to say, `differenceInDays` does not operate on the local time date.

[code]

[2019-11-06 20:56] teddy-error commented on #465
This seems to still be an issue (off-by-1) when using `addDays` & `subDays`

[2019-11-07 07:49] #1511 closed

[2019-11-07 09:19] #1528 closed

[2019-11-07 10:49] #1442 closed

[2019-11-07 11:02] #1310 closed

[2019-11-07 11:03] Djaler commented on #1310
Is there any chance to backport this fix to v1?

[2019-11-07 11:07] kossnocorp commented on #1310
@Djaler I'm sad to disappoint you, but no. Supporting both versions was a burden because of differences in build systems, so to be able to move forward faster, we decided to freeze v1. Sorry!

If you can't afford to upgrade to v2, I recommend copy-paste needed functions directly into your codebase.

[2019-11-07 11:08] kossnocorp commented on #1496
Closed by #1499

[2019-11-07 11:09] #1496 closed

[2019-11-07 23:54] tunnckoCore commented on #1531
Yup. They are basically the same, with few characters changed in Macedonian through the last 50-ish years.

[2019-11-08 04:22] GabrielCTroia commented on #946
I'm really curious what the reason for taking it out was as it's pretty standard.

[2019-11-08 15:03] zarko-tg commented on #1531
I could help with this when time allows...

[2019-11-08 15:50] leshakoss commented on #1531
@zarko-tg that would be great, thanks! 🙏

[2019-11-08 18:27] tanoabeleyra commented on #1510
We recently realized about this bug in one project. We're also in the GMT-3 timezone.

[2019-11-09 00:11] chumbalum commented on #1222
In non FP setting, the current implementation is weird because there are times where a string won't have a matching date value or even partial date value so that the backup date won't even come to the rescue which leads to Invalid Dates, afaik. So maybe there should be another non-functional parse "function" which can produce a result other than objects of date, maybe defined by a fallback value.

[2019-11-09 20:46] dkozickis commented on #1510
@otaviobps / @tanoabeleyra can we get your exact timezones please?

[code]

[2019-11-10 13:40] otaviobps commented on #1510
My timezone is America/Sao Paulo.

However since my project was live, I had to move to Moment, so I can't replicate this bug anymore

[2019-11-11 13:26] tanoabeleyra commented on #1510
Mine is `"America/Buenos_Aires"`. And date-fns version 2.7.0.

[2019-11-11 13:44] HERBOD7 commented on #977
@kossnocorp May I and @me-majidi work on it?

[2019-11-11 14:15] kossnocorp commented on #977
@HERBOD7 yes, please!

[2019-11-12 12:20] taschetto commented on #644
I created an array of short weekday names using the following code:

[code]

Using `date-fns@2.7.0`.

[2019-11-12 12:52] emil9453 commented on #1153
Hello! Can you please reopen this issue? I want to fix it.

[2019-11-12 17:04] mlieu commented on #1302
If it lags one hour, then is there no way to get the previous day at the same time without having to keep track of the days (and ignoring the local time change)? It sounds like I would always need to check when to add/sub 24 hours vs. 25 or 26 hours to make up for the time change?

[2019-11-13 11:29] akanshgulati commented on #1231
@leshakoss Any update as I am also facing the same issue. Not able to understand by examples what's the major difference. Even, I referred this document https://unicode.org/reports/tr35/tr35-dates.html

[2019-11-13 11:52] leshakoss commented on #1231
@akanshgulati  you mean the difference between formatting and stand-alone tokens? Those are locale-specific. In some languages you should modify, for instance, a word for a month to use it in a sentence. For example, stand-alone word for November in Czech is "listopad":
[code]

But if you want to put in in a sentence in combination with day of the month, you put it into the genetive case "listopad

[2019-11-13 14:23] empperi commented on #376
I'm kinda surprised this is still open after almost 3 years but I'll add my opinion on this.

As far as I see it, there definitely should not be separate UTC functions for everything. Instead, each and every function in the whole library should accept timezone as parameter (via options) and that should be respected.  The `date-fns-tz` library doesn't really solve anything else than formatting issu

[2019-11-13 14:29] kossnocorp commented on #376
@empperi I appreciate the input but what you propose will significantly increase the build size and that's definitely what we want. We're looking into an alternative solution with inheriting from `Date` but it's early in development.

[2019-11-13 14:49] empperi commented on #376
I understand although I got to say I would highly prefer a consistently working library over minimal footprint. Hope you'll get this sorted out quickly since this is a major issue in `date-fns`.

[2019-11-13 14:57] lukepighetti opened #1539 "getYear returns incorrect year"
Repro:

[code]

[2019-11-13 21:02] akanshgulati commented on #1231
Thanks. It will be great if the same can be added to readme.

[2019-11-14 08:33] kossnocorp commented on #376
@empperi working within local timezone covers the overwhelming majority of the use cases, so the minimal footprint will always be the priority over the convenience of working with time zones. I'm aware that for the ones who do need timezones, it's a significant issue, so that's still a priority for us.

[2019-11-14 18:33] dkozickis commented on #1153
Thank you @emil9453, have fun :)

[2019-11-16 03:22] justinvos commented on #1510
Same issue here, and my timezone is Pacific/Auckland. With date-fns version 2.7.0 and node 10.17.0.

[2019-11-18 04:19] palaparthi opened #1541 "Twitter style format"
Is there a helper similar to `formatDistanceToNow` but returns single character for time like `1m`, `8h` for 1 minute ago and 8 hours ago respectively?

[2019-11-18 15:12] essedger opened #1543 "Incorrect time selector localization"
Incorrect time selector localization. Localized only in English. Tested on KK and RU languages. [example](https://i.imgur.com/FkzObsR.png)

[2019-11-18 18:20] canvaspixels commented on #533
differenceInDays(new Date('2019-01-17T00:00:00.000Z'), new Date('2018-10-08T00:00:00.000Z')) for me returns 100 for me in my node environment (using date-fns 2.7.0) right now (current date 18/Nov) from London, UK.

When I set TZ=UTC environment variable before running the script it, it returns 101 which is what I expect.

[2019-11-18 18:27] victormoukhortov commented on #533
@canvaspixels how would you expect the difference in days to be different based on time zone? two timestamps should always have the same difference regardless of timezone.

[2019-11-18 20:29] dcousens commented on #533
@victormoukhortov each `difference*` function uses local time to calculate the difference - except `differenceInDays`.  This means rudimentary date math doesn't add up, and this difference is not documented.

[2019-11-18 21:18] victormoukhortov commented on #533
This seems like a fundamental breach in expectations. The difference between two points in time is fixed and does not change. The `difference*` functions should convert _from_ and _to_ times to UTC before calculating the difference.

[2019-11-18 22:34] dcousens commented on #533
Maybe.  But most times I want the local time difference.  Maybe `differenceInLocalTime*` could be provided.

[2019-11-18 22:40] victormoukhortov commented on #533
@dcousens I'm curious what your use case is for wanting the difference between two points in time to vary depending on your time zone. Say you have something - say a soccer match - that starts in two days. The obvious use case is to calculate the difference between the current time and the match start time. This difference is the same regardless of what time zone you happen to be in.

[2019-11-18 23:04] dcousens commented on #533
In a DST change-over,  a user typically expects to see the "number of days" between 8am today and 8am tomorrow, to be 1 day.

[2019-11-19 03:28] #1524 closed

[2019-11-19 09:26] canvaspixels commented on #533
Exactly, that's what i'm saying. If i'm passing those 2 dates, that explicitly include the timezone the answer should always be the same, in this case 101. But what confuses me further is that i'm on GMT right now which is the same as UTC. So i've no idea why it returns 100.

[2019-11-19 09:28] canvaspixels commented on #533
Oh, is your question around if I didn't pass the timezone?

[2019-11-19 13:23] #1543 closed

[2019-11-19 13:33] kossnocorp commented on #1127
I still thinks it's a good idea, why did you close it @axetroy?

[2019-11-19 13:39] Imballinst commented on #1386
This feature is now live with the merging of https://github.com/date-fns/date-fns/pull/1536. The docs is up there with the latest release, as well! 🎉

![image](https://user-images.githubusercontent.com/7077157/69151154-33949c80-0b2e-11ea-9fef-f20a873a5b25.png)

[2019-11-19 13:39] #1386 closed

[2019-11-20 05:00] snewcomer commented on #284
Perhaps this helps ppl with similar requirements as I did (only hours, minutes, seconds).

Here is a solution to convert a duration to `hh:mm:ss`

[code]

To convert to ISO Time with only hours/minutes/seconds

[code]

[2019-11-20 10:43] omonk commented on #840
@mvsmal - can you share your own solution in the issue? I appreciate its been quite a while but would be good to share for others who come across this issue! 😄

[2019-11-20 17:55] luchillo17 commented on #1487
Is it though? i'm still getting this issue:
![image](https://user-images.githubusercontent.com/9698639/69264277-fadbde00-0b94-11ea-9663-35e1ef176aad.png)

[2019-11-21 07:18] jwang-navarik opened #1544 "formatRFC3339 returns wrong format"
Different from what's described in https://date-fns.org/v2.8.0/docs/formatRFC3339, instead of returning

`const result = formatRFC3339(new Date(2019, 8, 18, 19, 0, 52))
//=> '2019-09-18T19:00:52Z'`

formatRFC3339 returns
`2019-09-18T19:00:52-0700`

My env is running React 16.8.6 and node v10.16.0.

[2019-11-21 07:45] jwang-navarik commented on #1544
Sorry, my bad of misunderstanding time zones.

[2019-11-21 07:45] #1544 closed

[2019-11-21 08:13] lohithdhanakonda opened #1545 "Need Romanian (Ro) language support"
I trying to use 'ro' locale and I am getting "Error: ro locale is currently unavailable. "
Can you look into it. I couldn't find a ticket on this Romanian language update.
![ro](https://user-images.githubusercontent.com/23074579/69319248-d3544680-0c64-11ea-89ff-44f35302e3a9.PNG)

[2019-11-21 10:19] Manduro opened #1546 "Parsing '1/1/12' with 'M/d/yyyy' results in year 0012, while I expect 2012"
Imagine a date input field where the user can enter a date manually. When entering the 1st of January 2012, one user might enter '1/1/2012' while another enters '1/1/12'. Currently it seems there is no way to have date-fns parse this with a single format.

When using the `yy` format, the 12 will be parsed as expected, but 2012 will be invalid:
`parse('12', 'yy', Date.now())`: 2012
`parse('2012', '

[2019-11-21 18:08] jwang-navarik opened #1548 "formatRFC3339 return incorrect offset format"
Based on https://tools.ietf.org/html/rfc3339, offset needs to include ":"

`time-numoffset  = ("+" / "-") time-hour ":" time-minute`

In my case, using example in https://date-fns.org/v2.8.0/docs/formatRFC3339:

`const result = formatRFC3339(new Date(2019, 8, 18, 19, 0, 52))
//=> '2019-09-18T19:00:52Z'`

I got the following and note the offset (0700) returned from formatRFC3339() is missing ":" (e

[2019-11-22 01:13] Imballinst commented on #1548
ohh yeah, my bad on this part. I missed that ":". I can work on this!

https://github.com/date-fns/date-fns/blob/6fe156d4da63b785bffafe3f3ee91686210efcfb/src/formatRFC3339/index.js#L86

[2019-11-22 04:29] kossnocorp commented on #1546
Parsing is intentionally strict to avoid ambiguous results. Instead, you should prepare a list of possible formats and loop the input through them until you get a valid date. Ping me if you have more questions.

[2019-11-22 04:29] #1546 closed

[2019-11-22 04:55] #1548 closed

[2019-11-22 06:33] kossnocorp commented on #1548
I've released the fix for the issue with `v2.8.1`: https://github.com/date-fns/date-fns/releases/tag/v2.8.1

[2019-11-22 07:02] kossnocorp commented on #1539
You can see that creating a date with a string and numbers is different:

[code]

In the first example, the date is parsed in UTC. In the second example, it created it in the local time zone. date-fns performs all operations in the local timezone, and since you're behind UTC, you're getting 1973.

[2019-11-22 07:02] #1539 closed

[2019-11-22 08:49] kossnocorp commented on #1301
I decided to close this one as it doesn't bring much value and still could be used as a reference for v2 locales. Also, see: https://github.com/date-fns/date-fns/pull/1454#issuecomment-557446481

[2019-11-22 08:49] #1301 closed

[2019-11-23 10:01] axetroy commented on #1127
@kossnocorp
Because date-fns is written in es6, deno is easily compatible

No need to add extra files to use

The only problem is that the declaration file is not loaded correctly.

Deno is exploring a better loading mode, so it’s too early to discuss this.

[2019-11-23 14:24] #1545 closed

[2019-11-25 21:24] lukepighetti commented on #1539
Thanks for the explanation and I support closing this issue.

[2019-11-25 22:48] kossnocorp commented on #1539
@lukepighetti you're welcome!

[2019-11-27 13:50] bagaskarala opened #1550 "Bug on formatDistanceToNow"
When i use format distance from now (example 2019-11-27 20:49) to date 2019-11-26, it show **2 days ago**

[2019-11-28 22:30] lefrankleal opened #1551 "startOfDay return me 5 hours"
Hey guys,

Actually am using v2.8.1

this
``` startOfDay(new Date()) ```
return
```2019-11-28T05:00:00.000Z```

[2019-11-29 17:57] sclavijo93 opened #1552 "How to format this string?"
Hi! I'm really confused on how can I parse this string:

`Fri Nov 29 2019 14:44:00 GMT-0300 (Paraguay Summer Time)`

Can somebody help me, please?

Context:
I'm using material-ui/pickers, formik and Yup and I would like to test if a date is after or before another date. This is the code I'm working on:
[code]

This is the output in the console:
[code]

[2019-12-02 01:17] tanoabeleyra commented on #1510
Any update on this?

[2019-12-02 05:07] Arman92 commented on #977
If you needed some help please do let me know. I'm looking forward to have jalali calendar with date-fns.

[2019-12-02 08:30] freewind opened #1554 "Consider add a 'improve doc' link in doc pages?"
When I read the docs, e.g. https://date-fns.org/v2.8.1/docs/Time-Zones , I found some example code has errors (The pattern `'D.M.YYYY HH:mm:ss.SSS [GMT]Z (z)'` in the that page is not valid), but can't find a place to post comments.

I also find several other minor issues in the documents too. Consider add a link or something to let readers add comments?

[2019-12-02 08:43] 102 commented on #1554
It looks like time zones docs for the site are taken from this file https://github.com/date-fns/date-fns/blob/master/docs/timeZones.md

As a simple workaround for missing improve docs button, you can utilize GitHub full-text search for the repo, it works quite well (this link would still be a good DX improvement though)

[2019-12-02 08:53] amunir9 commented on #1290
Still getting this issue in Angular 8.2.14 using  "typescript": "~3.7.2".

One work around is adding

 "compilerOptions": {

    "skipLibCheck": true,

}

in tsconfig.json

[2019-12-02 08:56] freewind commented on #1554
Thanks for the information, that's a working workaround.

Noticed it doesn't work well for older versions of docs, or have questions or just want to report issues(don't know how to fix it) for some content on the page. Opening a new issue here may be too heavy and easily lose context. Maybe add something like Disqus?

[2019-12-02 18:04] kibertoad commented on #1290
@amunir9 I've tried bumping TS used for linting and tests to 3.7.2, they are both still green: https://github.com/date-fns/date-fns/pull/1556

Could you try to reproduce the problem within `examples/typescript`?

[2019-12-02 18:04] kibertoad commented on #1290
@amunir9 Also, which version of date-fns are you using?

[2019-12-03 07:31] AlokBisht commented on #564
is there any way to add this timezone settings to the jest config instead so that the snapshots generated will be in UTC (or any fix ) timezone?

[2019-12-03 10:42] Haraldson commented on #856
@kossnocorp That removes almost 300 chunks, which is great, but Webpack is somehow trying to load `.flow.js`, `.md` and other types of files even though I refer directly to `index.js` in my dynamic import statement.

Did you encounter the same, and if so, how did you solve it?

[2019-12-03 15:58] TheAifam5 commented on #816
I would be happier with a global configuration for date-fns :) Not only locale but default formats, and everything which is set currently "by-default".

[2019-12-06 14:04] marc1404 opened #1557 "[BG] Short month format result equals wide month"
**Locale:** Bulgarian
**Version:** `2.8.1`

# What is expected?
When I format a month with the short token `MMM` and the long token `MMMM` the result should be different.

# What is happening?
The result of the short format always equals the long format. This behavior differs from all other locales.

# How to reproduce?
[RunKit](https://runkit.com/embed/pdj3jmjlfnf4)

[2019-12-06 15:50] JackGarrus opened #1558 "How to format a date from RFC3339 to 'dd/MM/YYY - HH:mm'?"
The server returns dates in RFC3339 format and I need to display them as pointed in the title. In the docs there is only the function that formats the input to RFC339 format but not the opposite, so I've tried to:

- parseISO(the RFC3339 date returned, which is a string)
- parse(the result of parseISO, 'dd/MM/YYY HH:mm', new Date()) -> but this returns me 'Invalid date'

So what can I do?

[2019-12-06 23:10] Imballinst commented on #1558
Here's what I do:

[code]

(I live in GMT+11, so the result is 11 hours ahead from UTC).

General rule of thumb:

1. `parse` is used to convert `string` to `Date`
2. `format` is used to convert `Date` to `string`

Let me know if this helps!

[2019-12-09 00:37] aryzing opened #1559 "formatISO omitting final `Z` character in dates"
An ISO date should have either a time offset or `Z` appended to the end. Omitting this `Z` character causes the date as being relative to the host machine's timezone. When performing operations across time zones, this is problematic.

[2019-12-09 08:45] JackGarrus commented on #1558
@Imballinst thank you for your response but it didn't change anything. When I call the parse function I still get 'invalid date'.

The RFC3339 date that I have is a string containing: '2017-12-15T12:00:00+0100'

[2019-12-09 09:27] JackGarrus commented on #1558
UPDATE: I've done it. Here is the solution for who is having the same isssue (time localized in italian):

`import parseISO from 'date-fns/parseISO';`
`import it from 'date-fns/locale/it';`
`import format from 'date-fns/format';`

`function renderFormattedDate() {`
   `    let toISODate = parseISO('2017-12-15T12:00:00+0100');`
 `    return format(toISODate, 'EEEE d LLLL y - H:mm', {`
   `    local

[2019-12-09 09:27] #1558 closed

[2019-12-09 12:47] marc1404 commented on #1557
I was able to fix my issue by doing the following:
[code]
Is this intended? Am I using the library/locale in a wrong way?
@arvigeus @fintara

[2019-12-09 13:29] fintara commented on #1557
The issue is in `monthValues`, it should be `abbreviated` instead of/in addition to `short`. I will provide a PR shortly.

[2019-12-09 13:30] marc1404 commented on #1557
Awesome, thanks @fintara

[2019-12-09 23:38] lizlux opened #1561 "Month ordinal gives wrong / inconsistent output"
Calling this code: `format('2019-12-10', 'do MMMM YYYY');` returns this value: `2nd December 2019`. If I change the format to `Do MMMM YYYY` I get the expected response `10th December 2019`. The docs say that `do` is for `Day of month` whereas `Do` is for `Day of year`, so either the docs or the code is incorrect. I'm using version `1.30.1`

[2019-12-10 04:52] 102 commented on #1561
It looks like you're looking into the `v2` docs, in `v1`:

* `do` is used for `Day of week`
* `Do` is used for `Day of month`
* `DDDo` is used for `Day of year`

Source:
1. [v1 (1.30.1) docs](https://date-fns.org/v1.30.1/docs/format)
1. [v2 (2.8.1) docs](https://date-fns.org/v2.8.1/docs/format)

[2019-12-10 06:00] lizlux commented on #1561
Ahh okay that make sense then. Thanks for such a quick response!

[2019-12-10 06:00] #1561 closed

[2019-12-10 10:43] CyrusZei opened #1562 "Swedish i18n"
If you look at the doc you can see that you can see that the weekdays first letter starts with uppercase,
But If you read the [sv doc](https://github.com/date-fns/date-fns/blob/master/src/locale/sv/snapshot.md) they totally ignore that.

[2019-12-11 09:00] aphofstede commented on #352
Are these exposed/exported somewhere though?

[2019-12-11 14:54] Lonelind commented on #1551
Are you in the -05:00 Timezome?

[2019-12-11 16:04] pascaliske opened #1564 "[bug] Parsing yields Invalid date for month `maio` using locale `pt`"
If I use the `parse` function in combination with the locale `pt` to parse portuguese dates it fails to parse all dates containing month "maio" (month may).

[code]

I looked into the source code of locale `pt` and found that the [regex for the month may of `parseMonthPatterns` seems to be incorrect](https://github.com/date-fns/date-fns/blob/master/src/locale/pt/_lib/match/index.js#L54). Shouldn't

[2019-12-11 19:21] lorenzki opened #1566 "`getWeekOfMonth()` starts at 2 when `weekStartsOn` is set to 1"
When setting `weekStartsOn` to 1 for "Monday" the returning values of `getWeekOfMonth()` start at `2` for the first week of the month, `3` for the second week, and so on.

for example:
`getWeekOfMonth(new Date(2019, 11, 1), { weekStartsOn: 1 })`

returns 2

[2019-12-11 21:23] lefrankleal commented on #1551
yes i am

[2019-12-11 22:55] davidmillercode commented on #840
Would also really appreciate this feature.

We are currently taking a datestring and `differenceInYears` is not accurate depending on the datestring format.  A function to create a date from a datestring would also suffice.

[2019-12-11 23:17] Lonelind commented on #1551
`new Date()` returns local time and the function returns local time. When there is 00:00 in your Timezone it's 5:00 am in UTC or `Z` in terms of ISO date string. So, `2019-11-28T05:00:00.000Z` equals to `2019-11-28T00:00:00.000-0500` that is start of the day in your local time.

[2019-12-12 14:47] Benew commented on #1055
Beware of `Y` also.
[code]

logs "2020-12-30 0:0:0"

[2019-12-12 20:56] drxcheng opened #1568 ""Cannot find module" happens periodically after hot reloading"
I'm using webpack/Typescript.

I have `import fromUnixTime from 'date-fns/fromUnixTime';` in another file that I'm not working on.

I periodically get TypeScript typecheck error after save, re-compile, hot-reload: `Cannot find module 'date-fns/fromUnixTime'.  TS2307`

I changed it to `import { fromUnixTime } from 'date-fns';`. But I still get the error sometimes.

my tsconfig.json:
[code]

Any ide

[2019-12-12 21:53] Phylodome commented on #545
As a data point, regarding the downstream consequences of this, a full-scale reversal of arg order is extremely confusing given the lack of separate documentation for the FP library.

I thought I was going insane trying to debug behavior in the `isBefore`/`isAfter` functions, but it just turns out that the whole set of args is reversed and only documented in one line of the FP guide...

At the ver

[2019-12-13 08:28] doberkofler opened #1569 "no strict parse"
It seems as if the parse function would not parse strings in a strict way.
When for example using `parse('2019-12-31T23:24:25.00', 'yyyy-MM-dd\'T\'HH:mm:ss.SSS', new Date())`, I would expect parse to assert because there the milliseconds only have 2 instead of tree digits. I'm not sure, if this behavior is a bug or on intended? If it is intended, I would be looking for some way to strictly parse d

[2019-12-13 16:44] RemiLelaidier opened #1570 "Locale typescript interface don't match the implementation"
When i look into type `Locale`, i see that :
[code]

Then when i inspect Locale on runtime, i see that `date`, `time` and `dateTime` are not defined and when i check into node_modules, i see that implementation doesn't match the given interface.
[code]

The interface must be deprecated ? Or the implementation is missing some functions ?

[2019-12-13 21:17] thomasnunez commented on #376
You can install momentjs...
Convert the string representation of the date to an object and it should work.
i.e. "selected={moment(createDate).toDate()}"

[2019-12-13 21:18] fcaldera opened #1571 "parse returns invalid date for et locale"
The `parse` function return invalid date for the months of January, June, July, and December for Estonian locale (et). I wrote this simple script in order to help me find the months with problems, using as `parse` input the corresponding `format` output:

[code]

**Output**

[code]

[2019-12-16 06:40] TrevTheDev commented on #1282
@kossnocorp  - I have the same problem.  It seems like date-fns is not playing nice with node modules.

[2019-12-16 18:01] zacheryph commented on #376
I am pretty sure this belongs here. I have noticed this lead to very basic issues regarding formatting. This is probably well known. This shows completely wrong values within `@material-ui/pickers` as well as when I search for a `type: "date"` field within `material-table` I will get results for the day previous of the date i entered.

An issue this simple is kind of frightening to exist this long

[2019-12-17 03:50] kossnocorp commented on #376
@zacheryph thanks for reporting, but that's a JavaScript quirk. When you parse the date string, it converts the date to UTC, but that's unrelated to this issue, which is not actually an issue but a feature request.

To parse a date in a local time zone I recommend to use `parseISO`:

[code]

[2019-12-17 03:52] kossnocorp commented on #376
I appreciate everyone's input, but to avoid unrelated discussions, I'm locking the issue. If you want to share your use case, opinion about how it should work or whatever, please do it in the community chat: https://spectrum.chat/date-fns

[2019-12-17 12:41] muratcorlu commented on #669
I think we need to have something similar to [`moment.parseZone()`](https://momentjs.com/docs/#/parsing/parse-zone/)

[2019-12-17 13:39] muratcorlu commented on #1551
Do you know a workaround to get start of (day|week|month) in UTC, not in local time? @Lonelind

[2019-12-17 16:28] ozluy opened #1572 "formatDistanceStrict calculates wrong"
[code]
formats as `3600 seconds`

while

[code]
formats as `1 hour`

[2019-12-18 07:32] jpodpro commented on #1559
just noticing this too. isn't the whole point of iso8601 that it must have a time-zone specified also?

[2019-12-18 11:32] Imballinst commented on #1559
Hmm, back then we only took the date, time, and datetime as the scope (see http://support.sas.com/documentation/cdl/en/lrdict/64316/HTML/default/viewer.htm#a003169814.htm). We can add timezone if it is needed.

I think the reason we thought that it was okay to omit timezone because ISO8601 is mostly in UTC (?) cc: @leshakoss

[2019-12-18 11:43] kossnocorp commented on #1559
I believe the full output should contain the timezone. I didn't think about that when I was looking at the PR. Not sure how it fits the API though.

[2019-12-19 00:32] hernansartorio commented on #1287
@leshakoss can you explain the reasoning behind that design?

`startOfWeek` and `endOfWeek`, for example, also allow a `locale` object. If I'm working with a locale where the week starts on Monday, it would make a lot of sense that `getDay` also accepts a `locale` and returns the day according to that `locale`.

[2019-12-19 05:25] kossnocorp commented on #1287
@hernansartorio ["please" would be helpful](https://github.com/kossnocorp/etiquette#dont-demand).

First of all, day (just like a month) is an index number, so it should be static and always point on the same entity. Week, year, and quarter, unlike day and month, are relative to the used calendar system. For example, 2005-01-01 might give you 2004 year if you ISO week numbering calendar.

Secondly

[2019-12-19 10:05] Ghostfly commented on #1570
One day to do it :

To retrieve formatters :
[code]

For convert :
[code]

[2019-12-19 10:06] RemiLelaidier commented on #1570
Thanks you

[2019-12-19 14:26] #642 closed

[2019-12-19 14:51] amatzon opened #1573 "Maltese (mt) language support"
I'll create a locale for this interesting and unique language with the help of my Maltese friends 🇲🇹

[2019-12-19 15:42] cesarvargas00 commented on #1551
@muratcorlu, `new Date().getTimezoneOffset()` gives you the offset, in minutes, of your timezone. I suggest you start from there.

[2019-12-19 16:40] hernansartorio commented on #1287
@kossnocorp sorry, I was definitely missing a “please” there. I didn’t mean to sound demanding at all.

Thanks for the explanation, that makes sense. Like you say, I was confusing getting the day of the week with getting the day number relative to the start of the week (which I ended up solving with `differenceInCalendarDays(date, startOfWeek(date, { locale })`).

Anyways, thank you for creating a

[2019-12-19 16:42] kossnocorp commented on #1287
@hernansartorio no worries, no grudge at all. I'm glad that it was helpful, and thank you so much for the kind words.

[2019-12-19 18:10] daweedm commented on #1290
+1

[2019-12-19 18:11] kibertoad commented on #1290
@daweedm can you reproduce it?

[2019-12-19 18:41] daweedm commented on #1290
No sorry, everything worked well before an update, I'm using the version 2.7.0

[2019-12-19 22:05] dmt0 opened #1574 "`format` returns wrong month and day"
Using latest version 2.8.1

Here's my code:
[code]
Input: 2019-12-18T22:14:14.704878Z
formatString: "yyyy/mm/dd hh:mm:ss"
parseISO in Chrome Debugger: Wed Dec 18 2019 17:14:14 GMT-0500 (GMT-05:00)
format returns: 2019/14/18 05:14:14

More examples:
2019-12-18T15:28:38.635353Z -> 2019/28/18 10:28:38
2019-12-18T15:27:12.604099Z -> 2019/27/18 10:27:12

[2019-12-19 22:16] #1574 closed

[2019-12-20 04:25] Imballinst commented on #1559
I can work on this issue, this weekend.

[2019-12-20 11:01] tahirdemirtas opened #1575 "isValid throws console.warn when pass the string"
I'm trying to check the date is valid or not with isValid and it returns false when I pass the string eg. '2016-01-01' But toDate function is still logging the two console warnings

First one:
`Starting with v2.0.0-beta.1 date-fns doesn't accept strings as arguments. Please use "parseISO" to parse strings. See: https://git.io/fjule`

Second one:
`Error
    at toDate (index.js:50)
    at isValid (i

[2019-12-20 11:34] danieloi commented on #701
It's no longer attached to the window 😢

[2019-12-21 02:27] r3d4rmy commented on #856
Did you ever find a way to solve this? I'm encountering the same issue.

[2019-12-25 17:30] delkawy commented on #840
My solution using date-fns

[code]

[2019-12-26 12:10] 278kunal commented on #284
Which version you are targeting to release duration and timezone support ?

[2019-12-29 14:20] pke commented on #284
I believe this feature got lost. I am creating a supplemental package `date-fns-duration` for the time being. It works with any input `date-fns` accepts and uses `date-fns` functions to add/sub ISO durations. I'll update here, once its published.

[2019-12-29 22:40] pke commented on #284
There you go: https://www.npmjs.com/package/date-fns-duration

Its meant as a placeholder until this [milestone ](https://github.com/date-fns/date-fns/milestone/8) is finished here (taking already 3 years almost now).

Happy New Year everybody. :fireworks:

[2019-12-29 22:45] pke commented on #418
I think this is out of scope for this library and would be more suited in a "duration-fns" library (which exists, but does not follow functional programming).
I'd opt to close this. Momentjs handles durations internally as different objects, so its not really comparable.

[2019-12-31 16:44] cyberwombat commented on #1559
Perhaps along the same lines - doesn't seem possible to use format with UTC either. See this SO post https://stackoverflow.com/questions/58561169/date-fns-how-do-i-format-to-utc

[2020-01-03 17:10] mikestopcontinues commented on #489
Easiest solution I've found:

[code]

[2020-01-04 05:37] piotrblasiak commented on #1571
It seems to me date-fns doesn´t have support for parsing with locales. Is this true?

[2020-01-04 05:43] piotrblasiak opened #1582 "Parse with locales possible?"
Is it possible to parse a string datetime in a specific locale, or just formatting like the manual says?

[2020-01-04 05:51] kossnocorp commented on #1571
@piotrblasiak there's support as you can see by this issue, but there's a bug in particular locale.

[2020-01-04 05:55] piotrblasiak commented on #1571
Oh great, thanks.

[2020-01-04 06:34] kossnocorp commented on #1582
Yes, please take a look: https://date-fns.org/docs/parse

[2020-01-04 06:34] #1582 closed

[2020-01-04 16:32] #1427 closed

[2020-01-04 16:52] #1503 closed

[2020-01-04 17:49] #1564 closed

[2020-01-05 08:53] enzoferey commented on #869
@dkozickis Hi ! Do you think this is a feature we want inside the library ? I have myself implemented it in my projects as it's straightforward to due with all the existing `startOf*UNIT*` functions. I would be glad to send a PR, and if you provide me some indications about how you invision it in the codebase it would be perfect 👍

[2020-01-05 09:36] kossnocorp commented on #869
@enzoferey could you please tell first how do you use this function? My concern is that such function adds extra bytes to your build size (this function would bundle 6 other functions) and that people would start using it without an actual need for it.

[2020-01-05 09:40] kossnocorp commented on #1573
Go for it!

[2020-01-05 10:31] enzoferey commented on #869
Thanks for pointing it out.

I started using this syntax because of a migration from `moment`, which uses this last argument granularity API. I do think having an API like `isBeforeByDay`, `isBeforeByHour`, etc. would make more sense inside the library. It's more explicit, you don't rely on magic strings constants and you would add to the bundle what is required (`isBefore` + `isStartOf*unit*`).

[2020-01-05 10:40] kossnocorp commented on #869
I like the idea of `isBeforeByDay` and similar (but `isBeforeDay`, `isAfterWeek` names will be more fitting), so you or anyone else feel adventurous, feel free to open PR which I'll gladly accept.

[2020-01-05 10:55] enzoferey commented on #869
I will open a PR the latest next weekend covering all `isBefore` and `isAfter` variations 👍

[2020-01-05 11:00] kossnocorp commented on #869
Nice, thank you a lot!

[2020-01-05 23:21] pin4eva commented on #1273
what is the solution to this, because i am facing the same problem

[2020-01-07 04:44] ro-savage opened #1584 "AddBusinessDays incorrect behaviour for weekends."
The [AddBusinessDays](https://date-fns.org/docs/addBusinessDays) has strange, and possibly un-intentional behaviour for weekends.

Adding 1 business day on Friday, returns Monday.
Adding 1 business day on Saturday or Sunday returns Tuesday.

For every day expect weekends, adding 1 business day returns the **next business day**. However on the weekend it returns **next business day + 1**

I believe

[2020-01-07 04:51] ro-savage commented on #1584
Codesandbox: https://codesandbox.io/s/date-fns-addbusinessdays-ksh9f

[2020-01-07 17:57] vibhayadaw opened #1585 "Support for new DST changes to Brazil Clocks"
Hi,
As per https://www.timeanddate.com/news/time/brazil-scraps-dst.html , Brazil has scrapped DST from 2019 onwards. Is date-fns handling this.

[2020-01-07 20:12] djforth opened #1586 "Welsh language support"
I need welsh language support. Will see if I can get translations for it

[2020-01-07 20:13] djforth commented on #1586
Just discovered you do have so closing - https://github.com/date-fns/date-fns/tree/master/src/locale/cy

[2020-01-07 20:14] #1586 closed

[2020-01-07 20:52] ron-liu commented on #1401
seems I have to do the same.

[2020-01-08 00:12] dcousens commented on #533
@marnusw are you open to a PR for this?

[2020-01-08 06:02] kossnocorp commented on #1401
@ron-liu what was your motivation in writing this comment? Did you want to ruin my day? I hope not, but I can't find another explanation.

There're solutions to the problem, and one very fine is listed in the comments. If you spent some time reading docs, you would find [date-fns-tz](https://www.npmjs.com/package/date-fns-tz). So clearly, it's not the lack of options that made you post it. Did you

[2020-01-08 08:44] Christilut opened #1587 "parseISO with Date argument typings"
I have input coming from the server as Date object but in a certain case, the server input is replaced by a JSON file with the same data. But since this is JSON, Date's are now strings.

parseISO still appears to work with `Date` as argument but the typings say the argument can only be `string`.

Is this just a missing type?

[2020-01-08 08:50] atilkan commented on #1401
@kossnocorp start being nice if are asking for it. He did not mean no harm obviously.
And my comment is old. He should just checked docs again. That is what you could do. Instead of giving lecrure, direct people to the docs.

[2020-01-08 08:54] kossnocorp commented on #1401
@atilkan I do it all the time as much to the best of my ability and availability. And I'm being nice spending many years working on the library and guess what, I can lecture people being rude to me as much as I want.

[2020-01-08 09:28] kossnocorp commented on #1587
Not really, `parseISO` will return `Invalid Date` [if you pass anything but a string](https://github.com/date-fns/date-fns/blob/f6920b8c5677c021ae7cb502ff8b237d294bbd6b/src/parseISO/index.js#L96-L103).

I recommend you to check the argument before processing it:

[code]

[2020-01-08 09:28] #1587 closed

[2020-01-08 09:33] kossnocorp commented on #1585
date-fns relies on the platform (browser or Node.js) when it's working with date math.

As I see the latest Chrome and Safari, consider the change. Take a look at [this Stack Overflow question](https://stackoverflow.com/questions/58522801/brazil-dst-no-longer-in-use-2020-intl-datetimeformat-returns-incorrect-uct-dat), if you open the [provided JSBin](https://jsbin.com/waxekocaqa/edit?html,js,outpu

[2020-01-08 09:35] #1585 closed

[2020-01-08 09:41] Christilut commented on #1587
Is there no easy function that accepts both string and Date? Like the old `parse` had

I tried the new parse but it requires more arguments.

[2020-01-08 09:43] kossnocorp commented on #1587
Right, the new `parse` is good for parsing strings using locales, but if you want the old parse, you can [use via `@date-fns/upgrade` package](https://github.com/date-fns/date-fns-upgrade#legacyparse) or simply use `new Date(date)`.

[2020-01-08 09:47] Christilut commented on #1587
Right, that makes sense. No helper function is actually needed in this case. I was wondering why the parse function was deprecated but in a lot of cases you can just use `new Date(..)`

Thanks!

[2020-01-08 10:09] atilkan commented on #1401
@kossnocorp Dude, he is not being rude. I suppose you are not on the mood today. Thank you for the great work though.

[2020-01-08 10:14] atilkan commented on #1401
For anyone comin here; **date-fns** doesn't support utc formats at its core but it has a solution.
Here check the docs. https://date-fns.org/v2.8.1/docs/Time-Zones#date-fns-tz

@kossnocorp  Maybe you can close the issue.

[2020-01-08 10:41] kossnocorp commented on #1587
Yeah, but also `new Date` parsing algo differs from a browser to browser, so we were getting many cross-browser bug reports from people parsing loose formats (e.g. `Jan 14`).

Another case to use `parseISO` is when you have an incomplete string. `new Date('2019-01-01')` will parse the date in UTC unlike `parseISO` that would return the date in the local timezone:

[code]

[2020-01-08 10:55] Christilut commented on #1587
Ah that's really good to know. Seems like better standard behavior than `new Date` too.

[2020-01-08 11:15] kossnocorp commented on #1401
@atilkan look, I understand that you don't see the problem and on top being annoyed by a lecture from a rando from the internet. I perfectly get it.

But try to see the problem from my side: I wake up and see that people leave date-fns. Am I not working hard enough? Is it so bad? It stings and puts unnecessary pressure, which is not helpful and only makes me (and other maintainers) procrastinate i

[2020-01-08 11:17] kossnocorp commented on #1584
@ro-savage yup, that's not intentional behavior and seems like a bug. I'll take a look and fix it as soon as possible.

[2020-01-08 11:59] #1559 closed

[2020-01-08 12:12] atilkan commented on #1401
@kossnocorp I don't think people leaving date-fns. I advertise it as much as i can. Even though couple monts ago i had to leave, it was temporary, i always checked the news and docs.
So be patiant. This is a good library, people are coming. Don't get frustrated by haters but also listen for critics.

[2020-01-08 18:40] marnusw commented on #533
@dcousens Are you proposing to add a similar function to `date-fns-tz` that will take a DST crossing into account? If that is the case, sure.

[2020-01-08 19:58] ro-savage commented on #1584
Great. Thanks for the quick response and release!

[2020-01-08 19:58] #1584 closed

[2020-01-08 22:59] dcousens commented on #533
Actually no,  I meant fixing the [behavioral inconsistency](https://github.com/date-fns/date-fns/issues/533#issuecomment-550128891) in this library!
@kossnocorp @leshakoss

[2020-01-09 07:22] sbusch opened #1589 "`Locale.localize()` now optional, is that correct?"
Due to #1542, I cannot rely on `localize()` function being present on the Locale object, which forced me to change my implementation:

[code]

Is it correct that `localize()` is not present on all Locale implementations? The change needs to be reverted for all mandatory Locale properties (if any).

For functions like `formatDistance` accepting partial Locale objects, IMO *their* interface should e

[2020-01-09 07:46] vitaliytv commented on #1282
[code]

[2020-01-09 10:25] bytesnz commented on #1517
v1.30.1 add functions were adding decimal values as decimals rather than integers (using `Number` instead of `toInteger` for parsing the arugment (https://github.com/date-fns/date-fns/blob/master/src/addHours/index.js#L32). I think handling the decimals is the more expected behaviour.

[2020-01-09 10:46] kossnocorp commented on #1517
@bytesnz yes, we made this change for a reason, and that is to make it consistent across the library with JavaScript behavior:

[code]

[2020-01-09 10:53] kossnocorp commented on #1589
Sorry, that was an attempt to fix [#1503](https://github.com/date-fns/date-fns/issues/1503). We actually require all locales to have every field unless you use a custom one. Sadly I didn't anticipate this issue otherwise I would not merge [the PR](https://github.com/date-fns/date-fns/pull/1542). In the next version, we plan to migrate to TypeScript so all TS-related problems will go away.

[2020-01-09 10:53] #1589 closed

[2020-01-09 11:00] bytesnz commented on #1517
Ah. I never realised that was the case. Good to know and fair enough then. Definitely worth adding to https://github.com/date-fns/date-fns/blob/master/docs/upgradeGuide.md#Common-Changes and https://github.com/date-fns/date-fns/blob/master/CHANGELOG.md#200---2019-08-20 and the docs.

[2020-01-09 11:48] lokeshcausecode opened #1590 "add/sub method: Add/Subtract the specified weeks to the given date."
In the `add` function, can we also add specified weeks like

[code]
Similarly for `sub` method.

[2020-01-09 15:39] bricejar commented on #1590
No but you can use the addWeeks method. https://date-fns.org/v2.9.0/docs/addWeeks

[2020-01-09 18:42] kossnocorp commented on #1562
In English, that's the standard to capitalize weekdays in the middle of a sentence, in Swedish apparently it's not: https://www.unicode.org/cldr/charts/32/summary/sv.html#1833

[2020-01-09 18:42] #1562 closed

[2020-01-09 18:43] kossnocorp commented on #1590
You're right, as they present in ISO 8601's durations we also should add them.

[2020-01-09 18:45] kossnocorp commented on #1568
Sorry, I don't know and I doubt that's a date-fns issue. We don't have anything that could break it.

[2020-01-09 18:45] #1568 closed

[2020-01-09 19:06] #1517 closed

[2020-01-09 19:07] kossnocorp commented on #1517
Thank you for the input!

[2020-01-10 05:10] lokeshcausecode commented on #1590
@bricejar Thanks for the answer, but I had to add months and days also on a date. Currently, I am using 3 methods for it but if `add` support weeks also, then it will be done in 1 method only

[2020-01-10 07:04] kossnocorp commented on #1590
Closed by #1592

[2020-01-10 07:04] #1590 closed

[2020-01-10 08:33] Imballinst commented on #1575
Let me see if we are on the same page:

1. You are using `isValid` with string arguments.
2. `isValid` calls `toDate` in the function (see https://github.com/date-fns/date-fns/blob/master/src/isValid/index.js#L64)
3. When the argument is a string, it will log out a warning just like what you reported (see https://github.com/date-fns/date-fns/blob/6a99c2eb5e96fd6b20d245a9e26cbe4a6adbd2b6/src/toDate

[2020-01-10 09:58] Stradivario opened #1593 "bug(format()): gives incorrect Month"
Hi there guys!

I am maintainer of https://github.com/rxdi/xmigrate which is a Migration library written in Typescript for mongodb. Inside the library there is a method which creates `Migration template` for different versions of javascript(ES2015, ES6, Typescript).

When we create migration as a file we give it a name which is `Now`.

I am using that logic to handle conversion of Date to specific

[2020-01-10 11:13] kossnocorp commented on #1593
Hi, you used token for minutes `mm` instead of months `MM`.

[2020-01-10 11:13] #1593 closed

[2020-01-11 00:18] panczarny commented on #993
Hmm, this link doesn't work 🧐

[2020-01-13 11:07] Stradivario commented on #1593
@kossnocorp Thanks ! Have a great day! :)))

[2020-01-13 11:08] kossnocorp commented on #1593
I appreciate the kind words!

[2020-01-14 01:34] scrozier commented on #1273
I too have the same problem and don't understand from this thread how the locale is to be set or referenced.

[2020-01-14 19:21] piotrd commented on #993
Indeed, despite the fact that both forms are being actively used in polish language, only the genitive form is formally correct. Therefore I think that should be reflected in date-fns.

[2020-01-14 19:47] piotrd commented on #993
And it seems like this issue is outdated, because (at least with the latest date-fns version) it works as expected:

[code]

[2020-01-15 06:09] kossnocorp commented on #993
Right, as I see we've fixed it. Thanks, @piotrd!

[2020-01-15 06:09] #993 closed

[2020-01-16 03:23] yckbilly1929 opened #1596 "addMonths behavior for February is broken or different?"
from looking inside the library, it says that
// Set the last day of the new month
// if the original date was the last day of the longer month

example of test cases:
<img width="585" alt="Screenshot 2020-01-16 at 11 20 22" src="https://user-images.githubusercontent.com/12884758/72490559-78009800-3852-11ea-8e40-4e01e8b76a2c.png">
<img width="738" alt="Screenshot 2020-01-16 at 11 20 47" src="https

[2020-01-16 07:03] yckbilly1929 commented on #1596
my bad

i misunderstood the behavior

addMonths() from last day of a month of source date will not result in last day of a month of the target date

[2020-01-16 07:03] #1596 closed

[2020-01-16 07:25] lolgesten commented on #1510
Repro in GMT+11

[code]

[2020-01-16 09:00] lolgesten commented on #1510
I think I understand the problem.

date-fns uses this technique in a lot of tests, and also some places in the actual functions.

[code]

The problem is that `setFullYear` is both sensitive to daylight savings. Here's a simple test I ran while my computer was on the date 2020-01-16  in three timezones. Madrid, India and Australia.

[code]

### Madrid

[code]

### India

India doesn't do DST.

[cod

[2020-01-16 12:00] bnss opened #1597 "Weird format when using Spanish formatRelative"
When using `formatRelative` and the Spanish locale, it shows the Month (`L`) and the Milliseconds timestamp (`T`) instead of the more commonly used Long localized time (`p`).

So I get:
[code]
instead of:
[code]

It seems to me that this is not a desired format.

It also only happens when the hour is `01:00:00`:
- Singular: `lastWeek: "'el' eeee 'pasado a la' LT",`
- Plural: `lastWeek: "'el' eeee

[2020-01-16 17:28] mihai-osvat opened #1600 "Can't import ro locales"
Hi, I'm using version 2.9.0, and I'm importing:

`import { ro } from 'date-fns/locale';`

Everything works fine in development mode, but when I build for production, I get these errors:

`"export 'ro' (imported as 'i19') was not found in 'date-fns'
    at HarmonyImportSpecifierDependency._getErrors (D:\@Work\NodeJs\nl-techup\uBid\uBid-App\node_modules\webpack\lib\dependencies\HarmonyImportSpecifie

[2020-01-16 18:20] icleolion opened #1601 "Fate of v1 parse implementation in v2 docs"
parseISO v2 documentation currently states

parse v2 documentation currently states

I've just started upgrading to v2, so going just by the documentation I would say that parseISO is correct, and parse documentation should be updated to say

[2020-01-17 07:26] ali-heydari-1989 opened #1602 "Farsi language support"

[2020-01-17 09:39] lmammino opened #1603 "Feedback for the website :)"
This tweet: https://twitter.com/loige/status/1218104381972930560

[2020-01-17 12:03] sbwrege2z opened #1604 "Should startOfISOWeek be Local Timezone?"
"The result will be in the local timezone."

This has caused me some problems.  I am currently Eastern Standard Time (GMT-0500).

So new Date('2020-01-13T00:00:00.000Z') is "Sun Jan 13 2020 00:00:00 GMT-0000" or "Sun Jan 12 2020 19:00:00 GMT-0500".  This is not ambiguous.

The thing that is causing me problems is that the startOfISOWeek has 2 different answers (a week apart) depending on the local

[2020-01-17 14:31] LinusU commented on #1281
Just wanted you to know that this is still present, and it's quite annoying when using date-fns in a pure Node.js project when using VS Code.

<img width="530" alt="Screenshot 2020-01-17 at 14 25 34" src="https://user-images.githubusercontent.com/189580/72619459-3ac10680-3935-11ea-820a-5fad6f5ffbf1.png">

Note that this is not a TypeScript file, just a normal JavaScript file. So I cannot work arou

[2020-01-17 14:34] LinusU commented on #1281
btw. the change I outlined above should make it work both with or without `esModuleInterop`. It also shouldn't affect any current usage, since the TypeScript definitions will stay exactly the same, and since the function will still be assigned to `module.exports`.

[2020-01-17 16:17] lukewlms opened #1606 "Rename parse's backupDate argument to referenceDate"
The naming "`backupDate`" seems strongly to indicate that this date will be used as a "backup" when parsing fails.  However this is not what happens - instead, failure returns Invalid Date.

It seems to me that this data parameter is being used as a reference where needed.  E.g. if a time is missing, it can be gotten from the reference; if the year is 2 digits and therefore unclear, we reference t

[2020-01-17 23:54] icleolion commented on #1606
Created a PR for this as I agree.  `backupDate` was initially confusing for me too.  A different name could potentially be clearer.  The PR changes it to `referenceDate` as you've suggested, although I was tempted to go with `contextDate` instead.

[2020-01-20 08:36] davidspiess commented on #1589
Same problem. No chance to get a bugfix release until the TS release is ready?

[2020-01-22 05:18] akash-rajput commented on #1590
As there are only 7 days in every week we can simply do `add(new Date(), { days: 7 })`

[2020-01-23 15:25] Fortidude commented on #1575
Well.. passing it with parseISO makes no sens...

https://date-fns.org/v2.9.0/docs/isValid

Name | Type | Description
-- | -- | --
date | * | the date to check

you should change the documentation, or remove the error and just return false. Ofcourse in my opinion.

[2020-01-23 15:57] lukewlms opened #1608 "Suggestion for eachDayOfInterval: Improve clarity by supporting { first, last }"
The term "end" has a great deal of ambiguity around it, as it is not clear whether it is inclusive or exclusive.  In contrast, "first" and "last" are totally clear - `last` indicates that this should indeed be the last day in the array.

For example, in Gmail's autoresponder feature, they used to use "End Day" but finally renamed it to "Last Day" to be clear about whether the autoresponder will ac

[2020-01-23 22:14] SephReed opened #1609 "yyyy does not work"
Code: `format(Date.now(), "yyyy/M/D")`

Output: `yyyy/1/23`

[2020-01-24 01:28] Imballinst commented on #1575
@Fortidude good catch. I think what you said makes sense. In that case, I think this is the line where we would want to change the `*` to `Date | Number`?

https://github.com/date-fns/date-fns/blob/62eecac8247f33dd77e059803191811a3519cc6d/src/isValid/index.js#L42

[2020-01-24 04:04] kossnocorp commented on #1609
What is the library version you're using? Also please provide the complete example with the demonstration of how you import the function.

[2020-01-24 04:15] kossnocorp commented on #1608
Hey! Thank you for the suggestion, but start and end are the terms coming from ISO 8601, and I prefer to stick to a standard.

I agree that `last` is apparent in some instances primarily when you deal with days, but it's doesn't make much sense when you work with a time interval, for example, the interval of the [civil twilight](https://en.wikipedia.org/wiki/Twilight#Civil_twilight).

I think we s

[2020-01-24 04:15] #1608 closed

[2020-01-24 04:24] kossnocorp commented on #1606
I like the idea. The reference date is clearer. Thanks!

[2020-01-24 10:07] Fortidude commented on #1575
Yes, changing the `*` to `Date | Number` is one of the solution 🤔   Currently it's a bit confusing - `isValid` could also return false for any type different than `Date | Number`.

[2020-01-24 14:15] Imballinst commented on #1575
apologies if I'm asking the obvious -- could you go again on this part? I thought this is intended since we can only parse `Date | Number`, so other types are not valid. Therefore, it returns `false`.

[2020-01-24 16:08] lukewlms commented on #1608
Ah, didn't realize the terms were from ISO.  Sure, I'll take a look at a docs PR.  Thank you for taking the time for a detailed explanation!

[2020-01-24 16:17] lukewlms commented on #1608
Took a quick look but didn't find the website in `./docs` - where to submit a PR?

Could be a worthwhile change to have an "edit this page" link on docs pages to ease quick contribution, if I'm not missing something.

[2020-01-24 17:29] SephReed commented on #1609
`YYYY` did work.  Maybe it's an old version.

[2020-01-25 13:38] susisu opened #1610 "DST problem in formatting date in an arbitrary time zone"
Hi,

Because `format` uses the system time zone at the argument date, it is difficult to make a timestamp in an arbitrary time zone when the system time zone has DST.

[code]

Using [date-fns-tz](https://github.com/marnusw/date-fns-tz) does not solve this problem.

[code]

Is there a consistent way to make a timestamp in an arbitrary time zone?

[2020-01-26 08:08] aprilmintacpineda opened #1611 "option to remove less than a minute on formatDistance"
[code]

Instead of showing `in less than a minute` should just be `in a minute` or something like that, basically `less than a minute` is way too long.

[2020-01-26 13:46] JacquesBonet commented on #1273
Me too same problem.

[2020-01-26 20:20] NaridaL opened #1612 "endOf* functions behavior"
Currently, the endOf* functions return 1ms before the start of the next interval, which I find unintuitive:

It seems to me `{start: startOfMinute(now), end: endOfMinute(now)}` should return an interval with a length of one minute. (not 1 minute - 1ms)

The current definition conflicts conceptually with `areIntervalsOverlapping`, which defines two intervals which "touch" as "not overlapping".

Doe

[2020-01-27 03:29] cwilby commented on #1401
I'm migrating a project from moment at the.. _moment_

I have to step away for a mome..

[2020-01-27 03:30] cwilby commented on #1401
I'm currently migrating from moment to date-fns and it's going great.  Thanks for all the hard work @kossnocorp.

[2020-01-27 21:29] michaelbirchler opened #1614 "Add "Uhr" to dateTimeFormats for DE locale"
Add "Uhr" to `dateTimeFormats` according to [DIN 5008](https://de.wikipedia.org/wiki/Uhrzeit).

[2020-01-27 23:02] #1614 closed

[2020-01-28 16:12] wldcordeiro commented on #1455
This may have regressed in v2.9.0 @kossnocorp or maybe it's happening in `parseISO` now. 🤔

[2020-01-29 02:54] kmvan commented on #1275
ISO8601 format is: `Y-m-d\TH:i:sO` in PHP.
Should be `Y-m-d\TH:i:s` ?

[2020-01-29 07:44] sovcik opened #1616 "export formatting constants from locale"
It would be nice to have a possibility to read/retrieve date and/or time formatting constants from date-fns locale.

Might be helpful especially while parsing user input - something like this
[code]

[2020-01-29 07:53] sovcik commented on #1616
sorry for bothering - should thoroughly read code first - it is there - obviously
[code]

[2020-01-29 07:53] #1616 closed

[2020-01-29 12:36] MrBlue9 opened #1618 "parseISO returning wrong time on day of offset change"
In Germany the offset will change from +1 to +2 on March 29th.
When using parseISO on a timestamp on this day the result is one hour off:

`parseISO('2020-03-28T10:00:00')   // Sat Mar 28 2020 10:00:00 GMT+0100`
`parseISO('2020-03-29T10:00:00')   // Sun Mar 29 2020 11:00:00 GMT+0200`
`parseISO('2020-03-30T10:00:00')   // Mon Mar 30 2020 10:00:00 GMT+0200`

This happens on version 2.9.0

Anyone els

[2020-01-29 13:39] nicolas-goudry opened #1619 "Unable to parse date string in given format"
Hello,

I would like to replace `moment` by `date-fns` in one of my projects.

From `moment`, I only use parse and timezone (with `moment-timezone`) functionnalities:

[code]

With `date-fns`, I tried `format` function (which seems to be what I need) :

[code]

First, I do not know if I should use `MMMM` or `LLLL` for month in locale format.

Anyway, I get following error :

``Starting with v2.0.0

[2020-01-29 14:15] leedriscoll opened #1620 "Scottish Gaelic language support"

[2020-01-30 10:52] manueledones opened #1621 "parse returns a valid (but wrong) date if formatString does not match the provided date string"
Hi,

I've found a weird behavior trying to parse a given date (e.g 01/01/20) with the parse method:

`new Date('01/01/20') => Jan 01 2020 00:00:00 GMT+0100 (Central European Standard Time)

parse('01/01/20', 'dd/MM/yyyy', new Date()) => Wed Jan 01 0020 00:00:00 GMT+0049 (Central European Standard Time)`

I know that the provided formatString does not match the given string date, but i would have e

[2020-01-30 14:32] ldco2016 opened #1622 "Transaction history is giving previous day instead of current day when a transaction is processed"
Describe the bug
When a user purchases a ticket for an event on 01/29, the transaction history shows the date of purchase as being 01/28.

Expected behavior
I expect that the transaction date should be whatever day the ticket was purchased.

Additional context

[code]

The version number of `date-fns` is `1.29.0`.

[2020-02-01 07:55] mihai-osvat commented on #1600
Hi, anything new on the matter ?

[2020-02-02 10:22] gabsong opened #1626 "Function `eachDayOfInterval` throws "RangeError: Invalid Interval" for interval that should be valid"
I'm giving the `eachDayOfInterval` function an input of two JavaScript Date objects that should be valid. They are the outputs of other date-fns functions `startOfWeek` and `endOfWeek`. I get the expected output from the  `eachDayOfInterval` function, but because it throws an error, my code execution stops.

Also, I might be wrong in my report (I'm a new programmer, so I'm not super confident in t

[2020-02-03 11:24] hari-krushna opened #1627 "format returning invalid date"
Hi,
format returning invalid date

```const requestCreatedAt = format(new Date("2020-02-03T11:07:32.852Z"), "Do MMM");```

Timestamp generated using postgres current date and time.

![image](https://user-images.githubusercontent.com/34913034/73649433-c8c31e00-46a5-11ea-9095-93c53a66ff28.png)

[2020-02-03 11:38] kossnocorp commented on #1627
Hi, you're using the wrong token `Do`, which is the day of the year. You need to use `do`.

[2020-02-03 11:38] #1627 closed

[2020-02-03 18:10] KidkArolis opened #1628 "addBusinessDays / subBusinessDays is wrong"
[code]

[2020-02-04 02:33] polarathene commented on #229
Really wanted to give `date-fns` a try but this was a needed feature. I did not find a way to get duration as an object like `luxon` can provide.

I saw @kaermorchen 's example snippet above and thought I could reduce the method duplication down and drop the plural `s` from string if it's only 1 of unit. Looking over `date-fns` docs getting an object of the duration/interval values seems not possi

[2020-02-04 19:35] mattoni opened #1629 "eachMonthOfInterval not in typescript definitions"
Trying to import eachMonthOfInterval from date-fns (2.9.0) and Typescript is saying it doesn't exist

[2020-02-04 19:36] mattoni commented on #1629
Nevermind, there was an issue with my installation

[2020-02-04 19:36] #1629 closed

[2020-02-05 02:22] dcousens commented on #533
@victormoukhortov please see https://github.com/date-fns/date-fns/pull/1630 - it highlights the fact that `differenceInDays` was not using UTC but local time;  we had it reversed.

[2020-02-05 11:02] angrykoala opened #1631 "getOverlappingMonthsInIntervals"
Similar to #319, return the number of months that overlap given 2 ranges:

[code]

Similarly, a getOverlappingYearsInIntervals would be a nice addition to have all 3 options :slightly_smiling_face:

[2020-02-05 14:32] miketeix commented on #1622
I've had similar issues with the format function. It seems to work fine when the page is viewed in Europe but it is almost always the day before when viewed from North America, hopefully that helps!

[2020-02-05 18:05] danielo515 commented on #229
What are you using the imported luxon method for @polarathene ?

[2020-02-05 22:06] polarathene commented on #229
@danielo515 it's used in the example code for `DateTime`, which creates the `luxon` intervals and duration objects. AFAIK, `date-fns` has an empty `Duration` section on their API docs, and that's important to use the solution. If you can format an object that has the units of the duration you want to format to a string like shown in the commented examples above, it should work with `date-fns` too,

[2020-02-06 17:07] MrBlue9 commented on #1618
was anyone able to resolve this or found a workaround? :(

[2020-02-08 05:54] nghiepit commented on #816
+1

[2020-02-11 09:31] NellyHayrapetyan opened #1635 "Timezone formatting between 00:00 to 01:00"
I want to report about an issue connected with date-fns-tz utcToZonedTime function. Whenever I pass time which is between 00:00 to 01:00 and give a timezoneId it formats with next day date. For example when I pass utcToZonedTime(1581398100000, 'America/New_York') (1581398100000 as utc string "**Tue Feb 11 2020 05:15:00**") the result is "**Wed Feb 12 2020 00:15:00 GMT-0500 (Eastern Standard Time)*

[2020-02-11 11:45] NellyHayrapetyan commented on #1635
I found out that this is happening on chrome **Version 80.0.3987.87 (Official Build) (64-bit)**

[2020-02-12 02:58] christinecha commented on #1635
+1 seeing this as well.

[2020-02-12 08:49] Obsserver commented on #1635
any updates on this? having this issue too

[2020-02-12 10:59] dcousens commented on #1635
Wrong repository,  https://github.com/marnusw/date-fns-tz/ for `date-fns-tz`

[2020-02-12 11:05] NellyHayrapetyan commented on #1635
Moved issue report to https://github.com/marnusw/date-fns-tz/issues/47

[2020-02-12 11:05] #1635 closed

[2020-02-14 10:57] danielo515 commented on #1134
Hey, what's the status of this? The only available thing in format about week right now is Iso week.

[2020-02-14 13:38] spawluk opened #1636 "Compose makes function that calculates dates wrog"
[code]

I expect that `d3` === `d4`

Not working code example: https://codesandbox.io/s/interesting-river-ws9h2

[2020-02-14 14:21] BoomDev opened #1637 "setDay's argument "options.weekStartsOn" not working if date is a Sunday."
In :
setDay(**date**, day, [options])

If "date" is a Sunday, the option "weekStartsOn" is not working properly.

Stackblitz: https://stackblitz.com/edit/date-fns-playground-53c1s5?file=index.ts

[2020-02-14 17:45] defrex commented on #1521
Warning for future travelers: the above link is to a GitHub proxy. **Don't give it credentials.**

[2020-02-14 21:21] dcousens commented on #1636
@spawluk I cannot reproduce your example,  what result do you receive?
I used the following:

[code]

[2020-02-14 21:29] dcousens commented on #1636
@spawluk please read the documentation of your `compose` function and understand how it composes functions first.

I believe the desired behaviour you are after is:
[code]

That is,  the compose function arguments are in the reverse order that you desire.

[2020-02-14 21:32] spawluk commented on #1636
I'm sorry for not complete example.

Here is code I used and broke my head on it: https://codesandbox.io/s/interesting-river-ws9h2

It seams that lodash/fp/compose which is mentioned in date-fns docs has that issue

[2020-02-14 21:34] dcousens commented on #1636
@spawluk please read and understand https://lodash.com/docs/#flowRight (`compose`),  your arguments are likely to be in the wrong order.

[2020-02-14 21:37] spawluk commented on #1636
Oh! Thanks for pointing me my mistake. Now I understand what happened. What a tricky little b... ug in my code :D

[2020-02-14 21:37] #1636 closed

[2020-02-15 04:39] minitesh commented on #1134
@danielo515
I have created a PR for this but its not merged yet.

[2020-02-15 19:33] tommygoessing commented on #1618
urgently hoping for a fix here! this is "crashing" our calender app for appointments on March 29th...

[2020-02-16 00:34] dcousens commented on #1618
Can reproduce
[code]

Using `TZ=Europe/Berlin node`
[code]

[2020-02-16 02:52] tommygoessing commented on #1618
Thanks @dcousens !

Does this raise chances for a timely fix? 🥺

And: Shouldn't this issue have "BUG" as a label? If so, who can attach that yet? Only @MrBlue9

[2020-02-17 20:17] B-Esmaili commented on #977
Hello everyone.Any work have done for the subject? For implementation detail you can get the idea form [my link posted in similar issue](https://github.com/date-fns/date-fns/issues/1236#issuecomment-545086651). I am too busy to get involved right now.please fخllow my link if you want to contribute.

[2020-02-18 20:05] lukewlms commented on #1606
https://github.com/date-fns/date-fns/pull/1607 merged to master.

Thanks @icleolion!

[2020-02-18 20:05] #1606 closed

[2020-02-19 11:34] GyllieGyllie opened #1640 "formatIso formating :30 or :45 timezones incorrectly"
When you use the formatIso function and are in a timezone that is not nicely an hour of but for examle xx:30 or xx:45 the hour in the formatted string is written as .5+30

Example:
2020-02-19T00:00:00+5.5:30

This is causing our backend validators to flag these strings as invalid ISO8601 as it really should look like:
2020-02-17T00:00:00+05:30

Also am using the latest version of date-fns

[2020-02-19 22:26] Imballinst commented on #1640
I think it should be fixed by https://github.com/date-fns/date-fns/pull/1599 but it's not released yet -- @kossnocorp do you have any idea on when that PR is going live?

Alternatively, if you need it urgently, I think you can install from the [latest master's commit](https://docs.npmjs.com/cli/install):

[code]

[2020-02-20 12:36] csi0n commented on #1600
I have the same problem. How can I solve it?

[2020-02-20 13:49] GyllieGyllie commented on #1640
Thanks for the info, for now we wrote a temporary fix in our own code to transform it as needed so we'll wait for the new release before we update

[2020-02-21 00:05] csi0n commented on #1600
@mihai-osvat

[2020-02-21 00:07] csi0n commented on #1600
@mihai-osvat
I know how to solve this problem
just change
[code]
to
[code]

[2020-02-21 14:40] mihai-osvat commented on #1600
Will try, thanks !

[2020-02-21 15:00] mihai-osvat commented on #1600
Yes, I can confirm that your solution works on production build. Many thanks and kind regards !

[2020-02-21 15:00] #1600 closed

[2020-02-21 17:47] Brunohes commented on #816
+1

[2020-02-22 23:01] xamgore commented on #576
[code]

[2020-02-23 10:52] Fl0pZz commented on #1621
Add example of this issue: https://runkit.com/embed/cfnvfddtrwr6

[2020-02-24 09:06] vonsky104 opened #1642 "differenceInYears calculates wrongly when date is last day of february leap year"
When you calculate difference in years by 'differenceInYears' function, the returned value is wrong for given dates: 2005-03-01 and 2024-02-29.

Example:
`differenceInYears(parseISO('2024-02-29'), parseISO('2005-03-01'))` equals 19, when in reality it should be 18, the same result which this function returns when you give 2024-02-28.

Possible problem:
Date-Fns calculates in this case both same da

[2020-02-24 10:46] megastef opened #1643 "Parse ISO date string with T token / how to escape tokens?"
Hi,

how can the  ISO date string `2020-02-24T10:34:02.998Z` be parsed?
`T` is now a token for millisecond timestamp
https://date-fns.org/v2.9.0/docs/parse

[code]

We would love to move from date-fns-2.00-alpha6 to to latest version. But we get many exceptions with out date formates for parsing.

I've seen the function `parseISO`
[code]
but it does not solve the general problem that format string

[2020-02-25 10:52] kossnocorp commented on #1640
I was overwhelmed lately, thank you for your patience! The fix was released with `2.10.0`.

[2020-02-25 10:52] #1640 closed

[2020-02-29 19:05] alexilyaev opened #1644 "Docs Bug: Deep links don't jump to the relevant heading"
I'm trying to send a colleague a deep link to one of the heading in the docs, but when the link is opened the page does not jump to that heading.

e.g.
https://date-fns.org/v2.10.0/docs/parse#syntax

Expected to jump to the `Syntax` heading, which is towards the bottom of the page.
This is relevant across the whole docs website.

[2020-02-29 19:19] sbernheim4 opened #1645 "Leap Day Manipulation Error"
Issue: When using `subYears` from date-fns on leap day, it returns February 29th of the previous year.

Example:
[code]

Expected Result: `February 28th 2019`

[2020-02-29 22:11] sbernheim4 commented on #1645
Not an issue, something else was going on

[2020-02-29 22:11] #1645 closed

[2020-03-01 03:32] artcurty opened #1646 "Format MMMM format without capitalize text (Brazilian location)"
Hi guys, I recently used this lib and came across an "bug" in the format "MMMM"
from brazilian location.
[code]
I solved this with CSS, but I decided to report it so it can be implemented.
If there is any specific configuration, please inform, thks.

[2020-03-01 14:47] Mukhammadali opened #1647 "Uzbek language support"

[2020-03-01 18:46] Mukhammadali commented on #1647
@kossnocorp  created a PR for this locale here:  https://github.com/date-fns/date-fns/pull/1648

[2020-03-02 10:58] denmaddin opened #1650 "Parsing Quarters via parse(input, qqq/yyyy, locale) results in April 1st for Q3 and Q4"
I have an weired issue parsing quarter notations to an `Date` using the `date-fns/parse()`-Function.
Quarters notated in the pattern `qqq/yyyy` result in Q2/2020 (April 1st 2020) for the following Inputs:
- `Q2/2020`
- `Q3/2020`
- `Q4/2020`

Tested with Locale `de` and `en` as well as upper-case `QQQ` and lower-case `qqq`.
However using the pattern `yyyy-qqq` works as expected.

Versions tested: *

[2020-03-02 14:37] dmitrykrylov opened #1651 "Incorrect parsing of a datetime string without timezone designators on the day of DST switch"
Our service has REST API wich returns date strings which are not timezone-aware. When the system time works in a timezone which has daylight saving time shift (for instance, `Europe/Berlin` timezone), 'parseISO' date works incorrectly for a day of the shift.

[code]

Output:
[code]

At the same time, 'new Date' behaviour seems to be more correct.
[code]

Output:
[code]

Here is a [codesandbox exam

[2020-03-02 21:36] GollyJer opened #1652 "Quick sanity check as I move from moment.js."
I'm moving from `moment` to `date-fns` and need some advice.

I have a `postgres` timestamp-with-timezone and I'm looking to format it like `MAR 2 AT 1:30 PM`.

Here is my solution using `date-fns`.

[code]

Is there a more correct or less verbose way?

---
cross-post 👇
https://stackoverflow.com/questions/60496983/how-to-correctly-format-a-postgres-timestamp-with-timezone-date-using-date-fns

[2020-03-03 09:42] Imballinst commented on #1652
Hmm, how about this? From the docs (https://date-fns.org/v2.10.0/docs/format):

So, we can do this:

[code]

Runkit test (https://npm.runkit.com/date-fns):

<img width="782" alt="image" src="https://user-images.githubusercontent.com/7077157/75762763-cd92f480-5d6d-11ea-972a-87424f855122.png">

Let me know if it doesn't match your requirement!

[2020-03-03 11:04] GollyJer commented on #1652
@Imballinst Thanks! That works perfectly.

I read the whole docs section on `format`, even that exact line, but it didn't quite register.

Thanks again. Super helpful. 👍

[2020-03-03 11:04] #1652 closed

[2020-03-03 11:26] Imballinst commented on #1652
@GollyJer you're welcome! I'm glad to be able to help 😄

[2020-03-03 11:31] iamchathu opened #1653 "Customize the output of formatDistanceToNow"
Can we have a option to remove prefix `about`?

Like `2 hours ago`, `2 days ago` and `in 2 hours`, a short format. or customize the output as we wont?

[2020-03-03 12:24] MrBlue9 commented on #1618
just tried with the latest version 2.10.0. same result. returned dates are off by one hour

[2020-03-04 18:07] tobias74 opened #1655 "Using version 2 in the browser? Is this still possible?"
I did get version 1 to work in the browser just by doing this:

` <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js"></script>
`

For version 2 this approach does not seem to work. There is an error-message about "exports not being defined"

[2020-03-04 22:58] simkessy opened #1656 "I get different results between Moment and Date-fns for the same date string"
I have this date string: `2020-01-21` and I get two different results between Date-Fns and Moment:

         Date-fns: {format(new Date(startTime), 'MMM d, y')} => Jan 20, 2020
          Moment:  {moment(startTime).format('MMM Do, YYYY')} => Jan 21st, 2020

[2020-03-06 11:25] dmitrykrylov commented on #1651
Duplicate of: #1618

[2020-03-06 11:25] #1651 closed

[2020-03-06 16:41] dmitrykrylov commented on #1618
Anybody tried to find the source of the problem? I played with [this block](https://github.com/date-fns/date-fns/blob/16a561df59b9a015517fce568ffd929f46961f82/src/parseISO/index.js#L136) of code and tests but found no idea how to fix it :(

[2020-03-06 22:13] zzal opened #1657 "Formatted date inconsistency in daylight saving time changes"
Hi, I'm getting these time-zoned dates, in fr-CA locale, with TZ set to "America/Toronto":

[code]

See the inconsistency?
First the clock is supposed to be forwarded one hour at 02:00 local time.
I'm getting the same hour on Saturday 02:00:00 UTC than 03:00:00 UTC (?!).

I think we should get theses times:

[code]

[2020-03-07 22:18] noahcho commented on #1656
what version were you using?

[2020-03-08 02:04] Imballinst commented on #1656
From a quick hunch, it's probably  because of timezone, as your date string doesn't specify time and time zones. For example:

<img width="476" alt="image" src="https://user-images.githubusercontent.com/7077157/76155214-5e295600-611b-11ea-8c77-cd37af768980.png">

Could you try for the Moment part this instead?

[code]

[2020-03-09 16:28] MrBlue9 commented on #1651
also couldn't find a fix so far. it's pretty discouraging if there's not even acknowledgement of this issue after over a month :(

[2020-03-09 23:18] dcousens commented on #1618
@date-fns could you tag this as `Needs triage`?

[2020-03-10 08:12] simkessy commented on #1656
using parseISO solved it for me

[2020-03-10 08:12] #1656 closed

[2020-03-11 11:46] Pumpuli commented on #1643
Good that you were able to fix your use case even without a solution to this question. Nevertheless, here's an anwer.

This is actually covered by the docs:

So it's enough to wrap the `T` in single quotes:

    parse('2020-02-24T10:34:02.998Z', "yyyy-MM-dd'T'HH:mm:ss.SSSX", new Date())

[2020-03-12 03:09] stevensacks opened #1659 "Add date-fns reference to global on docs"
One of the great things about the lodash documentation (and some others) is you can pop open the console and access lodash by typing `_.`. This makes it really easy to quickly use lodash's API as a playground directly on their docs.

It would be really nice if date-fns made a global variable that allowed people to do the same thing. For example, there are many times I would like to play around wit

[2020-03-12 03:11] stevensacks commented on #1659
By the way, lodash is available on your docs page in the console, too. :)

[2020-03-12 08:22] banjoanderson opened #1660 "Methods that calculate the start of a period are off by one for timezones greater that GMT."
Any method that calculates the start of a period encounters an off by one error.

**Examples**
- `startOfYear(new Date('2020-03-12'))`
  - Expected Result: `2020-01-01` Actual Result: `2019-12-31`
- `startOfMonth(new Date('2020-03-12'))`
  - Expected Result: `2020-03-01` Actual Result: `2020-02-29`
- `startOfWeek(new Date('2020-03-12'))`
  - Expected Result: `2020-03-08` Actual Result: `2020-03-07

[2020-03-12 13:15] eugene-platov opened #1661 "Format works incorrectly with GMT-0752/GMT-0456 and similar timezones"
Hello
Found a problem with `format` fn:
System timezone is set to `America/Los_Angeles`
Using Chrome 80.0.3987.132
`format(new Date("1850-01-01T00:00:00"), "HH:mm:ss")` results in `00:01:00` instead of `00:00:00`

Seems like the problem is in the next function: https://github.com/date-fns/date-fns/blob/fadb737fe714c7148163a02ac8ee955cc343cac9/src/_lib/getTimezoneOffsetInMilliseconds/index.js#L14

[2020-03-12 18:22] kopax commented on #229
Can I convert a date time in a readable human format using date-fns (and not duration) ?

[2020-03-12 20:58] oakhan3 opened #1663 "Inconsistent typing across getDay fn and weekStartsOn option."
Hi,

I have run into a typing (TypeScript) issue when trying to take the output of `getDay` and place it in the `weekStartsOn` option on the `isThisWeek` fn (or any fn that accepts that option):

Here is an example:
[code]

Typescript complains with the following:
[code]

This is because `getDay` has been defined to return a `number` and `weekStartsOn` has been typed to take in `0 | 2 | 1 | 6 | 5

[2020-03-13 00:04] banjoanderson commented on #1660
I have replicated these same scenarios this morning and have found that they pass.

For reference, I am in GMT+11, and they were failing from approximately 5:30pm onwards. Passing at 11am. Believe the issue here may be timezone related.

[2020-03-13 03:23] banjoanderson commented on #1660
Cloned the repo to run the tests and couldn't replicate. So I think this issue may be specific to my project. So, will close this issue.

[2020-03-13 03:23] #1660 closed

[2020-03-13 06:29] SebastianStehle opened #1665 "Predefined formats"
Hi,'

I cannot find information about this topic, therefore my question here. Do you support predefined formats? And when not how do you handle that in some countries you would write dd.MM.yyyy and in other MM.dd.yyyy? Is it my job to define these formats then?

[2020-03-13 07:59] dkozickis commented on #1618
@dalekseev would you be able to look at this please?

https://github.com/date-fns/date-fns/blob/d8e2850bed3f8828f8dfd6eba723350eac577521/src/parseISO/index.js#L140-L150

This code block ends up adding +1 hour on the start of DST day both on the hour when the transition happens (02AM), and on the hours that are after transition (e.g. 11AM).

Anyone else is also kindly invited to assist :)

[2020-03-13 08:04] dkozickis commented on #1663
Are you interested in submitting a PR for this @oakhan3?

You can see how `weekStartsOn` param for `isThisWeek` is typed (with JSDoc) here

https://github.com/date-fns/date-fns/blob/16a561df59b9a015517fce568ffd929f46961f82/src/isThisWeek/index.js#L23

and apply it to return type of `getDay` here

https://github.com/date-fns/date-fns/blob/16a561df59b9a015517fce568ffd929f46961f82/src/getDay/index.js

[2020-03-13 08:53] dkozickis commented on #1661
@eugene-platov are you willing to submit a PR against this one? Looks like rounding errors between Chrome timezone DB (and how Chrome returns `new Date()`) and how `getTimezoneOffsetInMilliseconds` affects final calculation.

Would you also happen to have a correct link to source of information with historical timezones?

![image](https://user-images.githubusercontent.com/769698/76605241-ceb7e480-

[2020-03-13 10:12] eugene-platov commented on #1661
@dkozickis Yes, I'd like to :)
But I'm not sure about rounding errors, more likely calculations in `getTimezoneOffsetInMilliseconds` are slightly incorrect for left from GMT timezones, because for GMT+n timezones everything works fine
I'll look into in and will submit a PR

[2020-03-13 11:40] eugene-platov commented on #1661
@dkozickis Created a PR with fix ^

[2020-03-13 12:17] kalekseev commented on #1618
I created pr with a fix, but it uses completely another approach, anyone concerned please test it.

[2020-03-13 13:46] dkozickis commented on #1665
We have `formatXXX` group of functions, otherwise you have to define them yourself when calling `format'

![image](https://user-images.githubusercontent.com/769698/76626365-b8724e80-6541-11ea-853b-53b36c1f67b2.png)

[2020-03-13 13:49] dkozickis commented on #1643
Thank you @Pumpuli for following up on this.

[2020-03-13 13:49] #1643 closed

[2020-03-13 13:54] dkozickis commented on #1657
Seems to be a duplicate of https://github.com/date-fns/date-fns/issues/1618

[2020-03-13 13:54] #1657 closed

[2020-03-13 13:56] oakhan3 commented on #1663
Sure thing 👍

[2020-03-13 13:59] dkozickis commented on #1646
@date-fns/i18n-pt-br would you be able to comment please?

[2020-03-13 14:55] oakhan3 commented on #1663
#1668 should resolve this

[2020-03-13 15:25] wregis commented on #1646
This quote is from src/locale/en-US/_lib/localize/index.js and maybe will answer the question.

[2020-03-13 17:12] kossnocorp commented on #1663
Thank you! I'm working on `2.11`, which will include the fix for it.

[2020-03-13 17:12] #1663 closed

[2020-03-13 17:56] kossnocorp commented on #1646
As @wregis correctly suggested, in Portuguese, you don't capitalize month names unlike in English.

[2020-03-13 17:56] #1646 closed

[2020-03-13 18:07] #1531 closed

[2020-03-13 18:19] #1642 closed

[2020-03-13 18:55] #1573 closed

[2020-03-13 19:47] #1618 closed

[2020-03-13 20:13] kossnocorp commented on #1661
Closed by #1666

[2020-03-13 23:45] federicobadini opened #1670 "Remove generic arabic"
I think the export referenced below is not valid anymore as I do not find any locale for arabic without a specific country code.

https://github.com/date-fns/date-fns/blob/14b706ba79a5ce30913bf8700e32535b5c4645a9/typings.d.ts#L15367

[2020-03-14 08:52] #1661 closed

[2020-03-14 18:43] Kevin-Carlos opened #1672 "formatISO on v2.11 omitting final 'Z'"
May be related to https://github.com/date-fns/date-fns/issues/1559 that was fixed in v2.9, but I'm formatting a date string
`Mon Mar 22 2021 00:00:00 GMT-0700 (Pacific Daylight Time)`
and receiving
`2021-03-22T00:00:00-07:00` as my formatted output which is resulting in an incorrect date without having the timezone stamp.

[2020-03-14 19:12] #1672 closed

[2020-03-14 22:32] SebastianStehle commented on #1665
I was looking at these pages at least 20 times before I have seen the p-formats at the end of this table: https://date-fns.org/v2.11.0/docs/format: "Long localized date" and "Long localized time", which are pretty bad names IMHO because some of the long formats are very short ;)

[2020-03-15 08:34] Jav3k commented on #1218
Example of a solution offered by @kossnocorp

[code]

[2020-03-15 08:39] Jav3k commented on #1129
Example of one of solution with custom formatRelative function in locale object provided here: https://github.com/date-fns/date-fns/issues/1218#issuecomment-599182307

[2020-03-15 17:15] #1129 closed

[2020-03-15 17:18] dkozickis commented on #1665
That's how they're named in the [Standard](https://www.unicode.org/reports/tr35/tr35-dates.html#Date_Field_Symbol_Table) 🤷‍♂

[2020-03-15 17:23] kossnocorp commented on #1665
Right, the docs could be better, but we've adopted the standard terminology, which I think is a reasonable starting point. Better name suggestions and doc improvement PRs are welcome.

[2020-03-15 17:39] akgondber opened #1673 "requiredArgs raises an error with incorrect message"
A function call raises an error with incorrect message when passing wrong number of arguments. For example the following code:
[code]

raises  `TypeError:  required, but only 1 present` instead of `TypeError: 2 arguments required, but only 1 present`.

[2020-03-16 21:11] jevinsidhu opened #1675 "Not converting to "Australia/Brisbane" timezone correctly"
The "Australia/Brisbane" timezone observes Australian Eastern Standard Time (AEST) all year, yet there is discrepancy between March 8th and any date afterward.

Below is an example of this behavior:
[code]
![Screen Shot 2020-03-16 at 2 06 12 PM](https://user-images.githubusercontent.com/8213018/76799926-c0bfc900-678f-11ea-833d-8addbd63265a.png)

Here is the code running in a sandbox: https://codes

[2020-03-16 21:26] dcousens commented on #1675
@jevinsidhu please see https://github.com/marnusw/date-fns-tz,  `utcToZonedTime` is from that package, not this.

[2020-03-17 08:26] kunukn commented on #1532
I spend some time make this work. To share more example code, this is what works for me.

[code]

[2020-03-17 18:07] GollyJer commented on #946
Just switched from Moment.js to date-fns.
I'm surprised to find am/pm not built in.

Thanks @pybuche for the workaround. 🎉

[2020-03-17 18:39] #1675 closed

[2020-03-18 11:16] kopax commented on #1412
Hi, I have checked `date-fns-tz` and it doesn't help in my case.

I want to get UTC datetime for tomorrow Europe/Paris 9am, I have tried:

[code]

I have:

[code]

I want to know how can I get the current offset between UTC and Europe/Paris, any idea how I could do?

[2020-03-19 08:00] jensHartfelt opened #1676 "addDays doesn't increment the month"
Thanks for an awesome library! It really helped me reduce my bundle-size compared to Moment and have been a joy to work with so far.

First off, i am not sure if this is an actual bug or the intended behaviour. I couldn't find anything in the docs about it.

The issue is fairly straight forward. If i use the `addDays` function to increment a date by an amount which should offset the month, the mon

[2020-03-19 17:24] techoi opened #1677 "Is there any good way to import locale and other function?"
I'd like to use date-fns with eslint.

However there is a little tricky issue.

`
// eslint-disable-next-line import/no-duplicates
import { format, parseISO } from 'date-fns';
// eslint-disable-next-line import/no-duplicates
import { ko } from 'date-fns/locale';
`

I think if index export locale directly, the code will be simple like
`
import { format, parseISO, locale } from 'date-fns';
const dat

[2020-03-19 22:53] dcousens commented on #1676
This should be `yyyy-MM-dd`

[2020-03-20 02:43] jstrother opened #1678 "isThisWeek returns false when true is expected"
I have 2 simple lines of code right now:
[code]

Today's date is March 19, 2020 and I would expect March 21, 2020 to be in the same week, especially with the week starting on Monday.

[2020-03-20 09:20] jensHartfelt commented on #1676
Oh god. You are right!
Thank you - I didn't even stop to think this was the case as the months were right.

[2020-03-20 09:20] #1676 closed

[2020-03-20 10:36] dkozickis commented on #1678
`isThisWeek` accepts [two arguments](https://date-fns.org/v2.11.0/docs/isThisWeek), first argument being `Date | Number`.

You have too many arguments :)

Correct way would be

`console.log(isThisWeek(new Date(2020, 2, 21), { weekStartsOn: 1 }));`

[2020-03-20 10:36] #1678 closed

[2020-03-20 12:49] belgamo commented on #1653
@kossnocorp would it be necessary to change all locale files to do this?

[2020-03-20 13:11] kossnocorp commented on #1653
@belgamo not really, the locales already [have this](https://github.com/date-fns/date-fns/blob/master/src/locale/en-US/_lib/formatDistance/index.js): https://github.com/date-fns/date-fns/blob/master/src/locale/en-US/_lib/formatDistance/index.js#L24-L32.

However, there's `formatDistanceStrict` that does exactly that. It would be enough to add `formatDistanceToNowStrict`. PR is welcome!

[2020-03-20 14:14] belgamo commented on #1653
Ok thank you! I'll try to work on it!

[2020-03-21 02:25] jstrother commented on #1678
Oh, my gosh... I can't believe I didn't see that. Thanks! And sorry about cluttering your issues page...

[2020-03-21 07:58] dkozickis commented on #1678
No problem! We need to comb through the issues, but everyone’s busy with life 🤷🏻‍♂️

[2020-03-21 13:52] kopax opened #1680 "Using date-fns and CI=true npm run build cause typescript error in a non typescript project"
I have a project that depend on [`date-fns`](https://github.com/date-fns/date-fns) and initiated with [create-react-app](https://github.com/facebook/create-react-app), **it is not a typescript project**.

- `CI=true npm run build` fail
- `CI=false npm run build` pass

The error is:

[code]

I also use `react-app-rewired` to edit the create react app webpack config and this is the `config-overrides

[2020-03-22 09:42] OriolRF opened #1681 "Different behavior with same system time"
Not sure this is an issue, but I don't see why running this code

	console.log (new Date(Date.now()).toLocaleString());
	let newDate = parse( '2020/02/28', 'yyyy/M/d', Date.now() );
	console.log(newDate);

 on node.js on 2 different computers would produce different results:

System A:
3/22/2020, 10:10:07 AM
Fri Feb 28 2020 00:00:00 GMT+0100 (Central European Standard Time)

System B:
3/22/2020, 1

[2020-03-22 18:13] dkozickis commented on #1680
Looks like you're on date-fns v1, can you upgrade to v2?
`node_modules` looks strangish too

[2020-03-22 18:16] #1665 closed

[2020-03-22 18:18] #1401 closed

[2020-03-22 18:19] #1609 closed

[2020-03-22 18:34] dkozickis commented on #1681
Are node versions equal?
Here's some reference - https://github.com/nodejs/node/issues/19480

[2020-03-22 19:54] JMillcamp opened #1682 "Add gives faulty result shortly after DST transition"
Starting out with a Date within an hour after the DST transition from summer time to standard time, when adding a duration using `add` for which the result should be a Date an hour after the DST transition, the result is actually the Date immediately after the transition.

Encountered using v2.11.0 for Dutch DST at 27-10-2019 03:00 GMT+2 to 02:00 GMT+1:

[code]

Using `addHours` does not result in

[2020-03-23 02:24] kopax commented on #1680
I solved it by updating my dynamic import by appending `/index.js` in the require path for locales

[2020-03-23 02:24] #1680 closed

[2020-03-23 07:04] OriolRF commented on #1681
I didn't think about it but this must be the reason since one system in on version 10 and the other on version 12. Pretty annoying ...

Thank you

[2020-03-23 10:01] bertho-zero commented on #571
Fixed agnosticAddDays with negative TZs:

[code]

[2020-03-23 10:19] #1681 closed

[2020-03-23 11:37] robations commented on #1655
Not a package maintainer but I'd guess it now assumes you are using a commonjs package bundler to allow usage in the browser (webpack / rollup / browserify).

[2020-03-24 15:50] MikeMitterer opened #1683 "Upgrade leads to 'Cannot augment module 'xxxx' with value exports because it resolves to a non-module entity"
If I run `tsc --noEmit --incremental false` I get a long list of `Cannot augment...` error messages.
Everything was fine with 2.10.0 but fails now with 2.11.0

[code]

[2020-03-24 16:35] simbathesailor opened #1684 "date-fns installation error"
Hi,

Not sure , whether this is a problem with npm or date-fns. but date-fns entry file index.js  is not downloaded in date-fns/esm/ in latest build due to which installs are breaking.

installing
[code]

installs 2.4.11 version and gives the following error:

[code]

but installing exact 2.4.1

[code]
does not throws the error.

package.json is looking for date-fns/index.js which is not present a