[2022-06-11 17:01] mandaputtra commented on #3086
I tried this, and error not comes up, I think you had invalid date.

<img width="749" alt="Screen Shot 2022-06-12 at 00 01 29" src="https://user-images.githubusercontent.com/23342943/173197460-59f09824-40b8-40b1-9f00-998585bce8c3.png">

[2022-06-11 17:01] #3086 closed

[2022-06-11 17:27] smmoosavi commented on #1472
If some packages have the same global names, it causes compile error:

e.g.
[code]

error:
[code]

it causes a real problem with `date-fns-jalali` which have the same types. https://github.com/date-fns-jalali/date-fns-jalali/issues/64

[2022-06-13 05:53] #2565 closed

[2022-06-13 22:39] juliomac commented on #816
+1

[2022-06-14 09:44] Balastrong commented on #3079
Your link points to the documentation of version v2.13.0 which indeed has the two keys missing.

However in most recent versions (see the latest as of today, v2.28.0) is already fixed :)

Reference: https://date-fns.org/v2.28.0/docs/intervalToDuration

[2022-06-14 15:08] Balastrong commented on #3085
If that's something you need often I think the quickest option would be wrapping `intervalToDuration` inside a custom method in your code base that returns `{ ...duration, years: 0, months: 0}` and you're good to go.

[2022-06-14 21:46] Mikilll94 opened #3092 "Normalize duration"
[code]

This code returns `13 months`. I would like to normalize this duration and return  `1 year 1 month`. Is it possible to do it with with `date-fns`?

[2022-06-15 20:58] ziggi commented on #3073
I was looking for performance bottlenecks in my project and found the same thing.

Provided solution is good, but we also can improve performance for dates passed as `number` (milliseconds):

[code]

[2022-06-15 21:30] ziggi commented on #3073
Just found that `getTime` (https://github.com/date-fns/date-fns/blob/master/src/getTime/index.ts) is also uses `toDate` which is not necessary as I think.

So, the new solution will look like this:
[code]

[code]

Also speed up `addMilliseconds` (https://github.com/date-fns/date-fns/blob/master/src/addMilliseconds/index.ts) by updated `getTime`:

[code]

[2022-06-16 09:04] Balastrong commented on #3092
I don't think there's currently a method that does that conversion.

There are some open questions though, for example how should this method handle weeks and months?
How would you normalize `36 days`?
- 1 month 6 days (1 month = 30 days)
- 1 month 5 days (1 month = 31 days)
- 5 weeks 1 day

A similar issue with days > 365 converted in years.
Let's say `400 days`
- 1 year 35 days
- 1 year 34 days

[2022-06-16 13:35] markocupic024 opened #3094 "Any way to change date format for sr or sr-Latn locale?"
I want to use sr or sr-Latn locales but date formatting does not fit my needs.
Is there any way to edit the imported sr or sr-Latn locale other than editing the source code so that short or medium date formats have yyyy instead of yy ?

This is how date formats look in formatLong/index.ts for these locales:

`const dateFormats = {
  full: 'EEEE, d. MMMM yyyy.',
  long: 'd. MMMM yyyy.',
  medium: '

[2022-06-19 12:51] ilbrando commented on #2984
Hi
I'm danish :-) Colon is the normal way to format time in danish.

[2022-06-19 15:13] RobSchilderr commented on #2965
[Related](https://github.com/date-fns/date-fns/issues/2151) to this?

[2022-06-21 15:36] jasiene opened #3097 "Problem with eachMonthOfInterval function"
There is an issue with the [eachMonthOfInterval function](https://date-fns.org/v2.28.0/docs/eachMonthOfInterval). It doesn't generate all the months correctly, as demonstrated.

  ## The problem

  ### 💻 Code demonstrating the problem

[code]

  ### 🙁 Actual behavior

2022-01-01T00:00:00.000Z
2022-02-01T00:00:00.000Z
2022-03-01T00:00:00.000Z
2022-03-31T23:00:00.000Z
2022-04-30T23:00:00.000Z
2022-0

[2022-06-22 11:16] MagdalenaHenke opened #3098 "formatISODuration function prints `null` and random string values"
There is an issue with the [formatISODuration function](https://date-fns.org/v2.28.0/docs/formatISODuration)

  ## The problem

  ### 💻 Code demonstrating the problem

[code]

  ### 🙁 Actual behavior
`formatISODuration` simply prints non-number arguments in the string spots, e.g. `null` and `bear` (not a number, just a string) both show up as is in the duration string, like these:
1. `P0Y0M0DTnull

[2022-06-23 09:45] #3028 closed

[2022-06-27 07:21] ocavue commented on #2964
TLDR, this is because Node.js doesn't allow a package to provide both CommonJS and ESM build under the same extension (`.js`) without `"type": "module"` in `package.json`. Here is a detailed explanation: https://github.com/sheremet-va/dual-packaging

I created a PR to fix this issue: #3099

[2022-06-27 08:02] ocavue commented on #1781
This PR should solve the ESM import for `date-fns` without bring break changes: https://github.com/date-fns/date-fns/pull/3099

[2022-06-27 10:15] kossnocorp commented on #1781
@karlhorky, personally, I'm not too fond of this approach. The only way for us to move forward is to have a dual package. I hope @ocavue's PR will work and the very next version will have ESM support.

[2022-06-27 17:07] binajmen opened #3101 "Is `isFuture` working?"
I'm probably doing something stupid, but `isFuture` returns false with `16564356050` which will happen in 472 years 👀

<img width="382" alt="Screenshot 2022-06-27 at 19 07 25" src="https://user-images.githubusercontent.com/15611419/175996890-6dff2306-b809-4d24-b5a2-b10c9a6247ef.png">

[2022-06-27 17:35] #3101 closed

[2022-06-27 17:49] #3079 closed

[2022-06-27 18:11] fturmel commented on #3035
Your input is interpreted as being in the local timezone, but then you log as UTC. Most (all?) of the `date-fns` functions assume that you are working with the system's timezone.

[code]

[2022-06-27 18:11] #3035 closed

[2022-06-27 20:26] fturmel commented on #3029
Yeah, it looks like you hit a floating point overflow / limit of JavaScript with this edge case.

This specific ISO format is understood by the JS Date constructor, so you could try to use that directly instead. Based on a few tests, however, even the Safari and Firefox implementations overflow at some point (Chrome is unaffected).

[code]

The easiest way to resolve this is to have your backend r

[2022-06-30 01:31] jyxu1016 opened #3102 "Failed to load package list!"
https://date-fns.org/docs/Getting-Started

Failed to load package list!

[2022-06-30 02:06] #3102 closed

[2022-06-30 14:42] KonradLinkowski commented on #612
Still not fixed
Generated type:
[code]
Actual type:
https://github.com/date-fns/date-fns/blob/master/src/locale/types.ts#L17

[2022-07-05 09:25] kahummer commented on #326
https://date-fns.org/v2.16.1/docs/isMatch

This doesn't validate the format. It checks if the date and format provided match

[2022-07-05 13:37] JoranLive opened #3104 "What I do not understand with utcToZonedTime ?"
Hello,

I want to convert a date to a specific time zone without taking care of my system timezone.

This is my code:
`
console.debug(`Timezone for application is:`, JSON.stringify(this.currentTz));

this.stoppage.start_time = new Date().toISOString();
console.debug(`Start time without TZ is ${this.stoppage.start_time}`);

this.startTime = utcToZonedTime(this.stoppage.start_time, this.currentTz.ti

[2022-07-06 09:04] ghostmurda commented on #1772
Still getting the same issue, but during the build with next.js

[2022-07-08 11:36] matinzd commented on #2887
Any estimation on next release date?

[2022-07-08 11:39] matinzd opened #3108 "Can't install master branch directly"
Isn't it better to specify default version and setup CI properly so that we can install the package directly from git?

[code]

[2022-07-10 03:04] maxcountryman commented on #3010
I think this should be reopened:

[code]

Only April 2nd and April 3rd are given as the "first" week of April. And even more strangely, April 1st, is the fifth week. (But of what month, March?)

This is quite odd and very unexpected.

[2022-07-10 11:49] fturmel commented on #3010
@maxcountryman This is related to how the Date object handles time zones with string inputs.

You can read more about this behavior on MDN: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/Date

[code]

[2022-07-10 17:02] toydaboss opened #3109 "The documentation page is offline"
I can't access the website for the documentation using the URL, https://date-fns.org/

[2022-07-11 13:13] sspilleman opened #3110 "Fix NL Locale parse"
Hi,

It seems NL locale string parsing is broken for locale "nl"... OR I am doing something wrong. Please see following code:

[code]

I'm getting the following output:
[code]

So i think this is not what is expected... I assume to should recognize and print all dates instead of outputting "Invalid Date" except for "mei".
Am I doing something wrong? Or is this indeed a bug?

Thanks

[2022-07-11 13:28] fturmel commented on #3110
The abbreviated months in `nl` are defined as requiring a trailing period. "mei" works because it is a 3-letter word and thus not abbreviated.

https://github.com/date-fns/date-fns/blob/fac43dbdbaecd42bb948563f29ffbe27da91cebe/src/locale/nl/_lib/localize/index.ts#L19-L32

The CLDR survey doesn't seem to have periods (anymore?), so they probably should be made optional in the locale.
https://st.uni

[2022-07-11 14:46] sspilleman commented on #3110
Thanks @fturmel .... Do does this mean its a bug then?

[2022-07-11 15:27] fturmel commented on #3110
I don't think it's a bug per se, but might consider it a usability improvement to make the periods optional. I'll leave it to a maintainer to make the call.

The project usually strictly follows CDLR. Version 32 (2017) is linked in the docs as the primary reference, and as you can see `nl` does have periods for abbreviated months. But in the latest CLDR survey (42) that I linked earlier, the varia

[2022-07-11 15:43] fturmel opened #3111 "The I18n contribution guide should be updated with TypeScript examples"
Self-explanatory, here's a link to the file:

https://github.com/date-fns/date-fns/blob/master/docs/i18nContributionGuide.md

[2022-07-11 16:53] sspilleman commented on #3110
I see... I think this is because in "regular writing" people are probably "officially" supposed to add the period to indicate that it is an abbreviation (although today less people do as well I think). When date strings are computer generated, nobody would add the period though :-) Will have to do some text replacing then.....

[2022-07-11 16:54] sspilleman commented on #3110
Looks like by design so I'll close the issue here

[2022-07-12 12:47] rolim opened #3112 "language support"

[2022-07-12 12:47] #3112 closed

[2022-07-13 12:52] leshakoss commented on #2424
Fixed in #3069

[2022-07-13 12:52] #2424 closed

[2022-07-14 08:13] kafkas commented on #489
I think many of you will find this function useful.

[code]

[2022-07-14 08:45] sacrosanctic opened #3113 "vscode intellisense repeats the same function many times"
<img width="407" alt="image" src="https://user-images.githubusercontent.com/2974920/178941751-d9ab3cb8-c71e-4052-8bfc-3228683f7ae8.png">

Is this normal?

[2022-07-14 08:54] kossnocorp opened #3114 "Generate Flow types from TypeScript as a separate package"
Since we're releasing v3 with native TypeScript definitions, we need to rework our approach to Flow types.

Before, we were generating both TypeScript and Flow types from JSDoc, but now we won't have those, so we will need to use the TypeScript source or d.ts files.

Given that the Flow adoption is very low (and it might as well die soon), I suggest we release those as a separate package:
`@date-f

[2022-07-17 21:15] BeyondEvil opened #3117 "format off by one hour when given Number"
[code]

Expected output would be `00:02:11`

What am I not understanding here?

Version is 2.28.0

[2022-07-18 00:28] maxcountryman opened #3118 "`getDate` returns previous day when operating on a `new Date()`"
[code]

It seems that `getDate` is operating in my timezone, not UTC. But, the date object is tracking UTC. I understand this is an issue for formatting, but we aren't formatting here so I'm confused.

[2022-07-20 12:19] varszegik commented on #3117
This is the correct behaviour for format as it is meant to format dates, not durations.

What happens here, is **131000** interpreted as a unix timestamp and converted to **Thu, 01 Jan 1970 00:02:11 GMT**, which is then formatted based on your timezone which should be CEST and **Thu, 01 Jan 1970 01:02:11 GMT+0100** formatted to 'HH:mm:ss' is **01:02:11**

[2022-07-20 13:10] maxcountryman commented on #3118
Where are the UTC variants? For example, `Date.prototype.getUTCDate`; this is essential functionality and seems to be missing from this library.

[2022-07-20 21:03] alan-nf commented on #2131
This is basically the same problem, right:

[code]

[2022-07-20 22:34] rikkalo commented on #3114
I suggest
1. generate d.ts files (using tsconfig.json with "declaration: true" option)
2. Then use https://www.npmjs.com/package/flowgen to generate flow types from d.ts

[2022-07-21 02:08] kossnocorp commented on #3114
@rikkalo sounds good!

[2022-07-21 08:48] #3058 closed

[2022-07-21 13:19] #3063 closed

[2022-07-21 14:57] tom-spikeglobal opened #3119 "Duplicate variables in types (Cannot redeclare block-scoped variable 'daysInWeek')"
Seems that in master the **typings.d.ts** has duplicate declared variables for **daysInWeek** (Line 1197)

`error TS2451: Cannot redeclare block-scoped variable 'daysInWeek'.

1195   const daysInWeek: number`

https://github.com/date-fns/date-fns/blob/master/typings.d.ts#L1197

![duplicate-variable](https://user-images.githubusercontent.com/87658684/180245027-d7a5d43d-ac4a-4b3a-a941-291e7dbaa6df.p

[2022-07-21 15:07] fturmel commented on #3119
Good one.

@leshakoss @tan75 there is a missing `@name` jsdoc in the constants file. Pretty sure that's the root cause here, it's happened before.

https://github.com/date-fns/date-fns/blob/6d8e424021f31edacc46b8b55a823fa3b54cc08c/src/constants/index.ts#L11-L21

[2022-07-21 21:44] sbmelvin opened #3121 "parseISO accepts invalid dates"
I've noticed that `parseISO` will accept just about anything (except white space and `T`) after the timezone in an ISO 8601 formatted string.

Some examples where `parseISO` and `new Date()` differ.
[code]

[code]

[2022-07-22 07:23] steve3d commented on #3119
confirmed in version 2.29.0, this also exists.

[2022-07-22 08:16] leshakoss commented on #816
Released in v2.29: https://date-fns.org/v2.29.0/docs/setDefaultOptions

[2022-07-22 08:16] #816 closed

[2022-07-22 08:17] leshakoss commented on #2897
Fixed in 2.29

[2022-07-22 08:17] #2897 closed

[2022-07-22 08:17] leshakoss commented on #2887
Released: https://date-fns.org/v2.29.0/docs/Change-Log

[2022-07-22 08:17] #2887 closed

[2022-07-22 08:18] #3048 closed

[2022-07-22 08:18] #3049 closed

[2022-07-22 08:18] #3050 closed

[2022-07-22 09:08] harveyconnor commented on #3119
yep getting this issue to

[2022-07-22 09:18] yian430 opened #3122 "the latest version will have an error when you try to compile, error shows that: Cannot redeclare block-scoped variable in typings.d.ts 'daysInWeek'. in"
the latest version will have an error when you try to compile, error shows that: Cannot redeclare block-scoped variable in 'daysInWeek'.
 in typings.d.ts

[2022-07-22 09:23] madhurakhal commented on #3122
I also got the same issue.

[2022-07-22 09:26] madhurakhal commented on #3122
It is duplicate of [https://github.com/date-fns/date-fns/issues/3119](https://github.com/date-fns/date-fns/issues/3119l)

[2022-07-22 09:32] s-a-m-u-e-l commented on #3119
me toooo :(

[2022-07-22 10:27] Kaspanoombro commented on #3119
Me too.

[2022-07-22 10:38] iMichaelOwolabi commented on #3119
I am also getting this error now

[2022-07-22 10:51] tinkermark-jeric commented on #3119
Me too.

[2022-07-22 10:52] jericepon commented on #3119
I am getting this error too.

[2022-07-22 10:56] DavidAmunga commented on #3119
Damn. Same here !

[2022-07-22 11:14] fturmel commented on #3122
As mentioned, this is a dupe so I'll go ahead and close this.

[2022-07-22 11:14] #3122 closed

[2022-07-22 11:14] tazki commented on #3119
got same error
![image](https://user-images.githubusercontent.com/42196376/180427824-7f4dc10d-36bc-4dd7-b6f9-05eb54cd0f67.png)

[2022-07-22 11:49] #3119 closed

[2022-07-22 12:08] swftvsn opened #3126 "2.29 broken types"
Hi,

the types are broken, daysInWeek is declared multiple times: see produced typings.d.ts, line 1256 + 1257. (This is the first occurrence.)

Rolling back to 2.28 fixes the issue.

[2022-07-22 12:18] leshakoss commented on #3126
Just published a patch that should solve this issue: https://github.com/date-fns/date-fns/releases/tag/v2.29.1

[2022-07-22 12:18] #3126 closed

[2022-07-22 12:52] swftvsn commented on #3126
Thank you @leshakoss !

[2022-07-22 18:07] gthau commented on #3119
To workaround the issue, add "skipLibCheck": true  to your tsconfig.json, it will prevent tsc from type check your dependencies.

[2022-07-23 06:47] smmoosavi commented on #1472
@dkozickis
I fixed the problem in #3088. Can you review the PR

[2022-07-24 08:55] im28 opened #3129 "roundToNearestMinutes roundingMethod producing unexpected results"
When using `roundToNearestMinutes` function the rounding method doesn't seem to produce an expected result, or maybe there is something I'm missing.

For Example
`const result = roundToNearestMinutes(new Date(2022, 6, 24, 0, 28, 59), {
  nearestTo: 1,
  roundingMethod: "floor"
});
console.log(result);`

Produces
Sun Jul 24 2022 00:29:00 GMT+0800 (Singapore Standard Time)
Expected
Sun Jul 24 2022 0

[2022-07-25 14:11] jlowcs opened #3131 "breaking change: ESM module is not ES5 anymore"
After the migration of some files to typescript, it seems like the generated ESM files are not ES5 anymore. Our app bundle now contains the `class` keyword.

[2022-07-25 15:16] sbmelvin commented on #3121
#2489

[2022-07-26 10:36] vadimpopa opened #3133 "parse 'd MMM y' date with SV locale returns invalid date"
Hi,

it seems that for SV, the parser returns invalid date for 'd MMM y'. Example below tested with v2.29.1.

[code]

Any help much appreciated to resolve this.

[2022-07-26 10:40] emceearjun opened #3134 "Problem in addMinutes documentation - incorrect date mentioned in example comment"
There is an issue with the [addMinutes documentation](https://date-fns.org/v2.29.1/docs/addMinutes)

  ### The problem with addMinutes documentation
Incorrect comment in the example code snippet. Comment mentions date as 10 July 2014, however the Date object created in the code snippet is 10 June 2014

  ### Suggested edits
Update the comment to mention 10 June instead of 10 July

[2022-07-26 11:25] vadimpopa commented on #3133
Tested all months and the invalid ones are:
“21 juli 2022”
“21 juni 2002”
“21 mars 2002”

[2022-07-26 12:02] fturmel commented on #3133
You are correct, that's a locale parser bug for abbreviated months that are 4 characters long (and not actually abbreviated in the formatter). `jul` and `jul.` would match, but not `juli`.

https://github.com/date-fns/date-fns/blob/38ff3a18ad84d990b6ebcff1c120ea7ee4400b69/src/locale/sv/_lib/match/index.ts#L27-L31

I'll work on a PR to fix this.

[2022-07-26 12:27] fturmel commented on #3133
#3135 should take care of this

[2022-07-26 12:32] vadimpopa commented on #3133
Thanks a lot @fturmel . If the new release with this fix lands in a few days that basically will resolve my release too :)

[2022-07-26 12:35] fturmel commented on #3133
That's outside of my control unfortunately, but I hope it does!

[2022-07-26 12:55] fturmel opened #3136 "`format` -> `parse` tokens compatibility problems in many locales"
If anyone has the patience to go through this, there are still several tokens that don't match bi-directionally in locales (ie: the output of the `format` function can't be correctly parsed by the `parse` function).

Here's a quick way to track some of these issues, keeping in mind that the snapshot.md files are not exhaustive:
https://github.com/date-fns/date-fns/search?l=Markdown&q=Invalid+Date

[2022-07-26 13:10] fturmel commented on #3134
No issues here, the Date constructor takes a monthIndex (0 - 11).

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/Date

[2022-07-26 13:10] #3134 closed

[2022-07-26 13:15] vadimpopa opened #3137 "parsing dates with MMM for Ukrainian returns invalid dates"
Test Code:

[code]

Failling dates/months:
[code]

[2022-07-26 13:16] vadimpopa commented on #3133
Another one for UK here: https://github.com/date-fns/date-fns/issues/3137

[2022-07-27 08:53] vadimpopa commented on #3137
PR https://github.com/date-fns/date-fns/pull/3139 should fix this.

[2022-07-30 04:47] dalmo3 commented on #3113
Same here.

[code]

![image](https://user-images.githubusercontent.com/33860060/181871579-3e8ea0a1-d9eb-4967-a970-70aa7778e645.png)

[2022-08-02 00:46] dwjohnston opened #3143 "API documentation is difficult to navigate."
The list of available functions is in that right hand panel, and is separated into groups (days, minutes, etc).

It's actually very difficult to find the appropriate function you're looking for.

I suggest:

- Have one page with a table of contents for all the function
- One line per function (rather than including the description as well)
- Reduce font size and margins.

[2022-08-02 09:47] aminify opened #3144 "Problem in intervalToDuration documentation"
There is an issue with the [intervalToDuration documentation](https://date-fns.org/v2.13.0/docs/intervalToDuration)

  ### The problem with intervalToDuration documentation

  The given example doesn't have a valid js syntax!
[code]

  ### Suggested edits

  The example should probably be converted to:
[code]

[2022-08-03 09:56] aryans1319 commented on #3144
Can I work on this issue?

[2022-08-03 12:03] jwld commented on #3118
@maxcountryman https://www.npmjs.com/package/date-fns-tz

[2022-08-03 19:40] yurischulz opened #3145 "Failed to open documentation"
Hey,

It looks like the documentation is having some problem loading the package list.

![image](https://user-images.githubusercontent.com/12175931/182694671-032619f1-cfdb-4520-9042-e82726c10be0.png)

[2022-08-09 12:47] felixpes commented on #2627
Guys, any news regarding Maori language support?

[2022-08-10 07:47] maliethy opened #3149 "Problem in addDays documentation example month"
There is an issue with the [addDays documentation](https://date-fns.org/v2.29.1/docs/addDays)

  ### The problem with addDays documentation

[code]
  ### Suggested edits

[code]

[2022-08-10 07:48] Snowirbix commented on #916
I also need it, is it planned or something ?

[2022-08-10 11:23] SimonAM commented on #1857
I got this error with formatWithOptions. Remember to use the arguments in order (options, formatString, date)

[2022-08-10 14:30] matinzd opened #3150 "parseISODuration function"
Is there any plan to add functionality to parse ISO duration?
Reverse of https://date-fns.org/v2.29.1/docs/formatISODuration.

Examples:
[code]

https://en.wikipedia.org/wiki/ISO_8601

[2022-08-11 09:05] den-by commented on #980
You can use this approach:
`import { format } from 'date-fns-tz/esm'`

[2022-08-11 10:15] HaroldSchouwen commented on #1569
I'd like to offer my support of making a strict mode available in the parse function or having a stricter match function.
Currently it is hard to migrate away from momentjs with an implementation like:
`fieldDate = moment('010120',['D M YYYY', 'DMYYYY'], true);`

Also the isMatch function is not a real viable option without making the code bloated cause the following comes back true
`isMatch('0101

[2022-08-11 11:39] capdavid opened #3152 "Format returns year -1 when formatting 1st of January"
Found a funny bug..
```console.log(format(new Date('2022-01-01'), 'RR-MM-dd'))```
expected `2022-01-01`

what I got
`2021-01-01`

Am I doing something wrong? If I am, it's very unintuitive. 😅

Thank you.

[2022-08-11 12:22] italosantana commented on #1917
@tan75 some update?

[2022-08-11 19:41] r259c280 opened #3155 "IE11 for of loops"
Oracle Cerner uses this open-source library within our UI applications. Since IE11 doesn't support for of loops natively, and various consumers of our applications use this, and potentially other enterprise IoT applications could possibly use this as well, or run into this issue. We are adding logic to revert the for of loop changes for continual support natively through IE 11.

There are only two

[2022-08-12 08:33] doberkofler commented on #1569
@HaroldSchouwen I offered my help 1,5 years ago but never received any feedback. I hope you have more luck and will soon be able to get rid of my hacked version.

[2022-08-12 09:06] BenStirrup commented on #584
A feature taking into account holidays would be great !

[2022-08-15 07:12] jukkahuuskonen commented on #1946
The question here was having a localized date format without year. This answer has nothing to do with localized formatting.

[2022-08-15 15:52] r259c280 commented on #3155
@leshakoss is this something that seems feasible?

[2022-08-16 08:11] jukkahuuskonen commented on #1946
I have a use case with users in different timezones looking at reports from devices that also can be on different timezones and I needed the date (comes from those devices in UTC time) formatted in user locale and showed in the device local time instead of user local time.

if you do not need to take into account any timezonechanges then this should be enough:
[code]

I wrote this that seems to ha

[2022-08-17 17:15] MForMarlon commented on #3149
@maliethy Actually there is no problem, because the month in the [Date constructor](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/Date#examples) is 0-based.

[2022-08-18 11:53] #3137 closed

[2022-08-18 12:49] capdavid commented on #3152
Please, anyone?

[2022-08-18 13:10] fturmel commented on #3152
`R` is meant to be used along with tokens related to ISO week numbering, like `I`. Your example should be using the `y` token. Consult the docs for more details on all available tokens: https://date-fns.org/docs/format

https://en.wikipedia.org/wiki/ISO_week_date

[code]

[2022-08-18 13:17] capdavid commented on #3152
Oh I see, thank you very much!

[2022-08-18 13:20] #3152 closed

[2022-08-18 14:39] gwagner-intive commented on #916
any news on this???

[2022-08-18 18:58] rolfsmeds commented on #942
The most frustrating thing about this is that `parse("05-01-01", "yyyy-MM-dd", new Date())` happily parses the 2 digit year despite the format provided, _but ignores the reference date_, so it's not even consistent with `yy-MM-dd`.

[2022-08-18 19:50] vadimpopa commented on #942
I think we just need to add strict parsing. Current behaviour of parsing most of the cases possible seems to me correct.

If you look in Java parse does the same: `For parsing, if the number of pattern letters is more than 2, the year is interpreted literally, regardless of the number of digits. So using the pattern "MM/dd/yyyy", "01/11/12" parses to Jan 11, 12 A.D.`. https://docs.oracle.com/en/ja

[2022-08-19 10:30] rolfsmeds commented on #942
Tested this and it does not work like that: isMatch returns `true` for `yyyy-mm-dd` and `50-01-01`.

[2022-08-19 11:36] rolfsmeds commented on #942
To give some context, and a use case where strict parsing would be needed, we have a [Date Picker component](https://vaadin.com/docs/latest/components/date-picker) that supports multiple parsing formats simultaneously: you can provide it with a list of formats used for parsing `setDateFormats("yyyy-mm-dd", "yy-mm-dd")`, and the idea is that it'll parse the date entered by the user using the first

[2022-08-20 07:37] maliethy commented on #3149
@MForMarlon I see. Thank you for the information!

[2022-08-20 07:37] #3149 closed

[2022-08-22 07:47] Rizzwaan opened #3161 "documentation page is not opening"
<img width="1435" alt="Screenshot 2022-08-22 at 1 12 58 PM" src="https://user-images.githubusercontent.com/30421284/185866832-85d46de7-d5af-49c4-b383-7c37f5891e22.png">
Try going to https://date-fns.org/docs/Getting-Started/

[2022-08-22 08:20] vadimpopa commented on #3161
Works for me. But this is a duplication for https://github.com/date-fns/date-fns/issues/3145. Closing, please make sure before reporting you first check for opened issues.

[2022-08-22 08:20] #3161 closed

[2022-08-23 09:03] SalahAdDin commented on #1740
No updates neither here nor in `dayjs`.

[2022-08-24 02:59] #3003 closed

[2022-08-24 06:46] #3133 closed

[2022-08-24 11:56] ZerdoX-x commented on #2964
due to lack of esm support from date-fns it's now completely unusable with dynamic locale imports
you just can't import date-fns' locale on-fly

[2022-08-24 12:03] vadimpopa commented on #2964
@ZerdoX-x for me it works:
[code]

[2022-08-26 13:44] MelissaPastoreClair commented on #3145
I having this issue today as well with the same error message.

[2022-08-27 22:37] 123NeNaD opened #3164 "Problem with getDay function"
There is an issue with the [getDay function](https://date-fns.org/v2.29.2/docs/getDay)

  ## The problem

Given the following 2 dates in ISO format:
[code]
[code]
`getDay()` returns `0` for the first one, and `1` for the second one.

Note that it's the same date, and only time is changed.

I am assuming it returns the result after converting it to local time. Because of that behavior, my logic has

[2022-08-29 11:03] quanzhiyuan opened #3165 "V2.29.0 cannot use in IE11"
v2.29.0 package's  "Parse" file have not transformed code。
<img width="1299" alt="image" src="https://user-images.githubusercontent.com/14797885/187186892-a2d9e2e1-408d-4e69-843f-7ba6957be710.png">

[2022-08-31 12:07] ianoel230982 commented on #3145
I have same issue with same error when using my corporate laptop connected to proxy.
If I try with my personal device then it works fine.

[2022-09-01 14:17] damianof opened #3166 "add day for 2022-03-13 returns 2022-03-13T23:00:00.000Z instead of 2022-03-14T00:00:00.000Z"
This seems happening only when trying to add 1 day to this specific date: 2022-03-13T00:00:00.000Z

We expect the result to be 2022-03-14T00:00:00.000Z, but instead we get 2022-03-13T23:00:00.000Z

[Here is a gist to replicate the issue](https://gist.github.com/damianof/41192274852d895d696b14ca62562126)

[2022-09-02 06:16] tan75 commented on #3166
hi @damianof
thank you for reporting this.
what is your time zone?

[2022-09-02 08:56] damianofusco commented on #3166
US Eastern Time

[2022-09-02 10:32] tan75 commented on #3166
@damianofusco where did you get these dates from? How were they created? Were they processed by another function?
Can we have a look at the code snippet, please?

[2022-09-02 11:35] damianofusco commented on #3166
@tan75 the snippet is on the gist link included. Just save that as test.js file and run with `node test.js`

[2022-09-02 12:14] kossnocorp commented on #3166
Could you please clarify how you get `2022-03-13T23:00:00.000Z`. I'm trying to reproduce with no luck:

![image](https://user-images.githubusercontent.com/52201/188140010-691d27ca-bac3-480d-9e32-d3a78cec91ca.png)

Btw, the asserting in the gist is invalid as you strictly compare string with a date object, and in my case, it outputs the correct time:

![image](https://user-images.githubusercontent.

[2022-09-02 12:40] fturmel commented on #3166
@kossnocorp These two dates are crossing between EST and EDT, so you can't reproduce the bug by hard-coding to `EST`. Try with `TZ=America/New_York` instead and you'll get the same behavior as OP.

[code]

@damianof `date-fns` works with local time zones, so you're really adding one day to the local timezone representation of your date, not UTC. You lose an hour by crossing to EDT.

[2022-09-02 14:12] damianofusco commented on #3166
Why does it happen only for that date? Try to loop over 365 days of any year and you will see it starts doing that on slightly different days in March.

When using ISO dates how can we get a consistent result without being affected by the time zone of where the code is running?

[2022-09-02 14:57] damianof commented on #3166
@kossnocorp @fturmel Try this (here I am starting with 2023-01-01 but you can use any year, and see the issue is one of the days in March):
[code]

It will print one bad result:
[code]

Weirdly enough if you try with year 2021 you'll get it on March 14:
[code]

[2022-09-02 14:58] fturmel commented on #3166
Probably because it's the only time of year when the time zone transition goes from -5:00 to -4:00, but I'd have to see how you are doing this calculation over the whole year.

I'd say ideally change the OS or the runtime environment time zone to UTC. That way, you eliminate time zones completely with your server-side calculations (there are no more differences between UTC and local). Launch your

[2022-09-02 15:03] damianof commented on #3166
@fturmel Thank you for the great suggestions. Yes, I was trying to do timezone-agnostic calculations, but was surprised to see that in date-fns, seems counterintuitive if one does not care about the TZ or the time in general, but just needs to build a list of daily dates within a range. I'll try to look at Luxon.

[2022-09-02 15:25] fturmel commented on #3166
I don't know much about this effort, but I'll also mention that there is a [utc date](https://github.com/date-fns/utc) project happening, and it seems to be getting integrated into the `date-fns` main branch #3089. Most likely something that will be available in an upcoming major release.

[2022-09-02 16:53] damianof commented on #3166
@fturmel Nice to hear. I'll keep en eye on the utc date project. For now I guess I can just close this issue.

[2022-09-02 16:53] #3166 closed

[2022-09-03 18:38] mvladescu opened #3168 "startOfToday returns some time yesterday?!"
const date_api = require("date-fns");

    const now = new Date();

    console.info(now);
    console.info(date_api.format(now, "yyyy-MM-dd"));
    console.info(date_api.startOfToday());

produces this output:

    2022-09-03T18:33:22.365Z
    2022-09-03
    2022-09-02T21:00:00.000Z

huh?

using date-fns 2.29.2 from node 17.9.0

[2022-09-03 18:40] mvladescu commented on #3168
console.info(date_api.startOfYesterday());

produces this:

    2022-09-01T21:00:00.000Z

at least it's predictably wrong :)

[2022-09-03 18:41] mvladescu commented on #3168
I'm in Bucharest, Romania, UTC+3

[2022-09-03 18:48] mvladescu commented on #3168
actually, never mind, it's me being stupid

the Date objects are fine, but console.info prints UTC

[2022-09-03 18:48] #3168 closed

[2022-09-03 18:48] mvladescu commented on #3168
not a bug

[2022-09-04 07:21] VIKTORVAV99 commented on #3165
I am not sure I would consider this a issue myself, IE11 has reached end of life and Microsoft themselves is no longer supporting it for commercial versions and recommends switching from Internet Explorer.

[2022-09-05 13:21] niravchavda99 commented on #3164
It seems like this is intentional. Because javascript date API `getDay()` also returns the same result. Try converting to UTC.

[2022-09-06 13:58] tkrotoff opened #3169 "parseISO fails with an offset without : (colon)"
Example:

[code]

Compare this to Date:

[code]

Using date-fns v2.29.2 with Node.js v16.17.0

FYI `new Date('2022-09-02T00:00:00+0200')` fails with [Hermes](https://hermesengine.dev/) 0.8.1 (old version) so what I recommend in general is to follow a subset of ISO 8601 defined here https://www.w3.org/TR/NOTE-datetime (offset that contains a colon).

[2022-09-06 17:18] alinkedd opened #3170 "[uk] Incorrect noun grammar form for xDays, xWeeks, xMonths regular distance in Ukrainian"
In Ukrainian the correct noun form for regular x distance of **few** numbers (2, 3, 4 and complex with 2, 3, 4) is **Nominative Plural** in most cases, not Singular Genitive:
- xMonths regular - `4 місяці` (not `4 місяця`)
- xWeeks regular - `3 тижні` (not `3 тижня`)
- xDays regular - `2 дні` (not `2 дня`)

All other cases are correct only because:
- there is no difference in writing between Nomin

[2022-09-06 22:46] davetapley commented on #3150
See also: https://github.com/date-fns/date-fns/issues/418

[2022-09-06 22:48] davetapley commented on #3027
Closing for https://github.com/date-fns/date-fns/issues/3060

[2022-09-06 22:48] #3027 closed

[2022-09-06 23:05] matinzd commented on #3150
@davetapley PR is waiting for review.

[2022-09-08 18:15] vibl opened #3172 "Parsing ISO week number returns a Sunday instead of a Monday"
Parsing ISO week number returns a Sunday instead of a Monday.

Example:
[code]

ISO weeks start on Monday (https://en.wikipedia.org/wiki/ISO_week_date).

[2022-09-08 18:50] vibl commented on #3172
Ok, not a bug: it just returned the UTC time of Monday at midnight in Paris, which is Sunday at 22:00.

[2022-09-08 18:50] #3172 closed

[2022-09-10 10:05] batyr993 opened #3173 "Turkmen language support"
Can you please add Turkmen date support. DD.MM.YYYY. Thanks in advance. I am looking forward to hearing from you

[2022-09-13 03:07] abhidatta0 opened #3178 "Please help in unit testing"
In my JSX, I am using formatDistanceToNow like this
[code]

I want to unit test the component.
After reading the jest doc and some blogs, i expected this should work but not actually working.
[code]

The jest error shows I am not getting the mock return value.
<img width="505" alt="date-fns-issue" src="https://user-images.githubusercontent.com/21294230/189798600-784b41a7-ef65-4fe1-a416-a0237add384

[2022-09-13 08:23] bodograumann commented on #1783
It seems the custom module https://deno.land/x/date_fns is not being updated. The [related repository](https://github.com/date-fns/deno) has been archived.

I tried using the latest verison of date-fns directly and it seemed to work without any problems:
[code]

So is there anything left to do here?

[2022-09-13 12:47] #3170 closed

[2022-09-13 12:49] leshakoss commented on #3155
@r259c280 attempted to fix this in v2.29.3 https://github.com/date-fns/date-fns/releases/tag/v2.29.3 Unfortunately currently the date-fns team doesn't have an ability to test in IE11 at the moment. I checked the transformed code manually and it looks okayish (no classes, no for-of loops etc.) but you might want to verify this yourself. Feel free to reopen the issue if the fix didn't work for you.

[2022-09-13 12:49] #3155 closed

[2022-09-15 15:03] andykais commented on #1783
wanted to throw this out there, deno standard library includes its own datetime library now. Looks like it can handle most things https://deno.land/std@0.155.0/datetime/mod.ts
[code]

[2022-09-15 21:29] fabioop opened #3181 "Functions semantics review"
If `getDay` returns the day of the week, shouldn't be `getDayOfWeek`?
To maintain consistency with `getDayOfYear` which returns the day of the year of the given date.

And if `getDate` returns the day of the month, shouldn't be only `getDay`?
To maintain consistency with `getYear` and `getMonth` that return respectively the year and the month of the given date.

I have this doubt because I lost wa

[2022-09-16 04:47] #3178 closed

[2022-09-19 04:58] igalci opened #3183 "Can we remove the email opt-in at the bottom left of the documentation?"
Cmon, this is supposed to be an open-source project, not some private commercial marketing website. Why is there no option to close or hide that annoying pop-up.

On smaller screens this is very annoying for someone studying the documentation and scrolling through the commands to find what I need.

[2022-09-19 12:41] leshakoss commented on #3183
This is how we get money! I am 100% certain that a small banner is better than having no maintainers. If you like date-fns, please helping us directly: https://opencollective.com/date-fns Thanks!

[2022-09-19 12:41] #3183 closed

[2022-09-20 00:13] nskazki commented on #1781
Node supports `type` as of recently https://nodejs.org/api/packages.html#type

[2022-09-20 03:05] varwasabi commented on #3111
Will take on this work 👍🏻

[2022-09-20 03:38] varwasabi commented on #3111
PR available here: https://github.com/date-fns/date-fns/pull/3184

[2022-09-20 08:59] OBrown92 commented on #2993
Hey there, just encountered another, simple to reproduce, dst issue in `intervalToDuration`.
[code]
which results in expected duration
[code]
But if we try it with a dst switch date like:
[code]
it results in
[code]
which is a little bit bad if you want to use the `days` attribute for further stuff (like we did 😆).

[2022-09-21 10:54] UnknownU opened #3185 "Problem in endOfYear documentation"
There is an issue with the [endOfYear documentation](https://date-fns.org/v2.29.3/docs/endOfYear)

  ### The problem with endOfYear documentation
In the example comment is has mentioned that 2nd of September but in the code it is 2nd of August.
// The end of a year for 2 September 2014 11:55:00:
const result = endOfYear(new Date(2014, 8, 2, 11, 55, 00))

  ### Suggested edits

// The end of a year

[2022-09-21 14:14] RCNNT-Industries opened #3188 "Swedish locale defaults to `onlyNumeric: false` for `formatDistance` with no way to change it when using `formatDuration`"
Hey!

`formatDuration` yields results like `fyra timmar` instead of `4 timmar`, where numbers are replaced with words — with no way to change that behaviour except overriding the entire locale and changing the default of the `formatDistance` method. The flag `onlyNumeric` seems to only exist for Swedish (sv) and Nynorsk (nn).

It would be nice if all option flags passed to `formatDuration` were pa

[2022-09-21 17:05] KuNman commented on #975
Seems like it's possible only with dumb string manipulation...

[2022-09-22 21:02] kellynauert commented on #1626
Still having this issue

[2022-09-23 07:47] e4rthdog opened #3190 "Seems like parseJSON ignores the missing Z in the end and adds timezone to returned time."
My JSON field `item.tstamp`  is :  `"2022-09-23T06:00:00.877"`

My format statement is: `format(parseJSON(item.tstamp), 'E dd/LL/yyyy - HH:mm')`

The result is that i get +3 hours of my timezone added which is a mistake.

The result: `Fri 23/09/2022 - 09:00`

What am i missing?

[2022-09-23 13:52] fturmel commented on #3190
I think it's on purpose per the [documentation](https://date-fns.org/docs/parseJSON) and unit tests that it considers an input without `Z` or an offset to be interpreted as UTC.

https://github.com/date-fns/date-fns/blob/b8b7e521247f65d464712f5499de14e97bbef3bf/src/parseJSON/test.ts#L77-L82

If you want it in the local timezone, using the Date constructor directly or [parseISO](https://date-fns.or

[2022-09-23 14:09] e4rthdog commented on #3190
Yeap with parseISO is workign properly. Thanks!

[2022-09-23 14:09] #3190 closed

[2022-09-24 20:25] fractalien commented on #3164
I guess by "converting" you mean shifting the date by the offset that the local time zone has to UTC. But that's not just a time-zone conversion, but makes it a different date that has to live in a separate variable to not break other uses. (Of course, "date" is something of a misnomer, as it really is a point in time instead of a simple calendar date.)

getDay, getMonth, formatISO and other funct

[2022-09-25 15:17] afilp commented on #1569
I need this a lot also, I cannot easily get rid of momentJs without it. Thanks!

[2022-09-26 11:03] P0isonousPurple opened #3192 "Option for formateDistance to display as "yesterday" and "today""
I'm currently working on a chat app, and I would like to display the messages grouped by date for what I'm currently using date-fns. The problem for me right now is, that I need to hard-code if the messages are from today or yesterday, since formatDistance would display "x hours ago" or "1 day ago". I would love to have it as an option for formatDistance that this wouldn't need to be hard-coded.

[2022-09-26 18:48] daimoonis commented on #3136
Hi, I would like to mention https://github.com/date-fns/date-fns/pull/3189 as part of this effort.

[2022-09-26 20:13] NamrataAjmeri commented on #2989
I have an object with datavalue 2023-09-21T17:53:30.198183Z
and I am using parse(value, "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'", new Date()). But gives me **RangeError: Invalid time value**. Is there any solution to this. May be the second argument to parse is not correct.

[2022-09-27 19:46] Semigradsky commented on #3185
[code]
The month starts from 0.

[2022-09-28 09:21] wvanderdeijl commented on #2620
I think we are suffering from the same issue and it does seem related to daylight savings. In Europe/Amsterdam de switch to "winter time" is in October and in the US it is in November. The below script demonstrates that October is counted as 32 days in Europe/Amsterdam (but is okay in America/Los_Angeles) and November is counted as 31 days in America/Los_Angeles (but is okay at 30 in Europe/Amster

[2022-09-29 12:54] cyanerd commented on #3085
hello! but you will get wrong amount of days in this case :(

[2022-09-29 18:00] dhairyaostwal commented on #3192
@P0isonousPurple Hey, I would like to work on the issue. Have a few questions:

1. From what I understood, you want something like relative time provided by [moment.js](https://momentjs.com/)
2. Does this issue support Hacktoberfest 2022 contributions?

Thanks much!

[2022-09-29 18:58] dhairyaostwal commented on #3192
@P0isonousPurple Thanks for the reply. I'd love to work on this. Could this issue be assigned to me?

[2022-09-30 03:21] mnappo commented on #3104
I ran your example and received the output:

`Timezone for application is: Australia/Melbourne
start_time is 2022-09-30T03:18:40.911Z
zoned_start_time is 2022-09-30T13:18:40.911Z`

This matches your expected behavior doesn't it?

[2022-09-30 07:07] lgaida opened #3194 "parseISO unexcpeted behaviour for ISO-String with nanoseconds"
Hi,

i was surprised when my UI was showing a different date than what i expected based on the date stored in my database.
In my opinion parseISO does not handle ISO-strings correctly if the minute fractions are nanos.

I expect parseISO to parse
`2022-10-24T23:59:59.999999999+02:00`
and return it as
`Mon Oct 24 2022 23:59:59 GMT+0200(Central European Summer Time)`
but it actually returns
`Tue Oct

[2022-09-30 07:23] lgaida commented on #3194
Another argument to support my point:
simply calling `new Date('2022-10-24T23:59:59.999999999+02:00')`
returns the date that i expect it to be: `Mon Oct 24 2022 23:59:59 GMT+0200(Central European Summer Time)`
where date.getTime() is: `1666648799999`

[2022-09-30 07:53] byelik opened #3195 "round to nearest half hour"
Hi, thanks for such great library.
Is it possible to add this function to round to nearest half hour?

private roundToNearestHalfHour(time): Date {
		const interval = 30 * 60 * 1000;
		return new Date(Math.ceil(time.getTime() / interval) * interval)
}

[2022-10-01 14:04] azizoid commented on #1740
Since no one answers. let me leave it here.

You do not need date-fns for hijri date. just use Intl.dateTimeFormat

[code]

[2022-10-01 15:34] SalahAdDin commented on #1740
where did you find this option `"az-u-ca-islamic-nu-latn"`?

[2022-10-01 19:34] azizoid commented on #1740
`az` - is your lcoale, in my case it is Azerbaijan
`u` - dont know what is it
`ca-islamic` - what calendar to use
`nu-latin` - output

https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat#syntax

[2022-10-03 11:34] aoshi321 opened #3198 "Format function is moving to the next year given the specified following format"
Hi

the following code:

`format(new Date('2021-12-31 23:43:32'), 'Y-MM-dd HH:mm:ss')`

returns:

`2022-12-31 23:43:32`

I would expecting that to be showing 2021.

thanks

[2022-10-03 15:23] fredericbonnet commented on #3194
I've done a bit of research on how other languages and libs handle these cases, and rounding down seems to be the common practice (and the most sensible IMO). I have an incoming PR with a simple fix.

[2022-10-03 17:05] Akhilbisht798 opened #3200 "function that tells if given date is in this week or Not."
hey, I am currently working with ```date-fns``` and there was some problem that I have to check if the given date is in this week or not.

I have checked  ```date-fns```  documentation and can't seem to find any methods that can help with this.

I am not sure if there is any function or not.
But if there is none it would be great to have this function for week and/or month.
```Just a suggestion.``

[2022-10-03 18:34] Pooja444 commented on #3200
@Akhilbisht798 I would like to take up this issue
Can this issue be assigned to me? Also, will it count towards Hacktoberfest 2022 contributions?
@fturmel

[2022-10-03 18:45] Akhilbisht798 commented on #3200
@Pooja444 Hey, I am currently new to this project and don't have much experience working on it. I opened this new issue as a suggestion for the people who are more experienced than me in this.
If they suggest that to start working on it then I don't mind you working on it.

[2022-10-04 08:27] Ayushi96 commented on #3181
Hello @fabioop , I agree with the first line of your issue, updating the name to `getDayOfWeek` will make more sense. For the getDate, since it "Get the day of the month of the given date.", maybe it should also have a descriptive name like `getDayOfMonth`

@leshakoss could you please assign this issue to me

[2022-10-04 09:59] #3198 closed

[2022-10-04 10:00] aoshi321 commented on #3198
Im using Y in the pattern which is a ISO week-numbering year

[2022-10-04 11:53] enchorb commented on #366
@leshakoss Any updates/traction on getting this feature added?

[2022-10-04 14:11] fturmel commented on #3200
@Akhilbisht798 I don't think there's a function to specifically handle this use case, but you can easily get there with `startOfWeek`:

[code]

@Pooja444 I'm not on the core team, so I can't confirm but there was a recent addition to the README that hints that it will. https://github.com/date-fns/date-fns/commit/9ecc9b266a22d6ca89debc913b6e5c0a9b9d7ab6

[2022-10-04 15:55] Akhilbisht798 commented on #3200
@fturmel hey, your solution is great for this problem.

Do I keep this issue open for further discussion on this idea or just close it?

[2022-10-05 17:14] AugustoPreis opened #3203 "Error on I send a Date String in format()"
If I try to send a valid javascript date, but in string format, like: '2022-10-05T17:09:45.602Z', date-fns throw the following error:

```Uncaught RangeError: Invalid time value```

but if I send the same date, with a new Date(), works

format(new Date('2022-10-05T17:09:45.602Z'), 'yyyy-MM-dd')

Is this intentional? Exists the correction possibility?

[2022-10-06 12:41] revertiz opened #3204 "formatDuration Lithuanian translation for seconds is wrong"
formatDuration helper has wrong translation for seconds:
for seconds 1,21,31,41,51 the translation is good (sekundė)
for seconds 10-20,30,40,50 the translation is good (sekundžių)

the rest are wrong. Returns "sekundė", when should return "sekundės"

[2022-10-06 12:53] productdevbook commented on #2964
[code]

[code]

[2022-10-06 14:56] fturmel commented on #1566
@Iicytower Looks fine on my end, it's probably time zone related. `date-fns` works with local time zones. If you pass a date in string format to the Date constructor it'll interpret it as UTC which may not end up being the same day in the local time zone.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/Date

[code]

[code]

[2022-10-06 15:11] fturmel commented on #3200
It's simple enough that I don't think it's adding a lot of value, but since the library is tree-shakable there's no file size penalty for adding more helper functions. You could always work on a PR, but I have no idea if it might get accepted or merged.

I'll move this to discussions for now so it'll be easier for the community to find the proposed solution.

[2022-10-07 05:15] romanbalayan opened #3206 "JSDoc annotation mismatch similar to #3202"
Happy hacktoberfest 2022!

Saw other functions with similar JSDoc mismatch where JSDoc specifies `date` but param name is `dirtyDate`

[code]

Can I take on updating these on the other instances? Also would you prefer 1 PR per function, or just 1 aggregated PR for all the changes?

Thanks!

[2022-10-07 14:03] KapowraLL opened #3208 "Big increase of date-fns package size between v2.29.2 and v2.29.3"
Hello, is there a reason for the increased build size in v2.29.3 ?
I don't think https://github.com/date-fns/date-fns/pull/3167 alone explains this increase https://bundlephobia.com/package/date-fns@2.29.3 (i mean IE support is not worth the bundle size increase)

[2022-10-07 16:15] thgaskell commented on #3195
There's [`roundToNearestMinutes`](https://date-fns.org/v2.29.3/docs/roundToNearestMinutes) which should be able to do what you're looking for:

[code]

[2022-10-07 17:00] byelik commented on #3195
Unfortunately it doesn’t work as expected

пт, 7 жовт. 2022 р. о 19:16 Tony Gaskell ***@***.***> пише:

[2022-10-07 17:03] romanbalayan opened #3209 "Inconsistent behavior with `add` when different `duration` parameters is set to NaN"
Currently, the behavior add is inconsistent, depending on which specific duration parameter is set to NaN.

e.g.

[code]

but,

[code]

To be consistent with the implementation of addYears, addMonths, addWeeks, and addDays, I'm thinking if the should be same for it when NaN is passed as a parameter for any of the duration params?

[2022-10-08 05:52] chittim412 opened #3211 "isMatch is returning false when validating dd/MM for 29/02"
on the UI side, isMatch function is returning false when validating dd/MM for 29/02.
is there any alternative way that could return true for 29/02

const datefn = require('date-fns')
console.log("valid date >> ", datefn.isMatch("29/02",'dd/MM'))
output: valid date >> false

node v18.8.0
data-fns v2.29.3

[2022-10-08 23:38] bonilka opened #3214 "isExists returns false for dates before 0100-01-01"
For dates before `0100-01-01` isExists function returns false. But it seems as valid date.
[code]

[2022-10-10 12:34] anirudhgray commented on #3211
@chittim412 this happens because isMatch() uses the parse() function under the hood to construct the date object. If you don't provide an year (as in this case), it assumes the current year — since 2022 isn't a leap year, 29th of February isn't a valid date.

So parse (which uses isDate() and toDate() underneath) returns "Invalid Date" for your input, and that's why isMatch returns a falsy output.

[2022-10-10 22:30] wojtekmaj commented on #3208
I think it does. The only other change was Ukrainian grammar fixes...

https://github.com/date-fns/date-fns/compare/v2.29.2...v2.29.3

[2022-10-12 03:27] GokulManoharan opened #3220 "Dutch language support"
Hi,
I would like to see Dutch language support with react-datepicker. I think it doesn't exist already and I hope it will be added in future

[2022-10-12 14:34] sbmelvin commented on #3121
dead project ig

[2022-10-13 09:16] ajpetersons opened #3224 "Placeholders matching Go template tags"
We are using date-fns as a dependency for our Server Side Rendered pages. The pages are rendered by a Go program that also injects some other variables in the template. Our problem is that the library uses `{{count}}` to replace some values, which the Go template interprets as a template tag and attempts to render it.

The current workaround is to define a custom Go template function that prints t

[2022-10-13 09:49] Valar103769 opened #3225 "laji"
删库吧

<img width="1035" alt="image" src="https://user-images.githubusercontent.com/36926073/195563597-e7017d27-7e06-4c55-929e-d5072c6b2bdf.png">
<img width="817" alt="image" src="https://user-images.githubusercontent.com/36926073/195563624-b1c03563-1add-4e68-8c89-28cbd07c57d6.png">
<img width="447" alt="image" src="https://user-images.githubusercontent.com/36926073/195564465-b18f4d64-02d4-465c-b26d

[2022-10-13 10:25] tsvetislavt99 opened #3226 "Problem with formatDistanceToNowStrict function"
There is an issue with the [formatDistanceToNowStrict function](https://date-fns.org/v2.29.3/docs/formatDistanceToNowStrict)

  ## The problem

  ### 💻 Code demonstrating the problem

[code]

  ### 🙁 Actual behavior
  Output of `formatDistanceToNowStrict` with the above arguments is 6 months (With `round: 'floor'` option passed)

  ### 🙂 Expected behavior
  The output of `formatDistanceToNowStrict

[2022-10-13 15:35] calvintennant opened #3228 "Methods for working with time durations"
Happy to see methods like `eachDayOfInterval`, `eachWeekOfInterval`, etc. The method `intervalToDuration` is also very nice.

When working with `eachDayOfInterval` I ran into a catch where the start and end dates in my dataset are at midnight. I can see how technically both days belong to the interval, although zero seconds of the last day are part of the interval. It would be nice to have trailin

[2022-10-13 16:10] diogen737 opened #3230 "defaultLocale in the bundle"
First off - thanks for a great lib!

I need some clarification here.
Let's say I know what locale I'll be using throughout the app at the build time, so I do this:
[code]

Yet the `en-US` end up in the bundle anyway.

![Screenshot 2022-10-13 at 18 07 45](https://user-images.githubusercontent.com/25563221/195648883-0f6da260-a5fb-4de8-b57a-c79043e0bd0d.png)

Is there a way to tell date-fns/bundler t

[2022-10-13 17:44] calvintennant commented on #840
This is already supported.

[code]

results in `28 years 21 days`.

Should probably close this issue.

[2022-10-13 21:05] tan75 opened #3231 "Jobs emailing service"

[2022-10-14 08:22] polakowski commented on #3195
@byelik Can you explain how do you expect it to work, and why it doesn't meet your expectations? It will be easier to help

[2022-10-14 08:35] byelik commented on #3195
Hi @polakowski, sorry that didn't attach any sample.
Here I attached a link to the StackBlitz editor.
I hope it will be clear and you will understand my thoughts about it

[https://stackblitz.com/edit/angular-date-fns-x7zglw?file=src/app/app.component.ts](url)

[2022-10-16 13:36] VaheAntonyan opened #3233 "Please add these 2 test cases for intervalToDuration method and fix them"
Case 1:
Broken since #2616
Broken in versions: 2.29.0, 2.29.1, 2.29.2, 2.29.3
Working in versions: 2.28.0

[code]

Case 2: Results in 1 additional day
[code]

_Originally posted by @VaheAntonyan in https://github.com/date-fns/date-fns/issues/2910#issuecomment-1009355817_

[2022-10-16 14:15] danieldiekmeier commented on #3208
I personally think the large increase in bundle size is a problem and the changes should be rolled back. I don't think the additional compatibility for a browser that is no longer maintained/supported is worth this steep increase in bundle size:

<img width="1086" alt="image" src="https://user-images.githubusercontent.com/2098462/196040354-1dc889dc-989b-4667-903c-8c5da587d8ee.png">

Link: https://

[2022-10-16 19:49] Neocor89 commented on #3203
Hello I also get error RangeError: Invalid time value using format with new Date

[code]

[2022-10-17 11:52] JoelMacKenzie opened #3234 "Problem in format documentation"
There is an issue with the [format documentation](https://date-fns.org/v2.26.0/docs/format)

  ### The problem with format documentation

Missing exception: ERROR RangeError: Invalid time value

  ### Suggested edits

List the exception and explain the reasons why it would occur.  I'm using the format function with a valued Date object with the format "yyyy/MM/dd".  I'm getting the error: "ERROR R

[2022-10-17 12:52] jnadroj commented on #3203
the query you get back from router is all a string for that reason when you pass it to format it gives you an error, the first parameter of the fformat function has to be of type Date.

[2022-10-19 07:31] nzdjb commented on #3204
Hi @revertiz,

I've created a PR fixing this. Can you please check the values in the snapshot to ensure it is correct? I don't speak Lithuanian myself.

#3235

[2022-10-20 03:20] Pirastrino opened #3238 "intlFormatDistance should use 'cail' as rounding method for seconds"
**intlFormatDistance** use default rounding methods in diffs - 'trunc'. For unit > second 'trunc' is correct. However, for seconds it should use 'ceil' because 'trunc' evaluates to 0 and -0 causing 2s of 'now'. I can open a PR with fix if you agree.

**With 'trunc':**
`Math.ceil(1.123)` -> `1` -> `in 1 second`
`Math.ceil(0.123)` -> `0` -> `now`
`Math.ceil(-0.123)` -> `-0` -> `now`
`Math.ceil(-1.12

[2022-10-20 05:08] Pirastrino commented on #3238
or just use setMilliseconds and strip milliseconds from both dates and there will be no `-0` 🤔

[2022-10-20 08:16] melohagan commented on #2591
Would love to see this as well!

At the moment I'm just using a preset dictionary of strings:
https://stackoverflow.com/questions/2388115/get-locale-short-date-format-using-javascript

[2022-10-21 07:08] VolodymyrChykharivskyi commented on #1857
I got this error with `formatRelative` method from `date-fns`
Fix: added into formatRelativeLocale `tomorrow` option

[2022-10-21 07:56] udaysankar143 commented on #3203
same problem

[2022-10-21 11:14] #3203 closed

[2022-10-21 14:38] bbolek opened #3239 "Problem in minutesToHours documentation"
There is an issue with the [minutesToHours documentation](https://date-fns.org/v2.29.3/docs/minutesToHours)

  ### The problem with minutesToHours documentation

In examples it says 140 in comment, but 120 is written in example.

  ### Suggested edits

Comment can be fixed to 120

[2022-10-23 19:12] pascalporedda opened #3242 "Unexpected results with roundToNearstMinutes"
Hey guys,

thanks for this great library, I have been using it for quite a while. Now I have discovered a bug with the roundToNearestMinutes function.

I wrote some unit test cases that should explain the bug quite clearly, one might use to verify it is working as expected:

[code]

Edit: I'm using v2.29.3

[2022-10-23 22:04] christineurban commented on #2133
Is there a way to force `format` to use UTC? I can't seem to find anything in the docs. If not, is there a workaround to avoid the day potentially being off-by-one? I'm resorting to using `myUtcDate.toISOString().slice(0, 10);` instead of `format(myUtcDate, "yyyy-MM-dd")` which feels hacky but it works.

[2022-10-24 09:15] simoneb commented on #1412
I'm looking into this issue because I may be having a similar problem, but I'm not sure what you're asking exactly @kopax , maybe you could clarify your example.

You say you provide as input `var d = new Date('2019-09-09T05:00:00Z');` and you expect the result to be `2019-09-09T05:00:00Z`. But the result is exactly the same as the input string (or you can achieve it by calling `toISOString()` on

[2022-10-24 13:35] Charliecheung2 opened #3248 "Parse function error: The format string mustn't contain `yyyy` and `ww` at the same time"
### What to expect?
parse can use format string like "yyyy-ww"
### What happened?
Throw an error "The format string mustn't contain `yyyy` and `ww` at the same time"
### code
[code]
format function uses "yyyy-ww" for format string but they seemed abled to contain at the same time, but when it comes to parse, I got the error above. I read the code and the weekparcer is incompatible with lower case

[2022-10-24 13:47] Hypenate opened #3249 "Problem in formatISODuration documentation"
There is an issue with the [formatISODuration documentation](https://date-fns.org/v2.29.3/docs/formatISODuration)

  ### The problem with formatISODuration documentation
The URL to digi.com is invalid

  ### Suggested edits
Maybe point to https://en.wikipedia.org/wiki/ISO_8601 ?

[2022-10-24 13:51] fturmel commented on #3248
You need to set the `useAdditionalWeekYearTokens` option to unlock `YY` and `YYYY` usage, per the error message and docs.

https://date-fns.org/docs/parse
https://github.com/date-fns/date-fns/blob/main/docs/unicodeTokens.md

[code]

[2022-10-24 14:49] #3248 closed

[2022-10-24 16:42] maarteNNNN commented on #1566
@fturmel I've spotted the same problem today.

[code]

[2022-10-24 17:00] maarteNNNN commented on #1566
@fturmel It would be nice to have a parameter that looks for the first Monday instead. E.g. this month 3 October is the first week rather than the second.

[2022-10-24 17:55] fturmel commented on #1566
@maarteNNNN Feel free to open a new issue or PR for this suggestion if you feel strongly about it and have a solid use case. It would imply that some dates would be part of week 0, so a little strange.

In the meantime, here's one possible way to achieve this (caveat: not thoroughly tested, but I think the logic is sound)

[code]

[2022-10-24 17:56] RommelTJ commented on #3233
@VaheAntonyan I submitted a PR with a fix: https://github.com/date-fns/date-fns/pull/3251

[2022-10-25 03:48] kashifshamaz21 commented on #3208
A discussion for this size bump was started [here](https://github.com/date-fns/date-fns/discussions/3191), but I think we can use this to continue the conversation.

One way this could be handled is by having two different distribution outputs - one which doesn't have IE-11 compat support (same as previous v2.29.2) and another which has IE-11 support.
The consumers of date-fns who need to support

[2022-10-25 06:25] wojtekmaj commented on #3208
Given that IE11 is essentially dead, with Microsoft itself not supporting it anymore, I don't think any effort towards improving IE11 compatibility is worth it.

Those who desperately want increased legacy browser compatibility shall be reminded that nothing's stopping them from parsing the packages they use with Babel vis babel-loader or whatever other tool they're using. Not only this does not b

[2022-10-25 10:41] inthegarage commented on #2082
Any news on this issue?

[2022-10-25 12:25] hiepmarin opened #3252 "Problem in startOfWeek documentation"
There is an issue with the [startOfWeek documentation](https://date-fns.org/v2.29.3/docs/startOfWeek)

  ### The problem with startOfWeek documentation

 In examples, the given date has month is "September" but in function I see "8"

  ### Suggested edits

[2022-10-25 16:22] alexandresaura commented on #3226
I can do this

[2022-10-27 09:57] tur-nr commented on #2642
Not sure if we are trying to achieve the same thing but for me I had a date string without the timezone information. Every time I tried to parse it as a date it would give me a date in the machines local timezone. I just forced the zone of the string using `zonedTimeToUtc` from `date-fns-tz`.

[code]

If this is not what you were trying to achieve, I'm gonna leave this here for myself to learn how

[2022-10-27 10:25] Nantawat-Poothong opened #3256 "Unable to parse date with locale `zh-CN` when value is any date in October"
Parse function returns invalid date instead of Date Object if I use Parse function to parse date string in zh-CN locale. The other locales work fine.

We found that the Parse function has problem only if the input is any date in October.

Demo: https://codesandbox.io/s/date-fns-zhcn-locale-ynon8v

[2022-10-27 13:57] fturmel commented on #3256
There are a number of parser issues in `zh-CN` according to https://github.com/date-fns/date-fns/blob/main/src/locale/zh-CN/snapshot.md (search for `Invalid Date`).

If anyone that speaks the language wants to improve the locale parsing, the regex are in the `match/index.ts` file. For this specific issue with the `MMM` token, look at line 43 and 57.

https://github.com/date-fns/date-fns/blob/fadbd

[2022-10-27 14:01] fturmel commented on #3252
The Date constructor takes a monthIndex, so `8` for September is correct.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/Date

<img width="418" alt="Screenshot 2022-10-27 at 10 01 16 AM" src="https://user-images.githubusercontent.com/4009209/198306029-35d6b558-db05-4a4b-9270-e627e17dc1b4.png">

[2022-10-27 14:01] #3252 closed

[2022-10-27 14:08] fturmel commented on #3249
Agreed, I would deeplink to the durations section specifically: https://en.wikipedia.org/wiki/ISO_8601#Durations

The old link can still be found on the internet archive, but doesn't cover anything that's not already on the wikipedia page.

https://web.archive.org/web/20220324005637/https://www.digi.com/resources/documentation/digidocs/90001437-13/reference/r_iso_8601_duration_format.htm

<img wid

[2022-10-27 14:21] fturmel commented on #3242
#3132 will fix this issue, but still waiting for a maintainer to comment

[2022-10-27 14:44] fturmel commented on #3234
It's not missing, but there is a mismatch between the docs description of the error and the actual error message:

https://github.com/date-fns/date-fns/blob/fadbd4eb7920bf932c25f734f3949027b2fe4887/src/format/index.ts#L305

https://github.com/date-fns/date-fns/blob/fadbd4eb7920bf932c25f734f3949027b2fe4887/src/format/index.ts#L365-L367

And I agree that it's strangely worded, but based on #987 it s

[2022-10-27 15:12] fturmel commented on #3220
Dutch `nl` and Dutch (Belgium) `nl-BE` have been available in `date-fns` for a very long time.

[2022-10-27 15:12] #3220 closed

[2022-10-27 17:41] fturmel commented on #3238
Isn't that why we want to use `trunc` in this scenario? Any distance of less than one second should resolve to `now`, whether it's negative or positive. The `ceil` behavior you describe is very undesirable imo.

If I'm misunderstanding, could you clarify with an example using `intlFormatDistance`?

[2022-10-28 06:24] Nantawat-Poothong commented on #3256
Are there any plans to solve these issues?

[2022-10-28 07:38] Nantawat-Poothong commented on #3256
I found the regex in file `match/index.ts` on line 29 is not right.
https://github.com/date-fns/date-fns/blob/fadbd4eb7920bf932c25f734f3949027b2fe4887/src/locale/zh-CN/_lib/match/index.ts#L29
Could you use `1[0-2]` instead of `1[12]` for range 10-12 ?

[2022-10-30 13:34] Pirastrino commented on #3238
Well it depends on the use case. I was trying to make a dynamic counter with an update period of 1 second which lead to the issue described above ("With 'ceil').

In the end I solved the issue by simply stripping milliseconds but maybe rounding method can be implemented as in some other apis?

[2022-10-30 16:57] fturmel commented on #3230
`en-US` is the only hard-coded locale in the library itself, so it's always going to be included by default. It shouldn't matter much for most people since it's only about 5.5 Kb gzipped.

https://github.com/date-fns/date-fns/blob/fadbd4eb7920bf932c25f734f3949027b2fe4887/src/_lib/defaultLocale/index.ts#L1

There is official [documentation](https://date-fns.org/docs/webpack) to exclude locales with

[2022-10-31 09:36] ryancrunchi opened #3263 "intervalToDuration seconds and minutes above 59"
Version 2.29.3

https://codesandbox.io/s/date-fns-forked-2hwicl?file=/src/index.js

Expected result:
minutes and seconds are not above 59

Current result:
minutes = 1200
seconds = 144000

[2022-10-31 12:50] fturmel commented on #3263
Interesting edge case, thanks for reporting! PR incoming.

On the main branch we actually get `{months:1, hours:-10}` which makes more logical sense. The hotfix #3153 in v2 is breaking this issue even more because of `Math.abs()`.

[2022-10-31 13:19] dobrinov opened #3265 "startOfDay and startOfWeek return different time zones"
[code]

[2022-10-31 13:26] dobrinov commented on #3265
Actually this is the correct behavior. I missed `{weekStartsOn: 1}` in the example above.

[2022-10-31 13:26] #3265 closed

[2022-11-02 01:22] Mng12345 opened #3266 "why function `parse` need a reference date?"
This api is too confused for the argument `referenceDate`. After reading the source code of `parse/index.ts`, i found it just be used for constructing a Date instance if the `dateString` or `formatString` are not correct, so why not just construct it in the `parse` function internally?

[2022-11-02 13:26] MelvinVermeer commented on #3195
I have encountered issues with the rounding method as well. I think the rounding method tries to do too many things. And I think the default rounding of 'trunc' is a bit odd.

In this #3267 if have suggested my fix, without changing the default rounding method.

[2022-11-02 13:36] byelik commented on #3195
k, so what do you suggest? close this issue with the link to your comment.

[2022-11-02 13:55] MelvinVermeer commented on #3195
I'd suggest that the package maintainer will have a look at this issue , described in the pull request. And considers merging either now or in a next major update. Since the change is breaking

[2022-11-02 13:57] byelik commented on #3195
k, thanks for your time

[2022-11-02 13:57] #3195 closed

[2022-11-02 14:08] MelvinVermeer opened #3268 "incorrect roundToNearestMinutes"
The issue that I was facing was that when rewrote this test:

[code]

to this

[code]

My expectation was that `12:19:30:500` would be rounded down (floor) to the nearest interval on 10 minutes, i.e. `12:10:00:000`

This updated test failed.

I have updated the tests and implementation accordingly.

[2022-11-03 07:19] logany-hi commented on #1908
As this issue is still open, I'll chime in saying I have the same problem only the CDN isn't an option because firewall/antivirus blocks the js file when I try to use it.

Added the package via npm per https://date-fns.org/v2.29.3/docs/Getting-Started

[code]

Here's my implementation:

[code]

Please advise.

[2022-11-06 23:19] hanzlahabib commented on #326
@ealanisg  Thanks for sharing, it was helpful for me, I wanted to validate if its matched given format, because
`format` method from date-fns breaks if current date format and expected date formats are same. or it could be this 1 particular situation.

`start_date: isMatch(startDate, "yyyy-MM-dd'T'HH:mm:ss'Z'") ? startDate : format(startDate, "yyyy-MM-dd'T'HH:mm:ss'Z'"),`

earlier directly using f

[2022-11-07 06:55] TuuZzee commented on #1857
I am also facing this issue, using `"date-fns": "^2.29.3",`.

This happens when I set a different language in my web browser settings (Preferred languages). This occurs in both Chrome and Firefox.

[2022-11-07 14:26] AndreUskovMar opened #3271 "Spelling mistake"
In the file by path

`date-fns/locale/de/_lib/formatDistance/index.js`

need to fix of spelling mistake. Instead '{{count}} Tage' should be '{{count}} Tagen'

<img width="544" alt="mistake" src="https://user-images.githubusercontent.com/97945794/200334187-c02d4f5a-56a6-4e1d-aca9-6850284e0a63.png">

[2022-11-09 04:48] adidahiya commented on #3208
I think #3167 should be reverted and date-fns' browser support "guarantees" should be adjusted to reflect the reality that IE11 is not a priority. I agree with @wojtekmaj that IE11 is not worth supporting for a library like date-fns. It's clear from https://github.com/date-fns/date-fns/issues/3155#issuecomment-1245366822 that date-fns is not getting tested in IE11 anyway.

date-fns' supported brow

[2022-11-09 14:46] marcreichel commented on #3271
@AndreUskovMar Are you sure? In the standalone version it seems fine to be just "2 Tage", "3 Tage" etc.

When you have prepositions (see line 79) it makes sense to be "vor 2 Tagen", "in 2 Tagen", "vor 3 Tagen", etc. though. But that's already the case.

[2022-11-09 15:04] roviralinxea opened #3273 "Web Documentation not reachable due to backend error"
Hi,
Trying to reach https://date-fns.org/docs/Getting-Started

Please check this backend issue :
![image](https://user-images.githubusercontent.com/88481764/200865349-1cfe5fa2-a2c0-4610-90f8-c152feb28496.png)

[2022-11-09 15:12] AndreUskovMar commented on #3271
@marcreichel you are right. With `addSuffix` property I get desired result. The task can be closed

[2022-11-09 15:58] #3273 closed

[2022-11-10 07:31] chrisidakwo commented on #1024
`a..aaa` definitely confused me. I had to do some googling before landing here.

@dkozickis  👍🏾 for the reference!

[2022-11-10 07:35] chrisidakwo commented on #1024
Lol, I see a link to the reference page at the top of the doc.

[2022-11-11 11:50] kossnocorp commented on #3208
Let's drop IE 🫠

[2022-11-11 16:58] cesarriva opened #3275 "Formate for German locale is not correct"
The current long format for the de locale is "dd.mm.y"

I believe it should be **dd.mm.yyyy**

The current wrong format can be found in this file:
<img width="703" alt="Screenshot 2022-11-11 at 17 53 56" src="https://user-images.githubusercontent.com/17915199/201390768-56fa245a-8c89-476b-96ff-d9ecea6ee7d7.png">

When using date-fns with another third party library as MUI, this cause the placeholde

[2022-11-14 10:01] prabhum1 opened #3276 "Problem in formatISO documentation"
There is an issue with the [formatISO documentation](https://date-fns.org/v2.29.3/docs/formatISO)

  ### The problem with formatISO documentation
formatISO(new Date(2019, 8, 18, 19, 40, 52)) return wrong format like '2019-09-18T19:40:52+05:30'

  ### Suggested edits

[2022-11-15 14:20] djdmbrwsk opened #3277 "eachDayOfInterval and UTC times"
I found this issue in `eachDayOfInterval()`, but I'm sure it exists in the other "each" functions too. When my code runs on a machine that's not in UTC time the returned dates have the machine's offset 😢

[code]

If you dig into `eachDayOfInterval()` you quickly find the usage of `setHours(0, 0, 0, 0)`. While I could see this being useful for browser usage, it's pretty painful for predictable serv

[2022-11-16 02:49] djdmbrwsk commented on #3277
For anyone landing here with the same issue - I tried out Luxon and used the `interval.splitBy({ days: 1 })` and it worked great.

[2022-11-16 12:30] schorfES commented on #3275
I am facing the same issue.

MUI and MUI's AdapterDateFns, (`date-io/date-fns` under the hood) are using [`formatLong.dateFormats.short`](https://github.com/date-fns/date-fns/blob/main/src/locale/de/_lib/formatLong/index.ts#L9) to create the placeholder text that you can see in @cesarriva's description. (note that the adapter is using `.toLocaleLowerCase()` [at some point](https://github.com/dmtrK

[2022-11-16 21:03] JeanMarc-R opened #3279 "Problem with Interval function"
There is an issue with the [Interval function](https://date-fns.org/v2.29.3/docs/Interval)

  ## The problem
The exception is not raised ?

  ### 💻 Code demonstrating the problem

[code]

  ### 🙁 Actual behavior

It displays a positive number 9 hours intead of raising the exception "The start of an interval cannot be after its end"

  ### 🙂 Expected behavior

Should get the exception "The start of

[2022-11-16 23:22] fturmel commented on #3279
This was fixed by #2616, but later reverted and considered a breaking change for v2. I expect that it will make its way to v3 as it's still in the `main` branch:

https://github.com/date-fns/date-fns/blob/fadbd4eb7920bf932c25f734f3949027b2fe4887/src/intervalToDuration/index.ts#L42-L44

[2022-11-18 09:17] Lilja commented on #3188
I had a look at this with some colleagues to try to find out what the issue could be. It seems like the swedish and nynorsk locale accepts a `onlyNumeric` prop for their `formatDistance` method. According to typescript, `FormatDistanceFn` accepts `options`, which type is `FormatDistanceFnOptions`. It accepts two properties, `addSuffix` and `comparision`.

You can't simple send `onlyNumeric` as a p

[2022-11-18 14:29] fturmel commented on #3188
FWIW, I did bring that fix in #2898, but it got undone by a maintainer in #2912

[2022-11-21 17:45] mnigh opened #3281 "fr_CA abbreviated month incorrect for July"
Should be **juill.** instead of **juil.**
https://github.com/date-fns/date-fns/blob/fadbd4eb7920bf932c25f734f3949027b2fe4887/src/locale/fr/_lib/localize/index.ts#L31

References:
- https://www.noslangues-ourlanguages.gc.ca/fr/cles-de-la-redaction/mois.html
- https://st.unicode.org/cldr-apps/v#/fr_CA/Gregorian/62c3099362a1abe7

[2022-11-23 15:14] McMalloc opened #3283 "parse function ignores time component of reference Date"
There is an issue with the [parse function](https://date-fns.org/v2.29.3/docs/parse)

  ## The problem
The `parse`-function ignores the time component of a passed reference Date.

  ### 💻 Code demonstrating the problem

[code]
[Stackblitz](https://stackblitz.com/edit/date-fns-playground-c3mnnb?file=index.ts)

  ### 🙁 Actual behavior

Time component is set to default, 00:00 (22:00 in my timezone).

[2022-11-26 19:39] meired commented on #1945
@Beigelman Any update on this?

[2022-11-28 19:54] jal648 commented on #2130
Found a different case that might help others: mobile  Safari doesn't handle the ISO format with a space, only the 'T' character.  https://github.com/mdn/browser-compat-data/issues/15401.    Adding the 'T' fixed the issue for me. (eg. `2020-01-01T11:22:33` worked whereas `2022-01-01 11:22:33` was failing)

[2022-11-29 09:55] twoez opened #3286 "Dutch abbreviated monthvalues contain dot"
## Problem
Why do abbreviated monthvalues contain a dot at the end? When using a format like `d MMM, yyyy` this adds a unwanted dot and I would have to write code to remove the dot.

## :computer: Code demonstrating the problem
[code]
https://github.com/date-fns/date-fns/blob/main/src/locale/nl/_lib/localize/index.ts

## :slightly_frowning_face:  Actual behavior
Format `d MMM, yyyy` now outputs `2

[2022-11-29 13:40] shreyash0011 opened #3287 "Module not found ./node_modules/date-fns/yearsToQuarters/index.js Can't resolve '../constants/index.js' in '/-xyz-path-/node_modules/date-fns/yearsToQuarters'"
I try every method still not figure it out how to fix this problem help please..
I have already installed in dependencies
@date-io/date-fns@1.x
date-fns

Compiled with problems:X

[code]

[2022-11-30 07:05] Monehin commented on #1218
This is still needed, and I will also be happy to contribute.

[2022-11-30 12:24] shreyash0011 commented on #3287
Sorry I had two folder parent and child,. in a child folder it wasn't installed properly...
so I removed old one and did fresh installation with

@date-io/date-fns
date-fns
this should be mandatory installed.
later. I delete node_module, package.json.lock and yarn.lock files from both folders and then did yarn for both folders then it got fixed..
thank you for no reply.. :p

[2022-11-30 12:24] #3287 closed

[2022-11-30 18:21] grantralls commented on #2888
I ran into this same issue with the docs, I'm opening a PR right now that adds a bit more clarification.

[2022-11-30 18:57] pip8786 commented on #2179
I was coming here to make the same issue. In my opinion the parameters should be named `laterDate` and `earlierDate` as shown in the description here: https://date-fns.org/v2.29.3/docs/differenceInDays. When I command click to see the typings, all I see is:
[code]
which is not super helpful. If the typings file had the same documentation as the file itself:
[code]
then at least you wouldn't have t

[2022-11-30 18:59] pip8786 commented on #2888
Somewhat related to #2179 and it's associated PR (which I don't think solves the issue. I don't think you can have a PR that only does it for one of those functions as I'm sure they all work the same way.